<div>
  <h2><span>facility </span> {{vm.facility.id}}</h2>
  <hr>
  <jhi-alert-error></jhi-alert-error>
  <dl class="dl-horizontal jh-entity-details">
    <dt><span>Name</span></dt>
    <dd>
      <span>{{vm.facility.name}}</span>
    </dd>
    <dt><span>Status</span></dt>
    <dd>
      <span>{{vm.facility.contentStatus}}</span>      
    </dd>
    <dt><span>Status Reason</span></dt>
    <dd>
      <span>{{vm.facility.statusReason}}</span>
    </dd>
    <dt>
      <span>Brief</span></dt>
    <dd>
      <span>{{vm.facility.brief}}</span>
    </dd>
    <dt>
      <span>Description</span></dt>
    <dd>
      <span>{{vm.facility.description}}</span>
    </dd>
    <dt>
      <span>Location</span></dt>
    <dd>
      <span>{{vm.facility.description}}</span>
    </dd>
    <dt>
      <span>General Facility Name</span></dt>
    <dd>
      <span>{{vm.facility.generalFacilityName}}</span>
    </dd>
  </dl>

  <button type="submit" ui-sref="{{ vm.previousState }}" class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
        </button>
  <button type="button" ui-sref="facilities.edit({id:vm.facility.id})" class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="hidden-sm-down"> Edit</span>
        </button>
</div>
