<div>
  <h2>Facilities</h2>
  <jhi-alert></jhi-alert>
  <div class="container-fluid">
      <div class="row">
          <div class="col-xs-4 no-padding-left">
              <button class="btn btn-primary" ui-sref="facilities.new" >
                  <span class="glyphicon glyphicon-plus"></span>
                  <span class="hidden-xs-down" >
                      Create a facility
                  </span>
              </button>
          </div>
          <div class="col-xs-8 no-padding-right">
              <form name="searchForm" class="form-inline">
                  <div class="input-group pull-right" >
                      <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                      <span  class="input-group-btn width-min" >
                          <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                              <span class="glyphicon glyphicon-search"></span>
                          </button>
                      </span>
                      <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                          <button class="btn btn-info" ng-click="vm.clear()">
                              <span class="glyphicon glyphicon-trash"></span>
                          </button>
                      </span>
                  </div>
              </form>
          </div>
      </div>
  </div>
  <br/>
  <div class="table-responsive">
      <table class="jh-table table table-striped">
          <thead>
              <tr>
                  <th><span>ID</span></th>
                  <th><span>Name</span></th>
                  <th><span>Type</span></th>
                  <th><span>Brief</span></th>
                  <th><span>Status</span></th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="facility in vm.facilities track by facility.id">
                  <td><a ui-sref="facility-detail({id:facility.id})">{{facility.id}}</a></td>
                  <td><a ui-sref="facility-detail({id:facility.id})">{{facility.name}}</a></td>
                  <td>{{facility.generalFacilityName}}</td>
                  <td>{{facility.brief}}</td>
                  <td>{{facility.contentStatus}}</td>
                  <td class="text-right">
                      <div class="btn-group flex-btn-group-container">
                          <button type="submit"
                                  ui-sref="facility-detail({id:facility.id})"
                                  class="btn btn-info btn-sm">
                              <span class="glyphicon glyphicon-eye-open"></span>
                              <span class="hidden-sm-down"></span>
                          </button>
                          <button type="submit"
                                  ui-sref="facilities.edit({id:facility.id})"
                                  class="btn btn-primary btn-sm">
                              <span class="glyphicon glyphicon-pencil"></span>
                              <span class="hidden-sm-down"></span>
                          </button>
                          <button type="submit"
                                  ui-sref="facilities.delete({id:facility.id})"
                                  class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-remove-circle"></span>
                              <span class="hidden-sm-down"></span>
                          </button>
                      </div>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>