<form name="editForm" role="form" novalidate ng-submit="vm.save()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myRoomCategoryLabel">Set Contract Parameter </h4>
  </div>
  <div class="modal-body">

    <jhi-alert-error></jhi-alert-error>

    <!-- form for basic parameters -->
    <div ng-show="vm.entity.type == 'BASIC'" class="form-group" ng-class="{ 'has-error' : editForm.name.$invalid && !editForm.name.$pristine }">
      <label class="control-label" for="field_name">Parameters: </label>
      <select ng-change="vm.updateDimensionExistencesByType(vm.entity.parameter)" class="form-control" id="field_roomOccupancies"
        name="unit" ng-model="vm.entity.parameter" ng-options="object.type as object.name for object in vm.basicDimensions">
      </select>
      <!-- <input type="text" class="form-control" name="parameter" id="field_name" ng-model="vm.entity.parameter" required/> -->
    </div>

    <div ng-show="vm.entity.type == 'BASIC'" class="form-group" ng-class="{ 'has-error' : editForm.name.$invalid && !editForm.name.$pristine }">
      <label class="control-label" for="field_name">Value: </label>
      <select class="form-control" id="field_roomOccupancies" name="unit" ng-model="vm.entity.value">
          <option ng-repeat="object in vm.existencies " value="{{object.id}}" ng-selected="object.id == parameter.value"> {{object.name}} </option>
      </select>
      <!-- <input type="text" class="form-control" name="parameter" id="field_name" ng-model="vm.entity.value" required/> -->
    </div>

    <div ng-show="vm.entity.type == 'BASIC'" class="form-group" ng-class="{ 'has-error' : editForm.brief.$viewValue.length == 2000}">
      <label class="control-label" for="field_description">Notes</label>
      <textarea class="form-control" name="description" id="field_description" ng-model="vm.entity.notes" maxlength="2000" ng-maxlength="2000"></textarea>
      <div class="help-block" ng-show="editForm.description.$viewValue.length == 2000">Maximum length reached</div>
    </div>

    <!-- form for dimension parameters basicDimensions -->
    <div ng-show="vm.entity.type == 'DIMENSION'" class="form-group">
      <label for="field_roomOccupancies">Parameter: </label>
      <select ng-change="vm.updateDimensionExistencesByType(vm.entity.parameter)" class="form-control" id="field_roomOccupancies"
        name="unit" ng-model="vm.entity.parameter" ng-options="object.type as object.name for object in vm.dimensions">
      </select>
    </div>

    <div ng-show="vm.entity.type == 'DIMENSION'" class="form-group">
      <label for="field_roomOccupancies">Value: </label>
      <select class="form-control" id="field_roomOccupancies" name="unit" ng-model="vm.entity.value">
        <option ng-repeat="object in vm.existencies " value="{{object.id}}" ng-selected="object.id == parameter.value"> {{object.name}} </option>
      </select>

    </div>


    <!-- form for basic parameters -->
    <div>
    <label class="control-label" for="field_name">Category: </label>
    <select class="form-control" id="field_roomOccupancies"
      name="unit" ng-model="vm.entity.type" ng-options="object as object for object in vm.noteCategory">
    </select>
  </div>
    <div ng-show="vm.entity.type == 'NOTE' || 'CANCELLATION' || 'DISCOUNT' ||'ARRIVAL_AND_CHECKOUT' " class="form-group" ng-class="{ 'has-error' : editForm.name.$invalid && !editForm.name.$pristine }">
      <label class="control-label" for="field_name">Note Title: </label>
      <input type="text" class="form-control" name="parameter" id="field_name" ng-model="vm.entity.parameter" required/>
    </div>
    <div ng-show="vm.entity.type == 'NOTE' || 'CANCELLATION' || 'DISCOUNT'||'ARRIVAL_AND_CHECKOUT'" class="form-group" ng-class="{ 'has-error' : editForm.brief.$viewValue.length == 2000}">
      <label class="control-label" for="field_description">Note: </label>
      <textarea class="form-control" name="description" id="field_description" ng-model="vm.entity.value" maxlength="2000" rows="10" ng-maxlength="2000" wrap="hard" cols="20"></textarea>
      <div class="help-block" ng-show="editForm.description.$viewValue.length == 2000">Maximum length reached</div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
      <span data-translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;
      <span data-translate="entity.action.save">Save</span>
    </button>
  </div>
</form>
