<div class="container">
    <div class="row">
        <ul class="breadcrumb">
            <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
            <li ui-sref-active="active"><a ui-sref="menus">Menus</a></li>
            <li ui-sref-active="active" class="active">{{vm.menu.name}}</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <img src="images/image-placeholder.svg" alt="">
                <div class="panel-body">
                    <h4>{{vm.menu.name}}</h4>
                </div>
                <ul class="nav nav-pills nav-stacked">
                    <li ui-sref-active="active" role="presentation"><a ui-sref="menu-detail({id: vm.menu.id})">Overview</a></li>
                    <li ui-sref-active="active" role="presentation"><a ui-sref="menu-detail.submenus({id: vm.menu.id})">Sub menus</a></li>
                    <li ui-sref-active="active" role="presentation">
                      <a ui-sref="menu-galleries({id: vm.menu.id})">Gallery</a>
                    </li>
                  </ul>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="pull-right">
                            <a  ui-sref="menu-detail.edit({id:vm.menu.id})">
                                <h3><span class="glyphicon glyphicon-pencil"></span></h3>
                            </a>
                            </div>
                            <h2>{{vm.menu.name}}</h2>
                            {{vm.menu.description}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button class="btn btn-primary" ui-sref="menu-detail-new-menu" >
                                    <span class="glyphicon glyphicon-plus"></span>
                                    <span class="hidden-xs-down" >
                                        Add Menu
                                    </span>
                                </button>
                            </div>
                            <h3>Sub Menus</h3>
                        </div>
                    </div>

                    <div class="panel panel-default" ng-show="vm.menusNotFound">
                        <div class="panel-body">
                            No data found.
                        </div>
                    </div>

                    <div class="row" ng-hide="vm.menusNotFound">
                        <div class="col-md-6"  ng-repeat="menu in vm.menus track by menu.id">
                            <div class="thumbnail">
                                <img src="images/image-placeholder.svg" alt="">
                                <div class="caption">
                                    <h5>{{menu.name}}</h5>
                                    <p>{{menu.brief}}</p>
                                    <p><a class="btn btn-primary" role="button" ui-sref="menu-detail({id: menu.id})">View</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- menus for menu items -->
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <table class="table">
                            <tr>
                                <td>
                                    <strong>Abbreviation</strong>
                                </td>
                                <td>
                                    {{vm.menu.abbreviation}}
                                </td>
                                </tr>
                            <tr>
                                <td>
                                    <strong>Type</strong>
                                </td>
                                <td>
                                    {{vm.menu.generalMenuTypeName}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Status</strong>
                                </td>
                                <td>
                                    {{vm.menu.contentStatus}}
                                </td>
                            </tr>
                            <tr ng-show="vm.menu.parentId !== null">
                                <td>
                                    <strong>Parent</strong>
                                </td>
                                <td>
                                    <a ui-sref="menu-detail({id: vm.menu.parentId})">{{vm.menu.parentName}}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Organisation</strong>
                                </td>
                                <td>
                                    <a ui-sref="organization-detail({id: vm.menu.organisationId})">{{vm.menu.organisationName}}</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel panel-default">
                        <table class="table">
                            <tr>
                                <td>
                                    <strong><span class="glyphicon glyphicon-asterisk"></span> Special Notes</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{vm.menu.notes}}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel panel-default">
                        <table class="table">
                            <tr>
                                <td>
                                    <strong>Sub Menus</strong>
                                </td>
                            </tr>
                        </table>
                        <ul class="nav nav-pills nav-stacked">
                            <li  ng-repeat="menu in vm.menus track by menu.id" role="presentation"><a ui-sref="menu-detail({id: menu.id})">{{menu.name}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
