<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="col-md-8">
        <ul class="breadcrumb">
          <li ui-sref-active="active">
            <a ui-sref="home">Home</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="menus">Menus</a>
          </li>
          <li ui-sref-active="active" class="active">{{vm.menu.name}}</li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="breadcrumb-btns">
          <ul class="nav nav-pills pull-right">
            <li ui-sref-active="active">
              <button ui-sref="menu-detail.addLabels({uuid: vm.menu.uuid, objectType : 'MENU'})" class="btn btn-sm btn-primary" style="margin-right: 10px; float:right;">
                <span class="glyphicon glyphicon-plus-sign"></span> <span>Add labels</span>
              </button>
            </li>
            <li>
              <button ng-hide="vm.menu.contentStatus === 'DELETED'" class="btn-sm btn-danger" ui-sref="menu-detail.delete({id: vm.menu.id})">
                <span class=" glyphicon glyphicon-trash"></span><span class=""></span>
              </button>
            </li>
            <li>
              <button type="button" class="btn btn-default btn-sm more" data-toggle="dropdown">... </button>
              <ul class="dropdown-menu pull-right" role="menu">
                <li>
                  <a ui-sref="settings">More actions</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="image-container">
        <!-- <img class="img-responsive" ng-hide="" ng-src="images/image-placeholder.svg" alt="{{ vm.account.name }}"> -->
        <img class="img-responsive" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{vm.menu.uuid}}" alt="{{ vm.menu.name }}">
        <a ui-sref="menu-detail.image" class="icon-choose-image">
          <img src="images/camera.png">
        </a>
      </div>
      <div class="panel-body">
        <h4>{{vm.menu.name}}</h4>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="menu-detail({id: vm.menu.id})">Overview</a>
        </li>
        <!-- <li ui-sref-active="active" role="presentation">
          <a ui-sref="menu-detail.submenus({id: vm.menu.id})">Sub menus</a>
        </li> -->
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="menu-galleries({id: vm.menu.id})">Gallery</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row panel panel-default">
      <div class="col-md-8">
        <div class="">
          <div class="panel-body">
            <div class="pull-right">
              <a ui-sref="menu-detail.edit({id:vm.menu.id})">
                <h3>
                  <span class="glyphicon glyphicon-pencil"></span>
                </h3>
              </a>
            </div>
            <h2>{{vm.menu.name}}</h2>
            {{vm.menu.description}}

            <div >
              <strong><span class="glyphicon glyphicon-asterisk"></span> Special Notes</strong>
              <br><br><br>


              <ul ng-repeat="menuNote in vm.menuNotes">
                <li> {{menuNote}}
                </li>
              </ul>
            </div>



            <p class="p-padding pull-right">
              <span ng-repeat="objectLabel in vm.objectLabels">
                <span class="label label-default" style="margin-left: 4px">
                  {{objectLabel.labelName}}
                  <a ui-sref="menu-detail.deleteLabel({ itemToDelete: objectLabel.id})">
                    <strong class="label label-danger">X</strong>
                  </a>
                </span>
              </span>
            </p>
          </div>
        </div>




        <!-- menus for menu items -->
      </div>
      <div class="col-md-4">
        <div class="">
          <table class="table">
            <tr>
              <td>
                <strong>Abbreviation</strong>
              </td>
              <td>
                {{vm.menu.abbreviation}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Type</strong>
              </td>
              <td>
                {{vm.menu.generalMenuTypeName}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Status</strong>
              </td>
              <td>
                {{vm.menu.contentStatus}}
              </td>
            </tr>
            <tr ng-show="vm.menu.parentId !== null">
              <td>
                <strong>Parent</strong>
              </td>
              <td>
                <a ui-sref="menu-detail({id: vm.menu.parentId})">{{vm.menu.parentName}}</a>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Organisation</strong>
              </td>
              <td>
                <a ui-sref="organization-detail({id: vm.menu.organisationId})">{{vm.menu.organisationName}}</a>
              </td>
            </tr>
          </table>
        </div>
        <!-- <div class="">
          <table class="table">
            <tr>
              <td>

              </td>
            </tr>
            <tr>
              <td>

              </td>
            </tr>
          </table>
        </div> -->
        <div class="">
          <table class="table">
            <tr>
              <td>
                <strong>Sub Menus</strong>
              </td>
            </tr>
          </table>
          <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="menu in vm.menus track by menu.id" role="presentation">
              <a ui-sref="menu-detail({id: menu.id})">{{menu.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button class="btn btn-primary" ui-sref="menu-detail-new-menu-item">
            <span class="glyphicon glyphicon-plus-sign"></span>
            <span class="hidden-xs-down">
              Add Menu Item
            </span>
          </button>
        </div>
        <h3>Menu Items</h3>
      </div>
    </div>
    <div class="panel panel-default" ng-show="vm.menuItemsNotFound">
      <div class="panel-body">
        No data found.
      </div>
    </div>

    <div class="row" ng-hide="vm.menuItemsNotFound">
      <div class="col-md-6" ng-repeat="menuItem in vm.menuItems track by menuItem.id">
        <div class="thumbnail">
          <img src="images/image-placeholder.svg" alt="">
          <div class="caption">
            <h5>{{menuItem.name}}</h5>
            <p>{{menuItem.brief}}</p>
            <p>
              <a class="btn btn-primary" role="button" ui-sref="menu-item-detail({id: menuItem.id})">View</a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
