<form name="editForm" role="form" novalidate ng-submit="vm.save()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myMenuLabel">Menu</h4>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <div class="row">

      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label" for="field_registration">Name</label>
          <input type="text" placeholder="Enter Name of Menu" class="form-control" name="name" id="field_name" ng-model="vm.menu.name" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="field_generalMenuTypeId">Type of Menu</label>
          <select class="form-control" id="field_generalMenuTypeId" name="generalMenuTypeId" ng-model="vm.menu.generalMenuTypeId" ng-options="menuType.id as menuType.name for menuType in vm.menuTypes">
            <option value="">Select Type of Menu...</option>
          </select>
        </div>
      </div>

    </div>

    <div class="form-group">
      <label class="control-label" for="field_brief">Brief</label>
      <textarea class="form-control" placeholder="Give a brief description of the Menu..." name="brief" id="field_brief" ng-model="vm.menu.brief"></textarea>
    </div>


    <div class="form-group">
      <label class="control-label" for="field_description">Description</label>
      <textarea class="form-control" rows="3" placeholder="Give a description of the Menu..." name="description" id="field_description" ng-model="vm.menu.description"></textarea>
    </div>


    <div class="form-group">
      <label class="control-label" for="field_notes">Special Notes</label>
      <textarea class="form-control" rows="5" placeholder="Additional notes on the Menu..." name="notes" id="field_notes" ng-model="vm.menu.notes"></textarea>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
        data-translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
    </button>
  </div>
</form>
