<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active">Menus</li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="breadcrumb-btns">
            <ul class="nav nav-pills pull-right">
              <li>
                <button type="button" class="btn btn-default btn-sm" ui-sref="menus.new">
                  <span class="glyphicon glyphicon-plus-sign"></span> Menus</button>
              </li>
              <li>
                <button type="button" class="btn btn-default btn-sm more" data-toggle="dropdown">... </button>
                <ul class="dropdown-menu pull-right" role="menu">
                  <li>
                    <a ui-sref="settings">More actions</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- filter panel -->
<div class="filter-panel ">
  <div class="filter-panel-body">
    <form ng-submit="vm.search()">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <p style="margin-left: 20px; margin-top: 10px">Any filter options for Meals will be here</p>
          </div>
        </div>
        <div class="col-md-3 pull-right">
          <form name="searchForm" class="form-inline">
            <div class="input-group pull-right">
              <input type="text" class="form-control" ng-model="query" id="searchQuery" placeholder="search meals">
              <span class="input-group-btn" style="height: 29px;  ">
                <button class="btn btn-primary btn-md waves-effect waves-light " style="font-size: 12px; line-height: 1.37859" ng-click="vm.search(vm.searchQuery)">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </form>
  </div>
</div>
<br>
<!-- the main panel showing the -->

<div class="row" ng-show="vm.noRecordsFound">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        No records found.
      </div>
    </div>
  </div>
</div>

<div class="row" ng-hide="vm.noRecordsFound">
  <div class="col-sm-6 col-md-4" ng-repeat="menu in vm.menus | filter:query">
    <div class="thumbnail">
      <img class="img-responsive" ng-src="{{vm.profile_image_url}}{{menu.uuid}}" alt="{{ vm.menu.name }}">
      <div class="caption">
        <div class="pull-right">
          <a ui-sref="menus.edit({id:menu.id})">
            <h5>
              <span class="glyphicon glyphicon-pencil"></span>
            </h5>
          </a>
        </div>
        <h5><strong>{{menu.name}}</strong></h5>

        <h5><strong>BRIEF</strong></h5>
        <p class="capitalize">{{menu.brief}}</p>

        <hr>

        <!-- <h5 class="text-left" style="color:#000;text-decoration:none;"><strong>NOTES <span class="glyphicon glyphicon-chevron-down"></span></strong></h5> -->

        <div class="card card-body">
          <!-- <ul>
            <li ng-repeat="menuNote in menu.notes.split('nl') track by $index"> {{menuNote}}
            </li>
          </ul> -->
          <!-- <ul>
            <li ng-repeat="menuNotes in menu.notes"> {{menuNotes}} </li>
          </ul> -->

          <h5 class="text-left"> <a class="notes collapse in" style="color:#000;text-decoration:none;" data-toggle="collapse" href="routes/menus/menus.html/#multiCollapseExample{{$index}}" role="button" aria-expanded="false" aria-controls="multiCollapseExample">
            <strong>ITEMS</strong> <span class="glyphicon glyphicon-chevron-down"></span></a></h5>

          <div class="collapse multi-collapse" id="multiCollapseExample{{$index}}">
            <div class="card card-body">
              <ul>
                <li ng-repeat="menuNote in menu.notes.split('nl') track by $index"> {{menuNote}}
                </li>
              </ul>
            </div>
          </div>
        </div>



        <br>


        <p>
          <a class="btn btn-primary" role="button" ui-sref="menu-detail({id: menu.id})">View</a>
        </p>
      </div>
    </div>
  </div>
</div>
