<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="col-md-8">
        <ul class="breadcrumb">
          <li ui-sref-active="active">
            <a ui-sref="home">Home</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="locations-own">Locations</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="location-detail({id: vm.entity.locationId})">{{vm.entity.locationName}}</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="location-activities({id: vm.entity.locationId})">Attractions</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="activity-detail({id: vm.entity.id})">{{vm.entity.name}}</a>
          </li>
          <li ui-sref-active="active" class="active">Gallery</li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="header-btns pull-right">
          <button style="margin-top: 05px" type="button" class="btn btn-primary btn-sm" ui-sref="attraction-galleries.new({id: vm.entity.id})">
            <span class="glyphicon glyphicon-plus"></span>
            <span class="hidden-xs-d">
              Album
            </span>
          </button>
          <button permission="['PROPERTY_USER']" type="button" ui-sref="home.gettingStarted" class="btn btn-default btn-xs more dropdown-toggle"
            style="margin-top: 8px;">
            Getting Started
          </button>
          <button type="button" class="btn btn-default btn-xs more dropdown-toggle" data-toggle="dropdown" style="margin-top: 8px;">
            ...
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="image-container">
        <img class="img-responsive" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{vm.entity.uuid}}" alt="{{ vm.entity.name }}">
      </div>
      <div class="panel-body">
        <h4>{{vm.entity.name}}</h4>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="activity-detail({id: vm.entity.id})">Overview</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="activity-galleries({id: vm.entity.id})">Gallery</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row" ng-show="!vm.albums">
      <div class="panel panel-default">
        <div class="panel-body">
          No albums found.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row" ng-show="vm.albums">
          <div class="col-sm-6 col-md-4" ng-repeat="album in vm.albums | filter:query" ng-hide="album.albumType == 'ICON'">
            <div class="thumbnail">
              <img ng-src="{{vm.image_url}}{{album.coverUuid}}" alt="{{album.name}}">
              <div class="caption">
                <p>{{album.name}}</p>
                <p>
                  <a class="btn btn-primary" role="button" ui-sref="attraction-album-detail({id: vm.entity.id, albumId: album.id})">View</a>
                  <a class="btn btn-danger pull-right" role="button" ui-sref="attraction-galleries.delete({albumId: album.id})" ng-hide="album.albumType == 'PROFILE'">Delete</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
