<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="col-md-8">
        <ul class="breadcrumb">
          <li ui-sref-active="active">
            <a ui-sref="home">Home</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="locations-own">Locations</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="location-detail({id: vm.attraction.locationId})">{{vm.attraction.locationName}}</a>
          </li>
          <!-- <li ui-sref-active="active" class="active"><a ui-sref="location-attractions({id: vm.location.id})">Attractions</a></li> -->
          <li ui-sref-active="active" class="active">{{vm.attraction.name}}</li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="header-btns pull-right">
          <button style="margin-top: 05px" type="button" class="btn btn-danger btn-sm" ui-sref="attraction-detail.delete({id: vm.attraction.id})">
            <span class="glyphicon glyphicon-trash"></span>
            <span class="hidden-xs-d">
              Delete Attraction
            </span>
          </button>
          <button permission="['PROPERTY_USER']" type="button" ui-sref="home.gettingStarted" class="btn btn-default btn-xs more dropdown-toggle"
            style="margin-top: 8px;">
            Getting Started
          </button>
          <button type="button" class="btn btn-default btn-xs more dropdown-toggle" data-toggle="dropdown" style="margin-top: 8px;">
            ...
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="image-container">
        <img class="img-responsive" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{vm.attraction.uuid}}" alt="{{ vm.attraction.name }}">
        <a ui-sref="attractions.profile({id : vm.attraction.id})" class="icon-choose-image">
          <img src="images/camera.png">
        </a>
      </div>
      <div class="panel-body">
        <h4>{{vm.attraction.name}}</h4>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="attraction-detail({id: vm.attraction.id})">Overview</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="attraction-galleries({id: vm.attraction.id})">Gallery</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="pull-right">
              <a ui-sref="attraction-detail.edit({id:vm.attraction.id})">
                <h3>
                  <span class="glyphicon glyphicon-pencil"></span>
                </h3>
              </a>
            </div>
            <h2>{{vm.attraction.name}}</h2>
            {{vm.attraction.description}}
            <p class="p-padding pull-right">
              <span ng-repeat="objectLabel in vm.objectLabels">
                <span class="label label-default" style="margin-left: 4px">
                  {{objectLabel.labelName}}
                  <a ui-sref="attraction-detail.deleteLabel({itemToDelete: objectLabel.id})">
                    <strong class="label label-danger">X</strong>
                  </a>
                </span>
              </span>
              <a ui-sref="attraction-detail.addLabels({objectType: 'ATTRACTION', uuid: vm.attraction.uuid})">
                <span class="label label-primary">
                  <span class="glyphicon glyphicon-plus-sign"></span> Add labels</span>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <table class="table">
            <tr>
              <td>
                <strong>Type</strong>
              </td>
              <td>
                {{vm.attraction.generalAttractionName}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Status</strong>
              </td>
              <td>
                {{vm.attraction.contentStatus}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Location</strong>
              </td>
              <td>
                <a ui-sref="location-detail({id: vm.attraction.locationId})">{{vm.attraction.locationName}}</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
