<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myLocationLabel">Create a new album</h4>
  </div>

  <div class="modal-body">

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="control-label" for="album_name">Name</label>
          <input type="text" class="form-control" name="album_name" id="album_name" ng-model="vm.album.name"
            required/>
          <div ng-show="editForm.album_name.$invalid">
            <p class="help-block" ng-show="editForm.album_name.$error.required">
              This field is required.
            </p>
          </div>
        </div>
        <div class="form-group">
            <label for="">Select photos</label>
            <button class="btn btn-primary" ngf-select="vm.upload($files, $invalidFiles)" multiple name="files" ngf-pattern="'image/*'"
              ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize-if="$width > 400 || $height > 400" ngf-resize="{width: 400, height: 400}">Select</button>
              <div class="row">
                <div class="col-md-3" ng-repeat="f in vm.files">
                    <img class="img-responsive img-thumbnail-height" ngf-thumbnail="f || 'images/image-placeholder.svg'">
                    <span class="btn btn-sm btn-danger" ng-click="vm.remove($index)"> X</span>  <br>
                    <textarea name="caption" id="caption" cols="30" rows="2" ng-model="f.caption"></textarea>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{f.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{f.progress}}%">
                            {{f.progress}}%
                      </div>
                </div>
              </div>
              <!-- <ul>
                <li ng-repeat="f in vm.files">
                  {{ f | json}}
                    <img class="thumb" ngf-thumbnail="f || 'images/image-placeholder.svg'"> ({{f.name}} {{f.$errorParam}}) <br>
                    <div class="progress" ng-show="f.progress >= 0">
                      <div class="progress-bar" role="progressbar" aria-valuenow="{{f.progress}}" aria-valuemin="0" aria-valuemax="100">
                          {{f.progress}}%
                    </div>
                </li>
                <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
                  </li>
              </ul> -->
            {{vm.errorMsg}}
          </div>
      </div>
    </div>
  </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle" ng-disabled="vm.isUploading"></span>&nbsp;
      <span>Cancel</span>
    </button>
    <button type="submit" ng-disabled="vm.isUploading || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;
      <span>Save</span>
    </button>
  </div>
</form>
