<div ng-cloak>
  <div class="row">
    <div class="container">
      <div class="col-md-12 breadcrumb-white-bg">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="{{vm.previousState}}">Locations</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="location-detail({id: vm.location.id})">{{vm.location.name}}</a>
            </li>
            <li ui-sref-active="active" class="active">Gallery</li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="header-btns pull-right">
            <button style="margin-top: 05px" type="button" class="btn btn-primary btn-sm" ui-sref="location-galleries.new({id: vm.location.id})">
              <span class="glyphicon glyphicon-plus"></span>
              <span class="hidden-xs-d">
                Album
              </span>
              </span>
            </button>
            <button permission="['PROPERTY_USER']" type="button" ui-sref="home.gettingStarted" class="btn btn-default btn-xs more dropdown-toggle"
              style="margin-top: 8px;">
              Getting Started
            </button>
            <button type="button" class="btn btn-default btn-xs more dropdown-toggle" data-toggle="dropdown" style="margin-top: 8px;">
              ...
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <img src="{{URLS.PROFILE_IMAGE_URL}}{{vm.location.uuid}}" alt="">
        <div class="panel-body">
          <h4>{{vm.location.name}}</h4>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="location-detail({id: vm.location.id})">Overview</a>
          </li>
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="location-attractions({id: vm.location.id})">Attractions</a>
          </li>
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="location-activities({id: vm.location.id})">Activities</a>
          </li>
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="location-facilities({id: vm.location.id})">Facilities</a>
          </li>
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="location-events({id: vm.location.id})">Events</a>
          </li>
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="location-locations({id: vm.location.id})">Other Locations</a>
          </li>
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="location-properties({id: vm.location.id})">Properties</a>
          </li>
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="location-restaurants({id: vm.location.id})">Restaurants</a>
          </li>
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="location-galleries({id: vm.location.id})">Gallery</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row" ng-show="!vm.albums">
        <div class="panel panel-default">
          <div class="panel-body">
            No albums found.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row" ng-show="vm.albums">
            <div class="col-sm-6 col-md-4" ng-repeat="album in vm.albums | filter:query" ng-hide="album.albumType == 'ICON'">
              <div class="thumbnail">
                <img ng-src="{{vm.image_url}}{{album.coverUuid}}" alt="{{album.name}}">
                <div class="caption">
                  <p>{{album.name}}</p>
                  <p>
                    <a class="btn btn-primary" role="button" ui-sref="location-album-detail({id: vm.location.id, albumId: album.id})">View</a>
                    <a class="btn btn-danger pull-right" role="button" ui-sref="location-galleries.delete({albumId: album.id})" ng-hide="album.albumType == 'PROFILE'">Delete</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
