<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li>
              <a ui-sref="safari-group">Products</a>
            </li>
            <li ng-repeat="link in vm.links" ng-show="!link.visible">
              <a ng-click="vm.gotoLink(link)" style="cursor: all-scroll">
                {{link.name}}
              </a>
              <!-- {{link.name}} -->
            </li>
            <li ui-sref-active="active" class="active">{{vm.group.name}}</li>

          </ul>
        </div>
        <div class="col-md-4">
          <div class="breadcrumb-btns">
            <ul class="nav nav-pills pull-right">
              <li ng-hide="vm.group.terminal">
                <button type="button" class="btn btn-default btn-sm" ui-sref="safari-group-detail.new({link : vm.currentLink + 1 , targetId: vm.configs.targetId, locationId: vm.configs.locationId, type: vm.group.safariType})">
                  <span class="glyphicon glyphicon-plus-sign"></span> Folder</button>
              </li>
              <li>
                <button type="button" class="btn btn-default btn-sm" ng-show="vm.group.terminal" ui-sref="safaris.new({type:vm.group.safariType, groupId: vm.group.id})">
                  <span class="glyphicon glyphicon-plus-sign"></span> Product</button>
              </li>
              <li permission="['ORGANISATION_ADMIN']" class="toolTipBtn" ng-show="vm.folderGridView">
                <button ng-click="vm.switchDisplay()" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-list"></span>
                </button>
                <span class="toolTip">List&nbsp;view</span>
              </li>
              <li permission="['ORGANISATION_ADMIN']" class="toolTipBtn" ng-show="vm.foldersListView">
                <button ng-click="vm.switchDisplay()" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-th"></span>
                </button>
                <span class="toolTip">Grid&nbsp;view</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="container">
    <div class="filter-panel ">
      <div class="filter-panel-body">
        <form>
          <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-4 pull-right">
              <form name="searchForm" class="form-inline">
                <div class="input-group pull-right">
                  <input type="text" class="form-control" ng-model="query" placeholder="search {{vm.group.name}}" ng-change="vm.search(query)">
                  <span class="input-group-btn" style="height: 29px;  ">
                    <button class="btn btn-primary btn-md waves-effect waves-light " style="font-size: 12px; line-height: 1.37859" ng-click="vm.search(query)">
                      <span class="glyphicon glyphicon-search"></span>
                    </button>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->



<div class="row folders" id="folderGridView" ng-show="vm.folderGridView && !vm.group.terminal">
  <div class="col-md-4" ng-repeat="group in vm.safariGroups | filter:query">

    <div class="info-box" ui-sref="safari-group-detail({groupId : group.id, year:group.year})" style="cursor: pointer">
      <div class="row">
        <div class="col-md-2">
          <span class="glyphicon glyphicon-folder-open folderIcon"></span>
        </div>
        <div class="col-md-10">
          <h5>{{group.name}}</h5>
        </div>
      </div>

    </div>
  </div>
  <br />

</div>

<div id="foldersListView" ng-show="vm.foldersListView && !vm.group.terminal">

  <div class="panel panel-default">
    <table st-table="vm.rowCollectionDisplayed" st-safe-src="vm.serviceMarkups" class="table table-striped">
      <thead>
        <tr>
          <td colspan="10">
            <span class="uppercaseName"><strong>Folders</strong></span>
          </td>
        </tr>
        <tr>
          <th>Name</th>
          <th>Year</th>
          <th class="text-center">Description</th>
          <th class="text-center">Last Modified</th>
          <th class="text-center">Actions</th>
        </tr>
      <tbody ui-sortable="vm.sortableOptions" ng-model="vm.safariGroups" class="vm.safariGroups">
        <tr ng-repeat="group in vm.safariGroups | filter:query">
          <!-- <td>{{row.id}}</td> -->
          <!-- <td>{{row.name | uppercase}}</td> -->
          <td ui-sref="safari-group-detail({groupId : group.id, year:group.year})" class="folderDetailLink">
            <span class="glyphicon glyphicon-folder-open folderIcon"></span>
            &nbsp;&nbsp;
            <span>{{group.name}}</span>
          </td>
          <td>{{group.year}}</td>
          <td class="text-center">{{group.description}} <span ng-show="group.description == null"> – </span></td>
          <td>
            <span> <strong>{{group.lastUpdatedOn | date : 'MMM d, y - h:mm a' }}</strong></span></td>
          <td>

            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-3 text-center">
                <a ui-sref="safari-group-detail.edit({id : group.id,link : vm.currentLink + 1 })">
                  <span class="glyphicon glyphicon-pencil"></span>
                </a>
              </div>
              <div class="col-md-3 text-center">
                <a class="red" ui-sref="safari-group-detail.delete({id : group.id})">
                  <span class="glyphicon glyphicon-trash "></span>
                </a>
              </div>
            </div>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div ng-show="!vm.folderGridView && vm.group.terminal" style="margin-bottom: 10px">
  <form ng-submit="vm.search()" ng-show="vm.folderGridView && vm.group.terminal">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <!-- <p style="margin-left: 20px; margin-top: 10px">Any filter options for Products will be here</p> -->

        </div>
      </div>
      <div class="col-md-3 pull-right">
        <form name="searchForm" class="form-inline">
          <div class="input-group pull-right filterSearch">
            <input type="text" class="form-control" ng-model="query" id="searchQuery" placeholder="search a product">
            <span class="glyphicon glyphicon-search"></span>
            <!--
            <span class="input-group-btn" style="height: 29px;  ">
              <button class="btn btn-primary btn-md waves-effect waves-light " style="font-size: 12px; line-height: 1.5" ng-click="vm.search(vm.searchQuery)">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span> -->
          </div>
        </form>
      </div>
    </div>
  </form>
</div>


<div class="row" id="folderGridView" ng-show="!vm.folderGridView && vm.group.terminal">

  <div class="col-sm-6 col-md-3" ng-repeat="product in vm.safaris | filter:query">
    <div class="thumbnail">
      <!-- <img class="img-responsive" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{product.uuid}}"
            alt="{{ vm.safaris.name }}"> -->
      <div class="caption">
        <div class="pull-right">
          <a ui-sref="safari-group-detail.edit({id : group.id })">
            <h5>
              <span class="glyphicon glyphicon-pencil"></span>
            </h5>
          </a>
        </div>
        <h4 class="uppercaseName">{{product.name}}</h4>
        <br>
        <hr>

        <h5><strong>DESCRIPTION </strong></h5>
        <p class="capitalize">{{product.description}}</p>
        <!-- <h5 class="text-left"> <a class="notes" data-toggle="collapse"
                href="routes/services/services.html/#multiCollapseExample{{$index}}" role="button" aria-expanded="false"
                aria-controls="multiCollapseExample">
                <strong>NOTES</strong> <span class="glyphicon glyphicon-chevron-down"></span></a></h5>

            <div class="collapse multi-collapse capitalize" id="multiCollapseExample{{$index}}">
              <div class="card card-body">
                {{product.notes}}
              </div>
            </div> -->

        <br>



        <p>
          <a href="#" class="btn btn-primary" role="button" ui-sref="safari-detail({id: product.id})">View</a>

          <a href="#" class="btn btn-danger pull-right" role="button" ui-sref="safari-group-detail.deleteSafari({safariId: product.id})">
            <span class="glyphicon glyphicon-trash"></span>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

<div id="foldersListView" ng-show="!vm.foldersListView && vm.group.terminal">

  <div class="panel panel-default">
    <table st-table="vm.rowCollectionDisplayed" st-safe-src="vm.safaris" class="table table-striped">
      <thead>
        <tr>
          <td colspan="10">
            <form ng-submit="vm.search()">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <!-- <p style="margin-left: 20px; margin-top: 10px">Any filter options for Services will be here</p> -->
                  </div>
                </div>
                <div class="col-md-6 pull-right">
                  <div class="col-md-2"> </div>

                  <div class="col-md-5">
                    <form name="searchForm" class="form-inline">
                      <div class="input-group pull-right filterSearch">
                        <input type="text" class="form-control" ng-change="vm.initSafaris(name)" ng-model="name" id="searchQuery" placeholder="search a safari">
                        <span class="glyphicon glyphicon-search"></span>
                      </div>
                    </form>
                  </div>


                  <div class="col-md-5">
                    <select id="pref-perpage" class="input-sm form-control" ng-change="vm.changeItemsPerPage(vm.itemsPerPageStr)" ng-model="vm.itemsPerPageStr">
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="15">15</option>
                      <option value="20">20</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                      <option value="150">150</option>
                      <option value="200">200</option>
                      <option value="500">500</option>
                      <option value="1000">1000</option>

                    </select>
                  </div>

                </div>
              </div>
            </form>
          </td>
        </tr>

        <tr>
          <th>Name</th>
          <th >Target</th>
          <th class="text-center">Description</th>
          <th class="text-center">Days <small style="color:grey">(Nights)</small></th>
          <th class="text-center">Last Modified</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="product in vm.rowCollectionDisplayed | filter : name | orderBy:'-id'">
          <!-- <td>{{row.id}}</td> -->
          <!-- <td>{{row.name | uppercase}}</td> -->
          <td width="20%" ui-sref="safari-detail({id: product.id})" class="terminalSafariDetailLink">
            <span>{{product.name}}</span>
          </td>
          <td>
            <span>{{product.targetName}}</span>
          </td>
          <td class="text-center">{{product.description}} <span ng-show="product.description == null"> – </span></td>
          <td class="text-center">{{product.numOfDays}} <small style="color:grey">({{product.numOfNights}})</small></td>
          <td class="text-center">
            <span> <strong>{{product.lastUpdatedOn}}</strong></span>
            <span ng-show="product.lastUpdatedOn == null"> – </span>
          </td>
          <td>

            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-3 text-center">
                <a ui-sref="safari-group-detail.editSafari({id : product.id , link : vm.currentLink  + 1})">
                  <span class="glyphicon glyphicon-pencil"></span>
                </a>
              </div>
              <div class="col-md-3 text-center">
                <a class="red" ui-sref="safari-group-detail.deleteSafari({safariId: product.id})">
                  <span class="glyphicon glyphicon-trash "></span>
                </a>
              </div>
            </div>

          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="9" class="text-center container" >
            <div class="saf-pagination" style="min-height: 3rem; padding: 1rem 0rem;">
              <div st-pagination="" st-items-by-page="vm.itemsPerPage" st-displayed-pages="20"></div>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
