<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myLocationLabel" ng-show="vm.safariGroup.id">Edit Folder {{vm.safariGroup.name}}</h4>
    <h4 class="modal-title" id="myLocationLabel" ng-show="vm.safariGroup.id == null">Create a Folder</h4>
  </div>
  <div class="modal-body">

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="field_year">For Years - {{vm.safariGroup.year}}</label>
          <select class="form-control" id="field_year" name="year" ng-model="vm.safariGroup.year"
            ng-options="contractYear as contractYear for contractYear in vm.years"
            ng-disabled="vm.newGroupRecurrentGroup">
            <option>{{contractYear}}</option>
            <option value="{{contractYear}}">{{contractYear}}</option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label" for="field_abbreviation">Abbreviation</label>
          <input type="text" class="form-control" name="abbreviation" id="field_abbreviation"
            ng-model="vm.safariGroup.abbreviation" required />

        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.safariGroup.name" required />

        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="field_year">Language</label>
          <select class="form-control" id="field_year" name="year" ng-model="vm.safariGroup.configs.defaultLanguage"
            ng-options="contractYear as contractYear for contractYear in vm.safariLanguages">
            <option>{{contractYear}}</option>
          </select>
        </div>
      </div>

      <div class="col-md-12">

        <div class="form-group" ng-class="{ 'has-error' : editForm.description.$viewValue.length == 200}">
          <label class="control-label" for="field_brief">Description</label>
          <textarea class="form-control" name="description" id="field_brief" ng-model="vm.safariGroup.description"
            maxlength="1000" ng-maxlength="1000"></textarea>
          <div class="help-block" ng-show="editForm.description.$viewValue.length == 1000">Maximum length reached</div>
        </div>
      </div>
      <div class="col-md-6" ng-show="vm.currentLink > '2'">
        <div class="form-group">
          <label>Target Organization</label>
          <input type="text" ng-model="vm.safariGroup.targetName" placeholder="Search Partner by name"
            uib-typeahead="loc.name for loc in vm.getLocs($viewValue,3)" typeahead-loading="loadingStartLocations"
            typeahead-no-results="noStartResults" typeahead-on-select="vm.onTargetSelected($item, $model)"
            class="form-control">
          <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
          <div ng-show="noStartResults">
            <i class="glyphicon glyphicon-remove"></i> No Results Found
          </div>
        </div>
      </div>
      <div class="col-md-6" ng-show="vm.currentLink > '3'">
        <div class="form-group">
          <label class="filter-col" style="margin-right:0;" for="pref-search">In Location:</label>
          <input type="text" ng-model="vm.safariGroup.configs.locationName" placeholder="Search Location e.g Kenya"
            uib-typeahead="loc.name for loc in vm.getLocation($viewValue)" typeahead-loading="loadingLocations"
            typeahead-no-results="noStartResults" typeahead-on-select="vm.onLocationSelected($item, $model)"
            class="form-control">
          <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
          <div ng-show="noStartResults">
            <i classs="glyphicon glyphicon-remove"></i> No Results Found
          </div>
        </div>
      </div>


      <div class="col-md-6" ng-show="vm.currentLink > '4'">
        <div class="form-group">
          <label class="control-label" for="field_isDefault">Is it the Last Folder?</label><br>
          <input type="checkbox" class="form-check-input" ng-model="vm.safariGroup.terminal">
        </div>
      </div>
      <div class="col-md-6" ng-show="vm.currentLink > '3' && vm.isFIT">
        <div class="form-group">
          <label class="control-label" for="field_isDefault">Is it the Last Folder?</label><br>
          <input type="checkbox" class="form-check-input" ng-model="vm.safariGroup.terminal">
        </div>
      </div>
      <div class="col-md-6" ng-show="vm.currentLink > '4'">
        <div class="form-group">
          <label class="control-label" for="field_isDefault"> For One Product?</label><br>
          <input type="checkbox" class="form-check-input" ng-model="vm.safariGroup.oneType"
            ng-click="vm.toggleTypeSelect()">
        </div>
      </div>


      <div class="col-md-6" ng-show="vm.safariGroup.oneType && vm.currentLink > '4'">
        <div class="form-group">
          <label for="field_year">Safari Type </label><br>
          <select class="form-control" id="field_year" name="year" ng-model="vm.safariGroup.safariType"
            ng-options="safariType.value as safariType.name for safariType in vm.packageTypes">
            <option>{{safariType.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6" ng-show="vm.currentLink == '2'">

        <div class="form-group">
          <label class="control-label" for="field_startDate">Select Types</label>
          <select class="form-control" name="type" ng-model="vm.safariGroup.configs.types" multiple>
            <option ng-repeat="object in vm.packageTypes " value="{{object.value}}">
              {{object.name}} </option>
          </select>
        </div>
      </div>
      <div class="col-md-6" ng-show="vm.safariGroup.oneType && vm.isFIT && vm.currentLink > '3'">

        <div class="form-group">
          <label class="control-label" for="field_startDate">Select Month</label>
          <select class="form-control" name="type" ng-model="vm.safariGroup.configs.month" ng-change="vm.onMonthSelect()" >
            <option ng-repeat="object in vm.months " value="{{object.name}}">
              {{object.name}} </option>
          </select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
      </button>
      <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
      </button>
    </div>
</form>