<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active">Products</li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="breadcrumb-btns">
            <ul class="nav nav-pills pull-right">
              <!-- <li>
                <button type="button" class="btn btn-primary btn-sm" ui-sref="safariGroups.newFIT">
                  <span class="glyphicon glyphicon-plus"></span> Create FIT</button>
              </li> -->
              <!--
              <li ng-show="vm.safariFilterParams.type == 'FIT'">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#fitModal">
                  <span class="glyphicon glyphicon-plus"></span> Create FIT</button>
              </li> -->


              <li ng-show="vm.safariFilterParams.type == 'FIT'">
                <button type="button" class="btn btn-primary btn-sm" ui-sref="safari-group.new">
                  <span class="glyphicon glyphicon-plus"></span> Create FIT</button>
              </li>


              <li permission="['ORGANISATION_ADMIN']" ng-hide="vm.safariFilterParams.type == 'FIT'">
                <button type="button" class="btn btn-default btn-sm" ui-sref="safari-group.new" ng-disabled="vm.hideCreatePackage">
                  <span class="glyphicon glyphicon-plus"></span> Folder</button>
              </li>
              <li permission="['ORGANISATION_ADMIN']" class="toolTipBtn" ng-show="vm.folderGridView">
                <button ng-click="vm.switchDisplay()" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-list"></span>
                </button>
                <span class="toolTip">List&nbsp;view</span>
              </li>
              <li permission="['ORGANISATION_ADMIN']" class="toolTipBtn" ng-show="vm.foldersListView">
                <button ng-click="vm.switchDisplay()" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-th"></span>
                </button>
                <span class="toolTip">Grid&nbsp;view</span>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-show="vm.noRecordsFound">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        No data found.
      </div>
    </div>
  </div>
</div>

<div ng-hide="vm.noRecordsFound" class="folders">



  <div class="row folders" id="folderGridView" ng-show="vm.folderGridView">
    <div class="col-md-3" ng-repeat="group in vm.safariGroups | filter:query">

      <div class="info-box" ui-sref="safari-group-detail({groupId : group.id, year:group.year})" style="cursor: pointer">
        <div class="row">
          <div class="col-md-2">
            <span class="glyphicon glyphicon-folder-open folderIcon"></span>
          </div>
          <div class="col-md-10">
            <h5>{{group.name}}</h5>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div id="foldersListView" ng-show="vm.foldersListView">

    <div class="panel panel-default">
      <table st-table="vm.rowCollectionDisplayed" st-safe-src="vm.serviceMarkups" class="table table-striped">
        <thead>
          <tr>
            <td colspan="10">
              <span class="uppercaseName"><strong>Folders</strong></span>
            </td>
          </tr>
          <tr>
            <th>Name</th>
            <th>Year</th>
            <th class="text-center">Description</th>
            <th class="text-center">Last Modified</th>
            <th class="text-center">Actions</th>
          </tr>
        <tbody ui-sortable="vm.sortableOptions" ng-model="vm.safariGroups" class="vm.safariGroups">
          <tr ng-repeat="group in vm.safariGroups | filter:query">
            <!-- <td>{{row.id}}</td> -->
            <!-- <td>{{row.name | uppercase}}</td> -->
            <td ui-sref="safari-group-detail({groupId : group.id, year:group.year})" class="folderDetailLink">
              <span class="glyphicon glyphicon-folder-open folderIcon"></span>
              &nbsp;&nbsp;
              <span>{{group.name}}</span>
            </td>
            <td>{{group.year}}</td>
            <td class="text-center">{{group.description}} <span ng-show="group.description == null"> – </span></td>
            <td>
              <span> <strong>{{group.lastUpdatedOn}}</strong></span></td>
            <td>

              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3 text-center">
                  <a ui-sref="safari-group.edit({groupId : group.id})">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                </div>
                <div class="col-md-3 text-center">
                  <a class="red" ui-sref="safari-group.delete({groupId : group.id})">
                    <span class="glyphicon glyphicon-trash "></span>
                  </a>
                </div>
              </div>

            </td>
          </tr>
        </tbody>
        <!-- <tfoot>
          <tr>
            <td colspan="9" class="text-center">
              <div st-pagination="" st-items-by-page="vm.itemsPerPage" st-displayed-pages="20"></div>
            </td>
          </tr>
        </tfoot> -->
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="fitModal" role="dialog" aria-labelledby="fitModal" aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document">
    <form name="editForm" role="form" novalidate ng-submit="vm.createProgramme()" show-validation>
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button ng-show="vm.safariFilterParams.type == 'FIT'" type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button> -->
          <h4 class="modal-title" id="myProfessionalLabel">Create FIT</h4>
        </div>
      </div>
    </form>
  </div>
</div>
