<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="col-md-8">
        <ul class="breadcrumb">
          <li ui-sref-active="active">
            <a ui-sref="home">Home</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings">Settings</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings">Profile</a>
          </li>
          <!-- <li ui-sref-active="active" class="active">{{vm.route.fromName}} to {{vm.route.toName}} </li> -->
        </ul>
      </div>
      <div class="col-md-4">
        <div class="breadcrumb-btns">
          <ul class="nav nav-pills pull-right">
            <li>
              <button class="btn btn-default btn-sm" ui-sref="settings-account">
                <span class="glyphicon glyphicon-pencil"></span> Change Password</button>
            </li>
            <li>
              <div ng-include="'core/routes/settings/settings-menu/settings-navbar.html'"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="image-container">
        <img class="img-responsive" ng-src="{{vm.profile_image_url}}{{vm.account.uuid}}" alt="{{ vm.account.name }}">
        <a ui-sref="settings.profile" class="icon-choose-image">
          <img src="images/camera.png">
        </a>
      </div>
      <div ng-include="'core/routes/settings/settings-menu/settings-menu.html'"></div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>Account Information</h4>
            <table class="table">
              <tr>
                <td>
                  <strong>Login: </strong>
                </td>
                <td>
                  {{vm.profile.login}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>First Name</strong>
                </td>
                <td>
                  {{vm.profile.firstName}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>First Name</strong>
                </td>
                <td>
                  {{vm.profile.lastName}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Email</strong>
                </td>
                <td>
                  {{vm.profile.email}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Language</strong>
                </td>
                <td>
                  {{vm.profile.langKey}}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>Authorities</h4>
            <table class="table">
              <tr ng-repeat="authority in vm.profile.authorities">
                <td>
                  {{authority}}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="!vm.recordsFound">
      <div class="panel panel-default">
        <div class="panel-body">
          No records found.
        </div>
      </div>
    </div>

    <div ng-show="vm.recordsFound">
      <div class="">
        <div class="panel panel-default">
          <table class="table table-striped">
            <thead>
              <tr>
                <td colspan="10">
                  <div class="row">
                    <div class="col-md-10">
                      <h4>Users</h4>
                    </div>
                    <div class="col-md-2 pull-right">
                      <button class="btn btn-default btn-md" ui-sref="settings-users.new">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span class="hidden-xs-down">
                          User
                        </span>
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Language</th>
                <th>Authorities</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody ng-repeat="record in vm.records">
              <tr>
                <td>{{record.firstName + " " + record.lastName}}</td>
                <td>{{record.email}}</td>
                <td>{{record.langKey}}</td>
                <td>
                  <span class="label label-default circularLabel" ng-repeat="authority in record.authorities"
                    data-placement="top" data-toggle="popover" data-trigger="hover"
                    data-content="{{ authority == null ? 'no authorities' : authority }}">??</span>

                  <script>
                    $(document).ready(function () {
                      $('[data-toggle="popover"]').popover();
                    });
                  </script>
                </td>

                <td>
                  <div class="row">
                    <div class="col-md-6">
                      <a ui-sref="settings-users.edit({id : row.id})">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </a>
                    </div>
                    <div class="col-md-6">
                      <a class="red" ui-sref="settings-users.delete({id : row.id})">
                        <span class="glyphicon glyphicon-trash "></span>
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>