<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="col-md-8">
        <ul class="breadcrumb">
          <li ui-sref-active="active">
            <a ui-sref="home">Home</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="locations-own">Locations</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="location-detail({id: vm.facility.locationId})">{{vm.facility.locationName}}</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="location-facilities({id: vm.facility.locationId})">Facilities</a>
          </li>
          <li ui-sref-active="active" class="active">{{vm.facility.name}}</li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="header-btns pull-right">
          <button style="margin-top: 05px" type="button" ng-hide="vm.room.facility === 'DELETED'" class="btn btn-danger btn-sm" ui-sref="facility-detail.delete({id: vm.facility.id})">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
          <button permission="['PROPERTY_USER']" type="button" ui-sref="home.gettingStarted" class="btn btn-default btn-xs more dropdown-toggle"
            style="margin-top: 8px;">
            Getting Started
          </button>
          <button type="button" class="btn btn-default btn-xs more dropdown-toggle" data-toggle="dropdown" style="margin-top: 8px;">
            ...
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="image-container">
        <!-- <img class="img-responsive" ng-hide="" ng-src="images/image-placeholder.svg" alt="{{ vm.account.name }}"> -->
        <img src="{{URLS.PROFILE_IMAGE_URL}}{{vm.facility.uuid}}" alt="">
        <a ui-sref="facility-detail.image" class="icon-choose-image">
          <img src="images/camera.png">
        </a>
      </div>
      <div class="panel-body">
        <h4>{{vm.facility.name}}</h4>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="facility-detail({id: vm.facility.id})">Overview</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="facility-galleries({id: vm.facility.id})">Gallery</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="pull-right">
              <a ui-sref="facility-detail.edit({id:vm.facility.id})">
                <h3>
                  <span class="glyphicon glyphicon-pencil"></span>
                </h3>
              </a>
            </div>
            <h2>{{vm.facility.name}}</h2>
            {{vm.facility.description}}
            <div class="row">
              <p class="p-padding pull-right">
                <span ng-repeat="objectLabel in vm.objectLabels">
                  <span class="label label-default" style="margin-left: 4px">
                    {{objectLabel.labelName}}
                    <a ui-sref="facility-detail.deleteLabel({ itemToDelete: objectLabel.id})">
                      <strong class="label label-danger">X</strong>
                    </a>
                  </span>
                </span>
                <a ui-sref="facility-detail.addLabels({uuid: vm.facility.uuid, objectType : 'FACILITY'})">
                  <span class="label label-primary">
                    <span class="glyphicon glyphicon-plus-sign"></span>Add more labels</span>
                </a>
              </p>
            </div>
            <div class="row">
              <p class="p-padding pull-right">
                <span ng-repeat="objectFeature in vm.objectFeatures">
                  <span class="label label-default" style="margin-left: 4px">
                    {{objectFeature.name}}
                    <a ui-sref="facility-detail.deleteFeature({ itemToDelete: objectFeature.id})">
                      <strong class="label label-danger">X</strong>
                    </a>
                  </span>
                </span>
                <a ui-sref="facility-detail.addFeature({uuid: vm.facility.uuid, objectType : 'FACILITY'})">
                  <span class="label label-primary">
                    <span class="glyphicon glyphicon-plus-sign"></span>Add more Features</span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <table class="table">
            <tr>
              <td>
                <strong>Type</strong>
              </td>
              <td>
                {{vm.facility.generalFacilityName}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Status</strong>
              </td>
              <td>
                {{vm.facility.contentStatus}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Location</strong>
              </td>
              <td>
                <a ui-sref="location-detail({id: vm.facility.locationId})">{{vm.facility.locationName}}</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
