<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myLocationLabel">Facility</h4>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <div class="row">

      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.facility.name" required />
          <div ng-show="editForm.name.$invalid">
            <p class="help-block" ng-show="editForm.name.$error.required">
              This field is required.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="field_generalFacilityId">Type of Facility</label>
          <select class="form-control" id="field_generalFacilityId" name="generalFacilityId" ng-model="vm.facility.generalFacilityId" ng-options="facilityType.id as facilityType.name for facilityType in vm.facilityTypes">
            <option value=""></option>
          </select>
        </div>
      </div>

    </div>


    <div class="form-group">
      <label class="control-label" for="field_brief">Brief</label>
      <textarea class="form-control" name="brief" id="field_brief" ng-model="vm.facility.brief"></textarea>
      <div ng-show="editForm.brief.$invalid">
        <p class="help-block" ng-show="editForm.brief.$error.maxlength">
          This field cannot be longer than 1000 characters.
        </p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="field_description">Description</label>
      <textarea class="form-control" name="description" id="field_description" ng-model="vm.facility.description"></textarea>
      <div ng-show="editForm.description.$invalid">
        <p class="help-block" ng-show="editForm.facility.$error.maxlength">
          This field cannot be longer than 1000 characters.
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" ng-disabled="vm.isSaving" class="btn btn-primary">
      <span>Save</span>
      &nbsp;
      <span class="glyphicon glyphicon-save"></span>
    </button>
    <button type="button" class="btn btn-default flatBtn" data-dismiss="modal" ng-click="vm.clear()">
    <span>Cancel</span>
    </button>

  </div>
</form>
