<div ng-cloak>
  <div class="row">
    <div class="col-md-9">
      <ul class="breadcrumb">
        <li ui-sref-active="active">
          <a ui-sref="home">Home</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="locations-own">Locations</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="location-detail({id: vm.entity.locationId})">{{vm.entity.locationName}}</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="location-facilities({id: vm.entity.locationId})">Facilities</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="facility-detail({id: vm.entity.id})">{{vm.entity.name}}</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="facility-galleries({id: vm.entity.id})">Galleries</a>
        </li>
        <li ui-sref-active="active" class="active">{{vm.album.name}}</li>
      </ul>
    </div>
    <div class="col-md-3">
      <div class="pull-right">
        <button class="btn btn-primary" ui-sref="facility-album-detail.upload({id: vm.entity.id, albumId: vm.album.id})">
          <span class="glyphicon glyphicon-plus"></span>
          <span class="hidden-xs-d">
            Photos
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <img src="{{URLS.PROFILE_IMAGE_URL}}{{vm.entity.uuid}}" alt="">
        <div class="panel-body">
          <h4>{{vm.entity.name}}</h4>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="facility-detail({id: vm.entity.id})">Overview</a>
          </li>
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="facility-galleries({id: vm.entity.id})">Gallery</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row" ng-show="!vm.album.mediaItemDTOList">
        <div class="panel panel-default">
          <div class="panel-body">
            No photos found.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="pull-right">
                <a ui-sref="facility-album-detail.edit({id:vm.entity.id})">
                  <h3>
                    <span class="glyphicon glyphicon-pencil"></span>
                  </h3>
                </a>
              </div>
              <h3>{{vm.album.name}}</h3>
              <p>{{vm.album.caption}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row" ng-show="vm.album.mediaItemDTOList">
            <div class="col-sm-6 col-md-4" ng-repeat="image in vm.album.mediaItemDTOList | filter:query">
              <div class="thumbnail">
                <a href="http://51.15.199.15:8080/mediaservice/api/media-items/get-file/{{image.uuid}}"
                 data-lightbox="image-set" data-title="{{image.caption}}">
                  <img class="img-responsive" ng-src="http://51.15.199.15:8080/mediaservice/api/media-items/get-file/{{image.uuid}}" alt="">
                </a>
                <div class="caption">
                  {{image.caption}}
                  <p>
                    <a ui-sref="facility-album-detail.makeCoverImage({imageId: image.id})">
                      <span class="label label-default" ng-hide="image.uuid === vm.album.coverUuid">Make Cover</span>
                    </a>
                    <span class="label label-primary" ng-show="image.uuid === vm.album.coverUuid">Cover Image</span>
                    <a ng-hide="image.uuid === vm.album.coverUuid" ui-sref="facility-album-detail.deleteImage({imageId: image.id})">
                      <span class="label label-danger">Delete</span>
                    </a>
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
