<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active">Facilities</li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="breadcrumb-btns">
            <ul class="nav nav-pills pull-right">
              <li>
                <button type="button" class="btn btn-default btn-sm" ui-sref="facilities.new">
                  <span class="glyphicon glyphicon-plus-sign"></span> Facility</button>
              </li>
              <li>
                <button type="button" class="btn btn-default btn-sm more" data-toggle="dropdown">... </button>
                <ul class="dropdown-menu pull-right" role="menu">
                  <li>
                    <a ui-sref="settings">More actions</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- filter panel -->
<div class="filter-panel ">
  <div class="filter-panel-body">
    <form ng-submit="vm.search()">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <p style="margin-left: 20px; margin-top: 10px">Any filter options for facilities will be here</p>
          </div>
        </div>
        <div class="col-md-3 pull-right">
          <form name="searchForm" class="form-inline">
            <div class="input-group pull-right">
              <input type="text" class="form-control" ng-model="query" id="searchQuery" placeholder="search a facility">
              <span class="input-group-btn" style="height: 29px;  ">
                <button class="btn btn-primary btn-md waves-effect waves-light " style="font-size: 12px; line-height: 1.37859" ng-click="vm.search(vm.searchQuery)">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </form>
  </div>
</div>
<br>
<div class="row" ng-show="vm.noRecordsFound">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        No records found.
      </div>
    </div>
  </div>
</div>

<div class="row" ng-hide="vm.noRecordsFound">
  <div class="col-sm-6 col-md-3" ng-repeat="facility in vm.facilities | filter:query">
    <div class="thumbnail facilityCard">
      <!-- <img src="images/image-placeholder.svg" alt=""> -->
      <img class="img-responsive imgFacility" ng-src="{{vm.profile_image_url}}{{facility.uuid}}" alt="{{ vm.facility.name }}">
      <div class="caption">
        <div class="pull-right">
          <a ui-sref="facilities.edit({id:facility.id})">
            <h5>
              <span class="glyphicon glyphicon-pencil"></span>
            </h5>
          </a>
        </div>
        <h5 class="uppercaseName">{{facility.name}}</h5>
        <p>{{facility.brief}}</p>
        <p>
          <a class="btn btn-primary btnFacility" role="button" ui-sref="facility-detail({id: facility.id})">View</a>
        </p>
      </div>
    </div>
  </div>
</div>
