<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
  <h4 class="modal-title" id="myActivityLabel">Getting Started with Safariway</h4>
</div>
<div class="modal-body">
  <h3 class="text-center">Welcome to Safariway</h2>
  <p>
    <i>Let's get you started: </i>
  </p>
  <ul>
    <li>You need to create the
      <strong>
        <a ui-sref="room-categories">room categories</a>
      </strong> available for your property. Room details can be modified after the category is created.</li>
    <li>This will be followed by the
      <strong>
        <a ui-sref="facilities">facilities</a>
      </strong> available at the property e.g. conference facilities. You can add photos too.</li>
    <li>There are various <strong><a ui-sref="settings-services">services</a></strong> provided by your property. Create each of them so as to be able to create contracts for each.</li>
    <li>
      You will require a rate structure for your contract. These are the variable that are used to make a contract. We have done a few to get you started. Check whether they conform to your contract structures. You will find them in the service  dimension sets when you click on a service.
    </li>
    <li>
      You can now create your <strong><a ui-sref="costs">contracts</a></strong> and enter the rates for each. Click on a service and create the contract.
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
    <span>Close</span>
  </button>
</div>
