
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myAddressLabel">Login</h4>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="control-label" for="field_username">Username</label>
          <input class="form-control" name="field_username" id="field_username" ng-model="vm.data.username" required/>
        </div>
        <div class="form-group">
          <label class="control-label" for="field_password">Password</label>
          <input class="form-control" name="field_password" id="field_password" ng-model="vm.data.password" required/>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span>Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span>Continue</span>
    </button>
  </div>
</form>
