<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="col-md-8">
        <ul class="breadcrumb">
          <li ui-sref-active="active">
            <a ui-sref="home">Home</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="breadcrumb-btns">
          <ul class="nav nav-pills pull-right">
            <li>
              <button ng-show="vm.userPermissions" type="button" class="btn btn-default btn-sm" ui-sref="home.new">
                <span class="glyphicon glyphicon-plus-sign"></span>
                <span class="hidden-xs-down">
                  Register Organization
                </span>
              </button>
            </li>
            <li>
              <button permission="['PROPERTY_USER']" type="button" ui-sref="home.gettingStarted" class="btn btn-default btn-xs more dropdown-toggle"
                style="margin-top: 8px;">
                Getting Started
              </button>
            </li>
            <li>
              <div ng-include="'core/routes/settings/settings-menu/settings-navbar.html'"></div>
            </li>
          </ul>
        </div>
        <!-- End Breadcrumb btns -->
      </div>
    </div>
  </div>
</div>

<!-- the main panel showing the -->
<div permission="['ORGANISATION_ADMIN']" class="row" ng-show="vm.currentOrganization.organisationTypeId === 3 || vm.userPermissions ">

  <!-- Make 4 cards for Professionals, fleet, contracts, markets -->
  <div class="col-md-12 homeInfoBox">
    <div class="row">
      <a ui-sref="contracts-own">
        <div class="col-md-3">
          <div class="info-box">
            <div class="col-md-5">
              <img src="images/flamingo.svg" class="img-responsive">
            </div>
            <div class="col-md-7">
              <h3>{{vm.contracts_count}}</h3>
              <h6>Organizations</h6>
            </div>
          </div>
        </div>
      </a>
      <a ui-sref="professionals-own">
        <div class="col-md-3">
          <div class="info-box">
            <div class="col-md-5">
              <img src="images/elephant.svg" class="img-responsive">
            </div>
            <div class="col-md-7">
              <h3>{{vm.professionals_count}}</h3>
              <h6>Professionals</h6>
            </div>
          </div>
        </div>
      </a>
      <a ui-sref="vehicles-own">
        <div class="col-md-3">
          <div class="info-box">
            <div class="col-md-5">
              <img src="images/monkey.svg" class="img-responsive">
            </div>
            <div class="col-md-7">
              <h3>{{vm.fleet_count}}</h3>
              <h6>Fleet</h6>
            </div>
          </div>
        </div>
      </a>
      <a ui-sref="settings-markets">
        <div class="col-md-3">
          <div class="info-box">
            <div class="col-md-5">
              <img src="images/camel.svg" class="img-responsive">
            </div>
            <div class="col-md-7">
              <h3>{{vm.markets_count}}</h3>
              <h6>Users</h6>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<br>


<div class="filter-panel" permission="['PROPERTY_USER', 'RESTAURANT_USER', 'TRANSPORTER_USER', 'PROFESSIONAL_USER']">
  <div class="filter-panel-body">
    <form ng-submit="vm.search()">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <p style="margin-left: 20px; margin-top: 10px">Contracts Issued</p>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>

<!-- end of filter panel  -->
<!-- filter panel managed organizations -->
<div class="filter-panel" ng-show="vm.userPermissions">
  <div class="filter-panel-body">
    <form ng-submit="vm.search()">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <p style="margin-left: 20px; margin-top: 10px">Managed Organizations</p>
          </div>
        </div>
        <div class="col-md-3 pull-right">
          <form name="searchForm" class="form-inline">
            <div class="input-group pull-right">
              <input type="text" class="form-control" ng-model="query" id="searchQuery" placeholder="search Organization">
              <span class="input-group-btn" style="height: 29px;  ">
                <button class="btn btn-primary btn-md waves-effect waves-light " style="font-size: 12px; line-height: 1.37859" ng-click="vm.search(vm.searchQuery)">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- end of filter panel managed organizations  -->
<div class="row" ng-show="vm.currentOrganization.organisationTypeId === 3">
  <br>
  <div class="row" ng-show="vm.noRecordsFound">
    <div class="panel panel-default">
      <div class="panel-body">
        No records found.
      </div>
    </div>
  </div>
</div>

<!--
  BEGIN TOUR OPERATOR DISPLAY
 -->
<div class="row" ng-hide="vm.userPermissions">
  <!-- Contracts cannot be found -->
  <div class="col-md-12" ng-show="vm.contracts.length == 0 || vm.contract_groups.length == 0">
    <div class="panel panel-default">
      <div class="panel-body">
        <div ng-show='vm.isLoading' class="no-records-found">
          Loading contracts.... please wait.
        </div>

        <div ng-hide='vm.isLoading' class="no-records-found">
          No contracts found.
        </div>
      </div>
    </div>
  </div>

  <!-- contracts listing - faeke table -->

  <div ng-show="vm.contract_groups.length > 0">
    <table ng-hide='vm.isLoading || vm.contract_groups.length  == 0' st-table="vm.rowCollectionDisplayed" st-safe-src="vm.contract_groups">
      <tbody>
        <tr>
          <td width="100%">

            <!-- filter panel -->
            <div class="container">
              <div class="filter-panel" permission="['T_OPERATOR_USER']">
                <div class="filter-panel-body">
                  <form ng-submit="vm.search()">
                    <div class="row">
                      <div class="col-md-9">
                        <div class="row">
                          <p style="margin-left: 20px; margin-top: 10px">Contracts By Issuers</p>
                        </div>
                      </div>
                      <div class="col-md-3 pull-right">
                        <form name="searchForm" class="form-inline">
                          <div class="input-group pull-right">
                            <input type="text" class="form-control" st-search id="searchQuery" placeholder="Search Property">
                            <span class="input-group-btn" style="height: 29px;  ">
                              <button class="btn btn-primary btn-md waves-effect waves-light " style="font-size: 12px; line-height: 1.37859" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                              </button>
                            </span>
                          </div>
                        </form>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <!-- panels -->
            <div class="col-sm-6 col-md-3" ng-repeat="contract in vm.rowCollectionDisplayed">
              <div class="thumbnail">
                <img class="img-responsive" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{contract.uuid}}" style="height:170px;width:100%" alt="{{ vm.contract.name }}">
                <div class="caption">
                  <h5>
                    <span style="white-space:nowrap">{{contract.name| lowercase}}</span>
                  </h5>
                  <p>
                    <button ng-show="contract.contractCount > 1" class="btn btn-primary" ui-sref="contracts-own({supplierId: contract.id})">{{contract.contractCount}} contracts </button>
                    <button ng-show="contract.contractCount === 1" class="btn btn-primary" ui-sref="contracts-own({supplierId: contract.id})">{{contract.contractCount}} contract </button>
                    <!-- <a class="btn btn-primary pull-right" role="button" ui-sref="contracts-own({supplierId: contract.id})">View</a> -->
                    <!-- <label class="label label-primary pull-right">{{contract.type}}</label> -->
                  </p>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="9" class="text-center container">
            <div class="saf-pagination" style="min-height: 3rem; padding: 1rem 0rem; ">
              <div st-pagination="" st-items-by-page="8" st-displayed-pages="20">&nbsp;</div>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

</div>



<!--
  OWN CONTRACTS for properties
 -->

<div class="row" ng-hide="vm.userPermissions">
  <div class="col-sm-6 col-md-3" ng-repeat="contract in vm.contracts  | filter:query">
    <div class="thumbnail">
      <img class="img-responsive" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{vm.currentOrganization.uuid}}" alt="{{ contract.name }}">
      <div class="caption">
        <h5>{{contract.name}}</h5>


          <!-- <span ng-class="contract.contentStatus == 'PUBLISHED' ? 'label label-success' : contract.contentStatus == 'UNPUBLISHED' || contract.contentStatus == 'DRAFT' ? 'label label-warning' : 'label label-danger'" class="pull-right" >
              {{contract.contentStatus}}
            </span>  -->
          <p>
            <span ng-show="contract.marketId != null" class="label label-success">
              {{contract.marketName}}
            </span>
            <span ng-show="contract.contentStatus == 'PUBLISHED'" ng-class="contract.contentStatus == 'PUBLISHED'" class="pull-right label label-success">
              Approved
            </span>
            <span ng-show="contract.contentStatus == 'UNPUBLISHED'" ng-class="contract.contentStatus == 'UNPUBLISHED'" class="pull-right label label-danger">
              Un-Approved
            </span>
            <span ng-show="contract.contentStatus == 'DRAFT'" ng-class="contract.contentStatus == 'DRAFT'" class="pull-right label label-warning">
              {{contract.contentStatus}}
            </span>
            <span ng-show="contract.contentStatus == 'DELETED'" ng-class="contract.contentStatus == 'DELETED'" class="pull-right label label-danger">
              {{contract.contentStatus}}
            </span>
          </p>


          <p ng-show="contract.status  == 'DRAFT'">
            <a class="btn btn-primary" role="button" ui-sref="contracts-own-user({ serviceId: contract.serviceId, contractId: contract.id, setId : contract.dimensionSetId, seasonGroupId : contract.seasonGroupId, year : contract.year, versionId:contract.draftVersionId})">View</a>
          </p>
          <p ng-show="contract.status  == 'VALID'">
            <a class="btn btn-primary" role="button" ui-sref="contracts-own-user({ serviceId: contract.serviceId, contractId: contract.id, setId : contract.dimensionSetId, seasonGroupId : contract.seasonGroupId, year : contract.year, versionId:contract.draftVersionId})">View</a>
          </p>
          <p ng-show="contract.status  == 'DELETED'">
            <a class="btn btn-primary" role="button" ui-sref="contracts-own-user({ serviceId: contract.serviceId, contractId: contract.id, setId : contract.dimensionSetId, seasonGroupId : contract.seasonGroupId, year : contract.year, versionId:contract.draftVersionId})">View</a>
          </p>
          <p ng-show="contract.status  == 'PUBLISHED'">
            <a class="btn btn-primary" role="button" ui-sref="contracts-own-user({ serviceId: contract.serviceId, contractId: contract.id, setId : contract.dimensionSetId, seasonGroupId : contract.seasonGroupId, year : contract.year , versionId:contract.publishedVersionId})">View</a>
          </p>

      </div>
    </div>
  </div>
</div>


<!--
  END OWN CONTRACTS for properties
 -->


 <!--
  BEGIN OWN CONTRACTS  - Data Manager  or Chain
 -->
<div class="row" ng-show="vm.userPermissions">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail homeCard">
      <img class="imgHome" ng-src="{{vm.profile_image_url}}{{vm.parentOrganization.uuid}}" alt="{{vm.parentOrganization.name }}">
      <div class="caption">
        <h5>{{vm.parentOrganization.name | uppercase}}</h5>
        <p>Type: {{vm.parentOrganization.organisationTypeName}}</p>
        <p>
          <a class="btn btn-primary btnHome" role="button" ng-click="vm.switchAccount(vm.parentOrganization.id)">Switch</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3" ng-hide="vm.immediateParentOrganization == null || vm.immediateParentOrganization.id == vm.parentOrganization.id">
    <div class="thumbnail homeCard">
      <img class="img-responsive imgHome" ng-src="{{vm.profile_image_url}}{{vm.immediateParentOrganization.uuid}}" alt="{{vm.immediateParentOrganization.name }}">
      <div class="caption">
        <h5>{{vm.immediateParentOrganization.name | uppercase}}</h5>
        <p>Type: {{vm.immediateParentOrganization.organisationTypeName}}</p>
        <p>
          <a class="btn btn-primary btnHome" role="button" ng-click="vm.switchAccount(vm.immediateParentOrganization.id)">Switch</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3" ng-hide="vm.currentOrganization.id == organization.id" ng-repeat="organization in vm.managedOrganisations | filter:query">
    <div class="thumbnail homeCard">
      <img class="img-responsive imgHome" ng-src="{{vm.profile_image_url}}{{organization.uuid}}" alt="{{organization.name }}">
      <div class="caption">
        <h5>{{organization.name | uppercase}}</h5>
        <p>Type: {{organization.organisationTypeName}}</p>
        <p>
          <a class="btn btn-primary btnHome" role="button" ng-click="vm.switchAccount(organization.id)">Switch</a>
        </p>
      </div>
    </div>
  </div>
</div>

<!--
  END OWN CONTRACTS  - Data Manager  or Chain
 -->
