<div ng-cloak>
  <div class="row">
    <div class="container col-md-6 panel col-md-offset-2 panel-body">
      <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.name.$invalid }">
        <label for="name">Organisation Name</label>
        <input type="text" name="name" ng-model="vm.formData.name" class="form-control" required>
        <div ng-messages="form.$submitted && form.name.$error" class="help-block">
          <div ng-message="required">Organisation name is required</div>
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.brief.$invalid }">
        <label for="brief">Brief</label>
        <textarea name="brief" id="brief" cols="30" rows="10" ng-model="vm.formData.brief" class="form-control" required maxlength="200"
          ng-maxlength="200"></textarea>
        <div class="help-block" ng-show="form.brief.$viewValue.length == 200">Maximum length reached.</div>
        <div ng-messages="form.$submitted && form.brief.$error" class="help-block">
          <div ng-message="required">A brief is required</div>
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.description.$invalid }">
        <label for="description">Description</label>
        <textarea name="description" id="description" cols="30" rows="10" ng-model="vm.formData.description" class="form-control"
          required maxlength="1000" ng-maxlength="1000"></textarea>
        <div ng-messages="form.$submitted && form.description.$error" class="help-block">
          <div ng-message="required">A description is required</div>
        </div>
        <div class="help-block" ng-show="form.description.$viewValue.length == 1000">Maximum length reached.</div>
      </div>
      <a ui-sref="org.map" class=" pull-right btn btn-primary">Next: Location</a>
    </div>
  </div>
</div>
