<div ng-cloak>
  <div class="row">
    <div class="container col-md-10 panel panel-body">
      <div class="form-group">
        <label for="orgType">Pick your location</label>
        <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{vm.googleMapsUrl}}">
          <ng-map center="0.8349313860427184,37.4853515625" zoom="4" on-click="vm.getpos($event)">
            <marker position="{{vm.latlng}}" on-dragend="vm.getpos($event)" animation="Animation.BOUNCE" animation="DROP"
              draggable="true"></marker>
          </ng-map>
        </div>
        {{vm.latlng}}
      </div>
      <input type="submit" class="pull-right btn btn-primary" ng-disabled="vm.IsSaving" value="Submit" />
    </div>
  </div>
</div>
