<div ng-cloak>
  <div class="row">
    <div class="container col-md-6 panel panel-body">
      <div class="form-group">
        <label for="orgType">Organisation Type</label>
        <select name="orgType" id="orgType" ng-model="vm.formData.organisation_type" class="form-control">
                <option ng-repeat="org in vm.organisation_types" value="{{org.id}}">{{ org.name}}</option>
        </select>
      </div>
      <a ui-sref="org.details" class=" pull-right btn btn-primary">Next: Details</a>
    </div>
  </div>
</div>
