<!-- https://scotch.io/tutorials/angularjs-multi-step-form-using-ui-router -->
<div ng-cloak>
  <div class="form-area">
    <div class="row">
      <div id="status-buttons" class="text-center">
        <a ui-sref-active="active" ui-sref="org.type"><span>1</span> Organisation Type</a>
        <a ui-sref-active="active" ui-sref="org.details"><span>2</span> Details</a>
        <a ui-sref-active="active" ui-sref="org.map"><span>3</span> Pin the location</a>
      </div>
    </div>

    <div class="container">
      <hr class="col-md-10">
      <form name="form" ng-submit="vm.save()" novalidate>

        <div id="form-views" ui-view></div>
      </form>
    </div>
  </div>
</div>
