<div class="row">
  <div class="col-md-12">
    <ul class="breadcrumb">
      <li ui-sref-active="active">
        <a ui-sref="home">Home</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="settings">Settings</a>
      </li>
      <li ui-sref-active="active">Documents</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <button class="btn btn-primary" ui-sref="settings-documents.new">
        <span class="glyphicon glyphicon-plus"></span>
        <span class="hidden-xs-down">
          Add a Document
        </span>
      </button>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <img class="img-responsive" ng-src="{{vm.profile_image_url}}" alt="{{ vm.account.name }}">
      <div ng-include="'core/routes/settings/settings-menu/settings-menu.html'"></div>
    </div>
  </div>

  <div class="col-md-9" ng-hide="vm.recordsFound">
    <div class="panel panel-default">
      <div class="panel-body">
        No records found.
      </div>
    </div>
  </div>

  <div class="col-md-9" ng-show="vm.recordsFound">
    <div class="row">
      <div class="col-sm-6 col-md-4" ng-repeat="record in vm.records track by record.id">
        <div class="thumbnail">
          <img src="images/image-placeholder.svg" alt="">
          <div class="caption">
            <div class="pull-right">
              <a ui-sref="settings-documents.edit({id: record.id})">
                <h5>
                  <span class="glyphicon glyphicon-pencil"></span>
                </h5>
              </a>
            </div>
            <h5>{{record.name}}</h5>
            <p>{{record.brief}}</p>
            <a href="#" class="btn btn-primary" role="button" ui-sref="settings-documents-detail({id: record.id})">View</a>
            <a href="#" class="btn btn-danger" role="button" ui-sref="settings-documents.delete({id: record.id})">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
