<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myOperatingHoursLabel">{{MealType.organisationName}} Meal Type</h4>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <div class="form-group">
      <label for="field_generalMealTypeName">Meal Type</label>
      <select class="form-control" id="field_generalMealTypeName" name="generalMealTypeName" ng-model="vm.mealType.generalMealTypeId" ng-options="generalMealType.id as generalMealType.name for generalMealType in vm.generalMealTypes">
      </select>
    </div>


    <div class="form-group">
      <label class="control-label" for="field_notes">Notes</label>
      <textarea class="form-control" name="notes" id="field_notes" ng-model="vm.mealType.notes"></textarea>
      <div ng-show="editForm.notes.$invalid">
        <p class="help-block" ng-show="editForm.notes.$error.maxlength">
          This field cannot be longer than 5000 characters.
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
        data-translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
    </button>
  </div>
</form>
