<div>
  <h2><span>Meal Plan</span> {{vm.mealPlan.id}}</h2>
  <hr>
  <jhi-alert-error></jhi-alert-error>
  <dl class="dl-horizontal jh-entity-details">
    <dt><span>Meal Plan Name</span></dt>
    <dd>
      <span>{{vm.mealPlan.generalMealPlanName}}</span>
    </dd>
    <dt><span>Description</span></dt>
    <dd>
      <span>{{vm.mealPlan.description}}</span>
    </dd>
   
  </dl>

  <button type="submit" ui-sref="{{ vm.previousState }}" class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
        </button>
  <button type="button" ui-sref="meal-plans.edit({id:vm.mealPlan.id})" class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="hidden-sm-down"> Edit</span>
        </button>
</div>
