<!-- breadcrumb -->
<form name="editForm" role="form" novalidate ng-submit="vm.save()">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
      <h4 class="modal-title" id="myRoomLabel">Occupancy polices Rules</h4>
    </div>
    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>



    <!-- <div>

        <label><input type="checkbox" ng-model="vm.entity.allowed" ng-click="vm.setIsAllowed()"> Allowed?</label>
        <label><input type="checkbox" ng-model="vm.entity.allowed" ng-click="vm.setIsAllowed()"> Min</label>
        <label><input type="checkbox" ng-model="vm.entity.allowed" ng-click="vm.setIsAllowed()"> Max</label>
    </div> -->
    <div class="row">
        <div class="form-group col-md-12" ng-class="{ 'has-error' : editForm.name.$invalid && !editForm.name.$pristine }">
            <label class="control-label" for="field_name">Description</label>
            <input type="text" class="form-control" name="name" placeholder="Occupancy policy rule" id="field_name" ng-model="vm.entity.description" max="20" required/>
            <div class="help-block" ng-show="!editForm.description.$pristine && editForm.description.$invalid">Occupancy description is required</div>

        </div>
        <!-- <div class="form-group">

            <input type="text" ng-model="vm.entity.description" class="form-control" placeholder="description of the occupancy rule" style="border-radius: 15px;" required />
        </div>  -->
        <div class="form-group col-md-4">
            <!-- <label class="control-label" for="field_isDefault">Allowed?</label> <br />
            <label></label><input type="checkbox" class="form-check-input" ng-model="vm.entity.allowed" ng-click="vm.setIsAllowed()"> -->
            <label class="control-label" for="field_isDefault">Allowed?</label> <br />
          <input type="checkbox" class="form-check-input" ng-model="vm.entity.allowed" ng-click="vm.setIsAllowed()">
        </div>
        <div class="form-group col-md-4">

            <label>Occupancy Limit<input type="text" ng-model="vm.entity.occupantsPattern" class="form-control" min="0" max="100" placeholder="pattern e.g [1-3]" required/></label>
        </div>
        <div class="form-group col-md-4">
            <!-- <label class="control-label" for="field_isDefault">Allowed?</label> <br />
            <label></label><input type="checkbox" class="form-check-input" ng-model="vm.entity.allowed" ng-click="vm.setIsAllowed()"> -->
            <label class="control-label" for="field_isGlobal">Charged Per Room?</label> <br />
          <input type="checkbox" class="form-check-input" ng-model="vm.entity.global" ng-click="vm.setIsGlobal()">
        </div>

        <!-- <div class="form-group col-md-4">

            <label><input type="checkbox" ng-model="vm.entity.allowed" ng-click="vm.setIsAllowed()"> Allowed?</label>
        </div> -->

        <div class="form-group" ng-show="vm.entity.global" >


            <table class="table table-striped table-bordered">
              <thead>
              </thead>
              <tbody>
                <tr ng-repeat="policy in vm.policyRules">


                  <!-- <td>
                      <select class="form-control" ng-model="policy.ageBracket" ng-options="ageLimit.id as (ageLimit.generalAgeBracketName | uppercase) for ageLimit in vm.orgAgeLimits" required>
                        <option value="" selected>Select Age Limit</option>
                        </select>
                  </td>

                  <td>
                      <input type="text" ng-model="policy.pattern" class="form-control" min="0" max="100" placeholder="pattern e.g [1-3]" required/>
                  </td> -->
                  <td >
                      <select class="form-control" ng-model="policy.occupantsBaseRateId" ng-change="vm.setOccupantBaseRateName(policy,policy.occupantsBaseRateId)" ng-options="occupancy.generalRoomOccupancyId as occupancy.abbreviation for occupancy in vm.roomOccupancies" ng-disabled="!vm.entity.allowed">
                          <option value="" selected>Select occupancy</option>
                        </select>
                  </td>
                  <td>
                      <input type="text" ng-model="policy.occupantsRate" class="form-control" min="0" max="100" placeholder="value" ng-disabled="!vm.entity.allowed"/>

                  </td>
                  <td>

                      <select class="form-control" ng-model="policy.occupantsRateType" ng-disabled="!vm.entity.allowed">
                        <option value="" >Select Rate Types</option>
                        <option ng-repeat="rateType in vm.rateTypes" value="{{rateType}}" >{{rateType}}</option>
                        </select>

                  </td>


                  <td ng-hide="vm.viewRules">
                    <button ng-hide="policy.id != null" class="btn btn-danger" ng-click="vm.removePolicy($index)">X</button>
                  </td>
                </tr>
              </tbody>
            </table>


          </div>
      <div class="form-group" ng-show="!vm.entity.global" >


        <table class="table table-striped table-bordered">
          <thead>
          </thead>
          <tbody>
            <tr ng-repeat="policy in vm.policyRules">


              <td>
                  <select class="form-control" ng-model="policy.ageBracket" ng-options="ageLimit.id as (ageLimit.generalAgeBracketName | uppercase) for ageLimit in vm.orgAgeLimits" ng-required="!vm.entity.global">
                    <option value="" selected>Select Age Limit</option>
                    </select>
              </td>

              <td>
                  <input type="text" ng-model="policy.pattern" class="form-control" min="0" max="100" placeholder="pattern e.g [1-3]" ng-required="!vm.entity.global"/>
              </td>
              <td >
                  <select class="form-control" ng-model="policy.baseRateId" ng-change="vm.setBaseRateName(policy,policy.baseRateId)" ng-options="occupancy.generalRoomOccupancyId as occupancy.abbreviation for occupancy in vm.roomOccupancies" ng-disabled="!vm.entity.allowed">
                      <option value="" selected>Select occupancy</option>
                    </select>
              </td>
              <td>
                  <input type="text" ng-model="policy.rate" class="form-control" min="0" max="100" placeholder="value" ng-disabled="!vm.entity.allowed"/>

              </td>
              <td>

                  <select class="form-control" ng-model="policy.rateType" ng-disabled="!vm.entity.allowed">
                    <option value="" >Select Rate Types</option>
                    <option ng-repeat="rateType in vm.rateTypes" value="{{rateType}}" >{{rateType}}</option>
                    </select>

              </td>


              <td ng-hide="vm.viewRules">
                <button ng-hide="policy.id != null" class="btn btn-danger" ng-click="vm.removePolicy($index)">X</button>
              </td>
            </tr>
          </tbody>
        </table>


      </div>
    </div>
     <div class="row" ng-hide="vm.viewRules || vm.entity.global">
        <div class="col-md-2">
            <button type="button" class="btn btn-default" ng-click="vm.addPolicyRules()" style="margin-bottom:10px;" >
                <span class="glyphicon glyphicon-plus"></span>&nbsp; Row</button>
          </div>
     </div>

    </div>
    <div class="modal-footer">
      <button ng-show="vm.viewRules" type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
        <span data-translate="entity.action.cancel">Close</span>
      </button>
      <button ng-hide="vm.viewRules"  type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
          <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
          <span data-translate="entity.action.cancel">Cancel</span>
        </button>
      <button ng-hide="vm.viewRules" type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;
        <span data-translate="entity.action.save">Save</span>
      </button>
    </div>
  </form>
