<!-- breadcrumb -->
<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="settings">Settings</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="settings-services">Services</a>
            </li>
            <li ui-sref-active="active" class="active">{{vm.entity.name}}</li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="breadcrumb-btns">
            <ul class="nav nav-pills pull-right">

              <li class="pull-left">
                <button class="btn btn-default btn-sm" ui-sref="service-dimension-sets.new">
                  <span class="glyphicon glyphicon-plus-sign"></span>
                  <span class="hidden-xs-d">
                    Rate Structure
                  </span>
                </button>
              </li>

              &nbsp;

              <li class="pull-right">
                <button class="btn btn-danger btn-sm" ui-sref="service-detail.delete({id: vm.entity.id})">
                  <span class="hidden-xs-d">
                    <span class="glyphicon glyphicon-trash"></span>
                  </span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<!-- breadcrump -->
<div class="row">

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="image-container">
        <img class="img-responsive" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{vm.entity.uuid}}" alt="{{ vm.entity.name }}">
        <a ui-sref="service-detail.profile" class="icon-choose-image">
          <img src="images/camera.png">
        </a>
      </div>
      <div class="panel-body">
        <h4>{{vm.entity.name}}</h4>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="service-detail({id: vm.entity.id})">Overview</a>
        </li>
         <li ui-sref-active="active" role="presentation">
          <a ui-sref="inclusions({serviceId: vm.entity.id})">Service Inclusions</a>
        </li>
          <!-- <li ui-sref-active="active" role="presentation">
            <a ui-sref="service-galleries({id: vm.entity.id})">Gallery</a>
          </li> -->
      </ul>
    </div>
  </div>


  <div class="col-md-9">

    <div class="panel panel-default">

      <div class="row">
        <div class="col-md-8 border-right">

          <div class="panel-body">
            <div class="pull-right">
              <a ui-sref="service-detail.edit({id:vm.entity.id})">
                <h3>
                  <span class="glyphicon glyphicon-pencil"></span>
                </h3>
              </a>
            </div>
            <h2>{{vm.entity.name}}</h2>

            <br><br>

            <p>{{vm.entity.brief}}</p>
          </div>

        </div>



        <div class="col-md-4">

          <table class="table statusTable">
            <tr>
              <td>
                <strong>Status</strong>
              </td>
              <td>
                {{vm.entity.contentStatus}}
              </td>
            </tr>
          </table>

        </div>

      </div>

    </div>


    <div class="" ng-show="vm.entities">
      <div class="row">
        <div ng-repeat="item in vm.entities" class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5><strong class="uppercaseName">{{item.name}}</strong> {{item.year}} - has Default?{{item.isDefault}}
              </h5>
            </div>
            <div class="panel-body">
              <div ng-repeat=" dimension in item.dimensionDTOList">
                <label> {{dimension.number}}. {{ dimension.dimensionName}} - {{dimension.type}} - has Default?
                  {{dimension.hasDefault}} </label>
                <br>
                <br>
              </div>

              <!-- <ol>
                            <li ng-repeat=" dimension in item.dimensionDTOList">{{ dimension.dimensionName}} - {{dimension.type}}</li>
                          </ol> -->
            </div>
            <div class="panel-footer">
              <!-- <a href="#" class="btn btn-primary" role="button" ui-sref="service-dimension-sets.newContract({serviceId: vm.serviceId, dimenId: item.id})">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="hidden-xs-down">
                  Create Contract
                </span>
              </a> -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                ng-click="vm.getDimensionSets(item.id, item.name)">
                <span class="glyphicon glyphicon-sort"></span> Sort
              </button>
              <button class="pull-right btn btn-primary" ui-sref="service-dimension-sets.edit({editId: item.id})">
                <span class="glyphicon glyphicon-pencil">
                  <span class="hidden-xs-d"> Edit</span>
                </span>
              </button>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{vm.currentSetName}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="">
                      <div ui-sortable="vm.sortableOptions" ng-model="vm.currentSet" class="vm.currentSet">
                        <div ng-repeat="set in vm.currentSet">
                          <fieldset>
                            <label>{{set.number}}. {{ set.dimensionName}} - {{set.type}} - has Default?
                              {{set.hasDefault}} </label>
                          </fieldset>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary pull-left" data-dismiss="modal">Close</button>
                    <button ng-show="vm.isSorted" type="button" class="btn btn-primary" data-dismiss="modal"
                      ng-click="vm.updateDimensionSets()">Save changes</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>



  </div>


</div>
