<!-- breadcrumb -->
<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="settings">Settings</a>
            </li>
            <li ui-sref-active="active">Services</li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="breadcrumb-btns">
            <ul class="nav nav-pills pull-right">
              <li>
                <button class="btn btn-default btn-sm" ui-sref="settings-services.new">
                  <span class="glyphicon glyphicon-plus-sign"></span>
                  <span class="hidden-xs-down">
                    Add Service
                  </span>
                </button>
              </li>
              <li>
                <div ng-include="'core/routes/settings/settings-menu/settings-navbar.html'"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <!-- <img class="img-responsive" ng-src="{{vm.profile_image_url}}" alt="{{ vm.account.name }}"> -->
      <div ng-include="'core/routes/settings/settings-menu/settings-menu.html'"></div>
    </div>
  </div>

  <div class="col-md-9" ng-hide="vm.recordsFound">
    <div class="panel panel-default">
      <div class="panel-body">
        No records found.
      </div>
    </div>
  </div>

  <div class="col-md-9" ng-show="vm.recordsFound">
    <div class="row">

      <div class="col-sm-6 col-md-4" ng-repeat="record in vm.records track by record.id">
        <div class="thumbnail">
          <!-- <img class="img-responsive imgServices" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{record.uuid}}"
            alt="{{ vm.record.name }}"> -->
          <div class="caption">
            <div class="pull-right">
              <a ui-sref="settings-services.edit({id:record.id})">
                <h5>
                  <span class="glyphicon glyphicon-pencil"></span>
                </h5>
              </a>
            </div>
            <h4 class="uppercaseName">{{record.name}}</h4>
            <br>
            <hr>

            <h5><strong>DESCRIPTION </strong></h5>
            <p class="capitalize">{{record.description}}</p>

            <hr>

            <h5 class="text-left"> <a class="notes" data-toggle="collapse"
                href="routes/services/services.html/#multiCollapseExample{{$index}}" role="button" aria-expanded="false"
                aria-controls="multiCollapseExample">
                <strong>NOTES</strong> <span class="glyphicon glyphicon-chevron-down"></span></a></h5>

            <div class="collapse multi-collapse capitalize" id="multiCollapseExample{{$index}}">
              <div class="card card-body">
                {{record.notes}}
              </div>
            </div>

            <br>



            <p>
              <a href="#" class="btn btn-primary" role="button" ui-sref="service-detail({id: record.id})">View</a>

              <a href="#" class="btn btn-danger pull-right" role="button"
                ui-sref="settings-services.delete({id: record.id})">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
