<!-- breadcrumb -->
<div class="row">
  <div class="container-fluid">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="col-md-7">
        <ul class="breadcrumb">
          <li ui-sref-active="active">
            <a ui-sref="home">Home</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="contracts-own">Contracts</a>
          </li>
          <li ui-sref-active="active" class="active" ng-show="vm.contract.type == 'CONTRACT'" style="font-weight:bold; color: green ">{{vm.shortenName(vm.contract.name)}}</li>
          <li ui-sref-active="active" class="active" ng-show="vm.contract.type == 'PUBLISHED'" style="font-weight:bold; color: brown ">{{vm.shortenName(vm.contract.name)}}</li>
          <!-- {{vm.previousState}} -->
        </ul>
      </div>
      <div class="col-md-5">
        <div class="breadcrumb-btns">
          <ul class="nav nav-pills pull-right">

            <li permission="['ORGANISATION_ADMIN']">
              <button ng-hide="vm.isManage" type="button" class="btn btn-info btn-sm" ng-click="vm.manage()">
                <i class="glyphicon glyphicon-cog"></i>
                <span> Manage </span>
              </button>
              <!-- <button ng-show="vm.isManage" type="button" class="btn btn-info btn-sm" ng-click="vm.manage()">
                <i class="glyphicon glyphicon-eye-open"></i>
                <span> Read Only </span>
              </button> -->
            </li>

            <li ng-show="vm.isManage && vm.showPublishedBtn">
              <button ng-show="vm.previousState == 'cost-contracts-detail'" type="button" class="btn btn-info btn-sm" ui-sref="cost-contracts-detail.statusUpdate({contractId: vm.contract.id, setId : vm.contract.dimensionSetId, status: 'PUBLISHED', year: vm.contract.year})">
                <i class="glyphicon glyphicon-ok-circle"></i> Publish </button>
              <button ng-show="vm.previousState == 'contracts-own-detail'" type="button" class="btn btn-info btn-sm" ui-sref="contracts-own-detail.statusUpdate({contractId: vm.contract.id, setId : vm.contract.dimensionSetId, status: 'PUBLISHED', year: vm.contract.year})">
                <i class="glyphicon glyphicon-ok-circle"></i> Publish </button>
            </li>

            <li ng-show="vm.isManage && vm.showValidateBtn">
              <button type="button" class="btn btn-warning btn-sm" ui-sref="cost-contracts-detail.statusUpdate({contractId: vm.contract.id, setId : vm.contract.dimensionSetId,status: 'VALID', year: vm.contract.year,versionId: vm.contract.displayedVersion.id})">
                <i class="glyphicon glyphicon-ok-circle"></i> Validate </button>
              <!-- <button ng-show="vm.previousState == 'contracts-own-detail'" type="button" class="btn btn-warning btn-sm" ui-sref="contracts-own-detail.statusUpdate({contractId: vm.contract.id, setId : vm.contract.dimensionSetId,status: 'VALID', year: vm.contract.year})">
                <i class="glyphicon glyphicon-ok-circle"></i> Validate </button> -->

            </li>

            <li ng-show="vm.isManage && vm.showDraftBtn">
              <button ng-show="vm.previousState == 'cost-contracts-detail'" type="button" class="btn btn-warning btn-sm" ui-sref="cost-contracts-detail.statusUpdate({contractId: vm.contract.id, setId : vm.contract.dimensionSetId,status: 'DRAFT', year: vm.contract.year})">
                <i class="glyphicon glyphicon-remove"></i> TO DRAFT </button>
              <button ng-show="vm.previousState == 'contracts-own-detail'" type="button" class="btn btn-warning btn-sm" ui-sref="contracts-own-detail.statusUpdate({contractId: vm.contract.id, setId : vm.contract.dimensionSetId,status: 'DRAFT', year: vm.contract.year})">
                <i class="glyphicon glyphicon-remove"></i> TO DRAFT </button>

            </li>

            <li ng-show="vm.isManage && vm.showCopyBtn">
              <button type="button" class="btn btn-info btn-sm" ui-sref="contracts-own-copy({contractId: vm.contract.id, setId: vm.contract.dimensionSetId,supplierId:vm.contract.supplierId, year: vm.contract.year})">
                <i class="glyphicon glyphicon-copy"></i> Copy </button>
            </li>
            <li ng-show="vm.isManage && vm.showNewVersionBtn">
              <button type="button" class="btn btn-default btn-sm" ui-sref="contracts-own-newVersion({contractId: vm.contract.id, setId: vm.contract.dimensionSetId,supplierId:vm.contract.supplierId, year: vm.contract.year})">
                <i class="glyphicon glyphicon-plus-sign"></i> Version</button>
            </li>
            <li ng-show="vm.isManage && vm.showDeleteVersionBtn">
              <button type="button" class="btn btn-danger btn-sm" ui-sref="cost-contracts-detail.statusUpdate({contractId: vm.contract.id, setId : vm.contract.dimensionSetId,status: 'DELETED', year: vm.contract.year})">
                <i class="glyphicon glyphicon-trash"></i> Version</button>
            </li>
            <li ng-show="vm.isManage && vm.showDeleteContractVersionBtn">
              <button type="button" class="btn btn-danger btn-sm" ui-sref="contracts-own-detail.delete({contractId: vm.contract.id, status: vm.contract.contentStatus, year : vm.contract.year, setId: vm.contract.dimensionSetId})">
                <i class="glyphicon glyphicon-trash"></i>
              </button>
            </li>
            <li style="display: inline;" ng-show="isManage" uib-dropdown="" class="dropdown pointer" aria-hidden="false">
              <a id="account-menu" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                <span class="round-button dashboard-link glyphicon glyphicon-option-vertical"></span>
              </a>

              <!-- drop down list -->
              <ul class="dropdown-menu dropdown-menu-style" uib-dropdown-menu="">
                <li ui-sref-active="active">
                  <a ui-sref="home.editPanel({id:panel.id})" href="#//92/editPanel">
                    <span class="glyphicon glyphicon-edit"></span>&nbsp;
                    <span>Edit Panel</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li ui-sref-active="active">
                  <a ui-sref="home.deletePanel({id: vm.panel.id})" ng-click="vm.collapseNavbar()" href="#//92/deletePanel">
                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;
                    <span>Delete Panel</span>
                  </a>
                </li>
              </ul>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of breadcrumb -->


<div class="row">
  <!-- begin of left main div  -->
  <div class="col-md-8">
    <!-- BEGIN Basic information div  -->
    <div class="panel panel-default">
      <div class="panel-heading fadeBrown">
        <div class="pull-right">
          <button ng-show="vm.isManage && vm.showEditBtn" type="button" ui-sref="contracts-own-detail.editContract({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, year: vm.contract.year})"
            class="btn btn-primary btn-xs">
            <span class="glyphicon glyphicon-edit"></span> Edit</button>
        </div>
        <strong ng-show="!vm.showBanner"> Basic Information </strong>
        <strong ng-show="vm.showBanner && vm.contract.publishedVersionId == null"> Basic Information </strong>

        <div ng-show="vm.showBanner && vm.contract.publishedVersionId != null">
          <strong ng-show="vm.contract.displayedVersion.id !=vm.contract.publishedVersionId && vm.previousState == 'cost-contracts-detail'">
            Basic Information
            <span ng-show="true">
              <a ui-sref="cost-contracts-detail({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, year: vm.contract.year,versionId:vm.contract.displayedVersion.id,seasonGroupId:vm.currentPublished.seasonGroupId})">View PUBLISHED
              </a>
            </span>
          </strong>
          <strong ng-show="vm.contract.displayedVersion.id !=vm.contract.publishedVersionId && vm.previousState == 'contracts-own-detail'">
            Basic Information
            <span ng-show="true">
              <a ui-sref="contracts-own-detail({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, year: vm.contract.year,versionId:vm.contract.displayedVersion.id,seasonGroupId:vm.currentPublished.seasonGroupId})">View PUBLISHED
              </a>
            </span>
          </strong>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>
                <strong>Year :</strong>
              </td>
              <td>{{vm.contract.year}}
                <span class="label label-info">({{vm.contract.startDate}} - {{vm.contract.endDate}}) </span>
              </td>
              <td>
                <strong>Type :</strong>
              </td>
              <td>
                <span class="label label-success">{{vm.contract.type}}</span>
              </td>
              <!-- <td ng-show="vm.exclusiveContractParameters.length == 2"> <span class="label label-success">{{vm.contract.type}}</span> For <span class="label label-info"> {{vm.contract.objectType}}</span> </td> -->

            </tr>
            <tr ng-show="vm.exclusiveContractParameters.length == 1">
              <td>
                <strong>{{vm.exclusiveContractParameters[0].dimensionType}} :</strong>
              </td>
              <td>
                <span class="label label-warning">{{vm.exclusiveContractParameters[0].selectedName}}</span>
              </td>
              <td>
                <strong>Currency</strong>: </td>
              <td>
                <span class="label label-info">{{vm.contract.currencyAbbreviation}}</span>
              </td>

            </tr>

            <tr ng-show="vm.exclusiveContractParameters.length == 2">
              <td>
                <strong>{{vm.exclusiveContractParameters[0].dimensionType}} :</strong>
              </td>
              <td>
                <span class="label label-warning">{{vm.exclusiveContractParameters[0].selectedName}}</span>
              </td>
              <td>
                <strong>Currency :</strong>
              </td>
              <td>
                <span class="label label-success">{{vm.contract.currencyAbbreviation}}</span>
              </td>

            </tr>

            <tr ng-show="vm.exclusiveContractParameters.length == 2">
              <td>
                <strong>{{vm.exclusiveContractParameters[1].dimensionType}} :</strong>
              </td>
              <td>
                <span class="label label-warning">{{vm.exclusiveContractParameters[1].selectedName}}</span>
              </td>
              <td>
                <strong>For :</strong>
              </td>
              <td>
                <span class="label label-info">{{vm.contract.objectType}}</span>
              </td>

            </tr>

            <tr>
              <td>
                <strong>Between :</strong>
              </td>
              <td>{{vm.contract.targetName}}
                <strong>&</strong> {{vm.contract.supplierName}} </td>

              <td>
                <strong>Issued By :</strong>
              </td>
              <td>
                <span>
                  {{vm.contract.issuerName}}
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Status :</strong>
              </td>
              <td>
                <span class="label label-success">{{vm.contract.displayedVersion.status}}</span>
              </td>
              <td>
                <strong>Reason :</strong>
              </td>
              <td>
                <!-- <span class="label label-success">{{vm.contract.displayedVersion.statusReason}}</span>  -->

                <span class="label label-default circularLabel" data-placement="right" data-toggle="popover" data-trigger="hover" data-content="{{vm.contract.displayedVersion.statusReason == null ? 'no notes' : vm.contract.displayedVersion.statusReason}} ">??</span>

                <script>
                  $(document).ready(function () {
                    $('[data-toggle="popover"]').popover();
                  });

                </script>

              </td>


            </tr>

            <tr>
              <td>
                <strong>Created On :</strong>
              </td>
              <td>{{vm.contract.createdOn}} </td>
              <td>
                <strong>Created By :</strong>
              </td>
              <td>{{vm.contract.createdBy}} </td>
            </tr>
            <tr>
              <td>
                <strong>Updated On :</strong>
              </td>
              <td>{{vm.contract.displayedVersion.lastUpdatedOn}} </td>
              <td>
                <strong>Updated By :</strong>
              </td>
              <td>{{vm.contract.displayedVersion.lastUpdatedBy}} </td>
            </tr>
            <tr>
              <td>
                <strong>published On :</strong>
              </td>
              <td>{{vm.contract.displayedVersion.publishedOn}} </td>
              <td>
                <strong>Published By :</strong>
              </td>
              <td>{{vm.contract.displayedVersion.publishedBy}} </td>
            </tr>

            <!-- some work needs to be done to dispaly the dimension name and existence name as opposed to id -->
            <tr ng-repeat="group in  vm.dimensionNotExclusiveParameterGroups">
              <td ng-repeat="parameter in  group">
                <span ng-show="parameter.type  == 'parameter'">{{vm.resolveDimensionNameByType(parameter.value)}}</span>
                <span ng-show="parameter.type  == 'value'">{{vm.resolveExistenceName(parameter.dimensionType, parameter.value)}}
                </span>
              </td>
            </tr>
            <!-- Exclusive DIms -->

          </tbody>
        </table>
      </div>
    </div>
    <!-- END Basic information div  -->
    <!-- BEGIN Rates information div  -->
    <!--  -->
    <div class="panel panel-default" ng-repeat="existenceIn5 in  vm.basicDimension5.existenceDTOList">
      <div class="panel-heading fadeBrown">
        <div class="pull-right" ng-show="vm.isManage && vm.showEditBtn">
          <button ng-show="!vm.isRatesEdit" type="button" class="btn btn-primary btn-xs" ng-click="vm.editRates()">
            <span class="glyphicon glyphicon-edit"></span> Edit</button>
          <button ng-show="vm.isRatesEdit" type="button" ng-click="vm.saveRates()" class="btn btn-primary btn-xs">
            <span class="glyphicon glyphicon-edit"></span> Save</button>
        </div>
        <strong>
          <span ng-hide="vm.basicDimension5.dimensionType == 'DUMMY'">{{existenceIn5.name}} </span>Rates</strong>
      </div>
      <div class="table-responsive">
        <table st-table="vm.rowCollectionDisplayed" class="table table-striped" ng-repeat="existenceIn4 in  vm.basicDimension4.existenceDTOList">
          <thead ng-show="vm.isFirstExistence(vm.basicDimension4.existenceDTOList, existenceIn4)">
            <tr>
              <th ng-hide="vm.basicDimension4.dimensionType == 'DUMMY'">{{vm.basicDimension4.dimensionName}}</th>
              <th ng-hide="vm.basicDimension3.dimensionType == 'DUMMY'">{{vm.basicDimension3.dimensionName}}</th>
              <th>{{vm.basicDimension2.dimensionName}}</th>
              <th ng-repeat="parameter in vm.basicParameters">{{vm.resolveDimensionNameByType(parameter.parameter)}}
              </th>
              <th ng-repeat="parameter in vm.dimensionExclusiveParameters">
                {{vm.resolveDimensionNameByType(parameter.parameter)}}</th>
              <th ng-repeat="existenceIn1 in  vm.basicDimension1.existenceDTOList">{{existenceIn1.name}}</th>
            </tr>
          </thead>
          <tbody ng-repeat="existenceIn3 in  vm.basicDimension3.existenceDTOList">
            <tr ng-repeat="existenceIn2 in  vm.basicDimension2.existenceDTOList">
              <td width="25%" ng-hide="vm.basicDimension4.dimensionType == 'DUMMY'">
                <span ng-show="vm.isFirstExistence(vm.basicDimension3.existenceDTOList, existenceIn3) && vm.isFirstExistence(vm.basicDimension2.existenceDTOList, existenceIn2)">{{existenceIn4.name}}</span>
                &nbsp;
              </td>
              <td width="20%" ng-hide="vm.basicDimension3.dimensionType == 'DUMMY'">
                <span ng-show="vm.isFirstExistence(vm.basicDimension2.existenceDTOList, existenceIn2)">{{existenceIn3.name}}</span>
                &nbsp;
              </td>
              <td>{{existenceIn2.name}}</td>
              <td contenteditable ng-repeat="parameter in vm.basicParameters">
                {{vm.resolveExistenceName(parameter.parameter, parameter.value)}}</td>
              <td ng-repeat="parameter in vm.dimensionExclusiveParameters">
                {{vm.resolveExistenceName(parameter.parameter, parameter.value)}}</td>
              <td contenteditable ng-repeat="existenceIn1 in  vm.basicDimension1.existenceDTOList" width="{{40/vm.basicDimension1.existenceDTOList.length}}%">
                <span ng-hide="vm.isRatesEdit">
                  <span ng-show="vm.ratesMap[vm.generateRateKey(existenceIn1.id, existenceIn2.id, existenceIn3.id,existenceIn4.id, existenceIn5.id)].value">
                    <span ng-bind-html="vm.contract.currencySymbol"></span>
                    {{vm.ratesMap[vm.generateRateKey(existenceIn1.id, existenceIn2.id, existenceIn3.id,existenceIn4.id, existenceIn5.id)].value}}
                  </span>
                  <span ng-hide="vm.ratesMap[vm.generateRateKey(existenceIn1.id, existenceIn2.id, existenceIn3.id,existenceIn4.id, existenceIn5.id)].value">
                    N/A
                  </span>
                </span>
                <input ng-show="vm.isRatesEdit" class="form-control text-right" style="padding: 0px 5px;" type="number" min="0" width="2rem"
                  ng-model="vm.ratesMap[vm.generateRateKey(existenceIn1.id, existenceIn2.id, existenceIn3.id,existenceIn4.id, existenceIn5.id)].value">
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <!-- END Rates information div  -->

    <!-- Supplements information div  -->
    <div class="panel panel-default" ng-repeat="dimension in  vm.supplementDimensions">
      <div class="panel-heading fadeBrown">
        <div class="pull-right">
          <button ng-show="vm.isManage && vm.showEditBtn" type="button" ui-sref="contracts-own-detail.newSupplement({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, dimensionId:dimension.dimensionId, currencyId: vm.contract.currencyId, organisationId: vm.contract.issuerId, dimensionType:dimension.dimensionType, year: vm.contract.year,versionId: vm.contract.displayedVersion.id})"
            class="btn btn-primary btn-xs">
            <span class="glyphicon glyphicon-plus"></span> Add Supplement</button>
        </div>
        <strong>{{dimension.dimensionName}} Supplements</strong>
        <strong ng-show="dimension.dimensionType === 'MEAL_PLAN' ">/Credits</strong>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <th>Name</th>
            <th ng-show="dimension.dimensionType === 'SPECIAL_DAY' ">Dates</th>
            <th>Billing Type</th>
            <th>Unit</th>
            <th class="text-right">Value</th>
            <th ng-show="vm.isManage">Actions</th>
          </thead>
          <tbody>
            <tr ng-repeat="supplement in vm.filterSupplements(dimension.dimensionType)">
              <td>
                {{supplement.name}}
                <span ng-show="supplement.dimensionCount > 1">For {{vm.resolveExistenceName(supplement.dimensionType1,supplement.existence1)}}
                </span>
              </td>
              <td ng-show="supplement.dimensionType1 === 'SPECIAL_DAY'">
                <span class="badge" ng-show="supplement.description !== null">{{supplement.description}}</span>
                <span class="btn btn-danger  btn-xs" ng-show="supplement.description === null" ng-click="vm.updateSpecialSeasonDates(supplement)">update</span>
              </td>
              <td>{{supplement.billingType}}</td>
              <td ng-show="supplement.unit === 'INDIVIDUAL'">Per Person</td>
              <td ng-hide="supplement.unit === 'INDIVIDUAL'">{{supplement.unit}}</td>
              <td style="direction: ltr;text-align: right">
                <span ng-bind-html="supplement.currencySymbol"></span>
                <span class="badge">{{vm.checkIfCredit(supplement)}}</span>
              </td>
              <td>
                <div ng-show="vm.isManage" class="btn-group pull-right" role="group" aria-label="...">
                  <button class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editSupplement({contractId: vm.contract.id, setId: vm.contract.dimensionSetId,organisationId: vm.contract.issuerId,supplementId: supplement.id, year:vm.contract.year})">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                  <button class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteSupplement({contractId: vm.contract.id, setId: vm.contract.dimensionSetId,type: 'BASIC',supplementId: supplement.id, year:vm.contract.year})">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </div>
              </td>
            </tr>
            <tr ng-show="vm.filterSupplements(dimension.dimensionType).length ==0">
              <td colspan="5" class="text-center">No records found</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Supplements information div  -->


    <!-- BEGIN extras -->
    <div class="panel panel-default">
      <div class="panel-heading fadeBrown">
        <div class="pull-right">
          <button ng-show="vm.isManage && vm.showEditBtn" type="button" ui-sref="contracts-own-detail.newSupplement({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, dimensionId: -1, currencyId: vm.contract.currencyId, organisationId: vm.contract.issuerId, dimensionType:-1, year: vm.contract.year,versionId: vm.contract.displayedVersion.id})"
            class="btn btn-xs btn-primary">
            <span class="glyphicon glyphicon-plus"></span>Add Extras</button>
        </div>
        <strong>Extras</strong>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <th>Name</th>
            <th>Billing Type</th>
            <th>Unit</th>
            <th>Value</th>
            <th>Mandatory? </th>
            <th ng-show="vm.isManage">Actions</th>
          </thead>
          <tbody>
            <tr ng-repeat="supplement in vm.filterSupplements(dimension.dimensionId)">
              <td>
                {{supplement.name}}
                <span ng-show="supplement.dimensionCount > 1">For {{vm.resolveExistenceName(supplement.dimensionType2,supplement.existence2)}}
                </span>
              </td>
              <td>{{supplement.billingType}}</td>
              <td ng-show="supplement.unit === 'INDIVIDUAL'">Per Person</td>
              <td ng-hide="supplement.unit === 'INDIVIDUAL'">{{supplement.unit}}</td>
              <td>
                <span ng-bind-html="supplement.currencySymbol"></span> {{supplement.value}}</td>
              <td>{{supplement.mandatory}}</td>
              <td ng-show="vm.isManage">
                <div class="btn-group pull-right" role="group" aria-label="...">
                  <button class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editSupplement({contractId: vm.contract.id, setId: vm.contract.dimensionSetId,organisationId: vm.contract.issuerId,supplementId: supplement.id, year:vm.contract.year})">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                  <button class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteSupplement({contractId: vm.contract.id, setId: vm.contract.dimensionSetId,type: 'BASIC',supplementId: supplement.id, year:vm.contract.year})">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </div>
              </td>
            </tr>
            <tr ng-show="vm.filterSupplements(dimension.dimensionId).length ==0">
              <td colspan="6" class="text-center">No records found</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- END Extras -->

  </div>
  <!-- begin of left main div  -->

  <div class="col-md-4">
    <!-- BEGIN rate resolution panel -->
    <div class="panel panel-default">
      <div class="panel-heading fadeBrown">
        <strong>Cost Calculator</strong>
      </div>
      <div class="panel-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-6" for="test">Travel Date *</label>
            <div class="col-sm-6">
              <input class="form-control" type="date" ng-model="vm.tripRateDTO.startDate" required />
            </div>
          </div>

          <!-- list all dimensions that can be selected from contract -->
          <div ng-hide="dimension.dimensionType == 'ROOM_OCCUPANCY' || dimension.dimensionType == 'SEASON' || dimension.dimensionType == 'DAY_BAND' || dimension.dimensionType == 'AGE_LIMIT' || dimension.dimensionType == 'SPECIAL_DAY'"
            class="form-group" ng-repeat="dimension in vm.dimensionSet">
            <label class="col-sm-6" for="test">{{dimension.dimensionName}}: </label>
            <div class="col-sm-6">
              <select class="form-control" name="type" ng-model="dimension.formValue" required>
                <option ng-selected="vm.compareWithoutType(object.id,dimension.formValue)" ng-repeat="object in dimension.existenceDTOList "
                  value="{{object.id}}">
                  {{object.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group" ng-repeat="existence in vm.getDimension(vm.dimensionSet, 'AGE_LIMIT').existenceDTOList">
            <label class="col-sm-6" for="test"> {{existence.name}} ({{existence.brief}} )</label>
            <div class="col-sm-6">
              <input class="form-control" type="number" ng-model="existence.formValue" required />
            </div>
          </div>

          <div class="col-md-12 text-right">
            <button class="btn btn-primary" ng-click="vm.ratesResolve()">Calculate</button>
          </div>
        </form>
      </div>
    </div>
    <!-- END rate resolution panel -->


    <!-- BEGIN rate resolution result panel -->
    <div class="panel panel-info" ng-show="vm.tripRateDTOResp">
      <div class="panel-heading fadeBrown">
        <strong>Resolution Results</strong>
      </div>

      <div class="panel-body" ng-show="vm.tripRateDTOResp.dayRateDTOList[0].serviceRateDTOList[0].unitRateDTOList[0].statusReason">
        <p>
          Status: {{vm.tripRateDTOResp.dayRateDTOList[0].serviceRateDTOList[0].unitRateDTOList[0].status}}
        </p>
        <p>
          Reason: {{vm.tripRateDTOResp.dayRateDTOList[0].serviceRateDTOList[0].unitRateDTOList[0].statusReason}}
        </p>
      </div>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Age</th>
              <th class="text-right">V.</th>
              <th class="text-right">S.</th>
              <th class="text-right">D.</th>
              <th class="text-right">Total</th>
          </thead>
          <tbody ng-repeat="person in vm.tripRateDTOResp.dayRateDTOList[0].serviceRateDTOList[0].unitRateDTOList[0].personRateDTOList">
            <tr>
              <td>{{$index+1}}</td>
              <td>{{person.ageBracketType}} </td>
              <td class="text-right">
                <span ng-bind-html="vm.contract.currencySymbol"></span>{{vm.truncate(person.contractValue,2)}} </td>
              <td class="text-right">
                <span ng-bind-html="vm.contract.currencySymbol"></span> {{vm.truncate(person.supplementValue,2)}} </td>
              <td class="text-right">
                <span ng-bind-html="vm.contract.currencySymbol"></span> {{vm.truncate(person.discountValue,2)}} </td>
              <td class="text-right">
                <span ng-bind-html="vm.contract.currencySymbol"></span>{{vm.truncate(person.totalValue,2)}} </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th>Total</th>
              <th> &nbsp; </th>
              <th class="text-right">
                <span ng-bind-html="vm.contract.currencySymbol"></span>
                {{vm.truncate(vm.tripRateDTOResp.dayRateDTOList[0].serviceRateDTOList[0].unitRateDTOList[0].contractValue,2)}}
              </th>
              <th class="text-right">
                <span ng-bind-html="vm.contract.currencySymbol"></span>
                {{vm.truncate(vm.tripRateDTOResp.dayRateDTOList[0].serviceRateDTOList[0].unitRateDTOList[0].totalSupplementValue,2)}}
              </th>
              <th class="text-right">
                <span ng-bind-html="vm.contract.currencySymbol"></span>
                {{vm.truncate(vm.tripRateDTOResp.dayRateDTOList[0].serviceRateDTOList[0].unitRateDTOList[0].totalDiscountValue,2)}}
              </th>
              <th class="text-right">
                <span ng-bind-html="vm.contract.currencySymbol"></span>
                {{vm.truncate(vm.tripRateDTOResp.dayRateDTOList[0].serviceRateDTOList[0].unitRateDTOList[0].totalValue,2)}}
              </th>
            </tr>
            <tr>
              <td colspan="6" class="text-right">
                <button class="btn btn-primary" data-toggle="modal" data-target="#resolutionDetails">
                  <span class="glyphicon glyphicon-eye-open"></span> More Details
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <!-- END rate resolution result panel  -->

    <!-- applicable to div  -->
    <div class="panel panel-default">
      <div class="panel-heading fadeBrown">
        <div class="pull-right">
          <button ng-show="vm.isManage && vm.showEditBtn" type="button" ui-sref="contracts-own-detail.newParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'DIMENSION', year: vm.contract.year})"
            class="btn btn-xs btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Add Parameter</button>
        </div>
        <strong> Contract ONLY Applicable to:</strong>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <tbody>
            <tr ng-repeat="parameter in vm.dimensionExclusiveParameters">
              <td width="40%">
                {{vm.resolveDimensionNameByType(parameter.parameter)}}
              </td>
              <td>
                {{vm.resolveExistenceName(parameter.parameter, parameter.value)}}

              </td>
              <td>
                <div ng-show="vm.isManage" class="btn-group pull-right" role="group" aria-label="...">
                  <button class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'DIMENSION',paramId: parameter.id})">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                  <button class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'DIMENSION',paramId: parameter.id})">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </div>
              </td>

            </tr>
            <tr ng-show="vm.dimensionExclusiveParameters.length == 0">
              <td colspan="2">
                No parameters found.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- applicable information div  -->

    <!-- other params information div  -->
    <div class="panel panel-default">
      <div class="panel-heading fadeBrown">
        <div class="pull-right">
          <button ng-show="vm.isManage && vm.showEditBtn" type="button" ui-sref="contracts-own-detail.newParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'BASIC', year: vm.contract.year,versionId: vm.contract.displayedVersion.id})"
            class="btn btn-xs btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Add Parameter</button>
        </div>
        <strong>Contract supports</strong>
      </div>

      <div class="table-responsive">
        <table class="table table-striped">
          <tbody>
            <tr ng-repeat="parameter in vm.basicParameters">
              <td width="40%">
                {{vm.resolveDimensionNameByType(parameter.parameter)}}
              </td>
              <td>
                {{vm.resolveExistenceName(parameter.parameter, parameter.value)}}
              </td>
              <td>
                <div ng-show="vm.isManage" class="btn-group pull-right" role="group" aria-label="...">
                  <button class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'BASIC',paramId: parameter.id})">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                  <button class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'BASIC',paramId: parameter.id})">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </div>
              </td>
            </tr>
            <tr ng-show="vm.basicParameters.length == 0">
              <td>
                No parameters found.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <div class="panel-body">
          {{vm.basicParameters}}
        </div> -->
    </div>

    <!-- BEGIN child policy  div  -->
    <div class="panel panel-default">
      <div class="panel-heading fadeBrown">
        <strong>Child Policy</strong>
      </div>
      <div class="panel-body" ng-repeat="policy in vm.policy">
        <p>
          <strong>{{policy.name | uppercase}}</strong>
        </p>
        <ul>
          <li ng-repeat="rule in policy.occupancyRulesDTOList" class="">
            {{rule.description}}</li>
        </ul>
      </div>
    </div>
    <!-- END child policy  div  -->


    <!-- Special Notes information div  -->
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="pull-right">
          <button ng-show="vm.isManage && vm.showEditBtn" type="button" ui-sref="contracts-own-detail.newParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'NOTE', year: vm.contract.year,versionId: vm.contract.displayedVersion.id})"
            class="btn btn-xs btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Add Note</button>
        </div>
        <strong>Special Notes</strong>
      </div>
      <div class="panel-body">

        <p ng-show="vm.notesParameters.length == 0">No notes found.</p>

        <!-- beginning of notes -->
        <div class="note" ng-repeat="parameter in vm.notesParameters">
          <div class="pull-right">
            <div ng-show="vm.isManage" class="btn-group" role="group" aria-label="...">
              <button class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'NOTE',paramId: parameter.id})">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <button class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'NOTE',paramId: parameter.id})">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>
          </div>
          <h5> {{parameter.parameter}} </h5>
          <p>
            <div ng-bind-html="parameter.value"></div>
          </p>
        </div>
        <!-- end of note  -->

      </div>
    </div>
    <!-- Special Notes information div  -->
    <!-- BEGIN Discounts-->
    <div class="panel panel-default" ng-show="vm.discountParameters.length > 0">
      <div class="panel-heading fadeBrown">
        <div ng-show="vm.isManage && vm.showEditBtn" class="pull-right">
          <button type="button" ui-sref="contracts-own-detail.newParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'DISCOUNT', year: vm.contract.year})"
            class="btn btn-xs btn-primary">
            <span class="glyphicon glyphicon-plus"></span>Add Parameter</button>
        </div>
        <strong>Discounts</strong>
      </div>

      <div class="panel-body">
        <p ng-show="vm.discountParameters.length == 0">No notes found.</p>

        <div class="note" ng-repeat="parameter in vm.discountParameters">
          <div class="pull-right">
            <div class="btn-group" role="group" aria-label="...">
              <button ng-show="vm.isManage" class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'DISCOUNT',paramId: parameter.id})">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <button ng-show="vm.isManage" class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'DISCOUNT',paramId: parameter.id})">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>
          </div>
          <h5> {{parameter.parameter}} </h5>
          <p>
            <div ng-bind-html="parameter.value"></div>
        </div>

      </div>

    </div>
    <!-- END Discounts -->


    <!--BEGIN Payments -->
    <div class="panel panel-default" ng-show="vm.paymentParameters.length > 0">
      <div class="panel-heading fadeBrown">
        <div class="pull-right">
          <button ng-show="vm.isManage && vm.showEditBtn" type="button" ui-sref="contracts-own-detail.newParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'PAYMENT', year: vm.contract.year})"
            class="btn btn-xs btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Add Parameter</button>
        </div>
        <strong>Payments policies & Refund</strong>
      </div>

      <div class="panel-body">

        <p ng-show="vm.paymentParameters.length == 0">No notes found.</p>

        <div class="note" ng-repeat="parameter in vm.paymentParameters">
          <div ng-show="vm.isManage" class="pull-right">
            <div class="btn-group" role="group" aria-label="...">
              <button class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'PAYMENT',paramId: parameter.id})">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <button class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'PAYMENT',paramId: parameter.id})">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>
          </div>
          <h5> {{parameter.parameter}} </h5>
          <p>
            <div ng-bind-html="parameter.value"></div>
        </div>

      </div>

    </div>
    <!--- End payment  -->

    <!--OCCUPANCY params-->
    <div class="panel panel-default" ng-show="vm.occupancyParameters.length > 0">
      <div class="panel-heading fadeBrown">
        <div ng-show="vm.isManage && vm.showEditBtn" class="pull-right">
          <button type="button" ui-sref="contracts-own-detail.newParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'OCCUPANCY', year: vm.contract.year})"
            class="btn btn-xs btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Add Parameter</button>
        </div>
        <strong>Occupancy policy</strong>
      </div>

      <div class="panel-body">

        <p ng-show="vm.occupancyParameters.length == 0">No notes found.</p>

        <div class="note" ng-repeat="parameter in vm.occupancyParameters">
          <div ng-show="vm.isManage" class="pull-right">
            <div class="btn-group" role="group" aria-label="...">
              <button class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'OCCUPANCY',paramId: parameter.id})">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <button class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'OCCUPANCY',paramId: parameter.id})">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>
          </div>
          <h5> {{parameter.parameter}} </h5>
          <p>
            <div ng-bind-html="parameter.value"></div>
        </div>

      </div>

    </div>
    <!-- End Occupancy params-->

    <!-- Mininimu Stay-->
    <div class="panel panel-default" ng-show="vm.minimumStayParameters.length > 0">
      <div class="panel-heading fadeBrown">
        <div class="pull-right">
          <button ng-show="vm.isManage && vm.showEditBtn" type="button" ui-sref="contracts-own-detail.newParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'OCCUPANCY', year: vm.contract.year})"
            class="btn btn-xs btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Add Parameter</button>
        </div>
        <strong>Minimum Number of Nights</strong>
      </div>
      <div class="panel-body">
        <p ng-show="vm.minimumStayParameters.length == 0">No notes found.</p>
        <div class="note" ng-repeat="parameter in vm.minimumStayParameters">
          <div ng-show="vm.isManage" class="pull-right">
            <div class="btn-group" role="group" aria-label="...">
              <button class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'MINIMUM_STAY',paramId: parameter.id})">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <button class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'MINIMUM_STAY',paramId: parameter.id})">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>
          </div>
          <h5> {{parameter.parameter}} </h5>
          <p>
            <div ng-bind-html="parameter.value"></div>
        </div>
      </div>
    </div>
    <!-- End minimum stay Params-->

    <!-- begin single room notes  -->
    <div class="panel panel-default" ng-show="vm.singleRoomRateParameters.length > 0">
      <div class="panel-heading fadeBrown">
        <div class="pull-right">
          <button ng-show="vm.isManage && vm.showEditBtn" type="button" ui-sref="contracts-own-detail.newParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'SINGLE_ROOM_RATE_POLICY', year: vm.contract.year})"
            class="btn btn-xs btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Add Parameter</button>
        </div>
        <strong>Single Room Rate Policy</strong>
      </div>
      <div class="panel-body">
        <p ng-show="vm.singleRoomRateParameters.length == 0">No notes found.</p>
        <div class="note" ng-repeat="parameter in vm.singleRoomRateParameters">
          <div class="pull-right">
            <div ng-show="vm.isManage" class="btn-group" role="group" aria-label="...">
              <button class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'SINGLE_ROOM_RATE_POLICY',paramId: parameter.id})">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <button class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'SINGLE_ROOM_RATE_POLICY',paramId: parameter.id})">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>
          </div>
          <h5> {{parameter.parameter}} </h5>
          <p>
            <div ng-bind-html="parameter.value"></div>
        </div>
      </div>

    </div>
    <!-- end single room notes  -->


    <!-- Special Offers-->
    <div class="panel panel-default" ng-show="vm.specialOfferParameters.length > 0">
      <div class="panel-heading fadeBrown">
        <div class="pull-right">
          <button ng-show="vm.isManage && vm.showEditBtn" type="button" ui-sref="contracts-own-detail.newParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'OCCUPANCY', year: vm.contract.year})"
            class="btn btn-xs btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Add Parameter</button>
        </div>
        <strong>Special Offers</strong>
      </div>

      <div class="panel-body">
        <p ng-show="vm.specialOfferParameters.length == 0">No notes found.</p>
        <div class="note" ng-repeat="parameter in vm.specialOfferParameters">
          <div class="pull-right">
            <div ng-show="vm.isManage" class="btn-group" role="group" aria-label="...">
              <button class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'SPECIAL_OFFER',paramId: parameter.id})">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <button class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'SPECIAL_OFFER',paramId: parameter.id})">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>
          </div>
          <h5> {{parameter.parameter}} </h5>
          <p>
            <div ng-bind-html="parameter.value"></div>
        </div>

      </div>

    </div>
    <!-- Special Offers-->


    <!-- cancellation policies -->
    <div class="panel panel-default" ng-show="vm.cancellationParameters.length > 0">
      <div class="panel-heading fadeBrown">
        <div class="pull-right">
          <button ng-show="vm.isManage && vm.showEditBtn" type="button" ui-sref="contracts-own-detail.newParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'CANCELLATION', year: vm.contract.year})"
            class="btn btn-xs btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Add Parameter</button>
        </div>
        <strong>Cancellation Policy</strong>
      </div>

      <div class="panel-body">

        <p ng-show="vm.cancellationParameters.length == 0">No notes found.</p>

        <!-- beginning of notes -->
        <div class="note" ng-repeat="parameter in vm.cancellationParameters">
          <div class="pull-right">
            <div ng-show="vm.isManage" class="btn-group" role="group" aria-label="...">
              <button class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'CANCELLATION',paramId: parameter.id})">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <button class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'CANCELLATION',paramId: parameter.id})">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>
          </div>
          <h5> {{parameter.parameter}} </h5>
          <p>
            <div ng-bind-html="parameter.value"></div>
          </p>

        </div>
        <!-- end of note  -->

      </div>
      <!-- <div class="panel-body">
          {{vm.basicParameters}}
        </div> -->
    </div>
    <!-- cancellation policies -->

    <!-- checkout notes -->
    <div class="panel panel-default" ng-show="vm.timeParameters.length > 0">
      <div class="panel-heading fadeBrown">
        <div class="pull-right">
          <button ng-show="vm.isManage && vm.showEditBtn" type="button" ui-sref="contracts-own-detail.newParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'ARRIVAL_AND_CHECKOUT', year: vm.contract.year})"
            class="btn btn-xs btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Add Parameter</button>
        </div>
        <strong>ARRIVAL And CHECKOUT</strong>
      </div>
      <div class="panel-body">

        <p ng-show="vm.timeParameters.length == 0">No notes found.</p>

        <!-- beginning of notes -->
        <div class="note" ng-repeat="parameter in vm.timeParameters">
          <div class="pull-right">
            <div ng-show="vm.isManage" class="btn-group" role="group" aria-label="...">
              <button class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'ARRIVAL_AND_CHECKOUT',paramId: parameter.id})">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <button class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'ARRIVAL_AND_CHECKOUT',paramId: parameter.id})">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>
          </div>
          <h5> {{parameter.parameter}} </h5>
          <p>
            <div ng-bind-html="parameter.value"></div>
          </p>
        </div>
        <!-- end of note  -->

      </div>
      <!-- <div class="panel-body">
          {{vm.basicParameters}}
        </div> -->
    </div>
    <!-- checkout notes -->

    <!-- closure notes -->
    <div class="panel panel-default" ng-show="vm.closedParameters.length > 0">
      <div class="panel-heading fadeBrown">
        <div class="pull-right">
          <button ng-show="vm.isManage && vm.showEditBtn" type="button" ui-sref="contracts-own-detail.newParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'CLOSED', year: vm.contract.year})"
            class="btn btn-xs btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Add Parameter</button>
        </div>
        <strong>Repose</strong>
      </div>

      <div class="panel-body">

        <p ng-show="vm.closedParameters.length == 0">No notes found.</p>

        <!-- beginning of notes -->
        <div class="note" ng-repeat="parameter in vm.closedParameters">
          <div class="pull-right">
            <div ng-show="vm.isManage" class="btn-group" role="group" aria-label="...">
              <button class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'CLOSED',paramId: parameter.id})">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <button class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'CLOSED',paramId: parameter.id})">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>
          </div>
          <h5> {{parameter.parameter}} </h5>
          <p>
            <div ng-bind-html="parameter.value"></div>
        </div>
        <!-- end of note  -->

      </div>
      <!-- <div class="panel-body">
            {{vm.basicParameters}}
          </div> -->
    </div>
    <!-- closure notes -->



  </div>
  <!-- end of right main div  -->

</div>


<!-- END OF NEW PAGE -->




<!--Begin Modal-->
<div class="modal fade" id="resolutionDetails" tabindex="-1" role="dialog" aria-labelledby="resolutionDetails">
  <div class="modal-dialog modal-lg" role="document">
    <form class="form-signin">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Resolution Detailed Results</h4>
        </div>
        <div class="modal-body">
          <p>
            Status: {{vm.tripRateDTOResp.dayRateDTOList[0].serviceRateDTOList[0].unitRateDTOList[0].status}}
          </p>
          <p ng-show="vm.tripRateDTOResp.dayRateDTOList[0].serviceRateDTOList[0].unitRateDTOList[0].statusReason">
            Reason: {{vm.tripRateDTOResp.dayRateDTOList[0].serviceRateDTOList[0].unitRateDTOList[0].statusReason}}
          </p>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Age Bracket</th>
                  <th>Rate Type</th>
                  <th class="text-right">Factor</th>
                  <th>Base Rate</th>
                  <th class="text-right">Base Rate Value</th>
                  <th class="text-right">Value</th>
                  <th class="text-right">Supplement</th>
                  <th class="text-right">Dicount </th>
                  <th class="text-right">Total</th>
                  <th>View </th>
              </thead>
              <tbody ng-repeat="person in vm.tripRateDTOResp.dayRateDTOList[0].serviceRateDTOList[0].unitRateDTOList[0].personRateDTOList">
                <tr>
                  <td>{{$index+1}}</td>
                  <td>{{person.ageBracketType}} </td>
                  <td>{{person.usedBaseRateType}} </td>
                  <td class="text-right">{{person.usedBaseRate}} </td>
                  <td>{{person.usedBaseRateName}} </td>
                  <td class="text-right">
                    <span ng-bind-html="vm.contract.currencySymbol"></span> {{vm.truncate(person.rateValue,2)}} </td>
                  <td class="text-right">
                    <span ng-bind-html="vm.contract.currencySymbol"></span> {{vm.truncate(person.contractValue,2)}}
                  </td>
                  <td class="text-right">
                    <span ng-bind-html="vm.contract.currencySymbol"></span> {{vm.truncate(person.supplementValue,2)}}
                  </td>
                  <td class="text-right">
                    <span ng-bind-html="vm.contract.currencySymbol"></span> {{vm.truncate(person.discountValue,2)}}
                  </td>
                  <td class="text-right">
                    <span ng-bind-html="vm.contract.currencySymbol"></span> {{vm.truncate(person.totalValue,2)}} </td>
                  <td>
                    <a ng-click="vm.toggleResolutionDetails($index)">
                      <span ng-hide="vm.showResolutionDetails($index)" class="glyphicon glyphicon-eye-open"></span>
                      <span ng-show="vm.showResolutionDetails($index)" class="glyphicon glyphicon-eye-close"></span>
                    </a>
                  </td>
                </tr>
                <tr ng-show="vm.showResolutionDetails($index)">
                  <td colspan="4" class="text-right">Occupancy Rule: </td>
                  <td colspan="7">{{person.occupancyRule.description}} </td>
                </tr>
                <tr ng-show="vm.showResolutionDetails($index)">
                  <td colspan="4" class="text-right">Used Existences: </td>
                  <td colspan="7">
                    <ul>
                      <li ng-repeat="existence in person.usedExistences"> {{existence.dimensionType}} - {{existence.name}} ({{existence.brief}}) </li>
                    </ul>
                  </td>
                </tr>
                <tr ng-show="vm.showResolutionDetails($index)">
                  <td colspan="4" class="text-right">Used Supplements: </td>
                  <td colspan="7">
                    <ul>
                      <li ng-repeat="supplement in person.usedSupplements"> {{supplement.name}} - {{supplement.unit}} ({{supplement.value}}) </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <th>Total</th>
                  <th> &nbsp; </th>
                  <th>&nbsp; </th>
                  <th>&nbsp; </th>
                  <th>&nbsp; </th>
                  <th>&nbsp; </th>
                  <th class="text-right">
                    <span ng-bind-html="vm.contract.currencySymbol"></span>
                    {{vm.truncate(vm.tripRateDTOResp.dayRateDTOList[0].serviceRateDTOList[0].unitRateDTOList[0].contractValue,2)}}
                  </th>
                  <th class="text-right">
                    <span ng-bind-html="vm.contract.currencySymbol"></span>
                    {{vm.truncate(vm.tripRateDTOResp.dayRateDTOList[0].serviceRateDTOList[0].unitRateDTOList[0].totalSupplementValue,2)}}
                  </th>
                  <th class="text-right">
                    <span ng-bind-html="vm.contract.currencySymbol"></span>
                    {{vm.truncate(vm.tripRateDTOResp.dayRateDTOList[0].serviceRateDTOList[0].unitRateDTOList[0].totalDiscountValue,2)}}
                  </th>
                  <th class="text-right">
                    <span ng-bind-html="vm.contract.currencySymbol"></span>
                    {{vm.truncate(vm.tripRateDTOResp.dayRateDTOList[0].serviceRateDTOList[0].unitRateDTOList[0].totalValue,2)}}
                  </th>
                  <th class="text-right"> &nbsp; </th>
                </tr>
              </tbody>
            </table>
          </div>

          <p>
            <h5>Important Notes
              <a>
                <span class="glyphicon glyphicon-eye-close"></span>
              </a>
            </h5>
          </p>

          <ul>
            <li ng-repeat="parameter in vm.notesParameters">
              <strong> {{parameter.parameter}} </strong> - {{parameter.value}} </li>
          </ul>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!--End Modal-->
