<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="col-md-8">
        <ul class="breadcrumb">
          <li ui-sref-active="active">
            <a ui-sref="home">Home</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings">Settings</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="markup-categories">MarkUp Categories</a>
          </li>
          <li ui-sref-active="active" class="active">{{vm.markupCategories.name}}</li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="breadcrumb-btns">
          <ul class="nav nav-pills pull-right">
            <li>
              <button class="btn btn-default btn-sm" ui-sref="markup-categories-detail.addServiceMarkup">
                <span class="glyphicon glyphicon-plus-sign"></span> Service Markup</button>
            </li>
            <li>
              <div ng-include="'core/routes/settings/settings-menu/settings-navbar.html'"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div ng-include="'core/routes/settings/settings-menu/settings-menu.html'"></div>
      </div>
    </div>


    <div class="col-md-9" ng-show="vm.serviceMarkups == null">
      <div class="panel panel-default">
        <div class="panel-body">
          No records found
        </div>
      </div>
    </div>
    <!-- compressed rates table -->

    <div class="col-md-9">
      <div class="">
        <div class="panel panel-default">
          <table st-table="vm.rowCollectionDisplayed" st-safe-src="vm.serviceMarkups" class="table table-striped">
            <thead>
              <tr>
                <td colspan="10">
                  <span class="uppercaseName"><strong>Service MarkUps</strong></span>
                </td>
              </tr>
              <tr>
                <th>Name</th>
                <th>Markup Value</th>
                <th>Inverse Calculation</th>
                <th>Actions</th>
              </tr>
            <tbody ui-sortable="vm.sortableOptions" ng-model="vm.rowCollectionDisplayed" class="vm.rowCollectionDisplayed">
              <tr ng-repeat="row in vm.rowCollectionDisplayed">
                <!-- <td>{{row.id}}</td> -->
                <!-- <td>{{row.name | uppercase}}</td> -->
                <td>{{row.generalServiceName}}</td>
                <td>{{row.markup}}</td>
                <td>
                  <span> <strong>{{row.inverseCalculation}}</strong></span></td>
                <td>
                  <div class="row">
                    <div class="col-md-6">
                      <a ui-sref="markup-categories-detail.edit({serviceId : row.id})">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </a>
                    </div>
                    <div class="col-md-6">
                      <a class="red" ui-sref="markup-categories-detail.delete({serciveMarkupId : row.id})">
                        <span class="glyphicon glyphicon-trash "></span>
                      </a>
                    </div>

                  </div>


                </td>
              </tr>
            </tbody>
            <!-- <tfoot>
              <tr>
                <td colspan="9" class="text-center">
                  <div st-pagination="" st-items-by-page="vm.itemsPerPage" st-displayed-pages="20"></div>
                </td>
              </tr>
            </tfoot> -->
          </table>
        </div>
      </div>
    </div>
    <!-- compressed rates table div-->
  </div>
</div>
</div>
