<!-- <form name="editForm" role="form" novalidate ng-submit="vm.save()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myRoomLabel">Edit a market</h4>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <div class="form-group">
      <label class="control-label" for="field_name">Name</label>
      <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.entity.name" />
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="vm.entity.default" />
        <strong>Is Default MarkupCategories</strong>
      </label>
    </div>
    <div class="form-group">
      <label class="control-label" for="field_countries">Countries for this market</label>
      <multiple-autocomplete ng-model="vm.selectedList" name="countries" object-property="name" suggestions-arr="vm.countries">
      </multiple-autocomplete>
      <div ng-show="edit.countries.$invalid && edit.countries.$dirty">
          <p class="help-block" ng-show="edit.countries.$error.required">Input at minimum one country</p>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
      <span data-translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;
      <span data-translate="entity.action.save">Save</span>
    </button>
  </div>
</form> -->

<form name="editForm" role="form" novalidate ng-submit="vm.save()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myRoomLabel">Create a Markup Category</h4>
  </div>
  <div class="modal-body">
    <div class="">
      <div class="panel-body">



        <div class="row">
          <div class="col-md-6"">
            <div class=" form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.entity.name" />
          </div>

        </div>
        <div class="col-md-6"">
            <div class=" form-group">
          <label class="control-label" for="field_markUpValue">Mark Up Value (%)</label>
          <input type="number" class="form-control" name="markUpValue" id="field_markUpValue" ng-model="vm.entity.defaultMarkup" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="vm.entity.isDefault" />
            <strong>Is Default</strong>
          </label>
        </div>
      </div>
    </div>


  </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
    </button>
  </div>
</form>

<style>
  .list-group-item {
    background-color: #f8f8f8;
    margin-top: 10px;
  }

  .margin-top-10 {
    margin-top: 10px;
  }
</style>
