<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myActivityLabel">Service</h4>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <div class="row">

      <div class="col-md-5">
        <div class="form-group">
          <label for="field_id">Type of Service</label>
          <select class="form-control" id="field_id" name="id" ng-model="vm.entity.generalServiceId" ng-change="vm.serviceChange(vm.entity.generalServiceId)" ng-options="generalService.id as generalService.name for generalService in vm.generalServices">
            <option value="" disabled>Select Service</option>
          </select>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group" ng-class="{ 'has-error' : editForm.name.$error.required}">
          <label class="control-label" for="field_name">MarkUp Value (%)</label>
          <input type="number" class="form-control" name="serviceName" id="field_name" ng-model="vm.entity.markup" required />
          <div class="help-block" ng-show="editForm.serviceName.$invalid" style="color: crimson;">required!</div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="vm.entity.inverseCalculation" />
            <strong>Is Default</strong>
          </label>
        </div>
      </div>

    </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
    </button>
  </div>
</form>
