<form name="editForm" role="form" novalidate ng-submit="vm.save()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myRoomCategoryLabel">Edit a Supplements </h4>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <div class="row">
      <div class="col-md-6" ng-show="vm.entity.dimensionId == -1" class="form-group" ng-class="{ 'has-error' : editForm.name.$invalid && !editForm.name.$pristine }">
        <label class="control-label" for="field_name">Name</label>
        <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.entity.name" required />
      </div>

      <div ng-hide="vm.entity.dimensionId == -1" class="col-md-6 form-group">
        <label for="field_roomOccupancies">{{vm.existenceLabel}}</label>
        <select ng-change="vm.updateEntityName(existence)" class="form-control" id="field_roomOccupancies" name="roomOccupancies"
          ng-model="vm.entity.existence1" ng-options="existence.id as existence.name for existence in vm.existencies">
        </select>
      </div>

      <div class="col-md-6 form-group">
        <label for="field_roomOccupancies">Billing Unit</label>
        <select class="form-control" id="field_roomOccupancies" name="unit" ng-model="vm.entity.unit" ng-options="object as object for object in vm.units">
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input type="checkbox" ng-model="vm.multiDimensinal">
          <label class="form-check-label">Multi-Dimensinal?</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="field_roomOccupancies">Billing Type</label>
          <select class="form-control" id="field_roomOccupancies" name="billingType" ng-model="vm.entity.billingType"
            ng-options="object as object for object in vm.billingTypes">
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group" ng-show="vm.multiDimensinal">
          <div class="form-group">
            <label for="field_dimensionSetId">Dimension1</label>
            <span style="color:red">
              <i class="glyphicon glyphicon-asterisk"></i>
            </span>
            <select class="form-control" id="field_dimensionSetId" name="dimensionSetId" ng-model="vm.entity.dimensionSetId"
              ng-options="dimensionSet.dimensionId as dimensionSet.dimensionName for dimensionSet in vm.setDimensionsWithExistences"
              ng-change="vm.dimensionSetChange(vm.entity.dimensionSetId)">
              <option value="{{dimensionSet.name}}"></option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group" ng-show="vm.multiDimensinal">
          <div class="form-group">
            <label for="field_dimensionSetId">Dimension2</label>
            <span style="color:red">
              <i class="glyphicon glyphicon-asterisk"></i>
            </span>
            <select class="form-control" id="field_dimensionSetId" name="dimensionSetId" ng-model="vm.entity.dimensionSetId2"
              ng-options="dimensionSet.dimensionId as dimensionSet.dimensionName for dimensionSet in vm.setDimensionsWithExistences"
              ng-change="vm.dimensionSetChange2(vm.entity.dimensionSetId2)">
              <option value="{{dimensionSet.name}}"></option>
            </select>
          </div>
        </div>
      </div>

    </div>
    <div ng-if="vm.dimensionSet2 == true" ng-show="vm.multiDimensinal">
      <h4 class="text-center">Rates </h4>
      <br>

      <table class="table table-bordered table-striped" style="width: 80%">
        <thead>
          <th></th>
          <th ng-repeat="item in vm.supplements2">
            {{vm.resolveExistenceName(item.dimensionType2,item.existence2)}}
            <span class="badge" popover-placement="top" uib-popover-template="'popover.html'" popover-trigger="mouseenter">?</span>
            <script type="text/ng-template" id="popover.html">
              <div>
                  {{ item.brief }}f
                  <ul>
                    <!-- <li ng-hide="item.brief.length === 0" ng-repeat="f in item.brief">{{f}}</li> -->
                  </ul>
                </div>
              </script>
          </th>
        </thead>
        <tbody>
          <tr ng-repeat="row in vm.supplements">
            <td>
              <strong>{{vm.resolveExistenceName(row.dimensionType2,row.existence2)}}-{{ row.brief }}</strong>
            </td>
            <td ng-repeat="item in vm.supplements2" width="10">
              <input type="number" size="3" min="0" name="figure_{{$parent.$index}}{{$index}}" ng-model="vm.figures[$parent.$index][$index]"
                required />
              <div ng-messages="vm.editForm['figure_' +$parent.$index +$index].$error" ng-show="vm.editForm['figure_' +$parent.$index +$index].$error.required">
                <div ng-message="required" class='alert-error'> <strong>*Required</strong></div>
            </td>
          </tr>
        </tbody>
      </table>
      <br />
    </div>
    <div ng-if="vm.dimensionSet2 == false && vm.multiDimensinal == true" ng-show="vm.multiDimensinal">
      <h4 class="text-center">Rates</h4>
      <br>

      <table class="table table-bordered table-striped" style="width: 80%">
        <thead class="bg-danger">

          <th ng-repeat="item in vm.supplements"  style="margin-right: -5px">
            {{ item.name }}
          </th>
        </thead>
        <tbody>
          <tr>
            <td ng-repeat="item in vm.supplements"  width="10">
              <input type="number" ng-model="vm.figures[0][$index]" />
            </td>
          </tr>
        </tbody>
      </table>
      <br />
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group" ng-show="!vm.multiDimensinal">
          <label class="control-label" for="field_roomArea">Value</label>
          <input type="number" class="form-control" name="roomArea" id="field_roomArea" ng-model="vm.entity.value" />
        </div>
      </div>
    </div>
    <div class="row" ng-show="vm.entity.dimensionId == -1">
      <div class="col-md-6">
        <div class="form-group">
          <input type="checkbox" ng-model="vm.entity.mandatory">
          <label class="form-check-label">Is Mandatory?</label>
        </div>
      </div>
    </div>
    <div class="row" ng-show="vm.entity.dimensionId == -1" >
      <div class="col-md-12">
        <div ng-show="vm.entity.dimensionId == -1" class="form-group" ng-class="{ 'has-error' : editForm.brief.$viewValue.length == 1000}">
          <label class="control-label" for="field_description">Description</label>
          <textarea class="form-control" name="description" id="field_description" ng-model="vm.entity.description"
            maxlength="1000" ng-maxlength="200"></textarea>
          <div class="help-block" ng-show="editForm.description.$viewValue.length == 1000">Maximum length reached</div>
        </div>
      </div>
    </div>

  </div>
  <br />
  <br />
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
      <span data-translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;
      <span data-translate="entity.action.save">Save</span>
    </button>
  </div>
</form>
