 <nav ng-show="vm.isAuthenticated()" class="navbar" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" ng-click="vm.collapseNavbar()">
        <span data-translate="global.title">{{vm.currentOrganization.abbreviation}}</span>
      </a>
    </div>
    <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
      <ul class="nav navbar-nav navbar-right">
        <li ui-sref-active="active" ng-switch-when="true">
          <a ui-sref="home" ng-click="vm.collapseNavbar()">
            <span class="glyphicon glyphicon-home"></span>
            <span class="hidden-sm" data-translate="global.menu.home">Home</span>
          </a>
        </li>
        <li permission="['T_OPERATOR_USER', 'MANAGE_VEHICLES']" ui-sref-active="active" ng-switch-when="true">
          <a ui-sref="dashboard" ng-click="vm.collapseNavbar()">
            <span class="glyphicon glyphicon-cog"></span>
            <span class="hidden-sm" data-translate="global.menu.home">Rates</span>
          </a>
        </li>
        <li permission="['MANAGER_USER']" ui-sref-active="active" ng-switch-when="true">
          <a ui-sref="organizations-managed" ng-click="vm.collapseNavbar()">
            <span class="glyphicon glyphicon-globe"></span>
            <span class="hidden-sm" data-translate="global.menu.home">My Organisations</span>
          </a>
        </li>
        <li permission="['MANAGER_USER','T_OPERATOR_USER']" ui-sref-active="active" ng-switch-when="true">
          <a ui-sref="locations" ng-click="vm.collapseNavbar()">
            <span class="glyphicon glyphicon-map-marker"></span>
            <span class="hidden-sm" data-translate="global.menu.home">Locations</span>
          </a>
        </li>
        <li permission="['D_AUTHORITY_USER', 'MANAGE_LOCATIONS']" ui-sref-active="active" ng-switch-when="true">
          <a ui-sref="locations-own" ng-click="vm.collapseNavbar()">
            <span class="glyphicon  glyphicon-map-marker"></span>
            <span class="hidden-sm" data-translate="global.menu.home">Locations</span>
          </a>
        </li>
        <li permission="['AUTHORITY_USER','MASTER_USER']" ui-sref-active="active" ng-switch-when="true">
          <a ui-sref="documents" ng-click="vm.collapseNavbar()">
            <span class="glyphicon glyphicon-folder-open"></span>
            <span class="hidden-sm" data-translate="global.menu.home">Documents</span>
          </a>
        </li>
        <li permission="['MASTER_USER']" ui-sref-active="active" ng-switch-when="true">
          <a ui-sref="professionals" ng-click="vm.collapseNavbar()">
            <span class="glyphicon glyphicon-stats"></span>
            <span class="hidden-sm" data-translate="global.menu.home">Professionals</span>
          </a>
        </li>
        <!-- Menu to help organizations see their professionals -->
        <li permission="['TRANSPORTER_USER', 'PROFESSIONAL_USER', 'T_OPERATOR_ADMIN', 'MANAGE_PROFESSIONALS']" ui-sref-active="active"
          ng-switch-when="true">
          <a ui-sref="professionals-own" ng-click="vm.collapseNavbar()">
            <span class="glyphicon glyphicon-stats"></span>
            <span class="hidden-sm" data-translate="global.menu.home">Professionals</span>
          </a>
        </li>
        <!-- menu to view all vehicles - used by master -->
        <li permission="['MASTER_USER' ]" ui-sref-active="active" ng-switch-when="true">
          <a ui-sref="vehicles" ng-click="vm.collapseNavbar()">
            <span class="glyphicon glyphicon-stats"></span>
            <span class="hidden-sm" data-translate="global.menu.home">Fleet</span>
          </a>
        </li>
        <!-- menu to view own vehicles -->
        <li permission="['TRANSPORTER_USER', 'MANAGE_VEHICLES']" ui-sref-active="active" ng-switch-when="true">
          <a ui-sref="vehicles-own" ng-click="vm.collapseNavbar()">
            <span class="glyphicon glyphicon-stats"></span>
            <span class="hidden-sm" data-translate="global.menu.home">Fleet</span>
          </a>
        </li>
        <li permission="['RESTAURANT_USER','PROPERTY_USER']" ui-sref-active="active" ng-switch-when="true">
          <a ui-sref="menus " ng-click="vm.collapseNavbar()">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
            <span class="hidden-sm" data-translate="global.menu.home">Menus</span>
          </a>
        </li>
        <li permission="['RESTAURANT_USER','PROPERTY_USER']" ui-sref-active="active" ng-switch-when="true">
          <a ui-sref="room-categories " ng-click="vm.collapseNavbar()">
            <span class="glyphicon glyphicon-list-alt"></span>
            <span class="hidden-sm" data-translate="global.menu.home">Room Categories</span>
          </a>
        </li>
        <li permission="['RESTAURANT_USER','PROPERTY_USER']" ui-sref-active="active" ng-switch-when="true">
          <a ui-sref="facilities" ng-click="vm.collapseNavbar()">
            <span class="glyphicon glyphicon-ok-circle"></span>
            <span class="hidden-sm" data-translate="global.menu.home">Facilities</span>
          </a>
        </li>
        <li permission="['PROPERTY_USER']" ui-sref-active="active" ng-switch-when="true">
          <a ui-sref="activities " ng-click="vm.collapseNavbar()">
            <span class="glyphicon glyphicon-stats"></span>
            <span class="hidden-sm" data-translate="global.menu.home">Activities</span>
          </a>
        </li>
        <!-- <li permission="['RESTAURANT_USER','PROPERTY_USER', 'D_AUTHORITY_USER']" ui-sref-active="active" ng-switch-when="true">
          <a ui-sref="events " ng-click="vm.collapseNavbar()">
            <span class="glyphicon glyphicon-stats"></span>
            <span class="hidden-sm" data-translate="global.menu.home">Events</span>
          </a>
        </li> -->
        <li permission="['TRANSPORTER_USER','RESTAURANT_USER','PROPERTY_USER', 'D_AUTHORITY_USER']" ui-sref-active="active" ng-switch-when="true">
          <a ui-sref="costs" ng-click="vm.collapseNavbar()">
            <span class="glyphicon  glyphicon-usd"></span>
            <span class="hidden-sm" data-translate="global.menu.costs">Pricing</span>
          </a>
        </li>
        <li permission="['T_OPERATOR_USER', 'MANAGE_VEHICLES']" ui-sref-active="active" ng-switch-when="true">
          <a ui-sref="contracts-own" ng-click="vm.collapseNavbar()">
            <span class="glyphicon glyphicon-duplicate"></span>
            <span class="hidden-sm" data-translate="global.menu.contracts-own">Contracts</span>
          </a>
        </li>
        <li permission="['T_OPERATOR_USER', 'MANAGE_VEHICLES']" ui-sref-active="active" ng-switch-when="true"
          uib-dropdown class="dropdown pointer">
          <a class="dropdown-toggle" uib-dropdown-toggle href="#" ng-click="vm.collapseNavbar()">
            <span class="glyphicon glyphicon-ok-circle"></span>
            <span class="hidden-sm" data-translate="global.menu.contracts-own">Products</span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu navBarDropDown" uib-dropdown-menu>
            <li>
              <a ui-sref="safari-group({groupId:'-1'})" ng-click="vm.collapseNavbar()">
                <span class="glyphicon glyphicon-dashboard"></span>
                <span class="hidden-sm" data-translate="global.menu.contracts-own">Browse</span>
              </a>

              <a ui-sref="safaris.new({type:'FIT', groupId: -1})" ng-click="vm.collapseNavbar()">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="hidden-sm" data-translate="global.menu.contracts-own">New Request</span>
              </a>
<!-- 
              <a ui-sref="safari-detail({id: 26})" ng-click="vm.collapseNavbar()">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="hidden-sm" data-translate="global.menu.contracts-own">Safari Detail - TEST</span>
              </a> -->

              <!-- <a ui-sref="packages({statePackageType:'INDEPENDENT_TOUR'})" ng-click="vm.collapseNavbar()">
                <span class="glyphicon glyphicon-user"></span>
                <span class="hidden-sm" data-translate="global.menu.contracts-own">Indepedent Tours</span>
              </a> -->
            </li>
          </ul>
        </li>
        <li permission="['T_OPERATOR_USER', 'MANAGE_VEHICLES']" ng-show="false" ui-sref-active="active" ng-switch-when="true"
          uib-dropdown class="dropdown pointer">
          <a class="dropdown-toggle" uib-dropdown-toggle href="#" ng-click="vm.collapseNavbar()">
            <span class="glyphicon glyphicon-ok-circle"></span>
            <span class="hidden-sm" data-translate="global.menu.contracts-own">Products</span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu navBarDropDown" uib-dropdown-menu>
            <li>
              <a ui-sref="packages({statePackageType:safariType.value})" ng-repeat="safariType in vm.packageTypes" ng-click="vm.collapseNavbar()">
                <span class="glyphicon glyphicon-dashboard"></span>
                <span class="hidden-sm" data-translate="global.menu.contracts-own">{{safariType.name}}</span>
              </a>
<!--
              <a ui-sref="packages({statePackageType:'PRIVATE_DEPARTURE'})" ng-click="vm.collapseNavbar()">
                <span class="glyphicon glyphicon-tent"></span>
                <span class="hidden-sm" data-translate="global.menu.contracts-own">Private Departures</span>
              </a>

              <a ui-sref="packages({statePackageType:'INDEPENDENT_TOUR'})" ng-click="vm.collapseNavbar()">
                <span class="glyphicon glyphicon-user"></span>
                <span class="hidden-sm" data-translate="global.menu.contracts-own">Indepedent Tours</span>
              </a> -->
            </li>
          </ul>
        </li>
        <li permission="[ 'PROPERTY_USER', 'MANAGER_USER', 'RESTAURANT_USER','D_AUTHORITY_USER', 'ORGANISATION_ADMIN']" ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
          <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-switch">
            <span>
              <span class="glyphicon glyphicon-log-out"></span>
              <span class="hidden-sm">
                Switch
              </span>
              <b class="caret"></b>
            </span>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li ng-hide="vm.currentOrganization.id == organization.id" ng-repeat="organization in vm.organizations">
              <a ng-click="vm.switchAccount(organization.id)">
                <span class="glyphicon glyphicon-th"></span>&nbsp;
                <span>{{ organization.name }}</span>
              </a>
            </li>
            <li ng-hide="vm.immediateParentOrganization == null || vm.immediateParentOrganization.id == vm.parentOrganization.id">
              <a ng-click="vm.switchAccount(vm.immediateParentOrganization.id)">
                <span class="glyphicon glyphicon-th"></span>&nbsp;
                <span>{{ vm.immediateParentOrganization.name }}</span>
              </a>
            </li>
            <li>
              <a ng-click="vm.switchAccount(vm.parentOrganization.id)">
                <span class="glyphicon glyphicon-th"></span>&nbsp;
                <span>{{ vm.parentOrganization.name }}</span>
              </a>
            </li>
          </ul>
        </li>
        <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
          <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
            <span>
              <span class="glyphicon glyphicon-user"></span>
              <span class="hidden-sm">
                {{vm.user.firstName}} {{vm.user.lastName}}
              </span>
              <b class="caret"></b>
            </span>
          </a>
          <ul class="dropdown-menu navBarDropDown" uib-dropdown-menu>
            <!-- <li ui-sref-active="active" ng-switch-when="true">
              <a href="">
                <span class="hidden-sm" data-translate="global.menu.home">Signed in as
                  <strong>{{vm.user.firstName}} {{vm.user.lastName}} </strong>
                  <br> a user of
                  <br>
                  <strong>{{vm.profile.organisation.name}}</strong>
                </span>
                <br>
              </a>
            </li> -->
            <li permission="['PROPERTY_USER']" ui-sref-active="active" ng-switch-when="true">
              <a ui-sref="settings.gettingStarted" ng-click="vm.collapseNavbar()">
                <span class="glyphicon glyphicon-cog"></span>&nbsp;
                <span class="hidden-sm" data-translate="global.menu.home">Getting Started</span>
              </a>
            </li>
            <li permission="['ORGANISATION_ADMIN']"  ng-switch-when="true">
              <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                <span class="glyphicon glyphicon-cog"></span>&nbsp;
                <span class="hidden-sm" data-translate="global.menu.home">Settings</span>
              </a>
            </li>
            <li  ng-switch-when="false">
              <a ui-sref="login" ng-click="vm.collapseNavbar()">
                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                <span class="hidden-sm" data-translate="global.menu.home">Sign in</span>
              </a>
            </li>
            <li  ng-switch-when="true">
              <a href="" ng-click="vm.logout()">
                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                <span class="hidden-sm" data-translate="global.menu.home">Sign out
                  <!-- <strong>{{vm.user.firstName}}</strong> -->
                </span>
              </a>
            </li>
            <li  ng-switch-when="false">
              <a ui-sref="register" ng-click="vm.collapseNavbar()">
                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                <span>Register</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
