<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="row" ng-show="vm.currentLocationIdSet">
        <ul class="breadcrumb">
          <li ui-sref-active="active">
            <a ui-sref="home">Home</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="activities">Activities</a>
          </li>
          <li ui-sref-active="active" class="active">{{vm.activity.name}}</li>
        </ul>
      </div>
      <div class="row" ng-hide="vm.currentLocationIdSet">
        <ul class="breadcrumb">
          <li ui-sref-active="active">
            <a ui-sref="home">Home</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="locations-own">Locations</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="location-detail({id: vm.activity.locationId})">{{vm.activity.locationName}}</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="location-activities({id: vm.activity.locationId})">Activities</a>
          </li>
          <li ui-sref-active="active" class="active">{{vm.activity.name}}</li>
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <button ng-hide="vm.activity.contentStatus === 'DELETED'" class="btn btn-danger pull-right" ui-sref="activity-detail.delete({id: vm.activity.id})">
        <span class="glyphicon glyphicon-ban-circle"></span>
        <span class="">
          Delete Activity
        </span>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="image-container">
          <img class="img-responsive" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{vm.activity.uuid}}" alt="{{ vm.activity.name }}">
          <a ui-sref="activity-detail.image" class="icon-choose-image">
            <img src="images/camera.png">
          </a>
        </div>
        <div class="panel-body">
          <h4>{{vm.activity.name}}</h4>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="activity-detail({id: vm.activity.id})">Overview</a>
          </li>
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="activity-galleries({id: vm.activity.id})">Gallery</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="pull-right">
                <a ui-sref="activity-detail.edit({id:vm.activity.id})">
                  <h3>
                    <span class="glyphicon glyphicon-pencil"></span>
                  </h3>
                </a>
              </div>
              <h2>{{vm.activity.name}}</h2>
              {{vm.activity.description}}
              <p class="p-padding pull-right">
                <span ng-repeat="objectLabel in vm.objectLabels">
                  <span class="label label-default" style="margin-left: 4px">
                    {{objectLabel.labelName}}
                    <a ui-sref="activity-detail.deleteLabel({itemToDelete: objectLabel.id})">
                      <strong class="label label-danger">X</strong>
                    </a>
                  </span>
                </span>
                <a ui-sref="activity-detail.addLabels({objectType: 'ACTIVITY', uuid: vm.activity.uuid})">
                  <span class="label label-primary">
                    <span class="glyphicon glyphicon-plus-sign"></span> Add labels</span>
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <table class="table">
              <tr>
                <td>
                  <strong>Type</strong>
                </td>
                <td>
                  {{vm.activity.generalActivityName}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Status</strong>
                </td>
                <td>
                  {{vm.activity.contentStatus}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Location</strong>
                </td>
                <td>
                  <a ui-sref="location-detail({id: vm.activity.locationId})">{{vm.activity.locationName}}</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
