<div class="row">
    <div class="container">
      <div class="col-md-12 breadcrumb-white-bg">
        <div class="">
          <div class="col-md-8">
            <ul class="breadcrumb">
              <li ui-sref-active="active">
                <a ui-sref="home">Home</a>
              </li>
              <li ui-sref-active="active">Activities</li>
            </ul>
          </div>
          <div class="col-md-4">
            <div class="breadcrumb-btns">
              <ul class="nav nav-pills pull-right">
                <li>
                  <button type="button" class="btn btn-default btn-sm" ui-sref="activities.new">
                    <span class="glyphicon glyphicon-plus"></span> Activity</button>
                </li>
                <li>
                  <button type="button" class="btn btn-default btn-sm more" data-toggle="dropdown">... </button>
                  <ul class="dropdown-menu btn" role="menu">
                      <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                        <a ui-sref="settings-operating-hours">Operating Hours</a>
                      </li>
                      <li permission="['PROPERTY_USER']" ui-sref-active="active" role="presentation">
                        <a ui-sref="settings-meal-plans">Meal Plans</a>
                      </li>
                      <li permission="['D_AUTHORITY_USER', 'PROPERTY_USER', 'RESTAURANT_USER', 'TRANSPORTER_USER', 'PROFESSIONAL_USER']" ui-sref-active="active"
                        role="presentation">
                        <a ui-sref="settings-age-limits">Age Limits</a>
                      </li>
                      <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                        <a ui-sref="settings-organization-relationships">Memberships & Associations</a>
                      </li>
                      <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                        <a ui-sref="settings-documents">My Documents</a>
                      </li>
                      <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                        <a ui-sref="settings-markets">Markets</a>
                      </li>
                      <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                        <a ui-sref="settings-seasons">Seasons</a>
                      </li>
                      <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                        <a ui-sref="settings-day-bands">Day Bands</a>
                      </li>
                      <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                        <a ui-sref="settings-special-days">Special Days</a>
                      </li>
                      <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                        <a ui-sref="settings-services">Services</a>
                      </li>
                      <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                        <a ui-sref="settings-policies">Policies</a>
                      </li>
                      <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                        <a ui-sref="settings-users">Users</a>
                      </li>
                    </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- filter panel -->
  <div class="filter-panel ">
    <div class="filter-panel-body">
      <form ng-submit="vm.search()">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <p style="margin-left: 20px; margin-top: 10px">Any filter options for activities will be here</p>
            </div>
          </div>
          <div class="col-md-3 pull-right">
            <form name="searchForm" class="form-inline">
              <div class="input-group pull-right">
                <input type="text" class="form-control" ng-model="query" id="searchQuery" placeholder="search an activity">
                <span class="input-group-btn" style="height: 29px;  ">
                  <button class="btn btn-primary btn-md waves-effect waves-light " style="font-size: 12px; line-height: 1.37859" ng-click="vm.search(vm.searchQuery)">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br>
  <div class="row" ng-show="vm.noRecordsFound">
      <div class="col-md-12" >
      <div class="panel panel-default">
          <div class="panel-body">
            No data found.
          </div>
        </div>
      </div>
    </div>
    
<div class="row" ng-hide="vm.noRecordsFound">
  <div class="col-sm-6 col-md-3" ng-repeat="activity in vm.activities | filter:query">
    <div class="thumbnail">
      <img class="img-responsive" ng-src="{{vm.profile_image_url}}{{activity.uuid}}" alt="{{ vm.activity.name }}">
      <div class="caption">
        <div class="pull-right">
          <a ui-sref="activities.edit({id:activity.id})">
            <h5>
              <span class="glyphicon glyphicon-pencil"></span>
            </h5>
          </a>
        </div>
        <h5>{{activity.name}}</h5>
        <p>{{activity.brief}}</p>
        <p>
          <a class="btn btn-primary" role="button" ui-sref="activity-detail({id: activity.id})">View</a>
        </p>
      </div>
    </div>
  </div>
</div>
