<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myActivityLabel">Edit an Activity</h4>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <div class="form-group">
      <label class="control-label" for="field_name">Name</label>
      <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.activity.name" required/>
      <div ng-show="editForm.name.$invalid">
        <p class="help-block" ng-show="editForm.name.$error.required">
          This field is required.
        </p>
      </div>
    </div>

    <div class="form-group">
      <label for="field_id">Type of Activity</label>
      <select class="form-control" id="field_id" name="id" ng-model="vm.activity.generalActivityId" ng-options="activityType.id as activityType.name for activityType in vm.activityTypes">
        <option value=""></option>
      </select>
    </div>

    <div class="form-group">
      <label class="control-label" for="field_brief">Brief</label>
      <textarea class="form-control" name="brief" id="field_brief" ng-model="vm.activity.brief" maxlength="200" ng-maxlength="200"></textarea>
      <div class="help-block" ng-show="editForm.brief.$viewValue.length == 200">Maximum length reached.</div>
    </div>
    <div class="form-group">
      <label class="control-label" for="field_description">Description</label>
      <textarea class="form-control" name="description" id="field_description" ng-model="vm.activity.description" maxlength="1000"
        ng-maxlength="1000"></textarea>
      <div class="help-block" ng-show="editForm.description.$viewValue.length == 1000">Maximum length reached.</div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
      <span>Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;
      <span>Save</span>
    </button>
  </div>
</form>
