<form ng-show="vm.safariDay" name="editForm1" role="form" novalidate ng-submit="vm.save()" show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myLocationLabel" ng-show="vm.location.id">Edit a Location</h4>
    <h4 class="modal-title" id="myLocationLabel" ng-show="vm.location.id == null">Add a Location</h4>
  </div>
  <div class="modal-body">
    <div class="row" ng-show="vm.safariDay">
      <div class="col-md-12">
          <div class="form-group">
            <label class="filter-col" style="margin-right:0;" for="pref-search">Search to Select a location:{{vm.safariDay}}</label>
            <input type="text" ng-model="vm.day.endLocationName" placeholder="Location Name e.g Nairobi" uib-typeahead="loc.name for loc in vm.getLocation($viewValue)"
              typeahead-loading="loadingLocations" typeahead-no-results="noStartResults" typeahead-on-select="vm.onLocationSelected($item, $model)"
              class="form-control" required>
            <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
            <div ng-show="noStartResults">
              <i classs="glyphicon glyphicon-remove"></i> No Results Found
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                </button>
    <button type="submit" ng-disabled="editForm1.$invalid || vm.isSaving" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save-{{editForm1.$invalid}}</span>
                </button>
  </div>
</form>

<form ng-hide="vm.safariDay" name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myLocationLabel" ng-show="vm.location.id">Edit a Location</h4>
    <h4 class="modal-title" id="myLocationLabel" ng-show="vm.location.id == null">Add a Location</h4>
  </div>
  <div class="modal-body">
    <!-- <div class="row" ng-show="vm.safariDay">
      <div class="col-md-12">
          <div class="form-group">
            <label class="filter-col" style="margin-right:0;" for="pref-search">Search to Select a location:{{vm.safariDay}}</label>
            <input type="text" ng-model="vm.day.endLocationName" placeholder="Location Name e.g Nairobi" uib-typeahead="loc.name for loc in vm.getLocation($viewValue)"
              typeahead-loading="loadingLocations" typeahead-no-results="noStartResults" typeahead-on-select="vm.onLocationSelected($item, $model)"
              class="form-control" required>
            <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
            <div ng-show="noStartResults">
              <i classs="glyphicon glyphicon-remove"></i> No Results Found
            </div>
          </div>
        </div>
    </div> -->
    <div class="row" ng-hide="vm.safariDay">
      <div class="col-md-12">
          <div class="form-group">
            <label class="filter-col" style="margin-right:0;" for="pref-search">Search to Select a location:a</label>
            <input type="text" ng-model="vm.newLocation.name" placeholder="Location Name e.g Nairobi" uib-typeahead="loc.name for loc in vm.getLocation($viewValue)"
              typeahead-loading="loadingLocations" typeahead-no-results="noStartResults" typeahead-on-select="vm.onLocationSelected($item, $model)"
              class="form-control" required>
            <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
            <div ng-show="noStartResults">
              <i classs="glyphicon glyphicon-remove"></i> No Results Found
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save-{{editForm.$invalid}}</span>
                </button>
  </div>
</form>
