<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myLocationLabel">Location Group</h4>
  </div>

  <div class="modal-body">

    <jhi-alert-error></jhi-alert-error>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="control-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.location.name" required />
          <div ng-show="editForm.name.$invalid">
            <p class="help-block" ng-show="editForm.name.$error.required">
              This field is required.
            </p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="field_abbreviation">Short Name or Code</label>
          <input type="text" class="form-control" name="abbreviation" id="field_abbreviation" ng-model="vm.location.abbreviation"
            required />
          <div ng-show="editForm.abbreviation.$invalid">
            <p class="help-block" ng-show="editForm.abbreviation.$error.required">
              This field is required.
            </p>
          </div>
        </div>
        <div class="form-group" ng-show="vm.setlocationTypeVisible">
          <label for="field_organisationTypeId">Type of location</label>
          <select class="form-control" id="field_organisationTypeId" name="organisationTypeId" ng-model="vm.location.organisationTypeId"
            ng-change="vm.locationTypeChange(vm.location.organisationTypeId)" ng-options="locationType.id as locationType.name for locationType in vm.locationTypes">
            <option value=""></option>
          </select>
        </div>

        <div class="form-group" ng-show="vm.setParentLocationVisible">
          <label for="field_parentLocationId">Parent Location</label>
          <select class="form-control" id="field_parentLocationId" name="parentLocationId" ng-model="vm.location.parentLocationId"
            ng-change="vm.parentLocationChange(vm.location.parentLocationId)" ng-options="location.id as location.name for location in vm.tempParentLocations">
            <option value="" disabled></option>
          </select>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : editForm.brief.$viewValue.length == 200}">
          <label class="control-label" for="field_brief">Brief</label>
          <textarea class="form-control" name="brief" id="field_brief" ng-model="vm.location.brief" maxlength="200"
            ng-maxlength="200"></textarea>
          <div class="help-block" ng-show="editForm.brief.$viewValue.length == 200">Maximum length reached</div>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : editForm.description.$viewValue.length == 200}">
      <label class="control-label" for="field_brief">Description</label>
      <textarea class="form-control" name="description" id="field_brief" ng-model="vm.location.description" maxlength="1000"
        ng-maxlength="1000"></textarea>
      <div class="help-block" ng-show="editForm.description.$viewValue.length == 1000">Maximum length reached</div>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : editForm.notes.$viewValue.length == 1000}">
      <label class="control-label" for="field_brief">Notes</label>
      <textarea class="form-control" name="brief" id="field_notes" ng-model="vm.location.notes" maxlength="1000"
        ng-maxlength="1000"></textarea>
      <div class="help-block" ng-show="editForm.notes.$viewValue.length == 1000">Maximum length reached</div>
    </div>
  </div>
  </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
      <span>Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;
      <span>Save</span>
    </button>
  </div>
</form>