<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="settings">Settings</a>
            </li>
            <li ui-sref-active="active">Location Group</li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="breadcrumb-btns">
            <ul class="nav nav-pills pull-right">
              <li>
                <button type="button" class="btn btn-default btn-sm" ui-sref="areas.new">
                  <span class="glyphicon glyphicon-plus-sign"></span> Areas</button>
              </li>
              <li>
                <div ng-include="'core/routes/settings/settings-menu/settings-navbar.html'"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <!-- <img class="img-responsive" ng-src="{{vm.profile_image_url}}" alt="{{ vm.account.name }}"> -->
      <div ng-include="'core/routes/settings/settings-menu/settings-menu.html'"></div>
    </div>
  </div>

  <div class="col-md-9" ng-show="vm.areas == null">
    <div class="panel panel-default">
      <div class="panel-body">
        No areas found
      </div>
    </div>
  </div>

  <div class="col-md-9" ng-show="vm.areas">
    <div class="alert alert-success alert-dismissible fade in" ng-show="vm.dragAlert === true">
      <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>To sort, drag the meal Types to desired positions</strong>
    </div>
    <div class="row">
      <div ui-sortable="vm.sortableOptions" ng-model="vm.areas" class="vm.areas">
        <div class="col-sm-6 col-md-4" ng-repeat="record in vm.areas | filter:query">
          <div class="thumbnail">

            <div class="caption">
              <h5><strong>{{record.name}}</strong></h5>

              <h5><strong>{{record.abbreviation}} <span class="label label-success"> {{record.typeName}}</span></strong>
              </h5>
              <hr>
              <a ui-sref="areas-areas.new({areaId: record.id})" class="pull-right">
                <span class="label label-primary">
                  <span class="glyphicon glyphicon-plus-sign">
                  </span>&nbsp; Location</span>
              </a>
              <br>
              <br>

              <div ng-repeat="objectFeature in record.locations">
                <div class="row">
                  <div class="col-md-10" style="padding-right: 0px; margin-bottom: 10px;">
                    <span class="label label-default">
                      {{objectFeature.name}}
                    </span>
                  </div>
                  <div class="col-md-2" style="margin-left: 0px; padding: 0px;">
                    <a ui-sref="areas-areas.delete({ locId: objectFeature.id,areaId: record.id})" class="">
                      <strong class="label label-danger"><span class="glyphicon glyphicon-trash"></span></strong>
                    </a>
                  </div>
                </div>
              </div>
            <hr>
            <div style="margin-right: 10px;">
              <h5><strong>DESCRIPTION </strong></h5>
              <p class="capitalize">{{record.description}}</p>
            </div>

            <hr>
            <h5 class="text-left"> <a class="notes" style="color:#000;text-decoration:none;" data-toggle="collapse"
                href="areas/areas/areas.html/#multiCollapseExample{{$index}}" role="button" aria-expanded="false"
                aria-controls="multiCollapseExample">
                <strong>NOTES</strong> <span class="glyphicon glyphicon-chevron-down"></span></a></h5>

            <div class="collapse multi-collapse capitalize" id="multiCollapseExample{{$index}}">
              <div class="card card-body" ng-bind-html="record.notes">
                {{record.notes}}
              </div>
            </div>
            <br>
            <p>
              <a href="#" class="btn btn-primary" role="button" ui-sref="areas.edit({areaId: record.id})">Edit</a>
              <a class="btn btn-danger pull-right" role="button" ui-sref="areas.delete({id: record.id})">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
