<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="col-md-8">
        <ul class="breadcrumb">
          <li ui-sref-active="active">
            <a ui-sref="home">Home</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="locations">Locations</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="breadcrumb-btns">
          <ul class="nav nav-pills pull-right">
            <li>
              <button type="button" class="btn btn-primary btn-sm" ui-sref="locations-own.new">
                <span class="glyphicon glyphicon-plus"></span> Location</button>
            </li>
            <li>
              <button type="button" class="btn btn-info btn-sm more" data-toggle="dropdown">... </button>
              <ul class="dropdown-menu pull-right" role="menu">
                <li>
                  <a ui-sref="settings">More actions</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- the main panel showing the -->

<div class="row" ng-show="vm.noRecordsFound">
  <div class="panel panel-default">
    <div class="panel-body">
      No data found.
    </div>
  </div>
</div>

<div class="row" ng-hide="vm.noRecordsFound">
  <div class="col-sm-6 col-md-3" ng-repeat="location in vm.locations track by location.id">
    <div class="thumbnail" ng-hide="location.typeId == 16">
      <img class="img-responsive" ng-src="{{vm.profile_image_url}}{{location.uuid}}" alt="{{ vm.location.name }}">
      <div class="caption">
        <!-- <div class="pull-right">
          <a ui-sref="locations-own.edit({id:location.id})">
            <h5><span class="glyphicon glyphicon-pencil"></span></h5>
          </a>
        </div> -->
        <h5>{{location.name}}</h5>
        <p>{{location.brief}}</p>
        <p><a class="btn btn-primary" role="button" ui-sref="locations-locations.overview({locationId:location.id})">View</a></p>
      </div>
    </div>
  </div>
</div>
