<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="col-md-8">
        <ul class="breadcrumb">
          <li ui-sref-active="active">
            <a ui-sref="home">Home</a>
          </li>
          <li ui-sref-active="active" permission="['MANAGER_USER']">
            <a ui-sref="locations">Locations</a>
          </li>
          <li ui-sref-active="active" permission="['D_AUTHORITY_USER']">
            <a ui-sref="locations-own">Locations</a>
          </li>
          <li ui-sref-active="active" permission="['MANAGER_USER']" >
            <a ui-sref="locations-locations.overview({locationId:vm.location.parentId})">{{vm.location.parentName}}</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="locations-locations.overview({locationId: vm.location.id})">{{vm.location.name}}</a>
          </li>
          <li ui-sref-active="active" class="active">Overview</li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="breadcrumb-btns">
          <ul class="nav nav-pills pull-right">
            <li>
              <button ng-hide="vm.location.contentStatus === 'DELETED'" type="button" class="btn btn-danger btn-sm"
                ui-sref="location-detail.delete({id: vm.location.id})">
                <span class="glyphicon glyphicon-trash"></span></button>
            </li>
            <li>
              <button permission="['PROPERTY_USER']" type="button" ui-sref="home.gettingStarted"
                class="btn btn-sm btn-info more dropdown-toggle">
                Getting Started
              </button>
            </li>
            <li>
              <button type="button" class="btn btn-default btn-sm more dropdown-toggle" data-toggle="dropdown"">
                ...
              </button>
            </li>
          </ul>
          </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="image-container">
        <img class="img-responsive" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{vm.location.uuid}}"
          alt="{{ vm.location.name }}">
        <a ui-sref="locations.profile({objectUuid : vm.location.uuid,objectName : vm.location.name })"
          class="icon-choose-image">
          <img src="images/camera.png">
        </a>
      </div>
      <div class="panel-body">
        <h4>{{vm.location.name}}</h4>
      </div>
      <!-- <ul class="nav nav-pills nav-stacked">
            <li ui-sref-active="active" role="presentation">
              <a ui-sref="locations-locations.overview({locationId: vm.location.id})">Overview</a>
            </li>
            <li ui-sref-active="active" role="presentation">
              <a ui-sref="locations-locations.detail({locationId: vm.location.id})">Properties</a>
            </li>
            <li ui-sref-active="active" role="presentation">
              <a ui-sref="locations-locations.restaurants({locationId: vm.location.id})">Restaurants</a>
            </li>
            <li ui-sref-active="active" role="presentation">
              <a ui-sref="locations-locations.galleries({locationId: vm.location.id})">Gallery</a>
            </li>
          </ul> -->
      <div ng-include="'core/routes/locations/locations-menu.html'"></div>

    </div>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-md-8">
              <div class="pull-right">
                <a ui-sref="locations-locations.overview.edit">
                  <h3>
                    <span class="glyphicon glyphicon-pencil"></span>
                  </h3>
                </a>
              </div>
              <h2>{{vm.location.name}}</h2>

              <p>{{vm.location.brief}}</p>
              <p>{{vm.location.description}}</p>

              <p class="p-padding pull-right">
                <span ng-repeat="objectLabel in vm.objectLabels">
                  <span class="label label-default" style="margin-left: 4px">
                    {{objectLabel.labelName}}
                    <a ui-sref="location-detail.deleteLabel({itemToDelete: objectLabel.id})">
                      <strong class="label label-danger">X</strong>
                    </a>
                  </span>
                </span>
                <a ui-sref="location-detail.addLabels({objectType: vm.location.typeName, uuid: vm.location.uuid})">
                  <span class="label label-primary">
                    <span class="glyphicon glyphicon-plus-sign"></span> Add labels</span>
                </a>
              </p>
            </div>
            <div class="col-md-4">
              <table class="table pull-right">
                <tr>
                  <td>
                    <strong>Type</strong>
                  </td>
                  <td>
                    {{vm.location.typeName}}
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>contentStatus</strong>
                  </td>
                  <td>
                    {{vm.location.contentStatus}}
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Abbreviation</strong>
                  </td>
                  <td>
                    {{vm.location.abbreviation}}
                  </td>
                </tr>

                <tr ng-show="vm.location.parentId !== null" permission="['MANAGER_USER']">
                  <td>
                    <strong>Parent Location</strong>
                  </td>
                  <td>
                    <a
                      ui-sref="locations-locations.overview({locationId:vm.location.parentId})">{{vm.location.parentName}}</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Managed By:</strong>
                  </td>
                  <td permission="['MANAGER_USER']">
                    <a ui-sref="organization-detail({id: vm.location.managerId})">{{vm.location.managerName}}</a>
                  </td>

                  <td permission="['D_AUTHORITY_USER']">
                      {{vm.location.managerName}}
                    </td>
                </tr>
                <tr>
                  <td>
                    <strong>Coordinates</strong>
                  </td>
                  <td>
                    {{vm.location.coordinates[0].latitude}} - {{vm.location.coordinates[0].longitude}}
                  </td>
                </tr>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{vm.googleMapsUrl}}">
              <ng-map id="map" center="{{vm.coordinates[0].latitude}},{{vm.coordinates[0].longitude}}" zoom="10">
                <marker on-dragend="map.showInfoWindow('bar')" on-dragend="vm.getpos($event, childLocation)"
                  position="{{vm.coordinates[0].latitude}}, {{vm.coordinates[0].longitude}}"
                  title="{{childLocation.name}}">
                </marker>
                <marker on-dragend="map.showInfoWindow('bar')" on-dragend="vm.getpos($event, childLocation)"
                  ng-repeat="childLocation in vm.childLocations"
                  position="{{childLocation.latitude}}, {{childLocation.longitude}}" title="{{childLocation.name}}">
                </marker>
              </ng-map>
            </div>
          </div>
          <!-- <div class="panel-body" ng-show="{{stateObject.locationType == 10}}">
              <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{vm.googleMapsUrl}}">
                <ng-map id="map" center="{{vm.coordinates[0].latitude}},{{vm.coordinates[0].longitude}}" zoom="10">
                  <marker on-dragend="map.showInfoWindow('bar')" on-dragend="vm.getpos($event, childLocation)" position="{{vm.coordinates[0].latitude}}, {{vm.coordinates[0].longitude}}"
                    title="{{childLocation.name}}">
                  </marker>
                </ng-map>
              </div>
            </div> -->
        </div>
      </div>

    </div>
  </div>
</div>
</div>
