<form name="deleteForm" ng-submit="vm.confirm()">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
              ng-click="vm.clear()">&times;</button>
      <h4 class="modal-title">Confirm</h4>
  </div>
  <div class="modal-body">
      <p>Are you sure you want to make this the cover image ?</p>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
          <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
      </button>
      <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-primary">
          <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Confirm</span>
      </button>
  </div>
</form>
