<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="col-md-8">
          <!-- <ul class="breadcrumb">
              <li ui-sref-active="active">
                <a ui-sref="home">Home</a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="locations-own">Locations</a>
              </li>
              <li ui-sref-active="active" ng-show="vm.showCountry" >
                  <a ui-sref="locations-locations({countryId: vm.country.id})">{{vm.country.name}}</a>
                </li>
              <li ui-sref-active="active">
                <a ui-sref="locations-locations.overview({locationId: vm.location.id})">{{vm.location.name}}</a>
              </li>
              <li ui-sref-active="active" class="active">Properties</li>
            </ul> -->
            <ul class="breadcrumb">
                <li ui-sref-active="active">
                  <a ui-sref="home">Home</a>
                </li>
                <li ui-sref-active="active" permission="['MANAGER_USER','T_OPERATOR_USER']">
                  <a ui-sref="locations">Locations</a>
                </li>
                <li ui-sref-active="active" permission="['D_AUTHORITY_USER']">
                  <a ui-sref="locations-own">Locations</a>
                </li>
                <li ui-sref-active="active" permission="['MANAGER_USER','T_OPERATOR_USER']">
                  <a ui-sref="locations-locations.overview({locationId:vm.location.parentId})">{{vm.location.parentName}}</a>
                </li>
                <li ui-sref-active="active">
                  <a ui-sref="locations-locations.overview({locationId: vm.location.id})">{{vm.location.name}}</a>
                </li>
                <li ui-sref-active="active" class="active">Properties</li>
              </ul>
          </div>
      <div class="col-md-4">
        <div class="header-btns pull-right">
          <button style="margin-top: 05px" type="button" class="btn btn-primary btn-sm" ui-sref="location-properties.new">
            <span class="glyphicon glyphicon-plus"></span>
            <span class="hidden-xs-down">
              Add Property
            </span>
          </button>
          <button permission="['PROPERTY_USER']" type="button" ui-sref="home.gettingStarted" class="btn btn-default btn-xs more dropdown-toggle"
            style="margin-top: 8px;">
            Getting Started
          </button>
          <button type="button" class="btn btn-default btn-xs more dropdown-toggle" data-toggle="dropdown" style="margin-top: 8px;">
            ...
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <img class="img img-thumbnail" src="{{URLS.PROFILE_IMAGE_URL}}{{vm.location.uuid}}" alt="">
      <div class="panel-body">
        <h4>{{vm.location.name}}</h4>
      </div>
     
        <div ng-include="'core/routes/locations/locations-menu.html'"></div>

    </div>
  </div>

  <div class="col-md-9" ng-hide="vm.organizations.length > 0">
    <div class="panel panel-default">
      <div class="panel-body">
        No records found.
      </div>
    </div>
  </div>

  <div class="col-md-9" ng-show="vm.organizations.length > 0">
    
    <div class="row">

      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div map-lazy-load="{{vm.googleMapsUrl}}">
              <ng-map center="{{vm.locations[0].latitude}},{{vm.locations[0].longitude}}" zoom="{{vm.zoom}}">
                <div ng-repeat="location in vm.locations">
                  <marker position="{{location.latitude}}, {{location.longitude}}" on-click="vm.setCurrentLocation({$event: location.id})"
                    title="{{location.name}}" on-click="map.showInfoWindow('bar')">
                  </marker>
                  <info-window id="bar" visible-on-marker="true">
                    <div ng-non-bindable>
                      <div id="siteNotice"></div>
                      <h1 id="firstHeading" class="firstHeading">Uluru</h1>
                      <div id="bodyContent">
                        <p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large
                          sandstone rock formation in the southern part of the
                          Northern Territory, central Australia. It lies 335 km (208 mi)
                          south west of the nearest large town, Alice Springs; 450 km
                          (280 mi) by road. Kata Tjuta and Uluru are the two major
                          features of the Uluru - Kata Tjuta National Park. Uluru is
                          sacred to the Pitjantjatjara and Yankunytjatjara, the
                          Aboriginal people of the area. It has many springs, waterholes,
                          rock caves and ancient paintings. Uluru is listed as a World
                          Heritage Site.</p>
                        <p>Attribution: Uluru, <a href="http://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">
                            http://en.wikipedia.org/w/index.php?title=Uluru</a>
                          (last visited June 22, 2009).</p>
                      </div>
                    </div>
                  </info-window>
                  <!-- on-tap="vm.setCurrentLocation(p.id)" -->

                </div>
              </ng-map>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="row">
          <div class="col-md-6" ng-repeat="location in vm.organizations track by location.id" style="padding-left:15px;" >
        <div class="panel panel-default"  style="height:170px;width:100%;">
          <div class="panel-body" style="padding-top: 10;">
            <div class="row">
              <div class="col-md-4">

                <div class="image-container">
                  <img class="img-responsive" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{location.uuid}}" alt="{{ location.name }}">
                  <!-- <a ui-sref="location-properties.profile({objectUuid : location.uuid,objectName : location.name})"
                    class="icon-choose-image">
                    <img src="images/camera.png">
                  </a> -->
                </div>
              </div>
              <div class="col-md-8">
                <!-- <div class="pull-right">
                  <a ui-sref="location-properties.edit({locId:location.id})">
                    <h3>
                      <span class="glyphicon glyphicon-pencil"></span>
                    </h3>
                  </a>
                </div> -->
                <h4><a ui-sref="locations-locations.overview({locationId:location.id, locationType : location.typeId})">{{location.name}}</a></h4>
                <p ng-show="{{location.brief != null}}" >{{vm.shortenString(location.brief)}}</p>

                <!-- <p>{{location.description}}</p> -->
                <!-- <p>
                    <a class="btn btn-primary" role="button" ng-click="vm.switchAccount(location.managerId)">Manage</a>
                  </p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- pagination -->
<div class="row">
  <div class="col-md-12 ">
    <div class="text-center saf-pagination">
      <saf-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></saf-item-count>
      <uib-pagination total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()" class="pagination-sm"
        items-per-page="vm.itemsPerPage">
        <uib-pagination>
    </div>
  </div>
</div>
<!-- end of pagination -->

  </div>

</div>
