<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="settings">Settings</a>
            </li>
            <li ui-sref-active="active">Transport Trip</li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="breadcrumb-btns">
            <ul class="nav nav-pills pull-right">
              <li>
                <button type="button" class="btn btn-default btn-sm" ui-sref="vehicles-transport-trip.new">
                  <span class="glyphicon glyphicon-plus"></span>
                  <span class="hidden-xs-down">
                    Transport Trip
                </button>
              </li>
              <li>
                <div ng-include="'core/routes/settings/settings-menu/settings-navbar.html'"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- filter panel -->

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <img class="img-responsive" ng-src="{{vm.profile_image_url}}" alt="{{ vm.account.name }}">
      <div ng-include="'core/routes/settings/settings-menu/settings-menu.html'"></div>
    </div>
  </div>

  <div class="col-md-9" ng-show="vm.noRecordsFound">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          No data found.
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-9" ng-hide="vm.noRecordsFound">
    <div class="alert alert-success alert-dismissible fade in" ng-show="vm.dragAlert === true">
      <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>To sort, drag the Travel Trips to desired positions</strong>
    </div>
    <div class="row">
      <div ui-sortable="vm.sortableOptions" ng-model="vm.transportTrips" class="vm.transportTrips">
        <div class="col-sm-6 col-md-4" ng-repeat="transportTrip in vm.transportTrips | filter:query">
          <div class="thumbnail">
            <!-- <img src="images/image-placeholder.svg" alt=""> -->
            <div class="caption">

              <h4><strong class="uppercaseName">{{transportTrip.name}}</strong> </h4>
              <h5 class="uppercaseName">{{transportTrip.abbreviation}}</h5>

              <hr>

              <h5><strong>DESCRIPTION </strong></h5>
              <p class="capitalize">{{transportTrip.description}}</p>

              <hr>

              <h5 class="text-left"> <a class="notes" data-toggle="collapse"
                  href="routes/transport-trip/transport-trip.html/#multiCollapseExample{{$index}}" role="button"
                  aria-expanded="false" aria-controls="multiCollapseExample">
                  <strong>NOTES</strong> <span class="glyphicon glyphicon-chevron-down"></span></a></h5>

              <div class="collapse multi-collapse capitalize" id="multiCollapseExample{{$index}}">
                <div class="card card-body">
                  {{transportTrip.notes}}
                </div>
              </div>

              <br>


              <p>
                <a href="#" class="btn btn-primary" role="button"
                  ui-sref="vehicles-transport-trip.edit({id: transportTrip.id})">Edit</a>
                <a href="#" class="btn btn-danger pull-right" role="button"
                  ui-sref="vehicles-transport-trip.delete({id: transportTrip.id})">
                  <span class="glyphicon glyphicon-trash"></span>

                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
