<style>
  .form-group {
    margin-bottom: 5px;
  }

  .help-block {
    margin-bottom: 5px;
  }
</style>
<form name="editForm" role="form" novalidate ng-submit="vm.save()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myProfessionalLabel">Edit a Transport Trip</h4>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <div class="form-group">
      <label for="field_generalTransportSubCategoryId">Choose Type of Trip</label>
      <select class="form-control" id="field_generalTransportSubCategoryId" name="generalTransportSubCategoryId"
        ng-model="vm.transportTrip.generalTransportTripId"
        ng-options="generalTransportTrip.id as generalTransportTrip.name for generalTransportTrip in vm.generalTransportTrips"
        ng-change="vm.selectedTripType(vm.transportTrip.generalTransportTripId)" required>
        <option value="" disabled selected>Select your option</option>
      </select>
      <div class="help-block" ng-show="editForm.generalTransportSubCategoryId.$invalid">required</div>
    </div>
    <div class="form-group">
      <label class="control-label" for="field_name">Name</label>
      <input type="text" class="form-control" name="tripName" id="field_name" ng-model="vm.transportTrip.name" />
    </div>
    <div class="form-group">
      <label class="control-label" for="field_abbrev">Abbreviation</label>
      <input type="text" class="form-control" name="tripAbbrev" id="field_abbrev"
        ng-model="vm.transportTrip.abbreviation" />
    </div>

    <div class="form-group">
      <label class="control-label" for="field_brief">Brief</label>
      <textarea class="form-control" name="brief" id="field_brief" ng-model="vm.transportTrip.brief"></textarea>
    </div>
    <div class="form-group">
      <label class="control-label" for="field_description">Description</label>
      <textarea class="form-control" name="description" id="field_description"
        ng-model="vm.transportTrip.description"></textarea>
    </div>
    <div class="form-group">
      <label class="control-label" for="field_notes">Special Notes about the transport Trip</label>
      <textarea class="form-control" name="notes" id="field_notes" ng-model="vm.transportTrip.notes"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
        data-translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
    </button>
  </div>
</form>
