<form name="editForm" role="form" novalidate ng-submit="vm.save()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProfessionalLabel">FIT</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4" ng-show="true">
                <div class="form-group">
                    <label class="control-label" for="field_startDate">Date of Visit</label>
                    <p class="input-group">
                        <input required type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="vm.programme.startDay" is-open="vm.openedFrom"
                            close-text="Close" ng-click="vm.openFrom()" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openFrom()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>

            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label" for="field_registration">Client Names</label>
                    <input type="text" class="form-control" name="registration" id="field_registration" ng-model="vm.programme.reference" placeholder="Samuel Kamochu and Grace Kimani 7 day Mara tour"
                    />
                </div>
            </div>
        </div>
        <!-- <div ng-hide="true" class="col-md-6">
            <div class="form-group">
              <label for="field_year">Start Day</label>
              <select class="form-control" id="field_year" name="year" ng-model="vm.programme.startDay" ng-options="programmeDay as programmeDay for programmeDay in vm.programmeDays">
                <option>{{programmeDay}}</option>
              </select>
            </div>
          </div> -->
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="field_name">From Location</label>
                    <input type="text" ng-model="vm.programme.startLocationName" placeholder="Ol Tukai Lodge ..." uib-typeahead="loc.name for loc in vm.getLocation($viewValue)"
                        typeahead-loading="loadingStartLocations" typeahead-no-results="noStartResults" typeahead-on-select="vm.onstartDestinationSelected($item, $model)"
                        class="form-control" required>
                    <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noStartResults">
                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="field_name">To Location</label>
                    <input type="text" ng-model="vm.programme.endLocationName" placeholder="Ol Tukai Lodge ..." uib-typeahead="address.name for address in vm.getLocation($viewValue)"
                        typeahead-loading="loadingLocations" typeahead-no-results="noResults" typeahead-on-select="vm.onEndDestinationSelected($item, $model)"
                        class="form-control" required>
                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noResults">
                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label" for="field_registration">No. of Days</label>
                    <input type="number" class="form-control" name="registration" id="field_registration" ng-model="vm.programme.numberOfDays"
                        required/>
                    <div ng-show="editForm.numberOfNights.$invalid">
                        <p class="help-block" ng-show="editForm.numberOfDays.$error.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label" for="field_registration">No. of Nights</label>
                    <input type="number" class="form-control" name="registration" id="field_registration" ng-model="vm.programme.numberOfNights"
                        required />
                    <div ng-show="editForm.numberOfNights.$invalid">
                        <p class="help-block" ng-show="editForm.numberOfNights.$error.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="field_registration">Currency</label>
                    <select class="form-control" id="field_targetId" name="chainId" ng-model="vm.programme.currencyId" ng-options="currency.id as currency.name for currency in vm.currencies">
                        <option value="{{currency.name}}"></option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="field_year">Mark Up (%)</label>
                    <input type="number" class="form-control" name="registration" id="field_registration" placeholder="10%" ng-model="vm.programme.generalMarkUp"
                        required/>
                    <div ng-show="editForm.numberOfNights.$invalid">
                        <p class="help-block" ng-show="editForm.numberOfNights.$error.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">

                    <label class="control-label" for="field_discription">Description</label>
                    <textarea class="form-control" name="discription" id="field_brief" ng-model="vm.programme.description" maxlength="1000" ng-maxlength="200"></textarea>
                    <div class="help-block" ng-show="editForm.discription.$viewValue.length == 1000">This field cannot be longer than 200 characters.</div>

                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
            <span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;
            <span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>