<form name="editForm" role="form" novalidate ng-submit="vm.save()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myProfessionalLabel">Create a Service</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6" ng-show="vm.hideForEdit">
          <div class="form-group">
            <label class="control-label" for="field_registration">Service
              <span class="text text-danger">*</span>
            </label>
            <br>
            <div ng-show="vm.svcInput == false">
              <div class="col-md-8">
                <select class="form-control pull-left" id="field_targetId" name="chainId" ng-model="vm.selectedService" ng-change="vm.onChangeSvc()" ng-options="service as service.name for service in vm.generalServices">
                </select>
              </div>
              <div class="col-md-4">
                <button type="button" ng-click="vm.toggleCustomService()" class="btn btn-default btn-xs" style="margin-top: 5px;">Custom</button>
              </div>
            </div>
            <div ng-show="vm.svcInput == true">
              <div class="input-group">
                <input type="text" class="form-control" ng-model="vm.entity.serviceName" placeholder="Enter the Service Name">
                <div class="input-group-btn">
                  <button type="button" ng-click="vm.toggleCustomService()" class="btn btn-default">Back</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6" ng-show="vm.hideForEdit">
          <div class="form-group">
            <label class="control-label" for="field_registration">Provider
              <span class="text text-danger">*</span>
            </label>
            <input type="text" ng-model="vm.provider" placeholder="Ol Tukai Lodge ..." uib-typeahead="provider.name for provider in vm.getProvider($viewValue)" typeahead-loading="loadingProviders" typeahead-no-results="noResults" typeahead-on-select="vm.onProviderSelected($item, $model)" class="form-control">
            <i ng-show="loadingProviders" class="glyphicon glyphicon-refresh"></i>
            <div ng-show="noResults">
              <i class="glyphicon glyphicon-remove"></i> No Results Found. The value will still be registered.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label" for="field_registration" ng-show="vm.hideForEdit">Contract
              <span class="text text-danger">*</span>
            </label>
            <label class="control-label" for="field_registration" ng-show="vm.showForEditCustomValue">Cost Value
              <span class="text text-danger">*</span>
            </label>
            <br>
            <div ng-show="vm.contractInput == false">
              <div class="col-md-8">
                <select class="form-control" id="field_targetId" name="contract" ng-model="vm.selectedContract" ng-change="vm.onChangeContract()" ng-options="contract as contract.name for contract in vm.contracts" ng-show="vm.hideForEdit">
                </select>
              </div>
              <div class="col-md-4">
                <button type="button" ng-click="vm.toggleContractCostValue()" ng-show="vm.hideForEdit" class="btn btn-default btn-xs" style="margin-top: 5px;">Custom</button>
              </div>
            </div>
            <div>
            </div>
            <div ng-show="vm.contractInput">
              <div class="input-group">
                <input type="number" min="1" ng-model="vm.entity.value" placeholder="Enter the Cost Value" class="form-control">
                <div class="input-group-btn">
                  <button type="button" ng-click="vm.toggleContractCostValue()" class="btn btn-default">Back</button>
                </div>
              </div>
            </div>
          </div>
          <!-- form-group end -->
          <input type="number" min="1" ng-model="vm.entity.value" placeholder="Enter the Cost Value" class="form-control" ng-show="vm.showForEditCustomValue">
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label" for="field_registration">Markup
              <span class="text text-danger">*</span>
            </label>
            <input type="number" min="0" class="form-control" ng-model="vm.entity.markUp" placeholder="50" required>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label" for="field_registration">Start Time</label>
            <input type="time" ng-model="vm.startTime" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label" for="field_registration">End Time</label>
            <input type="time" ng-model="vm.endTime" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label class="control-label" for="field_registration">Brief
        </label>
        <textarea class="form-control" rows="3" ng-model="vm.entity.description" placeholder="Describe the service being added...">
        </textarea>
      </div>
    </div>
    <div class="col-md-12">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="vm.entity.visible"> Show this service ?
        </label>
      </div>
    </div>
    <!-- {{vm.dimensionSet}} -->
    <!-- LOOP FOR CONTRACT PARAMETERS THAT ARE SUPPLEMENTABLE -->
    <div class="row" ng-show="vm.hideForEdit">
      <div class="col-md-12">
        <div class="col-md-6" ng-repeat="x in vm.programmeServiceParamsDTOList">
          <label class="control-label" for="field_startDate">{{x.setDimensionName}}</label>
          <select class="form-control" name="contract" ng-model="x.existenceId" ng-options="object as object.name for object in x.existenceDTOList">
          </select>
        </div>
      </div>
    </div>
    <!-- LOOP FOR CONTRACT PARAMETERS THAT ARE SUPPLEMENTABLE  -->
  </div>
  <!-- End Modal Body-->
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
      <span data-translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;
      <span data-translate="entity.action.save">Save</span>
    </button>
  </div>
</form>
