<div class="row">
    <div class="container">
        <div class="col-md-12 breadcrumb-white-bg">
            <div class="">
                <div class="col-md-8">
                    <ul class="breadcrumb">
                        <li ui-sref-active="active">
                            <a ui-sref="home">Home</a>
                        </li>
                        <li>
                            <a ui-sref="packages">packages</a>
                        </li>
                        <li>
                            <a ui-sref="packages-detail-view({id: vm.programme.pakageId})">{{vm.programme.pakageName}}</a>
                        </li>
                        <li ui-sref-active="active" class="active">{{vm.programme.reference }} : {{vm.programme.numberOfDays}} DAYS, {{vm.programme.numberOfNights}}
                            NIGHTS
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="breadcrumb-btns">
                        <ul class="nav nav-pills pull-right">
                            <li>
                                <button ui-sref="programme-detail-view.manage({progId:vm.programme.id})" class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-edit"></span>
                                    Manage {{vm.programme.id}}</button>
                            </li>
                            <li>
                                <button  class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    <span class="hidden-xs-d">Preview</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-8">
        <!-- Basic information div  -->

        <!--programme params-->
        <div class="panel panel-default" ng-repeat="day in vm.programme.serviceGroups">
            <div class="panel-heading">
                <div ng-hide="day.type === 'GENERAL'">
                    <div>
                        <strong>{{day.day}} </strong> - {{day.destinationName || "Destination Unspecified"}}</div>
                </div>
                <div ng-show="day.type === 'GENERAL'">
                    <strong>GENERAL SERVICES</strong>
                </div>

            </div>
            <div class="panel-body">
                <div class="row" style="margin-top: -15px;">
                    <div class="col-md-4">
                        <img class="img-responsive" style="width: 100%" src="{{URLS.PROFILE_IMAGE_URL}}{{day.uuid}}" alt="{{ vm.entity.name }}" alt="">
                    </div>
                    <div class="col-md-8">
                        <p>{{day.brief}}</p>
                        <div class="row">
                            <div class="col-md-6" ng-repeat="svc in day.programmeServices">
                                <strong style="color: blue">{{svc.serviceName}} in {{svc.providerName}}</strong>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-6">
                        <p ng-repeat="svc in day.programmeServices">
                            <strong style="color: blue">{{svc.serviceName}} - {{svc.providerName}}</strong>
                        </p>
                    </div> -->

                </div>
            </div>

        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-right">
                    <button type="button" ui-sref="programme-detail.newParam({paramType: 'INCLUSION'})" class="btn btn-xs btn-primary">
                        <span class="glyphicon glyphicon-plus"></span>Inclusion</button>
                </div>
                <strong>Inclusions</strong>
            </div>
            <div class="panel panel-body">
                <p ng-show="vm.inclusionParams.length == 0">No notes found.</p>
                <div class="" ng-repeat="parameter in vm.inclusionParams">
                    <div class="pull-right">
                        <div class="btn-group" role="group" aria-label="...">
                            <button class="btn btn-xs btn-default" type="button" ui-sref="programme-detail.editParameter({programmeId: vm.programme.id,type: 'INCLUSION',paramId: parameter.id})">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button class="btn btn-xs btn-default" ui-sref="programme-detail.deleteParameter({programmeId: vm.programme.id, type: 'INCLUSION',paramId: parameter.id})">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                    </div>
                    <p> {{parameter.description}} </p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-right">
                    <button type="button" ui-sref="programme-detail.newParam({paramType: 'EXCLUSION'})" class="btn btn-xs btn-primary">
                        <span class="glyphicon glyphicon-plus"></span>Exclusion</button>
                </div>
                <strong>Exclusions</strong>
            </div>
            <div class="panel panel-body">
                <p ng-show="vm.exclusionParams.length == 0">No notes found.</p>
                <div class="" ng-repeat="parameter in vm.exclusionParams">
                    <div class="pull-right">
                        <div class="btn-group" role="group" aria-label="...">
                            <button class="btn btn-xs btn-default" type="button" ui-sref="programme-detail.editParameter({programmeId: vm.programme.id,type: 'EXCLUSION',paramId: parameter.id})">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button class="btn btn-xs btn-default" ui-sref="programme-detail.deleteParameter({programmeId: vm.programme.id, type: 'EXCLUSION',paramId: parameter.id})">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                    </div>
                    <p> {{parameter.description}} </p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-right">
                    <button type="button" ui-sref="programme-detail.newParam({paramType: 'REQUIREMENTS'})" class="btn btn-xs btn-primary">
                        <span class="glyphicon glyphicon-plus"></span>Passenger</button>
                </div>
                <strong>Passenger Information</strong>
            </div>
            <div class="panel panel-body">
                <p ng-show="vm.requirementParams.length == 0">No notes found.</p>
                <div class="" ng-repeat="parameter in vm.requirementParams">
                    <div class="pull-right">
                        <div class="btn-group" role="group" aria-label="...">
                            <button class="btn btn-xs btn-default" type="button" ui-sref="programme-detail.editParameter({programmeId: vm.programme.id,type: 'REQUIREMENTS',paramId: parameter.id})">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button class="btn btn-xs btn-default" ui-sref="programme-detail.deleteParameter({programmeId: vm.programme.id, type: 'REQUIREMENTS',paramId: parameter.id})">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                    </div>
                    <p> {{parameter.description}} </p>
                </div>
            </div>
        </div>
    </div>
</div>