<div class="panel-body">
  <h4>Settings</h4>
</div>
<ul class="nav nav-pills nav-stacked">
  <li ui-sref-active="active" role="presentation">
    <a ui-sref="programme-detail({progId: vm.progId})">Overview</a>

  </li>
  <li ui-sref-active="active" role="presentation">
    <a ui-sref="programme-itinerary({progId: vm.progId})">Itenerary</a>

  </li>
  <li ui-sref-active="active" role="presentation">
    <a ui-sref="programme-rates({progId: vm.progId,contractId :vm.contractId,setId: vm.setId,seasonGroupId :vm.seasonGroupId, year : vm.year, programme : vm.programme})">Rates</a>

  </li>
  <li ui-sref-active="active" role="presentation">
    <a ui-sref="programme-galleries({progId: vm.progId})">Gallery</a>


  </li>



</ul>