<div class="row">
    <div class="container">
      <div class="col-md-12 breadcrumb-white-bg">
        <div class="">
          <div class="col-md-8">
            <ul class="breadcrumb">
              <li ui-sref-active="active">
                <a ui-sref="home">Home</a>
              </li>
              <li>
                <a ui-sref="packages">packages</a>
              </li>
              <li>
                <a ui-sref="packages-detail({id: vm.programme.pakageId})">{{vm.programme.pakageName}}</a>
              </li>
              <li ui-sref-active="active" class="active">{{vm.programme.reference }}
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <div class="breadcrumb-btns">
              <ul class="nav nav-pills pull-right">
                <li>
                  <button type="button" ng-hide="vm.programme.contentStatus === 'DELETED'" class="btn btn-danger   btn-sm" ui-sref="programmes-own.delete({id: vm.programme.id})">
                    <span class="glyphicon glyphicon-trash"></span>
                    <span class="hidden-xs-d">
                      Delete programme
                  </button>
                </li>
                <li>
                  <div ng-include="'core/routes/settings/settings-menu/settings-navbar.html'"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  
  <div class="row">
    <!-- begin of left main div  -->
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="image-container">
          <img ng-src="{{URLS.PROFILE_IMAGE_URL}}{{vm.programme.uuid}}" alt="">
          <a ui-sref="programme-detail.profile" class="icon-choose-image">
            <img src="images/camera.png">
          </a>
        </div>
        <div ng-include="'core/routes/programmes/programmes-sidebar-menu.html'"></div>
      </div>
    </div>
    <!-- Programme params-->
  
    <div class="col-md-9">
      <!-- Basic information div  -->
      <div class="row">
        <!-- begin of left main div  -->
        <div class="col-md-12">
          <!-- Basic information div  -->
          <div class="panel panel-default" ng-hide="true">
            <div class="panel-heading">
              <div class="pull-right">
                <button type="button" ui-sref="contracts-own-detail.editContract({contractId: vm.contract.id, setId: vm.contract.dimensionSetId})"
                  class="btn btn-primary btn-xs">
                  <span class="glyphicon glyphicon-edit"></span> Edit</button>
              </div>
             <strong> Basic Information</strong>
            </div>
      
            <div class="table-responsive">
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <td>Name: </td>
                    <td colspan="3">{{vm.contract.name}}</td>
                  </tr>
                  <tr>
                    <td>Issuer : </td>
                    <td>{{vm.contract.issuerName}} </td>
      
                    <td>Status: </td>
                    <td>{{vm.contract.status}} </td>
                  </tr>
                  <tr>
                    <td>Contract Type : </td>
                    <td>{{vm.contract.type}} </td>
                    <td>Currency: </td>
                    <td>{{vm.contract.currencyAbbreviation}} </td>
                  </tr>
                  <tr>
                    <td>Start Date: </td>
                    <td>{{vm.contract.startDate}} </td>
                    <td>End Date: </td>
                    <td>{{vm.contract.endDate}} </td>
                  </tr>
                  <!-- some work needs to be done to dispaly the dimension name and existence name as opposed to id -->
                  <tr ng-repeat="group in  vm.dimensionNotExclusiveParameterGroups">
                    <td ng-repeat="parameter in  group">
                      <span ng-show="parameter.type  == 'parameter'">{{vm.resolveDimensionNameByType(parameter.value)}}</span>
                      <span ng-show="parameter.type  == 'value'">{{vm.resolveExistenceName(parameter.dimensionType, parameter.value)}}</span>
                    </td>
                  </tr>
                  {{parameter}}
                </tbody>
              </table>
            </div>
          </div>
          <!-- Basic information div  -->
      
          <!-- Rates information div  -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong>Contract Rates</strong>
              <div class="pull-right">
                <button type="button" ng-click="isEdit = !isEdit" ng-show="vm.figures.length == 'undefined'">Add Rates</button>
                <div class="btn-group">
                  <button type="button" class="btn-xs" ng-class="{true:'btn-default',false:'btn-success'}[isEdit]" ng-click="saving(vm.total,vm.dynamic,vm.static, isEdit)">{{ isEdit ? 'Preview' : 'Save' }}</button>
                  <button type="button" class="btn-xs" ng-show="isEdit" ng-class="{true:'btn-default',false:'btn-success'}[isEdit]" ng-click="saving(vm.total,vm.dynamic,vm.static, isEdit)">Save</button>
                </div>
                <button type="button" class="btn btn-danger btn-xs" ng-show="isEdit" ng-click="vm.cancel()">Cancel</button>
                <!-- <button type="button" class="btn btn-danger btn-xs" ng-show="isEdit" ng-click="vm.toggleCustomService()">Calculate</button> -->
                <button type="button" class="btn btn-primary btn-xs" ng-show="!isEdit" ng-click="isEdit = !isEdit">
                  <span class="glyphicon glyphicon-edit"></span>Edit
                </button>
              </div>
            </div>
      
            <div ng-hide="isEdit == true">
              <div ng-if="vm.dimLength === 2" class="table-responsive">
                <h4 class="text-center">Rates</h4>
                <br>
                <table class="table table-striped table-bordered">
                  <thead>
                      <th></th>
                      <th ng-repeat="item in vm.dimensionSet[0].existenceDTOList">
                      <h5>{{ item.brief }} </h5>
                      {{item.name}}
                      <!-- <span class="badge" popover-placement="top" uib-popover-template="'popover.html'" popover-trigger="mouseenter">?</span>
                      <script type="text/ng-template" id="popover.html">
                        <div>
                          {{ item.brief }}
                          <ul>
                          </ul>
                        </div>
                      </script> -->
                    </th>
                    <!-- <th ng-repeat="item in vm.dimensionSet[0].existenceDTOList">
                        <p style="font-weight:normal ">{{ item.name }}</p>
                        {{item.brief}}
                    </th> -->
                  </thead>
                  <tbody>
                    <tr ng-repeat="row in vm.dimensionSet[1].existenceDTOList">
                      <td>
                         {{ row.name }}
                            <br>
                            <strong>{{row.brief}}</strong>
                      </td>
                      <td ng-repeat="item in vm.dimensionSet[0].existenceDTOList">
                        <!-- <input type="number" ng-model="vm.static[$parent.$index][$index]" style="width :60px" ng-change="vm.onStaticValueChange(vm.static[$parent.$index][$index],$parent.$index,$index)" disabled/><label>+</label>  <input type="number" ng-model="vm.dynamic[$parent.$index][$index]" style="width :40px" ng-change="vm.onContractValueChange(vm.dynamic[$parent.$index][$index])" disabled/><label>=</label> -->
                          <!-- <input type="number" ng-model="vm.total[$parent.$index][$index]" style="width :50px" disabled/> -->
                        <p>{{vm.total[$parent.$index][$index]}}</p>

                      </td>
                    </tr>
                  </tbody>
                </table>
                <br />
              </div>
      
              <div ng-if="vm.dimLength === 3" class="table-responsive">
                <div ng-hide="vm.noGroupsFound" ng-repeat="third in vm.thirdItem.existenceDTOList" ng-if="vm.dimLength === 3">
                  <br>
                  <p style="margin-left: 15px;font-weight:bold ">{{third.name | uppercase}} Rates</p>
                  <div>
                    <table class="table table-striped table-bordered">
                      <thead>
                        <th></th>
                        <th ng-repeat="item in vm.dimensionSet[0].existenceDTOList">
                          <p style="font-weight:normal ">{{ item.name }}</p>
                           {{item.brief}}
                        </th>
                      </thead>
                      <tbody>
                        <tr ng-repeat="row in vm.dimensionSet[1].existenceDTOList">
                          <td>
                            {{ row.name }}
                            <br>
                            <strong>{{row.brief}}</strong>
                          </td>
                          <td ng-repeat="item in vm.dimensionSet[0].existenceDTOList">
                            <input type="number" ng-model="vm.contract.staticValue" style="width :60px" /><label>+</label>  <input type="number" ng-model="vm.static[$parent.$parent.$index][$parent.$index][$index]" style="width :40px" /><label>=</label>  <input type="number" ng-model="vm.figures[$parent.$parent.$index][$parent.$index][$index]" style="width :50px" />

                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
      
            <div ng-show="isEdit == true">
              <form class="table-responsive">
                <!-- <div 'ng-include' src="isEdit ? 'tableEdit.html' : 'tableView.html'"></div> -->
                <div ng-if="vm.dimLength === 2">
                  <h4 class="text-center">Rates</h4>
                  <br>
      
                  <table class="table table-bordered table-striped">
                    <thead>
                        <th></th>
                        <th ng-repeat="item in vm.dimensionSet[0].existenceDTOList">
                          <h5>{{ item.brief }} </h5>
                          {{item.name}}  
                      </th>
                    </thead>
                    <tbody>
                      <tr ng-repeat="row in vm.dimensionSet[1].existenceDTOList">
                        <td>
                          <strong>{{ row.name }}</strong>
                        </td>
                        <td ng-repeat="item in vm.dimensionSet[0].existenceDTOList">
                        <!-- <row>
                        <div class="col-md-8"><label >Non-contracted:</label></div>
                        <div class="col-md-4"><input  type="number" ng-model="vm.static[$parent.$index][$index]" style="width :60px" ng-change="vm.onStaticValueChange(vm.static[$parent.$index][$index])" /> <label>+</label>
                        </div>
                        </row> -->
                        <row><div class="col-md-8">Not-contracted</div><div class="col-md-4"><input style="margin-right: 10px;width :50px"  type="number" ng-model="vm.static[$parent.$index][$index]" ng-change="vm.onStaticValueChange(vm.static[$parent.$index][$index],$parent.$index,$index)" /></div></row>
                        <!-- <row><div class="col-md-8">Contracted</div><div class="col-md-4"><input  type="number" ng-model="vm.dynamic[$parent.$index][$index]" style="margin-right: 10px;width :50px" ng-change="vm.onContractValueChange(vm.dynamic[$parent.$index][$index],$parent.$index,$index)" /></div></row> -->
                        <row><div class="col-md-8">
                          <button class="btn btn-primary" ng-click="vm.toggleCustomService(row,item,$parent.$index,$index)" >Regenerate</button>
                          </div><div class="col-md-4"><input  type="number" ng-model="vm.dynamic[$parent.$index][$index]" style="margin-right: 10px;width :50px" ng-change="vm.onContractValueChange(vm.dynamic[$parent.$index][$index],$parent.$index,$index)" /></div></row>
                        <row><div class="col-md-8">Total</div><div class="col-md-4"><input  type="number" ng-model="vm.total[$parent.$index][$index]" style="margin-right: 10px;width :50px" /></div></row>
                        <!-- <div><label class="col-md-8">Contracted:</label> <input class="col-md-4" type="number" ng-show="vm.svcInput[$parent.$index][$index]" ng-model="vm.dynamic[$parent.$index][$index]" style="width :40px" ng-change="vm.onContractValueChange(vm.dynamic[$parent.$index][$index])" /><label>=</label></div>
                        <div><label> Total:</label> <input type="number" ng-model="vm.total[$parent.$index][$index]" style="width :50px" required/></div> -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <br />
                </div>
                <div ng-if="vm.dimLength === 3" class="table-responsive">
                    <div ng-hide="vm.noGroupsFound" ng-repeat="third in vm.thirdItem.existenceDTOList" ng-if="vm.dimLength === 3">
                      <br>
                      <p style="margin-left: 15px;font-weight:bold ">{{third.name | uppercase}} </p>
                      <div>
                        <table class="table table-striped table-bordered">
                          <thead>
                            <th></th>
                            <th ng-repeat="item in vm.dimensionSet[0].existenceDTOList">
                              <p style="font-weight:normal ">{{ item.name }}</p>
                               {{item.brief}}
                            </th>
                          </thead>
                          <tbody>
                            <tr ng-repeat="row in vm.dimensionSet[1].existenceDTOList">
                              <td>
                                {{ row.name }}
                                <br>
                                <strong>{{row.brief}}</strong>
                              </td>
                              <td ng-repeat="item in vm.dimensionSet[0].existenceDTOList">
                                <input type="number" ng-model="vm.static[$parent.$parent.$index][$parent.$index][$index]" style="width :60px" ng-change="vm.onStaticValueChange(vm.static[$parent.$parent.$index][$parent.$index][$index])" /><label>+</label>  <input type="number" ng-model="vm.contract.dynamicValue" style="width :40px" ng-change="vm.onContractValueChange(vm.contract.dynamicValue)" /><label>=</label>  <input type="number" ng-model="vm.contract.total" style="width :50px" />
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
              </form>
            </div>
            
          </div>
          <!-- Rates information div  -->
      
      
          <!-- Supplements information div  -->
          <div class="panel panel-default" ng-repeat="dimension in  vm.supplementDimensions">
            <div class="panel-heading">
              <div class="pull-right">
                <button type="button" ui-sref="contracts-own-detail.newSupplement({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, dimensionId:dimension.dimensionId, currencyId: vm.contract.currencyId, organisationId: vm.contract.issuerId})"
                  class="btn btn-primary btn-xs">
                  <span class="glyphicon glyphicon-plus"></span> Add Supplement</button>
              </div>
              <strong>{{dimension.dimensionName}} Supplements</strong>
            </div>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <th>Name</th>
                  <th>Billing Type</th>
                  <th>Unit</th>
                  <th>Currency</th>
                  <th>Value</th>
                </thead>
                <tbody>
                  <tr ng-repeat="supplement in vm.filterSupplements(dimension.dimensionType)">
                    <td>{{supplement.name}}</td>
                    <td>{{supplement.billingType}}</td>
                    <td>{{supplement.unit}}</td>
                    <td>{{supplement.currencyAbbreviation}}</td>
                    <td>{{supplement.value}}</td>
                    <td>
                      <div class="btn-group pull-right" role="group" aria-label="...">
                        <button class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editSupplement({contractId: vm.contract.id, setId: vm.contract.dimensionSetId,organisationId: vm.contract.issuerId,supplementId: supplement.id})">
                          <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteSupplement({contractId: vm.contract.id, setId: vm.contract.dimensionSetId,type: 'BASIC',supplementId: supplement.id})">
                          <span class="glyphicon glyphicon-trash"></span>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr ng-show="vm.filterSupplements(dimension.dimensionType).length ==0">
                    <td colspan="5" class="text-center">No records found</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- Supplements information div  -->
      
          <!-- Extras information div  -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="pull-right">
                <button type="button" ui-sref="contracts-own-detail.newSupplement({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, dimensionId: -1, currencyId: vm.contract.currencyId, organisationId: vm.contract.issuerId})"
                  class="btn btn-xs btn-primary">
                  <span class="glyphicon glyphicon-plus"></span>Add Extras</button>
              </div>
              <strong>Extras</strong>
            </div>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <th>Name</th>
                  <th>Billing Type</th>
                  <th>Unit</th>
                  <th>Currency</th>
                  <th>Value</th>
                </thead>
                <tbody>
                  <tr ng-repeat="supplement in vm.filterSupplements(dimension.dimensionId)">
                    <td>{{supplement.name}}</td>
                    <td>{{supplement.billingType}}</td>
                    <td>{{supplement.unit}}</td>
                    <td>{{supplement.currencyAbbreviation}}</td>
                    <td>{{supplement.value}}</td>
                    <td>
                      <div class="btn-group pull-right" role="group" aria-label="...">
                        <button class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editSupplement({contractId: vm.contract.id, setId: vm.contract.dimensionSetId,organisationId: vm.contract.issuerId,supplementId: supplement.id})">
                          <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteSupplement({contractId: vm.contract.id, setId: vm.contract.dimensionSetId,type: 'BASIC',supplementId: supplement.id})">
                          <span class="glyphicon glyphicon-trash"></span>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr ng-show="vm.filterSupplements(dimension.dimensionId).length ==0">
                    <td colspan="5" class="text-center">No records found</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- Extras information div  -->
            <!-- applicable to div  -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="pull-right">
                  <button type="button" ui-sref="contracts-own-detail.newParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'DIMENSION'})"
                    class="btn btn-xs btn-primary">
                    <span class="glyphicon glyphicon-plus"></span> Add Parameter</button>
                </div>
               <strong> Contract Applicable to:</strong>
              </div>
              <div class="table-responsive">
                <table class="table table-striped">
                  <tbody>
                    <tr ng-repeat="parameter in vm.dimensionExclusiveParameters">
                      <td width="40%">
                        {{vm.resolveDimensionNameByType(parameter.parameter)}}
                      </td>
                      <td>
                        {{parameter.notes}}
                      </td>
                      <td>
                        <div class="btn-group pull-right" role="group" aria-label="...">
                          <button class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'DIMENSION',paramId: parameter.id})">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </button>
                          <button class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'DIMENSION',paramId: parameter.id})">
                            <span class="glyphicon glyphicon-trash"></span>
                          </button>
                        </div>
                      </td>
                    </tr>
                    <tr ng-show="vm.dimensionExclusiveParameters.length == 0">
                      <td colspan="2">
                        No parameters found.
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- applicable information div  -->
        
            <!-- other params information div  -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="pull-right">
                  <button type="button" ui-sref="contracts-own-detail.newParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'BASIC'})"
                    class="btn btn-xs btn-primary">
                    <span class="glyphicon glyphicon-plus"></span> Add Parameter</button>
                </div>
                <strong> Other Contract Parameters</strong>
              </div>
        
              <div class="table-responsive">
                <table class="table table-striped">
                  <tbody>
                    <tr ng-repeat="parameter in vm.basicParameters">
                      <td width="40%">
                        {{parameter.parameter}}
                      </td>
                      <td>
                        {{parameter.value}}
                      </td>
                      <td>
                        <div class="btn-group pull-right" role="group" aria-label="...">
                          <button class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'BASIC',paramId: parameter.id})">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </button>
                          <button class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'BASIC',paramId: parameter.id})">
                            <span class="glyphicon glyphicon-trash"></span>
                          </button>
                        </div>
                      </td>
                    </tr>
                    <tr ng-show="vm.basicParameters.length == 0">
                      <td>
                        No parameters found.
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- <div class="panel-body">
                {{vm.basicParameters}}
              </div> -->
            </div>
            <!-- other params information div  -->
        
        
            <!-- Special Notes information div  -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="pull-right">
                  <button type="button" ui-sref="contracts-own-detail.newParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'NOTE'})"
                    class="btn btn-xs btn-primary">
                    <span class="glyphicon glyphicon-plus"></span> Add Note</button>
                </div>
              <strong>Special Notes</strong>  
              </div>
              <div class="panel-body">
        
                <p ng-show="vm.notesParameters.length == 0">No notes found.</p>
        
                <!-- beginning of notes -->
                <div class="note" ng-repeat="parameter in vm.notesParameters">
                  <div class="pull-right">
                    <div class="btn-group" role="group" aria-label="...">
                      <button class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'NOTE',paramId: parameter.id})">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </button>
                      <button class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'NOTE',paramId: parameter.id})">
                        <span class="glyphicon glyphicon-trash"></span>
                      </button>
                    </div>
                  </div>
                  <h5> {{parameter.parameter}} </h5>
                  <p> {{parameter.value}} </p>
                </div>
                <!-- end of note  -->
        
              </div>
            </div>
            <!-- Special Notes information div  -->
        
        
            <!-- Occupancy Policy information div  -->
            <div class="panel panel-default">
              <div class="panel-heading">
               <strong>Occupancy Policy</strong> 
              </div>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <th>
                      Adults
                    </th>
                    <th>
                      Children
                    </th>
                    <th>
                      Room
                    </th>
                    <th>
                      Rates
                    </th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="policy in vm.policy">
                      <td>
                        <label>{{policy.adults}}</label>
                      </td>
                      <td>
                        <label>{{policy.  ildren}}</label>
                      </td>
                      <td>
                        <label>{{policy.roomOccupancyName}}</label>
                      </td>
                      <td>
                        <label>{{policy.rate}}</label>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- Occupancy Policy information div  -->
          
        </div>
        
    </div>
  </div>
  </div>
  