</div>
<div class="row">
  <div class="container" pdf-content="element-to-download">
    <div class="col-md-12">
      <img class="img-responsive" style="width: 100%" src="{{URLS.PROFILE_IMAGE_URL}}{{vm.entity.uuid}}" alt="{{ vm.entity.name }}"
        alt="" />
    </div>
    <div class="col-md-12">
      <div class="panel panel-body">
        <h1 class="text-center text-capitalize">{{vm.programme.contractName}}</h1>
        <div style="padding-left: 20px;">
          <p>{{vm.programme.description}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div style="padding-left: 20px; padding-right: 20px;">
        <div class="row" ng-repeat="day in vm.programme.serviceGroups" ng-hide="day.type === 'GENERAL'">
          <div class="panel panel-default">
            <div class="panel-heading">
              {{day.day}} - {{day.destinationName}}
            </div>
            <div class="panel-body">
              <div class="col-md-4">
                <div class="image-container">
                  <img class="img-responsive" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{day.uuid}}" alt="{{ day.destinationName }}">
                </div>
              </div>
              <div class="col-md-8">
                <p>{{ day.brief }}</p>
              </div>
              <div class="col-md-8">
                <p style="color: #8f681b;">{{day.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">SAFARI FACTS:</div>
        <div class="panel-body">
          <ul>
            <li>
              <strong>Customized Tour</strong>
            </li>
            <li>
              <strong>16 Days / 15 Nights</strong>
            </li>
            <li>
              <strong>Reference Number:</strong> QU01234</li>
            <li>
              <strong>2 guests</strong>
            </li>
          </ul>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">SAFARI QUOTATION INCLUDES:</div>
        <div class="panel-body">
          <ul ng-repeat="parameter in vm.inclusionParams">
            <li>
              <p> {{parameter.description}} </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">SAFARI QUOTATION EXCLUDES:</div>
        <div class="panel-body">
          <ul ng-repeat="parameter in vm.exclusionParams">
            <li>
              <p> {{parameter.description}} </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>