<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-6">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li>
              <a ui-sref="packages">packages</a>
            </li>
            <li>
              <a ui-sref="packages-detail({id: vm.programme.pakageId})">{{vm.programme.pakageName}}</a>
            </li>
            <li ui-sref-active="active" class="active">{{vm.programme.reference }}
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="breadcrumb-btns">
            <ul class="nav nav-pills pull-right">
              <li>
              <a target="_blank" class="btn btn-default btn-xs" ui-sref="programme-detail-preview">
                <span class="glyphicon glyphicon-eye-open"></span>
                <span class="hidden-xs-d">
                  Preview
              </a>
              </li><li>
                <button type="button" ng-hide="vm.programme.contentStatus === 'DELETED'" class="btn btn-danger btn-sm" ui-sref="programmes-own.delete({id: vm.programme.id})">
                  <span class="glyphicon glyphicon-trash"></span>
                  <span class="hidden-xs-d">
                    Delete
                  </button>
              </li>
              <li>
                <div ng-include="'core/routes/settings/settings-menu/settings-navbar.html'"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div class="row">
  <!-- begin of left main div  -->
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="image-container">
        <img ng-src="{{URLS.PROFILE_IMAGE_URL}}{{vm.programme.uuid}}" alt="">
        <a ui-sref="programme-detail.profile" class="icon-choose-image">
          <img src="images/camera.png">
        </a>
      </div>
      <div ng-include="'core/routes/programmes/programmes-sidebar-menu.html'"></div>
    </div>
  </div>
  <!-- Programme params-->

  <div class="col-md-9">
    <!-- Basic information div  -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-right">
          <button type="button" ui-sref="programme-detail.edit({programmeId: vm.programme.id, type: vm.programme.packageType})" class="btn btn-primary btn-xs">
            <span class="glyphicon glyphicon-edit"></span> Edit</button>
        </div>
        <strong> Programme Information</strong>
      </div>

      <div class="table-responsive">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>Name: </td>
              <td>{{vm.programme.reference}}</td>
              <td>Year: </td>
              <td>{{vm.programme.year}}</td>
            </tr>
            <tr>
              <td>Start Location : </td>
              <td>{{vm.programme.startLocationName}} </td>
              <td>End Location: </td>
              <td>{{vm.programme.endLocationName}} </td>
            </tr>
            <tr>
              <td>Number of Days: </td>
              <td>{{vm.programme.numberOfDays}} </td>
              <td>Nights: </td>
              <td>{{vm.programme.numberOfNights}} </td>
            </tr>
            <tr>
              <td>Currency: </td>
              <td>{{vm.programme.currencyName}} </td>
              <td>Mark Up: </td>
              <td>{{vm.programme.generalMarkUp}} </td>
            </tr>
            <tr ng-show="vm.programme.type === SET_DEPARTURE  ">
              <td>Start Day: </td>
              <td>{{vm.programme.startDay}} </td>
            </tr>
            <!-- some work needs to be done to dispaly the dimension name and existence name as opposed to id -->
            <tr ng-repeat="group in  vm.dimensionNotExclusiveParameterGroups">
              <td ng-repeat="parameter in  group">
                <span ng-show="parameter.type  == 'parameter'">{{vm.resolveDimensionNameByType(parameter.value)}}</span>
                <span ng-show="parameter.type  == 'value'">{{vm.resolveExistenceName(parameter.dimensionType, parameter.value)}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="pull-right">
              <button type="button" ui-sref="programme-detail.newParam({paramType: 'INCLUSION'})" class="btn btn-xs btn-primary">
                <span class="glyphicon glyphicon-plus"></span>Inclusion</button>
            </div>
            <strong>Inclusions</strong>
          </div>
          <div class="panel panel-body">
            <p ng-show="vm.inclusionParams.length == 0">No notes found.</p>
            <div class="" ng-repeat="parameter in vm.inclusionParams">
              <div class="pull-right">
                <div class="btn-group" role="group" aria-label="...">
                  <button class="btn btn-xs btn-default" type="button" ui-sref="programme-detail.editParameter({programmeId: vm.programme.id,type: 'INCLUSION',paramId: parameter.id})">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                  <button class="btn btn-xs btn-default" ui-sref="programme-detail.deleteParameter({programmeId: vm.programme.id, type: 'INCLUSION',paramId: parameter.id})">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </div>
              </div>
              <p> {{parameter.description}} </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="pull-right">
              <button type="button" ui-sref="programme-detail.newParam({paramType: 'EXCLUSION'})" class="btn btn-xs btn-primary">
                <span class="glyphicon glyphicon-plus"></span>Exclusion</button>
            </div>
            <strong>Exclusions</strong>
          </div>
          <div class="panel panel-body">
            <p ng-show="vm.exclusionParams.length == 0">No notes found.</p>
            <div class="" ng-repeat="parameter in vm.exclusionParams">
              <div class="pull-right">
                <div class="btn-group" role="group" aria-label="...">
                  <button class="btn btn-xs btn-default" type="button" ui-sref="programme-detail.editParameter({programmeId: vm.programme.id,type: 'EXCLUSION',paramId: parameter.id})">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                  <button class="btn btn-xs btn-default" ui-sref="programme-detail.deleteParameter({programmeId: vm.programme.id, type: 'EXCLUSION',paramId: parameter.id})">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </div>
              </div>
              <p> {{parameter.description}} </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="pull-right">
              <button type="button" ui-sref="programme-detail.newParam({paramType: 'REQUIREMENTS'})" class="btn btn-xs btn-primary">
                <span class="glyphicon glyphicon-plus"></span>Passenger</button>
            </div>
            <strong>Passenger Information</strong>
          </div>
          <div class="panel panel-body">
            <p ng-show="vm.requirementParams.length == 0">No notes found.</p>
            <div class="" ng-repeat="parameter in vm.requirementParams">
              <div class="pull-right">
                <div class="btn-group" role="group" aria-label="...">
                  <button class="btn btn-xs btn-default" type="button" ui-sref="programme-detail.editParameter({programmeId: vm.programme.id,type: 'REQUIREMENTS',paramId: parameter.id})">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                  <button class="btn btn-xs btn-default" ui-sref="programme-detail.deleteParameter({programmeId: vm.programme.id, type: 'REQUIREMENTS',paramId: parameter.id})">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </div>
              </div>
              <p> {{parameter.description}} </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="pull-right">
              <button type="button" ui-sref="programme-detail.newParam({paramType: 'OTHERS'})" class="btn btn-xs btn-primary">
                <span class="glyphicon glyphicon-plus"></span>Other</button>
            </div>
            <strong>Other Information</strong>
          </div>
          <div class="panel panel-body">
            <p ng-show="vm.otherParams.length == 0">No notes found.</p>
            <div class="" ng-repeat="parameter in vm.otherParams">
              <div class="pull-right">
                <div class="btn-group" role="group" aria-label="...">
                  <button class="btn btn-xs btn-default" type="button" ui-sref="programme-detail.editParameter({programmeId: vm.programme.id,type: 'OTHERS',paramId: parameter.id})">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                  <button class="btn btn-xs btn-default" ui-sref="programme-detail.deleteParameter({programmeId: vm.programme.id, type: 'OTHERS',paramId: parameter.id})">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </div>
              </div>
              <p> {{parameter.description}} </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--programme params-->
    <div class="panel panel-default" ng-repeat="day in vm.programme.serviceGroups">
      <div class="panel-heading">
        <div ng-hide="day.type === 'GENERAL'">
            <div><strong>{{day.day}}</strong> - {{day.destinationName || "Destination Unknown"}}</div>
          <!-- <a style="margin-left: 50px;" ui-sref="programme-detail.editServiceGroup({serviceGroupId: day.id, day: day.day})">
            <span class="glyphicon glyphicon-pencil"></span>
          </a> -->
        </div>
        <div ng-show="day.type === 'GENERAL'">
          <strong>GENERAL SERVICES</strong>
          <!-- <a style="margin-left: 50px;" ui-sref="programme-detail.editServiceGroup({serviceGroupId: day.id, day: day.day})">
            <span class="glyphicon glyphicon-pencil"></span>
          </a> -->
        </div>

      </div>
      <div class="panel-body">
        <div class="row" style="margin-top: -15px;">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <th>Name</th>
                <th>Provider Name</th>
                <th>Cost Value</th>
                <th>Markup</th>
                <th>Visible</th>
                <th>

                </th>
              </thead>
              <tbody>
                <tr ng-repeat="svc in day.programmeServices">
                  <td>{{svc.serviceName}}</td>
                  <td>{{svc.providerName}}</td>
                  <td ng-show="svc.contractId == null">{{svc.value}}</td>
                  <td ng-show="svc.contractId !== null">CONTRACT BASED</td>
                  <td>{{svc.markUp}}</td>
                  <td>{{svc.visible}}</td>
                  <td>
                    <div class="btn-group pull-right" role="group" aria-label="...">
                      <button class="btn btn-xs btn-default" type="button" ui-sref="programme-detail.editServiceProgramme({serviceId: svc.id, serviceGroupId: day.id, day: day.day})">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </button>
                      <button class="btn btn-xs btn-default" ui-sref="programme-detail.deleteProgrammeService({serviceId: svc.id})">
                        <span class="glyphicon glyphicon-trash"></span>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <button class="btn btn-xs btn-default pull-right" style="margin-right: 20px;" ui-sref="programme-detail.createServiceProgramme({serviceGroupId: day.id, day: day.day})">
            <span class="glyphicon glyphicon-plus"></span>Add Service</button>
        </div>
      </div>
    </div>
  </div>
</div>
