<div ng-cloak>
  <div class="row">
    <div class="container">
      <div class="col-md-12 breadcrumb-white-bg">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="packages">Products</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="packages-detail({id: vm.packageId })">Packages</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="programme-detail({id: vm.entity.id, progId: vm.progId})">{{vm.entity.reference}}</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="programme-galleries({id: vm.entity.id})">Gallery</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="header-btns pull-right">
            <button style="margin-top: 05px" type="button" class="btn btn-primary btn-sm" ui-sref="programme-galleries.new({id: vm.entity.id})">
              <span class="glyphicon glyphicon-plus"></span>
              <span class="hidden-xs-d">
                Album
              </span>
              </span>
            </button>
            <button permission="['PROPERTY_USER']" type="button" ui-sref="home.gettingStarted" class="btn btn-default btn-xs more dropdown-toggle"
              style="margin-top: 8px;">
              Getting Started
            </button>
            <button type="button" class="btn btn-default btn-xs more dropdown-toggle" data-toggle="dropdown" style="margin-top: 8px;">
              ...
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <img src="{{URLS.PROFILE_IMAGE_URL}}{{vm.programme.uuid}}" alt="">
        <div class="panel-body">
          <h4>{{vm.programme.contractName}}</h4>
        </div>
        <div ng-include="'core/routes/programmes/programmes-sidebar-menu.html'"></div>

      </div>
    </div>

    <div class="col-md-9">
      <div class="row" ng-show="!vm.albums">
        <div class="panel panel-default">
          <div class="panel-body">
            No albums found.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row" ng-show="vm.albums">
            <div class="col-sm-6 col-md-4" ng-repeat="album in vm.albums | filter:query" ng-hide="album.albumType == 'ICON'">
              <div class="thumbnail">
                <img ng-src="{{vm.image_url}}{{album.coverUuid}}" alt="{{album.name}}">
                <div class="caption">
                  <p>{{album.name}}</p>
                  <p>
                    <a class="btn btn-primary" role="button" ui-sref="programme-album-detail({id: vm.entity.id, albumId: album.id})">View</a>
                    <a class="btn btn-danger pull-right" role="button" ui-sref="entity-galleries.delete({albumId: album.id})" ng-hide="album.albumType == 'PROFILE'">Delete</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>