<form name="editForm" role="form" novalidate ng-submit="vm.save()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myProfessionalLabel">Programme</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label" for="field_registration">Reference</label>
          <input type="text" class="form-control" name="field_registration" id="field_registration" ng-model="vm.programme.reference" required />
        </div>
      </div>
      <div ng-hide="vm.fit" class="col-md-6">
        <div class="form-group">
          <label for="field_weeDay">Start Day</label>
          <select class="form-control" name="field_weeDay" id="field_weeDay"  id="field_weeDay" ng-model="vm.programme.startDay" ng-options="programmeDay as programmeDay for programmeDay in vm.programmeDays">
            <option>{{programmeDay}}</option>
          </select>
        </div>
      </div>
      <!-- <div class="col-md-6" ng-show="vm.fit">
        <div class="form-group">
          <label class="control-label" for="field_startDate">Start Date "yyyy-MM-dd"</label>
          <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="vm.programme.startDay"
              is-open="vm.openedFrom" placeholder="Start Date" close-text="Close" ng-click="vm.openFrom()" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="vm.openFrom()">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
        </div>

      </div> -->
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label" for="field_startLocation">From Location</label>
          <input type="text" name="field_startLocation" id="field_startLocation" ng-model="vm.programme.startLocationName" placeholder="Ol Tukai Lodge ..." uib-typeahead="loc.name for loc in vm.getLocation($viewValue)"
            typeahead-loading="loadingStartLocations" typeahead-no-results="noStartResults" typeahead-on-select="vm.onstartDestinationSelected($item, $model)"
            class="form-control" required>
          <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
          <div ng-show="noStartResults">
            <i class="glyphicon glyphicon-remove"></i> No Results Found
          </div>
        </div>


      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label" for="field_endLocation">To Location</label>
          <input type="text" name="field_endLocation" id="field_endLocation" ng-model="vm.programme.endLocationName" placeholder="Ol Tukai Lodge ..." uib-typeahead="address.name for address in vm.getLocation($viewValue)"
            typeahead-loading="loadingLocations" typeahead-no-results="noResults" typeahead-on-select="vm.onEndDestinationSelected($item, $model)"
            class="form-control" required>
          <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
          <div ng-show="noResults">
            <i class="glyphicon glyphicon-remove"></i> No Results Found
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label" for="numberOfDays">No. of Days</label>
          <input type="number" class="form-control" name="numberOfDays" id="numberOfDays" ng-model="vm.programme.numberOfDays"
            required />
          <div ng-show="editForm.numberOfNights.$invalid">
            <p class="help-block" ng-show="editForm.numberOfDays.$error.required">
              This field is required.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label" for="numberOfNights">No. of Nights</label>
          <input type="number" class="form-control" name="numberOfNights" id="numberOfNights" ng-model="vm.programme.numberOfNights"
            required />
          <div ng-show="editForm.numberOfNights.$invalid">
            <p class="help-block" ng-show="editForm.numberOfNights.$error.required">
              This field is required.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label" for="field_currencyId">Currency</label>
          <select class="form-control" id="field_currencyId" name="field_currencyId" ng-model="vm.programme.currencyId" ng-options="currency.id as currency.name for currency in vm.currencies">
            <option value="{{currency.name}}"></option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="field_markUp">Mark Up</label>
          <input type="number" class="form-control" name="field_markUp" id="field_markUp" ng-model="vm.programme.generalMarkUp"
            required />
          <div ng-show="editForm.field_markUp.$invalid">
            <p class="help-block" ng-show="editForm.field_markUp.$error.required">
              This field is required.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div ng-hide="vm.fit">
        <div class="col-md-6">
          <div class="form-group">
            <!-- <label class="control-label" for="field_serviceId">Service</label> -->
            <select class="form-control" id="field_serviceId" name="field_serviceId" ng-model="vm.programme.serviceId" ng-change="vm.onServiceChange(vm.programme.serviceId)"
              >
              <option value="">Select Service</option>
              <option ng-repeat="service in vm.services" value="{{service.id}}" >{{service.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <!-- <label class="control-label" for="field_setDimensionId">Rates Structure</label> -->
            <select class="form-control" id="field_setDimensionId" name="field_setDimensionId" ng-model="vm.programme.setDimensionId"
               ng-change="vm.dimensionSetChange()">
              <option value="">Select Rates Structure</option>
              <option ng-repeat="rate in vm.dimensionSets" value="{{rate.id}}" >{{rate.name}}</option>            
            </select>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">

          <label class="control-label" for="field_discription">Description</label>
          <textarea class="form-control" name="field_discription" id="field_discription" ng-model="vm.programme.description"
            maxlength="1000" ng-maxlength="200"></textarea>
          <div class="help-block" ng-show="editForm.discription.$viewValue.length == 1000">This field cannot be longer
            than 200 characters.</div>

        </div>
      </div>
    </div>
    <!-- LOOP FOR CONTRACT PARAMETERS THAT ARE SUPPLEMENTABLE -->
    <div class="row">
      <div class="col-md-6" ng-show="parameter.type == 'DIMENSION'" ng-repeat="parameter in vm.contractParameters">
        <label class="control-label" for="field_parameter">{{parameter.displayName}}</label>
        <select class="form-control" name="field_parameter" id="field_parameter" ng-model="parameter.value">
          <option value=""></option>
          <option ng-repeat="object in parameter.existences " value="{{object.id}}" ng-selected="object.id == parameter.value">
            {{object.name}} </option>
        </select>
      </div>
      <!-- LOOP FOR CONTRACT PARAMETERS THAT ARE SUPPLEMENTABLE  -->
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
      <span data-translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;
      <span data-translate="entity.action.save">Save</span>
    </button>
  </div>
</form>
