<div ng-cloak>
  <div class="row">
    <div class="container">
      <div class="col-md-12 breadcrumb-white-bg">
        <div class="">
          <div class="col-md-6">
            <ul class="breadcrumb">
              <li ui-sref-active="active">
                <a ui-sref="home">Home</a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="packages">Products</a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="packages-detail({id: vm.packageId })">Packages</a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="programme-detail({id: vm.entity.id, progId: vm.progId})">{{ vm.entity.reference }}
                </a>
              </li>
              <li ui-sref-active="active">
                Itinerary
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <div class="breadcrumb-btns">
              <ul class="nav nav-pills pull-right">
                <li>
                  <a target="_blank" class="btn btn-default btn-xs" ui-sref="programme-detail-preview({progId : vm.progId})">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    <span class="hidden-xs-d">
                      Preview
                  </a>
                </li>
                <li>
                  <button pdf-download-button pdf-name="itenerary.pdf" id="exportBtn"
                    creating-pdf-class-name="generating" ng-hide="vm.programme.contentStatus === 'DELETED'" class="btn btn-default btn-sm"
                    ng-click="vm.exportToPdf()">
                    <span class="glyphicon glyphicon-print"></span>
                    <span class="hidden-xs-d">
                      Print
                  </button>
                </li>
                <li>
                  <div ng-include="'core/routes/settings/settings-menu/settings-navbar.html'"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div pdf-content="element-to-download" class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <img crossOrigin="Anonymous" src="{{URLS.PROFILE_IMAGE_URL}}{{vm.programme.uuid}}" alt="">
      <div class="panel-body">
        <h4>{{ vm.entity.name }}</h4>
      </div>
      <div ng-include="'core/routes/programmes/programmes-sidebar-menu.html'"> </div>
    </div>
  </div>
  <div class="col-md-9" id="exportthis">
    <div class="row" ng-show="!vm.albums">
      <div class="panel panel-default">
        <div class="panel-body">
          No albums found.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p>{{vm.programme.reference}}</p>
        </div>
        <div class="panel-body">
          <div class="image-container" style="padding-top: 5px;">
            <a ui-sref="programme-itinerary.profile({objectUuid : vm.programme.uuid,objectName : vm.programme.name })"
              class="icon-choose-image">
              <img src="images/camera.png" crossorigin="anonymous" crossorigin>
            </a>
            <img class="img-responsive" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{vm.entity.uuid}}" alt="{{ vm.entity.name }}"
              style="max-height: 500px;" crossorigin>

          </div>
        </div>
      </div>

      <div class="panel panel-default" ng-repeat="day in vm.programme.serviceGroups">
        <div class="panel-heading">
          <div class="pull-right">
            <button type="button" ui-sref="programme-itinerary.editServiceGroup({serviceGroupId: day.id, day: day.day})"
              class="btn btn-primary btn-xs">
              <span class="glyphicon glyphicon-edit"></span> edit</button>
          </div>
          <strong>{{day.day}} - {{day.destinationName}}</strong>
        </div>
        <div class="col-md-4">
          <div class="image-container" style="padding-top:10px">
            <img class="img-responsive" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{day.uuid}}" alt="{{ day.destinationName }}" crossorigin>
            <a ui-sref="programme-itinerary.profile-service-group({serviceGroupId : day.id,objectUuid : day.uuid,objectName : day.destinationName})"
              class="icon-choose-image">
              <img src="images/camera.png" crossorigin="anonymous" crossorigin style="padding-top: 40px;">
            </a>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-8">
            <p>{{ day.brief }}</p>
          </div>
          <div class="col-md-8">
            <p style="color: #8f681b;">{{day.description}}</p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <p><strong>SAFARI QUOTATION EXCLUDES:</strong></p>
        </div>
        <div class="panel-body">
          <ul ng-repeat="parameter in vm.inclusionParams">
            <li>
              <p> {{parameter.description}} </p>
            </li>
          </ul>

        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <p><strong>SAFARI QUOTATION INCLUDES:</strong></p>
        </div>
        <div class="panel-body">
          <ul ng-repeat="parameter in vm.exclusionParams">
            <li>
              <p> {{parameter.description}} </p>
            </li>
          </ul>
        </div>
      </div>


      <!-- <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body" style="padding-top: 0;">
            <div class="row">
              <div class="image-container">
                <img class="img-responsive" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{vm.entity.uuid}}" alt="{{ vm.entity.name }}"
                  style="max-height: 500px;">
                <a ui-sref="programme-itinerary.profile({objectUuid : vm.programme.uuid,objectName : vm.programme.name })"
                  class="icon-choose-image">
                  <img src="images/camera.png">
                </a>
              </div>

            </div>
            <div class="row">
              <h1 class="text-center text-capitalize">{{vm.programme.contractName}}</h1>
              <div style="padding-left: 20px;">
                <p>{{vm.programme.description}}</p>
              </div>
            </div>
            <div style="padding-left: 20px; padding-right: 20px;">
              <div class="row" ng-repeat="day in vm.programme.serviceGroups" ng-hide="day.type === 'GENERAL'">
                <h2 style="padding-left: 12px;">{{day.day}} -
                  <small>{{day.destinationName}}</small>
                </h2>
                <div class="col-md-4">
                  <div class="image-container">
                    <img class="img-responsive" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{day.uuid}}" alt="{{ day.destinationName }}">
                    <a ui-sref="programme-itinerary.profile-service-group({serviceGroupId : day.id,objectUuid : day.uuid,objectName : day.destinationName})"
                      class="icon-choose-image">
                      <img src="images/camera.png" style="padding-top: 40px;">
                    </a>
                  </div>
                </div>
                <div class="col-md-8">
                  <p>{{ day.brief }}</p>
                </div>
                <div class="col-md-8">
                  <p style="color: #8f681b;">{{day.description}}</p>
                </div>
              </div>
            </div>

            <div style="padding-left: 20px; padding-right: 20px;margin-top: 30px">
              <div class="row">
                <div class="col-md-12">
                  <h4><strong>SAFARI QUOTATION EXCLUDES:</strong></h4>
                  <ul ng-repeat="parameter in vm.inclusionParams">
                    <li>
                      <p> {{parameter.description}} </p>
                    </li>
                  </ul>
                </div>
                <div class="col-md-12">
                  <h4><strong>SAFARI QUOTATION INCLUDES:</strong></h4>
                  <ul ng-repeat="parameter in vm.exclusionParams">
                    <li>
                      <p> {{parameter.description}} </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
</div>
