<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myLocationLabel">Edit Day Details</h4>
  </div>
  <div class="modal-body">
    <!-- Destination, Brief, Description, DestinationNames -->
    <div ng-class="col-md-12">
      <div class="form-group" ng-hide="vm.entity.type === 'GENERAL'">
        <label class="control-label" for="field_name">Destination</label>
        <input type="text" ng-model="vm.entity.destinationName" placeholder="Ol Tukai Lodge ..." uib-typeahead="address.name for address in vm.getLocation($viewValue)"
          typeahead-loading="loadingLocations" typeahead-no-results="noResults" typeahead-on-select="vm.onDestinationSelected($item, $model)"
          class="form-control">
        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
        <div ng-show="noResults">
          <i class="glyphicon glyphicon-remove"></i> No Results Found
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="field_brief">Brief</label>
        <textarea class="form-control" name="brief" id="field_brief" ng-model="vm.entity.brief" maxlength="200" ng-maxlength="200"
          required placeholder="The Brief is required for the final summary"></textarea>
        <div ng-show="editForm.brief.$invalid">
          <p class="help-block" ng-show="editForm.brief.$error.maxlength">
            This field cannot be longer than 200 characters.
          </p>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="field_description">Description</label>
        <textarea class="form-control" name="description" id="field_description" ng-model="vm.entity.description" maxlength="1000"
          ng-maxlength="1000"></textarea>
        <div ng-show="editForm.description.$invalid">
          <p class="help-block" ng-show="editForm.description.$error.maxlength">
            This field cannot be longer than 1000 characters.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
      <span>Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;
      <span>Save</span>
    </button>
  </div>
</form>
