<form name="editForm" role="form" novalidate ng-submit="vm.save()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myRoomCategoryLabel">Set Programme {{vm.entity.type}} </h4>
  </div>
  <div class="modal-body">

    <jhi-alert-error></jhi-alert-error>



    <!-- form for basic parameters -->
    <div class="form-group" ng-class="{ 'has-error' : editForm.name.$invalid && !editForm.name.$pristine }">
      <label class="control-label" for="field_name">{{vm.entity.type}} For: </label>
      <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.entity.name" required/>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : editForm.brief.$viewValue.length == 200}">
      <label class="control-label" for="field_description">Note: </label>
      <textarea class="form-control" name="description" id="field_description" ng-model="vm.entity.description" maxlength="200" ng-maxlength="200"></textarea>
      <div class="help-block" ng-show="editForm.description.$viewValue.length == 200">Maximum length reached</div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
      <span data-translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;
      <span data-translate="entity.action.save">Save</span>
    </button>
  </div>
</form>
