<div class="panel panel-default">
  <table st-table="vm.rowCollectionDisplayed" class="table table-striped">
    <thead class="fadeBrown">
      <th>Day</th>
      <th>Region</th>
      <th>Supplier</th>
      <th>Room Category</th>
      <th>Meal Plan</th>
      <th>Activities</th>
      <!-- <th>Cost</th> -->
      <!-- <th>Supplier</th>
            <th>Room Category</th>
            <th>Meal Plan</th> -->

    </thead>
    <tbody>
      <tr ng-repeat="day in vm.rowData">
        <td>
          <strong>{{day.day | date : 'd - MMM'}}</strong>
        </td>
        <td>
          {{day.locationName == null ? '—' : day.locationName}}
        </td>
        <td>
          <ul style="padding:0;list-style:none;">
            <li class="uppercaseName">
              {{day.supplierName == null ? '—' : day.supplierName}}
            </li>

          </ul>
        </td>
        <td>
          <span>
            {{day.roomCategory == null ? '—' : day.roomCategory}}
          </span>
        </td>
        <td>
          <span>
            {{day.mealPlan == null ? '—' : day.mealPlan}}
          </span>
        </td>
        <td>
          <!-- <span ng-repeat="inclusion in day.activities" style="margin-right: 2px">

            <span class="label label-info" data-placement="bottom" data-toggle="popover" data-trigger="hover" data-container="body" data-html="true" data-content='
                <div>
                  <ul style="padding:5px;list-style:square;">
                    <li>Supplier : {{inclusion.supplierName  == null ? 0 : inclusion.supplierName}}</li>
                    <li>Time : <small>{{inclusion.startTime  == null ? 0 : inclusion.startTime | date : "h:mm a"}} - {{inclusion.endTime  == null ? 0 : inclusion.endTime | date : "h:mm a"}}
                    </small> </li>
                  </ul>

                </div>
                 '>{{inclusion.name}}</span>
            <script>
              $(document).ready(function() {
                $('[data-toggle="popover"]').popover();
              });
            </script>



          </span> -->
          <ul style="padding:0;list-style:none;">
            <li class="uppercaseName">
              <span>{{day.serviceName == null ? '—' : day.serviceName}}</span>
            </li>

          </ul>

        </td>
        <!-- <td>

          <ul style="padding:0;list-style:none;">
            <li class="uppercaseName">
              <strong ng-bind-html="vm.safari.currencySymbol">
              </strong>
              <strong>{{day.cost == null ? 0 : day.cost }}</strong>
            </li>

          </ul>

        </td> -->
        <!-- <td>
                    <ul style="padding:0;list-style:none;">
                        <li class="uppercaseName">
                            {{day.supplierName}}
                        </li>

                    </ul>
                </td>
                <td>
                    <span>
                        {{day.roomCategory}}
                    </span>
                </td>
                <td>
                    <span>
                        {{day.mealPlan}}
                    </span>
                </td> -->
      </tr>
    </tbody>
  </table>

</div>

<div class="">
  <h3 class="text-center"><strong>Full Detailed Itenerary</strong></h3>
  <br>


  <div class="panel panel-default" ng-repeat="day in vm.safari.safariDays">

    <div class="panel-heading fadeBrown" style="height:40px">

      <span>
        <strong>
          Day {{$index+1}} - {{day.day | date : 'MMM   d, y'}} - {{day.startLocationName}}
        </strong>
      </span>

      <div class="pull-right">
        <a ui-sref="safari-detail-notes({dayId:day.id})">
          <h5>
            <span class="glyphicon glyphicon-pencil"></span>
          </h5>
        </a>
      </div>

    </div>

    <div class="itenNotes">

      <p ng-show="day.notes">{{day.notes}} - <strong>{{day.endLocationName}}</strong></p>
      <p ng-show="day.notes == null">There are no available notes for this Day </p>

    </div>

  </div>

</div>
