<div class="panel panel-default">
  <table st-table="vm.rowCollectionDisplayed" class="table table-striped">
    <thead class="fadeBrown">
      <th>Day</th>
      <th>Region</th>
      <th>Accomodation</th>
      <th>Room Category</th>
      <th>Meal Plan</th>
      <th>Cost</th>

      <th>Am Activities</th>
      <th>L Activities</th>
      <th>PM Activities</th>
      <th>Misc</th>

    </thead>
    <tbody>
      <tr ng-repeat="day in vm.rowData">
        <td>
          <strong>{{day.day | date : 'd - MMM'}}</strong>
        </td>
        <td>
          {{day.locationName}}
        </td>
        <td>
          <ul style="padding:0;list-style:none;">
            <li class="uppercaseName">
              {{day.supplierName}}
            </li>

          </ul>
        </td>
        <td>
          <span>
            {{day.roomCategory}}
          </span>
        </td>
        <td>
          <span>
            {{day.mealPlan}}
          </span>
        </td>
        <td>

          <ul style="padding:0;list-style:none;">
            <li class="uppercaseName">
              <strong ng-bind-html="vm.safari.currencySymbol">
              </strong>
              <strong>{{day.cost == null ? 0 : day.cost }}</strong>
            </li>

          </ul>

        </td>
        <td>
          <span ng-repeat="inclusion in day.amActivities" style="margin-right: 2px">

            <span class="label label-info" data-placement="bottom" data-toggle="popover" data-trigger="hover" data-container="body" data-html="true" data-content='
                <div>
                  <ul style="padding:5px;list-style:square;">
                    <li>Supplier : {{inclusion.supplierName  == null ? 0 : inclusion.supplierName}}</li>
                    <li>Time : <small>{{inclusion.startTime  == null ? 0 : inclusion.startTime | date : "h:mm a"}} - {{inclusion.endTime  == null ? 0 : inclusion.endTime | date : "h:mm a"}}
                    </small> </li>
                  </ul>

                </div>
                 '>{{inclusion.name}}</span>

            <script>
              $(document).ready(function() {
                $('[data-toggle="popover"]').popover();
              });
            </script>



          </span>
        </td>
        <td>
          <span ng-repeat="inclusion in day.lActivities" style="margin-right: 2px">

            <span class="label label-info" data-placement="bottom" data-toggle="popover" data-trigger="hover" data-container="body" data-html="true" data-content='
                    <div>
                      <ul style="padding:5px;list-style:square;">
                        <li>Supplier : {{inclusion.supplierName  == null ? 0 : inclusion.supplierName}}</li>
                        <li>Time : <small>{{inclusion.startTime  == null ? 0 : inclusion.startTime | date : "h:mm a"}} - {{inclusion.endTime  == null ? 0 : inclusion.endTime | date : "h:mm a"}}
                        </small> </li>
                      </ul>

                    </div>
                     '>{{inclusion.name}}</span>

            <script>
              $(document).ready(function() {
                $('[data-toggle="popover"]').popover();
              });
            </script>



          </span>
        </td>
        <td>
          <span ng-repeat="inclusion in day.pmActivities" style="margin-right: 2px">

            <span class="label label-info" data-placement="bottom" data-toggle="popover" data-trigger="hover" data-container="body" data-html="true" data-content='
                        <div>
                          <ul style="padding:5px;list-style:square;">
                            <li>Supplier : {{inclusion.supplierName  == null ? 0 : inclusion.supplierName}}</li>
                            <li>Time : <small>{{inclusion.startTime  == null ? 0 : inclusion.startTime | date : "h:mm a"}} - {{inclusion.endTime  == null ? 0 : inclusion.endTime | date : "h:mm a"}}
                            </small> </li>
                          </ul>

                        </div>
                         '>{{inclusion.name}}</span>

            <script>
              $(document).ready(function() {
                $('[data-toggle="popover"]').popover();
              });
            </script>



          </span>
        </td>
        <td>
          <span ng-repeat="inclusion in day.misc" style="margin-right: 2px">

            <span class="label label-info" data-placement="bottom" data-toggle="popover" data-trigger="hover" data-container="body" data-html="true" data-content='
                            <div>
                              <ul style="padding:5px;list-style:square;">
                                <li>Supplier : {{inclusion.supplierName  == null ? 0 : inclusion.supplierName}}</li>
                                <li>Time : <small>{{inclusion.startTime  == null ? 0 : inclusion.startTime | date : "h:mm a"}} - {{inclusion.endTime  == null ? 0 : inclusion.endTime | date : "h:mm a"}}
                                </small> </li>
                              </ul>

                            </div>
                             '>{{inclusion.name}}</span>

            <script>
              $(document).ready(function() {
                $('[data-toggle="popover"]').popover();
              });
            </script>



          </span>
        </td>
      </tr>
    </tbody>
  </table>

</div>
<div class="row">
  <div class="col-md-8">

    <div class="panel panel-default">
      <div class="panel-heading fadeBrown" style="height:40px">
        <div class="col-md-3">
          <strong> Accomodation in Hotel/Lodge</strong>
        </div>
        <div class="col-md-5">
          <strong> Accomodation</strong>
        </div>
        <div class="col-md-2">
          <strong> Flights</strong>
        </div>
        <div class="col-md-2">
          <strong>Extras</strong>
        </div>
      </div>
      <table st-table="vm.rowCollectionDisplayed" class="table table-striped">
        <thead>
          <th>Supplier</th>
          <th>PPS</th>
          <th>SGL</th>
          <th>CHD</th>
          <th>Cost</th>

        </thead>
        <tbody>
          <tr ng-repeat="day in vm.rowData">
            <td>
              <ul style="padding:0;list-style:none;">
                <li class="uppercaseName">
                  {{day.supplierName}}
                </li>

              </ul>
            </td>
            <td>
              <span>
                $20
              </span>
            </td>
            <td>
              <span>
                $15
              </span>
            </td>
            <td>
              <span>
                $10
              </span>
            </td>
            <td>
              <span>
                $5
              </span>
            </td>
            <td>
              <span>
                $10
              </span>
            </td>
            <td>
              <span ng-repeat="inclusion in day.activities" style="margin-right: 2px">

                <span class="label label-info" data-placement="bottom" data-toggle="popover" data-trigger="hover" data-container="body" data-html="true" data-content='
        <div>
          <ul style="padding:5px;list-style:square;">
            <li>Supplier : {{inclusion.supplierName  == null ? 0 : inclusion.supplierName}}</li>
            <li>Time : <small>{{inclusion.startTime  == null ? 0 : inclusion.startTime | date : "h:mm a"}} - {{inclusion.endTime  == null ? 0 : inclusion.endTime | date : "h:mm a"}}
            </small> </li>
          </ul>

        </div>
         '>{{inclusion.name}}</span>

                <script>
                  $(document).ready(function() {
                    $('[data-toggle="popover"]').popover();
                  });
                </script>



              </span>
            </td>
            <td>

              <ul style="padding:0;list-style:none;">
                <li class="uppercaseName">
                  <strong ng-bind-html="vm.safari.currencySymbol">
                  </strong>
                  <strong>{{day.cost == null ? 0 : day.cost }}</strong>
                </li>

              </ul>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Other costs -->
  <div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel panel-heading fadeBrown">
           <strong> Transport</strong>
        </div>
        <table st-table="vm.rowCollectionDisplayed" class="table table-striped">
            <thead>
                <th>Day</th>
                <th>Route</th>
                <th>Supplier</th>
                <th>Cost</th>

            </thead>
            <tbody>
                <tr ng-repeat="day in vm.rowData">
                    <td>
                        <strong>{{$index+1}}</strong>
                    </td>
                    <td>
                        NAI - NAK
                    </td>
                    <td>
                        <ul style="padding:0;list-style:none;">
                            <li class="uppercaseName">
                                    SawaSawa Africa
                            </li>

                        </ul>
                    </td>
                    <!-- <td>
                        <span ng-repeat="inclusion in day.activities" style="margin-right: 2px">

                <span class="label label-info" data-placement="bottom" data-toggle="popover" data-trigger="hover" data-container="body" data-html="true" data-content='
        <div>
          <ul style="padding:5px;list-style:square;">
            <li>Supplier : {{inclusion.supplierName  == null ? 0 : inclusion.supplierName}}</li>
            <li>Time : <small>{{inclusion.startTime  == null ? 0 : inclusion.startTime | date : "h:mm a"}} - {{inclusion.endTime  == null ? 0 : inclusion.endTime | date : "h:mm a"}}
            </small> </li>
          </ul>

        </div>
         '>{{inclusion.name}}</span>

                <script>
                  $(document).ready(function() {
                    $('[data-toggle="popover"]').popover();
                  });
                </script>



                        </span>
                    </td> -->
                    <td>

              <ul style="padding:0;list-style:none;">
                <li class="uppercaseName">
                  <strong ng-bind-html="vm.safari.currencySymbol">
                  </strong>
                  <strong>{{day.cost == null ? 0 : day.cost }}</strong>
                </li>

              </ul>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- End other costs -->
</div>
