<div ng-cloak>
  <div class="row">
    <div class="col-md-9">
      <ul class="breadcrumb">
        <li ui-sref-active="active">
          <a ui-sref="home">Home</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="professionals">Professional</a>
        </li>
        <li ui-sref-active="active" class="active">
          <a ui-sref="professional-detail({id: vm.entity.id})">{{vm.entity.name}}</a>
        </li>
        <li ui-sref-active="active" class="active">Gallery</li>
      </ul>
    </div>
    <div class="col-md-3">
      <div class="pull-right">
        <button class="btn btn-primary" ui-sref="professional-album-detail.upload({id: vm.entity.id, albumId: vm.album.id})">
          <span class="glyphicon glyphicon-plus"></span>
          <span class="hidden-xs-d">
            Photos
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <img src="{{URLS.PROFILE_IMAGE_URL}}{{vm.entity.uuid}}" alt="">
        <div class="panel-body">
          <h4>{{vm.entity.name}}</h4>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li ui-sref-active="active" role="presentation"><a ui-sref="professional-detail({id: vm.entity.id})">Overview</a></li>
          <li ui-sref-active="active" role="presentation"><a ui-sref="professional-skills({id: vm.entity.id})">Skills</a></li>
          <li ui-sref-active="active" role="presentation"><a ui-sref="professional-languages({id: vm.entity.id})">Languages</a></li>
          <li ui-sref-active="active" role="presentation"><a ui-sref="professionals-contacts-detail({id: vm.professional.id})">Contacts</a></li>
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="professional-galleries({id: vm.entity.id})">Gallery</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row" ng-show="!vm.album.mediaItemDTOList">
        <div class="panel panel-default">
          <div class="panel-body">
            No photos found.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="pull-right">
                <a ui-sref="menu-album-detail.edit({id:vm.entity.id})">
                  <h3>
                    <span class="glyphicon glyphicon-pencil"></span>
                  </h3>
                </a>
              </div>
              <h3>{{vm.album.name}}</h3>
              <p>{{vm.album.caption}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row" ng-show="vm.album.mediaItemDTOList">
            <div class="col-sm-6 col-md-4" ng-repeat="image in vm.album.mediaItemDTOList | filter:query">
              <div class="thumbnail">
                <a href="{{URLS.FILE_URL}}{{image.uuid}}"
                 data-lightbox="image-set" data-title="{{image.caption}}">
                  <img class="img-responsive" ng-src="{{URLS.FILE_URL}}{{image.uuid}}" alt="">
                </a>
                <div class="caption">
                  {{image.caption}}
                  <p>
                    <a ui-sref="professional-album-detail.makeCoverImage({imageId: image.id})">
                      <span class="label label-default" ng-hide="image.uuid === vm.album.coverUuid">Make Cover</span>
                    </a>
                    <span class="label label-primary" ng-show="image.uuid === vm.album.coverUuid">Cover Image</span>
                    <a ng-hide="image.uuid === vm.album.coverUuid" ui-sref="professional-album-detail.deleteImage({imageId: image.id})">
                      <span class="label label-danger">Delete</span>
                    </a>
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
