<form name="profEditForm" role="form" novalidate ng-submit="vm.save()">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myProfessionalLabel">Professional</h4>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <div class="form-group">
      <label for="field_professionalSkillId">Type of Skils</label>
      <select class="form-control" id="field_professionalSkillId" name="professionalSkillId" ng-model="vm.professional.generalSkillId"
        ng-options="professionalSkill.id as professionalSkill.name for professionalSkill in vm.professionalSkills track by vm.professionalSkill.Id">
        <option value=""></option>
      </select>
    </div>

    <div class="form-group">
      <label class="control-label" for="field_yearsOfExperience">Experience</label>
      <input type="text" class="form-control" name="yearsOfExperience" id="field_yearsOfExperience" ng-model="vm.professional.yearsOfExperience"
      />
    </div>
    <div class="form-group">
      <label class="control-label" for="field_brief">Brief</label>
      <textarea class="form-control" name="brief" id="field_brief" ng-model="vm.professional.brief" maxlength="200" ng-maxlength="200"></textarea>
      <div class="help-block" ng-show="profEditForm.brief.$viewValue.length == 200">Maximum length reached.</div>
    </div>
    <div class="form-group">
      <label class="control-label" for="field_description">Description</label>
      <textarea class="form-control" name="description" id="field_description" ng-model="vm.professional.description" maxlength="1000"
        ng-maxlength="1000"></textarea>
      <div class="help-block" ng-show="profEditForm.description.$viewValue.length == 1000">Maximum length reached.</div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
        <span data-translate="entity.action.cancel">Cancel</span>
      </button>
      <button type="submit" ng-disabled="vm.isSaving" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;
        <span data-translate="entity.action.save">Save</span>
      </button>
    </div>
</form>
