<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active">Professionals</li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="breadcrumb-btns">
            <ul class="nav nav-pills pull-right">
              <li>
                <button type="button" class="btn btn-default btn-sm" ui-sref="professionals-own.new">
                  <span class="glyphicon glyphicon-plus"></span> Professional</button>
              </li>
              <li>
                <button type="button" class="btn btn-default btn-sm" ui-sref="contracts-own.newContract">
                  Suspend</button>
              </li>
              <li>
                <div ng-include="'core/routes/settings/settings-menu/settings-navbar.html'"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- filter panel -->
<!-- filter panel -->
<div class="filter-panel ">
  <div class="filter-panel-body">
    <form ng-submit="vm.search()">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-3">
              <select class="form-control" ng-model="svc.id" ng-change="vm.search(svc.id,obj.id)">
                <option value="">Select Skill</option>
                <option ng-repeat="svc in vm.generalSkills" value="{{svc.id}}">{{svc.name}}</option>
              </select>
            </div>
            <div class="col-md-3">
              <select class="form-control" ng-model="obj.id" ng-change='vm.search(svc.id,obj.id)'>
                <option value="">Select Language</option>
                <option ng-repeat="obj in vm.generalLanguages" value="{{obj.id}}">{{obj.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-3 pull-right">
          <p class="input-group" style="margin: 0px 0px;">
            <input type="text" class="form-control" placeholder="Professional name" id="BatchSearchText" ng-model="query" ng-click="vm.search(vm.searchQuery)"
            />
            <span class="input-group-btn" style="height: 29px;  ">
              <button class="btn btn-primary btn-md waves-effect waves-light " style="font-size: 12px; line-height: 1.37859" type="submit">Go</button>
            </span>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- end of filter panel  -->

<br/>

<div class="row" ng-show="vm.noRecordsFound">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        No data found.
      </div>
    </div>
  </div>
</div>

<div class="row" ng-hide="vm.noRecordsFound">
  <div class="col-sm-6 col-md-3" ng-repeat="professional in vm.professionals | filter:query">
    <div class="thumbnail">
      <img class="img-responsive" ng-src=" {{URLS.PROFILE_IMAGE_URL}}{{professional.uuid}} " alt="{{ professional.name
            }} ">
      <div class="caption ">
        <div class="pull-right ">
          <a ui-sref="professionals.edit({id:professional.id}) ">
            <h5>
              <span class="glyphicon glyphicon-pencil "></span>
            </h5>
          </a>
        </div>
        <h5>{{professional.name}}</h5>
        <p>{{professional.brief}}</p>
        <p>
          <a class="btn btn-primary " role="button " ui-sref="professionals-own-detail({id: professional.id}) ">View</a>
        </p>
      </div>
    </div>
  </div>
</div>
