<form name="profEditForm" role="form" novalidate ng-submit="vm.save()">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myProfessionalLabel">Edit a Professional</h4>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <div class="form-group">
      <label class="control-label" for="field_name">Name</label>
      <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.professional.name" />
    </div>
    <div class="form-group">
      <label for="field_professionalTypeId">Type of Profession</label>
      <select class="form-control" id="field_professionalTypeId" name="professionalTypeId" ng-model="vm.professional.professionalTypeId"
        ng-options="professionalType.id as professionalType.name for professionalType in vm.professionalTypes track by vm.professionalType.Id">
        <option value=""></option>
      </select>
    </div>

    <div class="form-group">
      <label class="control-label" for="field_date">D.O.B: </label>
      <label class="control-label" for="field_date">{{vm.professional.dateOfBirth | date: "yyyy-MM-dd"}} Change To</label>
      <input class="datepicker" type="date" id="dateOfBirth" name="dateOfBirth" ng-model="vm.date" placeholder="yyyy-MM-dd" min="1913-01-01"
        max="2019-12-31" required date-format/>
      <div ng-show="editForm.date.$invalid">
        <p class="help-block" ng-show="editForm.fullname.$error.required">
          This field is required.
        </p>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="field_idNumber">Id Number</label>
      <input type="text" class="form-control" name="idNumber" id="field_idNumber" ng-model="vm.professional.idNumber" />
    </div>
    <div class="form-group">
      <label class="control-label" for="field_brief">Brief</label>
      <textarea class="form-control" name="brief" id="field_brief" ng-model="vm.professional.brief" maxlength="200" ng-maxlength="200"></textarea>
      <div class="help-block" ng-show="profEditForm.brief.$viewValue.length == 200">Maximum length reached.</div>
    </div>
    <div class="form-group">
      <label class="control-label" for="field_description">Description</label>
      <textarea class="form-control" name="description" id="field_description" ng-model="vm.professional.description" maxlength="1000"
        ng-maxlength="1000"></textarea>
      <div class="help-block" ng-show="profEditForm.description.$viewValue.length == 1000">Maximum length reached.</div>
    </div>
    <div class="form-group">
      <label class="control-label" for="field_notes">Special Notes</label>
      <textarea class="form-control" name="notes" id="field_notes" ng-model="vm.professional.notes"></textarea>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
        <span data-translate="entity.action.cancel">Cancel</span>
      </button>
      <button type="submit" ng-disabled="vm.isSaving" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;
        <span data-translate="entity.action.save">Save</span>
      </button>
    </div>
</form>
