<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="professionals">Professionals!</a>
            </li>
            <li ui-sref-active="active" class="active">{{vm.professional.name}}</li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="breadcrumb-btns">
            <ul class="nav nav-pills pull-right">
              <li>
                <button type="button" ng-hide="vm.professional.contentStatus === 'DELETED'" class="btn btn-danger   btn-sm" ui-sref="professional-detail.delete({id: vm.professional.id})">
                  <span class="glyphicon glyphicon-trash"></span>
                  <span class="hidden-xs-d">
                    Delete Professional
                </button>
              </li>
              <li>
                <button type="button" class="btn btn-default btn-sm more" data-toggle="dropdown">... </button>
                <ul class="dropdown-menu btn" role="menu">
                  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-operating-hours">Operating Hours</a>
                  </li>
                  <li permission="['PROPERTY_USER']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-meal-plans">Meal Plans</a>
                  </li>
                  <li permission="['D_AUTHORITY_USER', 'PROPERTY_USER', 'RESTAURANT_USER', 'TRANSPORTER_USER', 'PROFESSIONAL_USER']" ui-sref-active="active"
                    role="presentation">
                    <a ui-sref="settings-age-limits">Age Limits</a>
                  </li>
                  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-organization-relationships">Memberships & Associations</a>
                  </li>
                  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-documents">My Documents</a>
                  </li>
                  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-markets">Markets</a>
                  </li>
                  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-seasons">Seasons</a>
                  </li>
                  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-day-bands">Day Bands</a>
                  </li>
                  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-special-days">Special Days</a>
                  </li>
                  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-services">Services</a>
                  </li>
                  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-policies">Policies</a>
                  </li>
                  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-users">Users</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="image-container">
        <img class="" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{vm.professional.uuid}}" alt="{{ vm.professional.name }}">
        <a ui-sref="professionals.profile" class="icon-choose-image">
          <img src="images/camera.png">
        </a>
      </div>
      <div class="panel-body">
        <h4>{{vm.professional.name}}</h4>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="professional-detail({id: vm.professional.id})">Overview</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="professional-skills({id: vm.professional.id})">Skills</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="professional-languages({id: vm.professional.id})">Languages</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="professional-contacts({id: vm.professional.id,objectId: vm.professional.uuid})">Contacts</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="professional-galleries({id: vm.professional.id})">Gallery</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="pull-right">
              <a ui-sref="professionals-own.edit({id:vm.professional.id})">
                <h3>
                  <span class="glyphicon glyphicon-pencil"></span>
                </h3>
              </a>
            </div>
            <h2>{{vm.professional.name}}</h2>
            {{vm.professional.description}}
            <p class="p-padding pull-right">
              <span ng-repeat="objectLabel in vm.objectLabels">
                <span class="label label-default" style="margin-left: 4px">
                  {{objectLabel.labelName}}
                  <a ui-sref="professional-detail.deleteLabel({itemToDelete: objectLabel.id})">
                    <strong class="label label-danger">X</strong>
                  </a>
                </span>
              </span>
              <a ui-sref="professional-detail.addLabels({uuid: vm.professional.uuid, objectType: 'INDIVIDUAL'})">
                <span class="label label-primary">
                  <span class="glyphicon glyphicon-plus-sign"></span>Add more labels</span>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <table class="table">
            <tr>
              <td width="50%">
                <strong>ID Number</strong>
              </td>
              <td>
                {{vm.professional.idNumber}}
              </td>
            </tr>
            <tr>
              <td width="50%">
                <strong> Professional Type</strong>
              </td>
              <td>
                {{vm.professional.professionalTypeName}}
              </td>
            </tr>

            <tr>
              <td>
                <strong>Status</strong>
              </td>
              <td>
                {{vm.professional.contentStatus}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>D.O.B</strong>
              </td>
              <td>
                {{vm.professional.dateOfBirth}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Organisation</strong>
              </td>
              <td>
                {{vm.professional.organisationName}}
              </td>
            </tr>
          </table>
          <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="professional in vm.roomCategories track by professional.id" role="presentation">
              <a ui-sref="professional-detail({id: professional.id})">{{professional.name}}</a>
            </li>
          </ul>
        </div>

        <div class="panel panel-default">
          <table class="table">
            <tr>
              <td>
                <strong>
                  <span class="glyphicon glyphicon-asterisk"></span> Special Notes</strong>
              </td>
            </tr>
            <tr>
              <td>
                {{vm.professional.notes}}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
