
<div class="container">
    <div class="row">
        <ul class="breadcrumb">
            <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
            <li ui-sref-active="active"><a ui-sref="room-categories">Room Categories </a></li>
            <li ui-sref-active="active"><a ui-sref="room-category-detail({id:vm.room.roomCategoryId})"> {{vm.room.roomCategoryName}}</a></li>
            <li ui-sref-active="active" class="active">{{vm.room.identification}}</li>
        </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <img src="{{URLS.PROFILE_IMAGE_URL}}{{vm.professional.uuid}}" alt="">
        <div class="panel-body">
          <h4>{{vm.room.name}}</h4>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li ui-sref-active="active" role="presentation"><a ui-sref="professional-detail({id: vm.professional.id})">Overview</a></li>
            <li ui-sref-active="active" role="presentation"><a ui-sref="professional-skills({id: vm.professional.id})">Skills</a></li>
            <li ui-sref-active="active" role="presentation"><a ui-sref="professional-languages({id: vm.professional.id})">Languages</a></li>
            <li ui-sref-active="active" role="presentation"><a ui-sref="professionals-contacts-detail({id: vm.professional.id})">Contacts</a></li>
            <li ui-sref-active="active" role="presentation"><a ui-sref="professional-galleries({id: vm.professional.id})">Gallery</a></li>
        </ul>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="pull-right">
                <a  ui-sref="rooms.edit({id:vm.room.id})">
                  <h3><span class="glyphicon glyphicon-pencil"></span></h3>
                </a>
              </div>
              <h2>{{vm.room.identification}}</h2>
              {{vm.room.description}}
            </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-body">
                <h3>More info for {{vm.room.name}}</h3>
                <!-- <div ng-repeat="coordinate in vm.coordinates track by coordinate.id"> -->
                <div>
                    Special Notes
                     {{vm.room.notes}}<br>

                </div>
                {{}}
              </div>
            </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <table class="table">
              <tr>
                <td>
                  <strong>Building</strong>
                </td>
                <td>
                  {{vm.room.building}}
                </td>
              </tr>
              <tr>
                  <td>
                    <strong>floor</strong>
                  </td>
                  <td>
                    {{vm.room.floor}}
                  </td>
                </tr>
                <tr>
                    <td>
                      <strong>Position</strong>
                    </td>
                    <td>
                      {{vm.room.floorPosition}}
                    </td>
                  </tr>
                  <tr>
                      <td>
                        <strong>Room Area</strong>
                      </td>
                      <td>
                        {{vm.room.roomArea}}
                      </td>
                    </tr>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Status</strong>
                </td>
                <td>
                  {{vm.room.contentStatus}}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

