<div class="container">
  <div class="row">
    
      <div class="row">
        <ul class="breadcrumb">
          <li ui-sref-active="active">
            <a ui-sref="home">Home</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="professionals">Professional</a>
          </li>
          <li ui-sref-active="active" class="active">
            <a ui-sref="professional-detail({id: vm.professional.id})">{{vm.professional.name}}</a>
          </li>
          <li ui-sref-active="active" class="active">Gallery</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="pull-right">
        <button class="btn btn-primary" ui-sref="professional-galleries.new({id: vm.professional.id})">
          <span class="glyphicon glyphicon-plus"></span>
          <span class="hidden-xs-d">
            Album
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="image-container">
          <img class="img-responsive" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{vm.professional.uuid}}" alt="{{ vm.professional.name }}">
        </div>
        <div class="panel-body">
          <h4>{{vm.professional.name}}</h4>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li ui-sref-active="active" role="presentation"><a ui-sref="professional-detail({id: vm.professional.id})">Overview</a></li>
          <li ui-sref-active="active" role="presentation"><a ui-sref="professional-skills({id: vm.professional.id})">Skills</a></li>
          <li ui-sref-active="active" role="presentation"><a ui-sref="professional-languages({id: vm.professional.id})">Languages</a></li>
          <li ui-sref-active="active" role="presentation"><a ui-sref="professional-contacts({id: vm.professional.id,objectId: vm.professional.uuid})">Contacts</a></li>
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="professional-galleries({id: vm.professional.id})">Gallery</a>
          </li>
          
        </ul>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row" ng-show="!vm.albums">
        <div class="panel panel-default">
          <div class="panel-body">
            No albums found.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row" ng-show="vm.albums">
            <div class="col-sm-6 col-md-4" ng-repeat="album in vm.albums | filter:query" ng-hide="album.albumType == 'ICON'">
              <div class="thumbnail">
                <img ng-src="{{URLS.FILE_URL}}{{album.coverUuid}}" alt="{{album.name}}">
                <div class="caption">
                  <p>{{album.name}}</p>
                  <p>
                    <a class="btn btn-primary" role="button" ui-sref="professional-album-detail({id: vm.professional.id, albumId: album.id})">View</a>
                    <a class="btn btn-danger pull-right" role="button" ui-sref="professional-galleries.delete({albumId: album.id})" ng-hide="album.albumType == 'PROFILE'">Delete</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
