<div class="container">
  <div class="row">

    <ul class="breadcrumb">
      <li ui-sref-active="active">
        <a ui-sref="home">Home</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="professionals-own">Professionals</a>
      </li>
      <li ui-sref-active="active" class="active">languages</li>
    </ul>
  </div>
  <!-- <div class="row">
      <div class="pull-right">
          <button class="btn btn-primary" ui-sref="professional-contacts.new" >
              <span class="glyphicon glyphicon-plus"></span>
              <span class="hidden-xs-down" >
                  Add a Contact
              </span>
          </button>
      </div>
  </div> -->

  <br>
  <div class="row">

    <div class="col-md-3">
      <div class="panel panel-default">
        <img src="{{URLS.PROFILE_IMAGE_URL}}{{vm.professional.uuid}}" alt="">
        <div class="panel-body">
          <h4>professional</h4>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="professional-detail({id: vm.professional.id})">Overview</a>
          </li>
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="professional-skills({id: vm.professional.id})">Skills</a>
          </li>
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="professional-languages({id: vm.professional.id})">Languages</a>
          </li>
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="professional-contacts({id: vm.professional.id,objectId: vm.professional.uuid})">Contacts</a>
          </li>
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="professional-galleries({id: vm.professional.id})">Gallery</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-9" ng-hide="vm.recordsFound">
      <div class="panel panel-default">
        <div class="panel-body">
          No records found.
        </div>
      </div>
    </div>

    <div class="col-md-9" ng-show="vm.recordsFound">
      <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="address in vm.address">
          <div class="thumbnail">
            <div class="caption">
              <h5>{{address.contactName}}</h5>
              <p>{{address.value}} </p>
              <p>{{address.officeLocationName}}</p>
              <p>
                <a href="#" class="btn btn-primary" role="button" ui-sref="professional-contacts.edit({ addressId: address.id, profId: vm.professional.id})">Edit</a>
                <a href="#" class="btn btn-danger" role="button" ui-sref="professional-contacts.delete({addressId: address.id})">Delete</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
