
<div class="container">
<div class="row">
    <ul class="breadcrumb">
      <li ui-sref-active="active">
        <a ui-sref="home">Home</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="professionals-own">Professionals</a>
      </li>
      <li ui-sref-active="active" class="active">{{vm.professional.name}}</li>
    </ul>
</div>
<div class="row">
    <div class="pull-right" ng-hide="vm.professional.contentStatus === 'DELETED'">
      <button class="btn btn-danger" ui-sref="professional-own-detail.delete({id: vm.professional.id})">
        <span class="glyphicon glyphicon-trash"></span>
        <span class="hidden-xs-d">
          Delete Professional
        </span>
      </button>
    </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="image-container">
        <img class="img-responsive" ng-src="{{vm.profile_image_url}}" alt="{{ vm.professional.name }}">
        <a ui-sref="professionals.profile({id : vm.professional.id})" class="icon-choose-image">
          <img src="images/camera.png">
        </a>
      </div>
      <div class="panel-body">
        <h4>{{vm.professional.name}}</h4>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="professionals-own-detail({id: vm.professional.id})">Overview</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="professional-skills({id: vm.professional.id})">Skills</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="professional-languages({id: vm.professional.id})">Languages</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="professional-contacts({id: vm.professional.id,objectId: vm.professional.uuid})">Contacts</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="professional-galleries({id: vm.professional.id})">Gallery</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="pull-right">
              <a ui-sref="professionals-own.edit({id:vm.professional.id})">
                <h3>
                  <span class="glyphicon glyphicon-pencil"></span>
                </h3>
              </a>
            </div>
            <h2>{{vm.professional.name}}</h2>
            {{vm.professional.description}}
            <p class="p-padding pull-right">
              <!-- <span class="label label-default" style="margin-left: 4px" ng-repeat="objectLabel in vm.objectLabels">{{objectLabel.labelName}}
                                            <strong class="label label-danger">X</strong>
                                          </span> -->
              <span ng-repeat="objectLabel in vm.objectLabels">
                <span class="label label-default" style="margin-left: 4px">
                  {{objectLabel.labelName}}
                  <a ui-sref="professionals-own-detail.deleteLabel({itemToDelete: objectLabel.id})">
                    <strong class="label label-danger">X</strong>
                  </a>
                </span>
              </span>
              <a ui-sref="professionals-own-detail.addLabels({uuid: vm.professional.uuid, objectType: 'INDIVIDUAL'})">
                <span class="label label-primary">
                  <span class="glyphicon glyphicon-plus-sign"></span>Add more labels</span>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <table class="table">
            <tr>
              <td width="50%">
                <strong>ID Number</strong>
              </td>
              <td>
                {{vm.professional.idNumber}}
              </td>
            </tr>
            <tr>
              <td width="50%">
                <strong> Professional Type</strong>
              </td>
              <td>
                {{vm.professional.professionalTypeName}}
              </td>
            </tr>

            <tr>
              <td>
                <strong>Status</strong>
              </td>
              <td>
                {{vm.professional.contentStatus}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>D.O.B</strong>
              </td>
              <td>
                {{vm.professional.dateOfBirth}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Organisation</strong>
              </td>
              <td>
                {{vm.professional.organisationName}}
              </td>
            </tr>
          </table>
          <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="professional in vm.roomCategories track by professional.id" role="presentation">
              <a ui-sref="professional-detail({id: professional.id})">{{professional.name}}</a>
            </li>
          </ul>
        </div>

        <div class="panel panel-default">
          <table class="table">
            <tr>
              <td>
                <strong>
                  <span class="glyphicon glyphicon-asterisk"></span> Special Notes</strong>
              </td>
            </tr>
            <tr>
              <td>
                {{vm.professional.notes}}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>