<!-- breadcrumb -->
<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="settings">Settings</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="settings-services">Services</a>
            </li>
            <li ui-sref-active="active" class="active">Inclusions</li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="breadcrumb-btns">
            <ul class="nav nav-pills pull-right">
              <li class="pull-right">
                <button class="btn btn-default btn-sm" ui-sref="inclusions.new">
                  <span class="glyphicon glyphicon-plus-sign"></span>
                  <span class="hidden-xs-down">
                    Inclusion
                  </span>
                </button>
              </li>


              <!-- <li class="">
                <button class="btn btn-danger btn-sm" ui-sref="service-detail.delete({id: vm.entity.id})">
                  <span class="hidden-xs-d">
                    <span class="glyphicon glyphicon-trash"></span>
                  </span>
                </button>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<!-- breadcrump -->
<div class="row">

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="image-container">
        <img class="img-responsive" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{vm.entity.uuid}}" alt="{{ vm.entity.name }}">
        <a ui-sref="service-detail.profile" class="icon-choose-image">
          <img src="images/camera.png">
        </a>
      </div>
      <div class="panel-body">
        <h4>{{vm.entity.name}}</h4>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="service-detail({id: vm.serviceId })">Overview</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="inclusions({id: vm.entity.id})">Service Inclusions</a>
        </li>
        <!-- <li ui-sref-active="active" role="presentation">
          <a ui-sref="service-galleries({id: vm.entity.id})">Gallery</a>
        </li> -->
      </ul>
    </div>
  </div>

  <div class="col-md-9">
    <div class="panel panel-default" ng-show="vm.entity == null">
      <div class="panel-body">
        No records found
      </div>
    </div>


    <div>
      <div class="col-sm-6 col-md-12" ng-repeat="record in vm.entity">

        <div class="thumbnail">
          <div class="caption">
            <div class="pull-right">
              <a ui-sref="inclusions.edit({inclusionsId:record.id})">
                <h5>
                  <span class="glyphicon glyphicon-pencil"></span>
                </h5>
              </a>
            </div>
            <h5>
              <span class="reqUpperCase">{{record.name}}</span> per <span class="lowercase">{{record.objectType}}</span> <span ng-show="record.price != null || record.price > '0'">at <strong>{{record.price}}</strong> {{record.currencyName}} </span>.
              <br>
              <small ng-show="record.optional == false"> Optional </small>
            </h5>

            <span class="label label-info">{{record.serviceCategory}}</span>

            <hr>

            <h4 class="reqUpperCase">Basic Information</h4>

            <ul>
              <li>Provided per <span ng-show="record.perTrip == true">Day</span> <span ng-show="record.perTrip != true">Trip</span> .</li>
              <li><span>{{record.generalServiceName}}</span> Service type offered by <strong>{{record.supplierName}} </strong>.</li>
              <li ng-show="record.description !=null">{{record.description}}</li>
              <li ng-show="record.notes !=null">{{record.notes}}</li>
            </ul>

            <div class="text-right">
              <a href="#" class="btn btn-danger " role="button" ui-sref="inclusions.delete({id: record.id})">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </div>


          </div>
        </div>
      </div>

      <!-- {{vm.entity}} -->

    </div>
  </div>
</div>
