<form name="editForm" role="form" novalidate ng-submit="vm.save()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myRoomLabel">Create a Safari Inclusions</h4>
  </div>
  <div class="modal-body">
    <div class="panel-body">

      <div class="row">

        <div class="col-md-6">
          <div class=" form-group">
            <label class="control-label" for="field_name">Name</label>
            <textarea type="text" class="form-control" name="name" id="field_name" ng-model="vm.entity.name" />
            </div>
          </div>

        <div class="col-md-6">
            <div class=" form-group">
          <label class="control-label" for="field_description">Description</label>
          <textarea type="text" class="form-control" name="description" id="field_description" ng-model="vm.entity.description" />
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-6">
        <div class=" form-group">
        <label class="control-label" for="field_notes">Notes</label>
        <textarea type="text" class="form-control" name="notes" id="field_notes" ng-model="vm.entity.notes" />
      </div>
    </div>

    <div class="col-md-6">
      <div class=" form-group">
      <label class="control-label" for="field_specialNotes">specialNotes</label>
      <textarea type="text" class="form-control" name="specialNotes" id="field_specialNotes" ng-model="vm.entity.specialNotes" />
      </div>
  </div>

</div>

<hr>



<div class="row">

    <div class="col-md-4">
    <div class="form-group">
      <label for="field_safariServiceCategory">Safari Service Category</label>
      <select class="form-control" id="field_safariServiceCategory" ng-model="vm.entity.serviceCategory" ng-options="safariServiceCategory as safariServiceCategory for safariServiceCategory in vm.safariServiceCategory">
        <option value="" disabled>Select Safari Service Category</option>
        <option value="{{safariServiceCategory}}"></option>
      </select>
    </div>

    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="filter-col" style="margin-right:0;" for="pref-search">Search to Select a location:</label>
            <input type="text" ng-model="vm.newLocation.name" placeholder="Location Name e.g Nairobi" uib-typeahead="loc.name for loc in vm.getLocation($viewValue)"
              typeahead-loading="loadingLocations" typeahead-no-results="noStartResults" typeahead-on-select="vm.onLocationSelected($item, $model)"
              class="form-control">
            <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
            <div ng-show="noStartResults">
              <i classs="glyphicon glyphicon-remove"></i> No Results Found
            </div>
          </div>
    </div>
    <div class="col-md-4">
    <div class="form-group">
    <label for="field_objectType">Object Type</label>
    <select class="form-control" id="field_objectType" name="objectType" ng-model="vm.entity.objectType" ng-options="objectType as objectType for objectType in vm.objectType">
      <option value="" disabled>Select Object Type</option>
      <option value="{{objectType}}"></option>
    </select>
    </div>
    </div>

    </div>

<!-- 2ND ROW -->


<div class="row">

    <div class="col-md-4">
      <div class="form-group">
        <label for="field_generalServiceType">General Service Type</label>
        <select class="form-control" id="field_generalServiceType" name="generalServiceType" ng-model="vm.entity.generalServiceType" ng-change="vm.genServiceTypeChange(vm.entity.generalServiceType)" ng-options="generalServiceType as generalServiceType for generalServiceType in vm.generalServiceType">
          <option value="" disabled>Select Service Type</option>
          <option value="{{generalServiceType}}"></option>
        </select>
    </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="field_generalServiceId">General Service</label>
      <select class="form-control" id="field_generalServiceId" name="generalServices" ng-model="vm.entity.generalServiceId" ng-change="vm.genServiceChange(vm.entity.generalServiceId)" ng-options="generalServices.id as generalServices.name for generalServices in vm.generalServices">
          <option value="" disabled>Select Service</option>
        </select>
    </div>

  </div>
    <div class="col-md-4" ng-show="vm.createLocationInclusionsState">
      <div class="form-group">
        <label for="field_id">Type of Pack {{vm.entity.packId}} </label>
        <select ng-change="vm.selectedPack(vm.entity.packId)" class="form-control" id="field_packId" name="packId" ng-model="vm.entity.packId" ng-options="packCategory.id as packCategory.name for packCategory in vm.packCategories">
          <option value="" disabled>Select Pack</option>
          <option value="packCategory.id" disabled>{{packCategory.name}}</option>

        </select>
    </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
          <label>Supplier Organization</label>
          <input type="text" ng-model="vm.entity.supplierName" placeholder="Search Partner by name"
            uib-typeahead="loc.name for loc in vm.getLocs($viewValue,vm.entity.generalServiceId)" typeahead-loading="loadingStartLocations"
            typeahead-no-results="noStartResults" typeahead-on-select="vm.onTargetSelected($item, $model)"
            class="form-control">
          <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
          <div ng-show="noStartResults">
            <i class="glyphicon glyphicon-remove"></i> No Results Found
          </div>
        </div>
      </div>


  </div>

<!-- 3RD ROW -->

<!-- 4th row  -->
<div class="row">

      <div class="col-md-4">
          <div class="form-group">
            <label for="field_id">Issuer</label>
            <select class="form-control" id="field_generalService" name="generalService" ng-model="vm.entity.issuerId" ng-change="vm.issuerChanged(vm.entity.issuerId)" ng-options="generalService.id as generalService.name for generalService in vm.issuers">
              <option value="" disabled>Select </option>
            </select>
          </div>

          </div>

          <div class="col-md-2" >
              <div class="form-group">
                <label for="field_startTime">Start Time </label>
                <input type="time" class="form-control" id="field_startTime" name="startTime" ng-model="vm.startTime" />

              </div>


            </div>

            <div class="col-md-2">
                <div class="form-group">
                  <label>End Time </label>
                  <input class="form-control" type="time" ng-model="vm.endTime" />

                </div>

              </div>

              <div class="col-md-4" style="margin-top: 10px">
                  <div class="form-group">
                    <label>
                      <strong>Can be pushed next day?</strong>
                    </label><br>
                    <input type="checkbox" ng-model="vm.entity.fixed" />

                  </div>

                </div>

</div>
<div class="row" ng-show="vm.entity.inclusionType == 'DIMENSION'" >


    <div class="col-md-4">
        <div class="form-group">
        <label for="field_requirementType">Inclusions Type</label>
        <select class="form-control" id="field_requirementType" name="inclusionType" ng-change="vm.loadInclusionVariables(vm.entity.inclusionType)" ng-model="vm.entity.inclusionType" ng-options="inclusionType as inclusionType for inclusionType in vm.inclusionType">
          <option value="" disabled>Select Inclusions Type</option>
          <option value="{{inclusionType}}"></option>
        </select>
        </div>
        </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="field_id">Parameter</label>
            <select ng-change="vm.onDimParameterChange(vm.entity.parameter)" class="form-control" id="field_supplierId"
              name="supplierId" ng-model="vm.entity.parameter"
              ng-options="supplier.type as supplier.name for supplier in vm.dimensions">
              <option value="" disabled>Select Parameter</option>
              <option value="{{supplier.type}}" disabled>{{supplier.name}}</option>

            </select>
          </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="field_id">Parameter Value</label>
          <select ng-change="vm.selectedValue(vm.entity.value)" class="form-control" id="field_supplierId"
            name="supplierId" ng-model="vm.entity.value"
            ng-options="supplier.id as supplier.name for supplier in vm.dimensionExistencies">
            <option value="" disabled>Select Parameter Value</option>
            <option value="supplier.id" disabled>{{supplier.name}}</option>

          </select>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label for="field_dayOffset">Day Offset</label>
          <select class="form-control" id="field_dayOffset" name="dayOffset" ng-model="vm.entity.dayOffest">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>

          </select>
        </div>
    </div>
</div>


<div class="row" ng-show="vm.entity.inclusionType == 'CUSTOMER_ATTRIBUTE'" >

    <div class="col-md-3">
        <div class="form-group">
        <label for="field_requirementType">Inclusions Type</label>
        <select class="form-control" id="field_requirementType" name="inclusionType" ng-model="vm.entity.inclusionType" ng-options="inclusionType as inclusionType for inclusionType in vm.inclusionType">
          <option value="" disabled>Select Inclusions Type</option>
          <option value="{{inclusionType}}"></option>
        </select>
        </div>
        </div>
  <div class="col-md-3">
        <div class=" form-group">
          <label class="control-label" for="field_travellerProfile">Traveller Profile</label>
          <select class="form-control" id="field_travellerProfile" name="travellerProfile" ng-model="vm.entity.travellerProfile" ng-options="travellerProfile as travellerProfile for travellerProfile in vm.travellerProfiles">
            <option value="" disabled selected>Select your option</option>
            <!-- <option value="{{travellerProfile}}"></option> -->
          </select>
        </div>
      </div>

      <div class="col-md-3">
          <div class=" form-group">
            <label class="control-label" for="field_travellerProfile">Traveller Profile</label>
            <select class="form-control" id="field_travellerProfile" name="travellerProfile" ng-model="vm.entity.purposeOfVisit" ng-options="travellerProfile as travellerProfile for travellerProfile in vm.purposesOfVisit">
              <option value="" disabled selected>Select your option</option>
              <!-- <option value="{{travellerProfile}}"></option> -->
            </select>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="field_dayOffset">Day Offset</label>
            <select class="form-control" id="field_dayOffset" name="dayOffset" ng-model="vm.entity.dayOffest">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>

            </select>
          </div>
      </div>
</div>


<div class="row" ng-show="vm.entity.inclusionType == 'ALL'" >

    <div class="col-md-4">
        <div class="form-group">
        <label for="field_requirementType">Inclusions Type</label>
        <select class="form-control" id="field_requirementType" name="inclusionType" ng-model="vm.entity.inclusionType" ng-options="inclusionType as inclusionType for inclusionType in vm.inclusionType">
          <option value="" disabled>Select Inclusions Type</option>
          <option value="{{inclusionType}}"></option>
        </select>
        </div>
        </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="field_dayOffset">Day Offset</label>
              <select class="form-control" id="field_dayOffset" name="dayOffset" ng-model="vm.entity.dayOffest">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>

              </select>
            </div>
        </div>

</div>

<hr>

<!-- 1ST ROW CHECKBOXES -->
    <div class="row">

      <div class="col-md-3">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="vm.entity.global" />
            <strong>Is it Global?</strong>
          </label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="vm.entity.visible" />
            <strong>Should it be Visibile?</strong>
          </label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="vm.entity.optional" />
            <strong>Is it Optional?</strong>
          </label>
        </div>
      </div>
        <div class="col-md-3">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="vm.entity.timeStrict" />
              <strong>Is it Time strict?</strong>
            </label>
          </div>
        </div>

    </div>


    <!-- 2ND ROW CHECKBOXES -->

<div class="row">
      <div class="col-md-3">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="vm.entity.perTrip" />
            <strong>Is it Per trip?</strong>
          </label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="vm.entity.perObject" />
            <strong>Is it Per {{vm.entity.objectType}}?</strong>
          </label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="vm.entity.perDay" />
            <strong>Is it Per day?</strong>
          </label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="vm.entity.fixed" />
            <strong>Is it Fixed?</strong>
          </label>
        </div>
      </div>

    </div>

  </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
    </button>
  </div>
</form>

<style>
  .list-group-item {
    background-color: #f8f8f8;
    margin-top: 10px;
  }

  .margin-top-10 {
    margin-top: 10px;
  }
</style>
