<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="col-md-8">
        <!-- <ul class="breadcrumb">
          <li ui-sref-active="active">
            <a ui-sref="home">Home</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="locations">Locations</a>
          </li>
          <li ui-sref-active="active" ng-show="vm.showCountry">
            <a ui-sref="locations-locations({id: vm.country.id})">{{vm.country.name}}</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="locations-locations.overview({locationId: vm.location.id})">{{vm.location.name}}</a>
          </li>
          <li ui-sref-active="active" class="active">Locations</li>
        </ul> -->
        <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active" permission="['MANAGER_USER','T_OPERATOR_USER']">
              <a ui-sref="locations">Locations</a>
            </li>
            <li ui-sref-active="active" permission="['D_AUTHORITY_USER']">
              <a ui-sref="locations-own">Locations</a>
            </li>
            <li ui-sref-active="active" permission="['MANAGER_USER','T_OPERATOR_USER']">
              <a ui-sref="locations-locations.overview({locationId:vm.location.parentId})">{{vm.location.parentName}}</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="locations-locations.overview({locationId: vm.location.id})">{{vm.location.name}}</a>
            </li>
            <li ui-sref-active="active" class="active">Locations</li>
          </ul>
      </div>
      <div class="col-md-4">
        <div class="header-btns pull-right">
          <button style="margin-top: 05px" type="button" class="btn btn-default btn-sm" ui-sref="locations-locations.others.new">
            <span class="glyphicon glyphicon-plus"></span>
            <span class="hidden-xs-down">
              Location
            </span>
          </button>
          <button permission="['PROPERTY_USER']" type="button" ui-sref="home.gettingStarted" class="btn btn-default btn-xs more dropdown-toggle"
            style="margin-top: 8px;">
            Getting Started
          </button>
          <button type="button" class="btn btn-default btn-xs more dropdown-toggle" data-toggle="dropdown" style="margin-top: 8px;">
            ...
          </button>
          <ul class="dropdown-menu btn" role="menu">
            <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
              <a ui-sref="settings-operating-hours">Operating Hours</a>
            </li>
            <li permission="['PROPERTY_USER']" ui-sref-active="active" role="presentation">
              <a ui-sref="settings-meal-plans">Meal Plans</a>
            </li>
            <li permission="['D_AUTHORITY_USER', 'PROPERTY_USER', 'RESTAURANT_USER', 'TRANSPORTER_USER', 'PROFESSIONAL_USER']"
              ui-sref-active="active" role="presentation">
              <a ui-sref="settings-age-limits">Age Limits</a>
            </li>
            <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
              <a ui-sref="settings-organization-relationships">Memberships & Associations</a>
            </li>
            <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
              <a ui-sref="settings-documents">My Documents</a>
            </li>
            <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
              <a ui-sref="settings-markets">Markets</a>
            </li>
            <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
              <a ui-sref="settings-seasons">Seasons</a>
            </li>
            <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
              <a ui-sref="settings-day-bands">Day Bands</a>
            </li>
            <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
              <a ui-sref="settings-services">Services</a>
            </li>
            <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
              <a ui-sref="settings-policies">Policies</a>
            </li>
            <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
              <a ui-sref="settings-users">Users</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
<!--  -->
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <img src="{{URLS.PROFILE_IMAGE_URL}}{{vm.location.uuid}}" alt="">
      <div class="panel-body">
        <h4>{{vm.location.name}}</h4>
      </div>
    
      <div ng-include="'core/routes/locations/locations-menu.html'"></div>

    </div>
  </div>

  <div class="col-md-9" ng-hide="vm.locations.length > 0">
    <div class="panel panel-default">
      <div class="panel-body">
        No records found.
      </div>
    </div>
  </div>

  <div class="col-md-9">
      <div class="row">
    <div class="col-md-6" ng-repeat="loc in vm.locations track by loc.id" style="padding-left:15px;">
      
        <div class="panel panel-default" style="height:170px;width:100%">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-4">

                <div class="image-container">
                  <img class="img-responsive" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{loc.uuid}}" alt="{{ loc.name }}">
                  <!-- <a ui-sref="location-locs.profile({objectUuid : loc.uuid,objectName : loc.name})"
                      class="icon-choose-image">
                      <img src="images/camera.png">
                    </a> -->
                </div>
              </div>
              <div class="col-md-8">
                <!-- <div class="pull-right">
                    <a ui-sref="locations-locations.others.edit({locId:loc.id})">
                      <h3>
                        <span class="glyphicon glyphicon-pencil"></span>
                      </h3>
                    </a>
                  </div> -->

                <h4><a ui-sref="locations-locations.overview({locationId:loc.id, locationType : loc.typeId})">{{loc.name}}</a></h4>
                <label class="label label-warning">{{loc.typeName}}</label>
                <p ng-show="{{loc.brief != null}}">{{vm.shortenString(loc.brief)}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-9">
        <div class="text-center saf-pagination">
          <saf-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></saf-item-count>
          <uib-pagination total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()" class="pagination-sm"
            items-per-page="vm.itemsPerPage">
            <uib-pagination>
        </div>
      </div>
    </div> -->
  </div>
  <br />

</div>
