<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myLocationLabel">Edit Address</h4>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <div class="form-group">
      <label class="control-label" for="field_name">Value</label>
      <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.contact.value" required/>
      <div ng-show="editForm.name.$invalid">
        <p class="help-block" ng-show="editForm.name.$error.required">
          This field is required.
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
        <span>Cancel</span>
      </button>
      <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;
        <span>Save</span>
      </button>
    </div>
</form>