<div class="container">
  <!-- <div class="row">
    <ul class="breadcrumb">
      <li ui-sref-active="active">
        <a ui-sref="home">Home</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="{{vm.previousState}}">organizations</a>
      </li>
      <li ui-sref-active="active" class="active">{{vm.organization.name}}</li>
    </ul>
  </div> -->
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <img src="images/image-placeholder.svg" alt="">
      <div class="panel-body">
        <h4>{{vm.organization.name}}</h4>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-detail({id: vm.organizationId})">Overview</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-mealplans({id: vm.organizationId})">Meal Plans</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-room-categories({id: vm.organizationId})">Room Categories</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-contacts({id: vm.organizationId})">Contacts</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-hours({id: vm.organizationId})">Operating Hours</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row">
      <div class="col-xs-6 col-md-4" ng-repeat="cat in vm.rooms">
        <div class="thumbnail">
          <img src="images/image-placeholder.svg" alt="{{cat.organisationName}}">
          <h2 class="text-center">{{cat.identification}}</h2>
          <div class="caption text-center">
            <h5>Building {{cat.building}}</h5>
            <p>
              <a ui-sref="organization-room({id: vm.organizationId, catId: vm.catId, roomId: cat.id})" class=" text-center btn btn-primary"
                role="button">View</a>

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
