<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="col-md-8">
        <ul class="breadcrumb">
          <li ui-sref-active="active">
            <a ui-sref="home">Home</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="organization-detail({id: vm.organizationId})">organizations</a>
          </li>
          <li ui-sref-active="active" class="active">contacts</li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="breadcrumb-btns">
          <ul class="nav nav-pills pull-right">
            <li>
              <button class="btn btn-primary" ui-sref="organization-contacts.new">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="hidden-xs-down">
                  Add Contact
                </span>
              </button>
            </li>
            <li>
              <button permission="['PROPERTY_USER']" type="button" ui-sref="home.gettingStarted" class="btn btn-default btn-xs more dropdown-toggle"
                style="margin-top: 8px;">
                Getting Started
              </button>
            </li>
            <li>
              <div ng-include="'core/routes/settings/settings-menu/settings-navbar.html'"></div>
            </li>
          </ul>
        </div>
        <!-- End Breadcrumb btns -->
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <img ng-src="{{URLS.PROFILE_IMAGE_URL}}{{vm.entity.uuid}}" alt="">
      <div class="panel-body">
        <h4>{{vm.organization.namevm.organization[0].contactDTO.managerName}}</h4>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-detail({id: vm.organization.id})">Overview</a>
        </li>
        <li ng-show=" vm.organization.organisationTypeId == '4' || vm.organization.organisationTypeId == '5'  " ui-sref-active="active"
          role="presentation">
          <a ui-sref="organization-mealplans({id: vm.organization.id})">Meal Plans</a>
        </li>
        <li ng-show=" vm.organization.organisationTypeId == '4' || vm.organization.organisationTypeId == '5' " ui-sref-active="active"
          role="presentation">
          <a ui-sref="organization-room-categories({id: vm.organization.id})">Room Categories</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-contacts({id: vm.organization.id})">Contacts</a>
        </li>
        <li ng-show="vm.organization.organisationTypeId == '4'|| vm.organization.organisationTypeId == '5' || vm.organization.organisationTypeId == '2' || vm.organization.organisationTypeId == '6'  "
          ui-sref-active="active" role="presentation">
          <a ui-sref="organization-hours({id: vm.organization.id})">Operating Hours</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-galleries({id: vm.organization.id})">Gallery</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row" ng-show="vm.contact.length === 0">
      <div class="panel panel-default">
        <div class="panel-body">
          No records found
        </div>
      </div>
    </div>
    <div class="row" ng-repeat="contacts in vm.contact">
      <div class="col-xs-6 col-md-4" ng-repeat="contact in contacts.contactAddressDTOList">
        <div class="thumbnail">
          <img src="images/image-placeholder.svg" alt="{{contact.contactName}}">
          <h4 class="text-center">{{contact.contactName}}</h4>
          <div class="caption text-center">
            <h5>{{contact.value}}</h5>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
