<div ng-cloak>
  <div class="row">
    <div class="col-md-9">
      <ul class="breadcrumb">
        <li ui-sref-active="active">
          <a ui-sref="home">Home</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="{{vm.previousState}}">organizations</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="organization-detail({id: vm.organization.id})">{{vm.organization.name}}</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="organization-galleries({id: vm.organization.id})">Gallery</a>
        </li>
        <li ui-sref-active="active" class="active">{{vm.album.name}}</li>
      </ul>
    </div>
    <div class="col-md-3">
      <div class="pull-right" ng-hide="vm.organization.contentStatus === 'DELETED'">
        <button class="btn btn-primary" ui-sref="organization-album-detail.upload({id: vm.organization.id, albumId: vm.album.id})">
          <span class="glyphicon glyphicon-plus"></span>
          <span class="hidden-xs-d">
            Photos
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <img src="{{URLS.PROFILE_IMAGE_URL}}{{vm.organization.uuid}}" alt="">
        <div class="panel-body">
          <h4>{{vm.organization.name}}</h4>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="organization-detail({id: vm.organization.id})">Overview</a>
          </li>
          <li ng-show=" vm.organization.organisationTypeId == '4' || vm.organization.organisationTypeId == '5'  " ui-sref-active="active"
            role="presentation">
            <a ui-sref="organization-mealplans({id: vm.organization.id})">Meal Plans</a>
          </li>
          <li ng-show=" vm.organization.organisationTypeId == '4' || vm.organization.organisationTypeId == '5' " ui-sref-active="active"
            role="presentation">
            <a ui-sref="organization-room-categories({id: vm.organization.id})">Room Categories</a>
          </li>
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="organization-contacts({id: vm.organization.id})">Contacts</a>
          </li>
          <li ng-show="vm.organization.organisationTypeId == '4'|| vm.organization.organisationTypeId == '5' || vm.organization.organisationTypeId == '2' || vm.organization.organisationTypeId == '6'  "
            ui-sref-active="active" role="presentation">
            <a ui-sref="organization-hours({id: vm.organization.id})">Operating Hours</a>
          </li>
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="organization-galleries({id: vm.organization.id})">Gallery</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row" ng-show="!vm.album.mediaItemDTOList">
        <div class="panel panel-default">
          <div class="panel-body">
            No photos found.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="pull-right">
                <a ui-sref="organization-album-detail.edit({id:vm.organization.id})">
                  <h3>
                    <span class="glyphicon glyphicon-pencil"></span>
                  </h3>
                </a>
              </div>
              <h3>{{vm.album.name}}</h3>
              <p>{{vm.album.caption}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row" ng-show="vm.album.mediaItemDTOList">
            <div class="col-sm-6 col-md-4" ng-repeat="image in vm.album.mediaItemDTOList | filter:query">
              <div class="thumbnail">
                <a href="http://51.15.199.15:8080/mediaservice/api/media-items/get-file/{{image.uuid}}" data-lightbox="image-set" data-title="{{image.caption}}">
                  <img class="img-responsive" ng-src="http://51.15.199.15:8080/mediaservice/api/media-items/get-file/{{image.uuid}}" alt="">
                </a>
                <div class="caption">
                  {{image.caption}}
                  <p>
                    <a ui-sref="organization-album-detail.makeCoverImage({imageId: image.id})">
                      <span class="label label-default" ng-hide="image.uuid === vm.album.coverUuid">Make Cover</span>
                    </a>
                    <span class="label label-primary" ng-show="image.uuid === vm.album.coverUuid">Cover Image</span>
                    <a ng-hide="image.uuid === vm.album.coverUuid" ui-sref="organization-album-detail.deleteImage({imageId: image.id})">
                      <span class="label label-danger">Delete</span>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
