<div class="row">
  <div class="col-md-12">
    <ul class="breadcrumb">
      <li ui-sref-active="active">
        <a ui-sref="home">Home</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="organization-detail({id: vm.organizationId})">organizations</a>
      </li>
      <li ui-sref-active="active" class="active">{{vm.organization[0].organisationName}}</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <button class="btn btn-primary" ui-sref="organization-mealplans.new">
        <span class="glyphicon glyphicon-plus"></span>
        <span class="hidden-xs-down">
          Add Meal Plan
        </span>
      </button>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <img ng-src="{{URLS.PROFILE_IMAGE_URL}}{{vm.entity.uuid}}" alt="">
      <div class="panel-body">
        <h4>{{vm.organization[0].organisationName}}</h4>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-detail({id: vm.organizationId})">Overview</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-mealplans({id: vm.organizationId})">Meal Plans</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-room-categories({id: vm.organizationId})">Room Categories</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-contacts({id: vm.organizationId})">Contacts</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-hours({id: vm.organizationId})">Operating Hours</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-9" ng-hide="vm.displayMealPlans">
    <div class="panel panel-default">
      <div class="panel-body">
        No records found.
      </div>
    </div>
  </div>

  <div class="col-md-9" ng-show="vm.displayMealPlans">
    <div class="row">
      <div class="col-sm-6 col-md-4" ng-repeat="organization in vm.organizations track by organization.id">
        <div class="thumbnail">
          <img ng-src="{{URLS.PROFILE_IMAGE_URL}}{{organization.uuid}}" alt="">
          <div class="caption">
            <h5>{{organization.generalMealPlanName}}</h5>
            <p>{{organization.description}}</p>
            <p>
              <a href="#" class="btn btn-primary" role="button" ui-sref="organization-mealplans.edit({id: vm.organizationId,mealPlanId: organization.id})">Edit</a>
              <a href="#" class="btn btn-danger" role="button" ui-sref="organization-mealplans.delete({id: vm.organizationId, mealPlanId: organization.id})">Delete</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
