<div class="container">
</div>
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <img ng-src="{{URLS.PROFILE_IMAGE_URL}}{{vm.organization.uuid}}" alt="">
            <div class="panel-body">
                <h4>{{vm.organization.name}}</h4>
            </div>
            <ul class="nav nav-pills nav-stacked">
                <li ui-sref-active="active" role="presentation">
                    <a ui-sref="organization-detail({id: vm.organizationId})">Overview</a>
                </li>
                <li ui-sref-active="active" role="presentation">
                    <a ui-sref="organization-mealplans({id: vm.organizationId})">Meal Plans</a>
                </li>
                <li ui-sref-active="active" role="presentation">
                    <a ui-sref="organization-room-categories({id: vm.organizationId})">Room Categories</a>
                </li>
                <li ui-sref-active="active" role="presentation">
                    <a ui-sref="organization-contacts({id: vm.organizationId})">Contacts</a>
                </li>
                <li ui-sref-active="active" role="presentation">
                    <a ui-sref="organization-hours({id: vm.organizationId})">Operating Hours</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-9">
        <div class="row">
            <div class="col-xs-6 col-md-3" ng-repeat="meal in vm.organization">
                <div class="thumbnail">
                    <img src="images/image-placeholder.svg" alt="{{meal.organisationName}} meal plan">
                    <div class="caption">
                        <h5 class="text-center">{{meal.description}}</h5>
                        <p class="text-center">
                            <a ui-sref="meal-plans-detail({id: mealplan.id})" class="btn btn-primary" role="button">View</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
