
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <img src="images/image-placeholder.svg" alt="">
      <div class="panel-body">
        <h4>{{vm.room.name}}</h4>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-detail({id: vm.organizationId})">Overview</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-mealplans({id: vm.organizationId})">Meal Plans</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-room-categories({id: vm.organizationId})">Room Categories</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-contacts({id: vm.organizationId})">Contacts</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-hours({id: vm.organizationId})">Operating Hours</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2>{{vm.room.identification}}</h2>
            <p>{{vm.room.brief}}</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <p>
              <p>{{vm.room.description}}</p>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <table class="table">
            <tr>
              <td>
                <strong>Building</strong>
              </td>
              <td>
                {{vm.room.building}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Floor Position</strong>
              </td>
              <td>
                {{vm.room.floorPosition}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Status</strong>
              </td>
              <td>
                {{vm.room.contentStatus}}
              </td>
            </tr>
            <tr ng-show="vm.room.parentId !== null">
              <td>
                <strong>Category</strong>
              </td>
              <td>
                <a ui-sref="organization-detail({id: vm.room.parentId})">{{vm.room.roomCategoryName}}</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
