<div class="container">
  <div class="row">
    <div class="col-md-9">
      <ul class="breadcrumb">
        <li ui-sref-active="active">
          <a ui-sref="home">Home</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="organization-detail({id: vm.organizationId})">organizations</a>
        </li>
        <li ui-sref-active="active" class="active">{{vm.organization[0].organisationName}}</li>
      </ul>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <img ng-src="{{URLS.PROFILE_IMAGE_URL}}{{vm.entity.uuid}}" alt="">
      <div class="panel-body">
        <h4>{{vm.organization[0].organisationName}}</h4>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-detail({id: vm.organizationId})">Overview</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-mealplans({id: vm.organizationId})">Meal Plans</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-room-categories({id: vm.organizationId})">Room Categories</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-contacts({id: vm.organizationId})">Contacts</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-hours({id: vm.organizationId})">Operating Hours</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-9">
      <div class="row" ng-hide="vm.displayOperatingHours">
          <div class="panel panel-default">
            <div class="panel-body">
              No records found
            </div>
          </div>
        </div>
    <div class="row">
      <div class="col-xs-6 col-md-4" ng-repeat="cat in vm.displayOperatingHours">
        <div class="thumbnail">
          <h3 class="text-center">{{cat.name}} &nbsp </h3>
          <div class="caption text-center">
            <table class="table table-responsive table-striped">
              <tr>
                <td>Opening Time</td>
                <td>{{cat.openingTime | date:'HH:mm'}}</td>
              </tr>
              <tr>
                <td>Opening Time</td>
                <td>{{cat.closingTime | date:'HH:mm'}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


