<div class="row">
  <div class="col-md-12">
    <ul class="breadcrumb">
      <li ui-sref-active="active">
        <a ui-sref="home">Home</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="organization-detail({id: vm.organizationId})">organizations</a>
      </li>
      <li ui-sref-active="active" class="active">{{vm.organization[0].organisationName}}</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <button class="btn btn-primary" ui-sref="organization-room-categories.new">
        <span class="glyphicon glyphicon-plus"></span>
        <span class="hidden-xs-down">
          Add Room Category
        </span>
      </button>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <img ng-src="{{URLS.PROFILE_IMAGE_URL}}{{vm.entity.uuid}}" alt="{{vm.organization[0].organisationName}}">
      <div class="panel-body">
        <h4>{{vm.organization[0].organisationName}}</h4>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-detail({id: vm.organizationId})">Overview</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-mealplans({id: vm.organizationId})">Meal Plans</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-room-categories({id: vm.organizationId})">Room Categories</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-contacts({id: vm.organizationId})">Contacts</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-hours({id: vm.organizationId})">Operating Hours</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-9" ng-hide="vm.displayOrganizations">
    <div class="panel panel-default">
      <div class="panel-body">
        No records found.
      </div>
    </div>
  </div>

  <div class="col-md-9">
      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="pull-right">
                <a ui-sref="room-categories.edit({id:vm.organization.id})">
                  <h3>
                    <span class="glyphicon glyphicon-pencil"></span>
                  </h3>
                </a>
              </div>
              <h2>{{vm.organization[0].name}}</h2>
              {{vm.organization[0].description}}
              <div class="row">
                <p class="p-padding pull-right">
                  <span ng-repeat="objectLabel in vm.objectLabels">
                    <span class="label label-default" style="margin-left: 4px">
                      {{objectLabel.labelName}}
                      <a ui-sref="room-category-detail.deleteLabel({ itemToDelete: objectLabel.id})">
                        <strong class="label label-danger">X</strong>
                      </a>


                  </span>
                  <a ui-sref="room-category-detail.addLabels({uuid: vm.organization.uuid, objectType : 'ROOM_CATEGORY'})">
                    <span class="label label-primary">
                      <span class="glyphicon glyphicon-plus-sign"></span>Add more labels</span>
                  </a>
                </p>
              </div>
              <div class="row">
                <p class="p-padding pull-right">
                  <span ng-repeat="objectFeature in vm.objectFeatures">
                    <span class="label label-default" style="margin-left: 4px">
                      {{objectFeature.name}}
                      <a ui-sref="room-category-detail.deleteFeature({ itemToDelete: objectFeature.id})">
                        <strong class="label label-danger">X</strong>
                      </a>
                    </span>
                  </span>
                  <a ui-sref="room-category-detail.addFeature({uuid: vm.organization.uuid, objectType : 'ROOM_CATEGORY'})">
                    <span class="label label-primary">
                      <span class="glyphicon glyphicon-plus-sign"></span>Add more Features</span>
                  </a>
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="pull-right">
                <button class="btn btn-primary" ui-sref="organization-room-categories.newRoom">
                  <span class="glyphicon glyphicon-plus"></span>
                  <span class="hidden-xs-down">
                    Add a Room
                  </span>
                </button>
              </div>
              <h3>Room </h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6" ng-repeat="room in vm.rooms">
              <div class="thumbnail">
                <img src="images/image-placeholder.svg" alt="">
                <div class="caption">
                  <h5>{{room.identification}}</h5>
                  <p>{{room.brief}}</p>
                  <p>
                    <a class="btn btn-primary" role="button" ui-sref="room-detail({id: room.id})">View</a>
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <table class="table">
              <tr>
                <td width="50%">
                  <strong>Number of Rooms</strong>
                </td>
                <td>
                  {{vm.organization[0].roomCount}}
                </td>
              </tr>

              <tr>
                <td>
                  <strong>Status</strong>
                </td>
                <td>
                  {{vm.organization[0].contentStatus}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Occupancies</strong>
                </td>
                <td>
                  <span ng-repeat="roomOccupancy in vm.organization[0].roomOccupancies">
                    {{roomOccupancy.name}}
                  </span>
                </td>
              </tr>
            </table>
            <ul class="nav nav-pills nav-stacked">
              <li ng-repeat="organization in vm.roomCategories track by organization.id" role="presentation">
                <a ui-sref="organization-detail({id: organization.id})">{{organization.name}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br>
</div>
