<div ng-cloak>
  <div class="row">
    <div class="col-md-9">
      <ul class="breadcrumb">
        <li ui-sref-active="active">
          <a ui-sref="home">Home</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="{{vm.previousState}}">organizations</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="organization-detail({id: vm.organization.id})">{{vm.organization.name}}</a>
        </li>
        <li ui-sref-active="active" class="active">Gallery</li>
      </ul>
    </div>
    <div class="col-md-3">
      <div class="pull-right">
        <button class="btn btn-primary" ui-sref="organization-galleries.new({id: vm.organization.id})">
          <span class="glyphicon glyphicon-plus"></span>
          <span class="hidden-xs-d">
            Album
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <img src="{{URLS.PROFILE_IMAGE_URL}}{{vm.organization.uuid}}" alt="">
        <div class="panel-body">
          <h4>{{vm.organization.name}}</h4>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="organization-detail({id: vm.organization.id})">Overview</a>
          </li>
          <li ng-show=" vm.organization.organisationTypeId == '4' || vm.organization.organisationTypeId == '5'  " ui-sref-active="active"
            role="presentation">
            <a ui-sref="organization-mealplans({id: vm.organization.id})">Meal Plans</a>
          </li>
          <li ng-show=" vm.organization.organisationTypeId == '4' || vm.organization.organisationTypeId == '5' " ui-sref-active="active"
            role="presentation">
            <a ui-sref="organization-room-categories({id: vm.organization.id})">Room Categories</a>
          </li>
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="organization-contacts({id: vm.organization.id})">Contacts</a>
          </li>
          <li ng-show="vm.organization.organisationTypeId == '4'|| vm.organization.organisationTypeId == '5' || vm.organization.organisationTypeId == '2' || vm.organization.organisationTypeId == '6'  "
            ui-sref-active="active" role="presentation">
            <a ui-sref="organization-hours({id: vm.organization.id})">Operating Hours</a>
          </li>
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="organization-galleries({id: vm.organization.id})">Gallery</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row" ng-show="!vm.albums">
        <div class="panel panel-default">
          <div class="panel-body">
            No albums found.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row" ng-show="vm.albums">
            <div class="col-sm-6 col-md-4" ng-repeat="album in vm.albums | filter:query" ng-hide="album.albumType == 'ICON'">
              <div class="thumbnail">
                <img ng-src="{{vm.image_url}}{{album.coverUuid}}" alt="{{album.name}}">
                <div class="caption">
                  <p>{{album.name}}</p>
                  <p>
                    <a class="btn btn-primary" role="button" ui-sref="organization-album-detail({id: vm.organization.id, albumId: album.id})">View</a>
                    <a class="btn btn-danger pull-right" role="button" ui-sref="organization-galleries.delete({albumId: album.id})" ng-hide="album.albumType == 'PROFILE'">Delete</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
