<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation autocomplete="off">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myLocationLabel">Register Organization</h4>
  </div>

  <div class="modal-body">

    <jhi-alert-error></jhi-alert-error>

    <div class="row">
      <div class="col-md-6">
        <h4 style="margin-top: 5px;">Basic Information</h4>
        <div class="form-group">
          <label class="control-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.organization.name"
            required placeholder="Enter Name of Organization" />
          <div ng-show="editForm.name.$invalid">
            <p class="help-block" ng-show="editForm.name.$error.required">
              This field is required.
            </p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="field_abbreviation">Short Name or Code</label>
          <input type="text" class="form-control" name="abbreviation" id="field_abbreviation"
            ng-model="vm.organization.abbreviation" required placeholder="Enter Abbreviation of Organization"/>
          <div ng-show="editForm.abbreviation.$invalid">
            <p class="help-block" ng-show="editForm.abbreviation.$error.required">
              This field is required.
            </p>
          </div>
        </div>
        <div class="form-group" ng-show="vm.setOrganizationTypeVisible">
          <label for="field_organisationTypeId">Type of Organization</label>
          <select class="form-control" id="field_organisationTypeId" name="organisationTypeId"
            ng-model="vm.organization.organisationTypeId"
            ng-change="vm.organizationTypeChange(vm.organization.organisationTypeId)"
            ng-options="organizationType.id as organizationType.name for organizationType in vm.organizationTypes">
            <option value="" disabled selected>Select your option</option>
          </select>
        </div>


        <div class="form-group" ng-show="vm.setOrganizationTypeVisible">
            <label class="filter-col" style="margin-right:0;" for="pref-search">Parent Location:</label>
            <input type="text" ng-model="vm.organization.location.parentName" placeholder="Parent Location Name of Organization"
              uib-typeahead="loc.name for loc in vm.getLocation($viewValue)" typeahead-loading="loadingLocations"
              typeahead-no-results="noStartResults" typeahead-on-select="vm.onLocationSelected($item, $model)"
              class="form-control">
            <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
            <div ng-show="noStartResults">
              <i class="glyphicon glyphicon-remove"></i> No Results Found
            </div>
          </div>


        <div class="form-group" ng-class="{ 'has-error' : editForm.brief.$viewValue.length == 200}">
          <label class="control-label" for="field_brief">Brief</label>
          <textarea class="form-control" name="brief" id="field_brief" ng-model="vm.organization.brief" maxlength="200"
            ng-maxlength="200" placeholder="Give a brief of Organization"></textarea>
          <div class="help-block" ng-show="editForm.brief.$viewValue.length == 200">Maximum length reached</div>
        </div>
        <div class="form-group">
          <label class="control-label" for="field_description">Description</label>
          <textarea class="form-control" name="description" id="field_description"
            ng-model="vm.organization.description" placeholder="Write a description of Organization"></textarea>
          <div ng-show="editForm.description.$invalid">
            <p class="help-block" ng-show="editForm.description.$error.maxlength">
              This field cannot be longer than 1000 characters.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h4 style="margin-top: 5px;">Pick location </h4>
        <div class="form-group">
          <!-- <input places-auto-complete types="['geocode']" type="text" placeholder="Enter Location to search"
            style="margin-bottom: 10px;" ng-model="vm.geoCode" on-place-changed="vm.placeChanged()" id="pac-input" /> -->
          <!-- <div ng-show="vm.place">
            Address = {{vm.place.formatted_address}} <br />
            Location: {{vm.place.geometry.location}}<br />
          </div> -->
          <input type="search" class="form-control" places-auto-complete size=80 ng-model="vm.address"
            types="['geocode']" on-place-changed="vm.placeChanged()" style="margin-bottom: 10px;" autocomplete="off" />
          <!-- <div ng-show="vm.place">
            Address = {{vm.place.formatted_address}} <br />
            Location: {{vm.place.geometry.location}}<br />
          </div>
          address : {{vm.address}} -->
          <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{vm.googleMapsUrl}}">
            <ng-map id="map" center="{{vm.latlng}}" zoom="{{vm.zoomLevel}}" on-click="vm.getpos($event)"
              class="img-thumbnail" ng-model="vm.map">
              <marker title="{{vm.latlng}}" position="{{vm.latlng}}" on-dragend="vm.getpos($event)"
                animation="Animation.BOUNCE" animation="DROP" draggable="true"></marker>
            </ng-map>

            <!-- <info-window id="bar" visible-on-marker="true">
                <div ng-non-bindable>
                  <div id="siteNotice"></div>
                  <div id="bodyContent">
                    <p>{{vm.organization.name}}</p>
                    <p>{{location.name}}</p>
                    <p>{{vm.latlng}}</p>
                  </div>
                </div>
              </info-window> -->
          </div>
          <p class="text-center" style="margin: 5px 5px 0px 0px;">{{vm.latlng}}</p>
          <div class="row col-md-12">
            <div class="form-inline">
              <div class="form-group" style="margin-top: 5px;">
                <label for="field_lat" class="control-label col-sm-6">Latitude: </label>
                <input type="text" class="form-control col-sm-1" id="lat" placeholder="Enter Latitude" name="lat"
                  ng-model="vm.lat2" autocomplete="off;" />
              </div>
              <div class="form-group" style="margin-top: 10px;">
                <label for="field_lng" class="control-label col-sm-6">Longitude: </label>
                <input type="text" class="form-control col-sm-1" id="lon" placeholder="Enter Longitude" name="lon"
                  ng-model="vm.lon2" autocomplete="off;" />
              </div>
              <div class="form-group" style="float: right; margin-top: 0;">
                <button id="btn" type="button" class="btn btn-primary" ng-click="vm.handleClick()">
                  <span class="glyphicon glyphicon-map-marker"></span>
                  <span>Set Map</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
      <span>Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;
      <span>Save</span>
    </button>
  </div>
</form>
