<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="col-md-9">
        <ul class="breadcrumb">
          <li ui-sref-active="active">
            <a ui-sref="home">Home</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="{{vm.previousState}}">organizations</a>
          </li>
          <li ui-sref-active="active" class="active">{{vm.organization.name}}</li>
        </ul>
      </div>
      <div class="col-md-3">
        <div class="breadcrumb-btns">
          <ul class="nav nav-pills pull-right">
            <li>
              <!-- <button ng-hide="vm.organization.profileStatus === 'SUSPENDED'" class="btn btn-primary btn-sm" ui-sref="organization-detail-manage({id: vm.organization.id})">
                <span class="">
                  <span class="glyphicon glyphicon-pencil"></span> Manage
                </span>
              </button> -->
              <button ng-hide="vm.organization.contentStatus === 'DELETED'" style="margin-top: 05px" type="button"
                class="btn btn-danger btn-sm" ui-sref="organization-detail.delete({id: vm.organization.id})">
                <span class="glyphicon glyphicon-trash"></span>
                <span class="hidden-xs-d">
                  Delete
                </span>
              </button>
            </li>

          </ul>
        </div>
        <!-- End Breadcrumb btns -->
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="container">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="image-container">
          <img class="img-responsive" ng-src="{{vm.profile_image_url}}" alt="{{ vm.organization.name }}">
          <a ui-sref="organization-detail.profile({objectUuid : vm.organization.uuid,objectName :vm.organization.name})"
            class="icon-choose-image">
            <img src="images/camera.png">
          </a>
        </div>

        <div class="panel-body">
          <h4>{{vm.organization.name}}</h4>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li ui-sref="organization-detail({id:vm.organization.id})" role="presentation">
            <a role="button" ng-click="vm.getLocations()">Overview</a>
          </li>
          <!-- <li ng-show=" vm.organization.organisationTypeId == '4' || vm.organization.organisationTypeId == '5'  "
            ui-sref-active="active" role="presentation">
            <a role="button" ng-click="vm.getMealPlans()">Meal Plans</a>
          </li>
          <li ng-show=" vm.organization.organisationTypeId == '4' || vm.organization.organisationTypeId == '5' "
            ui-sref-active="active" role="presentation">
            <a role="button" ng-click="vm.getRoomCategories()">Room Categories</a>
          </li>
          <li ui-sref-active="active" role="presentation">
            <a role="button">Contacts</a>
          </li>
          <li ng-show="vm.organization.organisationTypeId == '4'|| vm.organization.organisationTypeId == '5' || vm.organization.organisationTypeId == '2' || vm.organization.organisationTypeId == '6'  "
            ui-sref-active="active" role="presentation">
            <a role="button">Operating Hours</a>
          </li>
          <li ui-sref-active="active" role="presentation">
            <a role="button">Gallery</a>
          </li> -->
        </ul>
      </div>
    </div>

    <div class="col-md-9" data-spy="scroll">
      <div class="row" ng-show="vm.currentDiv === 'overview'">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Overview</h4>
          </div>
          <div class="panel-body">
            <div class="col-md-4">
              <h4>{{vm.organization.name}} ({{vm.organization.abbreviation}})</h4>
              <br />
              <p>Status: <span class="label label-warning">{{vm.organization.contentStatus}}</span></p>
              <br />
              <p>Profile Status: <span class="label label-warning">{{vm.organization.profileStatus}}</span></p>
              <p>{{vm.organization.brief}}</p>
              <br />
              <p>TYPE: {{vm.organization.organisationTypeName}}</p>
              <br />
              <p>LOCATION: {{vm.locations[0].parentName}}</p>
              <br />
              <button ng-hide="vm.organization.profileStatus === 'SUSPENDED'" class="btn btn-primary btn-sm" ui-sref="organization-detail.edit({orgid: vm.organization.id})">
                <span class="">
                  <span class="glyphicon glyphicon-pencil"></span> Edit Organization Data
                </span>
              </button>
            </div>

            <div class="col-md-8">
              <div class="panel panel-default img-thumbnail">
                <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{vm.googleMapsUrl}}">
                  <ng-map center="{{vm.locations[0].latitude}},{{vm.locations[0].longitude}}" zoom="{{vm.zoomLevel}}">
                    <div ng-repeat="location in vm.locations">
                      <marker position="{{location.latitude}}, {{location.longitude}}" on-click="vm.setCurrentLocation({$event: location.id})"
                        title="{{location.name}}">
                      </marker>
                    </div>
                  </ng-map>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-show="vm.currentDiv === 'meals'" class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Meal Plans</h4>
          </div>
          <div class="panel-body">
            <div class="col-md-4" ng-repeat="mealplan in vm.mealPlans">
              <h4>{{mealplan.generalMealPlanName}}</h4>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Menus</h4>
          </div>
          <div class="panel-body">
            <div class="col-md-6" ng-repeat="menu in vm.menus">
              <div class="row">
                <div class="col-md-4">
                  <img class="img-responsive img-thumbnail" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{menu.uuid}}" alt="{{ menu.name }}">
                </div>
                <div class="col-md-8">
                  <p>{{menu.description}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div ng-show="vm.currentDiv === 'rooms'" class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Room Categories</h4>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6" ng-repeat="roomcategory in vm.roomCategories">

                <div class="col-md-4">
                  <img class="img-responsive img-thumbnail" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{roomcategory.uuid}}"
                    alt="{{ roomcategory.name }}">
                </div>

                <div class="col-md-8">
                  <h5>{{roomcategory.name}}</h5>
                  <p>{{roomcategory.brief}}</p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
