<div class="row">
  <div class="col-md-12">
    <h2>Organizations</h2>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4 pull-left">
        <button class="btn btn-primary" ui-sref="organizations.new">
          <span class="glyphicon glyphicon-plus"></span>
          <span class="hidden-xs-down">
            Create Organization
          </span>
        </button>
      </div>
      <div class="col-md-8">
        <form name="searchForm" class="form-inline">
          <div class="input-group pull-right">
            <input type="text" class="form-control" ng-model="query" id="searchQuery" placeholder="Query">
            <span class="input-group-btn width-min">
              <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
            <span class="input-group-btn width-min" ng-if="vm.currentSearch">
              <button class="btn btn-info" ng-click="vm.clear()">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<br/>

<div class="row" ng-show="vm.noRecordsFound">
  <div class="panel panel-default">
    <div class="panel-body">
      No data found.
    </div>
  </div>
</div>

<div class="row" ng-hide="vm.noRecordsFound">
  <div class="col-sm-6 col-md-3" ng-repeat="organization in vm.organizations | filter:query">
    <div class="thumbnail">
      <img ng-src="http://51.15.199.15:8080/mediaservice/api/albums/get-profile/{{organization.uuid}}" alt="">
      <div class="caption">
        <div class="pull-right">
          <a ui-sref="organizations.edit({id:organization.id})">
            <h5>
              <span class="glyphicon glyphicon-pencil"></span>
            </h5>
          </a>
        </div>
        <h5>{{organization.name}}</h5>
        <p>{{organization.abbreviation}}</p>
        <p>
          <a class="btn btn-primary" role="button" ui-sref="organization-detail({id: organization.id})">View</a>
          <a ng-class="organization.profileStatus == 'INACTIVE' ? 'btn pull-right btn-success' : 'btn pull-right btn-danger'" role="button"
            ng-click="vm.activate(organization)">
            {{organization.profileStatus == 'INACTIVE' ? 'Activate' : 'Deactivate'}}</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="text-center">
    <mtl-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></mtl-item-count>
    <uib-pagination total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()" class="pagination-sm" items-per-page="vm.itemsPerPage">
      <uib-pagination>
  </div>
</div>
