<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="col-md-8">
        <ul class="breadcrumb">
          <li ui-sref-active="active">
            <a ui-sref="home">Home</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="organizations-managed">My Organizations</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="breadcrumb-btns">
          <ul class="nav nav-pills pull-right">
            <li>
              <button type="button" class="btn btn-default btn-sm" ui-sref="organizations-managed.new">
                <span class="glyphicon glyphicon-plus-sign"></span>
                <span class="hidden-xs-down">
                  Create Organization
                </span>
              </button>
            </li>
            <li>
              <button permission="['PROPERTY_USER']" type="button" ui-sref="home.gettingStarted" class="btn btn-default btn-xs more dropdown-toggle">
                Getting Started
              </button>
            </li>
            <li>
              <div ng-include="'core/routes/settings/settings-menu/settings-navbar.html'"></div>
            </li>
          </ul>
        </div>
        <!-- End Breadcrumb btns -->
      </div>
    </div>
  </div>
</div>
<!-- filter panel managed organizations -->
<div class="filter-panel">
  <div class="filter-panel-body">
    <form ng-submit="vm.search()">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <p style="margin-left: 20px; margin-top: 10px">Managed Organizations</p>
          </div>
        </div>
        <div class="col-md-3 pull-right">
          <form name="searchForm" class="form-inline">
            <div class="input-group pull-right">
              <input type="text" class="form-control" ng-model="query" id="searchQuery" placeholder="search Organization">
              <span class="input-group-btn">
                <button class="btn btn-primary btn-md waves-effect waves-light " style="font-size: 13px;" ng-click="vm.search(vm.searchQuery)">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </form>
  </div>
</div>

<br />

<div class="row" ng-show="vm.noRecordsFound">
  <div class="panel panel-default">
    <div class="panel-body">
      No data found.
    </div>
  </div>
</div>

<div class="row" ng-hide="vm.noRecordsFound">
  <div class="col-sm-6 col-md-3" ng-repeat="organization in vm.organizations | filter:query">
    <div class="thumbnail orgManagedCard">
      <img ui-sref="organization-detail({id: organization.id})" class="img-responsive imgOrgManaged" ng-src="{{vm.profile_image_url}}{{organization.uuid}}" alt="{{ vm.organization.name }}">
      <div class="caption">

        <h4 class="uppercaseName">
          <a href="" ui-sref="organization-detail({id: organization.id})">
            <strong>{{organization.name}}</strong>
          </a>
        </h4>
        <p>{{organization.brief}}</p>
        <p>
          <a class="btn btn-primary btnOrgManaged" role="button" ui-sref="organization-detail({id: organization.id})">View
          </a>
          <!-- <a ng-class="organization.profileStatus == 'INACTIVE' ? 'btn pull-right btn-success' : 'btn pull-right btn-danger'" role="button"
            ng-click="vm.activate(organization)">
            {{organization.profileStatus == 'INACTIVE' ? 'Activate' : 'Deactivate'}}</a> -->
        </p>
      </div>
    </div>
  </div>
</div>
