<div class="container">
  <div class="row">
    <ul class="breadcrumb">
      <li ui-sref-active="active">
        <a ui-sref="home">Home</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="{{vm.previousState}}">organizations</a>
      </li>
      <li ui-sref-active="active" class="active">{{vm.organization[0].organisationName}}</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <img src="images/image-placeholder.svg" alt="">
      <div class="panel-body">
        <h4>{{vm.organization.name}}</h4>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-detail({id: vm.organizationId})">Overview</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-mealplans({id: vm.organizationId})">Meal Plans</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-room-categories({id: vm.organizationId})">Room Categories</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-contacts({id: vm.organizationId})">Contacts</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-hours({id: vm.organizationId})">Operating Hours</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row" ng-hide="vm.organization">
      <div class="panel panel-default">
        <div class="panel-body">
          No records found
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-4" ng-repeat="contact in vm.organization">
        <div class="thumbnail">
          <img src="images/image-placeholder.svg" alt="{{contact.contactName}}">
          <h3 class="text-center">{{contact.addressType}}</h3>
          <div class="caption text-center">
            <h5>{{contact.contactName}}</h5>
            <p>
              <table class="table table"></table>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
