<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLocationLabel"><span ng-if="vm.roomCategory.id != null">Edit</span> Room Category</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="control-label" for="name">Category Name (Identification)</label>
            <input type="text" class="form-control" name="name" id="name" ng-model="vm.roomCategory.name" required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block" ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="roomArea">Room Area (sqFt)</label>
            <input type="text" class="form-control" name="roomArea" id="roomArea" ng-model="vm.roomCategory.roomArea" required/>
            <div ng-show="editForm.roomArea.$invalid">
                <p class="help-block" ng-show="editForm.roomArea.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="notes">Notes</label>
            <textarea class="form-control" name="notes" id="notes" ng-model="vm.roomCategory.notes"></textarea>
            <div ng-show="editForm.notes.$invalid">
                <p class="help-block" ng-show="editForm.notes.$error.maxlength">
                    This field cannot be longer than 1000 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="brief">Brief</label>
            <textarea class="form-control" name="brief" id="brief" ng-model="vm.roomCategory.brief"></textarea>
            <div ng-show="editForm.brief.$invalid">
                <p class="help-block" ng-show="editForm.brief.$error.maxlength">
                    This field cannot be longer than 1000 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="description">Description</label>
            <textarea class="form-control" name="description" id="description" ng-model="vm.roomCategory.description"></textarea>
            <div ng-show="editForm.description.$invalid">
                <p class="help-block" ng-show="editForm.description.$error.maxlength">
                    This field cannot be longer than 1000 characters.
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
            <span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;
            <span>Save</span>
        </button>
    </div>
</form>