<div class="container">
  <div class="row">
    <div class="col-md-9">
      <ul class="breadcrumb">
        <li ui-sref-active="active">
          <a ui-sref="home">Home</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="organization-mealplans({id: vm.account.id})">Meal Plans</a>
        </li>
        <li ui-sref-active="active">{{vm.organization.id}}</li>
      </ul>
    </div>
    <div class="col-md-3">
      <div class="pull-right">
        <button class="btn btn-primary" ui-sref="settings-meal-plans.new">
          <span class="glyphicon glyphicon-plus"></span>
          <span class="hidden-xs-down">
            Add Meal Plan
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">

  <div class="col-md-3">
    <div class="panel panel-default">
      <img class="img-responsive" ng-src="{{vm.profile_image_url}}" alt="{{ vm.account.name }}">
      <div class="panel-body">
        <h4>Settings</h4>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-detail({id: vm.organizationId})">Overview</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-mealplans({id: vm.organizationId})">Meal Plans</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-room-categories({id: vm.organizationId})">Room Categories</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-contacts({id: vm.organizationId})">Contacts</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="organization-hours({id: vm.organizationId})">Operating Hours</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-9" ng-show="vm.records == null">
    <div class="panel panel-default">
      <div class="panel-body">
        No records found.
      </div>
    </div>
  </div>

  <div class="col-md-9" ng-show="vm.records">
    <div class="row">
      <div class="col-sm-6 col-md-4" ng-repeat="record in vm.records">
        <div class="thumbnail">
          <img src="images/image-placeholder.svg" alt="">
          <div class="caption">
            <h5>{{record.generalMealPlanName}}</h5>
            <p>{{record.description}}</p>
            <p>
              <a href="#" class="btn btn-primary" role="button" ui-sref="settings-meal-plans.edit({id: vm.organizationId,mealPlanId: record.id})">Edit</a>
              <a href="#" class="btn btn-danger" role="button" ui-sref="settings-meal-plans.delete({id: vm.organizationId, mealPlanId: record.id})">Delete</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
