

<div class="container">
  <div class="row">
      <ul class="breadcrumb">
          <li ui-sref-active="active"><a ui-sref="organizations">Entities </a></li>
          <li ui-sref-active="active"  ui-sref="settings-organizations.detail({id:vm.organization.id})"> {{vm.organization.name}}</li>
          <!-- <li ui-sref-active="active" class="active">{{vm.organization.id}}</li> -->
      </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <img src="images/image-placeholder.svg" alt="">
      <div class="panel-body">
        <h4>{{vm.organization.name}}</h4>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active" role="presentation"><a ui-sref="organization-detail({id: vm.organization.id})">Overview</a></li>
        
      </ul>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="pull-right">
              <a  ui-sref="organization-detail.edit({id:vm.organization.id})">
                <h3><span class="glyphicon glyphicon-pencil"></span></h3>
              </a>
            </div>
            <h2>{{vm.organization.name}}</h2>
            {{vm.organization.brief}}
          </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
              <h3>More info for {{vm.organization.name}}</h3>
             
              <div>
                  Special Notes
                   {{vm.organization.description}}<br>
                  
              </div>
              {{}}
            </div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <table class="table">
            <tr>
              <td>
                <strong>organization Type</strong>
              </td>
              <td>
                {{vm.organization.organisationTypeName}}
              </td>
            </tr>
              <tr>
                  <td>
                    <strong>Profile Status</strong>
                  </td>
                  <td>
                    {{vm.organization.profileStatus}}
                  </td>
                </tr>
              <tr>
                  <td>
                    <strong>Content Status</strong>
                  </td>
                  <td>
                    {{vm.organization.contentStatus}}
                  </td>
                </tr>
              </td>
            </tr> 
            <tr>
              <td>
                <strong>Reason</strong>
              </td>
              <td>
                {{vm.organization.statusReason}}
              </td>
            </tr>
            <tr>
                <td>
                  <strong>letterhead</strong>
                </td>
                <td>
                  {{vm.organization.letterhead}}
                </td>
              </tr>
            
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

