<div class="row">
  <div class="col-md-6">
    <ol class="breadcrumb">
      <li ui-sref-active="active">
        <a ui-sref="settings">Settings</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="settings-documents">Own Document</a>
      </li>
      <li ui-sref-active="active"> {{vm.document.name}}</li>
    </ol>
  </div>
  <div class="col-md-6">
    <div class="group pull-right" role="group">
      <button ng-hide="vm.document.documentStatus === 'SUSPENDED'" class="btn btn-primary" ui-sref="settings-documents-detail.suspend({id: vm.document.id})">
        <span class="glyphicon glyphicon-ban-circle"></span>
        <span class="">
          Suspend
        </span>
      </button>
      <button ng-hide="vm.document.documentStatus === 'DELETED'" class="btn btn-danger" ui-sref="settings-documents-detail.delete({id: vm.document.id})">
        <span class="glyphicon glyphicon-ban-circle"></span>
        <span class="">
          Delete
        </span>
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="image-container">
        <img class="img-responsive" ng-src="http://51.15.199.15:8080/mediaservice/api/albums/get-profile/{{vm.document.uuid}}" alt="{{ vm.document.name }}">
        <a ui-sref="document-own.profile" class="icon-choose-image">
          <img src="images/camera.png">
        </a>
      </div>
      <div class="panel-body">
        <h4>{{vm.document.name}}</h4>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="settings-documents-detail({id: vm.document.id})">Overview</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="pull-right">
              <a ui-sref="settings-documents-detail.edit({id:vm.document.id})">
                <h3>
                  <span class="glyphicon glyphicon-pencil"></span>
                </h3>
              </a>
            </div>
            <h2>{{vm.document.name}}</h2>
            {{vm.document.description}}
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>More info for {{vm.document.name}}</h3>
            <!-- <div ng-repeat="coordinate in vm.coordinates track by coordinate.id"> -->
            <div>
              Special Notes {{vm.document.notes}}
              <br>

            </div>
            {{}}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <table class="table">
            <tr>
              <td>
                <strong>Document Type</strong>
              </td>
              <td>
                {{vm.document.generalDocumentName}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Effective From</strong>
              </td>
              <td>
                {{vm.document.effectiveDate | date: "yyyy-MM-dd"}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Exipires On</strong>
              </td>
              <td>
                {{vm.document.expiryDate | date: "yyyy-MM-dd"}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Status</strong>
              </td>
              <td>
                {{vm.document.documentStatus}}
              </td>
            </tr>
            </td>
            </tr>
            <tr>
              <td>
                <strong>Reason</strong>
              </td>
              <td>
                {{vm.document.statusReason}}
              </td>
            </tr>



          </table>
        </div>
      </div>
    </div>
  </div>
</div>
