<form name="deleteForm" ng-submit="vm.confirmSuspend(vm.document)">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title">Confirm suspension of document</h4>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <p>Are you sure you want to suspend document
      <strong>{{vm.document.name}}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
      <span>Cancel</span>
    </button>
    <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
      <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;
      <span>Delete</span>
    </button>
  </div>
</form>
