<!-- breadcrumb -->
<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="settings">Settings</a>
            </li>
            <li ui-sref-active="active">Meal Plans</li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="breadcrumb-btns">
            <ul class="nav nav-pills pull-right">
              <li>
                <button class="btn btn-default btn-sm" ng-click="vm.dragAlert = true">
                  <span class="glyphicon glyphicon-sort"></span>
                  <span class="hidden-xs-down">
                    Sort
                  </span>
                </button>

                <button class="btn btn-default btn-sm" ui-sref="settings-meal-plans.new">
                  <span class="glyphicon glyphicon-plus"></span>
                  <span class="hidden-xs-down">
                    Add Meal Plan
                  </span>
                </button>
              </li>
              <li>
                <div ng-include="'core/routes/settings/settings-menu/settings-navbar.html'"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <!-- <img class="img-responsive" ng-src="{{vm.profile_image_url}}" alt="{{ vm.account.name }}"> -->
      <div ng-include="'core/routes/settings/settings-menu/settings-menu.html'"></div>
    </div>
  </div>

  <div class="col-md-9" ng-show="vm.records == null">
    <div class="panel panel-default">
      <div class="panel-body">
        No records found
      </div>
    </div>
  </div>

  <div class="col-md-9" ng-show="vm.records">
    <div class="alert alert-success alert-dismissible fade in" ng-show="vm.dragAlert === true">
      <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>To sort, drag the meal Plans to desired positions</strong>
    </div>
    <div class="row">
      <div ui-sortable="vm.sortableOptions" ng-model="vm.records" class="vm.records">
        <div class="col-sm-6 col-md-4" ng-repeat="record in vm.records">
          <div class="thumbnail">
            <!-- <img src="images/image-placeholder.svg" alt=""> -->
            <div class="caption">
              <h4 class="uppercaseName"><strong>{{record.generalMealPlanName}}</strong></h4>
              <hr>
              <h5><strong>DESCRIPTION</strong></h5>
              <p>{{record.description}}</p>
              <br>
              <hr>
              <p>
                <a href="#" class="btn btn-primary" role="button"
                  ui-sref="settings-meal-plans.edit({id: record.id})">Edit</a>

                <a href="#" class="btn btn-danger pull-right" role="button"
                  ui-sref="settings-meal-plans.delete({id: record.id})">
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
