<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myOperatingHoursLabel">Day Band</h4>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <div class="form-group">
      <label class="control-label" for="field_name">Name</label>
      <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.entity.name" required/>
      <div ng-show="editForm.name.$invalid">
        <p class="help-block" ng-show="editForm.name.$error.required">
          This field is required.
        </p>
      </div>
    </div>
    <!-- <div class="form-group">
      <label class="control-label" for="field_days">Days for this Day Band</label>
      <multiple-autocomplete ng-model="vm.difference" name="days" object-property="name" suggestions-arr="vm.days">
      </multiple-autocomplete>
      <div ng-show="edit.days.$invalid && edit.days.$dirty">
        <p class="help-block" ng-show="edit.countries.$error.required">Input at minimum one days</p>
      </div>
    </div> -->
    <div class="form-group"  ng-hide="vm.noGroupsFound">
      <label for="">Days for this Day Band</label>
      <br>
      <span ng-repeat="day in vm.difference">
        <div class="checkbox-inline" style="padding-top: 5px;" ng-hide="vm.checkIfExists(day)">
          <label>
            <input type="checkbox" id="{{day}}" value="{{day}}" ng-click="vm.toggleSelection(day)" ng-checked="vm.selectedList.indexOf(day) > -1"  > {{day}}
          </label><br>
        </div>
      </span>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
                </button>
  </div>
</form>
