<!-- breadcrumb -->
<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="settings">Settings</a>
            </li>
            <li ui-sref-active="active">Day Bands</li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="breadcrumb-btns">
            <ul class="nav nav-pills pull-right">
              <li>
                <button class="btn btn-default btn-sm" ui-sref="settings-day-bands.new">
                  <span class="glyphicon glyphicon-plus"></span>
                  <span class="hidden-xs-down">
                    Add Day Bands
                  </span>
                </button>
              </li>
              <li>
                <div ng-include="'core/routes/settings/settings-menu/settings-navbar.html'"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <!-- <img class="img-responsive" ng-src="{{vm.profile_image_url}}" alt="{{ vm.account.name }}"> -->
      <div ng-include="'core/routes/settings/settings-menu/settings-menu.html'"></div>
    </div>
  </div>

  <div class="col-md-9" ng-hide="vm.recordsFound">
    <div class="panel panel-default">
      <div class="panel-body">
        No records found.
      </div>
    </div>
  </div>

  <div class="col-md-9" ng-show="vm.recordsFound">
    <div class="row">
      <div class="col-sm-6 col-md-4" ng-repeat="record in vm.records track by record.id">
        <div class="thumbnail">
          <div class="caption">
            <h5>{{record.name}} <a class="pull-right" ui-sref="settings-day-bands.addDay({bandId: record.id})">
                <span class="label label-primary">
                  <span class="glyphicon glyphicon-plus-sign"></span>Add day</span>
              </a></h5>
            <hr>
            <p>Days</p>
            <p>{{day.weekDay}}</p>
            <p>
              <span ng-repeat="day in record.dayDTOList">
                <span class="label label-default"
                  style="display: list-item; width: 150px; height: 26px; margin: 5px 0px; text-align: left;">
                  {{day.weekDay}}
                  <a ui-sref="settings-day-bands.deleteDay({ dayId: day.id})" class="pull-right">
                    <span class="label label-danger">
                      <span class="glyphicon glyphicon-trash"></span>
                    </span>
                  </a>
                </span>
              </span>

            </p>
            <hr>
            <a href="#" class="btn btn-primary" role="button"
              ui-sref="settings-day-bands.edit({id: record.id})">Edit</a>
            <a href="#" class="btn btn-danger" role="button"
              ui-sref="settings-day-bands.delete({id: record.id})">Delete</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
