<!-- breadcrumb -->
<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-12">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active" class="active">Rates</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of breadcrumb -->


<!-- filter panel-->
<div class="filter-panel ">
  <div class="filter-panel-body">
    <form ng-submit="vm.searching()">
      <div class="row">
        <div class="col-md-3">
          <input type="text" ng-model="vm.locationName" placeholder="Location Name" uib-typeahead="loc.name for loc in vm.getLocation($viewValue)"
            typeahead-loading="loadingLocations" typeahead-no-results="noStartResults" typeahead-on-select="vm.onLocationSelected($item, $model)"
            class="form-control">
          <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
          <div ng-show="noStartResults">
            <i class="glyphicon glyphicon-remove"></i> No Results Found
          </div>
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="vm.date" is-open="vm.openedFrom" placeholder="Start Date"
            close-text="Close" ng-click="vm.openFrom()" ng-change='vm.refresh()' />
        </div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-default filter-col">
            <span class="glyphicon glyphicon-search"></span> Search
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- end of filter panel-->



<!-- compressed rates table -->
<div class="row">
  <div class="container">
    <div class="panel panel-default">
      <table st-table="vm.rowCollectionDisplayed" st-safe-src="vm.rowCollection" class="table table-striped">
        <thead>
          <tr>
            <td colspan="8">
              <input st-search placeholder="Type here to filter the records e.g. 'USD' or 'Property Name'" class="input-sm form-control"
                type="search" />
            </td>
            <td width="10%">
              <select id="pref-perpage" class="input-sm form-control" ng-change="vm.changeItemsPerPage(vm.itemsPerPageStr)" ng-model="vm.itemsPerPageStr">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </td>
          </tr>
          <tr>
            <th st-sort="organisationId">Supplier</th>
            <th st-sort="organisationName">Supplier Name</th>
            <th st-sort="currencyAbbreviation">Currency</th>
            <th st-sort="ppsValue">PPS</th>
            <th st-sort="sglValue">SGL</th>
            <th st-sort="childSharingValue">CHD</th>
            <th st-sort="roomCategoryName">Room Category</th>
            <th st-sort="mealPlanAbbreviation">Service Plan</th>
            <th>Rates Table</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in vm.rowCollectionDisplayed">
            <td>{{row.organisationId}}</td>
            <td>{{row.organisationName | uppercase}}</td>
            <td>{{row.currencyAbbreviation}}</td>
            <td>
              <span ng-show="row.currencySymbol &&  row.ppsValue != null" ng-bind-html="row.currencySymbol"></span> {{row.ppsValue}}</td>
            <td>
              <span ng-show="row.currencySymbol &&  row.sglValue != null" ng-bind-html="row.currencySymbol"></span> {{row.sglValue}}</td>
            <td>
              <span ng-show="row.currencySymbol &&  row.childSharingValue != null" ng-bind-html="row.currencySymbol"></span> {{row.childSharingValue}}</td>
            <td>
              <span ng-show="row.roomCategoryName" class="label label-default" style="font-size:12px; margin-top: 10px; padding-top: initial;">{{row.roomCategoryName}}</span>
            </td>
            <td>
              <span ng-show="row.mealPlanAbbreviation" class="label label-default" style="font-size:12px; margin-top: 10px; padding-top: initial;">{{row.mealPlanAbbreviation}}</span>
            </td>
            <td>
              <a ui-sref="contracts-own-user({supplierId: row.contractDTO.supplierId, contractId: row.contractDTO.id,setId: row.contractDTO.dimensionSetId,seasonGroupId: row.contractDTO.seasonGroupId, year:row.contractDTO.year})">
                View Rates</a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="9" class="text-center">
              <div st-pagination="" st-items-by-page="vm.itemsPerPage" st-displayed-pages="20"></div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<!-- compressed rates table div-->