<div class="row">
  <div class="container">
    <div class="row" ng-hide="vm.resultsPresent" style="margin-top: 200px;">
      <div id="filter-panel" class="filter-panel collapse in" style="height: auto;">
        <div class="panel panel-default">
          <div class="panel-body">
            <form class="form-inline text-center" ng-submit="vm.search()">
              <div class="form-group">
                <label class="filter-col" style="margin-right:0;" for="pref-search">Visit:</label>
                <!-- <input type="text" class="form-control input-sm" id="pref-search"> -->
                <input type="text" ng-model="vm.locationName" placeholder="Location Name" uib-typeahead="loc.name for loc in vm.getLocation($viewValue)"
                  typeahead-loading="loadingLocations" typeahead-no-results="noStartResults" typeahead-on-select="vm.onLocationSelected($item, $model)"
                  class="form-control">
                <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noStartResults">
                  <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
              </div><!-- form group [search] -->

              <div class="form-group">
                <label>Date Of Visit</label>
                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="vm.dateOfVisit"
                  is-open="vm.openedFrom" placeholder="Start Date" close-text="Close" ng-click="vm.openFrom()"
                  ng-change='vm.refresh()' />

              </div>
              <!-- <div class="form-group">

                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="vm.endDate" is-open="vm.openedTo"
                  placeholder="endDate Date" close-text="Close" ng-click="vm.openTo()" ng-change='vm.refresh()' />

              </div> -->
              <div class="form-group">
                <label class="filter-col" style="margin-right:0;" for="pref-perpage">Adults:</label>
                <select id="pref-perpage" class="form-control" type="number" ng-model="vm.request.adults">
                  <option selected="selected" value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                </select>
              </div> <!-- form group [rows] -->
              <div class="form-group">
                <label class="filter-col" style="margin-right:0;" for="pref-perpage">Children:</label>
                <select id="pref-perpage" class="form-control" type="number" ng-model="vm.request.children">
                  <option selected="selected" value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                </select>
              </div> <!-- form group [rows] -->
              <!-- form group [order by] -->
              <!-- <label class="filter-col" style="margin-right:0;" for="pref-orderby">Order by:</label>
                    <select id="pref-orderby" class="form-control">
                        <option>Descendent</option>
                    </select>    -->
              <div class="form-group">
                <!-- <div class="checkbox" style="margin-left:10px; margin-right:10px;">
                        <label><input type="checkbox"> Remember parameters</label>
                    </div> -->
                <button type="submit" class="btn btn-default filter-col">
                  <span class="glyphicon glyphicon-search"></span> Search
                </button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 500px;" ng-show="vm.resultsPresent">
      <div class="col-md-12" ng-show="vm.organizations.length == 0">
        <div class="panel panel-default">
          <div class="panel-body">
            <div ng-show='vm.isLoading' class="no-records-found">
              Searching...
            </div>

            <div ng-hide='vm.isLoading' class="no-records-found">
              No contracts found.
            </div>
          </div>
        </div>
      </div>
      <div id="filter-panel" class="filter-panel collapse in" style="height: auto;">
        <div class="panel panel-default">
          <div class="panel-body">
            <form class="form-inline text-center" ng-submit="vm.search()">
              <div class="form-group">
                <label class="filter-col" style="margin-right:0;" for="pref-search">Visit:</label>
                <!-- <input type="text" class="form-control input-sm" id="pref-search"> -->
                <input type="text" ng-model="vm.locationName" placeholder="Location Name" uib-typeahead="loc.name for loc in vm.getLocation($viewValue)"
                  typeahead-loading="loadingLocations" typeahead-no-results="noStartResults" typeahead-on-select="vm.onLocationSelected($item, $model)"
                  class="form-control">
                <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noStartResults">
                  <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
              </div><!-- form group [search] -->

              <div class="form-group">
                <label>Date Of Visit:</label>
                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="vm.dateOfVisit"
                  is-open="vm.openedFrom" placeholder="Start Date" close-text="Close" ng-click="vm.openFrom()"
                  ng-change='vm.refresh()' />

              </div>
              <div class="form-group">
                <label class="filter-col" style="margin-right:0;" for="pref-perpage">Adults:</label>
                <select id="pref-perpage" class="form-control" type="number" ng-model="vm.request.adults">
                  <option selected="selected" value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                </select>
              </div> <!-- form group [rows] -->
              <div class="form-group">
                <label class="filter-col" style="margin-right:0;" for="pref-perpage">Children:</label>
                <select id="pref-perpage" class="form-control" type="number" ng-model="vm.request.children">
                  <option selected="selected" value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                </select>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-default filter-col">
                  <span class="glyphicon glyphicon-search"></span> Search
                </button>
              </div>
              <div class="form-group">
                <!-- <input type="checkbox" class="form-check-input" ng-model="vm.disableCompressedView" ng-change="vm.showCompressedView()" >
                  <label class="form-check-label"> Compressed View>></label> -->
                <strong>

                  <a ui-sref="dashboard-compressed({locationId: vm.request.locationId, dateOfVisit:vm.request.dateOfVisit, targetId:vm.request.targetId})">Compressed
                    View<span class="glyphicon glyphicon-chevron-right"></span></a>
                </strong>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="panel panel-default">

            <div class="panel-body">

              <!-- <ul class="nav nav-pills nav-stacked">
                <li ui-sref-active="active" role="presentation" ng-repeat="item in vm.filterObjects">
                  <input type="checkbox" class="form-check-input" ng-model="item">
                  <label class="form-check-label"> {{item}}</label>
                </li>
              </ul> -->
              <p>
                <h3>{{vm.locationName}} </h3>
              </p>
              <p>
                {{vm.visitLocation.brief}}
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div ng-hide="vm.organizations.length > 0">
            <div class="panel panel-default">
              <div class="panel-body">
                No records found.
              </div>
            </div>
          </div>
          <div ng-show="vm.organizations.length > 0">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-9">
                    <p>
                      <h3>{{vm.locationName}}: {{vm.organizationsRates.length}} Properties Found </h3>
                    </p>
                  </div>
                  <div class="col-md-3">
                    <button ng-show="false" class="btn btn-primary btn-modal" data-toggle="modal" data-target="#fsModal">
                      View Fullscreen Modal
                    </button>
                    <!-- <button ng-hide="vm.mapView" class="btn btn-primary btn-sm" ng-click="vm.showMapping()">
                       
                       <strong ng-show="vm.mapView">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                      </strong> 
                      View Map
                    </button> -->
                    <button ng-show="vm.mapView" class="btn btn-warning btn-sm" ng-click="vm.showMapping()">
                      <strong>
                        <span class="glyphicon glyphicon-chevron-left"></span>
                      </strong>
                      Listing
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-6" ng-repeat="location in vm.organizationsRates" ng-hide="vm.mapView">
              <div class="panel panel-default" style="margin:5px" ng-show="location.organisationDTO != null">
                <div class="panel-body" style="padding-top: 10;">
                  <div class="col-md-4">

                    <div class="image-container">
                      <img class="img-responsive" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{location.organisationDTO.uuid}}"
                        alt="{{ location.organisationDTO.name }}">
                      <!-- <a ui-sref="location-properties.profile({objectUuid : location.uuid,objectName : location.name})"
                                  class="icon-choose-image">
                                  <img src="images/camera.png">
                                </a> -->
                    </div>
                  </div>
                  <!-- <div class="col-md-8">

                      <div class="row">
                        <div class="col-md-12">
                          <strong >
                          <span style=" font-size: 15px;">{{location.organisationDTO.name | uppercase }}</span></strong>
                        </div>
          
                        
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                               <p ng-show="location.totalValue > 0" style=" font-size: 15px;" >Price</p> 
                            </div>
                          <div class="col-md-6 pull-right">
                              <strong>
                                <span style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 20px;" ng-show="location.totalValue > 0"> &#36; <a ui-sref="contracts-own-user({supplierId: location.id,contractId: location.contractDTO.id,setId: location.contractDTO.dimensionSetId,seasonGroupId: location.contractDTO.seasonGroupId, year:location.contractDTO.year})" >{{location.totalValue}}</a> </span> 
                                <span  ng-hide="location.totalValue > 0">{{location.pricingDescription}}</span>
    
                              </strong>
                            </div>
                      </div>
                    </div> -->
                  <div class="table-responsive">
                    <table class="table table-condensed">
                      <tbody>
                        <!-- <tr>
                              <td colspan="4" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 20px;">{{location.organisationDTO.name | uppercase }} </td>
                              
                            </tr> -->
                        <!-- <div ng-show="location.totalValue > 0"></div> -->
                        <div style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 20px;"><b>{{location.organisationDTO.name
                            | uppercase }}</b></div>
                        <div ng-show="location.totalValue > 0">
                          <tr ng-show="location.totalValue > 0 && vm.request.adults > 0 && vm.request.children > 0">
                            <td colspan="4">Price in {{location.contractDTO.currencyAbbreviation}} </td>

                          </tr>
                          <tr ng-show="location.totalValue > 0 && vm.request.adults > 0 && vm.request.children > 0">
                            <td style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 20px; color: green">PPS:
                            </td>
                            <td style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 20px; color: red">{{location.adultValue}}
                            </td>
                            <td ng-show="location.childValue > 0" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 20px; color: brown">CHD:</td>
                            <td ng-show="location.childValue > 0" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 20px; color: brown">{{location.childValue}}
                            </td>
                          </tr>
                          <tr ng-show="location.totalValue > 0 && location.adultValue > 0 && location.childValue == null">
                            <td colspan="2" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 20px; color: green">{{location.contractDTO.currencyAbbreviation}}:
                            </td>
                            <td colspan="2" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 20px; color: red">{{location.totalValue}}
                            </td>
                          </tr>
                        </div>
                        <tr ng-show="location.totalValue ==null">
                          <td colspan="4">{{location.pricingStatus}} To Resolve Values: use contract
                            <span class="badge" popover-placement="top" uib-popover-template="'popover.html'"
                              popover-trigger="mouseenter">?</span></td>
                          <script type="text/ng-template" id="popover.html">
                            <div>
                                {{location.pricingDescription}}
                                <!-- <ul ng-repeat="exist in org.usedPPSExistences">
                                  <li>{{exist.existenceName}}</li>
                                </ul> -->
                              </div>
                            </script>
                          </td>
                          <!-- <td colspan="2" >{{location.pricingDescription}}</td> -->
                        </tr>
                        <tr>
                          <td colspan="4"><a ui-sref="contracts-own-user({supplierId: location.id,contractId: location.contractDTO.id,setId: location.contractDTO.dimensionSetId,seasonGroupId: location.contractDTO.seasonGroupId, year:location.contractDTO.year})">{{vm.shortenName(location.contractDTO.name)}}</a></td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12" ng-show="false">
              <div class="panel panel-default">
                <div class="panel-body">

                  <div map-lazy-load="{{vm.googleMapsUrl}}">
                    <ng-map id="map" center="{{vm.currentLocation.coordinates[0].latitude}},{{vm.currentLocation.coordinates[0].longitude}}"
                      zoom="{{vm.zoom}}" style="height: 500px">
                      <div ng-repeat="location in vm.organizations track by location.id">
                        <marker position="{{location.latitude}}, {{location.longitude}}" on-click="vm.setCurrentLocation({$event: location})"
                          title="{{location.name}}" on-click="map.showInfoWindow('foo-iw')" draggable="false">
                        </marker>

                      </div>
                      <info-window id="foo-iw" visible-on-marker="true">
                        <div ng-non-bindable>
                          id: {{location.id}}<br />
                          name: {{location.name}}<br />
                          Position 1: {{location.longitude}}<br />
                          <a href="#" ng-click="vm.clicked()">Click Here</a>
                        </div>

                      </info-window>
                    </ng-map>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" ng-show="vm.mapView">
              <div class="panel panel-default">
                <div class="panel panel-heading">
                  <p>Click on a ping to view Property Details</p>

                </div>
                <div class="panel-body">

                  <div class="row">
                    <div class="col-md-4">

                      <div class="image-container">
                        <img class="img-responsive" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{vm.selectedCurrentLocation.uuid}}"
                          alt="{{ vm.currentLocation.name }}">
                        <!-- <a ui-sref="location-properties.profile({objectUuid : location.uuid,objectName : location.name})"
                                          class="icon-choose-image">
                                          <img src="images/camera.png">
                                        </a> -->
                      </div>
                    </div>
                    <div class="col-md-8">

                      <div class="row">
                        <div class="col-md-12">
                          <strong>{{vm.selectedCurrentLocation.name | uppercase }}</strong>

                        </div>
                        <div class="col-md-12">
                          <strong>
                            <span ng-show="vm.selectedCurrentLocation.totalValue > 0">
                              &#36;{{vm.selectedCurrentLocation.totalValue}}</span>
                            <span ng-hide="vm.selectedCurrentLocation.totalValue > 0">{{vm.selectedCurrentLocation.pricingDescription}}</span>

                          </strong>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <p>{{vm.selectedCurrentLocation.brief}}</p>

                        </div>
                      </div>

                      <!-- <p>
                                          <a class="btn btn-primary" role="button" ng-click="vm.switchAccount(location.managerId)">Manage</a>
                                        </p> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
<div id="fsModal" class="modal animated bounceIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

  <!-- dialog -->
  <div class="modal-dialog">

    <!-- content -->
    <div class="modal-content">

      <!-- header -->
      <!-- <div class="modal-header">
        <h1 id="myModalLabel"
            class="modal-title">
            <strong>{{vm.locationName}}:{{vm.organizations.length}} Properties Found </strong> 
        </h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div> -->
      <!-- header -->

      <!-- body -->

      <!-- body -->

      <!-- footer -->
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">
          close
        </button>
        <button class="btn btn-default">
          Default
        </button>
        <button class="btn btn-primary">
          Primary
        </button>
      </div>
      <!-- footer -->

    </div>
    <!-- content -->

  </div>
  <!-- dialog -->

</div>
<!-- modal -->
