<div class="row">
  <div class="container">


    <div class="row" ng-hide="vm.resultsPresent" style="margin-top: 200px;">




      <div id="filter-panel" class="filter-panel collapse in" style="height: auto;">
        <div class="panel panel-default">
          <div class="panel-body">
            <form class="form-inline text-center" ng-submit="vm.search()">
              <div class="form-group">
                <label class="filter-col" style="margin-right:0;" for="pref-search">Visit:</label>
                <!-- <input type="text" class="form-control input-sm" id="pref-search"> -->
                <input type="text" ng-model="vm.locationName" placeholder="Location Name" uib-typeahead="loc.name for loc in vm.getLocation($viewValue)"
                  typeahead-loading="loadingLocations" typeahead-no-results="noStartResults" typeahead-on-select="vm.onLocationSelected($item, $model)"
                  class="form-control">
                <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noStartResults">
                  <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
              </div><!-- form group [search] -->

              <div class="form-group">
                <label>Date Of Visit</label>
                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="vm.dateOfVisit"
                  is-open="vm.openedFrom" placeholder="Start Date" close-text="Close" ng-click="vm.openFrom()"
                  ng-change='vm.refresh()' />

              </div>
              <!-- <div class="form-group">

                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="vm.endDate" is-open="vm.openedTo"
                  placeholder="endDate Date" close-text="Close" ng-click="vm.openTo()" ng-change='vm.refresh()' />

              </div> -->
              <div class="form-group">
                <label class="filter-col" style="margin-right:0;" for="pref-perpage">Adults:</label>
                <select id="pref-perpage" class="form-control" type="number" ng-model="vm.request.adults">
                    <option selected="selected" value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                  </select>
              </div> <!-- form group [rows] -->
              <div class="form-group">
                <label class="filter-col" style="margin-right:0;" for="pref-perpage">Children:</label>
                <select id="pref-perpage" class="form-control" type="number" ng-model="vm.request.children">
                    <option  selected="selected" value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option  value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                  </select>
              </div> <!-- form group [rows] -->
              <!-- form group [order by] -->
              <!-- <label class="filter-col" style="margin-right:0;" for="pref-orderby">Order by:</label>
                    <select id="pref-orderby" class="form-control">
                        <option>Descendent</option>
                    </select>    -->
              <div class="form-group">
                <!-- <div class="checkbox" style="margin-left:10px; margin-right:10px;">
                        <label><input type="checkbox"> Remember parameters</label>
                    </div> -->
                <button type="submit" class="btn btn-default filter-col">
                  <span class="glyphicon glyphicon-search"></span> Search
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 500px;" ng-show="vm.resultsPresent">
      <div class="col-md-12" ng-show="vm.organizations.length == 0">
        <div class="panel panel-default">
          <div class="panel-body">
            <div ng-show='vm.isLoading' class="no-records-found">
              Searching...
            </div>

            <div ng-hide='vm.isLoading' class="no-records-found">
              No contracts found.
            </div>
          </div>
        </div>
      </div>
      <div id="filter-panel" class="filter-panel collapse in" style="height: auto;">
        <div class="panel panel-default">
          <div class="panel-body">
            <form class="form-inline text-center" ng-submit="vm.search()">
              <div class="form-group">
                <label class="filter-col" style="margin-right:0;" for="pref-search">Visit:</label>
                <!-- <input type="text" class="form-control input-sm" id="pref-search"> -->
                <input type="text" ng-model="vm.locationName" placeholder="Location Name" uib-typeahead="loc.name for loc in vm.getLocation($viewValue)"
                  typeahead-loading="loadingLocations" typeahead-no-results="noStartResults" typeahead-on-select="vm.onLocationSelected($item, $model)"
                  class="form-control">
                <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noStartResults">
                  <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
              </div><!-- form group [search] -->

              <div class="form-group">
                <label>Date Of Visit:</label>
                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="vm.dateOfVisit"
                  is-open="vm.openedFrom" placeholder="Start Date" close-text="Close" ng-click="vm.openFrom()"
                  ng-change='vm.refresh()' />

              </div>
              <div class="form-group">
                <label class="filter-col" style="margin-right:0;" for="pref-perpage">Adults:</label>
                <select id="pref-perpage" class="form-control" type="number" ng-model="vm.request.adults">
                  <option selected="selected" value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                </select>
              </div> <!-- form group [rows] -->
              <div class="form-group">
                <label class="filter-col" style="margin-right:0;" for="pref-perpage">Children:</label>
                <select id="pref-perpage" class="form-control" type="number" ng-model="vm.request.children">
                  <option  selected="selected" value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option  value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                </select>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-default filter-col">
                  <span class="glyphicon glyphicon-search"></span> Search
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="panel panel-default">

            <div class="panel-body">

              <p ng-repeat="roomCat in vm.roomCategories " > 
                {{roomCat.name}}
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-heading">
              <form class="form-inline">
                  <div class="form-group">
                      <label >Search</label>
                      <input type="text" ng-model="search" class="form-control" placeholder="Search Organization">
                  </div>
              </form>
            </div>
           
            <div class="bs-component" >
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th ng-click="vm.sort('id')" >Id
                                <span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="vm.sort('name')">Name
                                <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>

                            </th>
                            <th ng-click="vm.sort('totalValue')">Total Value
                                <span class="glyphicon sort-icon" ng-show="sortKey=='totalValue'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>

                            </th>
                            <th ng-click="vm.sort('adultValue')">Adult Value
                                <span class="glyphicon sort-icon" ng-show="sortKey=='adultValue'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="user in vm.organizations|orderBy:sortKey:reverse|filter:search|itemsPerPage:15">
                            <td>{{user.id}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.totalValue}}</td>
                            <td>{{user.totalValue}}</td>
                        </tr>
                    </tbody>
                    
                </table> 
                <dir-pagination-controls
                    max-size="5"
                    direction-links="true"
                    boundary-links="true" >
                </dir-pagination-controls>
            </div>
          </div>
          <!-- <div class="panel panel-default">
              <div class="panel-heading">
                Compact View
  
              </div>
                  <div class="panel-body">
                  <table ng-table="vm.tableParams" class="table" show-filter="true">
                      <tr ng-repeat="user in $data">
                          <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                              {{user.name}}</td>
                              <td title="'Service'" filter="{ Service: 'text'}" sortable="'name'">
                                  HB</td>
                              
                            <td title="'PPS'" sortable="'PPS'">
                              {{user.totalValue}}</td>
                            <td title="'SGL'" sortable="'SGL'">
                              {{user.totalValue}}</td>
                            <td title="'3rd Bed'" sortable="'3rd Bed'">
                              {{user.totalValue}}</td>
                              <td title="'CHD'" sortable="'CHD'">
                                  {{user.totalValue}}</td>
                      </tr>
                  </table>
                </div>
            </div> -->
  
        </div>
        <div class="col-md-9">
       
        </div>
      </div>
    </div>

  </div>
</div>


<!-- modal -->
