<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li ui-sref-active="active">
          <a ui-sref="home">Home</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="costs({id: vm.contract.serviceId})">Pricing</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="cost-contracts({id: vm.service.id})">Contracts</a>
        </li>
        <li ui-sref-active="active" class="active">{{vm.contract.name}}</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="image-container">
          <!-- <img class="img-responsive" ng-hide="" ng-src="images/image-placeholder.svg" alt="{{ vm.account.name }}"> -->
          <img class="img-responsive" ng-src="{{vm.profile_image_url}}" alt="{{ vm.menuItem.name }}">
          <a ui-sref="contract-detail.image" class="icon-choose-image">
            <img src="images/camera.png">
          </a>
        </div>
        <div class="panel-body">
          <h4>{{vm.contract.name}}</h4>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="cost-contracts-detail({contractId: vm.contract.id})">Overview</a>
          </li>
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="cost-contract-rates({contractId: vm.contract.id})">Dimension Sets</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row" ng-show="!vm.dimensions">
        <div class="panel panel-default">
          <div class="panel-body">
            No dimension sets found.
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9" ng-show="vm.dimensions">
      <div class="row">
        <div class="col-sm-6 col-md-6" ng-repeat="item in vm.dimensions">
          <div class="thumbnail">
            <div class="container">
              <h3>{{item.name}}</h3>
            </div>
            <ul>
              <li ng-repeat=" dimension in item.dimensionDTOList">{{ dimension.dimensionName}} - {{dimension.type}}</li>
            </ul>
            <div class="caption">
              <p>
                <button class="btn btn-primary" ui-sref="cost-contract-rates-detail({setId: item.id})">
                  <span class="glyphicon"></span>
                  <span class="hidden-xs-down">
                    View
                  </span>
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
