<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myOperatingHoursLabel">Base Rates</h4>
  </div>
  <div class="modal-body">


    <label for=""> Rates for Each Dimension Respectively</label>
      <div ng-if="vm.dimLength === 1">
        <h4 class="text-center">Rates</h4>
        <br>

        <table class="table table-bordered table-striped">
          <thead>

            <th ng-repeat="item in vm.dimensionSet[0].existenceDTOList">
              {{ item.name }}
            </th>
          </thead>
          <tbody>
            <tr>
              <td ng-repeat="item in vm.dimensionSet[0].existenceDTOList">
                <input type="number" ng-model="vm.rate1[$index]" />
              </td>
            </tr>
          </tbody>
        </table>
        <br />
      </div>
    <div ng-if="vm.dimLength === 2">
      <h4 class="text-center">Rates</h4>
      <br>

      <table class="table table-bordered table-striped">
        <thead>
          <th class="text-success">{{third.name}}</th>
          <th ng-repeat="item in vm.dimensionSet[0].existenceDTOList">
            {{ item.name }}
          </th>
        </thead>
        <tbody>
          <tr ng-repeat="row in vm.dimensionSet[1].existenceDTOList">
            <td>
              <strong>{{ row.name }}</strong>
            </td>
            <td ng-repeat="item in vm.dimensionSet[0].existenceDTOList">
              <input type="number"  ng-model="vm.array2[$parent.$index][$index]"/>
               {{vm.array2[$parent.$index][$index]}}
            </td>
          </tr>
        </tbody>
      </table>
      <br />
    </div>
  <div ng-if="vm.dimLength === 3">
    <div class="form-group" ng-hide="vm.noGroupsFound" ng-repeat="third in vm.thirdItem.existenceDTOList" ng-if="vm.dimLength === 3">
      <h4 class="text-center">{{ third.name }} rates</h4>
      <br>

      <table class="table table-bordered table-striped">
        <thead>
          <th class="text-success">{{third.name}}</th>
          <th ng-repeat="item in vm.dimensionSet[0].existenceDTOList">
            {{ item.name }}
          </th>
        </thead>
        <tbody>
          <tr ng-repeat="row in vm.dimensionSet[1].existenceDTOList">
            <td>
              <strong>{{ row.name }}</strong>
            </td>
            <td ng-repeat="item in vm.dimensionSet[0].existenceDTOList">
               <input type="number" ng-model="vm.array3[$parent.$parent.$index][$parent.$index][$index]" />
            </td>
          </tr>
        </tbody>
      </table>
      <br />
    </div>
  </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
      <span>Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;
      <span>Save</span>
    </button>
  </div>
</form>
