<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active">Packages</li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="breadcrumb-btns">
            some buttons to appear here...
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- filter panel -->
<div class="filter-panel ">
  filter panel here.... 
</div>
<!-- end of filter panel  -->

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
       Hello... we will be doing this later... 
      </div>
    </div>
  </div>
</div>


