<!-- begin breadcrumb -->
<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-12">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active" ng-show="vm.safari.groupId > 0" class="active">
              <a ng-click="vm.gotoLink()" style="cursor: all-scroll">
                Folder
              </a>
            </li>

            <li ui-sref-active="active" class="active">
              Create {{vm.safari.type}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of breadcrumb -->

<!-- begin wizard  -->
<div class="col-md-12" style="background: white">

  <div id="wizard-container">

    <!-- the steps -->
    <div id="wizard-step-container">
      <ul class="list-inline text-center">
        <li ng-repeat="step in vm.steps" ng-show="step.visible">
          <a ng-click="vm.gotoStep(step.step)" href="" ng-class="{'active':step.step == vm.currentStep}">
            <div class="number">{{step.step}}</div>
            <div class="name" class="hidden-sm">{{step.name}}</div>
          </a>
        </li>
      </ul>
    </div>

    <!-- include the correct template -->
    <div id="wizard-content-container" ng-include="vm.getStepTemplate()" style="min-height: 300px">
    </div>

    <!-- navigation -->
    <div id="wizard-navigation-container" class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10 ">
        <div class="pull-right">
          <button ng-if="vm.currentStep != '4'" ng-disabled="vm.currentStep >= vm.steps.length" class="btn btn-primary" name="next" type="button" ng-click="vm.gotoStep(vm.currentStep + 1)" ng-hide="vm.currentStep == vm.steps.length">Next
            <span class="glyphicon glyphicon-arrow-right"></span>
          </button>
          <button ng-if="vm.currentStep == '4'" ng-disabled="!vm.showNext" class="btn btn-primary" name="next" type="button" ng-click="vm.gotoStep(vm.currentStep + 1)" ng-hide="vm.currentStep == vm.steps.length">Next
              <span class="glyphicon glyphicon-arrow-right"></span>
            </button>

          <button style="margin-bottom: 10px" class="btn btn-success" name="save" type="button" ng-click="vm.save()" ng-show="vm.currentStep ==  vm.steps.length && vm.showNext">
            <span class="glyphicon glyphicon-save"></span>
            Save</button>
        </div>

        <button ng-disabled="vm.currentStep <= 1" class="btn btn-primary" name="previous" type="button" ng-click="vm.gotoStep(vm.currentStep - 1)" ng-hide="vm.currentStep == 1">
          <span class="glyphicon glyphicon-arrow-left"></span> Back</button>
      </div>
      <div class="col-md-1">
      </div>
    </div>
    <!-- end of navigation -->

  </div>

</div>
<!-- end of wizard  -->


<!-- edit group modal -->
<div class="modal fade" id="editGroupDetails" tabindex="-1" role="dialog" aria-labelledby="editGroupDetails">
  <div class="modal-dialog modal-lg" role="document">
    <form class="form-signin">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Edit Booking Details</h4>
        </div>
        <div class="modal-body">

          <div class="row">

            <div class="form-group col-md-6" id="inputfit">
              <label class="control-label" for="field_name">Booking Name
                <small style="color: #202124; font-weight: 400;">or surname</small>
              </label>
              <input type="text" class="form-control" name="name" id="field_name" placeholder="e.g. Wafula or Meliora Team" ng-model="vm.safari.travellerGroup.name" required />
              <div ng-show="editForm.name.$invalid">
                <p class="help-block" ng-show="editForm.name.$error.required">
                  This field is required.
                </p>
              </div>
            </div>

            <div class="form-group col-md-3" id="inputfit">
              <label for="field_year">No. of People
                <small style="color: #202124; font-weight: 400;">PAX</small>
              </label>
              <input type="number" class="form-control" name="name" id="field_name" ng-model="vm.safari.travellerGroup.pax" ng-change="vm.changePax()" placeholder="e.g. 2" />
            </div>

            <div class="form-group col-md-3" id="inputfit">
              <label for="field_year">Country
                <small style="color: #202124; font-weight: 400;">of origin</small>
              </label>
              <select class="form-control" id="field_year" name="country" ng-model="vm.safari.travellerGroup.country" placeholder="e.g. Kenya" ng-options="country.code as country.name for country in vm.countries">
                <option>{{currency.code}}</option>
              </select>
            </div>

          </div>

          <div class="row">
            <div class="form-group col-md-6" id="inputfit">
              <label class="control-label" for="field_name">Client Profile
                <small style="color: #202124; font-weight: 400;">genaral classification of travellers </small>
              </label>
              <select class="form-control" id="field_year" name="profile" ng-model="vm.safari.travellerGroup.profile" placeholder="e.g. FAMILY" ng-options="profile as profile for profile in vm.travellerProfiles">
                <option>Select Profile</option>
              </select>
            </div>

            <div class="form-group col-md-6" id="inputfit">
              <label for="field_year">Purpose
                <small style="color: #202124; font-weight: 400;">general purpose of visit</small>
              </label>
              <select class="form-control" id="field_year" name="purpose" ng-model="vm.safari.travellerGroup.purpose" placeholder="e.g. HOLIDAY" ng-options="purpose as purpose for purpose in vm.purposes">
                <option>Select Purpose</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6" id="inputfit">
              <label class="control-label" for="field_startDate">Email Address
                <small style="color: #202124; font-weight: 400;">email address of group or contact person </small>
              </label>
              <input type="email" class="form-control" placeholder="e.g. info@example.com" ng-model="vm.safari.travellerGroup.email" />
            </div>
            <div class="form-group col-md-6" id="inputfit">
              <label class="control-label" for="field_startDate">Telephone Number
                <small style="color: #202124; font-weight: 400;">phone number of group or contact person </small>
              </label>
              <input type="number" class="form-control" placeholder="e.g. +254 7XX XXX XXX" ng-model="vm.safari.travellerGroup.tel" />
            </div>
          </div>

          <div class="form-group" id="inputfit">
            <label class="control-label" for="field_description">Description
              <small style="color: #202124; font-weight: 400;">detailed purpose of visit</small>
            </label>
            <textarea class="form-control" id="field_description" rows="" name="description" placeholder="e.g. Wedding anniversary celebrations or team building" ng-model="vm.safari.travellerGroup.description" required></textarea>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" ng-click="vm.onChangeGroupDetails()" class="btn btn-default">Done</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- end of edit group modal -->


<!-- edit travel details modal -->
<div class="modal fade" id="editTravelDetails" tabindex="-1" role="dialog" aria-labelledby="editTravelDetails">
  <div class="modal-dialog modal-lg" role="document">
    <form class="form-signin">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Edit Travel Details</h4>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="form-group col-md-6" id="inputfit">
              <label class="control-label" for="field_startDate">ETA
                <small style="color: #202124; font-weight: 400;">as per arrival schedule</small>
              </label>
              <input type="text" class="form-control" ng-click="vm.openFrom()" datetime-picker="yyyy-MM-dd HH:mm:ss" ng-model="vm.safari.travellerGroup.eta" is-open="vm.openedFrom" />
              <!-- <input type="text" class="form-control" ng-model="vm.safari.travellerGroup.eta" /> -->
            </div>
            <div class="form-group col-md-6" id="inputfit">
              <label class="control-label" for="field_startDate">ETD
                <small style="color: #202124; font-weight: 400;">as per departure schedule</small>
              </label>
              <input type="text" class="form-control" ng-click="vm.openTo()" ng-change="vm.endDayChange()" datetime-picker="yyyy-MM-dd HH:mm" ng-model="vm.safari.travellerGroup.etd" is-open="vm.openedTo" />
              <!-- <input type="text" class="form-control" ng-model="vm.safari.travellerGroup.etd" /> -->
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6" id="inputfit">
              <label class="control-label" for="field_name">Pick Up Location
                <small style="color: #202124; font-weight: 400;">airport, bus station, etc.</small>
              </label>
              <!-- <input type="text" class="form-control" name="name" placeholder="e.g. JKIA or Nairobi Bus Station" id="field_name" ng-model="vm.safari.travellerGroup.travelDetails.arrival.pickUpLoc"
              /> -->
              <input type="text" placeholder="e.g. JKIA or Nairobi Bus Station" ng-model="vm.safari.travellerGroup.travelDetails.arrival.pickUpLocName" uib-typeahead="loc.name for loc in vm.getPickLocations($viewValue)"
                typeahead-loading="loadingLocations" typeahead-no-results="noStartResults" typeahead-on-select="vm.travellerPickUpSelected($item, $model)" class="form-control" required>
              <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
              <div ng-show="noStartResults">
                <i classs="glyphicon glyphicon-remove"></i> No Results Found
              </div>
            </div>

            <div class="form-group col-md-6" id="inputfit">
              <label class="control-label" for="field_name">Drop Off Location
                <small style="color: #202124; font-weight: 400;">airport, bus station, etc.</small>
              </label>
              <!-- <input type="text" class="form-control" name="name" placeholder="e.g. JKIA or Nairobi Bus Station" id="field_name" ng-model="vm.safari.travellerGroup.travelDetails.departure.dropOffLoc"
              /> -->
              <input type="text" placeholder="e.g. JKIA or Nairobi Bus Station" ng-model="vm.safari.travellerGroup.travelDetails.departure.dropOffLocName" uib-typeahead="loc.name for loc in vm.getPickLocations($viewValue)"
                typeahead-loading="loadingLocations" typeahead-no-results="noStartResults" typeahead-on-select="vm.travellerDropOffSelected($item, $model)" class="form-control" required>
              <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
              <div ng-show="noStartResults">
                <i classs="glyphicon glyphicon-remove"></i> No Results Found
              </div>
            </div>
          </div>


          <div class="row">
            <div class="form-group col-md-6" id="inputfit">
              <label class="control-label" for="field_startDate">Flight Number
                <small style="color: #202124; font-weight: 400;">arrival flight number</small>
              </label>
              <input type="text" class="form-control" placeholder="e.g. KQ0772" ng-model="vm.safari.travellerGroup.travelDetails.arrival.flightNo" ng-change="vm.grpArrivalFlightNo()"/>
            </div>
            <div class="form-group col-md-6" id="inputfit">
              <label class="control-label" for="field_startDate">Return Flight Number
                <small style="color: #202124; font-weight: 400;">departure flight number</small>
              </label>
              <input type="text" class="form-control" placeholder="e.g. KQ0774" ng-model="vm.safari.travellerGroup.travelDetails.departure.flightNo" ng-change="vm.grpDeprtFlightNo()"/>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6" id="inputfit">
              <label class="control-label" for="field_startDate">Ticket Number
                <small style="color: #202124; font-weight: 400;">arrival flight ticket number</small>
              </label>
              <input type="text" class="form-control" placeholder="e.g. 706 2301658211" ng-model="vm.safari.travellerGroup.travelDetails.arrival.ticketNo" ng-change="vm.grpArrivalTicketNo()" />
            </div>
            <div class="form-group col-md-6" id="inputfit">
              <label class="control-label" for="field_startDate">Return Flight Ticket Number
                <small style="color: #202124; font-weight: 400;">departure flight ticket number</small>
              </label>
              <input type="text" class="form-control" placeholder="e.g. 706 2301658211" ng-model="vm.safari.travellerGroup.travelDetails.departure.ticketNo" ng-change="vm.grpDeprtTicketNo()"/>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6" id="inputfit">
              <label class="control-label" for="field_startDate">Arrival Flight Notes
                <small style="color: #202124; font-weight: 400;">arrival notes</small>
              </label>
              <textarea class="form-control" id="field_description" rows="" name="description" placeholder="e.g. connecting flight or any relevant information" ng-model="vm.safari.travellerGroup.travelDetails.arrival.notes" ng-change="vm.grpArrivalNotes()"></textarea>
            </div>
            <div class="form-group col-md-6" id="inputfit">
              <label class="control-label" for="field_startDate">Return Flight Notes
                <small style="color: #202124; font-weight: 400;">departure flight notes</small>
              </label>
              <textarea class="form-control" id="field_description" rows="" name="description" placeholder="e.g. direct flight or any relevant information" ng-model="vm.safari.travellerGroup.travelDetails.departure.notes" ng-change="vm.grpDeprtNotes()"></textarea>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- end of editr travel details modal -->


<!-- edit person -->
<div class="modal fade" id="editTraveller" tabindex="-1" role="dialog" aria-labelledby="editTraveller">
  <div class="modal-dialog modal-lg" role="document">
    <form class="form-signin">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Edit Traveller</h4>
        </div>
        <div class="modal-body">

          <h4>Bio Data</h4>

          <div class="row">
            <div class="form-group col-md-6" id="inputfit">
              <label class="control-label" for="field_startDate">Name</label>
              <input type="text" class="form-control" ng-model="vm.selectedTraveller.name" />
            </div>
            <div class="form-group col-md-3" id="inputfit">
              <label class="control-label" for="field_startDate">Gender</label>
              <select class="form-control" id="field_year" name="gender" ng-model="vm.selectedTraveller.gender" placeholder="e.g. MALE" ng-options="gender as gender for gender in vm.genders">
                <option>Selected Gender</option>
              </select>
            </div>
            <div class="form-group col-md-3" id="inputfit">
              <label class="control-label" for="field_startDate">Age
                <small style="color: #202124; font-weight: 400;">of the person at time of travel</small>
              </label>
              <input type="number" class="form-control" ng-model="vm.selectedTraveller.age" />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6" id="inputfit">
              <label class="control-label" for="field_startDate">Email Address</label>
              <input type="email" class="form-control" placeholder="e.g. info@example.com" ng-model="vm.selectedTraveller.email" />
            </div>
            <div class="form-group col-md-3" id="inputfit">
              <label class="control-label" for="field_startDate">Phone Number</label>
              <input type="number" class="form-control" placeholder="e.g. +254 7XX XXX XXX" ng-model="vm.selectedTraveller.tel" />
            </div>
            <div class="form-group col-md-3" id="inputfit">
              <label class="control-label" for="field_startDate">Country
                <small style="color: #202124; font-weight: 400;">of origin</small>
              </label>
              <select class="form-control" id="field_year" name="country" ng-model="vm.selectedTraveller.country" placeholder="e.g. Kenya" ng-options="country.code as country.name for country in vm.countries">
                <option>{{currency.code}}</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-3" id="inputfit">
              <label class="control-label" for="field_startDate">Category
                <small style="color: #202124; font-weight: 400;">traveller e.g. tourist or proffessional e.g.
                  driver</small>
              </label>
              <select class="form-control" id="field_year" name="country" ng-model="vm.selectedTraveller.category" placeholder="e.g. TRAVELLER" ng-options="category as category for category in vm.travellerCategories">
                <option>Select Category</option>
              </select>
            </div>

            <div class="form-group col-md-3" id="inputfit">
              <label class="control-label" for="field_startDate">Profession
                <small style="color: #202124; font-weight: 400;">the profession of the traveller e.g. DJ, Photographer,
                  Driver, etc.</small>
              </label>
              <input type="text" class="form-control" placeholder="e.g. Photographer" ng-model="vm.selectedTraveller.profession" />
            </div>

            <div class="form-group col-md-6" id="inputfit">
              <label class="control-label" for="field_startDate">Notes
                <small style="color: #202124; font-weight: 400;">any special notes about person</small>
              </label>
              <textarea class="form-control" id="field_description" rows="" name="notes" placeholder="e.g. Vegan or Allergic to cow milk" ng-model="vm.selectedTraveller.notes"></textarea>
            </div>
          </div>

          <h4>Travel Details</h4>

          <div class="row">
            <!-- <div class="form-group col-md-6" id="inputfit">
              <label class="control-label" for="field_startDate">ETA
                <small style="color: #202124; font-weight: 400;">as per arrival schedule</small>
              </label>
              <input type="text" class="form-control" ng-model="vm.selectedTraveller.eta" />
            </div>
            <div class="form-group col-md-6" id="inputfit">
              <label class="control-label" for="field_startDate">ETD
                <small style="color: #202124; font-weight: 400;">as per departure schedule</small>
              </label>
              <input type="text" class="form-control" ng-model="vm.selectedTraveller.etd" />

            </div> -->
            <div class="form-group col-md-6" id="inputfit">
              <label class="control-label" for="field_startDate">ETA
                <small style="color: #202124; font-weight: 400;">as per arrival schedule</small>
              </label>
              <input type="text" class="form-control" ng-click="vm.openFrom()" ng-change="vm.startDayChange()" datetime-picker="yyyy-MM-dd HH:mm" ng-model="vm.selectedTraveller.eta" is-open="vm.openedFrom" />
              <!-- <input type="text" class="form-control" ng-model="vm.safari.travellerGroup.eta" /> -->
            </div>
            <div class="form-group col-md-6" id="inputfit">
              <label class="control-label" for="field_startDate">ETD
                <small style="color: #202124; font-weight: 400;">as per departure schedule</small>
              </label>
              <input type="text" class="form-control" ng-click="vm.openTo()" ng-change="vm.endDayChange()" datetime-picker="yyyy-MM-dd HH:mm" ng-model="vm.selectedTraveller.etd" is-open="vm.openedTo" />
              <!-- <input type="text" class="form-control" ng-model="vm.safari.travellerGroup.etd" /> -->
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6" id="inputfit">
              <label class="control-label" for="field_name">Pick Up Location
                <small style="color: #202124; font-weight: 400;">airport, bus station, etc.</small>
              </label>
              <!-- <input type="text" class="form-control" name="name" placeholder="e.g. JKIA or Nairobi Bus Station"
                id="field_name" ng-model="vm.selectedTraveller.travelDetails.arrival.pickUpLocName" /> -->
              <input type="text" placeholder="e.g. JKIA or Nairobi Bus Station" ng-model="vm.selectedTraveller.travelDetails.arrival.pickUpLocName" uib-typeahead="loc.name for loc in vm.getPickLocations($viewValue)"
                typeahead-loading="loadingLocations" typeahead-no-results="noStartResults" typeahead-on-select="vm.travellerDropOffSelected($item, $model)" class="form-control" required>
              <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
              <div ng-show="noStartResults">
                <i classs="glyphicon glyphicon-remove"></i> No Results Found
              </div>
            </div>


            <div class="form-group col-md-6" id="inputfit">
              <label class="control-label" for="field_name">Drop Off Location
                <small style="color: #202124; font-weight: 400;">airport, bus station, etc.</small>
              </label>
              <!-- <input type="text" class="form-control" name="name" placeholder="e.g. JKIA or Nairobi Bus Station" id="field_name" ng-model="vm.selectedTraveller.travelDetails.departure.dropOffLoc"
              /> -->
              <input type="text" placeholder="e.g. JKIA or Nairobi Bus Station" ng-model="vm.selectedTraveller.travelDetails.departure.dropOffLocName" uib-typeahead="loc.name for loc in vm.getPickLocations($viewValue)"
                typeahead-loading="loadingLocations" typeahead-no-results="noStartResults" typeahead-on-select="vm.travellerDropOffSelected($item, $model)" class="form-control" required>
              <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
              <div ng-show="noStartResults">
                <i classs="glyphicon glyphicon-remove"></i> No Results Found
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6" id="inputfit">
              <label class="control-label" for="field_startDate">Flight Number
                <small style="color: #202124; font-weight: 400;">arrival flight number</small>
              </label>
              <input type="text" class="form-control" placeholder="e.g. KQ0772" ng-model="vm.selectedTraveller.travelDetails.arrival.flightNo" />
            </div>
            <div class="form-group col-md-6" id="inputfit">
              <label class="control-label" for="field_startDate">Return Flight Number
                <small style="color: #202124; font-weight: 400;">departure flight number</small>
              </label>
              <input type="text" class="form-control" placeholder="e.g. KQ0774" ng-model="vm.selectedTraveller.travelDetails.departure.flightNo" />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6" id="inputfit">
              <label class="control-label" for="field_startDate">Ticket Number
                <small style="color: #202124; font-weight: 400;">arrival flight ticket number</small>
              </label>
              <input type="text" class="form-control" placeholder="e.g. 706 2301658211" ng-model="vm.selectedTraveller.travelDetails.arrival.ticketNo" />
            </div>
            <div class="form-group col-md-6" id="inputfit">
              <label class="control-label" for="field_startDate">Return Flight Ticket Number
                <small style="color: #202124; font-weight: 400;">departure flight ticket number</small>
              </label>
              <input type="text" class="form-control" placeholder="e.g. 706 2301658211" ng-model="vm.selectedTraveller.travelDetails.departure.ticketNo" />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6" id="inputfit">
              <label class="control-label" for="field_startDate">Arrival Flight Notes
                <small style="color: #202124; font-weight: 400;">arrival notes</small>
              </label>
              <textarea class="form-control" id="field_description" rows="" name="description" placeholder="e.g. connecting flight or any relevant information" ng-model="vm.selectedTraveller.travelDetails.arrival.notes"></textarea>
            </div>
            <div class="form-group col-md-6" id="inputfit">
              <label class="control-label" for="field_startDate">Return Flight Notes
                <small style="color: #202124; font-weight: 400;">departure flight notes</small>
              </label>
              <textarea class="form-control" id="field_description" rows="" name="description" placeholder="e.g. direct flight or any relevant information" ng-model="vm.selectedTraveller.travelDetails.departure.notes"></textarea>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- end of edit person modal -->

<!-- view person modal -->
<div class="modal fade" id="viewTraveller" tabindex="-1" role="dialog" aria-labelledby="viewTraveller">
  <div class="modal-dialog modal-lg" role="document">
    <form class="form-signin">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">View Traveller Details</h4>
        </div>
        <div class="modal-body">

          <h4>Bio Data</h4>

          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-striped">
                  <tr>
                    <td width="25%">
                      <strong>Name : </strong>
                    </td>
                    <td width="25%">
                      <span class="uppercaseName">{{vm.selectedTraveller.name}}</span>
                    </td>
                    <td width="25%">
                      <strong>Country : </strong>
                    </td>
                    <td width="25%">
                      {{vm.selectedTraveller.country}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Gender : </strong>
                    </td>
                    <td>
                      <span>{{vm.selectedTraveller.gender}}</span>
                      <span class="vm.selectedTraveller.gender == null"> N/A</span>
                    </td>
                    <td>
                      <strong>Age : </strong>
                    </td>
                    <td>
                      <span>{{vm.selectedTraveller.age}}</span>
                      <span class="vm.selectedTraveller.age == null"> N/A</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Email Address : </strong>
                    </td>
                    <td>
                      <span>{{vm.selectedTraveller.email}}</span>
                      <span class="vm.selectedTraveller.email == null"> N/A</span>
                    </td>
                    <td>
                      <strong>Telephone Number : </strong>
                    </td>
                    <td>
                      <span>{{vm.selectedTraveller.tel}}</span>
                      <span class="vm.selectedTraveller.tel == null"> N/A</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Category : </strong>
                    </td>
                    <td>
                      <span class="label label-info">{{vm.selectedTraveller.category}}</span>
                    </td>
                    <td>
                      <strong>Profession : </strong>
                    </td>
                    <td>
                      <span>{{vm.selectedTraveller.profession}}</span>
                      <span class="vm.selectedTraveller.profession == null"> N/A</span>

                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Notes : </strong>
                    </td>
                    <td colspan="3">
                      <span>{{vm.selectedTraveller.notes == null ? 'no notes' : vm.selectedTraveller.notes}}</span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <h4>Travel Details</h4>
          <div class="row">

            <div class="col-md-6">
              <h5>Arrival Details</h5>
              <div class="table-responsive">
                <table class="table table-striped">
                  <tr>
                    <td width="50%">
                      <strong>ETA: </strong>
                    </td>
                    <td>
                      {{vm.selectedTraveller.eta | date : 'MMM d, y - h:mm a' }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Pick Up Point: </strong>
                    </td>
                    <td>
                      {{vm.selectedTraveller.travelDetails.arrival.pickUpLoc}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Flight Number: </strong>
                    </td>
                    <td>
                      {{vm.selectedTraveller.travelDetails.arrival.flightNo}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Ticket No: </strong>
                    </td>
                    <td>
                      {{vm.selectedTraveller.travelDetails.arrival.ticketNo}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Notes : </strong>
                    </td>
                    <td>
                      {{vm.selectedTraveller.travelDetails.arrival.notes == null ? 'no notes' : vm.selectedTraveller.travelDetails.arrival.notes }}
                    </td>
                  </tr>
                </table>
              </div>
            </div>

            <div class="col-md-6">
              <h5>Departure Details</h5>
              <div class="table-responsive">
                <table class="table table-striped">
                  <tr>
                    <td width="50%">
                      <strong>ETD: </strong>
                    </td>
                    <td>
                      {{vm.selectedTraveller.etd | date : 'MMM d, y - h:mm a' }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Pick Up Point: </strong>
                    </td>
                    <td>
                      {{vm.selectedTraveller.travelDetails.departure.dropOffLoc}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Flight Number: </strong>
                    </td>
                    <td>
                      {{vm.selectedTraveller.travelDetails.departure.flightNo}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Ticket No: </strong>
                    </td>
                    <td>
                      {{vm.selectedTraveller.travelDetails.departure.ticketNo}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Notes: </strong>
                    </td>
                    <td>
                      {{vm.selectedTraveller.travelDetails.departure.notes == null ? 'no notes' : vm.selectedTraveller.travelDetails.departure.notes }}
                    </td>
                  </tr>
                </table>

              </div>
            </div>

          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- end of view person modal -->


<!-- confirm refresh persons -->
<div class="modal fade" id="confimTravellerRefresh" tabindex="-1" role="dialog" aria-labelledby="confimTravellerRefresh">
  <div class="modal-dialog modal-md" role="document">
    <form class="form-signin">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Refresh Persons Information</h4>
        </div>
        <div class="modal-body">
          <p>Discard traveller's details. Are you sure?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
            <span>Cancel</span>
          </button>
          <button type="submit" class="btn btn-default" ng-click="vm.generatePersonsInfo()">
            <span class="glyphicon glyphicon-refresh"></span>&nbsp;
            <span data-translate="entity.action.delete">Refresh</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- end of confirm refresh persons -->
