<div ng-cloak>
  <div class="row">
    <div class="container">
      <div class="col-md-12 breadcrumb-white-bg">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="{{vm.previousState}}">Locations</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="location-detail({id: vm.location.id})">{{vm.location.name}}</a>
            </li>
            <li ui-sref-active="active" class="active">Gallery</li>
            </li>
            <li ui-sref-active="active" class="active">{{vm.album.name}}</li>
          </ul>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="breadcrumb-btns">
            <ul class="nav nav-pills pull-right" ng-hide="vm.location.contentStatus === 'DELETED'">
              <li>
                <button class="btn btn-primary"
                  ui-sref="location-album-detail.upload({id: vm.location.id, albumId: vm.album.id})">
                  <span class="glyphicon glyphicon-plus"></span> Photos</span>
                </button>
              </li>
            </ul>
            </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <img src="{{URLS.PROFILE_IMAGE_URL}}{{vm.location.uuid}}" alt="">
      <div class="panel-body">
        <h4>{{vm.location.name}}</h4>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-detail({id: vm.location.id})">Overview</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-attractions({id: vm.location.id})">Attractions</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-activities({id: vm.location.id})">Activities</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-facilities({id: vm.location.id})">Facilities</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-events({id: vm.location.id})">Events</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-locations({id: vm.location.id})">Other Locations</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-properties({id: vm.location.id})">Properties</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-restaurants({id: vm.location.id})">Restaurants</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-galleries({id: vm.location.id})">Gallery</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row" ng-show="!vm.album.mediaItemDTOList">
      <div class="panel panel-default">
        <div class="panel-body">
          No photos found.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="pull-right">
              <a ui-sref="location-album-detail.edit({id:vm.location.id})">
                <h3>
                  <span class="glyphicon glyphicon-pencil"></span>
                </h3>
              </a>
            </div>
            <h3>{{vm.album.name}}</h3>
            <p>{{vm.album.caption}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row" ng-show="vm.album.mediaItemDTOList">
          <div class="col-sm-6 col-md-4" ng-repeat="image in vm.album.mediaItemDTOList | filter:query">
            <div class="thumbnail">
              <a href="http://51.15.199.15:8080/mediaservice/api/media-items/get-file/{{image.uuid}}"
                data-lightbox="image-set" data-title="{{image.caption}}">
                <img class="img-responsive"
                  ng-src="http://51.15.199.15:8080/mediaservice/api/media-items/get-file/{{image.uuid}}" alt="">
              </a>
              <div class="caption">
                {{image.caption}}
                <p>
                  <a ui-sref="location-album-detail.makeCoverImage({imageId: image.id})">
                    <span class="label label-default" ng-hide="image.uuid === vm.album.coverUuid">Make Cover</span>
                  </a>
                  <span class="label label-primary" ng-show="image.uuid === vm.album.coverUuid">Cover Image</span>
                  <a ng-hide="image.uuid === vm.album.coverUuid"
                    ui-sref="location-album-detail.deleteImage({imageId: image.id})">
                    <span class="label label-danger">Delete</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
