<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="col-md-8">
        <ul class="breadcrumb">
          <li ui-sref-active="active">
            <a ui-sref="home">Home</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="locations">Locations</a>
          </li>
          <li ng-show="vm.previousState == 'locations'">
            {{vm.locations[0].parentName}}
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="breadcrumb-btns">
          <ul class="nav nav-pills pull-right">
            <li ui-sref-active="active">
              <button ui-sref="locations-locations.new({parentId : vm.locations[0].parentName})" class="btn btn-sm btn-primary"
                ng-show="vm.previousState == 'locations'">
                <span>
                <span class="glyphicon glyphicon-plus-sign"></span> Location</span>
              </button>
            </li>
            <li ui-sref-active="active">
              <button ui-sref="locations.new" class="btn btn-sm btn-primary" ng-hide="vm.previousState == 'locations'">
                <span>
                <span class="glyphicon glyphicon-plus-sign"></span> Location</span>
              </button>
            </li>
            <li>
              <button type="button" class="btn btn-info btn-sm more" data-toggle="dropdown">... </button>
              <ul class="dropdown-menu pull-right" role="menu">
                <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-operating-hours">Operating Hours</a>
                </li>
                <li permission="['PROPERTY_USER']" ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-meal-plans">Meal Plans</a>
                </li>
                <li permission="['D_AUTHORITY_USER', 'PROPERTY_USER', 'RESTAURANT_USER', 'TRANSPORTER_USER', 'PROFESSIONAL_USER']"
                  ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-age-limits">Age Limits</a>
                </li>
                <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-organization-relationships">Memberships & Associations</a>
                </li>
                <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-documents">My Documents</a>
                </li>
                <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-markets">Markets</a>
                </li>
                <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-seasons">Seasons</a>
                </li>
                <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-day-bands">Day Bands</a>
                </li>
                <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-services">Services</a>
                </li>
                <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-policies">Policies</a>
                </li>
                <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-users">Users</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- filter panel -->
<div class="filter-panel" ng-show="vm.previousState == 'app'">
  <div class="filter-panel-body">
    <form ng-submit="vm.search()">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <p style="margin-left: 20px; margin-top: 10px">Countries</p>
          </div>
        </div>
        <div class="col-md-3 pull-right">
          <form name="searchForm" class="form-inline">
            <div class="input-group pull-right">
              <input type="text" class="form-control" ng-model="query" id="searchQuery" placeholder="search for a country">
              <span class="input-group-btn" style="height: 29px;  ">
                <button class="btn btn-primary btn-md waves-effect waves-light " style="font-size: 12px; line-height: 1.37859"
                  ng-click="vm.search(vm.searchQuery)">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="filter-panel" ng-show="vm.previousState == 'locations'">
  <div class="filter-panel-body">
    <form ng-submit="vm.search()">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-5">
              <span>Explore {{vm.locations[0].parentName}} </span>

            </div>

            <!-- <div class="col-md-3">
              <div class="form-group ">
                <select class="form-control" placeholder="" id="field_typeId" name="typeId" ng-change="vm.locationTypeChange(vm.location.typeId)" ng-model="vm.location.typeId" ng-options="locationType.id as locationType.name for locationType in vm.locationTypes">
                  <option value="">Name</option>
                  <option value=""></option>
                </select>
            </div>
            </div> -->



          </div>


        </div>
        <div class="col-md-6 ">
          <div class="row pull-right">
            <div class="col-md-6">
              <div class="form-group ">
                <select class="form-control" placeholder="" id="field_typeId" name="typeId" ng-change="vm.locationTypeChange(vm.location.typeId, val)"
                  ng-model="vm.location.typeId" ng-options="locationType.id as locationType.name for locationType in vm.genLocations">
                  <option value="">Type of Location</option>
                  <option value=""></option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <form name="searchForm" class="form-inline">
                <div class="input-group pull-right">
                  <input type="text" class="form-control" ng-model="val" ng-change="vm.locationTypeChange(vm.location.typeId,val)"
                    id="searchQuery" placeholder="search for a location">
                  <span class="input-group-btn" style="height: 29px;  ">
                    <button class="btn btn-primary btn-md waves-effect waves-light " style="font-size: 12px; line-height: 1.37859"
                      ng-click="vm.search(vm.searchQuery)">
                      <span class="glyphicon glyphicon-search"></span>
                    </button>
                  </span>
                </div>
                </form>
            </div>


          </div>


    </form>
  </div>
</div>
</form>
</div>
</div>
<!-- end of filter panel  -->
<br />
<div class="row">
  <div id="locationContainer" class="col-sm-6 col-md-3" ng-repeat="location in vm.locations | filter:query">
    <div class="thumbnail locationsCard">
      <img class="imgLocations" ng-src="{{vm.profile_image_url}}{{location.uuid}}" alt="">
      <div class="caption">
        <p class="uppercaseName">{{location.name | uppercase }}</p>

        <p>{{location.typeName | uppercase }}</p>
        <!-- DRAFT, PUBLISHED, UNPUBLISHED, DELETED -->
        <!-- ng-class="location.contentStatus == 'DRAFT'||'UNPUBLISHED'|| 'DELETED' ? 'btn pull-right btn-success' : 'btn pull-right btn-danger'" -->
        <p ng-show="vm.previousState == 'app'">

          <a ui-sref="locations-locations({countryId:location.id})" class="btn btn-primary" role="button">View</a>

          <a ng-class="location.contentStatus == 'PUBLISHED' ? 'btn pull-right btn-success' : 'btn pull-right btn-danger'"
            role="button" ng-click="vm.activate(location)">
            {{location.contentStatus == 'PUBLISHED' ? 'UNPUBLISH' : 'PUBLISH'}}</a>
        </p>
        <p ng-show="vm.previousState == 'locations'">

          <a ui-sref="locations-locations.overview({locationId:location.id, locationType : location.typeId})" class="btn btn-primary"
            role="button">View</a>

          <a ng-class="location.contentStatus == 'PUBLISHED' ? 'btn pull-right btn-success' : 'btn pull-right btn-danger'"
            role="button" ng-click="vm.activate(location)">
            {{location.contentStatus == 'PUBLISHED' ? 'UNPUBLISH' : 'PUBLISH'}}</a>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- pagination -->
<div class="row" ng-hide="vm.whenFiltering">
  <div class="col-md-12 ">
    <div class="text-center saf-pagination">
      <saf-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></saf-item-count>
      <uib-pagination total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()" class="pagination-sm"
        items-per-page="vm.itemsPerPage">
        <uib-pagination>
    </div>
  </div>
</div>
<!-- end of pagination -->
