<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>
    
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myActivityLabel">Add or Edit an Attraction</h4>
      </div>
      <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
          <label class="control-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.attraction.name" required/>
          <div ng-show="editForm.name.$invalid">
            <p class="help-block" ng-show="editForm.name.$error.required">
              This field is required.
            </p>
          </div>
        </div>
        
        <div class="form-group">
            <label for="field_id">Type of Attraction</label>
            <select class="form-control" id="field_id" name="id" 
                ng-model="vm.attraction.generalAttractionId" 
                ng-options="attraction.id as attractionType.name for attractionType in vm.attractionTypes">
                <option value=""></option>
            </select>
        </div>
        
        <div class="form-group">
          <label class="control-label" for="field_brief">Brief</label>
          <textarea class="form-control" name="brief" 
                id="field_brief" ng-model="vm.attraction.brief"></textarea>
          <div ng-show="editForm.brief.$invalid">
            <p class="help-block" ng-show="editForm.brief.$error.maxlength">
              This field cannot be longer than 1000 characters.
            </p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="field_description">Description</label>
          <textarea class="form-control" name="description" 
                id="field_description" ng-model="vm.attraction.description"></textarea>
          <div ng-show="editForm.description.$invalid">
            <p class="help-block" ng-show="editForm.description.$error.maxlength">
              This field cannot be longer than 1000 characters.
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                    </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
                    </button>
      </div>
    </form>