<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="col-md-7">
        <ul class="breadcrumb">
          <li ui-sref-active="active">
            <a ui-sref="home">Home</a>
          </li>
          <li ui-sref-active="active" permission="['MANAGER_USER','T_OPERATOR_USER']">
            <a ui-sref="locations">Locations</a>
          </li>
          <li ui-sref-active="active" permission="['D_AUTHORITY_USER']">
            <a ui-sref="locations-own">Locations</a>
          </li>
          <li ui-sref-active="active" permission="['MANAGER_USER','T_OPERATOR_USER']">
            <a ui-sref="locations-locations.overview({locationId:vm.location.parentId})">{{vm.location.parentName}}</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="locations-locations.overview({locationId: vm.location.id})">{{vm.location.name}}</a>
          </li>
          <li ui-sref-active="active" class="active">Requirements</li>
        </ul>
      </div>
      <div class="col-md-5">
        <div class="breadcrumb-btns">
          <ul class="nav nav-pills">
            <li class="pull-right">
              <button class="btn btn-default btn-sm" ui-sref="location-requirements.new">
                <span class="glyphicon glyphicon-plus-sign"></span>
                <span class="hidden-xs-down">
                   Requirement
                </span>
              </button>
            </li>
            <!-- <li>
                 <div ng-include="'core/routes/settings/settings-menu/settings-navbar.html'"></div>
               </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="image-container">
        <img class="img-responsive" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{vm.location.uuid}}"
          alt="{{ vm.location.name }}">
        <a ui-sref="locations.profile({objectUuid : vm.location.uuid,objectName : vm.location.name })"
          class="icon-choose-image">
          <img src="images/camera.png">
        </a>
      </div>
      <div class="panel-body">
        <h4>{{vm.location.name}}</h4>
      </div>
      <!-- <ul class="nav nav-pills nav-stacked">
            <li ui-sref-active="active" role="presentation">
              <a ui-sref="locations-locations.overview({locationId: vm.location.id})">Overview</a>
            </li>
            <li ui-sref-active="active" role="presentation">
              <a ui-sref="locations-locations.detail({locationId: vm.location.id})">Properties</a>
            </li>
            <li ui-sref-active="active" role="presentation">
              <a ui-sref="locations-locations.restaurants({locationId: vm.location.id})">Restaurants</a>
            </li>
            <li ui-sref-active="active" role="presentation">
              <a ui-sref="locations-locations.galleries({locationId: vm.location.id})">Gallery</a>
            </li>
          </ul> -->
      <div ng-include="'core/routes/locations/locations-menu.html'"></div>

    </div>
  </div>
  <div class="col-md-9">
    <div ng-include="'core/routes/requirements/requirements.html'"></div>
  </div>
</div>