<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="col-md-8">
        <ul class="breadcrumb">
          <li ui-sref-active="active">
            <a ui-sref="home">Home</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="locations-own">Locations</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="location-detail({id: vm.location.id})">{{vm.location.name}}</a>
          </li>
          <li ui-sref-active="active" class="active">Events</li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="breadcrumb-btns">
          <ul class="nav nav-pills pull-right">
            <li>
              <button type="button" class="btn btn-primary btn-sm" ui-sref="location-events.new">
                <span class="glyphicon glyphicon-plus"></span> Event</button>
            </li>
            <li>
              <button permission="['PROPERTY_USER']" type="button" ui-sref="home.gettingStarted"
                class="btn btn-default btn-sm more dropdown-toggle">
                Getting Started
              </button>
            </li>
            <li>
              <button type="button" class="btn btn-info btn-sm more" data-toggle="dropdown">... </button>
              <ul class="dropdown-menu pull-right" role="menu">
                <li>
                  <a ui-sref="settings">More actions</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <img src="{{URLS.PROFILE_IMAGE_URL}}{{vm.location.uuid}}" alt="">
      <div class="panel-body">
        <h4>{{vm.location.name}}</h4>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-detail({id: vm.location.id})">Overview</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-attractions({id: vm.location.id})">Attractions</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-activities({id: vm.location.id})">Activities</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-facilities({id: vm.location.id})">Facilities</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-events({id: vm.location.id})">Events</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-locations({id: vm.location.id})">Other Locations</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-properties({id: vm.location.id})">Properties</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-restaurants({id: vm.location.id})">Restaurants</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-galleries({id: vm.location.id})">Gallery</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-9" ng-hide="vm.displayEvents">
    <div class="panel panel-default">
      <div class="panel-body">
        No records found.
      </div>
    </div>
  </div>

  <div class="col-md-9" ng-show="vm.displayEvents">
    <div class="row" ng-repeat="event in vm.events track by event.id">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body" style="padding-top: 10;">
            <div class="row">
              <div class="col-md-4">

                <div class="image-container">
                  <img class="img-responsive" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{event.uuid}}"
                    alt="{{ attraction.name }}">
                  <a ui-sref="programme-itinerary.profile-service-group({objectUuid : event.uuid,objectName : event.name })"
                    class="icon-choose-image">
                    <img src="images/camera.png" style="padding-top: 40px;">
                  </a>
                </div>
              </div>
              <div class="col-md-8">
                <p>{{ activity.name }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
  <div class="col-md-9" ng-show="vm.displayEvents">
    <div class="row">
      <div class="col-sm-6 col-md-4" ng-repeat="event in vm.events">
        <div class="thumbnail">
          <img src="{{URLS.PROFILE_IMAGE_URL}}{{event.evntInstanceDTO.uuid}}" alt="">
          <div class="caption">
            <h5>{{event.evntInstanceDTO.name}}</h5>
            <p>{{event.evntInstanceDTO.brief}}</p>
            <p>
              Start:
              <span class="label label-default">{{event.evntInstanceDTO.startTime | date:'medium'}}</spanh1>
            </p>
            <p>
              End :
              <span class="label label-default">{{event.evntInstanceDTO.endTime | date:'medium'}}</span>
            </p>
            <p>
              <a href="#" class="btn btn-primary" role="button"
                ui-sref="event-detail({id: event.evntInstanceDTO.id, fullId: event.evntDTO.id})">View</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
