<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="col-md-8">
        <ul class="breadcrumb">
          <li ui-sref-active="active">
            <a ui-sref="home">Home</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="locations">Locations</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="locations-locations.overview({locationId:vm.location.parentId})">{{vm.location.parentName}}</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="locations-locations.detail({locationId: vm.location.id})">{{vm.location.name}}</a>
          </li>
          <li ui-sref-active="active" class="active">Properties</li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="breadcrumb-btns">
          <ul class="nav nav-pills pull-right">
            <li ui-sref-active="active">
              <button ui-sref="locations-locations.new({parentId : vm.locations[0].parentName})"
                class="btn btn-sm btn-primary" style="margin-right: 10px; float:right;"
                ng-show="vm.previousState == 'locations'">
                <span class="glyphicon glyphicon-plus-sign"></span> Attraction</span>
              </button>
            </li>
            <li ui-sref-active="active">
              <button permission="['PROPERTY_USER']" ui-sref="home.gettingStarted" class="btn btn-sm btn-primary">
                <span class="glyphicon glyphicon-plus-sign"></span> Getting Started</span>
              </button>
            </li>
            <li>
              <button type="button" class="btn btn-info btn-sm more" data-toggle="dropdown">... </button>
              <ul class="dropdown-menu pull-right" role="menu">
                <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-operating-hours">Operating Hours</a>
                </li>
                <li permission="['PROPERTY_USER']" ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-meal-plans">Meal Plans</a>
                </li>
                <li
                  permission="['D_AUTHORITY_USER', 'PROPERTY_USER', 'RESTAURANT_USER', 'TRANSPORTER_USER', 'PROFESSIONAL_USER']"
                  ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-age-limits">Age Limits</a>
                </li>
                <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-organization-relationships">Memberships & Associations</a>
                </li>
                <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-documents">My Documents</a>
                </li>
                <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-markets">Markets</a>
                </li>
                <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-seasons">Seasons</a>
                </li>
                <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-day-bands">Day Bands</a>
                </li>
                <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-services">Services</a>
                </li>
                <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-policies">Policies</a>
                </li>
                <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-users">Users</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <img src="{{URLS.PROFILE_IMAGE_URL}}{{vm.location.uuid}}" alt="">
      <div class="panel-body">
        <h4>{{vm.location.name}}</h4>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="locations-locations.overview({locationId: vm.location.id})">Overview</a>
        </li>
        <!-- <li ui-sref-active="active" role="presentation">
         s <a ui-sref="location-attractions({id: vm.location.id})">Attractions</a>
        </li> -->
        <!-- <li ui-sref-active="active" role="presentation">
          <a ui-sref="locations-locations.activities({locationId: vm.location.id})">Activities</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="locations-locations.facilities({locationId: vm.location.id})">Facilities</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="locations-locations.events({locationId: vm.location.id})">Events</a>
        </li> -->
        <!-- <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-locations({id: vm.location.id})">Other Locations</a>
        </li> -->
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="locations-locations.detail({locationId: vm.location.id})">Properties</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="locations-locations.restaurants({locationId: vm.location.id})">Restaurants</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="locations-locations.galleries({locationId: vm.location.id})">Gallery</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-9" ng-hide="vm.organizations.length > 0">
    <div class="panel panel-default">
      <div class="panel-body">
        No records found.
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row" ng-repeat="attraction in vm.organizations track by attraction.id">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-4">

                <div class="image-container">
                  <img class="img-responsive" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{attraction.uuid}}"
                    alt="{{ attraction.name }}">
                  <a ui-sref="location-attractions.profile({objectUuid : attraction.uuid,objectName : attraction.name})"
                    class="icon-choose-image">
                    <img src="images/camera.png">
                  </a>
                </div>
              </div>
              <div class="col-md-8">
                <div class="pull-right">
                  <a ui-sref="location-attractions.edit({attractionId:attraction.id})">
                    <h3>
                      <span class="glyphicon glyphicon-pencil"></span>
                    </h3>
                  </a>
                </div>

                <h3>{{attraction.name}}</h3>
                <p>{{attraction.brief}}</p>
                <p>{{attraction.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>
</div>
