<ul class="nav nav-pills nav-stacked">
  <li ui-sref-active="active" role="presentation">
    <a
      ui-sref="locations-locations.overview({locationId: stateObject.locationId,locationType :stateObject.locationType})">Overview</a>
  </li>
  <li ui-sref-active="active" role="presentation">
      <a ui-sref="location-requirements({locationId: stateObject.locationId ,locationType :stateObject.locationType})">Requirements</a>
    </li>
  <li ui-sref-active="active" role="presentation" ng-hide="{{stateObject.locationType == 10}}">
    <a
      ui-sref="locations-locations.detail({locationId: stateObject.locationId ,locationType :stateObject.locationType})">Properties</a>
  </li>
  <li ui-sref-active="active" role="presentation" ng-hide="{{stateObject.locationType == 11}} ">
    <a
      ui-sref="locations-locations.restaurants({locationId: stateObject.locationId ,locationType :stateObject.locationType})">Restaurants</a>
  </li>
  <li ui-sref-active="active" role="presentation">
    <a
      ui-sref="locations-locations.others({locationId: stateObject.locationId ,locationType :stateObject.locationType})">Locations
      Inside
    </a>
  </li>
  <li ui-sref-active="active" role="presentation">
    <a
      ui-sref="locations-locations.galleries({locationId: vm.location.id ,locationType :stateObject.locationType})">Gallery</a>
  </li>
  
</ul>
<!--
  <li ui-sref-active="active" role="presentation">
    <a ui-sref="locations-attractions({locationId: vm.location.id ,locationType :stateObject.locationType})">Attractions</a>
  </li>

  <li ui-sref-active="active" role="presentation">
    <a ui-sref="locations-facilities({locationId: vm.location.id ,locationType :stateObject.locationType})">Facilities</a>
  </li>
  <li ui-sref-active="active" role="presentation">
    <a ui-sref="locations-restaurants({locationId: vm.location.id ,locationType :stateObject.locationType})">Activities</a>
  </li>

  <li ui-sref-active="active" role="presentation">
    <a ui-sref="locations-events({locationId: vm.location.id ,locationType :stateObject.locationType})">Events</a>
  </li>
  <li ui-sref-active="active" role="presentation" ng-show="{{stateObject.locationType  == 9 || stateObject.locationType == 10 || stateObject.locationType == 11}}" >
    <a ui-sref="locations-roomCategories({locationId: vm.location.id ,locationType :stateObject.locationType})">Room Categories</a>
  </li>
  <li ui-sref-active="active" role="presentation" ng-show="{{stateObject.locationType == 9 || stateObject.locationType == 10 || stateObject.locationType  == 11}}">
    <a ui-sref="locations-menus({locationId: vm.location.id ,locationType :stateObject.locationType})">Menus</a>
  </li> -->