<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="col-md-8">
        <ul class="breadcrumb">
          <li ui-sref-active="active">
            <a ui-sref="home">Home</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="locations-own">Locations</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="location-detail({id: vm.location.id})">{{vm.location.name}}</a>
          </li>
          <li ui-sref-active="active" class="active">Facilities</li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="breadcrumb-btns">
          <ul class="nav nav-pills pull-right">
            <li>
              <button type="button" class="btn btn-primary btn-sm" ui-sref="location-events.new">
                <span class="glyphicon glyphicon-plus"></span> Facility</button>
            </li>
            <li>
              <button permission="['PROPERTY_USER']" type="button" ui-sref="home.gettingStarted"
                class="btn btn-default btn-sm more dropdown-toggle">
                Getting Started
              </button>
            </li>
            <li>
              <button type="button" class="btn btn-info btn-sm more" data-toggle="dropdown">... </button>
              <ul class="dropdown-menu pull-right" role="menu">
                <li>
                  <a ui-sref="settings">More actions</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <img src="{{URLS.PROFILE_IMAGE_URL}}{{vm.location.uuid}}" alt="">
      <div class="panel-body">
        <h4>{{vm.location.name}}</h4>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-detail({id: vm.location.id})">Overview</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-attractions({id: vm.location.id})">Attractions</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-activities({id: vm.location.id})">Activities</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-facilities({id: vm.location.id})">Facilities</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-events({id: vm.location.id})">Events</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-locations({id: vm.location.id})">Other Locations</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-properties({id: vm.location.id})">Properties</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-restaurants({id: vm.location.id})">Restaurants</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-galleries({id: vm.location.id})">Gallery</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-9" ng-hide="vm.displayFacilities">
    <div class="panel panel-default">
      <div class="panel-body">
        No records found.
      </div>
    </div>
  </div>

  <div class="col-md-9" ng-show="vm.displayFacilities">
    <div class="row" ng-repeat="facility in vm.facilities track by facility.id">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body" style="padding-top: 10;">
            <div class="row">
              <div class="col-md-4">

                <div class="image-container">
                  <img class="img-responsive" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{facility.uuid}}"
                    alt="{{ facility.name }}">
                  <a ui-sref="location-facilities.profile({objectUuid : facility.uuid,objectName : facility.name})"
                    class="icon-choose-image">
                    <img src="images/camera.png">
                  </a>
                </div>
              </div>
              <div class="col-md-8">
                <div class="pull-right">
                  <a ui-sref="location-facilities.edit({facilityId:facility.id})">
                    <h3>
                      <span class="glyphicon glyphicon-pencil"></span>
                    </h3>
                  </a>
                </div>
                <h3>{{facility.name}}</h3>
                <p>{{facility.brief}}</p>
                <p>{{facility.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>
