<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="col-md-8">
        <ul class="breadcrumb">
          <li ui-sref-active="active">
            <a ui-sref="home">Home</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="locations-own">Locations</a>
          </li>
          <li ui-sref-active="active"><a ui-sref="location-detail({id: vm.location.id})">{{vm.location.name}}</a></li>
          <li ui-sref-active="active" class="active">Activities</li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="breadcrumb-btns">
          <ul class="nav nav-pills pull-right">
            <li ui-sref-active="active">
              <button ui-sref="location-activities.new" class="btn btn-sm btn-primary"
                style="margin-right: 10px; float:right;">
                <span class="glyphicon glyphicon-plus-sign"></span> Activity</span>
              </button>
            </li>
            <li ui-sref-active="active">
              <button permission="['PROPERTY_USER']" type="button" ui-sref="home.gettingStarted"
                class="btn btn-default btn-xs more dropdown-toggle" style="margin-top: 8px;">
                Getting Started
              </button>
            </li>
            <li>
              <button type="button" class="btn btn-info btn-sm more" data-toggle="dropdown">... </button>
              <ul class="dropdown-menu pull-right" role="menu">
                <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-operating-hours">Operating Hours</a>
                </li>
                <li permission="['PROPERTY_USER']" ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-meal-plans">Meal Plans</a>
                </li>
                <li
                  permission="['D_AUTHORITY_USER', 'PROPERTY_USER', 'RESTAURANT_USER', 'TRANSPORTER_USER', 'PROFESSIONAL_USER']"
                  ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-age-limits">Age Limits</a>
                </li>
                <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-organization-relationships">Memberships & Associations</a>
                </li>
                <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-documents">My Documents</a>
                </li>
                <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-markets">Markets</a>
                </li>
                <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-seasons">Seasons</a>
                </li>
                <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-day-bands">Day Bands</a>
                </li>
                <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-services">Services</a>
                </li>
                <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-policies">Policies</a>
                </li>
                <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                  <a ui-sref="settings-users">Users</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <img src="{{URLS.PROFILE_IMAGE_URL}}{{vm.location.uuid}}" alt="">
      <div class="panel-body">
        <h4>{{vm.location.name}}</h4>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-detail({id: vm.location.id})">Overview</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-attractions({id: vm.location.id})">Attractions</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-activities({id: vm.location.id})">Activities</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-facilities({id: vm.location.id})">Facilities</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-events({id: vm.location.id})">Events</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-locations({id: vm.location.id})">Other Locations</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-properties({id: vm.location.id})">Properties</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-restaurants({id: vm.location.id})">Restaurants</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="location-galleries({id: vm.location.id})">Gallery</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-9" ng-hide="vm.displayActivities">
    <div class="panel panel-default">
      <div class="panel-body">
        No records found.
      </div>
    </div>
  </div>

  <div class="col-md-9" ng-show="vm.displayActivities">
    <div class="row" ng-repeat="activity in vm.activities track by activity.id">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body" style="padding-top: 10;">
            <div class="row">
              <div class="col-md-4">

                <div class="image-container">
                  <img class="img-responsive" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{activity.uuid}}"
                    alt="{{ activity.name }}">
                  <a ui-sref="location-activities.profile({objectUuid : activity.uuid,objectName : activity.name})"
                    class="icon-choose-image">
                    <img src="images/camera.png">
                  </a>
                </div>
              </div>
              <div class="col-md-8">
                <div class="pull-right">
                  <a ui-sref="location-activities.edit({activityId:activity.id})">
                    <h3>
                      <span class="glyphicon glyphicon-pencil"></span>
                    </h3>
                  </a>
                </div>
                <h3>{{activity.name}}</h3>
                <p>{{activity.brief}}</p>
                <p>{{activity.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>
