<div ng-cloak>
  <div class="row">
    <div class="container">
      <div class="col-md-12 breadcrumb-white-bg">
        <div class="col-md-8">
            <!-- <ul class="breadcrumb">
                <li ui-sref-active="active">
                  <a ui-sref="home">Home</a>
                </li>
                <li ui-sref-active="active" permission="['MANAGER_USER','T_OPERATOR_USER']">
                  <a ui-sref="locations">Locations</a>
                </li>
                <li ui-sref-active="active" permission="['D_AUTHORITY_USER']">
                  <a ui-sref="locations-own">Locations</a>
                </li>
                <li ui-sref-active="active" permission="['MANAGER_USER','T_OPERATOR_USER']">
                  <a ui-sref="locations-locations.overview({locationId:vm.location.parentId})">{{vm.location.parentName}}p</a>
                </li>
                <li ui-sref-active="active">
                  <a ui-sref="locations-locations.overview({locationId: vm.location.id})">{{vm.location.name}}</a>
                </li>
                <li ui-sref-active="active" class="active">Gallery</li>
              </ul> -->
              <ul class="breadcrumb">
                  <li ui-sref-active="active">
                    <a ui-sref="home">Home</a>
                  </li>
                  <li ui-sref-active="active" permission="['MANAGER_USER','T_OPERATOR_USER']">
                    <a ui-sref="locations">Locations</a>
                  </li>
                  <li ui-sref-active="active" permission="['D_AUTHORITY_USER']">
                    <a ui-sref="locations-own">Locations</a>
                  </li>
                  <li ui-sref-active="active" permission="['MANAGER_USER','T_OPERATOR_USER']">
                    <a ui-sref="locations-locations.overview({locationId:vm.location.parentId})">{{vm.location.parentName}}</a>
                  </li>
                  <li ui-sref-active="active">
                    <a ui-sref="locations-locations.overview({locationId: vm.location.id})">{{vm.location.name}}</a>
                  </li>
                  <li ui-sref-active="active" class="active">Gallery</li>
                </ul>
            </div>
        <div class="col-md-4">
          <div class="breadcrumb-btns">
            <ul class="nav nav-pills pull-right">
              <li>
                <button type="button" class="btn btn-primary btn-sm"
                  ui-sref="location-galleries.new({id: vm.location.id})">
                  <span class="glyphicon glyphicon-plus"></span> Album</button>
              </li>
              <li>
                <button permission="['PROPERTY_USER']" type="button" ui-sref="home.gettingStarted"
                  class="btn btn-default btn-sm more dropdown-toggle">
                  Getting Started
                </button>
              </li>
              <li>
                <button type="button" class="btn btn-info btn-sm more" data-toggle="dropdown">... </button>
                <ul class="dropdown-menu pull-right" role="menu">
                  <li>
                    <a ui-sref="settings">More actions</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <img src="{{URLS.PROFILE_IMAGE_URL}}{{vm.location.uuid}}" alt="">
      <div class="panel-body">
        <h4>{{vm.location.name}}</h4>
      </div>
      <!-- <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="locations-locations.overview({locationId: vm.location.id})">Overview</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="locations-locations.detail({locationId: vm.location.id})">Properties</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="locations-locations.restaurants({locationId: vm.location.id})">Restaurants</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="locations-locations.galleries({locationId: vm.location.id})">Gallery</a>
        </li>
      </ul> -->
      <div ng-include="'core/routes/locations/locations-menu.html'"></div>

    </div>
  </div>

  <div class="col-md-9">
    <div class="row" ng-show="!vm.albums">
      <div class="panel panel-default">
        <div class="panel-body">
          No albums found.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row" ng-show="vm.albums">
          <div class="col-sm-6 col-md-4" ng-repeat="album in vm.albums | filter:query"
            ng-hide="album.albumType == 'ICON'">
            <div class="thumbnail">
              <img ng-src="{{vm.image_url}}{{album.coverUuid}}" alt="{{album.name}}">
              <div class="caption">
                <p>{{album.name}}</p>
                <p>
                  <a class="btn btn-primary" role="button"
                    ui-sref="location-album-detail({id: vm.location.id, albumId: album.id})">View</a>
                  <a class="btn btn-danger pull-right" role="button"
                    ui-sref="location-galleries.delete({albumId: album.id})"
                    ng-hide="album.albumType == 'PROFILE'">Delete</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
