<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myLocationLabel" ng-show="vm.location.id">Edit a Location</h4>
    <h4 class="modal-title" id="myLocationLabel" ng-show="vm.location.id == null">Add a Location</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
          <label class="control-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.location.name" required/>
          <div ng-show="editForm.name.$invalid">
            <p class="help-block" ng-show="editForm.name.$error.required">
              This field is required.
            </p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="field_abbreviation">Abbreviation</label>
          <input type="text" class="form-control" name="abbreviation" id="field_abbreviation" ng-model="vm.location.abbreviation" required/>
          <div ng-show="editForm.abbreviation.$invalid">
            <p class="help-block" ng-show="editForm.abbreviation.$error.required">
              This field is required.
            </p>
          </div>
        </div>
        <div class="form-group">
          <label for="field_typeId">Type of Location</label>
          <select class="form-control" id="field_typeId" name="typeId" ng-change="vm.locationTypeChange(vm.location.typeId)" ng-model="vm.location.typeId" ng-options="locationType.id as locationType.name for locationType in vm.locationTypes">
            <option value=""></option>
          </select>
        </div>
        <!-- <div class="form-group" ng-show="vm.setParentVisible">
          <label for="field_parentId">Manager{{vm.location.parentId}}</label>
          <select class="form-control" id="field_parentId" name="parentId" ng-model="vm.location.managerId" ng-options="lctn.id as lctn.name + ' ('+ lctn.abbreviation+')' for lctn in vm.tempParentLocations">
            <option value=""></option>
          </select>
        </div> -->
        <div class="form-group"  ng-show="vm.setParentVisible">
            <label class="filter-col" style="margin-right:0;" for="pref-search">Parent Location:</label>

            <input type="text" ng-model="vm.location.parentName" placeholder="Location Name" uib-typeahead="loc.name for loc in vm.getLocation($viewValue)"
              typeahead-loading="loadingLocations" typeahead-no-results="noStartResults" typeahead-on-select="vm.onLocationSelected($item, $model)"
              class="form-control">
            <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
            <div ng-show="noStartResults">
              <i class="glyphicon glyphicon-remove"></i> No Results Found
            </div>
          </div>


          <div class="form-group"  ng-show="vm.setParentVisible">
            <label class="filter-col" style="margin-right:0;" for="pref-search">Manager Location:</label>
            <input type="text" ng-model="vm.location.managerName" placeholder="Location Name" uib-typeahead="loc.name for loc in vm.getOrganization($viewValue)"
              typeahead-loading="loadingLocations" typeahead-no-results="noStartResults" typeahead-on-select="vm.onLocationManagerSelected($item, $model)"
              class="form-control">
            <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
            <div ng-show="noStartResults">
              <i class="glyphicon glyphicon-remove"></i> No Results Found
            </div>
          </div>
        <div class="form-group">
          <label class="control-label" for="field_brief">Brief</label>
          <textarea class="form-control" name="brief" id="field_brief" ng-model="vm.location.brief" maxlength="200"></textarea>
          <div ng-show="editForm.brief.$invalid">
            <p class="help-block" ng-show="editForm.brief.$error.maxlength">
              This field cannot be longer than 1000 characters.
            </p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="field_description">Description</label>
          <textarea class="form-control" name="description" id="field_description" ng-model="vm.location.description"></textarea>
          <div ng-show="editForm.description.$invalid">
            <p class="help-block" ng-show="editForm.description.$error.maxlength">
              This field cannot be longer than 1000 characters.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <p><strong>Place the pointer on the exact locations</strong></p>
        <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{vm.googleMapsUrl}}">
          <ng-map center="{{vm.latlng}}" zoom="7" on-click="vm.getpos($event)">
            <marker position="{{vm.latlng}}" on-dragend="vm.getpos($event)" animation="Animation.BOUNCE" animation="DROP" draggable="true"></marker>
          </ng-map>
        </div>
        {{vm.latlng}}
      </div>
      <!-- <div class="col-md-6" ng-show="stateObject.locationType > 0" >
        <p><strong>Place the pointer on the exact location.</strong></p>
        <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{vm.googleMapsUrl}}">
          <ng-map center="{{vm.location.coordinates[0].latitude}},{{vm.location.coordinates[0].longitude}}" zoom="7" on-click="vm.getpos($event)">
            <marker position="{{vm.location.coordinates[0].latitude}},{{vm.location.coordinates[0].longitude}}" on-dragend="vm.getpos($event)" animation="Animation.BOUNCE" animation="DROP" draggable="true"></marker>
          </ng-map>
        </div>
        {{vm.latlng}}
      </div> -->
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
                </button>
  </div>
</form>
