<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myOperatingHoursLabel">Add Features</h4>
  </div>
  <div class="modal-body">
    <div ng-repeat="feature in vm.features" ng-hide="vm.noFeaturesFound">
      <div class="form-group">
        <span>
          <div class="checkbox-inline" style="padding-top: 5px;" ng-hide="vm.checkIfExists(feature.name)">
            <label>
              <input type="checkbox" id="{{feature.id}}" value="{{feature.id}}" ng-checked="vm.selectedFeatures.indexOf(feature) > -1"
                ng-click="vm.toggleSelection(feature)"> {{feature.name}}
            </label>
          </div>
        </span>
      </div>
    </div>


    <div ng-show="vm.noFeaturesFound">
      <p>No Features applicable.</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
      <span>Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary" ng-hide="vm.noFeaturesFound">
      <span class="glyphicon glyphicon-save"></span>&nbsp;
      <span>Save</span>
    </button>
  </div>
</form>
