<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;
    </button>
    <h4 class="modal-title" id="myOperatingHoursLabel">Add a new Season</h4>
  </div>

  <div class="modal-body">

    <jhi-alert-error></jhi-alert-error>
    <div class="row">

      <div class="col-md-5">
        <div class="form-group">
          <div class="col-md-3" style="margin-top: 10px;">
            <label for="field_year">For Year: </label>
          </div>
          <div class="col-md-9">
            <select class="form-control" id="field_year" name="year" ng-model="vm.entity.year"
              ng-options="obj as obj for obj in vm.years" ng-change="vm.onYearChange(vm.entity.year)">
              <option>{{obj}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <div class="col-md-3" style="margin: 10px 0px;">
            <label class="control-label" for="field_name">Name:</label>
          </div>
          <div class="col-md-9">
            <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.entity.name" />
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <button ng-click="vm.addSeason()" type="button" class="btn btn-primary btn-sm pull-left">
          <span class="glyphicon glyphicon-plus-sign"> Season</span>
        </button>
      </div>
    </div>

    <div class="row">
      <div ui-sortable="vm.sortableOptions" ng-model="vm.entity.seasons" class="vm.entity.seasons">

        <div ng-repeat="season in vm.entity.seasons">
          <hr>
          <div class="col-md-12">


          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label" for="field_year">Season Name</label>
            </div>
            <div class="form-group">
              <input class="form-control" ng-model="season.name" type="text" placeholder="e.g High Season" />
            </div>
          </div>

          <div class="col-md-8">
            <div class="form-group">
              <label class="control-label col-md-5" for="field_year">From Date</label>
              <label class="control-label col-md-5" for="field_year">To Date</label>
              <div class="col-md-2">
                <button type="button" ng-click="vm.addSeasonBandDTO($index, season)" class="btn btn-primary btn-sm"
                  style="margin-bottom: 5px">
                  <span class="glyphicon glyphicon-plus"> Dates</span>
                </button>
              </div>
            </div>

            <div ng-repeat="band in season.seasonBandDTOList">
              <div class="form-group" style="margin-top: 37px">
                <div class="col-md-5">
                  <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="band.fromDate"
                      is-open="band.openedFrom" placeholder="Start Date" close-text="Close"
                      ng-click="vm.openFrom($index, band)" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="vm.openFrom($index, band)">
                        <i class="glyphicon glyphicon-calendar"></i>
                      </button>
                    </span>
                  </div>
                </div>

                <div class="col-md-5">
                  <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="band.toDate"
                      is-open="band.openedTo" placeholder="End Date" close-text="Close"
                      ng-click="vm.openTo($index,band)" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="vm.openTo($index,band)">
                        <i class="glyphicon glyphicon-calendar"></i>
                      </button>
                    </span>
                  </div>
                </div>
                <div class="col-md-2">
                  <button class="btn btn-danger btn-sm" type="button"
                    ng-click="vm.removeBand($index,band, season)"><span class="glyphicon glyphicon-trash"></span>
                  </button>
                </div>
              </div>
              <!-- <hr /> -->
            </div>
          </div>
          <hr>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
      <span>Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;
      <span>Save</span>
    </button>
  </div>
</form>
