<!-- breadcrumb -->
<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="settings">Settings</a>
            </li>
            <li ui-sref-active="active">Seasons</li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="breadcrumb-btns">
            <ul class="nav nav-pills pull-right">
              <li>
                <button class="btn btn-default btn-sm" ui-sref="settings-seasons.new">
                  <span class="glyphicon glyphicon-plus"></span>
                  <span class="hidden-xs-down">
                    Seasons
                  </span>
                </button>
              </li>
              <li>
                <div ng-include="'core/routes/settings/settings-menu/settings-navbar.html'"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <!-- <img class="img-responsive" ng-src="{{vm.profile_image_url}}" alt="{{ vm.account.name }}"> -->
      <div ng-include="'core/routes/settings/settings-menu/settings-menu.html'"></div>
    </div>
  </div>

  <div class="col-md-9" ng-hide="vm.entities.length == 0">

    <div class="filter-panel ">
      <div class="filter-panel-body">
        <form>
          <div class="row">
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-3 pull-right">
                  <select class="form-control" id="field_year" name="year" ng-model="vm.year"
                    ng-options="obj as obj for obj in vm.years" ng-change="vm.search()">
                    <option>{{obj}}</option>
                    <option value="" selected disabled hidden>Select a year</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-3 pull-right">
              <p class="input-group" style="margin: 0px 0px;">
                <input type="text" class="form-control" placeholder="Season Group" id="BatchSearchText"
                  ng-model="query" />
                <span class="input-group-btn" style="height: 29px;">
                  <button class="btn btn-primary btn-md waves-effect waves-light "
                    style="font-size: 12px; line-height: 1.37859" type="submit">Go</button>
                </span>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
  <div class="col-md-9" ng-show="vm.entities.length == 0">
    <div class="panel panel-default">
      <div class="panel-body">
        No records found.
      </div>
    </div>
  </div>

  <div class="col-md-9" ng-show="vm.entities.length != 0">
    <div class="panel panel-default" ng-repeat="entity in vm.entities track by entity.id">
      <div class="panel-heading">
        <h3 class="panel-title">{{entity.name}} -
          <small>{{entity.description}}</small>
          <a class="pull-right" ui-sref="settings-seasons.editGroup({ id: entity.id })">


            <span class="glyphicon glyphicon-pencil"></span>

          </a>
        </h3>
      </div>
      <div class="panel-body">
        <div class="row" ng-repeat="season in entity.seasons track by $index">
          <div class="col-md-2">
            <strong>{{season.name}}</strong>
          </div>
          <div class="col-md-10">
            <ul>
              <li ng-repeat="band in season.seasonBandDTOList">
                From:
                <strong>{{band.fromDate}}</strong> - To:
                <strong>{{band.toDate}}</strong> -
                <span class="label label-danger" ng-click="vm.deleteBand(band.id, season, entity, $index)"
                  style="cursor: pointer;">
                  <strong>X</strong>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <button class="btn btn-danger btn-md pull-right" style="margin-right: 20px;" type="button"
            ui-sref="settings-seasons.deleteGroup({ id: entity.id })">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </div>

      </div>
    </div>
    <!-- End Panel -->
    <!-- pagination -->
    <div class="row">
      <div class="col-md-12 ">
        <div class="text-center saf-pagination">
          <saf-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></saf-item-count>
          <uib-pagination total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"
            class="pagination-sm" items-per-page="vm.itemsPerPage">
            <uib-pagination>
        </div>
      </div>
    </div>
    <!-- end of pagination -->

  </div>
  <!-- end col-md-9 with entities -->
</div>
