<div class="modal-dialog modal-lg" role="document">
  <form class="form-signin">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Configure Accommodation</h4>
      </div>
      <div class="modal-body">
        <div class="row">

          <div class="col-sm-8">
            <h4>Accommodation Configurations
              <small>you can organize the team of
                <strong>{{vm.safari.travellerGroup.pax || 0}} PAX</strong> into groups </small>
            </h4>
          </div>

          <div class="col-sm-4">
            <div class="pull-right">
              <label class="control-label" for="field_startDate">Groups
                <small style="color: #202124; font-weight: 400;">no of groups</small>
              </label>
              <input type="number" class="form-control" placeholder="e.g. 1"
                ng-change="vm.expandSafariServiceGroups(vm.safari.serviceConfigsMap['ACCOMMODATION'])"
                ng-model="vm.safari.serviceConfigsMap['ACCOMMODATION'].numOfGroups" />
            </div>
          </div>
        </div>

        <div class="alert alert-warning col-md-12"
          ng-hide="vm.validGroupObjectsTotal(vm.safari.serviceConfigsMap['ACCOMMODATION'])">
          <strong>Warning!</strong> Total number of people in all groups NOT adding up to the expected
          {{vm.safari.serviceConfigsMap['ACCOMMODATION'].numOfObjects}}.
          Please check.
        </div>

        <!-- group loop -->
        <div ng-repeat="record in vm.safari.serviceConfigsMap['ACCOMMODATION'].safariServiceGroups">
          <h4>{{record.name}}</h4>

          <div class="alert alert-warning col-md-12" ng-hide="vm.validUnitObjectsTotal(record)">
            <strong>Warning!</strong> Total number of people in all rooms NOT adding up to the expected
            {{record.numOfObjects}}.
            Please check.
          </div>

          <!-- service info -->
          <div class="row">
            <div class="form-group col-md-2" id="inputfit">
              <label class="control-label" for="field_startDate">Name</label>
              <input type="text" class="form-control" placeholder="e.g. Group 1" ng-model="record.name" />
            </div>
            <div class="form-group col-md-2" id="inputfit">
              <label class="control-label" for="field_startDate">Service Category</label>
              <input type="text" class="form-control" placeholder="e.g. ACCOMMODATION"
                ng-model="record.generalServiceId" />
            </div>
            <div class="form-group col-md-2" id="inputfit">
              <label class="control-label" for="field_startDate"># of {{record.unitsName}}</label>
              <input type="number" class="form-control" placeholder="e.g. 2" ng-model="record.numOfUnits"
                ng-change="vm.expandUnits(record, 'ROOM')" />
            </div>
            <div class="form-group col-md-2" id="inputfit">
              <label class="control-label" for="field_startDate"># of People</label>
              <input type="number" class="form-control" placeholder="e.g. 2" ng-model="record.numOfObjects" />
            </div>
            <div class="form-group col-md-2" id="inputfit">
              <label class="control-label" for="field_startDate">Supplier</label>
              <input type="text" class="form-control" placeholder="e.g. Sarova Panafric" ng-model="record.supplierId" />
            </div>
            <div class="form-group col-md-2" id="inputfit">
              <label class="control-label" for="field_startDate">Issuer (Contractor)</label>
              <input type="text" class="form-control" placeholder="e.g. Sarova Hotels" ng-model="record.issuerId" />
            </div>
          </div>
          <!-- end of service info -->

          <!-- repeat per row -->
          <div class="row" ng-repeat="unit in record.units">
            <div class="form-group col-md-2" id="inputfit">
              <label class="control-label" for="field_startDate">Room Configs</label>
              <p>{{unit.name}}</p>
            </div>

            <div class="form-group col-md-2" id="inputfit">
              <label class="control-label" for="field_startDate"># of Beds</label>
              <input type="number" class="form-control" placeholder="e.g. 1" ng-model="unit.numOfSlots" />
            </div>

            <div class="form-group col-md-2" id="inputfit">
              <label class="control-label" for="field_startDate"># of People</label>
              <input type="number" class="form-control" placeholder="e.g. 2" ng-model="unit.numOfObjects" />
            </div>

            <div class="form-group col-md-2" id="inputfit">
              <label for="field_year">Allocation</label>
              <select class="form-control" id="field_year" name="allocationMode" placeholder="e.g. AUTO"
                ng-model="unit.allocationMode">
                <option value="AUTO">AUTO</option>
                <!-- <option value="MANUAL">MANUAL</option> -->
              </select>
            </div>

          </div>

        </div>
        <!-- end group loop -->

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default"
          ng-click="vm.generateAccommodationConfiguration(vm.safari.serviceConfigsMap['ACCOMMODATION'])">
          <span class="glyphicon glyphicon-save"></span>&nbsp;
          <span data-translate="entity.action.save">Done</span>
        </button>
      </div>
    </div>
  </form>
</div>