<form class="form-signin" role="form" name="serviceForm" ng-submit="vm.save()">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
          ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Configure {{vm.generalServiceType}} for {{vm.day.day}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">

          <div class="col-sm-6">
            <h4>{{vm.generalServiceType}} Configurations
              <small>you can organize the team of
                <strong>{{vm.day.pax || 0}} PAX</strong> into groups </small>
            </h4>
          </div>
          <div ng-show="vm.generalServiceType == 'ACCOMMODATION'">
            <div class="col-sm-2">
              <div class="pull-right">
                <label class="control-label" for="field_startDate">Groups
                  <small style="color: #202124; font-weight: 400;">no of groups</small>
                </label>
                <input type="number" class="form-control" placeholder="e.g. 1"
                  ng-change="vm.expandSafariServiceGroups(vm.day.serviceConfigsMap[vm.generalServiceType])"
                  ng-model="vm.day.serviceConfigsMap[vm.generalServiceType].numOfGroups" />
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="filter-col" style="margin-right:0;" for="pref-search">Search to Select a location:</label>
              <input type="text" ng-model="vm.day.locationName" placeholder="Location Name e.g Nairobi"
                uib-typeahead="loc.name for loc in vm.getLocation($viewValue)" typeahead-loading="loadingLocations"
                typeahead-no-results="noStartResults" typeahead-on-select="vm.onLocationSelected($item, $model)"
                class="form-control" required>
              <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
              <div ng-show="noStartResults">
                <i classs="glyphicon glyphicon-remove"></i> No Results Found
              </div>
            </div>
          </div>
          <div ng-hide="vm.generalServiceType == 'ACCOMMODATION'">
            <div class="col-md-2">
              <div class="pull-right">
                <label class="control-label" for="field_startDate">Groups
                  <small style="color: #202124; font-weight: 400;">no of groups</small>
                </label>
                <input type="number" class="form-control" placeholder="e.g. 1"
                  ng-change="vm.expandSafariServiceGroups(vm.day.serviceConfigsMap[vm.generalServiceType])"
                  ng-model="vm.day.serviceConfigsMap[vm.generalServiceType].numOfGroups" />
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label" style="margin-right:0;" for="Service Name">Name:</label>
              <input type="text" ng-model="vm.entity.name" placeholder="Service Name" class="form-control" required>
            </div>
          </div>
        </div>

        <div class="alert alert-warning col-md-12"
          ng-hide="vm.validGroupObjectsTotal(vm.day.serviceConfigsMap[vm.generalServiceType])">
          <strong>Warning!</strong> Total number of people in all groups NOT adding up to the expected
          {{vm.day.serviceConfigsMap[vm.generalServiceType].numOfObjects}}.
          Please check.
        </div>

        <!-- group loop -->
        <div ng-repeat="group in vm.entity.safariServiceGroups">
          <h4>{{group.name}}</h4>

          <div class="alert alert-warning col-md-12" ng-hide="vm.validUnitObjectsTotal(group)">
            <strong>Warning!</strong> Total number of people in all rooms NOT adding up to the expected
            {{group.numOfObjects}}.
            Please check.
          </div>

          <!-- service info -->
          <div class="row">
            <div class="form-group col-md-2" id="inputfit">
              <label class="control-label" for="field_startDate">Name</label>
              <input type="text" class="form-control" placeholder="e.g. Group 1" ng-model="group.name" />
            </div>
            <!-- <div class="form-group col-md-2" id="inputfit">
              <label class="control-label" for="field_startDate">Service Category</label>
              <input type="text" class="form-control" placeholder="e.g. ACCOMMODATION"
                ng-model="group.generalServiceId" />
            </div> -->

            <div class="form-group col-md-2" id="inputfit">
              <label class="control-label" for="field_startDate"># of People</label>
              <input type="number" class="form-control" placeholder="e.g. 2" ng-model="group.numOfObjects" />
            </div>
            <div class="form-group col-md-2" id="inputfit">
              <label class="control-label" for="field_startDate"># {{group.unitsName}}</label>
              <input type="number" class="form-control" placeholder="e.g. 2" ng-model="group.numOfUnits"
                ng-change="vm.expandUnits(group, 'ROOM')" />
            </div>
            <div class="form-group col-md-3" id="inputfit"
              ng-show="vm.generalServiceType == 'ACCOMMODATION' || vm.generalServiceType == 'TRANSPORT' || vm.generalServiceType == 'OTHER'">
              <label for="field_year">Service Type</label>
              <select class="form-control" id="field_year" name="allocationMode" placeholder="e.g. AUTO"
                ng-model="group.generalServiceId" ng-change="vm.genSvcChange(group)"
                ng-options="generalService.id as generalService.name for generalService in vm.generalServices">
                <option value="{{generalService.id}}">{{generalService.name | uppercase}}</option>
              </select>
            </div>
            <div class="col-md-1" style="margin-top: 20px" ng-show="vm.generalServiceType == 'ACCOMMODATION'">
              <div class="form-group">
                <label>
                  <strong>Compare?</strong>

                </label><br>
                <input type="checkbox" ng-disabled="!vm.day.locationId > 0 || vm.manual" ng-model="vm.compareRates" />

              </div>
            </div>
            <div class="col-md-1" style="margin-top: 20px">
              <div class="form-group">
                <label>
                  <strong>Manual? </strong>

                </label><br>
                <input type="checkbox" ng-disabled="!vm.day.locationId > 0 || vm.compareRates" ng-model="vm.manual" />

              </div>
            </div>
            <div ng-show="false" class="col-md-4" id="inputfit" >


                <div class="form-group">

                    <label>Supplier Name
                    </label>
                    <input type="text" list="partners" ng-model="group.supplierName" ng-change="vm.onTargetSelected(group)"
                      placeholder="Warning! Select a location first" class="form-control">
                    <datalist id="partners">
                      <option value="{{partners.name | uppercase}}" ng-repeat="partners in vm.orgs">
                        {{partners.name}}</option>

                    </datalist>
                  </div>
            </div>

          </div>
          <!-- end of service info -->

          <!-- <input ng-model="group.supplierName" placeholder="Search Supplier by e.g. Sarova Panafric"
                uib-typeahead="loc.name for loc in vm.getOrgs($viewValue,group)"
                typeahead-loading="loadingStartLocations" typeahead-no-results="noStartResults"
                typeahead-on-select="vm.onTargetSelected($item, $model,group)" class="form-control" required>
              <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
              <div ng-show="noStartResults">
                <i class="glyphicon glyphicon-remove"></i> No Results Found
              </div> -->
          <div class="row" ng-show="!vm.compareRates">
            <div ng-show="vm.generalServiceType != 'ACCOMMODATION'">

              <div class="form-group col-md-4">

                <label>Search Suppliers
                </label>
                <input type="text" list="partners" ng-model="group.supplierName" ng-change="vm.onTargetSelected(group)"
                  placeholder="Warning! Select a location first" class="form-control">
                <datalist id="partners">
                  <option value="{{partners.name | uppercase}}" ng-repeat="partners in vm.orgs">
                    {{partners.name}}</option>

                </datalist>
              </div>

              <div class="form-group col-md-4">
                <label for="field_year">Contract</label>
                <select class="form-control" id="field_year" name="allocationMode" placeholder="e.g. AUTO"
                  ng-model="group.usedContractId" ng-change="vm.contractChange(group)"
                  ng-options="contract.id as contract.name for contract in vm.contracts">
                  <option value="AUTO">AUTO</option>
                  <option value="{{contract.id}}">{{contract.name}}</option>
                </select>
              </div>
              <div
                ng-hide="dimension.dimensionType == 'ROOM_OCCUPANCY' || dimension.dimensionType == 'SEASON' || dimension.dimensionType == 'DAY_BAND' || dimension.dimensionType == 'AGE_LIMIT' || dimension.dimensionType == 'SPECIAL_DAY'"
                class="form-group col-md-2" ng-repeat="dimension in vm.dimensionSet">
                <label for="test">{{dimension.dimensionName}} </label>
                <select class="form-control" name="type"
                  ng-options="object.id as object.name for object in dimension.existenceDTOList "
                  ng-model="dimension.formValue" ng-change="vm.generateInputExistences(group,false)" required>
                  <option ng-selected="vm.compareWithoutType(object.id,dimension)" value="{{object.id}}">
                    {{object.name}}</option>
                </select>

              </div>

            </div>
            <div ng-show="vm.generalServiceType == 'ACCOMMODATION'" class="form-group col-md-4" id="inputfit">
              <label>Search Supplier</label>


              <input type="text" list="partners" ng-model="group.supplierName" ng-change="vm.onTargetSelected(group)"
                placeholder="Search Partner by name" class="form-control">
              <datalist id="partners">
                <option value="{{partners.organisationName | uppercase}}" ng-repeat="partners in vm.rowCollection">
                  {{partners.name}}</option>

              </datalist>
            </div>
          </div>
          <!-- Comparision -->
          <div class="row" ng-show="vm.compareRates">
            <table st-table="vm.rowCollectionDisplayed" st-safe-src="vm.rowCollection" class="table table-striped">
              <thead>
                <tr>
                  <td colspan="7">
                    <input st-search
                      placeholder="Type here to filter the records by 'Hotel Name' click to select the hotel"
                      class="input-sm form-control" type="search" />
                  </td>
                  <td width="10%">
                    <select id="pref-perpage" class="input-sm form-control"
                      ng-change="vm.changeItemsPerPage(vm.itemsPerPageStr)" ng-model="vm.itemsPerPageStr">
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="15">15</option>
                      <option value="20">20</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <th st-sort="organisationName">Use</th>

                  <th st-sort="organisationName">Supplier Name</th>
                  <th st-sort="currencyAbbreviation">Currency</th>
                  <th st-sort="ppsValue">PPS</th>
                  <th st-sort="sglValue">SGL</th>
                  <th st-sort="childSharingValue">CHD</th>
                  <th st-sort="roomCategoryName">Room Category</th>
                  <th st-sort="mealPlanAbbreviation">Service Plan</th>
                  <th>Rates Table</th>
                </tr>
              </thead>
              <tbody>
                <tr class="toolTipBtn" ng-repeat="row in vm.rowCollectionDisplayed" st-select-row="row"
                  ng-click="vm.selectedProperty(row, group)">
                  <td> <input type="checkbox" ng-model="row.selected" ng-click="vm.selectedProperty(row,group)" />
                  </td>
                  <td>{{row.organisationName | uppercase}}</td>
                  <td>{{row.currencyAbbreviation}}</td>
                  <td>
                    <span ng-show="row.currencySymbol &&  row.ppsValue != null"
                      ng-bind-html="row.currencySymbol"></span> {{row.ppsValue}}</td>
                  <td>
                    <span ng-show="row.currencySymbol &&  row.sglValue != null"
                      ng-bind-html="row.currencySymbol"></span> {{row.sglValue}}</td>
                  <td>
                    <span ng-show="row.currencySymbol &&  row.childSharingValue != null"
                      ng-bind-html="row.currencySymbol"></span> {{row.childSharingValue}}</td>
                  <td>
                    <span ng-show="row.roomCategoryName" class="label label-default"
                      style="font-size:12px; margin-top: 10px; padding-top: initial;">{{row.roomCategoryName}}</span>
                  </td>
                  <td>
                    <span ng-show="row.mealPlanAbbreviation" class="label label-default"
                      style="font-size:12px; margin-top: 10px; padding-top: initial;">{{row.mealPlanAbbreviation}}</span>
                  </td>
                  <!-- contracts-own-detail({contractId: row.contractId, setId: contract.dimensionSetId,seasonGroupId: contract.seasonGroupId, year: contract.year, versionId:contract.draftVersionId}) -->
                  <td>
                    <a ui-sref="contracts-own-user({contractId: row.contractId, setId: row.dimensionSetId,seasonGroupId: row.seasonGroupId, year: row.year, versionId:row.contractVersionId})"
                      target="_blank">
                      View Rates</a>
                  </td>
                  <span class="toolTip">List&nbsp;view</span>

                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="9" class="text-center">
                    <div st-pagination="" st-items-by-page="vm.itemsPerPage" st-displayed-pages="20"></div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- end comparison -->
          <!-- Contract info -->
          <div class="row" ng-show="!vm.manual && vm.generalServiceType == 'ACCOMMODATION'">
            <div class="form-group col-md-2">
              <label class="control-label" for="field_startDate">Cost In</label>
              <select class="form-control" id="field_currencyId" name="currencyId" ng-model="vm.currencyId"
                ng-options="currency.id as currency.abbreviation for currency in vm.currencies">
                <option value="{{currency.id}}">{{currency.name}}</option>
              </select>
            </div>



            <div class="form-group col-md-4">
              <label for="field_year">Contract</label>
              <select class="form-control" id="field_year" name="allocationMode" placeholder="e.g. AUTO"
                ng-model="group.usedContractId" ng-change="vm.contractChange(group)"
                ng-options="contract.id as contract.name for contract in vm.contracts">
                <option value="AUTO">AUTO</option>
                <option value="{{contract.id}}">{{contract.name}}</option>
              </select>
            </div>
            <div
              ng-hide="dimension.dimensionType == 'ROOM_OCCUPANCY' || dimension.dimensionType == 'SEASON' || dimension.dimensionType == 'DAY_BAND' || dimension.dimensionType == 'AGE_LIMIT' || dimension.dimensionType == 'SPECIAL_DAY'"
              class="form-group col-md-3" ng-repeat="dimension in vm.dimensionSet">
              <label for="test">{{dimension.dimensionName}} </label>
              <select class="form-control" name="type"
                ng-options="object.id as object.name for object in dimension.existenceDTOList "
                ng-model="dimension.formValue" ng-change="vm.generateInputExistences(group,false)" required>
                <option ng-selected="vm.compareWithoutType(object.id,dimension)" value="{{object.id}}">
                  {{object.name}}</option>
              </select>

            </div>

          </div>
          <div class="row">
            <div class="form-group col-md-2" id="inputfit">
              <label class="control-label" for="field_startDate">Cost Adjustments</label>
              <p>Adjust costs where necessary</p>
            </div>
            <div class="form-group col-md-2" id="inputfit">
              <label class="control-label" for="field_startDate">Cost for</label>
              <input type="number" class="form-control" placeholder="e.g. 2" ng-model="group.numOfObjects" disabled />
            </div>
            <div class="form-group col-md-2" id="inputfit">
              <label class="control-label" for="field_startDate">Supplement Value</label>
              <input type="text" class="form-control" placeholder="e.g. 50" ng-change="vm.aggregate()"
                ng-model="group.totalSupplementValue" />
            </div>
            <div class="form-group col-md-2" id="inputfit">
              <label class="control-label" for="field_startDate">Mark Up</label>
              <input type="text" class="form-control" placeholder="e.g. 50" ng-change="vm.aggregate()"
                ng-model="group.totalMarkupValue" />
            </div>
            <div class="form-group col-md-2" id="inputfit">
              <label class="control-label" for="field_startDate">Total Cost</label>
              <input type="text" class="form-control" placeholder="e.g. 50" ng-change="vm.aggregate()"
                ng-model="group.totalRateValue" />
            </div>

            <div class="form-group col-md-2" id="inputfit">
              <label class="control-label" for="field_startDate">Recompute</label>
              <br>
              <button ng-show="!vm.dirty" ng-click="vm.recompute()" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-refresh"></span>&nbsp;
                <span data-translate="entity.action.save"></span>
              </button>
              <button ng-show="vm.dirty" type="button" ng-click="vm.recompute()" class="btn btn-danger">
                <span class="glyphicon glyphicon-refresh"></span>&nbsp;
                <span data-translate="entity.action.save"></span>
              </button>
              <!-- <span class="glyphicon glyphicon-refresh" style="background-color: red" ></span> -->

            </div>
          </div>
          <!--End Contract info -->
          <!-- 1ST ROW CHECKBOXES -->
          <div class="row">

            <div class="col-md-3">
              <div class="form-group">
                <label>
                  <strong>Show Unit costs?</strong>

                  <input type="checkbox" ng-model="vm.showUnitCosts" />
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>
                  <strong>Save service</strong>
                  <input type="checkbox" name="inclusion" id="field_inclusion" ng-model="vm.showInclusions"
                    ng-click="vm.saveGenSvc()" required/>
                </label>
                <div ng-show="serviceForm.inclusion.$invalid">
                  <p class="help-block" ng-show="serviceForm.inclusion.$error.required">
                    Applying inclusions is mandatory.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <!-- repeat per row -->
          <div class="row" ng-show="vm.showUnitCosts" ng-repeat="unit in group.units">
            <div class="form-group col-md-2" id="inputfit">
              <label class="control-label" for="field_startDate">Room Configs</label>
              <p>{{unit.name}}</p>
            </div>

            <div class="form-group col-md-2" id="inputfit">
              <label class="control-label" for="field_startDate"># of People</label>
              <input type="number" class="form-control" placeholder="e.g. 2" ng-model="unit.numOfObjects" />
            </div>
            <div class="form-group col-md-2" id="inputfit">
              <label class="control-label" for="field_startDate">Contract Rate</label>
              <input type="text" class="form-control" placeholder="e.g. 50" ng-change="vm.aggregate()"
                ng-model="unit.rateUsedValue" />
            </div>
            <div class="form-group col-md-2" id="inputfit">
              <label class="control-label" for="field_startDate">Unit Mark Up</label>
              <input type="text" class="form-control" placeholder="e.g. 50" ng-change="vm.aggregate()"
                ng-model="unit.markupUsedValue" />
            </div>
            <div class="form-group col-md-2" id="inputfit">
              <label class="control-label" for="field_startDate">Unit Total Cost</label>
              <input type="text" class="form-control" placeholder="e.g. 50" ng-change="vm.aggregate()"
                ng-model="unit.rateUsedValue" />
            </div>

            <!-- <div class="form-group col-md-2" id="inputfit">
              <label class="control-label" for="field_startDate"># of Beds</label>
              <input type="number" class="form-control" placeholder="e.g. 1" ng-model="unit.numOfSlots" />
            </div>

            <div class="form-group col-md-2" id="inputfit">
              <label for="field_year">Allocation</label>
              <select class="form-control" id="field_year" name="allocationMode" placeholder="e.g. AUTO"
                ng-model="unit.allocationMode">
                <option value="AUTO">AUTO</option>
              </select>
            </div> -->
          </div>

          <!-- <div class="row" ng-show="group.usedContractId > 0">
              <div class="form-group col-md-2" id="inputfit">
                <label class="control-label" for="field_startDate">Service Inclusion</label>
                <p>Select To apply</p>
              </div>
              <div class="form-group col-md-2" ng-repeat="inclusion in group.inclusions" id="inputfit">
                <label>
                  <small><strong>{{inclusion.name}} </strong></small>
                </label><br>
                <input type="checkbox" ng-model="inclusion.apply" />

              </div>
            </div> -->
          <div class="row" ng-show="false">
            <div class="form-group col-md-2" id="inputfit">
              <label for="field_year">Contracted</label>
              <select class="form-control" id="field_year" name="allocationMode" placeholder="e.g. AUTO" ng-model="YES">
                <option value="YES">YES</option>
                <option value="false">NO</option>

              </select>
            </div>
            <div class="form-group col-md-2" id="inputfit">
              <label class="control-label" for="field_startDate">Cost</label>
              <input type="text" class="form-control" placeholder="e.g. 50" ng-model="group.totalRackValue" />
            </div>
          </div>

          <!-- end contract info -->

        </div>
        <!-- end group loop -->
      </div>
      <!-- <div class="modal-footer">
        <button type="submit" class="btn btn-default"
          ng-click="vm.generateAccommodationConfiguration(vm.day.serviceConfigsMap[vm.generalServiceType])">
          <span class="glyphicon glyphicon-save"></span>&nbsp;
          <span data-translate="vm.day.serviceConfigsMap[vm.generalServiceType].action.save">Done</span>
        </button> -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
          <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="serviceForm.$invalid" class="btn btn-primary">
          <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
      </div>
    </div>
  </div>
</form>
