<form name="editForm" role="form" novalidate ng-submit="vm.save()">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myRoomCategoryLabel">Enter Day Notes</h4>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <div class="form-group" ng-class="{ 'has-error' : editForm.brief.$viewValue.length == 2000}">
      <label class="control-label" for="field_notes">Notes</label>
      <textarea class="form-control" name="notes" id="field_notes" ng-model="vm.entity.notes" maxlength="2000" ng-maxlength="2000"></textarea>
      <div class="help-block" ng-show="editForm.notes.$viewValue.length == 2000">Maximum length reached</div>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
      <span data-translate="entity.action.cancel">Cancel</span>
    </button>

    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;
      <span data-translate="entity.action.save">Save</span>
    </button>
  </div>

</form>
