<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myOperatingHoursLabel">{{menuCategory.organisationName}} Menu Category</h4>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="form-group">
          <label class="control-label" for="field_registration">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.menuCategory.name" />
        </div>

      </div>
      <div class="col-sm-6 col-md-6">
        <div class="form-group">
          <label for="field_abbreviation">Abbreviation</label>
          <input class="form-control" id="field_abbreviation" name="abbreviation" ng-model="vm.menuCategory.abbreviation" type="text">
        </div>
      </div>

    </div>


    <div class="form-group">
      <label class="control-label" for="field_description">Description</label>
      <textarea class="form-control" name="description" id="field_description" ng-model="vm.menuCategory.description"></textarea>
      <div ng-show="editForm.description.$invalid">
        <p class="help-block" ng-show="editForm.description.$error.maxlength">
          This field cannot be longer than 5000 characters.
        </p>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="field_brief">Brief</label>
      <textarea class="form-control" name="brief" id="field_brief" ng-model="vm.menuCategory.brief"></textarea>
      <div ng-show="editForm.brief.$invalid">
        <p class="help-block" ng-show="editForm.brief.$error.maxlength">
          This field cannot be longer than 1000 characters.
        </p>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="field_notes">Notes</label>
      <textarea class="form-control" name="notes" id="field_notes" ng-model="vm.menuCategory.notes"></textarea>
      <div ng-show="editForm.notes.$invalid">
        <p class="help-block" ng-show="editForm.notes.$error.maxlength">
          This field cannot be longer than 1000 characters.
        </p>
      </div>
    </div>



  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
        data-translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
    </button>
  </div>
</form>
