<div>
  <h2><span>Menu Category</span> {{vm.menuCategory.id}}</h2>
  <hr>
  <jhi-alert-error></jhi-alert-error>
  <dl class="dl-horizontal jh-entity-details">
    <dt><span>Menu Category Name</span></dt>
    <dd>
      <span>{{vm.menuCategory.generalMenuCategoryName}}</span>
    </dd>
    <dt><span>Description</span></dt>
    <dd>
      <span>{{vm.menuCategory.description}}</span>
    </dd>

  </dl>

  <button type="submit" ui-sref="{{ vm.previousState }}" class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
        </button>
  <button type="button" ui-sref="menu-categories.edit({id:vm.menuCategory.id})" class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="hidden-sm-down"> Edit</span>
        </button>
</div>
