<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-6 ">
    <h4 class="text-center">Basic Information</h4>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur aperiam quia sunt ad perspiciatis, maxime ratione nihil molestias unde mollitia ipsam eligendi repudiandae inventore numquam ex neque minus consectetur earum?
    </div>
    <div class="form-group" id="inputfit">
      <label class="control-label" for="field_name">Search Partner <small>e.g., your overseas tour operator/agent</small></label>
      <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.safari.partner" required />
      <div ng-show="editForm.name.$invalid">
        <p class="help-block" ng-show="editForm.name.$error.required">
          This field is required.
        </p>
      </div>
    </div>
    <div class="row">

      <div class="form-group col-md-8" id="inputfit">
        <label class="control-label" for="field_name">Group Name <small style="color: #202124; font-weight: 400;">for families use surname</small></label>
        <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.safari.name" required />
        <div ng-show="editForm.name.$invalid">
          <p class="help-block" ng-show="editForm.name.$error.required">
            This field is required.
          </p>
        </div>
      </div>

      <div class="form-group col-md-4" id="inputfit">
        <label for="field_year">No. of People (pax)</label>
        <input type="number" class="form-control" name="name" id="field_name" ng-model="vm.safari.pax"
          ng-change="vm.changePax(vm.safari.pax)" required />
      </div>
    </div>

    <div class="form-group" id="inputfit">
      <label for="field_year">Country of Origin</label>
      <select class="form-control" id="field_year" name="country" ng-model="vm.safari.country"
        ng-change="vm.onCountryChange(vm.safari.country);"
        ng-options="currency.code as currency.name for currency in vm.countries">
        <option>{{currency.code}}</option>
      </select>
    </div>

    <div class="row">
      <div class="form-group col-md-6" id="inputfit">
        <label class="control-label" for="field_startDate">ETA</label>
        <input type="datetime-local" class="form-control" ng-model="vm.safari.startDay" />
      </div>
      <div class="form-group col-md-6" id="inputfit">
        <label class="control-label" for="field_startDate">ETD</label>
        <input type="datetime-local" class="form-control" ng-model="vm.safari.endDay" />
      </div>
    </div>

    <div class="form-group" id="inputfit">
      <label class="control-label" for="field_description">Description</label>
      <textarea class="form-control" id="field_description" rows="" name="description" ng-model="vm.safari.description"
        required></textarea>
    </div>
    <hr>
    <div class="form-group" id="inputfit">
      <label for="field_year">Product Folder</label>
      <select class="form-control" id="field_productFolder" name="product_folder" ng-model="vm.safari.productFolder">
        <option></option>
      </select>
    </div>
  </div>
  <div class="col-md-3">

  </div>
</div>