<!-- <div class="col-md-6">
{{vm.safari.country}} Safari
</div> -->
<div class="col-md-6">
<div class="form-group">
    <label class="filter-col" style="margin-right:0;" for="pref-search">Parent Location:</label>
    <input type="text" ng-model="vm.safari.locationName" placeholder="Location Name" uib-typeahead="loc.name for loc in vm.getLocation($viewValue)"
      typeahead-loading="loadingLocations" typeahead-no-results="noStartResults" typeahead-on-select="vm.onLocationSelected($item, $model)"
      class="form-control">
    <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
    <div ng-show="noStartResults">
      <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div>
  </div>

</div>

<div class="col-md-6">
    <div class="form-group">
        <label class="filter-col" style="margin-right:0;" for="pref-search">Starting/Source Location:</label>
        <input type="text" ng-model="vm.safari.srcLocationName" placeholder="Location Name" uib-typeahead="loc.name for loc in vm.getLocation($viewValue)"
          typeahead-loading="loadingLocations" typeahead-no-results="noStartResults" typeahead-on-select="vm.onSrcLocationSelected($item, $model)"
          class="form-control">
        <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
        <div ng-show="noStartResults">
          <i class="glyphicon glyphicon-remove"></i> No Results Found
        </div>
      </div>
    
    </div>
</div>


<div class="col-md-6">
    <div class="form-group">
        <label class="filter-col" style="margin-right:0;" for="pref-search">Desitination Location:</label>
        <input type="text" ng-model="vm.safari.dstLocationName" placeholder="Location Name" uib-typeahead="loc.name for loc in vm.getLocation($viewValue)"
          typeahead-loading="loadingLocations" typeahead-no-results="noStartResults" typeahead-on-select="vm.onDstLocationNameSelected($item, $model)"
          class="form-control">
        <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
        <div ng-show="noStartResults">
          <i class="glyphicon glyphicon-remove"></i> No Results Found
        </div>
      </div>
    
    </div>
</div>


<div class="col-md-6">
    <div class="form-group">
        <label class="filter-col" style="margin-right:0;" for="pref-search">PickUp Point:</label>
        <input type="text" ng-model="vm.safari.pickUpPointName" placeholder="Location Name" uib-typeahead="loc.name for loc in vm.getPickLocations($viewValue)"
          typeahead-loading="loadingLocations" typeahead-no-results="noStartResults" typeahead-on-select="vm.onstartDestinationSelected($item, $model)"
          class="form-control">
        <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
        <div ng-show="noStartResults">
          <i class="glyphicon glyphicon-remove"></i> No Results Found
        </div>
      </div>
    
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        <label class="filter-col" style="margin-right:0;" for="pref-search">DropOff Point:</label>
        <input type="text" ng-model="vm.safari.dropOffPointName" placeholder="Location Name" uib-typeahead="loc.name for loc in vm.getPickLocations($viewValue)"
          typeahead-loading="loadingLocations" typeahead-no-results="noStartResults" typeahead-on-select="vm.onEndDestinationSelected($item, $model)"
          class="form-control">
        <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
        <div ng-show="noStartResults">
          <i class="glyphicon glyphicon-remove"></i> No Results Found
        </div>
      </div>
    
    </div>
</div>
