<!-- <div class="form-group">
  <label>Safari Preview</label>
  <input type="text" class="form-control" name="name" ng-model="vm.safari.orgName" required />
</div> -->
<div>

    <h4 class="uppercaseName">{{vm.safari.name}}</h4>
    <p>{{vm.safari.description}}</p>
    <hr>
    <h5><strong><u>DETAILS</u> ↓</strong> </h5>
    <p>{{vm.safari.name}} with {{vm.safari.pax}} Clients</p>

    <div class="row">
      <div class="col-md-6">
        <h5><strong>Type :</strong> {{vm.safari.type}}</h5>
        <h5><strong>Traveller Profile :</strong> {{vm.safari.profile}}</h5>
        <h5><strong>Purpose :</strong> {{vm.safari.purpose}}</h5>
        <h5><strong>Visiting :</strong> {{vm.safari.country}}</h5>
        <h5><strong>Content Status :</strong> {{vm.safari.contentStatus}}</h5>

      </div>
      <div class="col-md-6">
        <h5><strong>Location :</strong> {{vm.safari.locationName}}</h5>
        <h5><strong>Days :</strong> {{vm.safari.numOfDays}}</h5>
        <h5><strong>Using :</strong> {{vm.safari.safariVehicles[0].category}} Vehicle</h5>
        <h5><strong>Location :</strong> {{vm.safari.locationName}}</h5>
      </div>
    </div>
</div>