<!-- <div class="form-group">
  <label>Vehicles</label>
  <input type="text" class="form-control" name="name" ng-model="vm.safari.orgName" required />
</div> -->


<div class="row">
    <div class="col-md-6">
          <h4>Vehicles Information</h4>
          <!-- <table class="table">
            <tr>
              <td>
                <strong>Name: </strong>
              </td>
              <td>
                {{vm.safari.trallerGroup.name}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>PAX</strong>
              </td>
              <td>
                {{vm.safari.trallerGroup.pax}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Proile</strong>
              </td>
              <td>
                {{vm.safari.trallerGroup.profile}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Purpose of Visit</strong>
              </td>
              <td>
                {{vm.safari.trallerGroup.purpose}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Country</strong>
              </td>
              <td>
                {{vm.safari.trallerGroup.country}}
              </td>
            </tr>
          </table> -->
        
    </div>
    <!-- <div class="col-md-6">
  
          <h4>About the Group</h4>
          <p>
            Some Info about the Group....
          </p>
          <table class="table">
            <tr ng-repeat="authority in vm.safari.trallerGroup.authorities">
              <td>
                {{authority}}
              </td>
            </tr>
          </table>
        
    </div> -->
  </div>
  <br />
  <!-- Travellers -->
  
      <table class="table table-bordered">
        <thead>
          <tr>
            <td colspan="10">
              <div class="row">
                <div class="col-md-10">
                  <h4>Vehicles</h4>
                </div>
                <div class="col-md-2 pull-right">
                  <button class="btn btn-default btn-md" ui-sref="settings-users.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down">
                      Vehicle
                    </span>
                  </button>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Provider</th>
            <th>Purpose</th>
            <th>Vehicle Type</th>
            <th>Registration</th>
            <th>E.T.A</th>
            <th>E.T.D</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody ng-repeat="record in vm.safari.safariVehicles">
          <tr>
             <td>{{$index+1}}</td>
            <td>{{record.name}} </td>
            <td>{{record.supplierName}}</td>
            <td>{{record.category}}</td>
            <td>{{record.generalVehicleTypeName}}</td>
            <td>{{record.registration}}</td>
            <td>{{record.eta}}</td>
            <td>{{record.etd}}</td>
            <!-- <td>
              <span class="label label-default circularLabel" ng-repeat="authority in record.authorities"
                data-placement="top" data-toggle="popover" data-trigger="hover"
                data-content="{{ authority == null ? 'no authorities' : authority }}">??</span>
  
              <script>
                $(document).ready(function () {
                  $('[data-toggle="popover"]').popover();
                });
              </script>
            </td> -->
  
            <td>
              <div class="row">
                <div class="col-md-6">
                  <a ui-sref="settings-users.edit({id : row.id})">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                </div>
                <div class="col-md-6">
                  <a class="red" ui-sref="settings-users.delete({id : row.id})">
                    <span class="glyphicon glyphicon-trash "></span>
                  </a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
   