stats-wrap .panel .panel-heading {
  background: none;
  color: #888;
  font-size: 11px;
  text-transform: uppercase;
  border: none;
  padding-bottom: 0;
}

.stats-wrap .panel .panel-body {
  font-size: 28px;
  padding-top: 0px;
  padding-bottom: 10px;
}

.btn-info {
  background: #128cff;
  border-color: #128cff;
}

.btn-info:hover,
.btn-info:focus {
  background: #0073df;
  border-color: #0073df;
}

.dashboard-wrap .panel-heading {
  font-weight: bold;
  background: #fff;
}

.dashboard-wrap .align-right {
  text-align: right;
}

.p-padding {
  padding-top: 20px;
}

.label-padding {
  margin-left: 10px;
}

fieldset {
  background: #fcfcfc;
  padding: 16px;
  border: 1px solid #d5d5d5;
}

.addfields {
  margin: 10px 0;
}

.remove {
  background: #c76868;
  color: #fff;
  font-weight: bold;
  font-size: 21px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 4px 9px;
  vertical-align: top;
  line-height: 100%;
}

input[type="text"],
select {
  padding: 5px;
}

.homeInfoBox .info-box {
  display: block;
  min-height: 90px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 15px;
}

.outline {
  background-color: transparent;
  color: inherit;
  transition: all .25s;
}

.btn-primary.outline {
  color: #428bca;
  border: 1px solid #428bca;
}

.btn-success.outline {
  color: #5cb85c;
}

.btn-info.outline {
  color: #5bc0de;
}

.btn-warning.outline {
  color: #f0ad4e;
}

.btn-danger.outline {
  color: #d9534f;
}

.btn-primary.outline:hover,
.btn-success.outline:hover,
.btn-info.outline:hover,
.btn-warning.outline:hover,
.btn-danger.outline:hover {
  color: #fff;
}

body {
  background-color: #e3e3e3;
  font-size: 12px;
}

.navbar {
  background: #8f681b;
  height: 20px;
  border-radius: 0;
}

.navbar a {
  color: #fff;
  font-weight: 600;
  transition: all .3s;
}

.navbar li:hover a,
.navbar li:active a,
.navbar li:focus a {
  color: #304839 !important;
  background: #e3e3e3 !important;
}

.settingsActive>a,
.settingsActive>a:hover,
.settingsActive>a:focus {
  color: #e3e3e3;
  border-radius: 0 !important;
  background: #1C79D1 !important;
}

.login-form {
  border: 1px solid #8f681b;
  padding-top: 51px;
  padding-bottom: 22em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 4em;
  border-radius: 10px;
  background: #f2f9f3;
}

.login-form button {
  margin-top: 4em;
}

.login-banner {
  align-content: left;
  border: 1px solid #8f681b;
  margin-top: 4em;
  padding-bottom: 3em;
  border-radius: 10px;
  background: #a7d1e7;
}

/* STYLING FOR GENERAL BUTTONS  */
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-info,
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active {
  color: #fff;
  background-color: #8f681b !important;
  border-color: transparent;
  border: none;
}

.open .dropdown-toggle.btn {
  color: #FFFFFF;
  border-color: transparent;
}

.btn:active,
.btn.active,
.open .dropdown-toggle.btn {
  background-image: none;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn,
.btn.disabled:hover,
.btn[disabled]:hover,
fieldset[disabled] .btn:hover,
.btn.disabled:focus,
.btn[disabled]:focus,
fieldset[disabled] .btn:focus,
.btn.disabled:active,
.btn[disabled]:active,
fieldset[disabled] .btn:active,
.btn.disabled.active,
.btn[disabled].active,
fieldset[disabled] .btn.active {
  background-color: #8F681B;
  border-color: #8F681B;
}

.btn .badge {
  color: #8F681B;
  background-color: #FFFFFF;
}

.btn-danger {
  background-repeat: repeat-x;
  background: hsl(0, 50%, 95%);
  /* border-color: #b92c28; */
  border: none;
  color: hsl(0, 91%, 38%);
  font-weight: 600;
}

.btn-danger:hover,
.btn-danger:focus {
  background-color: #c12e2a;
  background-position: 0 -15px;
  border: none;
}

.btn-danger:active,
.btn-danger.active {
  background-color: #c12e2a;
  border: none;
  /* border-color: #b92c28; */
}

.breadcrumb-white-bg {
  background-color: #f5f5f5;
  border-radius: 4px;
  display: block;
  padding: 0px 0px;
  margin-bottom: 20px;
}

.breadcrumb-white-bg .breadcrumb {
  padding: 11px 0px;
  margin-bottom: 0px;
  list-style: none;
  background-color: #f5f5f5;
}

.breadcrumb-btns {
  padding: 5px 0px 5px 15px;
  margin-bottom: 5px;
  list-style: none;
  background-color: #f5f5f5;
  display: block;
}

.breadcrumb-btns .more {
  border: none;
  background-color: #e6e6e6;
}

.breadcrumb-btns .btn-default {
  border: none;
  background: #e6e6e6;
  color: #000000;
  margin-left: 6px;
}

.filter-panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 0px solid transparent;
  border-radius: 4px;
}

.filter-panel-body {
  padding: 6px 15px;
}

.filter-panel-body .row {
  padding: 0px 0px;
}

.filter-panel-body .form-control {
  display: block;
  width: 100%;
  height: 30px;
  padding: 6px 12px;
  color: #555;
  background-color: #fff;
  border: 1px solid #000;
  outline: none !important;
  border-radius: 5px;
}

.no-records-found {
  font-size: 120%;
  font-weight: bold;
}

.saf-pagination {
  background: #ffffff;
  border-radius: 4px;
  padding: 3px 15px 0px 15px;
}

.saf-pagination .pagination {
  margin: 3px 0px;
}

.header-btns {
  display: block;
}

.header-btns .more {
  border: none;
  background-color: #e6e6e6;
}

.header-btns .btn {
  border: none;
  margin-left: 10px;
}

.white-text {
  color: white;
  background: #8f681b;
  min-height: 500px;
}

.logo {
  width: 100px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px
}

.login-form_1 {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #ffffff;
  min-height: 500px;
}

.form-control {
  border-radius: 0;
  border: 1px solid;
  line-height: 1.4em;
}

.homeInfoBox .info-box {
  padding: 10px;
  transition: all .3s;
}

.homeInfoBox .info-box:hover {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.homeInfoBox .info-box a {
  color: #000;
}

.thumbnail {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  height: auto !important;
}

.label {
  font-size: 12px;
  padding: 5px;
}

.navBarDropDown a span {}

.navBarDropDown,
.navBarDropDown li {
  background-color: #e3e3e3 !important;
}

.navBarDropDown:hover li a span {
  background-color: #e3e3e3 !important;
}

.nav-stacked {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.panel-default {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.fadeBrown {
  background: rgba(143, 104, 27, 0.3) !important;
}

.fadeBrown strong {
  color: #000;
}

.form-control {
  border-radius: 5px;
}

/* ************************************** */
/* styling for MENU-CATEGORY.HTML */
.uppercaseName {
  text-transform: uppercase;
  color: #000;
}

.reqUpperCase {
  text-transform: uppercase;
  color: #202124;
  font-weight: 300;
}

.lowercase {
  text-transform: lowercase;
  color: #202124;
}

.notesCollapse {
  margin-bottom: 20px;
}

.notes,
.notes:hover {
  background-color: transparent !important;
  color: #000;
  text-decoration: none;
}

/* ************************************** */
/* styling for Status Table found in most "-detail.html" files */
.statusTable {
  margin-top: 20px;
}

/* ************************************** */
/* styling for cards on different pages */
/* home.html */
.homeCard {
  max-height: 300px;
  min-height: 300px;
}

.imgHome {
  max-height: 170px;
  min-height: 170px;
  width: 100%;
}

.btnHome {
  position: absolute;
  bottom: 30px;
}

/* organizations-managed.html */
.orgManagedCard {
  max-height: 400px;
  min-height: 400px;
}

.imgOrgManaged {
  max-height: 170px;
  min-height: 170px;
  width: 100%;
}

.btnOrgManaged {
  position: absolute;
  bottom: 30px;
}

.servicesCard {
  max-height: 440px;
  min-height: 440px;
}

.imgServices {
  max-height: 170px;
  min-height: 170px;
  width: 100%;
}

.btnServices {
  position: absolute;
  bottom: 30px;
}

.btnfloatRight {
  margin-left: 70px;
}

/* room-categories.html */
.roomCatCard {
  max-height: 360px;
  min-height: 360px;
}

.imgRoomCat {
  max-height: 170px;
  min-height: 170px;
  width: 100%;
}

.btnRoomCat {
  position: absolute;
  bottom: 20px;
}

.roomNotes {
  position: absolute;
  right: 30px;
  bottom: 95px;
}

/* facility.html */
.facilityCard {
  max-height: 350px;
  min-height: 350px;
}

.imgFacility {
  max-height: 150px;
  min-height: 150px;
  width: 100%;
}

.btnFacility {
  position: absolute;
  bottom: 30px;
}

/* costs.html */
.costsCard {
  max-height: 370px;
  min-height: 370px;
}

.imgCosts {
  max-height: 170px;
  min-height: 170px;
  width: 100%;
}

.btnCosts {
  position: absolute;
  bottom: 30px;
}

/* locations.html */
.locationsCard {
  max-height: 280px;
  min-height: 280px;
}

.imgLocations {
  max-height: 170px;
  min-height: 170px;
  width: 100%;
}

/* vehicles-own.html */
.vehicleOwnCard {
  max-height: 370px;
  min-height: 370px;
}

.imgVehicleOwn {
  max-height: 170px;
  min-height: 170px;
  width: 100%;
}

.btnVehicleOwn {
  position: absolute;
  bottom: 30px;
}

.circularLabel {
  border-radius: 50%;
  cursor: pointer;
}

.img-thumbnail {
  padding: 0px;
  width: 100%;
  border: 2px solid lightgray;
  border-radius: 20px;
  overflow: hidden;
}

input {
  border-radius: 8px !important;
}

select {
  border-radius: 9px !important;
}

textarea {
  border-radius: 9px !important;
}

.pac-container {
  z-index: 10000;
  background-color: lightyellow;
}

.red,
.red:focus,
.red:hover {
  color: red;
}

.routesCard {
  max-height: 250px;
  min-height: 250px;
}

.btnRoutes {
  position: absolute;
  bottom: 30px;
  right: 24px;
}

#wizard-step-container ul li {
  margin: 25px 10px 0px 10px;
}

#wizard-step-container a,
a:hover {
  text-decoration: none;
  color: #444;
}

#wizard-step-container a.active .name {
  color: #8f681b;
}

#wizard-step-container .number {
  padding: 7px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #d5d5d5;
  margin: auto;
}

#wizard-step-container .number {
  padding: 7px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #d5d5d5;
  margin: auto;
}

#wizard-step-container a.active .number {
  padding: 7px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #8f681b;
  color: #fff;
  margin: auto;
}

#wizard-content-container {
  margin: 20px 0;
}

#wizard-navigation-container {
  margin: 0px 0px 20px 0px;
  padding-top: 0px;
}

#fit select,
#fit input,
#fit textarea {
  width: 30%;
}

#fit {
  margin: 50px 0;
}

#inputfit label {
  padding-top: 5px;
  text-align: left;
}

#inputfit input,
#inputfit select,
#inputfit textarea {
  margin-bottom: 5px;
}

.sgs {
  padding: 10px 15px;
  background-color: #f1f1f1 !important;
  /* border-bottom: 1px solid #0002!important; */
}

.odd {
  background-color: #f9f9f9;
}

.inner {
  border-bottom: 1px solid #ddd;
}

.last {
  border-bottom: none;
}

.sgs:hover {
  /* background-color: #f1f1f1; */
}

.sgs-header {
  font-weight: 600;
}

.sgs-body {
  padding: 15px 0px 0px 0px;
}

.sgs-body>.odd {
  background: inherit;
}

.sgsg {
  margin: 10px 0px 0px 0px;
  padding: 10px 10px 10px 15px;
}

.sgsg-unit {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.sgsg-header {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.day .title {
  font-weight: 800;
  font-size: 1.1em;
  padding: 5px 0px;
}

.day .data {
  padding: 3px 0px;
}

#inputfit input, #inputfit select, #inputfit textarea {
  margin-bottom: 5px;
}

a.adisabled {
  cursor: not-allowed;
  opacity: .65;
  text-decoration: none;
}

.folders .info-box {
  background-color: #fff;
  border: 0.5px solid #c9c4c4;
  border-radius: 4px;
  padding: 3%;
  margin-bottom: 15px;
}

.folders .info-box .folderIcon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #d5d5d5;
  text-align: center;
}

.folderIcon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #d5d5d5;
  padding: 8px;
}

.folderDetailLink,
.terminalSafariDetailLink {
  cursor: pointer;
}

.folderDetailLink:hover span:nth-child(2),
.terminalSafariDetailLink:hover span {
  text-decoration: underline;
}

/* ********************************************** */
/* TOOLTIP STYLING AND CUSTOM CLASSES */
/* ********************************************** */
.toolTipBtn {}

.toolTip {
  visibility: hidden;
  background-color: #0007;
  font-size: 10px;
  padding: 3px;
  position: absolute;
  top: 30px;
  left: 20px;
  border-radius: 2px;
  transition: all .3s ease;
  opacity: 0;
  color: #fff;
}

.toolTipBtn:hover .toolTip {
  visibility: visible;
  opacity: 1;
}

/* ********************************************** */
/* safariDayIcons styling */
/* ********************************************** */
.safariDayIcons ul {
  display: inline-block;
  list-style: none;
}

.day:nth-child(odd) {
  background-color: #f9f9f9;
}

.genSvcTypeRequirements {
  margin-bottom: 5px;
}

.safariDayIcons .dropdown-menu {
  min-width: 100px;
  text-align: center;
}

.safariDayIcons .dropdown-menu ul {
  padding: 0;
  cursor: pointer;
}

/* ********************************************** */
/* search-filter input  styling */
/* ********************************************** */
.filterSearch {
  position: relative;
}

.filterSearch input {
  background-color: transparent;
}

.filterSearch span {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 15px;
}
.st-selected, .st-selected + a {
  background: #cad8db !important;
  color: rgb(255, 255, 255) !important;
  cursor: pointer;

}


/* .extSafari::after,
.incSafari::after{
  content: ",";

}
.extSafari:last-child::after{
  content: "";
} */
.incSafari:hover {
  text-decoration: underline;
}

.listSwitchViews{
  border-radius: 8px!important;
}
.btnSwitchViews1{
  border-radius:  4px 0 0 4px !important;
  font-size: 15px;
  padding: 5px 10px 10px 10px!important;
  margin-bottom: 5px;
}
.btnSwitchViews2{
  border-radius: 0 4px 4px 0 !important;

}

.itenNotes{
  padding: 10px 20px;
}