<button type="button" class="btn btn-default btn-sm more dropdown-toggle" data-toggle="dropdown">
  ...
</button>
<ul class="dropdown-menu btn" role="menu" style="background: #ffffff; border: none">
  <li ui-sref-active="settingsActive" role="presentation">
    <a ui-sref="settings">Profile</a>
  </li>
  <li ui-sref-active="settingsActive" role="presentation">
    <a ui-sref="settings-account">Change Password</a>
  </li>
  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="settingsActive" role="presentation">
    <a ui-sref="currencies">Currencies</a>
  </li>
  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="settingsActive" role="presentation">
    <a ui-sref="markup-categories">Mark Ups</a>
  </li>
  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="settingsActive" role="presentation">
    <a ui-sref="settings-operating-hours">Operating Hours</a>
  </li>
  <li permission="['PROPERTY_USER', 'RESTAURANT_USER']" ui-sref-active="settingsActive" role="presentation">
    <a ui-sref="settings-meal-plans">Meal Plans</a>
  </li>
  <li permission="['PROPERTY_USER','RESTAURANT_USER']" ui-sref-active="settingsActive" role="presentation">
    <a ui-sref="settings-meal-types">Meal Types</a>
  </li>
  <li permission="['PROPERTY_USER','RESTAURANT_USER']" ui-sref-active="settingsActive" role="presentation">
    <a ui-sref="settings-menu-categories">Menu Categories</a>
  </li>
  <li permission="['TRANSPORTER_USER', 'MANAGE_VEHICLES']" ui-sref-active="settingsActive" role="presentation">
    <a ui-sref="vehicle-types">Vehicle Types</a>
  </li>
  <li permission="['TRANSPORTER_USER', 'MANAGE_VEHICLES']" ui-sref-active="settingsActive" role="presentation">
    <a ui-sref="vehicle-class">Vehicle Class</a>
  </li>
  <li permission="['TRANSPORTER_USER', 'MANAGE_VEHICLES']" ui-sref-active="settingsActive" role="presentation">
    <a ui-sref="vehicles-base">Base</a>
  </li>
  <li permission="['TRANSPORTER_USER', 'MANAGE_VEHICLES']" ui-sref-active="settingsActive" role="presentation">
    <a ui-sref="areas">Operation Areas</a>
  </li>
  <li permission="['TRANSPORTER_USER', 'MANAGE_VEHICLES']" ui-sref-active="active">
      <a ui-sref="routes" ng-click="vm.collapseNavbar()">
        <span class="hidden-sm" data-translate="global.menu.home">Routes</span>
      </a>
    </li>
  <li permission="['TRANSPORTER_USER', 'MANAGE_VEHICLES']" ui-sref-active="settingsActive" role="presentation">
    <a ui-sref="schedule">Schedules</a>
  </li>
  <li permission="['TRANSPORTER_USER', 'MANAGE_VEHICLES']" ui-sref-active="settingsActive" role="presentation">
    <a ui-sref="vehicles-transport-trip">Transport Trip</a>
  </li>
  <li permission="['TRANSPORTER_USER', 'MANAGE_VEHICLES']" ui-sref-active="settingsActive" role="presentation">
    <a ui-sref="vehicles-travel-class">Travel Class</a>
  </li>
  <li permission="['TRANSPORTER_USER', 'MANAGE_VEHICLES']" ui-sref-active="settingsActive" role="presentation">
    <a ui-sref="vehicles-promotional-class">Promotional Class</a>
  </li>
  <li
    permission="['D_AUTHORITY_USER', 'PROPERTY_USER', 'RESTAURANT_USER', 'TRANSPORTER_USER', 'entity_USER','ORGANISATION_ADMIN']"
    ui-sref-active="settingsActive" role="presentation">
    <a ui-sref="settings-age-limits">Age Limits</a>
  </li>
  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="settingsActive" role="presentation">
    <a ui-sref="settings-markets">Markets</a>
  </li>
  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="settingsActive" role="presentation">
    <a ui-sref="settings-seasons">Seasons</a>
  </li>
  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="settingsActive" role="presentation">
    <a ui-sref="settings-day-bands">Day Bands</a>
  </li>
  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="settingsActive" role="presentation">
    <a ui-sref="settings-special-days">Special Days</a>
  </li>
  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="settingsActive" role="presentation">
    <a ui-sref="settings-services">Services</a>
  </li>
  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="settingsActive" role="presentation">
    <a ui-sref="settings-policies">Child Policies</a>
  </li>
  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="settingsActive" role="presentation">
    <a ui-sref="settings-users">Users</a>
  </li>
 </ul>
