<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myOperatingHoursLabel">{{route.name}} Route</h4>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <!-- <div class="form-group">
      <label for="field_generalrouteName">Meal Plan Type</label>
      <select class="form-control" id="field_generalrouteName" name="generalrouteName" ng-model="vm.route.generalrouteId" ng-options="generalroute.id as generalroute.name for generalroute in vm.generalroutes">
      </select>
    </div> -->
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="filter-col" style="margin-right:0;" for="pref-search">From Location:</label>

          <input type="text" ng-model="vm.route.fromName" placeholder="Location Name" uib-typeahead="loc.name for loc in vm.getFromLocation($viewValue)"
            typeahead-loading="loadingLocations" typeahead-no-results="noStartResults" typeahead-on-select="vm.onFromLocationSelected($item, $model)"
            class="form-control">
          <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
          <div ng-show="noStartResults">
            <i class="glyphicon glyphicon-remove"></i> No Results Found
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="filter-col" style="margin-right:0;" for="pref-search">To Location:</label>
          <input type="text" ng-model="vm.route.toName" placeholder="Location Name" uib-typeahead="loc.name for loc in vm.getToLocation($viewValue)"
            typeahead-loading="loadingLocations" typeahead-no-results="noStartResults" typeahead-on-select="vm.onToLocationSelected($item, $model)"
            class="form-control">
          <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
          <div ng-show="noStartResults">
            <i class="glyphicon glyphicon-remove"></i> No Results Found
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="filter-col" style="margin-right:0;" for="pref-search">From Abbreviation:</label>

          <input type="text" ng-model="vm.route.fromAbbreviation" placeholder="Location Name" class="form-control">
          <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
          <div ng-show="noStartResults">
            <i class="glyphicon glyphicon-remove"></i> No Results Found
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="filter-col" style="margin-right:0;" for="pref-search">To Abbreviation:</label>
          <input type="text" ng-model="vm.route.toAbbreviation" placeholder="Location Name" class="form-control">
          <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
          <div ng-show="noStartResults">
            <i class="glyphicon glyphicon-remove"></i> No Results Found
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="field_notes">notes</label>
      <textarea class="form-control" name="notes" id="field_notes" ng-model="vm.route.notes"></textarea>
      <div ng-show="editForm.notes.$invalid">
        <p class="help-block" ng-show="editForm.notes.$error.maxlength">
          This field cannot be longer than 5000 characters.
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
        data-translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
    </button>
  </div>
</form>
