<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="col-md-8">
        <ul class="breadcrumb">
          <li ui-sref-active="active">
            <a ui-sref="home">Home</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings">Settings</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="routes">Routes</a>
          </li>
          <!-- <li ui-sref-active="active" class="active">{{vm.route.fromName}} to {{vm.route.toName}} </li> -->
        </ul>
      </div>
      <div class="col-md-4">
        <div class="breadcrumb-btns">
          <ul class="nav nav-pills pull-right">
            <li>
              <button class="btn btn-default btn-sm" ui-sref="routes.new">
                <span class="glyphicon glyphicon-plus-sign"></span> Routes</button>
            </li>
            <li>
              <div ng-include="'core/routes/settings/settings-menu/settings-navbar.html'"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div ng-include="'core/routes/settings/settings-menu/settings-menu.html'"></div>
      </div>
    </div>


    <div class="col-md-9" ng-show="vm.records == null">
      <div class="panel panel-default">
        <div class="panel-body">
          No records found
        </div>
      </div>
    </div>

    <div class="col-md-9" ng-show="vm.records">
      <div class="alert alert-success alert-dismissible fade in" ng-show="vm.dragAlert === true">
        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>To sort, drag the meal Types to desired positions</strong>
      </div>
    </div>
    <!-- compressed rates table -->

    <div class="col-md-9">
      <div class="">
        <div class="panel panel-default">
          <table st-table="vm.rowCollectionDisplayed" st-safe-src="vm.records" class="table table-striped">
            <thead>
              <tr>
                <td colspan="10">
                  <div class="pull-right">
                    <div class="col-md-12">
                      <select id="pref-perpage" class="input-sm form-control"
                        ng-change="vm.changeItemsPerPage(vm.itemsPerPageStr)" ng-model="vm.itemsPerPageStr">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="150">150</option>
                        <option value="200">200</option>
                        <option value="500">500</option>
                        <option value="1000">1000</option>

                      </select>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <!-- <th st-sort="id">id</th> -->
                <!-- <th st-sort="name">Name</th> -->
                <th>From</th>
                <th>To</th>
                <th>Abbrev From</th>
                <th>Abbrev To</th>
                <th>Notes</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody ui-sortable="vm.sortableOptions" ng-model="vm.rowCollectionDisplayed"
              class="vm.rowCollectionDisplayed">
              <tr ng-repeat="row in vm.rowCollectionDisplayed">
                <!-- <td>{{row.id}}</td> -->
                <!-- <td>{{row.name | uppercase}}</td> -->
                <td>{{row.fromName}}</td>
                <td>{{row.toName}}</td>
                <td>
                  <span> <strong>{{row.fromAbbreviation}}</strong></span></td>
                <td>
                  <span><strong>{{row.toAbbreviation}}</strong></span> </td>
                <td>
                  <span class="label label-default circularLabel" data-placement="top" data-toggle="popover"
                    data-trigger="hover" data-content="{{ row.notes == null ? 'no notes' : row.notes }}">??</span>

                  <script>
                    $(document).ready(function () {
                      $('[data-toggle="popover"]').popover();
                    });
                  </script>

                </td>

                <td>
                  <a ui-sref="routes.edit({id : row.id})">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                  <a class="pull-right red" ui-sref="routes.delete({id : row.id})">
                    <span class="glyphicon glyphicon-trash "></span>
                  </a>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="9" class="text-center">
                  <div st-pagination="" st-items-by-page="vm.itemsPerPage" st-displayed-pages="20"></div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <!-- compressed rates table div-->
  </div>
</div>
</div>
