<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myActivityLabel" ng-show="vm.entity.id">Edit a Special Day</h4>
    <h4 class="modal-title" id="myActivityLabel" ng-show="!vm.entity.id">Add a Special Day</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.entity.name" required/>
          <div ng-show="editForm.name.$invalid">
            <p class="help-block" ng-show="editForm.name.$error.required">
              This field is required.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="field_year">For Year</label>
          <select class="form-control" id="field_year" name="year" ng-model="vm.entity.year" ng-options="obj as obj for obj in vm.years">
            <option>{{obj}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
    </div>
    <!-- Bands -->
    <div class="row" style="margin-top: 5px">
      <div class="col-md-6">
        <p>
          <strong>From:</strong>
        </p>
      </div>

      <div class="col-md-4">
        <p>
          <strong>To:</strong>
        </p>
      </div>

      <div class="col-md-2">
        <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="vm.addBand()"> <span class="glyphicon glyphicon-plus"></span>&nbsp; Dates</button>
      </div>
    </div>
    <div>
      <div class="row" style="margin-top: 5px" ng-repeat="band in vm.entity.bands track by $index">
        <div class="col-md-5">
          <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="band.fromDate" is-open="vm.openedFrom"
              ng-required="true" close-text="Close" ng-click="vm.openFrom()"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="vm.openFrom()">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
        </div>
        <div class="col-md-1 text-center" style="margin-top: 30px">
          <!-- <span class="text-center">
            <strong> To</strong>
          </span> -->
        </div>
        <div class="col-md-5">
          <div class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="band.toDate" is-open="vm.openedTo"
              ng-required="true" close-text="Close" ng-click="vm.openTo()" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="vm.openTo()">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </div>
        </div>
        <div class="col-md-1 pull-right" style="margin-top: 5px">
          <button type="button" class="btn btn-danger btn-xs" ng-click="vm.removeBand(band.id, $index)">X</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
      <span>Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;
      <span>Save</span>
    </button>
  </div>
</form>