<div class="row">
  <div class="container">
    <div class="col-md-12  breadcrumb-white-bg">
      <div class="col-md-8">
        <ul class="breadcrumb">
          <li ui-sref-active="active">
            <a ui-sref="home">Home</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings">Settings</a>
          </li>
          <li ui-sref-active="active">Special Days</li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="breadcrumb-btns">
          <ul class="nav nav-pills pull-right">
            <li>
              <button class="btn btn-default btn-sm" ui-sref="settings-special-days.new">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="hidden-xs-down">
                  Special Day
                </span>
              </button>
            </li>
            <li>
              <div ng-include="'core/routes/settings/settings-menu/settings-navbar.html'"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-default">
          <!-- <div class="image-container">
            <img class="img-responsive"
              ng-src="http://51.15.199.15:8080/mediaservice/api/albums/get-profile/{{vm.account.uuid}}"
              alt="{{ vm.account.name }}">
          </div> -->
          <div ng-include="'core/routes/settings/settings-menu/settings-menu.html'"></div>
        </div>
      </div>

      <div class="col-md-9">
        <div class="row" ng-hide="vm.entities.length == 0">
          <div class="col-md-12">
            <div class="filter-panel">
              <div class="filter-panel-body">
                <form ng-submit="vm.search()">
                  <div class="row">
                    <div class="col-md-9">
                      <div class="row">
                        <div class="col-md-3 pull-right">
                          <select class="form-control" id="field_year" name="year" ng-model="vm.year"
                            ng-options="obj as obj for obj in vm.years" ng-change="vm.search()">
                            <option>{{obj}}</option>
                            <option value="" selected disabled hidden>Select a year</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 pull-right">
                      <p class="input-group" style="margin: 0px 0px;">
                        <input type="text" class="form-control" placeholder="Special Day" id="BatchSearchText"
                          ng-model="query" />
                        <span class="input-group-btn" style="height: 29px;">
                          <button class="btn btn-primary btn-md waves-effect waves-light "
                            style="font-size: 12px; line-height: 1.37859" type="submit">Go</button>
                        </span>
                      </p>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>


        <div class="row" ng-hide="vm.entities.length == 0">
          <div class="col-sm-6 col-md-4" ng-repeat="entity in vm.entities | filter:query">
            <div class="panel panel-default">
              <div class="panel-body">
                <h3>
                  <strong>{{entity.name}} - {{entity.year}}</strong>
                </h3>

                <hr />
                <div ng-repeat="band in entity.bands track by $index">
                  <h4>{{band.fromDate}}
                    <strong> - </strong> {{band.toDate}}
                  </h4>
                </div>
                <hr />
                <p>
                  <a href="#" class="btn btn-primary" role="button"
                    ui-sref="settings-special-days.edit({ spId: entity.id })">Edit</a>
                  <a href="#" class="btn btn-danger pull-right" role="button"
                    ui-sref="settings-special-days.delete({ id: entity.id })">Delete</a>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12" ng-show="vm.entities.length == 0">
            <div class="panel panel-default">
              <div class="panel-body">
                no records found
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
