<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li>
              <a ui-sref="packages">packages</a>
            </li>
            <li>
              <a ui-sref="packages-detail({id: vm.pakageId})">Package</a>
            </li>
            <li>
              <a ui-sref="programme-detail({id: vm.pakageId, progId: vm.programmedId})">{{vm.programmedName}}</a>
            </li class="active">
            <li>Detailed Itenerary</li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="breadcrumb-btns">
            <ul class="nav nav-pills pull-right">
              <li>
                <button type="button" class="btn btn-default btn-sm" ui-sref="vehicles.new">
                  <span class="glyphicon glyphicon-plus"></span>
                  <span class="hidden-xs-down">
                    Add Day
                </button>
              </li>
              <li>
                <button type="button" class="btn btn-default btn-sm more" data-toggle="dropdown">... </button>
                <ul class="dropdown-menu btn" role="menu">
                  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-operating-hours">Operating Hours</a>
                  </li>
                  <li permission="['PROPERTY_USER']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-meal-plans">Meal Plans</a>
                  </li>
                  <li permission="['D_AUTHORITY_USER', 'PROPERTY_USER', 'RESTAURANT_USER', 'TRANSPORTER_USER', 'PROFESSIONAL_USER']" ui-sref-active="active"
                    role="presentation">
                    <a ui-sref="settings-age-limits">Age Limits</a>
                  </li>
                  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-organization-relationships">Memberships & Associations</a>
                  </li>
                  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-documents">My Documents</a>
                  </li>
                  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-markets">Markets</a>
                  </li>
                  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-seasons">Seasons</a>
                  </li>
                  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-day-bands">Day Bands</a>
                  </li>
                  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-special-days">Special Days</a>
                  </li>
                  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-services">Services</a>
                  </li>
                  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-policies">Policies</a>
                  </li>
                  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-users">Users</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="image-container">
        <img ng-src="{{URLS.PROFILE_IMAGE_URL}}{{vm.serviceGroups.uuid}}" alt="">
      </div>
      <div ng-include="'core/routes/programmes/programmes-sidebar-menu.html'"></div>
    </div>
  </div>
  <!-- filter panel -->
  <div class="col-md-9">
    <div class="panel panel-default" ng-repeat="serviceGroup in vm.serviceGroup">
      <div class="panel-heading">
        {{serviceGroup.day}} - Destination {{serviceGroup.destination}}
      </div>
      <div class="panel-body" style="height: 500px ">
        summary

        <div class="col-md-6">
          Services
        </div>


        <div class="col-md-6">

        </div>
        descrition
      </div>
    </div>
    <br> {{ vm.entity }}
    <div class="row" ng-show="vm.noRecordsFound">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            No data found.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
