<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myObjectFeature">Confirm delete</h4>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to un tie <strong>{{vm.clickedItem.name}}</strong>?</p>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
        <span>Cancel</span>
      </button>
      <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-danger">
        <span class="glyphicon glyphicon-save"></span>&nbsp;
        <span>Update</span>
      </button>
    </div>
</form>
