<style>
  .form-group {
    margin-bottom: 5px;
  }

  .help-block {
    margin-bottom: 5px;
  }
</style>
<form name="editForm" role="form" novalidate ng-submit="vm.save()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myProfessionalLabel">Edit a Travel Class</h4>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <div class="form-group">
      <label class="control-label" for="field_name">Class Name</label>
      <input type="text" class="form-control" name="travelClassName" id="field_name" ng-model="vm.travelClass.name"
        required />
      <div class="help-block" ng-show="editForm.travelClassName.$invalid">required</div>
    </div>
    <div class="form-group">
      <label class="control-label" for="field_abbrev">Abbreviation</label>
      <input type="text" class="form-control" name="travelClassAbbrev" id="field_abbrev"
        ng-model="vm.travelClass.abbreviation" required />
      <div class="help-block" ng-show="editForm.travelClassAbbrev.$invalid">required</div>
    </div>

    <div class="form-group">
      <label class="control-label" for="field_brief">Brief</label>
      <textarea class="form-control" name="brief" id="field_brief" ng-model="vm.travelClass.brief"></textarea>
    </div>
    <div class="form-group">
      <label class="control-label" for="field_description">Description</label>
      <textarea class="form-control" name="description" id="field_description"
        ng-model="vm.travelClass.description"></textarea>
    </div>
    <div class="form-group">
      <label class="control-label" for="field_notes">Special Notes about the Travel Class</label>
      <textarea class="form-control" name="notes" id="field_notes" ng-model="vm.travelClass.notes"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
        data-translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
    </button>
  </div>
</form>
