<div ng-cloak>
  <div class="row stats-wrap ">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">ID</div>
        <div class="panel-body ng-binding">{{vm.formatNumber(vm.data.id)}} </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Step</div>
        <div class="panel-body ng-binding">{{vm.formatNumber(vm.data.step)}} </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Stuff</div>
        <div class="panel-body ng-binding">{{vm.formatNumber(vm.data.stuff)}} </div>
      </div>
    </div>
  </div>
</div>
