<form name="editForm" role="form" novalidate ng-submit="vm.upload(vm.file, $invalidFiles)" show-validation>


  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myLocationLabel">Upload Location Profile Photo</h4>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-horizontal">
          <label class="control-label">Select File to Upload: </label>
          <input type="file" id="fileInput" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-select="vm.onFileSelect($event)"
          />
        </div>
        <hr/>
        <div class="cropArea">
          <ui-cropper image="vm.myImage" area-type="rectangle" result-image="vm.croppedImage" result-blob="vm.resBlob" result-image-size='{w: 340,h: 168}'></ui-cropper>

        </div>
      </div>

      <div class="col-md-6">

        <div class="form-horizontal">
          <label class="control-label">Preview </label>
        </div>
        <hr/>

        <img ng-src="{{vm.croppedImage}}" />
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
        <span class="glyphicon glyphicon-ban-circle" ng-disabled="vm.isUploading"></span>&nbsp;
        <span>Cancel</span>
      </button>
      <button type="submit" ng-disabled="vm.isUploading || vm.isSaving" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;
        <span>Save</span>
      </button>
    </div>
</form>
<style>
  .thumb {
    width: 100px;
    height: 100px;
    float: none;
    position: relative;
    top: 7px;
  }

  .cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width: 300px;
    height: 300px;
  }

</style>
