<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active">Packages</li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="breadcrumb-btns">
            <ul class="nav nav-pills pull-right">
              <!-- <li>
                <button type="button" class="btn btn-primary btn-sm" ui-sref="packages.newFIT">
                  <span class="glyphicon glyphicon-plus"></span> Create FIT</button>
              </li> -->
<!-- 
              <li ng-show="vm.safariFilterParams.type == 'FIT'">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#fitModal">
                  <span class="glyphicon glyphicon-plus"></span> Create FIT</button>
              </li> -->


              <li ng-show="vm.safariFilterParams.type == 'FIT'">
                  <button type="button" class="btn btn-primary btn-sm" ui-sref="packages.new">
                    <span class="glyphicon glyphicon-plus"></span> Create FIT</button>
                </li>
                

              <li permission="['ORGANISATION_ADMIN']" ng-hide="vm.safariFilterParams.type == 'FIT'">
                <button type="button" class="btn btn-default btn-sm" ui-sref="packages.new" ng-disabled="vm.hideCreatePackage">
                  <span class="glyphicon glyphicon-plus"></span> Package</button>
              </li>
              <li permission="['ORGANISATION_ADMIN']">
                <button type="button" class="btn btn-default btn-sm" ui-sref="contracts-own.newContract">
                  Suspend</button>
              </li>
              <li permission="['ORGANISATION_ADMIN']">
                <button type="button" class="btn btn-default btn-sm more" data-toggle="dropdown">... </button>
                <ul class="dropdown-menu pull-right" role="menu">
                  <li>
                    <a ui-sref="settings">More actions</a>
                  </li>

                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- filter panel -->
<div class="filter-panel ">
  <div class="filter-panel-body">
    <form ng-submit="vm.search()">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div ng-show="vm.safariFilterParams.type === null" class="col-md-3">
              <select class="form-control" ng-model="package.value" ng-change='vm.search(year, vm.safariFilterParams.type)'>
                <option value="">Select Type</option>
                <option value="{{package.value}}" ng-repeat="package in vm.packageTypes">{{package.name}}</option>
              </select>
            </div>


            <div ng-show="vm.safariFilterParams.type !== null" class="col-md-3">
              <select class="form-control" ng-model="vm.safariFilterParams.type" ng-change='vm.search(vm.safariFilterParams.year, vm.safariFilterParams.type)'>
                <option value="">Select Type</option>
                <option value="{{package.value}}" ng-repeat="package in vm.packageTypes">{{package.name}}</option>
              </select>
            </div>
            <div class="col-md-3">
              <select id="year-filter" class="form-control" ng-model="vm.safariFilterParams.year" ng-change='vm.search(vm.safariFilterParams.year,vm.safariFilterParams.type)'>
                <option value="">Select Year</option>
                <option value="{{year}}" ng-repeat="year in vm.years">{{year}}</option>
              </select>
            </div>

          </div>
        </div>
        <div class="col-md-3 pull-right">
          <form name="searchForm" class="form-inline">
            <div class="input-group pull-right">
              <input type="text" class="form-control" ng-model="query" id="searchQuery" placeholder="search package">
              <span class="input-group-btn" style="height: 29px;  ">
                <button class="btn btn-primary btn-md waves-effect waves-light " style="font-size: 12px; line-height: 1.37859" ng-click="vm.search(vm.searchQuery)">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- end of filter panel  -->

<div class="row" ng-show="vm.noRecordsFound">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        No data found.
      </div>
    </div>
  </div>
</div>

<div class="row" ng-hide="vm.noRecordsFound">
  <div class="col-sm-6 col-md-3" ng-repeat="package in vm.packages | filter:query">
    <div class="thumbnail">
      <img ng-src="{{vm.profile_url}}{{package.uuid}}" alt="">
      <div class="caption">
        <div permission="['ORGANISATION_ADMIN']" class="pull-right">
          <a ui-sref="packages.edit({id:package.id})">
            <h5>
              <span class="glyphicon glyphicon-pencil"></span>
            </h5>
          </a>
        </div>
        <h5>{{package.name}} - {{package.year}} </h5>
        <h5 ng-show="package.type === 'INDEPENDENT_TOUR'">{{package.name}}</h5>
        <div>
          <button class="btn btn-primary" ui-sref="packages-detail({groupId: package.id})" role="button">
            View
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="fitModal" role="dialog" aria-labelledby="fitModal" aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document">
    <form name="editForm" role="form" novalidate ng-submit="vm.createProgramme()" show-validation>
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button ng-show="vm.safariFilterParams.type == 'FIT'" type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button> -->
          <h4 class="modal-title" id="myProfessionalLabel">Create FIT</h4>
        </div>
        <!-- <div class="modal-body">
          <div class="row">
            <div class="col-md-4" ng-show="true">
              <div class="form-group">
                <label class="control-label" for="field_startDate">Date of Visit</label>
                <p class="input-group">
                  <input required type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="vm.programme.startDay" is-open="vm.openedFrom"
                    close-text="Close" ng-click="vm.openFrom()" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.openFrom()">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
                </p>
              </div>

            </div>
            <div class="col-md-8">
              <div class="form-group">
                <label class="control-label" for="field_registration">Client Names</label>
                <input type="text" class="form-control" name="registration" id="field_registration" ng-model="vm.programme.reference" placeholder="Samuel Kamochu and Grace Kimani 7 day Mara tour"
                />
              </div>
            </div>
          </div>
   
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label" for="field_name">From Location</label>
                <input type="text" ng-model="vm.programme.startLocationName" placeholder="Ol Tukai Lodge ..." uib-typeahead="loc.name for loc in vm.getLocation($viewValue)"
                  typeahead-loading="loadingStartLocations" typeahead-no-results="noStartResults" typeahead-on-select="vm.onstartDestinationSelected($item, $model)"
                  class="form-control" required>
                <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noStartResults">
                  <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
              </div>


            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label" for="field_name">To Location</label>
                <input type="text" ng-model="vm.programme.endLocationName" placeholder="Ol Tukai Lodge ..." uib-typeahead="address.name for address in vm.getLocation($viewValue)"
                  typeahead-loading="loadingLocations" typeahead-no-results="noResults" typeahead-on-select="vm.onEndDestinationSelected($item, $model)"
                  class="form-control" required>
                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noResults">
                  <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label class="control-label" for="field_registration">No. of Days</label>
                <input type="number" class="form-control" name="registration" id="field_registration" ng-model="vm.programme.numberOfDays"
                  required/>
                <div ng-show="editForm.numberOfNights.$invalid">
                  <p class="help-block" ng-show="editForm.numberOfDays.$error.required">
                    This field is required.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="control-label" for="field_registration">No. of Nights</label>
                <input type="number" class="form-control" name="registration" id="field_registration" ng-model="vm.programme.numberOfNights"
                  required />
                <div ng-show="editForm.numberOfNights.$invalid">
                  <p class="help-block" ng-show="editForm.numberOfNights.$error.required">
                    This field is required.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label" for="field_registration">Currency</label>
                <select class="form-control" id="field_targetId" name="chainId" ng-model="vm.programme.currencyId" ng-options="currency.id as currency.name for currency in vm.currencies">
                  <option value="{{currency.name}}"></option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="field_year">Mark Up (%)</label>
                <input type="number" class="form-control" name="registration" id="field_registration" placeholder="10%" ng-model="vm.programme.generalMarkUp"
                  required/>
                <div ng-show="editForm.numberOfNights.$invalid">
                  <p class="help-block" ng-show="editForm.numberOfNights.$error.required">
                    This field is required.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">

                <label class="control-label" for="field_discription">Description</label>
                <textarea class="form-control" name="discription" id="field_brief" ng-model="vm.programme.description" maxlength="1000" ng-maxlength="200"></textarea>
                <div class="help-block" ng-show="editForm.discription.$viewValue.length == 1000">This field cannot be longer than 200 characters.</div>

              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
            <span data-translate="entity.action.cancel">Cancel</span>
          </button>
          <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;
            <span data-translate="entity.action.save">Save</span>
          </button>
        </div> -->
      </div>
    </form>
  </div>
</div>