<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-12">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active" class="active">
              <a ui-sref="packages">Packages</a>
            </li>
            <li ui-sref-active="active" ng-hide="vm.pakage == null">

              <a ui-sref="packages-detail({groupId: vm.pakage.id})">{{vm.pakage.name}}</a></li>

            <li ui-sref-active="active" class="active">new {{vm.safariFilterParams.type}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end of breadcrumb -->
<!-- filter panel -->
<div class="filter-panel">
  <div class="filter-panel-body">
    <form ng-submit="vm.search()">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <!-- <div class="col-md-3">
                  <select class="form-control" ng-model="vm.entity.type"
                    ng-change='vm.search(year, vm.safariFilterParams.type)' ng-disabled="true">
                    <option value="">Select Type</option>
                    <option value="{{package.value}}" ng-repeat="package in vm.packageTypes">{{package.name}}</option>
                  </select>
                </div> -->
            <div class="col-md-3">
              <select class="form-control" ng-model="vm.entity.target" ng-change='vm.search()'>
                <option value="">Select Target</option>
                <option ng-repeat="obj in vm.organizations" value="{{obj.id}}">{{obj.name}}</option>
              </select>
            </div>
            <div class="col-md-3">
              <select id="year-filter" class="form-control" ng-model="vm.entity.year" ng-change='vm.search()'>
                <option value="">Select Year</option>
                <option ng-repeat="obj in vm.years" value="{{obj}}">{{obj}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-3 pull-right">
          <p class="input-group" style="margin: 0px 0px;">
            <input type="text" class="form-control" placeholder="Contract name" id="BatchSearchText"
              ng-model="vm.entity.name" ng-change="vm.search()" />
            <span class="input-group-btn" style="height: 29px;  ">
              <button class="btn btn-primary btn-md waves-effect waves-light "
                style="font-size: 12px; line-height: 1.37859" type="submit">Go</button>
            </span>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="">
  <div class="col-md-12" style="background: white">

    <div id="wizard-container">

      <div id="wizard-step-container">
        <ul class="nav nav-pills">
          <li ng-repeat="step in vm.steps" ng-show="step.visible" ng-class="{'active':step.step == vm.currentStep}"><a
              ng-click="vm.gotoStep(step.step)" href="">{{step.step}}. {{step.name}}</a></li>
        </ul>
      </div>

      <div id="wizard-content-container" ng-include="vm.getStepTemplate()">
        <!-- <ng-include src="vm.getStepTemplate()"></ng-include> -->

      </div>

      <div id="wizard-navigation-container">
        <div class="pull-right">
          <span class="btn-group" style="margin-bottom: 10px">
            <button ng-disabled="vm.currentStep <= 1" class="btn btn-default" name="previous" type="button"
              ng-click="vm.gotoStep(vm.currentStep - 1)" ng-hide="vm.currentStep == 1"><span
              class="glyphicon glyphicon-arrow-left"></span> Back</button>
            <button ng-disabled="vm.currentStep >= vm.steps.length" class="btn btn-primary" name="next" type="button"
              ng-click="vm.gotoStep(vm.currentStep + 1)" ng-hide="vm.currentStep == 5">Next <span
                class="glyphicon glyphicon-arrow-right"></span></button>
          </span>
          <button ng-disabled="vm.currentStep != vm.steps.length" style="margin-bottom: 10px" class="btn btn-success"
            name="next" type="button" ng-click="vm.save()" ng-hide="vm.currentStep != 5"> <i class="fa fa-floppy-o"></i>
            Save</button>
        </div>
      </div>

    </div>

  </div>
</div>