<div class="row">
    <div class="container">
        <div class="col-md-12 breadcrumb-white-bg">
            <div class="">
                <div class="col-md-8">
                    <ul class="breadcrumb">
                        <li ui-sref-active="active">
                            <a ui-sref="home">Home</a>
                        </li>
                        <li>
                            <a ui-sref="packages">pakages</a>
                        </li>
                        <li ng-show="vm.pakage.type === 'SET_DEPARTURE'" ui-sref-active="active" class="active">{{vm.pakage.name }} {{vm.pakage.year }}
                        </li>
                        <li ng-show="vm.pakage.type !== 'SET_DEPARTURE'" ui-sref-active="active" class="active">{{vm.pakage.name }}
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="breadcrumb-btns">
                        <ul class="nav nav-pills pull-right">
                            <li permission="['ORGANISATION_ADMIN']">
                                <button class="btn btn-primary btn-sm" ui-sref="packages-detail({id: vm.pakage.id})">
                                    <span class=" glyphicon glyphicon-edit "></span>
                                    Manage Package
                                </button>
                            </li>
                            <li>
                                <!-- <button class="btn btn-primary btn-sm ">
                                    <span class="glyphicon glyphicon-plus "></span>
                                    Add {{vm.pakage.name}}
                                </button> -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="container">
        <!-- filter panel -->
        <div class="filter-panel ">
            <div class="filter-panel-body">
                <form>
                    <div class="row">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4 pull-right">
                            <form name="searchForm" class="form-inline">
                                <div class="input-group pull-right">
                                    <input type="text" class="form-control" ng-model="query" placeholder="search {{vm.pakage.name}}" ng-change="vm.search(query)">
                                    <span class="input-group-btn" style="height: 29px;  ">
                                        <button class="btn btn-primary btn-md waves-effect waves-light " style="font-size: 12px; line-height: 1.37859" ng-click="vm.search(query)">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- end of filter panel  -->
    </div>
</div>




<div class="row ">

    <div class="container">

        <!-- <div class="row ">
        <div class="col-md-6 ">
            <h4>Programmes </h4>
        </div>
    </div> -->

        <div class="panel panel-default " ng-hide="vm.programmesFound ">
            <div class="panel-body ">
                No data found.
            </div>
        </div>

        <div class="row " ng-show="vm.programmesFound ">
            <div class="col-md-6" ng-repeat="programme in vm.searchedProgrammes">
                <!-- {{programme}} -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#" ui-sref="programme-detail-view({progId: programme.id}) ">
                            <strong>{{programme.reference | uppercase}}; {{programme.numberOfDays}} DAYS, {{programme.numberOfNights}}
                                NIGHTS
                            </strong>
                        </a>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-5">
                                From :
                                <strong>{{programme.startLocationName}}</strong>
                            </div>

                            <div class="col-md-5">
                                To :
                                <strong>{{programme.endLocationName}}</strong>
                            </div>
                            <div class="col-md-2">
                                <button ui-sref="programme-detail-view({progId: programme.id}) " class="btn btn-primary btn-sm">
                                    View
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>