<div class="panel panel-default" ng-show="vm.entity == null">
  <div class="panel-body">
    No records found
  </div>
</div>

<div class="">
  <div class="col-sm-6 col-md-12" ng-repeat="record in vm.entity">

    <div class="thumbnail">
      <div class="caption">
        <div class="pull-right" ng-show="!vm.WelcomePacksState">
          <a ui-sref="requirements.edit({requirementsId:record.id})">
            <h5>
              <span class="glyphicon glyphicon-pencil"></span>
            </h5>
          </a>
        </div>
        <div class="pull-right" ng-show="vm.WelcomePacksState">
          <a ui-sref="location-requirements.edit({requirementsId:record.id})">
            <h5>
              <span class="glyphicon glyphicon-pencil"></span>
            </h5>
          </a>
        </div>
        <h5>
          <span class="reqUpperCase">{{record.name}}</span> per <span class="lowercase">{{record.objectType}}</span> <span ng-show="record.price != null || record.price > '0'">at <strong>{{record.price}}</strong> {{record.currencyName}} </span>. <br>
          <small ng-show="record.optional == false"> Optional </small>
        </h5>

        <span class="label label-info">{{record.serviceCategory}}</span>

        <hr>

        <h4 class="reqUpperCase">Basic Information</h4>

        <ul>
          <li>Provided per <span ng-show="record.perTrip == true">Day</span> <span ng-show="record.perTrip != true">Trip</span> .</li>
          <li><span>{{record.generalServiceName}}</span> Service type offered by <strong>{{record.supplierName}} </strong>.</li>
          <li ng-show="record.description !=null">{{record.description}}</li>
          <li ng-show="record.notes !=null">{{record.notes}}</li>
        </ul>


        <!-- <p>• Provided per <span ng-show="record.perTrip == true">Day</span> <span ng-show="record.perTrip != true">Trip</span> .</p>
        <p>• <span>{{record.generalServiceName}}</span> Service type offered by <strong>{{record.supplierName}} </strong>.</p>
        <p ng-show="record.description !=null">• {{record.description}}</p>
        <p ng-show="record.notes !=null">• {{record.notes}}</p> -->

        <div class="text-right" ng-show="!vm.WelcomePacksState">
          <a href="#" class="btn btn-danger " role="button" ui-sref="requirements.delete({requirementsId: record.id})">
            <span class="glyphicon glyphicon-trash"></span>
          </a>
        </div>
        <div class="text-right" ng-show="vm.WelcomePacksState">
          <a href="#" class="btn btn-danger " role="button" ui-sref="location-requirements.delete({requirementsId: record.id})">
            <span class="glyphicon glyphicon-trash"></span>
          </a>
        </div>


      </div>
    </div>
  </div>

  <!-- {{vm.entity}} -->

</div>
