<!-- breadcrumb -->
<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="settings">Settings</a>
            </li>
            <li ui-sref-active="active">Age Limits</li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="breadcrumb-btns">
            <ul class="nav nav-pills pull-right">
              <li>
                <button type="button" class="btn btn-default btn-sm" ui-sref="settings-age-limits.new">
                  <span class="glyphicon glyphicon-plus"></span>
                  <span class="hidden-xs-down">
                    Age Bracket
                  </span>
                </button>
              </li>
              <li>
                <div ng-include="'core/routes/settings/settings-menu/settings-navbar.html'"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">

  <div class="col-md-3">
    <div class="panel panel-default">
      <!-- <img class="img-responsive" ng-src="{{vm.profile_image_url}}" alt="{{ vm.account.name }}"> -->
      <div ng-include="'core/routes/settings/settings-menu/settings-menu.html'"></div>
    </div>
  </div>

  <div class="col-md-9" ng-hide="vm.recordsFound">
    <div class="panel panel-default">
      <div class="panel-body">
        No records found.
      </div>
    </div>
  </div>

  <div class="col-md-9" ng-show="vm.recordsFound">
    <div class="row">
      <div class="col-sm-6 col-md-4" ng-repeat="record in vm.records track by record.id">
        <div class="thumbnail">
          <div class="caption">
            <h4>{{record.generalAgeBracketName | uppercase }}</h4>
            <hr />
            <p><strong>{{record.minAge}} </strong> YEARS {{record.upperLimitType}} <strong>{{record.maxAge}}</strong>
              YEARS</p>
            <p>Notes: {{record.notes}}</p>
            <p>
              <a href="#" class="btn btn-primary" role="button"
                ui-sref="settings-age-limits.edit({id: record.id})">Edit</a>

              <a href="#" class="btn btn-danger pull-right" role="button"
                ui-sref="settings-age-limits.delete({id: record.id})">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
