<div>
  <h2><span>Age Limit</span> {{vm.ageLimit.id}}</h2>
  <hr>
  <jhi-alert-error></jhi-alert-error>
  <dl class="dl-horizontal jh-entity-details">
    <dt><span>Name</span></dt>
    <dd>
      <span>{{vm.ageLimit.generalAgeBracketName}}</span>
    </dd>
    <dt><span>Brief</span></dt>
    <dd>
      <span>{{vm.ageLimit.brief}}</span>
    </dd>
    <dt><span>Minimum Age</span></dt>
    <dd>
      <span>{{vm.ageLimit.minAge}}</span>
    </dd>

    <dt><span>Maximum Age</span></dt>
    <dd>
      <span>{{vm.ageLimit.maxAge}}</span>
    </dd>
    <dt><span>Age Limit Type</span></dt>
    <dd>
      <span>{{vm.ageLimit.upperLimitType}} <br> </span>
    </dd>
    <dt><span>Description</span></dt>
    <dd>
      <span>{{vm.ageLimit.description}} <br> </span>
    </dd>
   
  </dl>

  <button type="submit" ui-sref="{{ vm.previousState }}" class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
        </button>
  <button type="button" ui-sref="age-limits.edit({id:vm.ageLimit.id})" class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="hidden-sm-down"> Edit</span>
        </button>
</div>
