<form name="editForm" class="form" role="form" novalidate ng-submit="vm.save()" show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myOperatingHoursLabel">Edit This Age Limit</h4>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <div class="row">
      <div class="form-group col-md-3">
        <label for="field_generalAgeBracketId">Name</label>
        <select class="form-control" id="field_generalAgeBracketId" name="generalAgeBracketId" ng-model="vm.ageLimit.generalAgeBracketId"
          ng-options="generalAgeLimit.id as generalAgeLimit.name for generalAgeLimit in vm.generalAgeLimits">
          <option value=""></option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label class="control-label" for="field_minAge">Min Age</label>
        <input type="text" class="form-control" name="minAge" id="field_minAge" ng-model="vm.ageLimit.minAge" required/>
      </div>
      <div class="form-group col-md-3">
        <label for="field_upperLimitType">Age Limit Type</label>
        <select class="form-control" id="field_upperLimitType" name="upperLimitType" ng-model="vm.ageLimit.upperLimitType">
          <option value=""></option>
          <option value="UPTO">UPTO</option>
          <option value="UNDER">UNDER</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label class="control-label" for="field_maxAge">Max Age</label>
        <input type="text" class="form-control" name="maxAge" id="field_maxAge" ng-model="vm.ageLimit.maxAge" required/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="field_notes">Special Notes</label>
      <textarea class="form-control" name="notes" id="field_notes" ng-model="vm.ageLimit.notes"></textarea>
      <div ng-show="editForm.notes.$invalid">
        <p class="help-block" ng-show="editForm.notes.$error.maxlength">
          This field cannot be longer than 1000 characters.
        </p>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
        data-translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
    </button>
  </div>
</form>
