<form name="deleteForm" ng-submit="vm.confirmDelete(vm.ageLimit.id)">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title">Confirm delete operation</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p>Are you sure you want to delete Age Limit <strong>{{vm.ageLimit.generalAgeBracketName}}</strong>?</p>
    </div>
    <div class="modal-footer">
      <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
          <span>Delete</span>
      </button>

        <button type="button" class="btn btn-default flatBtn" data-dismiss="modal" ng-click="vm.clear()">
            <span>Cancel</span>
        </button>

    </div>
</form>
