
<form name="editForm" role="form" novalidate ng-submit="vm.save()">  
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAssiciation">Association for {{vm.association.parentName}}</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        
        <div class="form-group">
            <label class="control-label" for="field_childName">Child Name</label>
            <input type="text" class="form-control" name="childName" id="field_childName" ng-model="vm.association.childName" required/>
            <div ng-show="editForm.childName.$invalid">
              <p class="help-block" ng-show="editForm.childName.$error.required">
                This field is required.
              </p>
            </div>     
           
        </div>
        <div class="form-group">
            <label class="control-label" for="field_typeName">Association Type</label>
            <input type="text" class="form-control" name="typeName" id="field_typeName" ng-model="vm.association.typeName" required/>
            <div ng-show="editForm.typeName.$invalid">
              <p class="help-block" ng-show="editForm.name.$error.required">
                This field is required.
              </p>
            </div>
          </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
        