

<div>
        <h2><span>Association</span> {{vm.association.id}}</h2>
        <hr>
        <jhi-alert-error></jhi-alert-error>
        <dl class="dl-horizontal jh-entity-details">
            <dt><span>Parent Id</span></dt>
            <dd>
                <span>{{vm.association.parentId}}</span>
            </dd>
           
            <dt><span>Parent Name</span></dt>
            <dd>
                <span>{{vm.association.parentName}}</span>
            </dd>
            <dt><span>Association Type</span></dt>
            <dd>
                <span>{{vm.association.typeName}}</span>
            </dd>
            <dt><span>Child Id</span></dt>
            <dd>
                <span>{{vm.association.childId}}</span>
            </dd>
            <dt><span>Child Name</span></dt>
            <dd>
                <span>{{vm.association.childName}}</span>
            </dd>
            
        </dl>
    
        <button type="submit"
                ui-sref="{{ vm.previousState }}"
                class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
        </button>
    
        <button type="button" ui-sref="associations.edit({id:vm.association.id})" class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
        </button>
    </div>
    