<!-- breadcrumb -->
<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="settings">Settings</a>
            </li>
            <li ui-sref-active="active">Child Policies</li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="breadcrumb-btns">
            <ul class="nav nav-pills pull-right">
              <li>
                <button class="btn btn-default btn-sm" ui-sref="settings-policies.new">
                  <span class="glyphicon glyphicon-plus"></span>
                  <span class="hidden-xs-down">
                    Policy
                  </span>
                </button>
              </li>
              <li>
                <div ng-include="'core/routes/settings/settings-menu/settings-navbar.html'"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <!-- <img class="img-responsive" ng-src="{{vm.profile_image_url}}" alt="{{ vm.account.name }}"> -->
      <div ng-include="'core/routes/settings/settings-menu/settings-menu.html'"></div>
    </div>
  </div>
  <div class="col-md-9" ng-show="vm.policies.length == 0">
    <div class="panel panel-default">
      <div class="panel-body">
        No records found.
      </div>
    </div>
  </div>

  <div class="col-md-9" ng-show="vm.policies.length != 0">
    <!--  -->
    <div class="panel panel-default" ng-repeat="entity in vm.policies track by entity.id">
      <div class="panel-heading">

        <strong style="color:green">{{entity.name}}

        </strong>

        <div class="pull-right" ng-show="entity.organisationId == vm.currentOrganisation.id">
          <button type="button" class="btn btn-default btn-xs"
            ui-sref="settings-policies.createRules({ occupancyPolicyId: entity.id })">
            <span class="glyphicon glyphicon-plus-sign"></span>&nbsp; Rules</button>

          <!-- <button ng-show="vm.parent.id" type="button" class="btn btn-info btn-xs" ui-sref="settings-policies.copy({ occupancyPolicyId: entity.id, currentOrg: entity.organisationId, parent: vm.parent.id})">
            <i class="glyphicon glyphicon-copy"></i> Copy{{vm.parent.id}} </button> -->

          <button type="button" class="btn btn-default btn-xs" ui-sref="settings-policies.edit({ id: entity.id })">
            <span class="glyphicon glyphicon-edit"></span>
            &nbsp; edit</button>
          <button class="btn btn-danger btn-xs" style="margin-right: 20px;" type="button"
            ui-sref="settings-policies.delete({ id: entity.id })">
            <span class="glyphicon glyphicon-trash"></span>
          </button>

        </div>
      </div>
      <div class="panel-body">

        <li ng-repeat="rule in entity.occupancyRulesDTOList" class="list-group-item">
          {{rule.description}}
          <!-- <span ui-sref="settings-policies.editRules({ruleId: rule.id})" style="cursor: pointer; color:skyblue;" class="glyphicon glyphicon-eye-open"></span> -->
          <div class="pull-right">


            <button type="submit" ui-sref="settings-policies.viewRules({ruleId: rule.id})"
              class="btn btn-primary btn-xs" style="padding-left:5px">
              <span class="glyphicon glyphicon-eye-open"></span>
              <span class="hidden-sm-down"></span>
            </button>

            <button type="submit" ng-show="entity.organisationId == vm.currentOrganisation.id"
              ui-sref="settings-policies.editRules({ruleId: rule.id})" class="btn btn-primary btn-xs">
              <span class="glyphicon glyphicon-pencil"></span>
              <span class="hidden-sm-down"></span>
            </button>

            <button type="submit" ng-show="entity.organisationId == vm.currentOrganisation.id"
              ui-sref="settings-policies.deleteRules({ruleId: rule.id})" class="btn btn-danger btn-xs">
              <span class="glyphicon glyphicon-remove"></span>
              <span class="hidden-sm-down"></span>
            </button>
          </div>
        </li><br />

        <!-- </ul>
        </div> -->

      </div>
      <div class="panel-footer">
        <div class="row">
          <div ng-show="(entity.default == false) && (entity.organisationId == vm.currentOrganisation.id)">
            <p style="margin-left:20px">
              Applicable to:
              <span ng-repeat="room in entity.roomCategoryDTOList">
                <span class="label label-default" style="margin-left: 8px">
                  {{room.name}}
                  <a ui-sref="settings-policies.deleteRoomCategory({ categoryToDelete: room.id})">
                    <strong class="label label-danger">X</strong>
                  </a>
                </span>
              </span>
              <button class="btn btn-primary btn-xs pull-right" style="margin-right: 20px;" type="button"
                ui-sref="settings-policies.addRoomCategory({occupancyPolicyId: entity.id})">
                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Room Category
              </button>
            </p>
          </div>

          <div ng-show="entity.default == true">
            <p style="margin-left:20px">
              Applicable to All Room Categories
            </p>
          </div>
        </div>

      </div>

    </div>
  </div>
