<form name="editForm" role="form" novalidate show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myLocationLabel">Edit a Policy</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <h4>Policies</h4>

      <table class="table table-striped table-bordered">
        <thead>
          <th>No.of Adult</th>
          <th>Adult Room Occupancy</th>
          <th>Adult Rate</th>
          <th>No.of Children</th>
          <th>Children Room Occupancy</th>
          <th>Children Rate</th>
        </thead>
        <tbody>
          <tr ng-repeat="policy in vm.policyItems">
            <td>
              <input type="number" ng-model="policy.adults" class="form-control" min="0" max="100" />
            </td>
            <td>
              <select class="form-control" ng-model="policy.adultRoomOccupancyId" ng-options="obj.id as obj.generalRoomOccupancyName for obj in vm.roomOccupancies">

              </select>
            </td>
            <td>
              <input type="number" ng-model="policy.adultRate" class="form-control" min="0" max="100" />
            </td>
            <td>
              <input type="number" ng-model="policy.children" class="form-control" min="0" max="100" />
            </td>
            <td>
              <select class="form-control" ng-model="policy.childrenRoomOccupancyId" ng-options="obj.id as obj.generalRoomOccupancyName for obj in vm.roomOccupancies">

              </select>
            </td>
            <td>
              <input type="number" ng-model="policy.childrenRate" class="form-control" min="0" max="100" />
            </td>
            <td>
              <button ng-hide="policy.id != null" class="btn btn-danger" ng-click="vm.removePolicy($index)">X</button>
            </td>
          </tr>
        </tbody>
      </table>


    </div>
    <div class="form-group">
      <button class="btn btn-default" ng-click="vm.addPolicyRow()">
        <span class="glyphicon glyphicon-plus"></span>&nbsp; Row</button>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
        <span>Cancel</span>
      </button>
      <button  ng-click="vm.save()" type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;
        <span>Save</span>
      </button>
    </div>
</form>
