<!-- <form name="deleteForm" ng-submit="vm.confirmDelete()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title">Confirm Copy policies</h4>
  </div>
  <div class="modal-body">
    <p ng-show="vm.isPolicy" >Are you sure you want to copy <strong> {{vm.entity.name}} </strong> policy?</p>
    <p ng-show="vm.isRule">Are you sure you want to delete <strong> {{vm.entity.description}} </strong> rule?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
      <span>Cancel</span>
    </button>
    <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
      <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;
      <span>Delete</span>
    </button>
  </div>
</form> -->
<!-- breadcrumb -->
<form name="editForm" role="form" novalidate ng-submit="vm.save()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myRoomLabel">Occupancy Policy</h4>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <div class="row">
        <div class="col-md-12">
          <div class="form-group">
              <select class="form-control" ng-model="vm.entity.targetId" ng-options="organization.id as organization.name for organization in vm.organizations" ng-change="vm.selectedOrg(vm.entity.organisationId)" >
                  <option value="" selected>Select Organization</option>
                  </select>
          </div>
        </div>
    </div>    
    <div class="row">
      <div class="col-md-3">
          <div class="form-group">
        <label class="control-label" for="field_isDefault"> Is Default?</label> <br />
        <input type="checkbox" class="form-check-input" ng-model="vm.entity.isDefault" ng-click="vm.setIsDefaut()">
      </div>
      </div>

      <div class="col-md-9">
        <div class="form-group">
          <label class="control-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.entity.name" />
        </div>
      </div>
    
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="col-md-3">
                <div class="form-group">
              <label class="control-label" for="field_isDefault"> Copy rules?</label> <br />
              <input type="checkbox" class="form-check-input" ng-model="vm.entity.copyRules">
            </div>
            </div>
        </div>
    </div>
  </div>
  {{vm.entity}}
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
      <span data-translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;
      <span data-translate="entity.action.save">Save</span>
    </button>
  </div>
</form>
