<div>
    <h2>Users</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="organization-users.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down" >
                       Add a user
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>Login</span></th>
                    <th><span>Full Names</span></th>
                    <th><span>Email Address</span></th>
                    <th><span>Activation</span></th>
                    <th><span>Language</span></th>
                    <th><span>Created on</span></th>
                    <th><span>Authorities</span></th>
                    <!-- <th></th> -->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in vm.users track by user.id">
                    <td>{{user.login}}</td>
                    <td>{{user.firstName}} {{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.activated}}</td>
                    <td>{{user.langKey}}</td>
                    <td>{{user.createdDate}}</td>
                    <td><span  ng-repeat="authority in user.authorities"> {{authority}} <br> </span></td>
                    <!-- <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="menu-detail({id:menu.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="menus.edit({id:menu.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="menus.delete({id:menu.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td> -->
                </tr>
            </tbody>
        </table>
    </div>
  </div>