<form name="editForm" role="form" novalidate ng-submit="vm.create()" show-validation>
    
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLocationLabel">Create User</h4>
      </div>
      <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
          <label class="control-label" for="field_fullname">Fullname</label>
          <input type="text" class="form-control" name="fullname" id="field_fullname" ng-model="vm.user.fullName" required/>
        </div>

        <div class="form-group">
          <label class="control-label" for="field_emailAddress">Email Address</label>
          <input type="email" class="form-control" name="emailAddress" id="field_emailAddress" ng-model="vm.user.emailAddress" required/>
          <div ng-show="editForm.emailAddress.$invalid">
            <p class="help-block" ng-show="editForm.emailAddress.$error.required">
              This field is required.
            </p>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="field_langKey">Language Key</label>
          <input type="text" class="form-control" name="langKey" id="field_langKey" ng-model="vm.user.langKey" required/>
          <div ng-show="editForm.langKey.$invalid">
            <p class="help-block" ng-show="editForm.langKey.$error.required">
              This field is required.
            </p>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                    </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
                    </button>
      </div>
    </form>
    