<div>
  <h2><span>Organization </span> {{vm.organizationUser.id}}</h2>
  <hr>
  <jhi-alert-error></jhi-alert-error>
  <dl class="dl-horizontal jh-entity-details">
    <dt><span>First Name</span></dt>
    <dd>
      <span>{{vm.organizationUser.firsrname}}</span>
    </dd>
    <dt><span>Last Name</span></dt>
    <dd>
      <span>{{vm.organizationUser.lastName}}</span>
    </dd>
    <dt><span>Profile</span></dt>
    <dd>
      <span>{{vm.organizationUser.login}}</span>
    </dd>
    <dt><span>Email</span></dt>
    <dd>
      <span>{{vm.organizationUser.email}}</span>
    </dd>
    <dt><span>Activation Reason</span></dt>
    <dd>
      <span>{{vm.organizationUser.activated}}</span>
    </dd>
    <dt><span>Language</span></dt>
    <dd>
      <span>{{vm.organizationUser.langKey}}</span>
    </dd>
    <dt><span>Created By</span></dt>
    <dd>
      <span>{{vm.organizationUser.createdBy}}</span>
    </dd>
    <dt><span>Created Date</span></dt>
    <dd>
      <span>{{vm.organizationUser.createdDate}}</span>
    </dd>
    <dt><span>Last Modified By</span></dt>
    <dd>
      <span>{{vm.organizationUser.lastModifiedBy}}</span>
    </dd>
    <dt><span>Image </span></dt>
    <dd>
      <span>{{vm.organizationUser.imageUrl}}</span>
    </dd>
    <dt><span>Authorities </span></dt>
    <dd ng-repeat="authority in vm.organizationUser.authorities">
      <span>{{authority}}</span>
    </dd>
    
  </dl>

  <button type="submit" ui-sref="{{ vm.previousState }}" class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
        </button>
  <button type="button" ui-sref="organizations.edit({id:vm.organization.id})" class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="hidden-sm-down"> Edit</span>
        </button>
</div>
