<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myDocumentLabel">Edit {{vm.document.name}} Document</h4>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <div class="form-group">
      <label class="control-label" for="field_name">Name</label>
      <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.document.name" required/>
      <div ng-show="editForm.name.$invalid">
        <p class="help-block" ng-show="editForm.name.$error.required">
          This field is required.
        </p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="field_type">Type</label>
      <input type="text" class="form-control" name="type" id="field_type" ng-model="vm.document.type" required/>
      <div ng-show="editForm.type.$invalid">
        <p class="help-block" ng-show="editForm.type.$error.required">
          This field is required.
        </p>
      </div>
    </div>
    
        <div class="form-group">
          <label class="control-label" for="field_objectType">Document Type</label>
          <select class="form-control" id="field_objectType" name="objectType" 
          ng-model="vm.document.id" 
          ng-options="documentType.id as documentType.objectType for documentType in vm.documentTypes">
          <option value=""></option>
      </select> 
      </div>
      <div class="form-group">
        <label class="control-label" for="field_renewalCycle">Renewal Cycle</label>
        <select class="form-control" id="field_renewalCycle" name="renewalCycle" 
        ng-model="vm.document.id" 
        ng-options="documentType.id as documentType.renewalCycle for documentType in vm.documentTypes">
        <option value=""></option>
    </select> 
    </div>
    <div class="form-group">
      <label class="control-label" for="field_brief">Brief</label>
      <textarea class="form-control" name="brief" 
            id="field_brief" ng-model="vm.document.brief"></textarea>
      <div ng-show="editForm.brief.$invalid">
        <p class="help-block" ng-show="editForm.brief.$error.maxlength">
          This field cannot be longer than 1000 characters.
        </p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="field_description">Description</label>
      <textarea class="form-control" name="description" 
            id="field_description" ng-model="vm.document.description"></textarea>
      <div ng-show="editForm.description.$invalid">
        <p class="help-block" ng-show="editForm.description.$error.maxlength">
          This field cannot be longer than 1000 characters.
        </p>
      </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="field_notes">Special Notes</label>
        <input type="text" class="form-control" name="notes" id="field_notes" ng-model="vm.document.notes" required/>
        <div ng-show="editForm.notes.$invalid">
          <p class="help-block" ng-show="editForm.abbreviation.$error.required">
            This field is required.
          </p>
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
                </button>
  </div>
</form>
