
<div class="row">
    <div class="container">
      <div class="col-md-12 breadcrumb-white-bg">
        <div class="">
          <div class="col-md-8">
              <ul class="breadcrumb">
                  <li ui-sref-active="active">
                    <a ui-sref="home">Home</a>
                  </li>
                  <li ui-sref-active="active">
                    <a ui-sref="documents">Document Category</a>
                  </li>
                  <li ui-sref-active="active" class="active">{{vm.generalDocument.name}}</li>
                </ul>
          </div>
          <div class="col-md-4">
            <div class="breadcrumb-btns">
              <ul class="nav nav-pills pull-right">
                <li>
                  <button type="button" ng-hide="vm.generalDocument.contentStatus === 'DELETED'" class="btn btn-danger   btn-sm" ui-sref="document-detail.delete({id: vm.generalDocument.id})">
                    <span class="glyphicon glyphicon-trash"></span>
                    <span class="hidden-xs-d">
                      Delete Document
                  </button>
                </li>
                <li>
                  <button type="button" class="btn btn-default btn-sm more" data-toggle="dropdown">... </button>
                  <ul class="dropdown-menu btn" role="menu">
                    <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                      <a ui-sref="settings-operating-hours">Operating Hours</a>
                    </li>
                    <li permission="['PROPERTY_USER']" ui-sref-active="active" role="presentation">
                      <a ui-sref="settings-meal-plans">Meal Plans</a>
                    </li>
                    <li permission="['D_AUTHORITY_USER', 'PROPERTY_USER', 'RESTAURANT_USER', 'TRANSPORTER_USER', 'PROFESSIONAL_USER']" ui-sref-active="active"
                      role="presentation">
                      <a ui-sref="settings-age-limits">Age Limits</a>
                    </li>
                    <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                      <a ui-sref="settings-organization-relationships">Memberships & Associations</a>
                    </li>
                    <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                      <a ui-sref="settings-documents">My Documents</a>
                    </li>
                    <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                      <a ui-sref="settings-markets">Markets</a>
                    </li>
                    <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                      <a ui-sref="settings-seasons">Seasons</a>
                    </li>
                    <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                      <a ui-sref="settings-day-bands">Day Bands</a>
                    </li>
                    <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                      <a ui-sref="settings-special-days">Special Days</a>
                    </li>
                    <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                      <a ui-sref="settings-services">Services</a>
                    </li>
                    <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                      <a ui-sref="settings-policies">Policies</a>
                    </li>
                    <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                      <a ui-sref="settings-users">Users</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
  <div class="row">
    <ul class="breadcrumb">
      <li ui-sref-active="active">
        <a ui-sref="home">Home</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="documents">Document Category</a>
      </li>
      <li ui-sref-active="active" class="active">{{vm.generalDocument.name}}</li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="image-container">
          <img class="img-responsive" ng-src="http://51.15.199.15:8080/mediaservice/api/albums/get-profile/{{vm.generalDocument.uuid}}"
            alt="{{ vm.generalDocument.name }}">
          <a ui-sref="document-detail.profile" class="icon-choose-image">
            <img src="images/camera.png">
          </a>
        </div>
        <div class="panel-body">
          <h4>{{vm.generalDocument.name}}</h4>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="document-detail({id: vm.generalDocument.id})">Overview</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="pull-right">
                <a ui-sref="documents.edit({id:vm.generalDocument.id})">
                  <h3>
                    <span class="glyphicon glyphicon-pencil"></span>
                  </h3>
                </a>
              </div>
              <h2>{{vm.generalDocument.name}}</h2>
              {{vm.generalDocument.description}}
            </div>
          </div>
          <div class="panel panel-default" ng-hide="vm.objectDocumentsFound">
            <div class="panel-body">
              No data found.
            </div>
          </div>


          <div class="row" ng-show="vm.objectDocumentsFound">
            <div class="col-md-6" ng-repeat="objectDocument in vm.objectDocuments">
              <div class="thumbnail">
                <img src="images/image-placeholder.svg" alt="">
                <div class="caption">
                  <h5>{{objectDocument.name}}</h5>
                  <p>{{objectDocument.description}}</p>
                  <!-- <p><a class="btn btn-primary" role="button" ui-sref="documents-own-detail({id: objectDocument.id})">View</a></p> -->
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="">
              <table class="table">
                <tr>
                  <td>
                    <strong>Document Type</strong>
                  </td>
                  <td>
                    {{vm.generalDocument.type}}
                  </td>
                </tr>

                <tr>
                  <td>
                    <strong>Object Type</strong>
                  </td>
                  <td>
                    {{vm.generalDocument.objectType}}
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Renewal Cycle</strong>
                  </td>
                  <td>
                    {{vm.generalDocument.renewalCycle}}
                    </span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
