<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myOperatingHoursLabel">Add Labels</h4>
  </div>
  <div class="modal-body">
    <div class="form-group" ng-repeat="labelGroup in  vm.labelGroups" ng-hide="vm.noGroupsFound">
      <label for="">{{labelGroup.name}}</label>
      <br>
      <span ng-repeat="label in labelGroup.labels">
        <div class="checkbox-inline" style="padding-top: 5px;" ng-hide="vm.checkIfExists(label.id)">
          <label>
            <input type="checkbox" id="{{label.id}}" value="{{label.id}}" ng-checked="vm.selectedLabels.indexOf(label) > -1" ng-click="vm.toggleSelection(label)"> {{label.name}}
          </label>
        </div>
      </span>
    </div>

    <div ng-show="vm.noGroupsFound">
      <p>No labels applicable.</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
      <span>Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary" ng-hide="vm.noGroupsFound">
      <span class="glyphicon glyphicon-save"></span>&nbsp;
      <span>Save</span>
    </button>
  </div>
</form>
