<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="settings">Settings</a>
            </li>
            <li ui-sref-active="active">Welcome Packs</li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="breadcrumb-btns">
            <ul class="nav nav-pills pull-right">
              <li>
                <button class="btn btn-default btn-sm" ui-sref="welcome-packs.new">
                  <span class="glyphicon glyphicon-plus"></span>
                  <span class="hidden-xs-down">
                    Add Welcome Pack
                  </span>
                </button>
              </li>
              <li>
                <div ng-include="'core/routes/settings/settings-menu/settings-navbar.html'"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <!-- <img class="img-responsive" ng-src="{{vm.profile_image_url}}" alt="{{ vm.account.name }}"> -->
      <div ng-include="'core/routes/settings/settings-menu/settings-menu.html'"></div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row">



      <div class="col-sm-6 col-md-4" ng-repeat="record in vm.entity track by record.id">
        <div class="thumbnail">
          <div class="caption">
            <div class="pull-right">
              <a ui-sref="welcome-packs.edit({id:record.id})">
                <h5>
                  <span class="glyphicon glyphicon-pencil"></span>
                </h5>
              </a>
            </div>
            <h4 class="uppercaseName">{{record.name}}</h4>
            <hr ng-show="record.isDefault">
            <label class="label label-primary" ng-show="record.isDefault">Default</label>
            <hr>
            <label class="label label-info">{{record.safariType}}</label>
            <label class="label label-info">{{record.travellerProfile}}</label>
            <hr>
            <h4 class="uppercaseName">Description</h4>
            <p class="capitalize">{{record.description}}</p>
            <hr>
            <p>
              <a href="#" class="btn btn-primary" role="button" ui-sref="requirements({packId: record.id})">View</a>

              <a href="#" class="btn btn-danger pull-right" role="button"
                ui-sref="welcome-packs.delete({id: record.id})">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>