<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="col-md-7">
        <ul class="breadcrumb">
          <li ui-sref-active="active">
            <a ui-sref="home">Home</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings">Settings</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="welcome-packs">Welcome Packs</a>
          </li>
          <!-- <li ui-sref-active="active">{{vm.entity.packName}}</li> -->
          <li ui-sref-active="active" class="active">Requirements</li>

             <!-- <li ui-sref-active="active">
               <a ui-sref="requirements({id: vm.entity.id})">{{vm.entity.serviceName}}</a>
             </li> -->
           </ul>
         </div>
         <div class="col-md-5">
           <div class="breadcrumb-btns">
             <ul class="nav nav-pills">
               <li class="pull-right">
                 <button class="btn btn-default btn-sm" ui-sref="requirements.new">
                   <span class="glyphicon glyphicon-plus-sign"></span>
                   <span class="hidden-xs-down">
                     Add Requirement
                   </span>
                 </button>
               </li>
               <!-- <li>
                 <div ng-include="'core/routes/settings/settings-menu/settings-navbar.html'"></div>
               </li> -->
             </ul>
           </div>
         </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div ng-include="'core/routes/settings/settings-menu/settings-menu.html'"></div>
      </div>
    </div>
<!--
    <div class="col-md-9" ng-show="vm.records">
      <div class="alert alert-success alert-dismissible fade in" ng-show="vm.dragAlert === true">
        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>To sort, drag the meal Types to desired positions</strong>
      </div>
    </div> -->
    <!-- compressed rates table -->
    <div class="col-md-9">
      <div ng-include="'core/routes/requirements/requirements.html'"></div>
    </div>
    <!-- compressed rates table div-->
  </div>
</div>
