
<form name="editForm" role="form" novalidate ng-submit="vm.save()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myRoomLabel">Create a Welcome Pack</h4>
  </div>
  <div class="modal-body">
    <div class="">
      <div class="panel-body">


        
        <div class="form-group">
          <label class="control-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.entity.name" />
        </div>
        <div class="form-group">
          <label class="control-label" for="field_description">Description</label>
          <textarea class="form-control" name="description" id="field_description"
            ng-model="vm.entity.description"></textarea>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class=" form-group">
              <label class="control-label" for="field_safariType">Safari Type</label>
              <select class="form-control" id="field_safariType" name="safariType" ng-model="vm.entity.safariType" ng-options="safariType as safariType for safariType in vm.safariType">
                <option value="" disabled selected>Select your option</option>
                <option value="{{safariType}}"></option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class=" form-group">
              <label class="control-label" for="field_travellerProfile">Traveller Profile</label>
              <select class="form-control" id="field_travellerProfile" name="travellerProfile" ng-model="vm.entity.travellerProfile" ng-options="travellerProfile as travellerProfile for travellerProfile in vm.travellerProfile" required>
                <option value="" disabled selected>Select your option</option>
                <!-- <option value="{{travellerProfile}}"></option> -->
              </select>
            </div>
          </div>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="vm.entity.isDefault" />
            <strong>Is Default</strong>
          </label>
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
          data-translate="entity.action.cancel">Cancel</span>
      </button>
      <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
      </button>
    </div>
</form>

<style>
  .list-group-item {
    background-color: #f8f8f8;
    margin-top: 10px;
  }

  .margin-top-10 {
    margin-top: 10px;
  }
</style>