<div class="container">
  <div class="row">
    <div class="col-md-9">
      <ul class="breadcrumb" ng-show="vm.previousState != 'location-events'">
        <li ui-sref-active="active">
          <a ui-sref="home">Home</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="events">Events</a>
        </li>
        <li ui-sref-active="active" class="active">
          <a ui-sref="full-event-detail({id: vm.fullEvent.id})">{{vm.fullEvent.name}} </a>
        </li>
        <li ui-sref-active="active" class="active">{{vm.event.name}}</li>
      </ul>
      <ul class="breadcrumb" ng-show="vm.previousState == 'location-events'">
        <li ui-sref-active="active">
          <a ui-sref="home">Home</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="locations-own">Locations</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="location-detail({id: vm.event.locationId})">{{vm.event.locationName}}</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="location-events({id: vm.event.locationId})">Events</a>
        </li>
        <li ui-sref-active="active" class="active">{{vm.event.name}}</li>
      </ul>
    </div>
    <div class="col-md-3">
      <button ng-hide="vm.event.evntInstanceDTO.contentStatus === 'DELETED'" class="btn btn-danger pull-right" ui-sref="event-detail.delete({id: vm.event.evntInstanceDTO.id})">
        <span class="glyphicon glyphicon-ban-circle"></span>
        <span class="">
          Delete Event
        </span>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="image-container">
          <img class="img-responsive" ng-src="{{vm.profile_image_url}}" alt="{{ vm.event.name }}">
          <a ui-sref="event-detail.image" class="icon-choose-image">
            <img src="images/camera.png">
          </a>
        </div>
        <div class="panel-body">
          <h4>{{vm.event.name}}</h4>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="event-detail({id: vm.event.id, fullId: vm.fullEvent.id})">Overview</a>
          </li>
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="event-galleries({id: vm.event.id, fullId: vm.fullEvent.id})">Gallery</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="pull-right">
                <a ui-sref="event-detail.edit({id:vm.event.evntInstanceDTO.id})">
                  <h3>
                    <span class="glyphicon glyphicon-pencil"></span>
                  </h3>
                </a>
              </div>
              <h2>{{vm.event.name}}</h2>
              <div class="row">
                <div class="col-md-6">
                  <p>
                    <strong>Start time: </strong>
                    <span class="label label-default">{{vm.event.startTime | date:'medium'}}</spanh1>
                  </p>
                </div>
                <div class="col-md-6">
                  <p>
                    <strong>End time: </strong>
                    <span class="label label-default">{{vm.event.endTime | date:'medium'}}</span>
                  </p>
                </div>
              </div>
              <p>
                {{vm.event.description}}
                <p class="p-padding pull-right">
                  <span ng-repeat="objectLabel in vm.objectLabels">
                    <span class="label label-default" style="margin-left: 4px">
                      {{objectLabel.labelName}}
                      <a ui-sref="event-detail.deleteLabel({itemToDelete: objectLabel.id})">
                        <strong class="label label-danger">X</strong>
                      </a>
                    </span>
                  </span>
                  <a ui-sref="event-detail.addLabels({objectType: 'EVNT_INSTANCE', uuid: vm.event.uuid})">
                    <span class="label label-primary">
                      <span class="glyphicon glyphicon-plus-sign"></span> Add labels</span>
                  </a>
                </p>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <table class="table">
              <tr>
                <td>
                  <strong>Series:</strong>
                </td>
                <td>
                  <a ui-sref="full-event-detail({id: vm.fullEvent.id})">{{vm.fullEvent.name}}</a>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Status:</strong>
                </td>
                <td>
                  {{vm.event.contentStatus}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Venue:</strong>
                </td>
                <td>
                  <a ui-sref="location-detail({id: vm.event.locationId})">{{vm.event.locationName}}</a>
                </td>
              </tr>
              <tr>
                <!-- <td>
                                <strong>Organiser:</strong>
                            </td>
                            <td>
                                <a ui-sref="organization-detail({id: vm.event.evntDTO.organisationId})">{{vm.event.organisationName}}</a>
                            </td> -->
              </tr>
            </table>
          </div>
          <div class="panel panel-default">
            <table class="table">
              <tr>
                <td>
                  <strong>Quick Links</strong>
                </td>
              </tr>
            </table>
            <ul class="nav nav-pills nav-stacked">
              <li role="presentation">
                <a ui-sref="full-event-detail({id: vm.event.evntId})">{{vm.event.evntName}}</a>
              </li>
              <li role="presentation">
                <a ui-sref="location-detail({id: vm.event.locationId})">{{vm.event.locationName}}</a>
              </li>
              <!-- <li role="presentation"><a ui-sref="organization-detail({id: vm.event.evntDTO.organisationId})">{{vm.event.organisationName}}</a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
