<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myLocationLabel">Add or Edit an Event</h4>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <div class="form-group">
      <label class="control-label" for="field_name">Name</label>
      <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.event.evntInstanceDTO.name" required/>
      <div ng-show="editForm.name.$invalid">
        <p class="help-block" ng-show="editForm.name.$error.required">
          This field is required.
        </p>
      </div>
    </div>
    <div class="form-group" ng-hide="locationSet">
        <label for="field_locationId">Venue</label>
        <select class="form-control" id="field_locationId" name="locationId" 
            ng-model="vm.event.evntInstanceDTO.locationId" 
            ng-options="location.id as location.name for location in vm.locations">
            <option value=""></option>
        </select>
    </div>
    <div class="form-group">
      <label class="control-label" for="field_startTime">Start Time: </label>
      <input type="text" class="form-control" name="startTime" id="field_startTime" ng-model="vm.event.evntInstanceDTO.startTime" required/>
      <div ng-show="editForm.startTime.$invalid">
        <p class="help-block" ng-show="editForm.endTime.$error.required">
          This field is required.
        </p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="field_endTime">End Time: </label>
      <input type="text" class="form-control" name="name" id="field_endTime" ng-model="vm.event.evntInstanceDTO.endTime" required/>
      <div ng-show="editForm.endTime.$invalid">
        <p class="help-block" ng-show="editForm.endTime.$error.required">
          This field is required.
        </p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="field_brief">Brief</label>
      <textarea class="form-control" name="brief" 
            id="field_brief" ng-model="vm.event.evntInstanceDTO.brief"></textarea>
      <div ng-show="editForm.brief.$invalid">
        <p class="help-block" ng-show="editForm.brief.$error.maxlength">
          This field cannot be longer than 1000 characters.
        </p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="field_description">Description</label>
      <textarea class="form-control" name="description" 
            id="field_description" ng-model="vm.event.evntInstanceDTO.description"></textarea>
      <div ng-show="editForm.description.$invalid">
        <p class="help-block" ng-show="editForm.description.$error.maxlength">
          This field cannot be longer than 1000 characters.
        </p>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                </button>
    <button type="submit" ng-disabled="vm.isSaving" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
                </button>
  </div>
</form>
