<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myLocationLabel">Add or Edit an Event</h4>
    </div>
    <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <div class="form-group">
        <label class="control-label" for="field_name">Name</label>
        <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.event.name" required/>
        <div ng-show="editForm.name.$invalid">
        <p class="help-block" ng-show="editForm.name.$error.required">
            This field is required.
        </p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="field_cycle" >Cycle</label>
        <select  class="form-control" name="cycle" id="field_cycle"
                    ng-model="vm.event.cycle">
            <option value=""></option>
            <option value="BIANNUALLY">BIANNUALLY</option>
            <option value="DAILY">DAILY</option>
            <option value="WEEKLY">WEEKLY</option>
            <option value="MONTHLY">MONTHLY</option>
            <option value="ANNUALLY">ANNUALLY</option>
            <option value="ONE_OFF">ONE_OFF</option>
            </select>
            <div ng-show="editForm.event.$invalid">
            <p class="help-block" ng-show="editForm.cycle.$error.required">
            
            </p>
        </div>
        </div>
    <div class="form-group">
        <label class="control-label" for="field_effectiveTime">Effective Time: </label>
        <input type="time" class="form-control" name="effectiveTime" id="field_effectiveTime" ng-model="vm.event.effectiveTime" required/>
        <div ng-show="editForm.effectiveTime.$invalid">
        <p class="help-block" ng-show="editForm.effectiveTime.$error.required">
            This field is required.
        </p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="field_expiryTime">Expiry Time: </label>
        <input type="time" class="form-control" name="expiryTime" id="field_expiryTime" ng-model="vm.event.expiryTime" required/>
        <div ng-show="editForm.expiryTime.$invalid">
        <p class="help-block" ng-show="editForm.expiryTime.$error.required">
            This field is required.
        </p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="field_brief">Brief</label>
        <textarea class="form-control" name="brief" 
            id="field_brief" ng-model="vm.event.brief"></textarea>
        <div ng-show="editForm.brief.$invalid">
        <p class="help-block" ng-show="editForm.brief.$error.maxlength">
            This field cannot be longer than 1000 characters.
        </p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="field_description">Description</label>
        <textarea class="form-control" name="description" 
            id="field_description" ng-model="vm.event.description"></textarea>
        <div ng-show="editForm.description.$invalid">
        <p class="help-block" ng-show="editForm.description.$error.maxlength">
            This field cannot be longer than 1000 characters.
        </p>
        </div>
    </div>
    
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                </button>
    <button type="submit" ng-disabled="vm.isSaving" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
                </button>
    </div>
</form>
        