<div class="container">
  <div class="row">
    <div class="col-md-9">
      <ul class="breadcrumb">
        <li ui-sref-active="active">
          <a ui-sref="home">Home</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="events">Events</a>
        </li>
        <li ui-sref-active="active" class="active">{{vm.fullEvent.name}}</li>
      </ul>
    </div>
    <div class="col-md-3">

      <button ng-hide="vm.fullEvent.contentStatus === 'DELETED'" class="btn btn-danger pull-right" ui-sref="full-event-detail.delete({id: vm.fullEvent.id})">
        <span class="glyphicon glyphicon-ban-circle"></span>
        <span class="">
          Delete Event
        </span>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="image-container">
          <img class="img-responsive" ng-src="{{vm.profile_image_url}}" alt="{{ vm.event.name }}">
          <a ui-sref="full-event-detail.image" class="icon-choose-image">
            <img src="images/camera.png">
          </a>
        </div>
        <div class="panel-body">
          <h4>{{vm.fullEvent.name}}</h4>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="full-event-detail({id: vm.fullEvent.id})">Overview</a>
          </li>
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="full-event-galleries({id: vm.fullEvent.id})">Gallery</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="pull-right">
                <a ui-sref="full-event-detail.edit({id:vm.fullEvent.id})">
                  <h3>
                    <span class="glyphicon glyphicon-pencil"></span>
                  </h3>
                </a>
              </div>
              <h2>{{vm.fullEvent.name}}</h2>
              <div class="row">
                <div class="col-md-6">
                  <p>
                    <strong>Start time: </strong>
                    <span class="label label-default">{{vm.fullEvent.effectiveTime | date:'medium'}}</spanh1>
                  </p>
                </div>
                <div class="col-md-6">
                  <p>
                    <strong>End time: </strong>
                    <span class="label label-default">{{vm.fullEvent.expiryTime | date:'medium'}}</span>
                  </p>
                </div>
              </div>
              {{vm.fullEvent.description}}
              <p class="p-padding pull-right">
                <span ng-repeat="objectLabel in vm.objectLabels">
                  <span class="label label-default" style="margin-left: 4px">
                    {{objectLabel.labelName}}
                    <a ui-sref="full-event-detail.deleteLabel({itemToDelete: objectLabel.id})">
                      <strong class="label label-danger">X</strong>
                    </a>
                  </span>
                </span>
                <a ui-sref="full-event-detail.addLabels({objectType: 'EVNT', uuid: vm.full-event.uuid})">
                  <span class="label label-primary">
                    <span class="glyphicon glyphicon-plus-sign"></span> Add labels</span>
                </a>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="pull-right">
                <button class="btn btn-primary" ui-sref="full-event-detail-new-instance">
                  <span class="glyphicon glyphicon-plus"></span>
                  <span class="hidden-xs-down">
                    Add Event Occurence
                  </span>
                </button>
              </div>
              <h3>Event Occurences</h3>
            </div>
          </div>

          <div class="panel panel-default" ng-show="vm.recordsNotFound">
            <div class="panel-body">
              No data found.
            </div>
          </div>

          <div class="row" ng-hide="vm.recordsNotFound">
            <div class="col-md-6" ng-repeat="eventInstance in vm.eventInstances track by eventInstance.id">
              <div class="thumbnail">
                <img ng-src="{{URLS.PROFILE_IMAGE_URL}}{{eventInstance.uuid}}" alt="">
                <div class="caption">
                  <h5>{{eventInstance.name}}</h5>
                  <p>{{eventInstance.brief}}</p>
                  <p>
                    Venue:
                    <a ui-sref="location-detail({id: eventInstance.locationId})">
                      <span>{{eventInstance.locationName}}</span>
                    </a>
                  </p>
                  <p>
                    Start:
                    <span class="label label-default">{{eventInstance.startTime | date:'medium'}}</span>
                  </p>
                  <p>
                    End :
                    <span class="label label-default">{{eventInstance.endTime | date:'medium'}}</span>
                  </p>
                  <p>
                    <a class="btn btn-primary" role="button" ui-sref="event-detail({id: eventInstance.id, fullId: vm.fullEvent.id})">View</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- menus for fullEvent items -->
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <table class="table">
              <tr>
                <td>
                  <strong>Cycle: </strong>
                </td>
                <td>
                  {{vm.fullEvent.cycle}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Status: </strong>
                </td>
                <td>
                  {{vm.fullEvent.contentStatus}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Organiser: </strong>
                </td>
                <td>
                  <a ui-sref="organization-detail({id: vm.fullEvent.organisationId})">{{vm.fullEvent.organisationName}}</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
