<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="row" ng-show="vm.currentLocationIdSet">
        <ul class="breadcrumb">
            <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
            <li ui-sref-active="active"><a ui-sref="events">Events</a></li>
            <li ui-sref-active="active"><a ui-sref="full-event-detail({id: vm.entity.id})">vm.entity.name</a></li>
            <li ui-sref-active="active" class="active">Gallery</li>
        </ul>
      </div>
      <div class="row" ng-hide="vm.currentLocationIdSet">
          <ul class="breadcrumb">
              <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
              <li ui-sref-active="active"><a ui-sref="events">Events</a></li>
              <li ui-sref-active="active"><a ui-sref="full-event-detail({id: vm.entity.id})">{{vm.entity.name}}</a></li>
              <li ui-sref-active="active" class="active">Gallery</li>
          </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div class="pull-right">
        <button class="btn btn-primary" ui-sref="full-event-galleries.new({id: vm.entity.id})">
          <span class="glyphicon glyphicon-plus"></span>
          <span class="hidden-xs-d">
            Album
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="image-container">
          <img class="img-responsive" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{vm.entity.uuid}}" alt="{{ vm.entity.name }}">
        </div>
        <div class="panel-body">
          <h4>{{vm.entity.name}}</h4>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="full-event-detail({id: vm.entity.id})">Overview</a>
          </li>
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="full-event-galleries({id: vm.entity.id})">Gallery</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
        <div class="row" ng-show="!vm.albums">
            <div class="panel panel-default">
                <div class="panel-body">
                    No albums found.
                </div>
            </div>
        </div>
      <div class="row">
        <div class="col-md-12">
            <div class="row" ng-show="vm.albums">
                <div class="col-sm-6 col-md-4"  ng-repeat="album in vm.albums | filter:query">
                    <div class="thumbnail">
                        <img ng-src="{{vm.image_url}}{{album.coverUuid}}" alt="{{album.name}}">
                        <div class="caption">
                          <p>{{album.name}}</p>
                        <p>
                          <a class="btn btn-primary" role="button" ui-sref="full-event-album-detail({id: vm.entity.id, albumId: album.id})">View</a>
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
