<style>
  .form-group {
    margin-bottom: 5px;
  }

  .help-block {
    margin-bottom: 5px;
  }
</style>
<form name="editForm" role="form" novalidate ng-submit="vm.save()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myProfessionalLabel">Edit a Base</h4>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <div class="form-group">
      <label class="control-label" for="field_name">Base Name</label>
      <input type="text" class="form-control" name="baseName" id="field_name" ng-model="vm.base.name" required />
      <div class="help-block" ng-show="editForm.baseName.$invalid">required</div>
    </div>
    <div class="form-group">
      <label class="control-label" for="field_abbrev">Abbreviation</label>
      <input type="text" class="form-control" name="baseAbbrev" id="field_abbrev" ng-model="vm.base.abbreviation"
        required />
      <div class="help-block" ng-show="editForm.baseAbbrev.$invalid">required</div>
    </div>
    <div class="form-group" style="margin-bottom: 5px;">
      <label class="filter-col" style="margin-right:0;" for="pref-search">Location Name</label>
      <input type="text" ng-model="vm.base.locationName" placeholder="Location Name"
        uib-typeahead="loc.name for loc in vm.getLocation($viewValue)" typeahead-loading="loadingLocations"
        typeahead-no-results="noStartResults" typeahead-on-select="vm.onLocationSelected($item, $model)"
        class="form-control" name="baseLocationName" required>
      <div style="margin-bottom: 5px;" class="help-block" ng-show="editForm.baseLocationName.$invalid">required</div>
      <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
      <div ng-show="noStartResults">
        <i class="glyphicon glyphicon-remove"></i> No Results Found
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="field_brief">Brief</label>
      <textarea class="form-control" name="brief" id="field_brief" ng-model="vm.base.brief"></textarea>
    </div>
    <div class="form-group">
      <label class="control-label" for="field_description">Description</label>
      <textarea class="form-control" name="description" id="field_description"
        ng-model="vm.base.description"></textarea>
    </div>
    <div class="form-group">
      <label class="control-label" for="field_notes">Special Notes about the Base</label>
      <textarea class="form-control" name="notes" id="field_notes" ng-model="vm.base.notes"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
        data-translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
    </button>
  </div>
</form>
