<div class="container">
  <div class="row">
    <ul class="breadcrumb">
      <li ui-sref-active="active">
        <a ui-sref="home">Home</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="costs({id: vm.contract.serviceId})">Pricing</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="cost-contracts({id: vm.service.id})">Contracts</a>
      </li>
      <li ui-sref-active="active" class="active">{{vm.contract.name}}</li>
    </ul>
  </div>
  <div class="row">

    <div class="col-md-6">
      <button ng-hide="vm.contract.contentStatus === 'DELETED'" class="btn btn-danger pull-right" ui-sref="contract-detail.delete({id: vm.contract.id})">
        <span class="glyphicon glyphicon-ban-circle"></span>
        <span class="">
          Delete
        </span>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="image-container">
          <!-- <img class="img-responsive" ng-hide="" ng-src="images/image-placeholder.svg" alt="{{ vm.account.name }}"> -->
          <img class="img-responsive" ng-src="{{vm.profile_image_url}}" alt="{{ vm.menuItem.name }}">
          <a ui-sref="contract-detail.image" class="icon-choose-image">
            <img src="images/camera.png">
          </a>
        </div>
        <div class="panel-body">
          <h4>{{vm.contract.name}}</h4>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="cost-contracts-detail({contractId: vm.contract.id})">Overview</a>
          </li>
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="cost-contract-rates({id: vm.service.id, contractId: vm.contract.id, setId: vm.contract.dimensionSetId})">Rates</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="pull-right">
                <!-- <a ui-sref="cost-contracts-detail.edit({contractId:vm.contract.id})"> -->
                <h3>
                  <span class="glyphicon glyphicon-pencil"></span>
                </h3>
                </a>
              </div>
              <h2>{{vm.contract.name}}</h2>
              {{vm.contract.description}}
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-body">
                  <span>


                    <div ng-if="vm.dimLength === 1">
                      <h4 class="text-center">Rates</h4>
                      <br>

                      <table class="table table-bordered table-striped">
                        <thead class="bg-danger">

                          <th ng-repeat="item in vm.dimensionSet[0].existenceDTOList">
                            {{ item.name }}
                          </th>
                        </thead>
                        <tbody>
                          <tr>
                            <td ng-repeat="item in vm.dimensionSet[0].existenceDTOList">
                              <input type="number" ng-model="vm.figures[0][$index]" />
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <br />
                    </div>
                    <div ng-if="vm.dimLength === 2">
                      <h4 class="text-center">Rates</h4>
                      <br>

                      <table class="table table-bordered table-striped">
                        <thead class="bg-danger">
                          <th class="text-success">{{third.name}}</th>
                          <th ng-repeat="item in vm.dimensionSet[0].existenceDTOList">
                            {{ item.name }}
                          </th>
                        </thead>
                        <tbody>
                          <tr ng-repeat="row in vm.dimensionSet[1].existenceDTOList">
                            <td>
                              <strong>{{ row.name }}</strong>
                            </td>
                            <td ng-repeat="item in vm.dimensionSet[0].existenceDTOList">
                              <input type="number" ng-model="vm.figures[0][$parent.$index][$index]" />
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <br />
                    </div>
                    <div ng-if="vm.dimLength === 3">
                      <div class="form-group" ng-hide="vm.noGroupsFound" ng-repeat="third in vm.thirdItem.existenceDTOList" ng-if="vm.dimLength === 3">
                        <h4 class="text-center">{{ third.name }} rates</h4>
                        <br>

                        <table class="table table-condense table-bordered table-striped">
                          <thead class="bg-danger">
                            <th class="text-success">{{third.name}}</th>
                            <th ng-repeat="item in vm.dimensionSet[0].existenceDTOList">
                              {{ item.name }}
                            </th>
                          </thead>
                          <tbody>
                            <tr ng-repeat="row in vm.dimensionSet[1].existenceDTOList">
                              <td>
                                <strong>{{ row.name }}</strong>
                              </td>
                              <td ng-repeat="item in vm.dimensionSet[0].existenceDTOList">
                                <input type="number" ng-model="vm.figures[$parent.$parent.$index][$parent.$index][$index]" class="form-control" />
                            </tr>
                          </tbody>
                        </table>
                        <br />
                      </div>
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <table class="table">
              <tr>
                <td>
                  <strong>Content Status</strong>
                </td>
                <td>
                  {{vm.dimensionSet.contentStatus}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Organization</strong>
                </td>
                <td>
                  {{vm.contract.name}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Currency</strong>
                </td>
                <td>
                  {{vm.contract.currencyAbbreviation}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Contract Type</strong>
                </td>
                <td>
                  {{vm.contract.type}}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="panel panel-default" ng-repeat="dimension in  vm.supplementDimensions" >
        <div class="panel-heading" ng-show="vm.twoDChunks.length > 0">

          <strong>{{dimension.dimensionName}} Supplements</strong><strong ng-show="dimension.dimensionType === 'MEAL_PLAN' ">/Credits</strong>
        </div>
        <div class="panel-body" ng-show="vm.twoDChunks.length > 0">

          <div ng-repeat="chunks in vm.twoDChunks">


            <div>
              <table class="table table-striped table-bordered">
                <thead>

                  <th>
                  </th>
                  <th ng-repeat="item in chunks">

                    {{vm.resolveExistenceName(item.dimensionType2,item.existence2)}}

                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td style="height: 3px" ng-repeat="item in chunks | limitTo:1">
                      {{ item.name }}
                      <br>
                    </td>
                    <td ng-repeat="item in chunks">

                      <p style="height: 3px">{{item.value}}</p>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
        <div class="panel-heading" ng-show="vm.threeDChunks.length > 0">

            <strong>{{dimension.dimensionName}} Supplements</strong><strong ng-show="dimension.dimensionType === 'MEAL_PLAN' ">/Credits</strong>
        </div>
        <div class="panel-body" ng-show="vm.threeDChunks.length > 0">

            <div ng-repeat="chunks in vm.threeDChunks">
  
  
              <div>
                <table class="table table-striped table-bordered">
                  <thead>
  
                    <th>
                    </th>
                    <th style="height: 5px" ng-repeat="item in chunks">
  
                      {{ item.name }}
  
                    </th>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="height: 3px" ng-repeat="item in chunks | limitTo:1">
                        {{vm.resolveExistenceName(item.dimensionType1,item.existence1)}}
  
                        <br>
                      </td>
                      <td ng-repeat="item in chunks">
  
                        <p style="height: 3px">{{item.value}}</p>
  
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
  
          </div>
          <div class="panel-heading" ng-hide="vm.twoDChunks.length > 0 || vm.threeDChunks.length > 0">

              <strong>{{dimension.dimensionName}} Supplements</strong><strong ng-show="dimension.dimensionType === 'MEAL_PLAN' ">/Credits</strong>
          </div>
        <div class="table-responsive" ng-hide="vm.twoDChunks.length > 0 || vm.threeDChunks.length > 0" >
            <table class="table table-striped">
              <thead>
                <th>Name</th>
                <th ng-show="dimension.dimensionType === 'SPECIAL_DAY' ">Date</th>
                <th>Billing Type</th>
                <th>Unit</th>
                <th>Value</th>
              </thead>
              <tbody>
                <tr ng-repeat="supplement in vm.filterSupplements(dimension.dimensionType)">
                  <td>{{supplement.name}} <span ng-show="supplement.dimensionCount > 1">For
                      {{vm.resolveExistenceName(supplement.dimensionType1,supplement.existence1)}}</span></td>
                  <td ng-show="supplement.dimensionType1 === 'SPECIAL_DAY'"> <span class="badge" ng-show="supplement.description !== null">{{supplement.description}}</span>
                    <span class="btn btn-danger  btn-xs" ng-show="supplement.description === null" ng-click="vm.updateSpecialSeasonDates(supplement)">update</span>
                  </td>
                  <td>{{supplement.billingType}}</td>
    
                  <td ng-show="supplement.unit === 'INDIVIDUAL'">Per Person</td>
                  <td ng-hide="supplement.unit === 'INDIVIDUAL'">{{supplement.unit}}</td>
    
                  <td>
                    <span ng-bind-html="supplement.currencySymbol"></span> <span class="badge">{{vm.checkIfCredit(supplement)}}</span>
    
                  </td>
                </tr>
                <tr ng-show="vm.filterSupplements(dimension.dimensionType).length ==0">
                  <td colspan="5" class="text-center">No records found</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div> -->
      
