<!-- breadcrumb -->
<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="contracts-own">Contracts</a>
            </li>
            <li ui-sref-active="active" class="active" ng-show="vm.contract.type == 'CONTRACT'" style="font-weight:bold; color: green ">{{vm.shortenName(vm.contract.name)}}</li>
            <li ui-sref-active="active" class="active" ng-show="vm.contract.type == 'PUBLISHED'" style="font-weight:bold; color: brown ">{{vm.shortenName(vm.contract.name)}}</li>

          </ul>
        </div>
        <div class="col-md-4">
          <div class="breadcrumb-btns">
            <ul class="nav nav-pills pull-right">
              <li ng-show="vm.contract.contentStatus !== 'PUBLISHED'">
                <button type="button" class="btn btn-info btn-sm" ui-sref="contracts-own-statusUpdate({contractId: vm.contract.id, status: vm.contract.contentStatus})">
                  <i class="glyphicon glyphicon-ok"></i> Approve </button>
              </li>

              <li ng-show="vm.contract.contentStatus === 'PUBLISHED'">
                <button type="button" class="btn btn-danger btn-sm" ui-sref="contracts-own-statusUpdate({contractId: vm.contract.id, status: vm.contract.contentStatus})">
                  <i class="glyphicon glyphicon-remove"></i> Un-Approve </button>
              </li>

              <li>
                <button type="button" class="btn btn-info btn-sm" ui-sref="contracts-own-copy({contractId: vm.contract.id, setId: vm.contract.dimensionSetId,supplierId:vm.contract.supplierId})">
                  <i class="glyphicon glyphicon-copy"></i> Copy </button>
              </li>

              <li>
                <button type="button" class="btn btn-primary btn-sm" ui-sref="contracts-own-detail.editContract({contractId: vm.contract.id, setId: vm.contract.dimensionSetId})">
                  <span class="glyphicon glyphicon-edit"></span> Edit </button>
              </li>
              <li>
                <button ng-hide="vm.contract.contentStatus == 'DELETED'" type="button" class="btn btn-danger btn-sm" ui-sref="contracts-own-user.delete({contractId: vm.contract.id, status: vm.contract.contentStatus})">
                  <i class="glyphicon glyphicon-remove-circle"></i> Delete </button>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of breadcrumb -->

<div class="row">
  <!-- begin of left main div  -->
  <div class="col-md-8">

    <!-- Basic information div  -->
    <div class="panel panel-default">
      <div class="panel-heading" >
        <div class="pull-right">
          <button type="button" ui-sref="contracts-own-detail.editContract({contractId: vm.contract.id, setId: vm.contract.dimensionSetId,versionId: vm.contract.versionId})"
            class="btn btn-primary btn-xs">
            <span class="glyphicon glyphicon-edit"></span> Edit</button>
        </div>
        <strong> Basic Information</strong>
      </div>

      <div class="table-responsive">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>Start Date: </td>
              <td>{{vm.contract.startDate}} </td>
              <td>End Date: </td>
              <td>{{vm.contract.endDate}} </td>
            </tr>

            <tr>
              <td>Issuer : </td>
              <td>{{vm.contract.issuerName}} </td>

              <td>Status: </td>
              <td>
                <span class="label label-warning">
                  {{vm.contract.contentStatus}}</span>
              </td>
            </tr>
            <tr>
              <td>Updated On: </td>
              <td>{{vm.contract.lastUpdatedOn}} </td>
              <td>Updated By: </td>
              <td>{{vm.contract.lastUpdatedBy}} </td>
            </tr>
            <tr>
              <td>Contract Type : </td>
              <td ng-show="vm.contract.type == 'PUBLISHED'">
                <span style="font-weight:bold; color: brown ">{{vm.contract.type}}</span>
              </td>
              <td ng-show="vm.contract.type == 'CONTRACT'">
                <span style="font-weight:bold; color: green ">{{vm.contract.type}} </span>
              </td>
              <td>Currency: </td>
              <td>{{vm.contract.currencyAbbreviation}} </td>
            </tr>
            <tr>
              <td>Full Name: </td>
              <td colspan="3">{{vm.contract.name}}</td>
            </tr>

            <!-- some work needs to be done to dispaly the dimension name and existence name as opposed to id -->
            <tr ng-repeat="group in  vm.dimensionNotExclusiveParameterGroups">
              <td ng-repeat="parameter in  group">
                <span ng-show="parameter.type  == 'parameter'">{{vm.resolveDimensionNameByType(parameter.value)}}</span>
                <span ng-show="parameter.type  == 'value'">{{vm.resolveExistenceName(parameter.dimensionType, parameter.value)}}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Basic information div  -->

    <!-- Rates information div  -->
    <div class="panel panel-default">

      <div class="panel-heading">
        <strong>Contract Rates in
          <span ng-bind-html="vm.contract.currencySymbol"></span>
        </strong>
        <div class="pull-right">
          <button type="button" ng-click="isEdit = !isEdit" ng-show="vm.figures.length == 'undefined'">Add Rates</button>
          <div class="btn-group" ng-show="isEdit">
            <button type="button" ng-disabled="vm.editForm.$invalid" class="btn btn-primary btn-xs" ng-class="{true:'btn-default',false:'btn-success'}[isEdit]"
              ng-click="saving(vm.figures, isEdit)">{{ isEdit ? 'Save' : "m" }}</button>
          </div>
          <button type="button" class="btn btn-danger btn-xs" ng-show="isEdit" ng-click="vm.cancel()">Cancel</button>
          <button type="button" class="btn btn-primary btn-xs" ng-show="!isEdit" ng-click="isEdit = !isEdit">
            <span class="glyphicon glyphicon-edit"></span>Edit
          </button>
        </div>
      </div>

      <!-- begin  view only panel-->
      <div ng-hide="isEdit == true">
        <div ng-if="vm.dimLength === 2" class="table-responsive">
          <h4 class="text-center">Rates</h4>
          <br>
          <table class="table table-striped table-bordered">
            <thead>
              <th></th>
              <th ng-repeat="item in vm.basicDim[0].existenceDTOList">
                <h5 style="font-weight:normal ">{{ item.name }}</h5>
                <span ng-hide="item.dimensionType === 'SEASON'" class="badge" popover-placement="top" uib-popover-template="'popover.html'"
                  popover-trigger="mouseenter">?</span>
                <script type="text/ng-template" id="popover.html">
                  <div>
                    {{ item.brief }}
                    <ul>
                    </ul>
                  </div>
                </script>
              </th>
            </thead>
            <tbody>
              <tr ng-repeat="row in vm.basicDim[1].existenceDTOList">
                <td>
                  <h5 style="font-weight:normal ">{{ row.name }}</h5>
                  <span class="badge" popover-placement="right" uib-popover-template="'popover3.html'" popover-trigger="mouseenter">?</span>
                  <script type="text/ng-template" id="popover3.html">

                    <div ng-show="row.dimensionType === 'ROOM_CATEGORY'">
                      {{row.count}} Rooms

                    </div>
                    <div ng-show="row.dimensionType !== 'ROOM_CATEGORY'">
                      {{row.brief}}

                    </div>
                  </script>
                </td>
                <td ng-repeat="item in vm.basicDim[0].existenceDTOList">
                  <!-- {{vm.figures[0][$parent.$index][$index]}} -->
                  <h5 ng-show="vm.contract.rates[vm.getRatePosition(item.id, vm.basicDim[0].position, row.id, vm.basicDim[1].position, third.id)].value > 0">
                    <span ng-bind-html="vm.contract.currencySymbol"></span>
                    {{vm.contract.rates[vm.getRatePosition(item.id, vm.basicDim[0].position, row.id, vm.basicDim[1].position, third.id)].value}}</h5>
                </td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>

        <div ng-if="vm.basicDim.length === 3" class="table-responsive">
          <div ng-show="vm.defaultSupplementDimensions.length == 0" ng-repeat="third in vm.basicDim[2].existenceDTOList" ng-if="vm.dimLength === 3">
            <table class="table table-condensed table-striped table-bordered">
              <thead>
                <th>
                  <h5 style="font-weight:normal ">{{ third.name }}</h5>
                  <span class="badge" popover-placement="top" uib-popover-template="'popover.html'" popover-trigger="mouseenter">{{third.brief}}</span>

                </th>
                <th ng-repeat="item in vm.basicDim[0].existenceDTOList">
                  <h5 style="font-weight:normal ">{{ item.name }}</h5>
                  <span class="badge" popover-placement="top" uib-popover-template="'popover.html'" popover-trigger="mouseenter">?</span>
                  <script ng-show="item.dimensionType === 'SEASON'" type="text/ng-template" id="popover.html">
                    <div>
                      {{ item.brief }}
                      <ul>
                      </ul>
                    </div>
                  </script>
                </th>
              </thead>
              <tbody>
                <tr ng-repeat="row in vm.basicDim[1].existenceDTOList">
                  <td>
                    <h5>{{row.name}}</h5>
                    <span class="badge" popover-placement="right" uib-popover-template="'popover.html'" popover-trigger="mouseenter">?</span>
                    <script ng-show="item.dimensionType === 'SEASON'" type="text/ng-template" id="popover.html">
                      <div>
                        {{ row.brief }}
                        <ul>
                        </ul>
                      </div>
                    </script>
                  </td>
                  <td ng-repeat="item in vm.basicDim[0].existenceDTOList">
                    <h5 ng-show="vm.contract.rates[vm.getRatePosition(item.id, vm.basicDim[0].position, row.id, vm.basicDim[1].position, third.id, vm.basicDim[2].position)].value > 0">
                      <span ng-bind-html="vm.contract.currencySymbol"></span>
                      {{vm.contract.rates[vm.getRatePosition(item.id, vm.basicDim[0].position, row.id, vm.basicDim[1].position, third.id, vm.basicDim[2].position)].value}}
                    </h5>

                    <h5 ng-hide="vm.contract.rates[vm.getRatePosition(item.id, vm.basicDim[0].position, row.id, vm.basicDim[1].position, third.id, vm.basicDim[2].position)].value > 0">
                      N/A</h5>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div ng-show="vm.defaultSupplementDimensions.length > 0" ng-repeat="third in vm.basicDim[2].existenceDTOList" ng-if="vm.dimLength === 3">
            <table class="table table-condensed table-striped table-bordered" style="width:100%;border-collapse: collapse;padding-bottom: 0px;">
              <thead>
                <th>
                  <h5 style="font-weight:normal ">{{ third.name }}</h5>
                  <span class="badge" popover-placement="top" uib-popover-template="'popover.html'" popover-trigger="mouseenter">{{third.brief}}</span>

                </th>

              </thead>
              <tbody>
                <tr ng-repeat="row in vm.basicDim[1].existenceDTOList">
                  <td>
                    <h5>{{row.name}}</h5>
                    <span class="badge" popover-placement="right" uib-popover-template="'popover.html'" popover-trigger="mouseenter">?</span>
                    <script ng-show="item.dimensionType === 'SEASON'" type="text/ng-template" id="popover.html">
                      <div>
                        {{ row.brief }}
                        <ul>
                        </ul>
                      </div>
                    </script>
                  </td>
                  <td style="padding: 0px;">
                    <table class="table table-condensed table-striped  table-bordered" style="width:100%;border-collapse: collapse;margin-bottom: 0px;padding-right: 0px;">
                      <thead>
                        <th>{{vm.defaultSupDim.dimensionType}}</th>
                        <th ng-repeat="item in vm.basicDim[0].existenceDTOList">
                          <h5 style="font-weight:normal ">{{ item.name }}</h5>

                        </th>

                      </thead>
                      <tbody>
                        <tr ng-show="vm.defaultSupplementDimensions.length > 0">
                          <td>{{vm.defaultSupDim.name}}

                            <span class="badge" popover-placement="bottom" uib-popover-template="'popover.html'" popover-trigger="mouseenter">?</span>
                            <script type="text/ng-template" id="popover.html">
                              <div>
                                {{ vm.defaultSupDim.brief }}
                                <ul>
                                </ul>
                              </div>
                            </script>
                          </td>
                          <td ng-repeat="item in vm.basicDim[0].existenceDTOList">
                            <h5 ng-show="vm.contract.rates[vm.getRatePosition(item.id, vm.basicDim[0].position, row.id, vm.basicDim[1].position, third.id, vm.basicDim[2].position)].value > 0">{{vm.contract.rates[vm.getRatePosition(item.id, vm.basicDim[0].position, row.id, vm.basicDim[1].position,
                              third.id, vm.basicDim[2].position)].value}}
                            </h5>
                            <h5 ng-show="vm.contract.rates[vm.getRatePosition(item.id, vm.basicDim[0].position, row.id, vm.basicDim[1].position, third.id, vm.vm.basicDim[2].position)].value > 0">{{vm.contract.rates[vm.getRatePosition(item.id, vm.basicDim[0].position, row.id, vm.basicDim[1].position,
                              third.id, vm.basicDim[2].position)].value}}
                            </h5>
                            <h5 ng-show="vm.contract.rates[vm.getRatePosition(item.id, vm.basicDim[0].position, row.id, vm.basicDim[1].position, third.id, vm.basicDim[2].position)].value == null">N/A</h5>
                          </td>
                        </tr>

                      </tbody>

                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div ng-if="vm.basicDim.length === 4" class="table-responsive">
          <div ng-show="vm.defaultSupplementDimensions.length == 0" ng-repeat="third in vm.basicDim[3].existenceDTOList" ng-if="vm.dimLength === 4">
            <table class="table table-condensed table-striped table-bordered" style="width:100%;border-collapse: collapse;padding-bottom: 0px;">
              <thead>
                <th width="30%" height="30%" align="center">
                  <h5>{{third.name | uppercase}}
                    <span class="badge" popover-placement="right" uib-popover-template="'popover1.html'" popover-trigger="mouseenter">?</span>
                    <script type="text/ng-template" id="popover1.html">
                      <div ng-show="third.dimensionType === 'ROOM_CATEGORY'">
                        {{third.count}} Rooms

                      </div>
                      <div ng-show="third.dimensionType !== 'ROOM_CATEGORY'">
                        {{third.brief}}

                      </div>
                    </script>
                  </h5>

                </th>
              </thead>
              <tbody>
                <tr ng-repeat="row in vm.basicDim[2].existenceDTOList">
                  <td height="30%" width="30%">
                    <span title="{{row.name}} {{vm.capitalize(row.dimensionType)}}">
                      <h5>{{row.name}}

                        <span class="badge" popover-placement="right" uib-popover-template="'popover2.html'" popover-trigger="mouseenter">?</span>
                        <script type="text/ng-template" id="popover2.html">
                          <div ng-show="row.dimensionType === 'ROOM_CATEGORY'">
                            {{row.count}} Rooms

                          </div>
                          <div ng-show="row.dimensionType !== 'ROOM_CATEGORY'">
                            {{row.brief}}

                          </div>
                        </script>
                  </td>
                  <td style="padding: 0px;">
                    <table class="table table-condensed table-striped  table-bordered" style="width:100%;border-collapse: collapse;margin-bottom: 0px;">
                      <thead>
                        <th>
                          <h5>{{vm.basicDim[1].dimensionName}}</h5>

                        </th>
                        <th ng-repeat="item in vm.basicDim[0].existenceDTOList">
                          <h5 style="font-weight:normal ">{{ item.name }}</h5>
                          <span class="badge" popover-placement="right" uib-popover-template="'popover3.html'" popover-trigger="mouseenter">?</span>
                          <script type="text/ng-template" id="popover3.html">
                            <div ng-show="item.dimensionType === 'ROOM_CATEGORY'">
                              {{item.count}} Rooms

                            </div>
                            <div ng-show="item.dimensionType !== 'ROOM_CATEGORY'">
                              {{item.brief}}

                            </div>
                          </script>
                        </th>
                      </thead>
                      <tbody>

                        <tr ng-repeat="servicePlan in vm.basicDim[1].existenceDTOList">
                          <td>{{servicePlan.name}}
                            <span class="badge" popover-placement="bottom" uib-popover-template="'popover3.html'" popover-trigger="mouseenter">?</span>
                            <script type="text/ng-template" id="popover3.html">


                              <div ng-show="servicePlan.dimensionType === 'ROOM_CATEGORY'">
                                {{servicePlan.count}} Rooms

                              </div>
                              <div ng-show="servicePlan.dimensionType !== 'ROOM_CATEGORY'">
                                {{servicePlan.brief}}

                              </div>
                            </script>
                          </td>
                          <td ng-repeat="item in vm.basicDim[0].existenceDTOList">
                            <h5 ng-show="vm.contract.rates[vm.getRatePosition(item.id, vm.basicDim[0].position, servicePlan.id, vm.basicDim[1].position, row.id, vm.basicDim[2].position, third.id, vm.basicDim[3].position)].value > 0">
                              <span ng-bind-html="vm.contract.currencySymbol"></span>
                              {{vm.contract.rates[vm.getRatePosition(item.id, vm.basicDim[0].position, servicePlan.id, vm.basicDim[1].position, row.id,
                              vm.basicDim[2].position, third.id, vm.basicDim[3].position)].value}}</h5>
                            <h5 ng-show="vm.contract.rates[vm.getRatePosition(item.id, vm.basicDim[0].position, servicePlan.id, vm.basicDim[1].position, row.id, vm.basicDim[2].position, third.id, vm.basicDim[3].position)].value == null">N/A</h5>
                          </td>
                        </tr>
                      </tbody>

                    </table>
                  </td>

                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
      <!-- end  view only panel-->

      <!-- begin edit panel-->
      <div ng-show="isEdit == true">
        <form class="table-responsive" name="vm.editForm" novalidate>

          <!-- begin 2D form -->
          <div ng-if="vm.dimLength === 2">
            <h4 class="text-center">Rates</h4>
            <br>
            <table class="table table-bordered table-striped">
              <thead>
                <th></th>
                <th ng-repeat="item in vm.basicDim[0].existenceDTOList">
                  {{ item.name }}
                  <span class="badge" popover-placement="right" uib-popover-template="'popover3.html'" popover-trigger="mouseenter">?</span>
                  <script type="text/ng-template" id="popover3.html">
                    <div ng-show="item.dimensionType === 'ROOM_CATEGORY'">
                      {{item.count}} Rooms

                    </div>
                    <div ng-show="item.dimensionType !== 'ROOM_CATEGORY'">
                      {{item.brief}}

                    </div>
                  </script>
                </th>
              </thead>
              <tbody>
                <tr ng-repeat="row in vm.basicDim[1].existenceDTOList">
                  <td>
                    <strong>{{ row.name }}</strong>
                    <span class="badge" popover-placement="right" uib-popover-template="'popover2.html'" popover-trigger="mouseenter">?</span>
                    <script type="text/ng-template" id="popover2.html">
                      <div ng-show="row.dimensionType === 'ROOM_CATEGORY'">
                        {{row.count}} Rooms

                      </div>
                      <div ng-show="row.dimensionType !== 'ROOM_CATEGORY'">
                        {{row.brief}}

                      </div>
                    </script>
                  </td>
                  <td ng-repeat="item in vm.basicDim[0].existenceDTOList">
                    <input type="number" min="0" name="figure_{{$parent.$index}}{{$index}}" ng-model="vm.contract.rates[vm.getRatePositionWithCreate(item.id, vm.basicDim[0].position, row.id, vm.basicDim[1].position, third.id)].value"
                      ng-change="vm.contract.rates[vm.getRatePositionWithCreate(item.id, vm.basicDim[0].position, row.id, vm.basicDim[1].position, third.id)].value"
                    />
                    <!-- <div ng-messages="vm.editForm['figure_' +$parent.$index +$index].$error" ng-show="vm.editForm['figure_' +$parent.$index +$index].$error.required">
                      <div ng-message="required" class='alert-error'> <strong>*Required</strong></div> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- end 2D form -->

          <br />

          <!-- begin 3D form -->
          <div ng-if="vm.basicDim.length === 3" class="table-responsive">

            <!-- begin 3D without supplementable dimension -->
            <div ng-show="vm.defaultSupplementDimensions.length == 0" ng-repeat="third in vm.basicDim[2].existenceDTOList" ng-if="vm.dimLength === 3">
              <table class="table table-condensed table-striped table-bordered">
                <thead>
                  <th>
                    <h5 style="font-weight:normal ">{{ third.name }}</h5>
                    <span class="badge" popover-placement="right" uib-popover-template="'popover1.html'" popover-trigger="mouseenter">?</span>
                    <script type="text/ng-template" id="popover1.html">
                      <div ng-show="third.dimensionType === 'ROOM_CATEGORY'">
                        {{third.count}} Rooms

                      </div>
                      <div ng-show="third.dimensionType !== 'ROOM_CATEGORY'">
                        {{third.brief}}

                      </div>
                    </script>
                  </th>
                  <th ng-repeat="item in vm.basicDim[0].existenceDTOList">
                    <h5 style="font-weight:normal ">{{ item.name }}</h5>
                    <span class="badge" popover-placement="top" uib-popover-template="'popover2.html'" popover-trigger="mouseenter">?</span>
                    <script type="text/ng-template" id="popover2.html">
                      <div ng-show="item.dimensionType === 'ROOM_CATEGORY'">
                        {{item.count}} Rooms

                      </div>
                      <div ng-show="item.dimensionType !== 'ROOM_CATEGORY'">
                        {{item.brief}}

                      </div>
                    </script>
                  </th>
                </thead>
                <tbody>
                  <tr ng-repeat="row in vm.basicDim[1].existenceDTOList">
                    <td>
                      <h5>{{row.name}}</h5>
                      <span class="badge" popover-placement="right" uib-popover-template="'popover3.html'" popover-trigger="mouseenter">?</span>
                      <script type="text/ng-template" id="popover3.html">

                        <div ng-show="row.dimensionType === 'ROOM_CATEGORY'">
                          {{row.count}} Rooms

                        </div>
                        <div ng-show="row.dimensionType !== 'ROOM_CATEGORY'">
                          {{row.brief}}

                        </div>
                      </script>
                    </td>
                    <td ng-repeat="item in vm.basicDim[0].existenceDTOList">
                      <input type="number" min="0" name="figure" ng-model="vm.contract.rates[vm.getRatePositionWithCreate(item.id, vm.basicDim[0].position, row.id,
                          vm.basicDim[1].position, third.id, vm.basicDim[2].position)].value" ng-change="vm.getRatePositionWithCreate(item.id, vm.basicDim[0].position, row.id,
                      vm.basicDim[1].position, third.id, vm.basicDim[2].position)" />
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- end 3D without supplementable dimension -->

            <!-- begin 3D with supplementable dimension -->
            <div ng-show="vm.defaultSupplementDimensions.length > 0" ng-repeat="third in vm.basicDim[2].existenceDTOList" ng-if="vm.dimLength === 3">
              <table class="table table-condensed table-striped table-bordered" style="width:100%;border-collapse: collapse;padding-bottom: 0px;">
                <thead>
                  <th>
                    <h5 style="font-weight:normal ">{{ third.name }}</h5>
                    <span class="badge" popover-placement="right" uib-popover-template="'popover1.html'" popover-trigger="mouseenter">?</span>
                    <script type="text/ng-template" id="popover1.html">
                      <div ng-show="third.dimensionType === 'ROOM_CATEGORY'">
                        {{third.count}} Rooms

                      </div>
                      <div ng-show="third.dimensionType !== 'ROOM_CATEGORY'">
                        {{third.brief}}

                      </div>
                    </script>
                  </th>
                </thead>
                <tbody>
                  <tr ng-repeat="row in vm.basicDim[1].existenceDTOList">
                    <td>
                      <h5>{{row.name}}</h5>
                      <span class="badge" popover-placement="right" uib-popover-template="'popover2.html'" popover-trigger="mouseenter">?</span>
                      <script type="text/ng-template" id="popover2.html">
                        <div ng-show="row.dimensionType === 'ROOM_CATEGORY'">
                          {{row.count}} Rooms

                        </div>
                        <div ng-show="row.dimensionType !== 'ROOM_CATEGORY'">
                          {{row.brief}}

                        </div>
                      </script>
                    </td>
                    <td style="padding: 0px;">
                      <table class="table table-condensed table-striped  table-bordered" style="width:100%;border-collapse: collapse;margin-bottom: 0px;padding-right: 0px;">
                        <thead>
                          <tr>
                            <th ng-show="{{vm.defaultSupDim.dimensionName != null}}">{{vm.defaultSupDim.dimensionName}}</th>
                            <th ng-hide="{{vm.defaultSupDim.dimensionName != null}}">{{vm.defaultSupDim.dimensionType}}</th>
                            <th ng-repeat="item in vm.basicDim[0].existenceDTOList">
                              <h5 style="font-weight:normal ">{{ item.name }}</h5>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-show="vm.defaultSupplementDimensions.length > 0">
                            <td>{{vm.defaultSupDim.name}}
                              <span class="badge" popover-placement="bottom" uib-popover-template="'popover4.html'" popover-trigger="mouseenter">?</span>
                              <!-- SCRIPT WAS HERE -->
                            </td>

                            <td ng-repeat="item in vm.basicDim[0].existenceDTOList">
                              <span ng-bind-html="vm.contract.currencySymbol"></span>
                              <input type="number" min="0" name="figure" ng-model="vm.contract.rates[vm.getRatePositionWithCreate(item.id, vm.basicDim[0].position, row.id,
                          vm.basicDim[1].position, third.id, vm.basicDim[2].position)].value" ng-change="vm.getRatePositionWithCreate(item.id, vm.basicDim[0].position, row.id,
                      vm.basicDim[1].position, third.id, vm.basicDim[2].position)" />
                            </td>

                          </tr>

                        </tbody>

                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- end 3D form -->
          </div>
          <!-- begin edit panel-->

          <div ng-if="vm.basicDim.length === 4" class="table-responsive">
            <div ng-show="vm.defaultSupplementDimensions.length == 0" ng-repeat="third in vm.basicDim[3].existenceDTOList" ng-if="vm.dimLength === 4">
              <table class="table table-condensed table-striped table-bordered" style="width:100%;border-collapse: collapse;padding-bottom: 0px;">
                <thead>
                  <th width="30%" height="30%" align="center">
                    <h5>{{third.name | uppercase}}

                      <span class="badge" popover-placement="right" uib-popover-template="'popover1.html'" popover-trigger="mouseenter">?</span>


                      <script type="text/ng-template" id="popover1.html">
                        <div ng-show="third.dimensionType === 'ROOM_CATEGORY'">
                          {{third.count}} Rooms

                        </div>
                        <div ng-show="third.dimensionType !== 'ROOM_CATEGORY'">
                          {{third.brief}}

                        </div>
                      </script>
                    </h5>

                  </th>
                </thead>
                <tbody>
                  <tr ng-repeat="row in vm.basicDim[2].existenceDTOList">
                    <td height="30%" width="30%">
                      <span title="{{row.name}} {{vm.capitalize(row.dimensionType)}}">
                        <h5>{{row.name}}
                          <span class="badge" popover-placement="right" uib-popover-template="'popover2.html'" popover-trigger="mouseenter">?</span>
                          <script type="text/ng-template" id="popover2.html">
                            <div ng-show="row.dimensionType === 'ROOM_CATEGORY'">
                              {{row.count}} Rooms

                            </div>
                            <div ng-show="row.dimensionType !== 'ROOM_CATEGORY'">
                              {{row.brief}}

                            </div>
                          </script>
                        </h5>
                      </span>
                    </td>
                    <td style="padding: 0px;">
                      <table class="table table-condensed table-striped  table-bordered" style="width:100%;border-collapse: collapse;margin-bottom: 0px;">
                        <thead>
                          <th>
                            <h5>{{vm.basicDim[1].dimensionName}}</h5>

                          </th>
                          <th ng-repeat="item in vm.basicDim[0].existenceDTOList">
                            <h5 style="font-weight:normal ">{{ item.name }}</h5>
                            <span class="badge" popover-placement="right" uib-popover-template="'popover3.html'" popover-trigger="mouseenter">?</span>
                            <script type="text/ng-template" id="popover3.html">
                              <div ng-show="item.dimensionType === 'ROOM_CATEGORY'">
                                {{item.count}} Rooms

                              </div>
                              <div ng-show="item.dimensionType !== 'ROOM_CATEGORY'">
                                {{item.brief}}

                              </div>
                            </script>
                          </th>
                        </thead>
                        <tbody>
                          <tr ng-repeat="servicePlan in vm.basicDim[1].existenceDTOList">
                            <td>{{servicePlan.name}}
                              <span class="badge" popover-placement="bottom" uib-popover-template="'popover3.html'" popover-trigger="mouseenter">?</span>
                              <script type="text/ng-template" id="popover3.html">


                                <div ng-show="servicePlan.dimensionType === 'ROOM_CATEGORY'">
                                  {{servicePlan.count}} Rooms

                                </div>
                                <div ng-show="servicePlan.dimensionType !== 'ROOM_CATEGORY'">
                                  {{servicePlan.brief}}

                                </div>
                              </script>
                            </td>
                            <td ng-repeat="item in vm.basicDim[0].existenceDTOList">
                              <!-- <h5 ng-show="vm.contract.rates[vm.getRatePosition(item.id, vm.basicDim[0].position, servicePlan.id, vm.basicDim[1].position, row.id, vm.basicDim[2].position, third.id, vm.basicDim[3].position)].value > 0">{{vm.contract.rates[vm.getRatePosition(item.id, vm.basicDim[0].position, servicePlan.id, vm.basicDim[1].position, row.id, vm.basicDim[2].position, third.id, vm.basicDim[3].position)].value}}</h5>
                        <h5 ng-show="vm.contract.rates[vm.getRatePosition(item.id, vm.basicDim[0].position, servicePlan.id, vm.basicDim[1].position, row.id, vm.basicDim[2].position, third.id, vm.basicDim[3].position)].value == null">N/A</h5> -->
                              <input type="number" min="0" name="figure" ng-model="vm.contract.rates[vm.getRatePositionWithCreate(item.id, vm.basicDim[0].position, servicePlan.id, vm.basicDim[1].position, row.id, vm.basicDim[2].position, third.id, vm.basicDim[3].position)].value"
                                ng-change="vm.getRatePositionWithCreate(item.id, vm.basicDim[0].position, servicePlan.id, vm.basicDim[1].position, row.id, vm.basicDim[2].position, third.id, vm.basicDim[3].position)"
                              />
                            </td>
                          </tr>
                        </tbody>

                      </table>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </form>
      </div>
    </div>
    <!-- Rates information div  -->


    <!-- Supplements information div  -->
    <div class="panel panel-default" ng-repeat="dimension in  vm.supplementDimensions">
      <div class="panel-heading">
        <div class="pull-right">
          <button type="button" ui-sref="contracts-own-detail.newSupplement({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, dimensionId:dimension.dimensionId, currencyId: vm.contract.currencyId, organisationId: vm.contract.issuerId, dimensionType:dimension.dimensionType})"
            class="btn btn-primary btn-xs">
            <span class="glyphicon glyphicon-plus"></span> Add Supplement</button>
        </div>
        <strong>{{dimension.dimensionName}} Supplements</strong>
        <strong ng-show="dimension.dimensionType === 'MEAL_PLAN' ">/Credits</strong>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <th>Name</th>
            <th ng-show="dimension.dimensionType === 'SPECIAL_DAY' ">Dates</th>
            <th>Billing Type</th>
            <th>Unit</th>
            <th>Value</th>
          </thead>
          <tbody>
            <tr ng-repeat="supplement in vm.filterSupplements(dimension.dimensionType)">
              <td>
                {{supplement.name}}
                <span ng-show="supplement.dimensionCount > 1">For {{vm.resolveExistenceName(supplement.dimensionType1,supplement.existence1)}}
                </span>
              </td>
              <td ng-show="supplement.dimensionType1 === 'SPECIAL_DAY'">
                <span class="badge" ng-show="supplement.description !== null">{{supplement.description}}</span>
                <span class="btn btn-danger  btn-xs" ng-show="supplement.description === null" ng-click="vm.updateSpecialSeasonDates(supplement)">update</span>
              </td>

              <td>{{supplement.billingType}}</td>
              <td ng-show="supplement.unit === 'INDIVIDUAL'">Per Person</td>
              <td ng-hide="supplement.unit === 'INDIVIDUAL'">{{supplement.unit}}</td>
              <td style="direction: ltr;text-align: right">
                <span ng-bind-html="supplement.currencySymbol"></span>
                <span class="badge">{{vm.checkIfCredit(supplement)}}</span>

              </td>
              <td>
                <div class="btn-group pull-right" role="group" aria-label="...">
                  <button class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editSupplement({contractId: vm.contract.id, setId: vm.contract.dimensionSetId,organisationId: vm.contract.issuerId,supplementId: supplement.id})">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                  <button class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteSupplement({contractId: vm.contract.id, setId: vm.contract.dimensionSetId,type: 'BASIC',supplementId: supplement.id})">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </div>
              </td>
            </tr>
            <tr ng-show="vm.filterSupplements(dimension.dimensionType).length ==0">
              <td colspan="5" class="text-center">No records found</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Supplements information div  -->

    <!-- Extras information div  -->

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-right">
          <button type="button" ui-sref="contracts-own-detail.newSupplement({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, dimensionId: -1, currencyId: vm.contract.currencyId, organisationId: vm.contract.issuerId, dimensionType:-1})"
            class="btn btn-xs btn-primary">
            <span class="glyphicon glyphicon-plus"></span>Add Extras</button>
        </div>
        <strong>Extras</strong>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <th>Name</th>
            <th>Billing Type</th>
            <th>Unit</th>
            <th>Value</th>
            <th>Mandatory? </th>

          </thead>
          <tbody>
            <tr ng-repeat="supplement in vm.filterSupplements(dimension.dimensionId)">
              <td>
                {{supplement.name}}
                <span ng-show="supplement.dimensionCount > 1">For {{vm.resolveExistenceName(supplement.dimensionType2,supplement.existence2)}}
                </span>
              </td>
              <td>{{supplement.billingType}}</td>

              <td ng-show="supplement.unit === 'INDIVIDUAL'">Per Person</td>
              <td ng-hide="supplement.unit === 'INDIVIDUAL'">{{supplement.unit}}</td>
              <td>
                <span ng-bind-html="supplement.currencySymbol"></span> {{supplement.value}}</td>
              <td>{{supplement.mandatory}}</td>

              <td>
                <div class="btn-group pull-right" role="group" aria-label="...">
                  <button class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editSupplement({contractId: vm.contract.id, setId: vm.contract.dimensionSetId,organisationId: vm.contract.issuerId,supplementId: supplement.id})">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                  <button class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteSupplement({contractId: vm.contract.id, setId: vm.contract.dimensionSetId,type: 'BASIC',supplementId: supplement.id})">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </div>
              </td>
            </tr>

            <tr ng-show="vm.filterSupplements(dimension.dimensionId).length ==0">
              <td colspan="5" class="text-center">No records found</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <!-- Extras information div  -->

  </div>


  <div class="col-md-4">
    <!-- applicable to div  -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-right">
          <button type="button" ui-sref="contracts-own-detail.newParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'DIMENSION'})"
            class="btn btn-xs btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Add Parameter</button>
        </div>
        <strong> Contract ONLY Applicable to:</strong>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <tbody>
            <tr ng-repeat="parameter in vm.dimensionExclusiveParameters">
              <td width="40%">
                {{vm.resolveDimensionNameByType(parameter.parameter)}}
              </td>
              <td>
                {{vm.resolveExistenceName(parameter.parameter, parameter.value)}}

              </td>
              <td>
                <div class="btn-group pull-right" role="group" aria-label="...">
                  <button class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'DIMENSION',paramId: parameter.id})">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                  <button class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'DIMENSION',paramId: parameter.id})">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </div>
              </td>

            </tr>
            <tr ng-show="vm.dimensionExclusiveParameters.length == 0">
              <td colspan="2">
                No parameters found.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- applicable information div  -->

    <!-- other params information div  -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-right">
          <button type="button" ui-sref="contracts-own-detail.newParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'BASIC'})"
            class="btn btn-xs btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Add Parameter</button>
        </div>
        <strong>Contract supports</strong>
      </div>

      <div class="table-responsive">
        <table class="table table-striped">
          <tbody>
            <tr ng-repeat="parameter in vm.basicParameters">
              <td width="40%">
                {{vm.resolveDimensionNameByType(parameter.parameter)}}
              </td>
              <td>
                {{vm.resolveExistenceName(parameter.parameter, parameter.value)}}
              </td>
              <td>
                <div class="btn-group pull-right" role="group" aria-label="...">
                  <button class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'BASIC',paramId: parameter.id})">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                  <button class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'BASIC',paramId: parameter.id})">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </div>
              </td>
            </tr>
            <tr ng-show="vm.basicParameters.length == 0">
              <td>
                No parameters found.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <div class="panel-body">
          {{vm.basicParameters}}
        </div> -->
    </div>

    <!-- other params information  div  -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Child Policy</strong>
      </div>
      <div class="">
        <ul class="" ng-repeat="policy in vm.policy">
          <h5>{{policy.name}}</h5>
          <li ng-repeat="rule in policy.occupancyRulesDTOList" class="">
            {{rule.description}}</li>
        </ul>

      </div>
    </div>

    <!-- Discounts-->
    <div class="panel panel-default" ng-show="vm.discountParameters.length > 0">
      <div class="panel-heading">
        <div class="pull-right">
          <button type="button" ui-sref="contracts-own-detail.newParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'DISCOUNT'})"
            class="btn btn-xs btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Add Parameter</button>
        </div>
        <strong>Discounts</strong>
      </div>

      <div class="panel-body">

        <p ng-show="vm.discountParameters.length == 0">No notes found.</p>

        <div class="note" ng-repeat="parameter in vm.discountParameters">
          <div class="pull-right">
            <div class="btn-group" role="group" aria-label="...">
              <button class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'DISCOUNT',paramId: parameter.id})">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <button class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'DISCOUNT',paramId: parameter.id})">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>
          </div>
          <h5> {{parameter.parameter}} </h5>
          <p>
            <div ng-bind-html="parameter.value"></div>
        </div>

      </div>

    </div>
    <!-- End Discount Param-->


    <!-- Payments -->
    <div class="panel panel-default" ng-show="vm.paymentParameters.length > 0">
      <div class="panel-heading">
        <div class="pull-right">
          <button type="button" ui-sref="contracts-own-detail.newParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'PAYMENT'})"
            class="btn btn-xs btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Add Parameter</button>
        </div>
        <strong>Payments policies & Refund</strong>
      </div>

      <div class="panel-body">

        <p ng-show="vm.paymentParameters.length == 0">No notes found.</p>

        <div class="note" ng-repeat="parameter in vm.paymentParameters">
          <div class="pull-right">
            <div class="btn-group" role="group" aria-label="...">
              <button class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'PAYMENT',paramId: parameter.id})">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <button class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'PAYMENT',paramId: parameter.id})">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>
          </div>
          <h5> {{parameter.parameter}} </h5>
          <p>
            <div ng-bind-html="parameter.value"></div>
        </div>

      </div>

    </div>
    <!--- End payment  -->

    <!--OCCUPANCY params-->
    <div class="panel panel-default" ng-show="vm.occupancyParameters.length > 0">
      <div class="panel-heading">
        <div class="pull-right">
          <button type="button" ui-sref="contracts-own-detail.newParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'OCCUPANCY'})"
            class="btn btn-xs btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Add Parameter</button>
        </div>
        <strong>Occupancy policy</strong>
      </div>

      <div class="panel-body">

        <p ng-show="vm.occupancyParameters.length == 0">No notes found.</p>

        <div class="note" ng-repeat="parameter in vm.occupancyParameters">
          <div class="pull-right">
            <div class="btn-group" role="group" aria-label="...">
              <button class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'OCCUPANCY',paramId: parameter.id})">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <button class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'OCCUPANCY',paramId: parameter.id})">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>
          </div>
          <h5> {{parameter.parameter}} </h5>
          <p>
            <div ng-bind-html="parameter.value"></div>
        </div>

      </div>

    </div>
    <!-- End Occupancy params-->


    <!-- Mininimu Stay-->
    <div class="panel panel-default" ng-show="vm.minimumStayParameters.length > 0">
      <div class="panel-heading">
        <div class="pull-right">
          <button type="button" ui-sref="contracts-own-detail.newParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'OCCUPANCY'})"
            class="btn btn-xs btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Add Parameter</button>
        </div>
        <strong>Minimum Number of Nights</strong>
      </div>

      <div class="panel-body">

        <p ng-show="vm.minimumStayParameters.length == 0">No notes found.</p>

        <div class="note" ng-repeat="parameter in vm.minimumStayParameters">
          <div class="pull-right">
            <div class="btn-group" role="group" aria-label="...">
              <button class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'MINIMUM_STAY',paramId: parameter.id})">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <button class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'MINIMUM_STAY',paramId: parameter.id})">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>
          </div>
          <h5> {{parameter.parameter}} </h5>
          <p>
            <div ng-bind-html="parameter.value"></div>
        </div>

      </div>
    </div>
    <!-- End minimum stay Params-->

    <!-- begin single room notes  -->
    <div class="panel panel-default" ng-show="vm.singleRoomRateParameters.length > 0">
      <div class="panel-heading">
        <div class="pull-right">
          <button type="button" ui-sref="contracts-own-detail.newParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'SINGLE_ROOM_RATE_POLICY'})"
            class="btn btn-xs btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Add Parameter</button>
        </div>
        <strong>Single Room Rate Policy</strong>
      </div>
      <div class="panel-body">
        <p ng-show="vm.singleRoomRateParameters.length == 0">No notes found.</p>
        <div class="note" ng-repeat="parameter in vm.singleRoomRateParameters">
          <div class="pull-right">
            <div class="btn-group" role="group" aria-label="...">
              <button class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'SINGLE_ROOM_RATE_POLICY',paramId: parameter.id})">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <button class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'SINGLE_ROOM_RATE_POLICY',paramId: parameter.id})">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>
          </div>
          <h5> {{parameter.parameter}} </h5>
          <p>
            <div ng-bind-html="parameter.value"></div>
        </div>
      </div>

    </div>
    <!-- end single room notes  -->


    <!-- Special Offers-->
    <div class="panel panel-default" ng-show="vm.specialOfferParameters.length > 0">
      <div class="panel-heading">
        <div class="pull-right">
          <button type="button" ui-sref="contracts-own-detail.newParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'OCCUPANCY'})"
            class="btn btn-xs btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Add Parameter</button>
        </div>
        <strong>Special Offers</strong>
      </div>

      <div class="panel-body">

        <p ng-show="vm.specialOfferParameters.length == 0">No notes found.</p>

        <div class="note" ng-repeat="parameter in vm.specialOfferParameters">
          <div class="pull-right">
            <div class="btn-group" role="group" aria-label="...">
              <button class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'SPECIAL_OFFER',paramId: parameter.id})">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <button class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'SPECIAL_OFFER',paramId: parameter.id})">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>
          </div>
          <h5> {{parameter.parameter}} </h5>
          <p>
            <div ng-bind-html="parameter.value"></div>
        </div>

      </div>

    </div>
    <!-- Special Offers-->


    <!-- cancellation policies -->
    <div class="panel panel-default" ng-show="vm.cancellationParameters.length > 0">
      <div class="panel-heading">
        <div class="pull-right">
          <button type="button" ui-sref="contracts-own-detail.newParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'CANCELLATION'})"
            class="btn btn-xs btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Add Parameter</button>
        </div>
        <strong>Cancellation Policy</strong>
      </div>

      <div class="panel-body">

        <p ng-show="vm.cancellationParameters.length == 0">No notes found.</p>

        <!-- beginning of notes -->
        <div class="note" ng-repeat="parameter in vm.cancellationParameters">
          <div class="pull-right">
            <div class="btn-group" role="group" aria-label="...">
              <button class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'CANCELLATION',paramId: parameter.id})">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <button class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'CANCELLATION',paramId: parameter.id})">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>
          </div>
          <h5> {{parameter.parameter}} </h5>
          <p>
            <div ng-bind-html="parameter.value"></div>
          </p>
        </div>
        <!-- end of note  -->

      </div>
      <!-- <div class="panel-body">
          {{vm.basicParameters}}
        </div> -->
    </div>
    <!-- cancellation policies -->

    <!-- checkout notes -->
    <div class="panel panel-default" ng-show="vm.timeParameters.length > 0">
      <div class="panel-heading">
        <div class="pull-right">
          <button type="button" ui-sref="contracts-own-detail.newParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'ARRIVAL_AND_CHECKOUT'})"
            class="btn btn-xs btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Add Parameter</button>
        </div>
        <strong>ARRIVAL And CHECKOUT</strong>
      </div>
      <div class="panel-body">

        <p ng-show="vm.timeParameters.length == 0">No notes found.</p>

        <!-- beginning of notes -->
        <div class="note" ng-repeat="parameter in vm.timeParameters">
          <div class="pull-right">
            <div class="btn-group" role="group" aria-label="...">
              <button class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'ARRIVAL_AND_CHECKOUT',paramId: parameter.id})">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <button class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'ARRIVAL_AND_CHECKOUT',paramId: parameter.id})">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>
          </div>
          <h5> {{parameter.parameter}} </h5>
          <p>
            <div ng-bind-html="parameter.value"></div>
          </p>
        </div>
        <!-- end of note  -->

      </div>
      <!-- <div class="panel-body">
          {{vm.basicParameters}}
        </div> -->
    </div>
    <!-- checkout notes -->

    <!-- closure notes -->
    <div class="panel panel-default" ng-show="vm.closedParameters.length > 0">
      <div class="panel-heading">
        <div class="pull-right">
          <button type="button" ui-sref="contracts-own-detail.newParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'CLOSED'})"
            class="btn btn-xs btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Add Parameter</button>
        </div>
        <strong>Repose</strong>
      </div>

      <div class="panel-body">

        <p ng-show="vm.closedParameters.length == 0">No notes found.</p>

        <!-- beginning of notes -->
        <div class="note" ng-repeat="parameter in vm.closedParameters">
          <div class="pull-right">
            <div class="btn-group" role="group" aria-label="...">
              <button class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'CLOSED',paramId: parameter.id})">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <button class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'CLOSED',paramId: parameter.id})">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>
          </div>
          <h5> {{parameter.parameter}} </h5>
          <p>
            <div ng-bind-html="parameter.value"></div>
        </div>
        <!-- end of note  -->

      </div>
      <!-- <div class="panel-body">
            {{vm.basicParameters}}
          </div> -->
    </div>
    <!-- closure notes -->


    <!-- Special Notes information div  -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-right">
          <button type="button" ui-sref="contracts-own-detail.newParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'NOTE'})"
            class="btn btn-xs btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Add Note</button>
        </div>
        <strong>Special Notes</strong>
      </div>
      <div class="panel-body">

        <p ng-show="vm.notesParameters.length == 0">No notes found.</p>

        <!-- beginning of notes -->
        <div class="note" ng-repeat="parameter in vm.notesParameters">
          <div class="pull-right">
            <div class="btn-group" role="group" aria-label="...">
              <button class="btn btn-xs btn-default" type="button" ui-sref="contracts-own-detail.editParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'NOTE',paramId: parameter.id})">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <button class="btn btn-xs btn-default" ui-sref="contracts-own-detail.deleteParameter({contractId: vm.contract.id, setId: vm.contract.dimensionSetId, type: 'NOTE',paramId: parameter.id})">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>
          </div>
          <h5> {{parameter.parameter}} </h5>
          <p>
            <div ng-bind-html="parameter.value"></div>
          </p>
        </div>
        <!-- end of note  -->

      </div>
    </div>
    <!-- Special Notes information div  -->
  </div>


</div>

<!-- end of left main div  -->

<!-- begin righ main div -->

<!-- end righ main div -->

<!-- panels for contract  -->

<!-- END OF NEW PAGE -->
