<!-- breadcrumb -->
<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active" class="active">
              <a ui-sref="costs">Pricing</a>
            </li>
            <li ui-sref-active="active" class="active">Contracts</li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="breadcrumb-btns">
            <ul class="nav nav-pills pull-right">
              <li>
                <button type="button" class="btn btn-default btn-sm" ui-sref="cost-contracts.new" ng-disabled="vm.hideCreateContract">
                  <span class="glyphicon glyphicon-plus-sign"></span> Contract</button>
              </li>
              <!-- <li>
                <button type="button" class="btn btn-default btn-sm" ui-sref="cost-contracts.newSafari({year: 2019, statePackageType:'FIT'})">
                  <span class="glyphicon glyphicon-plus"></span>
                  <span>Safari</span>
                </button>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of breadcrumb -->
<!-- filter panel -->
<div class="filter-panel">
  <div class="filter-panel-body">
    <form ng-submit="vm.search()">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-3">
              <select class="form-control" ng-model="vm.entity.target" ng-change='vm.search()'>
                <option value="">Select Target</option>
                <option ng-repeat="obj in vm.organizations" value="{{obj.id}}">{{obj.name}}</option>
              </select>
            </div>
            <div class="col-md-3">
              <select id="year-filter" class="form-control" ng-model="vm.entity.year" ng-change='vm.search()'>
                <option value="">Select Year</option>
                <option ng-repeat="obj in vm.years" value="{{obj}}">{{obj}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-3 pull-right">
          <p class="input-group" style="margin: 0px 0px;">
            <input type="text" class="form-control" placeholder="Contract name" id="BatchSearchText" ng-model="vm.entity.name" ng-change="vm.search()" />
            <span class="input-group-btn" style="height: 29px;  ">
              <button class="btn btn-primary btn-md waves-effect waves-light " style="font-size: 12px; line-height: 1.37859" type="submit">Go</button>
            </span>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- end of filter panel  -->

<!-- Contracts -->
<!-- Contracts not found -->
<div class="row">
  <div class="col-md-12" ng-show="!vm.contracts || vm.contracts.length ==0">
    <div class="panel panel-default">
      <div class="panel-body">
        <div ng-show='vm.isLoading' class="no-records-found">
          Searching...
        </div>

        <div ng-hide='vm.isLoading' class="no-records-found">
          No contracts found.
        </div>
      </div>
    </div>
  </div>
  <!-- end of not found -->

  <!-- Contracts can be found -->
  <div ng-show="vm.contracts">
    <div class="col-sm-6 col-md-3" ng-repeat="contract in vm.contracts">
      <div class="thumbnail">

        <img class="img-responsive" ng-src="{{vm.profile_image_url}}{{contract.uuid}}" alt="{{ vm.contract.name }}">
        <div class="caption">
          <!-- <div class="pull-right">
            <a ui-sref="cost-contracts.edit({contractId:contract.id})">
              <h5>
                <span class="glyphicon glyphicon-pencil"></span>
              </h5>
            </a>
          </div> -->
          <!-- <h5>{{contract.name}} - {{contract.displayedVersion.id}} - {{contract.draftVersionId}}</h5> -->

          <h5>{{contract.name}}</h5>
          <p><strong>From :</strong> {{contract.startDate}}</p>
          <p><strong>To :</strong> {{contract.endDate}}</p>
          <p>
            <span ng-show="contract.status  == 'DRAFT'" class="label label-warning" >{{contract.status}}</span>
            <span ng-show="contract.status  == 'VALID'" class="label label-warning" >{{contract.status}}</span>
            <span ng-show="contract.status  == 'DELETED'" class="label label-danger" >{{contract.status}}</span>
            <span ng-show="contract.status  == 'PUBLISHED'" class="label label-success" >{{contract.status}}</span>
          </p>
            <p ng-show="contract.status  == 'DRAFT'">
            <a class="btn btn-primary" role="button" target="_blank" ui-sref="cost-contracts-detail({contractId: contract.id, setId: contract.dimensionSetId,seasonGroupId: contract.seasonGroupId, year: contract.year, versionId:contract.draftVersionId})">View</a>
          </p>
          <p ng-show="contract.status  == 'VALID'">
            <a class="btn btn-primary" role="button" target="_blank"
              ui-sref="cost-contracts-detail({contractId: contract.id, setId: contract.dimensionSetId,seasonGroupId: contract.seasonGroupId, year: contract.year, versionId:contract.draftVersionId})">View</a>
          </p>

          <p ng-show="contract.status  == 'DELETED'">
            <a class="btn btn-primary" role="button" target="_blank"
              ui-sref="cost-contracts-detail({contractId: contract.id, setId: contract.dimensionSetId,seasonGroupId: contract.seasonGroupId, year: contract.year, versionId:contract.draftVersionId})">View</a>
          </p>

          <p ng-show="contract.status  == 'PUBLISHED'">
            <a class="btn btn-primary" role="button" target="_blank"
              ui-sref="cost-contracts-detail({contractId: contract.id, setId: contract.dimensionSetId,seasonGroupId: contract.seasonGroupId, year: contract.year, versionId:contract.publishedVersionId})">View</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Contracts can be found -->
</div>
<!-- End Contracts -->
