<!-- breadcrumb -->
<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="contracts-own">Contracts</a>
            </li>
            <li ui-sref-active="active" class="active">{{vm.contract.name}}</li>
          </ul>
        </div>
        <div permission="['ORGANISATION_ADMIN']" class="col-md-4">
          <div class="breadcrumb-btns">
            <ul class="nav nav-pills pull-right">

              <li>
                <button type="button" class="btn btn-primary btn-sm" ui-sref="contracts-own-detail({contractId: vm.contract.id, setId: vm.contract.dimensionSetId,seasonGroupId:vm.contract.seasonGroupId,year: vm.contract.year})">
                  <span class="glyphicon glyphicon-edit"></span> Manage </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of breadcrumb -->

<div class="row">
  <!-- begin of left main div  -->
  <div class="col-md-8">
    <!-- Rates information div  -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>{{vm.contract.type}} Rates in {{vm.contract.currencyAbbreviation}} -{{vm.basicDim.length}}D</strong>
      </div>
      <div>
        <div ng-if="vm.basicDim.length === 2" class="table-responsive">
          <h4 class="text-center">Rates</h4>
          <br>
          <table class="table table-striped table-bordered">
            <thead>
              <th></th>
              <th ng-repeat="item in vm.basicDim[0].existenceDTOList">
                <!-- {{ item.name }}
              <span class="badge" popover-placement="top" uib-popover-template="'popover.html'" popover-trigger="mouseenter">?</span>
                <script type="text/ng-template" id="popover.html">
                  <div>
                    {{ item.brief }}
                    <ul>
                    </ul>
                  </div>
                </script> -->
                <h5 ng-hide="item.dimensionType === 'SEASON'" style="font-weight:normal ">{{ item.name }}</h5>
                <h5 ng-show="item.dimensionType === 'SEASON'" style="font-weight:normal ">{{ item.brief }}</h5>
                <span ng-hide="item.dimensionType === 'SEASON'" class="badge" popover-placement="top"
                  uib-popover-template="'popover.html'" popover-trigger="mouseenter">?</span>
                <script type="text/ng-template" id="popover.html">
                  <div>
                  {{ item.brief }}
                  <ul>
                  </ul>
                </div>
              </script>
                <span ng-show="item.dimensionType === 'SEASON'" class="badge" popover-placement="top"
                  uib-popover-template="'popover.html'" popover-trigger="mouseenter">?</span>
                <script ng-show="item.dimensionType === 'SEASON'" type="text/ng-template" id="popover.html">
                  <div>
                  {{ item.brief }}
                  <ul>
                  </ul>
                </div>
              </script>
              </th>
            </thead>
            <tbody>
              <tr ng-repeat="row in vm.basicDim[1].existenceDTOList">
                <td>
                  <h5 ng-hide="row.dimensionType === 'SEASON'" style="font-weight:normal ">{{ row.name }}</h5>
                  <h5 ng-show="row.dimensionType === 'SEASON'" style="font-weight:normal ">{{ row.brief }}</h5>
                  <span ng-hide="row.dimensionType === 'SEASON'" class="badge" popover-placement="top"
                    uib-popover-template="'popover.html'" popover-trigger="mouseenter">?</span>
                  <script type="text/ng-template" id="popover.html">
                    <div>
                      {{ row.brief }}
                      <ul>
                      </ul>
                    </div>
                  </script>
                  <span ng-show="row.dimensionType !== 'SEASON' && row.name !== null " class="badge" popover-placement="top"
                    uib-popover-template="'popover.html'" popover-trigger="mouseenter">?</span>
                  <script type="text/ng-template" id="popover.html">
                    <div>
                      {{ row.name }}
                      <ul>
                      </ul>
                    </div>
                  </script>
                </td>
                <td ng-repeat="item in vm.basicDim[0].existenceDTOList">
                  <!-- <input type="number" ng-model="vm.figures[0][$parent.$index][$index]" disabled/> -->
                  <h5 ng-show="vm.contract.rates[vm.getRatePosition(item.id, row.id,third.id)].value > 0">{{vm.contract.rates[vm.getRatePosition(item.id,
                    row.id,third.id)].value}}</h5>
                  <h5 ng-show="vm.contract.rates[vm.getRatePosition(item.id, row.id,third.id)].value === null && vm.contract.rates.length > 0">N/A</h5>
                  <!-- {{vm.figures[0][$parent.$index][$index]}} -->
                </td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>

        <div ng-if="vm.basicDim.length === 3 || vm.basicDim.length === 4" class="table-responsive">
          <div ng-hide="vm.noGroupsFound" ng-repeat="third in vm.basicDim[4].existenceDTOList" ng-if="vm.dimLength === 3 || vm.dimLength === 4">
            <table class="table table-condensed table-striped table-bordered" style="width:100%;border-collapse: collapse;padding-bottom: 0px;">
              <thead>
                <th width="30%" height="30%" align="center">
                  <h5>{{third.name | uppercase}}

                    <span class="badge" popover-placement="top" uib-popover-template="'popover.html'" popover-trigger="mouseenter">?</span>
                    <script type="text/ng-template" id="popover.html">
                      <div>
                        {{ third.brief }}
                        <ul>
                        </ul>
                      </div>
                    </script>
                  </h5>

                </th>
              </thead>
              <tbody>
                <tr ng-repeat="row in vm.seasonDim.existenceDTOList">
                  <td height="30%" width="30%">
                    <span title="{{row.name}} {{vm.capitalize(row.dimensionType)}}">
                      <h5>{{row.name}}

                        <span class="badge" popover-placement="bottom" uib-popover-template="'popover.html'"
                          popover-trigger="mouseenter">?</span>
                        <script type="text/ng-template" id="popover.html">
                          <div>
                    {{ row.brief }}
                    <ul>
                    </ul>
                  </div>
                </script>
                      </h5>
                    </span>
                  </td>
                  <!-- <td ng-hide="row.dimensionType === 'SEASON'" height="30%" width="30%">
                      <span title="{{row.name}} {{vm.capitalize(row.dimensionType)}}">
                        <h5>{{row.name}}s</h5>
                      </span>
                    </td> -->
                  <td style="padding: 0px;">
                    <table class="table table-condensed table-striped  table-bordered" style="width:100%;border-collapse: collapse;margin-bottom: 0px;">
                      <thead>
                  <th>
                    <h5>{{vm.mealPlanDim.dimensionName}}</h5>
                  </th>
                  <th ng-repeat="item in vm.basicDim[0].existenceDTOList">
                    <h5 style="font-weight:normal ">{{ item.name }}</h5>
                    <!-- <h5 ng-show="item.dimensionType === 'SEASON'" style="font-weight:normal ">{{ item.brief }}</h5> -->

                  </th>
                  </thead>
              <tbody>
                <tr ng-show="vm.mealPlanDim.hasDefault == false" ng-repeat="servicePlan in vm.mealPlanDim.existenceDTOList">
                  <td>{{servicePlan.name}}

                    <span class="badge" popover-placement="bottom" uib-popover-template="'popover.html'" popover-trigger="mouseenter">?</span>
                    <script type="text/ng-template" id="popover.html">
                      <div>
                    {{ servicePlan.brief }}
                    <ul>
                    </ul>
                  </div>
                </script>
                  </td>
                  <td ng-repeat="item in vm.basicDim[0].existenceDTOList">
                    <h5 ng-show="vm.contract.rates[vm.getRatePosition(item.id,servicePlan.id, row.id,third.id)].value > 0">{{vm.contract.rates[vm.getRatePosition(item.id,
                      row.id,third.id)].value}}</h5>
                    <h5 ng-show="vm.contract.rates[vm.getRatePosition(item.id, servicePlan.id,row.id,third.id)].value === null && vm.contract.rates.length > 0">N/A</h5>
                  </td>
                </tr>
                <tr ng-show="vm.mealPlanDim.hasDefault == true">
                  <td>{{vm.defaultMealPlan.name}}
                    <span class="badge" popover-placement="bottom" uib-popover-template="'popover.html'" popover-trigger="mouseenter">?</span>
                    <script type="text/ng-template" id="popover.html">
                      <div>
                    {{ vm.defaultMealPlan.brief }}
                    <ul>
                    </ul>
                  </div>
                </script>
                  </td>
                  <td ng-repeat="item in vm.basicDim[0].existenceDTOList">
                    <h5 ng-show="vm.contract.rates[vm.getRatePosition(item.id, row.id,third.id)].value > 0">{{vm.contract.rates[vm.getRatePosition(item.id,
                      row.id,third.id)].value}}</h5>
                    <h5 ng-show="vm.contract.rates[vm.getRatePosition(item.id, row.id,third.id)].value === null && vm.contract.rates.length > 0">N/A</h5>
                  </td>
                </tr>
              </tbody>

            </table>
            </td>

            </tr>
            </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
    <div class="panel panel-default" ng-repeat="dimension in  vm.supplementDimensions">
      <div class="panel-heading">
        <strong>{{dimension.dimensionName}} Supplements</strong><strong ng-show="dimension.dimensionType === 'MEAL_PLAN' ">/Credits</strong>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <th>Name</th>
            <th ng-show="dimension.dimensionType === 'SPECIAL_DAY' ">Date</th>
            <th>Billing Type</th>
            <th>Unit</th>
            <th>Value</th>
          </thead>
          <tbody>
            <tr ng-repeat="supplement in vm.filterSupplements(dimension.dimensionType)">
              <td>{{supplement.name}} <span ng-show="supplement.dimensionCount > 1">For
                  {{vm.resolveExistenceName(supplement.dimensionType1,supplement.existence1)}}</span></td>
              <td ng-show="supplement.dimensionType1 === 'SPECIAL_DAY'"> <span class="badge" ng-show="supplement.description !== null">{{supplement.description}}</span>
                <span class="btn btn-danger  btn-xs" ng-show="supplement.description === null" ng-click="vm.updateSpecialSeasonDates(supplement)">update</span>
              </td>
              <td>{{supplement.billingType}}</td>

              <td ng-show="supplement.unit === 'INDIVIDUAL'">Per Person</td>
              <td ng-hide="supplement.unit === 'INDIVIDUAL'">{{supplement.unit}}</td>

              <td>
                <span ng-bind-html="supplement.currencySymbol"></span> <span class="badge">{{vm.checkIfCredit(supplement)}}</span>

              </td>
            </tr>
            <tr ng-show="vm.filterSupplements(dimension.dimensionType).length ==0">
              <td colspan="5" class="text-center">No records found</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Extras</strong>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <th>Name</th>
            <th>Billing Type</th>
            <th>Unit</th>
            <th>Value</th>
            <th>Mandatory? </th>

          </thead>
          <tbody>
            <tr ng-repeat="supplement in vm.filterSupplements(dimension.dimensionId)">
              <div ng-show="vm.twoDSupplements.length > 0 ">
                <td>
                  {{supplement.name}}
                  <span ng-show="supplement.dimensionCount > 1">For
                    {{vm.resolveExistenceName(supplement.dimensionType2,supplement.existence2)}}</span>
                </td>
                <td>{{supplement.billingType}}</td>

                <td ng-show="supplement.unit === 'INDIVIDUAL'">Per Person</td>
                <td ng-hide="supplement.unit === 'INDIVIDUAL'">{{supplement.unit}}</td>
                <td> <span ng-bind-html="supplement.currencySymbol"></span> {{supplement.value}}</td>
                <td>{{supplement.mandatory}}</td>
            </tr>
            <tr ng-show="vm.filterSupplements(dimension.dimensionId).length ==0">
              <td colspan="5" class="text-center">No records found</td>
            </tr>
      </div>

      </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-4">

    <!-- Resolve Contract DIV -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong> Resolve Price</strong>
      </div>

      <div class="panel-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-6" for="test">Date of Visit *</label>
            <div class="col-sm-6">
              <input class="form-control" type="date" ng-model="vm.resolveRates.dateOfVisit" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-6" for="test">Date of Birth (Client)</label>
            <div class="col-sm-6">
              <input class="form-control" type="date" ng-model="vm.resolveRates.dateOfBirth" />
            </div>
          </div>
          <div class="col-md-6" ng-repeat="parameter in vm.contractParameters">
            <br>
            <label class="control-label" for="field_startDate">{{parameter.dimensionName}}</label>
            <select class="form-control" name="type" ng-model="parameter.value">
              <option value=""></option>
              <option ng-repeat="object in parameter.existenceDTOList " value="{{object.id}}" ng-selected="object.id == parameter.value">
                {{object.name}} </option>
            </select>
          </div>
          <div class="col-md-12">
            <button class="pull-right btn btn-primary" ng-click="vm.calculate(vm.resolveRates)">Calculate</button>
          </div>
        </form>

      </div>
    </div>

    <!-- applicable to div  -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong> Contract ONLY Applicable to:</strong>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <tbody>
            <tr ng-repeat="parameter in vm.dimensionExclusiveParameters">
              <td width="40%">
                {{vm.resolveDimensionNameByType(parameter.parameter)}}
              </td>
              <td>
                <span class="label label-warning">
                  {{vm.resolveExistenceName(parameter.parameter, parameter.value)}}
                </span>


              </td>
            </tr>
            <tr ng-show="vm.dimensionExclusiveParameters.length == 0">
              <td colspan="2">
                No parameters found.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Contract supports</strong>
      </div>

      <div class="table-responsive">
        <table class="table table-striped">
          <tbody>
            <tr ng-repeat="parameter in vm.basicParameters">
              <td width="40%">
                {{vm.resolveDimensionNameByType(parameter.parameter)}}
              </td>
              <td>
                {{vm.resolveExistenceName(parameter.parameter, parameter.value)}}
              </td>
            </tr>
            <tr ng-show="vm.basicParameters.length == 0">
              <td>
                No parameters found.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <div class="panel-body">
        {{vm.basicParameters}}
      </div> -->
    </div>
    <!-- applicable information div  -->
    <!-- other params information  div  -->

    <!-- Occupancy Policy information div  -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Child Policy</strong>
      </div>
      <div class="">
        <ul class="" ng-repeat="policy in vm.policy">
          <h5>{{policy.name}}</h5>
          <li ng-repeat="rule in policy.occupancyRulesDTOList" class="">
            {{rule.description}}</li>
        </ul>

      </div>
    </div>

    <div class="panel panel-default" ng-show="vm.discountParameters.length > 0">
      <div class="panel-heading">

        <strong>Discounts</strong>
      </div>

      <div class="panel-body">

        <p ng-show="vm.discountParameters.length == 0">No notes found.</p>

        <div class="note" ng-repeat="parameter in vm.discountParameters">

          <h5> {{parameter.parameter}} </h5>
          <p>
            <div ng-bind-html="parameter.value"></div>
        </div>

      </div>

    </div>
    <!-- End Discount Param-->
    <!-- Payments -->
    <div class="panel panel-default" ng-show="vm.paymentParameters.length > 0">
      <div class="panel-heading">

        <strong>Payments policies & Refund</strong>
      </div>

      <div class="panel-body">

        <p ng-show="vm.paymentParameters.length == 0">No notes found.</p>

        <div class="note" ng-repeat="parameter in vm.paymentParameters">

          <h5> {{parameter.parameter}} </h5>
          <p>
            <div ng-bind-html="parameter.value"></div>
        </div>

      </div>

    </div>
    <!--- End payment  -->
    <!--     vm.noteCategory = ["DISCOUNT", "PAYMENT", "OCCUPANCY" , "CANCELLATION",  "ARRIVAL_AND_CHECKOUT", "NOTE" ];
-->
    <!--OCCUPANCY params-->

    <div class="panel panel-default" ng-show="vm.occupancyParameters.length > 0">
      <div class="panel-heading">

        <strong>Occupancy policy</strong>
      </div>

      <div class="panel-body">

        <p ng-show="vm.occupancyParameters.length == 0">No notes found.</p>

        <div class="note" ng-repeat="parameter in vm.occupancyParameters">

          <h5> {{parameter.parameter}} </h5>
          <p>
            <div ng-bind-html="parameter.value"></div>
        </div>

      </div>

    </div>

    <!-- End Occupancy params-->
    <div class="panel panel-default" ng-show="vm.minimumStayParameters.length > 0">
      <div class="panel-heading">
        <strong>Minimum Number of Nights</strong>
      </div>

      <div class="panel-body">

        <p ng-show="vm.minimumStayParameters.length == 0">No notes found.</p>

        <div class="note" ng-repeat="parameter in vm.minimumStayParameters">
          <h5> {{parameter.parameter}} </h5>
          <p>
            <div ng-bind-html="parameter.value"></div>
        </div>

      </div>

    </div>
    <div class="panel panel-default" ng-show="vm.singleRoomRateParameters.length > 0">
      <div class="panel-heading">
        <strong>Single Room Rate Policy
        </strong>
      </div>

      <div class="panel-body">

        <p ng-show="vm.singleRoomRateParameters.length == 0">No notes found.</p>

        <div class="note" ng-repeat="parameter in vm.singleRoomRateParameters">
          <h5> {{parameter.parameter}} </h5>
          <p>
            <div ng-bind-html="parameter.value"></div>
        </div>

      </div>

    </div>

    <!-- End minimum stay Params-->
    <!-- Special Offers-->

    <div class="panel panel-default" ng-show="vm.specialOfferParameters.length > 0">
      <div class="panel-heading">
        <strong>Special Offers</strong>
      </div>

      <div class="panel-body">

        <p ng-show="vm.specialOfferParameters.length == 0">No notes found.</p>

        <div class="note" ng-repeat="parameter in vm.specialOfferParameters">
          <h5> {{parameter.parameter}} </h5>
          <p>
            <div ng-bind-html="parameter.value"></div>
        </div>

      </div>

    </div>
    <!-- Special Offers-->

    <div class="panel panel-default" ng-show="vm.cancellationParameters.length > 0">
      <div class="panel-heading">

        <strong>Cancellation Policy</strong>
      </div>

      <div class="panel-body">

        <p ng-show="vm.cancellationParameters.length == 0">No notes found.</p>

        <!-- beginning of notes -->
        <div class="note" ng-repeat="parameter in vm.cancellationParameters">

          <h5> {{parameter.parameter}} </h5>
          <p>
            <div ng-bind-html="parameter.value"></div>
        </div>
        <!-- end of note  -->

      </div>
      <!-- <div class="panel-body">
        {{vm.basicParameters}}
      </div> -->
    </div>
    <div class="panel panel-default" ng-show="vm.timeParameters.length > 0">
      <div class="panel-heading">

        <strong>ARRIVAL And CHECKOUT</strong>
      </div>

      <div class="panel-body">

        <p ng-show="vm.timeParameters.length == 0">No notes found.</p>

        <!-- beginning of notes -->
        <div class="note" ng-repeat="parameter in vm.timeParameters">
          <h5> {{parameter.parameter}} </h5>
          <p>
            <div ng-bind-html="parameter.value"></div>
        </div>
        <!-- end of note  -->

      </div>
      <!-- <div class="panel-body">
        {{vm.basicParameters}}
      </div> -->
    </div>
    <div class="panel panel-default" ng-show="vm.closedParameters.length > 0">
      <div class="panel-heading">
        <strong>Repose</strong>
      </div>

      <div class="panel-body">

        <p ng-show="vm.closedParameters.length == 0">No notes found.</p>

        <!-- beginning of notes -->
        <div class="note" ng-repeat="parameter in vm.closedParameters">
          <h5> {{parameter.parameter}} </h5>
          <p>
            <div ng-bind-html="parameter.value"></div>
        </div>
        <!-- end of note  -->

      </div>
      <!-- <div class="panel-body">
          {{vm.basicParameters}}
        </div> -->
    </div>
    <!-- Special Notes information div  -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Special Notes</strong>
      </div>
      <div class="panel-body">

        <p ng-show="vm.notesParameters.length == 0">No notes found.</p>

        <!-- beginning of notes -->
        <div class="note" ng-repeat="parameter in vm.notesParameters">
          <h5> {{parameter.parameter}} </h5>
          <p>
            <div ng-bind-html="parameter.value"></div>
        </div>
        <!-- end of note  -->

      </div>
    </div>
    <!-- Special Notes information div  -->


  </div>
</div>


<!-- end of left main div  -->

<!-- begin righ main div -->

<!-- end righ main div -->

<!-- panels for contract  -->

<!-- END OF NEW PAGE -->
