<div>
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li ui-sref-active="active">
          <a ui-sref="home">Home</a>
        </li>
        <li ui-sref-active="active" class="active">Contracts</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary pull-right" ui-sref="contracts-own-list.newContract({ supId: vm.supplierId })">
        <span class="glyphicon glyphicon-plus"></span>
        <span class="hidden-xs-down">
          Contract
        </span>
      </button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="form-inline pull-right">
            <div class="form-group">
              <label for="service-filter">Select Services</label>
              <select id="service-filter" class="form-control" ng-options="svc.id as svc.name for svc in vm.service track by svc.id" ng-model="svc.id"
                ng-change='vm.getSupplierList()'>
              </select>
            </div>
            &nbsp;&nbsp;&nbsp;
            <div class="form-group">
              <label for="">Select Year</label>
              <select id="year-filter" class="form-control" ng-model="year" ng-change='vm.getContractListByYear()'>
                <!-- <option></option> -->
                <option>2019</option>
                <option>2018</option>
                <option>2017</option>
                <option>2016</option>
                <option>2015</option>
                <option>2014</option>
                <option>2013</option>
              </select>
            </div>
            <button type="submit" ng-disabled="vm.isSaving" class="btn btn-primary" ng-click="vm.search()">
              <span class="glyphicon glyphicon-save"></span>&nbsp;
              <span>Submit</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row" ng-show="vm.noRecordsFound">
    <div class="panel panel-default">
      <div class="panel-body">
        No records found.
      </div>
    </div>
  </div>

  <div class="row" ng-hide="vm.noRecordsFound">
    <div class="col-sm-6 col-md-3" ng-repeat="contract in vm.contracts  | filter:query">
      <div class="thumbnail">

        <img class="img-responsive" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{contract.uuid}}" alt="{{ vm.contract.name }}">
        <div class="caption">
          <div class="pull-right">
            <a ui-sref="cost-contracts.edit({contractId:contract.id})">
              <h5>
                <span class="glyphicon glyphicon-pencil"></span>
              </h5>
            </a>
          </div>
          <h5>{{contract.name}}
          </h5>
          <small>
            <label class="label label-primary pull-right">{{contract.status}}</label>
          </small>
          <p>
            <span class="label label-default">{{contract.startDate}}</span> -
            <span class="label label-default">{{contract.endDate}}</span>
          </p>
          <a class="btn btn-primary" role="button" ui-sref="contracts-own-detail({contractId: contract.id, dimId: contract.dimensionSetId})">View</a>


          <label class="label label-primary pull-right">{{contract.type}}</label>
        </div>
      </div>
    </div>
  </div>
</div>
