<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myLocationLabel">Contract for {{vm.serviceName}}
      </h4>
  </div>
  <div class="modal-body">
    <div ng-hide="true">
      <div class="row">
        <div class="col-md-12" ng-show="vm.entity.id">
          <div class="form-group">
            <label class="control-label" for="field_name">Contract Description</label>
            <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.entity.name" required />
            <div ng-show="editForm.name.$invalid">
              <p class="help-block" ng-show="editForm.name.$error.required">
                This field is required.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="field_orgType">Organization Type
              <span style="color:red">
                <i class="glyphicon glyphicon-asterisk"></i>
              </span>
            </label>
            <select required class="form-control" id="field_orgType" name="orgType" ng-model="vm.organizationType"
              ng-options="type.id as type.name for type in vm.organizationTypes" ng-change="vm.organizationTypeChange()"
              required>
              <option value=""></option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label ng-show="vm.inPropertyOrgType">{{vm.services.name}}
          </div>
        </div>
        <div class="col-md-4" ng-hide="vm.entity.id">
          <div class="form-group">
            <label for="field_dimensionSetId">Supplier</label>
            <span style="color:red">
              <i class="glyphicon glyphicon-asterisk"></i>
            </span>
            <select required class="form-control" id="field_dimensionSetId" name="dimensionSetId" ng-model="vm.entity.issuerId"
              ng-options="supplier.id as supplier.name for supplier in vm.suppliers" ng-change="vm.supplierChange(vm.entity.issuerId)">
              <option value=""></option>
            </select>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="field_year">For Year {{vm.entity.year}}</label>
            <span style="color:red">
              <i class="glyphicon glyphicon-asterisk"></i>
            </span>
            <select required class="form-control" ng-change="vm.yearChange()" id="field_year" name="year" ng-model="vm.entity.year"
              ng-options="contractYear as contractYear for contractYear in vm.contractYears" required>
              <option>{{contractYear}}</option>
            </select>
          </div>
        </div>
      </div>

      <!--
      <div class="row" ng-show="vm.inPropertyOrgType">
        <div class="col-md-12">
          <div class="form-group">
            <label for="field_targetId">For Organization</label>
            <select class="form-control" id="field_targetId" name="targetId" ng-model="vm.entity.targetId" ng-options="organization.id as organization.name for organization in vm.organizations"
              required>
              <option value="{{organization.name}}"></option>
            </select>
            <div ng-show="editForm.targetId.$invalid">
              <p class="help-block" ng-show="editForm.targetId.$error.required">
                This field is required.
              </p>
            </div>
          </div>
        </div>
      </div> -->
      <div class="row" ng-hide="!vm.entity.issuerId">
        <div class="col-md-4" ng-hide="vm.inPropertyOrgType">
          <div class="form-group">
            <label for="field_targetId">Service</label>

            <span style="color:red">
              <i class="glyphicon glyphicon-asterisk"></i>
            </span>
            <select class="form-control" id="field_targetId" name="targetId" ng-model="vm.entity.serviceId" ng-options="service.id as service.name for service in vm.services"
              ng-change="vm.serviceChange()">
              <option value="{{service.name}}"></option>
            </select>
          </div>
        </div>
        <div class="col-md-4" ng-show="vm.inPropertyOrgType">
          <div class="form-group">
            <label for="field_year">For Year {{vm.entity.year}}</label>
            <select class="form-control" id="field_year" name="year" ng-model="vm.entity.year" ng-options="contractYear as contractYear for contractYear in vm.contractYears"
              required>
              <option>{{contractYear}}</option>
            </select>
            <!-- <input type="text" ng-model="vm.services.name" width="100%"   /> -->
          </div>
        </div>

        <div class="col-md-4" ng-hide="vm.entity.id">
          <div class="form-group">
            <label for="field_dimensionSetId">Rate Structure </label>
            <span style="color:red">
              <i class="glyphicon glyphicon-asterisk"></i>
            </span>
            <select required class="form-control" id="field_dimensionSetId" name="dimensionSetId" ng-model="vm.entity.dimensionSetId"
              ng-options="dimensionSet.id as dimensionSet.name for dimensionSet in vm.dimensionSets" ng-change="vm.dimensionSetChange()"
              required>
              <option value="{{dimensionSet.name}}"></option>
            </select>
          </div>
        </div>

        <div class="col-md-4" ng-hide="vm.entity.id">
          <div class="form-group">
            <label for="field_marketId">For Market</label>
            <select class="form-control" id="field_marketId" name="marketId" ng-model="vm.entity.marketId" ng-options="market.id as market.name for market in vm.markets">
              <option value="{{market.id}}">{{ market.name}}</option>
            </select>
          </div>
        </div>

      </div>

      <div hidden class="row" ng-hide="!vm.entity.issuerId">
        <div class="col-md-6">
          <div class="form-group">
            <label for="field_currencyId">Currency</label>
            <select class="form-control" id="field_currencyId" name="currencyId" ng-model="vm.entity.currencyId"
              ng-options="currency.id as currency.abbreviation for currency in vm.currencies">
              <option value="{{currency.name}}"></option>
            </select>
            <select class="form-control" id="field_currencyId" name="currencyId" ng-model="vm.entity.currencyId"
              ng-options="currency.id as currency.abbreviation for currency in vm.currencies">
              <option value="{{currency.name}}"></option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="field_year">For Year {{vm.entity.year}}</label>
            <select class="form-control" id="field_year" name="year" ng-model="vm.entity.year" ng-options="contractYear as contractYear for contractYear in vm.contractYears"
              ng-change="vm.yearChange()" required>
              <option>{{contractYear}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row" hidden ng-hide="!vm.entity.issuerId">

        <div class="col-md-6" ng-hide="vm.entity.id">
          <div class="form-group">
            <label for="field_type">Contract Type</label>
            <select class="form-control" id="field_type" name="type" ng-model="vm.entity.type" ng-options="contractType as contractType for contractType in vm.contractTypes">
              <option value="{{contractType}}"></option>
            </select>
          </div>
        </div>



      </div>

      <div class="row" ng-hide="!vm.entity.issuerId">
        <div class="col-md-4">
          <!-- <label class="control-label" for="field_startDate">Start Date </label>
            <span style="color:red">
              <i class="glyphicon glyphicon-asterisk"></i>
            </span>
            <p class="input-group">
              <input type="text" value="{{vm.entity.startDate}}" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                ng-model="vm.entity.startDate" is-open="vm.openedFrom" placeholder="Start Date" close-text="Close"
                ng-click="vm.openFrom()" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.openFrom()">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p> -->
          <div class="form-group">
            <label class="control-label" for="field_year">Season </label>
            <select class="form-control" id="field_year" name="year" ng-model="vm.entity.seasonGroupId" ng-change="vm.seasonGroupChange(seasonGroup)"
              required>
              <option value="" selected>-Select Season Group-</option>
              <option value="{{seasonGroup.id}}" ng-repeat="seasonGroup in vm.seasonGroups">{{seasonGroup.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <label class="control-label" for="field_startDate">Start Date </label>
          <span style="color:red">
            <i class="glyphicon glyphicon-asterisk"></i>
          </span>
          <p class="input-group">
            <input type="text" value="{{vm.entity.startDate}}" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
              ng-model="vm.entity.startDate" is-open="vm.openedFrom" placeholder="Start Date" close-text="Close"
              ng-click="vm.openFrom()" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="vm.openFrom()">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
        </div>
        <div class="col-md-2">
          <label class="control-label" for="field_startDate">End Date</label>

          <span style="color:red">
            <i class="glyphicon glyphicon-asterisk"></i>
          </span>
          <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="vm.entity.endDate"
              is-open="vm.openedTo" placeholder="Start Date" close-text="Close" ng-click="vm.openTo()" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="vm.openTo()">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="field_currencyId">Currency</label>
            <span style="color:red">
              <i class="glyphicon glyphicon-asterisk"></i>
            </span>
            <select class="form-control" id="field_currencyId" name="currencyId" ng-model="vm.entity.currencyId"
              ng-options="currency.id as currency.abbreviation for currency in vm.currencies">
              <option value="{{currency.name}}"></option>
            </select>
          </div>
        </div>

      </div>
    </div>


    <div class="row">
      <div>

        <div class="col-md-4" ng-hide="vm.inPropertyOrgType">
          <div class="form-group">
            <label for="field_orgType">Organization Type</label>
            <select required class="form-control" id="field_orgType" name="orgType" ng-model="vm.organizationType"
              ng-options="type.id as type.name for type in vm.organizationTypes" ng-change="vm.organizationTypeChange()"
              required>
              <option value="">-Organization Type-</option>
            </select>
          </div>
        </div>

        <div class="col-md-4" ng-hide="vm.inPropertyOrgType">
          <div class="form-group">
            <label class="control-label" for="field_name">Supplier </label>
            <input type="text" ng-model="vm.entity.supplierName" placeholder="Ol Tukai Lodge ..." uib-typeahead="loc.name for loc in vm.getLocs($viewValue, 4)"
              typeahead-loading="loadingStartLocations" typeahead-no-results="noStartResults" typeahead-on-select="vm.onSupplierSelected($item, $model)"
              class="form-control" required>
            <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
            <div ng-show="noStartResults">
              <i class="glyphicon glyphicon-remove"></i> No Results Found
            </div>
          </div>


        </div>

        <!-- <div class="col-md-6" ng-show="vm.inPropertyOrgType">
          <div class="form-group">
            <label for="field_orgType">Services </label>
            <select required class="form-control" id="field_dimensionSetId" name="dimensionSetId" ng-model="vm.entity.serviceId"
              ng-change="vm.supplierChange(vm.entity.issuerId)" disabled>
              <option ng-repeat="service in vm.services track by service.id" value="{{service.id}}">{{service.name}}</option>
            </select>
          </div>
        </div> -->
        <div class="col-md-8" ng-show="vm.inPropertyOrgType && vm.entity.type == 'CONTRACT'">
          <div class="form-group">

            <!-- <input type="text" ng-model="vm.entity.targetId" placeholder="Organization Name" uib-typeahead="loc.name for loc in vm.searchTargetOrg($viewValue)"
                  typeahead-loading="loadingLocations" typeahead-no-results="noStartResults" typeahead-on-select="vm.refresh($item, $model)"
                  class="form-control" required> -->
            <label>Target Organization</label>
            <input type="text" ng-model="vm.entity.targetName" placeholder="Ol Tukai Lodge ..." uib-typeahead="loc.name for loc in vm.getLocs($viewValue,3)"
              typeahead-loading="loadingStartLocations" typeahead-no-results="noStartResults" typeahead-on-select="vm.onTargetSelected($item, $model)"
              class="form-control" required>
            <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
            <div ng-show="noStartResults">
              <i class="glyphicon glyphicon-remove"></i> No Results Found
            </div>
          </div>

        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label" for="field_year">Year {{vm.entity.year}}</label>
            <select class="form-control" id="field_year" name="year" ng-model="vm.entity.year" ng-change="vm.yearChange()"
              ng-options="contractYear as contractYear for contractYear in vm.contractYears" required>
              <option>-year-</option>
            </select>
          </div>
        </div>
      </div>
      <div>


        <div class="col-md-4">

          <div class="form-group">
            <label class="control-label" for="field_year">Season </label>
            <select class="form-control" id="field_year" name="year" ng-model="vm.entity.seasonGroupId" ng-change="vm.seasonGroupChange(seasonGroup)"
              required>
              <option value="" selected>-Select Season Group-</option>
              <option value="{{seasonGroup.id}}" ng-repeat="seasonGroup in vm.seasonGroups">{{seasonGroup.name}}</option>
            </select>
          </div>
        </div>


        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label" for="field_startDate">Start Date</label>
            <span style="color:red">
              <i class="glyphicon glyphicon-asterisk"></i>
            </span>
            <p class="input-group">
              <input type="text" value="{{vm.entity.startDate}}" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                ng-model="vm.entity.startDate" is-open="vm.openedFrom" placeholder="Start Date" close-text="Close"
                ng-click="vm.openFrom()" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.openFrom()">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label" for="field_startDate">End Date</label>

            <span style="color:red">
              <i class="glyphicon glyphicon-asterisk"></i>
            </span>
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="vm.entity.endDate"
                is-open="vm.openedTo" placeholder="Start Date" close-text="Close" ng-click="vm.openTo()" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.openTo()">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
          </div>
        </div>
      </div>

    </div>


    <div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="field_type">Contract Type</label>
            <select class="form-control" id="field_type" name="type" ng-model="vm.entity.type" ng-change="vm.onContractTypeChange()">
              <option value="">-Type-</option>
              <option ng-repeat="type in vm.contractTypes" value="{{type}}">{{type}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="field_currencyId">Currency</label>
            <select class="form-control" id="field_currencyId" name="currencyId" ng-model="vm.entity.currencyId"
              ng-options="currency.id as currency.abbreviation for currency in vm.currencies">
              <option value="">-Currency-</option>
              <option value="{{currency.id}}">{{currency.abbreviation}}-{{currency.id}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="field_orgType">Issuer</label>
            <select required class="form-control" id="field_dimensionSetId" name="dimensionSetId" ng-model="vm.entity.issuerId"
              ng-options="issuer.id as issuer.name for issuer in vm.issuers">
              <option value="">-Property-</option>
            </select>
          </div>
        </div>
        <!-- <div class="col-md-4" ng-hide="vm.entity.id">
            <div class="form-group">
              <label for="field_marketId">For Market</label>
              <select class="form-control" id="field_marketId" name="marketId" ng-model="vm.entity.marketId" ng-options="market.id as market.name for market in vm.markets">
                <option value="{{market.id}}">{{ market.name}}</option>
              </select>
            </div>
          </div> -->


      </div>

      <br />
      <div>
        <div class="row">
          <div class="col-md-4" ng-hide="vm.dmState">
            <div class="form-group">
                <label class="control-label" > Service </label>
              <select class="form-control" id="field_targetId" name="targetId" ng-model="vm.entity.serviceId"
                ng-options="service.id as service.name for service in vm.services" ng-change="vm.serviceChange()">
                <option value="">-Service-</option>
                <option value="{{service.name}}"></option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label" > Rate Structure </label>
              <select required class="form-control" id="field_dimensionSetId" name="dimensionSetId" ng-model="vm.entity.dimensionSetId"
                ng-options="dimensionSet.id as dimensionSet.name for dimensionSet in vm.dimensionSets" ng-change="vm.dimensionSetChange()"
                required>
                <option value="">-Rate Structure-</option>
                <option value="{{dimensionSet.name}}"></option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="field_year">For Object </label>
              <select class="form-control" id="field_year" name="year" ng-model="vm.entity.objectType"
                ng-change="vm.objectChange()" ng-options="objectType as objectType for objectType in vm.objectTypes"
                required>
                <option>{{objectType}}</option>
              </select>
              <!-- <input type="text" ng-model="vm.services.name" width="100%"   /> -->
            </div>
          </div>
          <div class="col-md-4" ng-show="vm.exclusiveContractParameters" ng-repeat="parameter in vm.exclusiveContractParameters">
            <div class="form-group">
              <label class="control-label" for="field_startDate">Choose - {{parameter.dimensionType}}</label>
              <select ng-show="parameter.type === 'EXCLUSIVE'" class="form-control" name="type" ng-model="parameter.selectedValue"
              ng-options="object.id as object.name for object in parameter.existenceDTOList ">
                <option value="" disabled>choose- {{parameter.dimensionType}}-{{parameter.selectedValue}}</option>
                <option  value="{{object.id}}" ng-selected="object.id == parameter.selectedValue">
                  {{object.name}} </option>
              </select>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
    <!-- LOOP FOR CONTRACT PARAMETERS THAT ARE SUPPLEMENTABLE -->
    <div class="col-md-4" ng-show="parameter.type == 'DIMENSION' && vm.contractParamsCount > 0" ng-repeat="parameter in vm.contractParameters">

      <div class="form-group">
        <label class="control-label" for="field_startDate">{{parameter.displayName}}</label>
        <select ng-show="parameter.exclusive === true" class="form-control" name="type" ng-model="parameter.value"
          multiple>
          <option value=""></option>
          <option ng-repeat="object in parameter.existences " value="{{object.id}}" ng-selected="object.id == parameter.value">
            {{object.name}} </option>
        </select>
        <select ng-hide="parameter.exclusive === true" class="form-control" name="type" ng-model="parameter.value">
          <option value=""></option>
          <option ng-repeat="object in parameter.existences " value="{{object.id}}" ng-selected="object.id == parameter.value">
            {{object.name}} </option>
        </select>
      </div>
    </div>
  </div>
    <!-- {{parameter.value}}

      {{vm.exclusiveContractParameters}} -->
      <div class="row">
    <div ng-if="!vm.disablePreview && vm.basicDimensionCount === 2" class="col-md-8" ng-hide="!vm.entity.issuerId">
      <div class="table-responsive">
        <div class="form-group">
          <h3> Rates Preview
            <button type="button" class="btn btn-danger btn-sm pull-right" ng-click="vm.disablePreviewFunction()">
              <span class="glyphicon glyphicon-remove"></span> Close
            </button>
          </h3>
        </div>
        <hr />
        <table class="table table-striped table-bordered">
          <thead>
            <th></th>
            <th ng-repeat="item in vm.setDimensionsWithExistences[0].existenceDTOList">
              {{ item.name }}
              <span class="badge" data-toggle="popover" data-content="item.brief">?</span>
            </th>

          </thead>
          <tbody>
            <tr ng-repeat="row in vm.setDimensionsWithExistences[1].existenceDTOList">
              <td>
                {{ row.name }}
              </td>
              <td ng-repeat="item in vm.setDimensionsWithExistences[0].existenceDTOList">
                <!-- <input type="number" ng-model="vm.figures[0][$parent.$index][$index]" disabled/> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div ng-if="!vm.disablePreview && vm.basicDimensionCount === 3">
      <div class="col-md-8">
        <div class="form-group">
          <h3> Rates Preview
            <button type="button" class="btn btn-danger btn-sm pull-right" ng-click="vm.disablePreviewFunction()">
              <span class="glyphicon glyphicon-remove"></span> Close
            </button>
          </h3>
        </div>
        <hr />
        <div ng-repeat="third in vm.setDimensionsWithExistences[2].existenceDTOList">
          <div class="table-responsive">
            <table class="table table-striped table-bordered">
              <thead>
                <th style="color: blue">{{third.name | uppercase}}</th>
                <th ng-repeat="item in vm.setDimensionsWithExistences[0].existenceDTOList">
                  {{ item.name }}
                  <span class="badge" data-toggle="popover" data-content="item.brief">?</span>
                </th>

              </thead>
              <tbody>
                <tr ng-repeat="row in vm.setDimensionsWithExistences[1].existenceDTOList">
                  <td>
                    {{ row.name }}
                  </td>
                  <td ng-repeat="item in vm.setDimensionsWithExistences[0].existenceDTOList">
                    <!-- <input type="number" ng-model="vm.figures[0][$parent.$index][$index]" disabled/> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>
  <div class="modal-footer">
    <div class="col-md-2 form-check-input">
      <input type="checkbox" class="form-check-input" ng-model="vm.disablePreview">
      <label class="form-check-label"> Disable Preview</label>
    </div>
    <div class="col-md-10">
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
        <span>Cancel</span>
      </button>
      <button type="submit" ng-disabled="vm.isSaving" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;
        <span>Save</span>
      </button>
    </div>
  </div>
</form>
