<!-- breadcrumb -->
<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active" class="active">Contracts</li>
          </ul>
        </div>
        <div permission="['ORGANISATION_ADMIN']" class="col-md-4">
          <div class="breadcrumb-btns">
            <ul class="nav nav-pills pull-right">
              <li>
                <button type="button" class="btn btn-default btn-sm" ui-sref="contracts-own.newContract">
                  <span class="glyphicon glyphicon-plus"></span> Contract</button>
              </li>
              <li>
                <button type="button" class="btn btn-default btn-sm" ui-sref="contracts-own.newContract">
                  Approve</button>
              </li>
              <li>
                <div ng-include="'core/routes/settings/settings-menu/settings-navbar.html'"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of breadcrumb -->

<!-- filter panel -->
<div class="filter-panel ">
  <div class="filter-panel-body">
    <form ng-submit="vm.search()">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-3">
              <select class="form-control" ng-model="vm.entity.service" ng-change="vm.search('service')">
                <option value="">Select Service</option>
                <option ng-repeat="svc in vm.services" value="{{svc.id}}">{{svc.name}}</option>
              </select>
            </div>
            <!-- <div class="col-md-3">
                <input type="text" ng-model="vm.locationName" placeholder="Location Name" uib-typeahead="loc.name for loc in vm.getLocation($viewValue)"
                  typeahead-loading="loadingLocations" typeahead-no-results="noStartResults" typeahead-on-select="vm.onLocationSelected($item, $model)"
                  class="form-control">
                <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noStartResults">
                  <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
              </div> -->
            <div class="col-md-3">
              <select class="form-control" ng-model="vm.entity.supplier" ng-change='vm.search()'>
                <option value="">Select Supplier</option>
                <option ng-repeat="obj in vm.suppliers" value="{{obj.id}}">{{obj.name}}</option>
              </select>
            </div>
            <div class="col-md-3">
              <select id="year-filter" class="form-control" ng-model="vm.entity.year" ng-change='vm.search()'>
                <option value="">Select Year</option>
                <option ng-repeat="obj in vm.years" value="{{obj}}">{{obj}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-3 pull-right">
          <p class="input-group" style="margin: 0px 0px;">
            <input type="text" class="form-control" placeholder="Contract name" id="BatchSearchText" ng-model="vm.entity.name" ng-change="vm.search()"
            />
            <span class="input-group-btn" style="height: 29px;  ">
              <button class="btn btn-primary btn-md waves-effect waves-light " style="font-size: 12px; line-height: 1.37859" type="submit">Go</button>
            </span>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- end of filter panel  -->

<div class="row">
  <!-- Contracts cannot be found -->
  <div class="col-md-12" ng-show="!vm.contracts || vm.contracts.length ==0">
    <div class="panel panel-default">
      <div class="panel-body">
        <div ng-show='vm.isLoading' class="no-records-found">
          Searching...
        </div>

        <div ng-hide='vm.isLoading' class="no-records-found">
          No contracts found.
        </div>
      </div>
    </div>
  </div>
  <!-- end of not found -->
  <!-- Contracts can be found -->
  <div ng-show="vm.contracts">
    <div class="col-sm-4 col-md-3" ng-repeat="contract in vm.contracts">
      <div class="thumbnail">
        <img class="img-responsive" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{contract.uuid}}"  style="height:170px;width:100%" alt="{{ contract.name }}">
        <div class="caption">
          <h5 ng-show="{{contract.name.includes('CONTRACT')}}" style="height: 4rem; font-weight:bold; color: green ">{{vm.shortenName(contract.name)}}</h5>
          <h5 ng-show="{{contract.name.includes('RACK')}}" style="height: 4rem;  font-weight:bold; color: brown " >{{vm.shortenName(contract.name)}}</h5>
          <h5 ng-show="{{contract.name.includes('STO')}}" style="height: 4rem;  font-weight:bold;" >{{vm.shortenName(contract.name)}}</h5>
          <p>{{contract.startDate}} <strong>-</strong>{{contract.endDate}} </p>
          <p>
            <span ng-show="contract.marketId != null"  class="label label-success" >
              {{contract.marketName}}
            </span>
          </p>
          <!-- <p ng-show="{{contract.name.includes('CONTRACT')}}" style="font-weight:bold; color: brown " >
              {{vm.shortenName(contract.name)}}
          </p> -->
          <!-- <p>
            <a class="btn btn-primary" role="button" ui-sref="contracts-own-detail({contractId: contract.id, setId: contract.dimensionSetId,seasonGroupId:contract.seasonGroupId,year: contract.year})">View</a>
            <span ng-show="contract.contentStatus == 'PUBLISHED'" ng-class="contract.contentStatus == 'PUBLISHED'" class="pull-right label label-success" >
                Approved
              </span>
              <span ng-show="contract.contentStatus == 'UNPUBLISHED'" ng-class="contract.contentStatus == 'UNPUBLISHED'" class="pull-right label label-danger" >
                Un-Approved
              </span>
              <span ng-show="contract.contentStatus == 'DRAFT'" ng-class="contract.contentStatus == 'DRAFT'" class="pull-right label label-warning" >
                {{contract.contentStatus}}
              </span> 
              <span ng-show="contract.contentStatus == 'DELETED'" ng-class="contract.contentStatus == 'DELETED'" class="pull-right label label-danger" >
                {{contract.contentStatus}}
              </span> 
          </p> -->
          <p ng-show="contract.status  == 'DRAFT'">
              <a class="btn btn-primary" role="button" ui-sref="contracts-own-detail({contractId: contract.id, setId: contract.dimensionSetId,seasonGroupId: contract.seasonGroupId, year: contract.year, versionId:contract.draftVersionId})">View</a>
              <span ng-show="contract.contentStatus == 'DRAFT'" ng-class="contract.contentStatus == 'DRAFT'" class="pull-right label label-warning" >
                  {{contract.contentStatus}}
                </span> 
            </p>
            <p ng-show="contract.status  == 'VALID'">
                <a class="btn btn-primary" role="button" ui-sref="contracts-own-detail({contractId: contract.id, setId: contract.dimensionSetId,seasonGroupId: contract.seasonGroupId, year: contract.year, versionId:contract.draftVersionId})">View</a>
                <span ng-show="contract.contentStatus == 'VALID'" ng-class="contract.contentStatus == 'VALID'" class="pull-right label label-danger" >
                    {{contract.contentStatus}}
                  </span> 
              </p>
  
            <p ng-show="contract.status  == 'PUBLISHED'" >
                <a class="btn btn-primary" role="button" ui-sref="contracts-own-detail({contractId: contract.id, setId: contract.dimensionSetId,seasonGroupId: contract.seasonGroupId, year: contract.year, versionId:contract.publishedVersionId})">View</a>
                <span ng-show="contract.contentStatus == 'PUBLISHED'" ng-class="contract.contentStatus == 'PUBLISHED'" class="pull-right label label-success" >
                    Approved
                  </span>
              </p>
        </div>
      </div>
    </div>
  </div>
  <!-- end of contracts -->
</div>

<!-- pagination -->
<div class="row">
  <div class="col-md-12 ">
    <div class="text-center saf-pagination">
      <saf-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></saf-item-count>
      <uib-pagination total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()" class="pagination-sm" items-per-page="vm.itemsPerPage">
        <uib-pagination>
    </div>
  </div>
</div>
<!-- end of pagination -->