<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myLocationLabel">Contract</h4>
  </div>
  <div class="modal-body">
    <div class="col-md-12">
      <div class="form-group">
        <label class="control-label" for="field_name">Name</label>
        <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.contract.name" required/>
        <div ng-show="editForm.name.$invalid">
          <p class="help-block" ng-show="editForm.name.$error.required">
            This field is required.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label for="field_targetId">For Organization</label>
        <select class="form-control" id="field_targetId" name="targetId" ng-model="vm.contract.targetId" ng-options="organization.id as organization.name for organization in vm.organizations">
          <option value="{{organization.name}}"></option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="field_serviceName">Service {{vm.service.id}}</label>
        <select class="form-control" id="field_serviceName" name="serviceName" ng-model="vm.service.id" ng-options="organizationService.id as organizationService.name for organizationService in vm.organizationServices" disabled>
          <option>{{organizationService.name}}</option>
        </select>
      </div>
    </div> 
    <div class="col-md-6">
      <div class="form-group">
        <label for="field_dimensionSetId">Dimension Set</label>
        <select class="form-control" id="field_dimensionSetId" name="dimensionSetId" ng-model="vm.contract.dimensionSetId" ng-options="dimensionSet.id as dimensionSet.name for dimensionSet in vm.dimensionSets"
          ng-disabled="vm.disableDimensionSetsBox">
          <option value="{{dimensionSet.name}}"></option>
        </select>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="field_type">Contract Type</label>
        <select class="form-control" id="field_type" name="type" ng-model="vm.contract.type" ng-options="contractType as contractType for contractType in vm.contractTypes">
          <option value="{{contractType}}"></option>
        </select>
      </div>
    </div>


    <div class="col-md-6">
      <div class="form-group">
        <label for="field_marketId">For Market</label>
        <select class="form-control" id="field_marketId" name="marketId" ng-model="vm.contract.marketId" ng-options="market.id as market.name for market in vm.markets">
          <option value="{{market.id}}">{{ market.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="field_currencyId">Currency</label>
        <select class="form-control" id="field_currencyId" name="currencyId" ng-model="vm.contract.currencyId" ng-options="currency.id as currency.abbreviation for currency in vm.currencies">
          <option value="{{currency.name}}"></option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="field_year">For Year {{vm.contract.year}}</label>
        <select class="form-control" id="field_year" name="year" ng-model="vm.contract.year" ng-options="contractYear as contractYear for contractYear in vm.contractYears">
          <option>{{contractYear}}</option>
        </select>
      </div>
    </div>

    <div class="col-md-6">
      <label class="control-label" for="field_startDate">Start Date "yyyy-MM-dd" </label>
      <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="vm.contract.startDate" is-open="vm.openedFrom"
          placeholder="Start Date" close-text="Close" ng-click="vm.openFrom()" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="vm.openFrom()">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
      </p>
    </div>
    <div class="col-md-6">

      <label class="control-label" for="field_startDate">End Date "yyyy-MM-dd" </label>
      <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="vm.contract.endDate" is-open="vm.openedTo" placeholder="Start Date"
          close-text="Close" ng-click="vm.openTo()" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="vm.openTo()">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
      </p>
    </div>
    <br/>
  </div>
  <div class="modal-footer">
    <div class="col-md-12">
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
        <span>Cancel</span>
      </button>
      <button type="submit" ng-disabled="vm.isSaving" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;
        <span>Save</span>
      </button>
    </div>

  </div>
</form>
