<form name="deleteForm" ng-submit="vm.confirmUpdate(vm.updateContract)">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title">Contract update Status</h4>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to <strong ng-show="vm.contract.contentStatus === 'PUBLISHED'" >Approve</strong> <strong ng-show="vm.contract.contentStatus == 'DRAFT'" >Draft</strong><strong ng-show="vm.contract.contentStatus == 'DRAFT'" >Draft</strong><strong ng-show="vm.contract.contentStatus == 'VALID'" >Validate</strong>  this contract?</p>
        <div class="form-group">
          <label>Reason</label>
          <textarea class="form-control" type="text" ng-model ="vm.updateContract.statusReason" rows="2" cols="60"></textarea>
        </div>
        </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-default">
            <span class="glyphicon glyphicon-ok-circle"></span>&nbsp;<span>Proceed</span>
        </button>
    </div>
</form>
