<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myLocationLabel">{{vm.entity.name}}
      </label></h4>
  </div>
  <div class="modal-body">
    
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input  type="text"  ng-model="vm.entity.name" style="width:100%" />
            </div>
          </div>
     
      <div>
       
        <div class="col-md-6">
          <label class="control-label" for="field_startDate">Start Date </label>
          <span style="color:red">
            <i class="glyphicon glyphicon-asterisk"></i>
          </span>
          <p class="input-group">
            <input type="text" value="{{vm.entity.startDate}}" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
              ng-model="vm.entity.startDate" is-open="vm.openedFrom" placeholder="Start Date" close-text="Close"
              ng-click="vm.openFrom()" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="vm.openFrom()">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
        </div>
        <div class="col-md-6">
          <label class="control-label" for="field_startDate">End Date</label>

          <span style="color:red">
            <i class="glyphicon glyphicon-asterisk"></i>
          </span>
          <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="vm.entity.endDate"
              is-open="vm.openedTo" placeholder="Start Date" close-text="Close" ng-click="vm.openTo()" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="vm.openTo()">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
        </div>


      </div>

    </div>


    <div>
      <div class="row">
          <div>
       
              <div class="col-md-6">
                <div class="form-group">
                  <label for="field_orgType">Issuer</label>
                  <select required class="form-control" id="field_dimensionSetId" name="dimensionSetId" ng-model="vm.entity.issuerId"
                    ng-options="issuer.id as issuer.name for issuer in vm.issuers" ng-change="vm.issuerChanged(vm.entity.issuerId)" >
                    <option value="">-Property-</option>
                  </select>
                </div>
              </div>
            </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="field_currencyId">Currency</label>
            <select class="form-control" id="field_currencyId" name="currencyId" ng-model="vm.entity.currencyId"
              ng-options="currency.id as currency.abbreviation for currency in vm.currencies">
              <option value="">-Currency-</option>
              <option value="{{currency.id}}">{{currency.abbreviation}}-{{currency.id}</option>
            </select>
          </div>
        </div>
        
        
      </div>

      <br />
      <!-- <div>
        <div class="row">
          <div class="col-md-4" ng-hide="vm.dmState">
            <div class="form-group">

              <select class="form-control" id="field_targetId" name="targetId" ng-model="vm.entity.serviceId"
                ng-options="service.id as service.name for service in vm.services" ng-change="vm.serviceChange()">
                <option value="">-Service-</option>
                <option value="{{service.name}}"></option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <select required class="form-control" id="field_dimensionSetId" name="dimensionSetId" ng-model="vm.entity.dimensionSetId"
                ng-options="dimensionSet.id as dimensionSet.name for dimensionSet in vm.dimensionSets" ng-change="vm.dimensionSetChange()"
                required>
                <option value="">-Rate Structure-</option>
                <option value="{{dimensionSet.name}}"></option>
              </select>
            </div>
          </div>
        </div>


      </div> -->
    </div>
    <div class="row">

      <!-- LOOP FOR CONTRACT PARAMETERS THAT ARE SUPPLEMENTABLE -->
      <div class="col-md-4" ng-show="parameter.type == 'DIMENSION' && vm.contractParamsCount > 0" ng-repeat="parameter in vm.contractParameters">

        <div class="form-group">
          <h3> Contract Parameters</h3>
        </div>
        <label class="control-label" for="field_startDate">{{parameter.displayName}}</label>
        <select ng-show="parameter.exclusive === true" class="form-control" name="type" ng-model="parameter.value" multiple >
          <option value=""></option>
          <option ng-repeat="object in parameter.existences " value="{{object.id}}" ng-selected="object.id == parameter.value">
            {{object.name}} </option>
        </select>
        <select ng-hide="parameter.exclusive === true" class="form-control" name="type" ng-model="parameter.value" >
            <option value=""></option>
            <option ng-repeat="object in parameter.existences " value="{{object.id}}" ng-selected="object.id == parameter.value">
              {{object.name}} </option>
          </select>
      </div>
        {{parameter.value}}

        <div class="col-md-4" ng-show="vm.exclusiveContractParameters" ng-repeat="parameter in vm.exclusiveContractParameters">
            <div class="form-group">
              <!-- <label class="control-label" for="field_startDate">{{parameter.dimensionType}}</label> -->
              <!-- <select class="form-control" id="field_currencyId" name="currencyId" ng-model="vm.entity.currencyId"
              ng-options="currency.id as currency.abbreviation for currency in vm.currencies">
              <option value="">-Currency-</option>
              <option value="{{currency.id}}">{{currency.abbreviation}}-{{currency.id}</option>
            </select> -->
              <select ng-show="parameter.type === 'EXCLUSIVE'" class="form-control" name="type" ng-model="parameter.selectedValue"
               ng-options="object.id as object.name for object in parameter.existenceDTOList" >
                <option value="" disabled>choose- {{parameter.dimensionType}}</option>
                <option value="{{object.id}}" ng-selected="object.id == parameter.selectedValue">
                  {{object.name}} </option>
              </select>
            </div>

          </div>
          {{vm.contractParameters}}

      <div ng-if="!vm.disablePreview && vm.basicDimensionCount === 2" class="col-md-8" ng-hide="!vm.entity.issuerId">
        <div class="table-responsive">
          <div class="form-group">
            <h3> Rates Preview
              <button type="button" class="btn btn-danger btn-sm pull-right" ng-click="vm.disablePreviewFunction()">
                <span class="glyphicon glyphicon-remove"></span> Close
              </button>
            </h3>
          </div>
          <hr />
          <table class="table table-striped table-bordered">
            <thead>
              <th></th>
              <th ng-repeat="item in vm.setDimensionsWithExistences[0].existenceDTOList">
                {{ item.name }}
                <span class="badge" data-toggle="popover" data-content="item.brief">?</span>
              </th>

            </thead>
            <tbody>
              <tr ng-repeat="row in vm.setDimensionsWithExistences[1].existenceDTOList">
                <td>
                  {{ row.name }}
                </td>
                <td ng-repeat="item in vm.setDimensionsWithExistences[0].existenceDTOList">
                  <!-- <input type="number" ng-model="vm.figures[0][$parent.$index][$index]" disabled/> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div ng-if="!vm.disablePreview && vm.basicDimensionCount === 3">
        <div class="col-md-8">
          <div class="form-group">
            <h3> Rates Preview
              <button type="button" class="btn btn-danger btn-sm pull-right" ng-click="vm.disablePreviewFunction()">
                <span class="glyphicon glyphicon-remove"></span> Close
              </button>
            </h3>
          </div>
          <hr />
          <div ng-repeat="third in vm.setDimensionsWithExistences[2].existenceDTOList">
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                  <th style="color: blue">{{third.name | uppercase}}</th>
                  <th ng-repeat="item in vm.setDimensionsWithExistences[0].existenceDTOList">
                    {{ item.name }}
                    <span class="badge" data-toggle="popover" data-content="item.brief">?</span>
                  </th>

                </thead>
                <tbody>
                  <tr ng-repeat="row in vm.setDimensionsWithExistences[1].existenceDTOList">
                    <td>
                      {{ row.name }}
                    </td>
                    <td ng-repeat="item in vm.setDimensionsWithExistences[0].existenceDTOList">
                      <!-- <input type="number" ng-model="vm.figures[0][$parent.$index][$index]" disabled/> -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="col-md-2 form-check-input">
      <input type="checkbox" class="form-check-input" ng-model="vm.disablePreview">
      <label class="form-check-label"> Disable Preview</label>
    </div>
    <div class="col-md-10">
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
        <span>Cancel</span>
      </button>
      <button type="submit" ng-disabled="vm.isSaving" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;
        <span>Save</span>
      </button>
    </div>
  </div>
</form>
