<form name="editForm" role="form" novalidate ng-submit="vm.save()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myProfessionalLabel">Vehicle Class</h4>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <div class="row">

      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label" for="field_abbreviation">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.vehicleClass.name" />
        </div>

      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label" for="field_abbreviation">Abbreviation</label>
          <input type="text" class="form-control" name="abbreviation" id="field_abbreviation" ng-model="vm.vehicleClass.abbreviation" />
        </div>
      </div>

    </div>


    <div class="form-group">
      <label class="control-label" for="field_brief">Brief</label>
      <textarea class="form-control" name="brief" id="field_brief" ng-model="vm.vehicleClass.brief"></textarea>
    </div>

    <div class="form-group">
      <label class="control-label" for="field_description">Description</label>
      <textarea class="form-control" name="description" id="field_description" ng-model="vm.vehicleClass.description"></textarea>
    </div>

    <div class="form-group">
      <label class="control-label" for="field_notes">Special Notes about the vehicle Class</label>
      <textarea class="form-control" name="notes" id="field_notes" ng-model="vm.vehicleClass.notes"></textarea>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
        data-translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
    </button>
  </div>
</form>
