<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active">Fleet</li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="breadcrumb-btns">
            <ul class="nav nav-pills pull-right">
              <li>
                <button type="button" class="btn btn-default btn-sm" ui-sref="vehicle-class-own.new">
                  <span class="glyphicon glyphicon-plus"></span> Vehicle</button>
              </li>
              <li>
                <button type="button" class="btn btn-default btn-sm" ui-sref="contracts-own.newContract">
                  Suspend</button>
              </li>
              <li>
                <div ng-include="'core/routes/settings/settings-menu/settings-navbar.html'"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- filter panel -->
<div class="filter-panel ">
  <div class="filter-panel-body">
    <form ng-submit="vm.search()">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <p style="margin-left: 20px; margin-top: 10px">Filter options for vehicle-type will come here e.g nissan, land rovers e.tc etc</p>
          </div>
        </div>
        <div class="col-md-3 pull-right">
          <form name="searchForm" class="form-inline">
            <div class="input-group pull-right">
              <input type="text" class="form-control" ng-model="query" id="searchQuery" placeholder="search vehicle-type">
              <span class="input-group-btn" style="height: 29px;  ">
                <button class="btn btn-primary btn-md waves-effect waves-light " style="font-size: 12px; line-height: 1.37859" ng-click="vm.search(vm.searchQuery)">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- end of filter panel  -->

<div class="row" ng-show="vm.noRecordsFound">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        No data found.
      </div>
    </div>
  </div>
</div>

<div class="row" ng-hide="vm.noRecordsFound">
  <div class="col-sm-6 col-md-3" ng-repeat="vehicle-type in vm.vehicleClass | filter:query">
    <div class="thumbnail">
      <img src="{{vm.profile_url}}{{vehicle-type.uuid}}" alt="">
      <div class="caption">
        <div class="pull-right">
          <a ui-sref="vehicle-class.edit({id:vehicle-class.id})">
            <h5>
              <span class="glyphicon glyphicon-pencil"></span>
            </h5>
          </a>
        </div>
        <h5>{{vehicle-class.name}}</h5>
        <p>{{vehicle-class.brief}}</p>
        <p>
          <a class="btn btn-primary" role="button" ui-sref="vehicle-class-own-detail({id: vehicle-class.id})">View</a>
        </p>
      </div>
    </div>
  </div>
</div>
