<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myLocationLabel">Upload Organization Profile Photo</h4>
  </div>

  <div class="modal-body">

    <div class="row container">
      Select image to upload
      <div class="btn btn-primary" ngf-select="vm.upload($file, $invalidFiles)" ng-model="vm.image.file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB"
        ngf-min-height="100" ngf-resize="{width: 100, height: 100}">Select</div>
    </div>
    <img class="thumb" ngf-thumbnail="vm.image.file || 'images/image-placeholder.svg'">
    <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
        <span class="progress" ng-show="f.progress >= 0">
            <div style="width:{{f.progress}}%"
                 ng-bind="f.progress + '%'"></div>
        </span>
    </div>
    {{vm.errorMsg}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle" ng-disabled="vm.isUploading"></span>&nbsp;
      <span>Cancel</span>
    </button>
    <button type="submit" ng-disabled="vm.isUploading || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;
      <span>Save</span>
    </button>
  </div>
</form>
<style>
  .thumb {
    width: 100px;
    height: 100px;
    float: none;
    position: relative;
    top: 7px;
}
</style>
