<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myOperatingHoursLabel">Edit This Operating Hour</h4>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <div class="form-group">
      <label class="control-label" for="field_name">Name</label>
      <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.operatingHour.name" required/>
      <div ng-show="editForm.name.$invalid">
        <p class="help-block" ng-show="editForm.name.$error.required">
          This field is required.
        </p>
      </div>
    </div>
    <div class="form-group">
        <label for="field_operatingHoursType">Operating Hours Type</label>
        <select class="form-control" id="field_operatingHoursType" name="operatingHoursType" 
            ng-model="vm.operatingHour.operatingHoursType">
            <option value=""></option>
            <option value="BUSINESS_HOURS">Business Hours</option>
            <option value="MENU_HOURS">Menu Availability Hours</option>
            <option value="FACILITY_HOURS">Facility Operating Hours</option>
            <option value="OTHERS">Other</option>
        </select>
    </div>
    
    <div class="form-group">
      <label class="control-label" for="field_openingTime">Opening Time</label>
      <input type="time" class="form-control" ng-value="vm.operatingHour.openingTime" name="openingTime" placeholder="HH:mm:ss" id="field_openingTime" ng-model="vm.operatingHour.openingTime" required/>
    </div>
    <div class="form-group">
      <label class="control-label" for="field_closingTime">Closing Time</label>
      <input type="time" ng-value="vm.operatingHour.closingTime" placeholder="HH:mm:ss" class="form-control" name="closingTime" id="field_closingTime" ng-model="vm.operatingHour.closingTime" required/>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
                </button>
  </div>
</form>
