<div>
  <h2><span>Operating Hour</span> {{vm.operatingHour.id}}</h2>
  <hr>
  <jhi-alert-error></jhi-alert-error>
  <dl class="dl-horizontal jh-entity-details">
    <dt><span>Name</span></dt>
    <dd>
      <span>{{vm.operatingHour.name}}</span>
    </dd>
    <dt><span>Operating Hours Type</span></dt>
    <dd>
      <span>{{vm.operatingHour.operatingHoursType}}</span>
    </dd>
    <dt><span>Opens At</span></dt>
    <dd>
      <span>{{vm.operatingHour.openingTime}}</span>
    </dd>

    <dt><span>Closes At</span></dt>
    <dd>
      <span>{{vm.operatingHour.closingTime}}</span>
    </dd>
    <dt><span>Applicable Days</span></dt>
    <dd>
      <span ng-repeat="day in vm.operatingHour.days">{{day.abbrev}} <br> </span>
    </dd>
   
  </dl>

  <button type="submit" ui-sref="{{ vm.previousState }}" class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
        </button>
  <button type="button" ui-sref="operating-hours.edit({id:vm.operatingHour.id})" class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="hidden-sm-down"> Edit</span>
        </button>
</div>
