<div class="container">
    <div class="row">
        <div class="col-md-6">
            <ul class="breadcrumb">
                <li ui-sref-active="active">
                    <a ui-sref="home">Home</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="costs({id: vm.contract.serviceId})">Pricing</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="cost-contracts({id: vm.service.id})">Contracts</a>
                </li>
                <li ui-sref-active="active" class="active">{{vm.contract.name}}</li>
                <!-- <li ui-sref-active="active" class="active">{{vm.contract.dimensionSetName}}</li> -->
            </ul>
        </div>
        <div class="col-md-6">
            <button ng-hide="vm.contract.contentStatus === 'DELETED'" class="btn btn-danger pull-right" ui-sref="contract-detail.delete({id: vm.contract.id})">
                <span class="glyphicon glyphicon-ban-circle"></span>
                <span class="">
                    Delete
                </span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="image-container">
                    <!-- <img class="img-responsive" ng-hide="" ng-src="images/image-placeholder.svg" alt="{{ vm.account.name }}"> -->
                    <img class="img-responsive" ng-src="{{vm.profile_image_url}}" alt="{{ vm.menuItem.name }}">
                    <a ui-sref="contract-detail.image" class="icon-choose-image">
                        <img src="images/camera.png">
                    </a>
                </div>
                <div class="panel-body">

                    <h4>{{vm.contract.name}}</h4>

                </div>
                <ul class="nav nav-pills nav-stacked">
                    <li ui-sref-active="active" role="presentation">
                        <a ui-sref="cost-contracts-detail({contractId: vm.contract.id})">Contract</a>
                    </li>
                  
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="pull-right">
                                
                            </div>
                            <h2>{{vm.contract.name}}</h2>
                        </div>
                    </div>
                    <div class="row">
                       
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button ng-hide="vm.add" class="btn btn-primary" ui-sref="cost-contracts-detail.new({setId: vm.contract.dimensionSetId})">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    <span class="hidden-xs-down">
                                        Add Rates
                                    </span>
                                </button>
                                <button ng-show="vm.add" class="btn btn-primary" ui-sref="cost-contracts-detail.new({setId: vm.contract.dimensionSetId, contractId: vm.contract.id})">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        <span class="hidden-xs-down">
                                            Edit Rates
                                        </span>
                                </button>
                            </div>
                        </div>
                    
                    </div>
                    <br />

                    <div class="row" >
                      <div class="col-md-12">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <span>
                                
                                
                            <div ng-if="vm.dimLength === 1">
                                <h4 class="text-center">Rates</h4>
                                <br>
                            
                                <table class="table table-bordered table-striped">
                                    <thead class="bg-danger">
                            
                                        <th ng-repeat="item in vm.dimensionSet[0].existenceDTOList">
                                            {{ item.name }}
                                            {{ item.brief }}
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td ng-repeat="item in vm.dimensionSet[0].existenceDTOList">
                                                <!-- <input type="number" ng-model="vm.figures[0][$index]" disabled /> -->
                                                <label>{{vm.figures[0][$index]}}</label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br />
                            </div>
                            <div ng-if="vm.dimLength === 2">
                                <h4 class="text-center">Rates</h4>
                                <br>
                            
                                <table class="table table-bordered table-striped">
                                    <thead class="bg-danger">
                                        <th class="text-success">{{third.name}}</th>
                                        <th ng-repeat="item in vm.dimensionSet[0].existenceDTOList">
                                            {{ item.name }}
                                            {{ item.brief }}
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in vm.dimensionSet[1].existenceDTOList">
                                            <td>
                                                <strong>{{ row.name }}</strong>
                                            </td>
                                            <td ng-repeat="item in vm.dimensionSet[0].existenceDTOList">
                                                <!-- <input type="number" ng-model="vm.figures[0][$parent.$index][$index]" disabled />  -->
                                                <label>{{vm.figures[0][$parent.$index][$index]}}</label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br />
                            </div>
                            <div ng-if="vm.dimLength === 3">
                              <div class="form-group" ng-hide="vm.noGroupsFound" ng-repeat="third in vm.thirdItem.existenceDTOList" ng-if="vm.dimLength === 3">
                                <h4 class="text-center">{{ third.name }} rates</h4>
                                <h4 class="text-center">{{ third.brief }}</h4>
                                
                                <br>

                                <table class="table table-condense table-bordered table-striped">
                                  <thead class="bg-danger">
                                    <th class="text-success">{{third.name}}</th>
                                    <th ng-repeat="item in vm.dimensionSet[0].existenceDTOList">
                                      {{ item.name }}
                                      {{ item.brief }}
                                    </th>
                                  </thead>
                                  <tbody>
                                    <tr ng-repeat="row in vm.dimensionSet[1].existenceDTOList">
                                      <td>
                                        <strong>{{ row.name }}</strong>
                                      </td>
                                      <td ng-repeat="item in vm.dimensionSet[0].existenceDTOList">
                                        <!-- <input type="number" ng-model="vm.figures[$parent.$parent.$index][$parent.$index][$index]" class="form-control" disabled /> -->
                                        <label>{{vm.figures[$parent.$parent.$index][$parent.$index][$index]}}</label>
                                    </tr>
                                  </tbody>
                                </table>
                                <br />
                              </div>
                              </div>
                            </span>
                          </div>
                        </div>
                      </div>
            </div>
        </div>

                <div class="col-md-4">
                    <div class="panel panel-default">
                        <table class="table">
                            <tr>
                                <td>
                                    <strong>Content Status</strong>
                                </td>
                                <td>
                                    {{vm.dimensionSet.contentStatus}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Organization</strong>
                                </td>
                                <td>
                                    {{vm.contract.name}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Currency</strong>
                                </td>
                                <td>
                                    {{vm.contract.currencyAbbreviation}}
                                </td>
                            </tr><tr>
                                <td>
                                    <strong>Contract Type</strong>
                                </td>
                                <td>
                                    {{vm.contract.type}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
