<form name="editForm" role="form" novalidate ng-submit="vm.save()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myRoomLabel">Create a Rate Structure</h4>
  </div>
  <div class="modal-body">

    <div class="row" ng-show="vm.showObjectType">
      <div class="col-md-4">
        <div class="form-group">
          <label for="field_year">For Object </label>
          <select class="form-control" id="field_year" name="year" ng-model="vm.entity.objectType"
            ng-change="vm.objectChange()" ng-options="objectType as objectType for objectType in vm.objectTypes"
            required>
            <option>{{objectType}}</option>
          </select>
          <!-- <input type="text" ng-model="vm.services.name" width="100%"   /> -->
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="field_year">For Year</label>
          <select class="form-control" id="field_year" name="year" ng-model="vm.entity.year" ng-change="vm.yearChange()"
            ng-options="contractYear as contractYear for contractYear in vm.contractYears" required>
            <option disabled>-select year-</option>
            <option>{{contractYear}}</option>
          </select>
          <!-- <input type="text" ng-model="vm.services.name" width="100%"   /> -->
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="field_Default">Is Default? </label>
          <input type="checkbox" style="margin-top:28px" ng-model="vm.entity.isDefault" ng-click="vm.toggleDefault(vm.entity.isDefault)"
            class="ng-pristine ng-untouched ng-valid ng-empty">

        </div>
      </div>
    </div>

    <div class="row" ng-hide="vm.showObjectType">

      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label" for="field_year">For Year</label>
          <select class="form-control" id="field_year" name="year" ng-model="vm.entity.year" ng-change="vm.yearChange()"
            ng-options="contractYear as contractYear for contractYear in vm.contractYears" required>
            <option disabled>-select year-</option>
            <option value="">{{contractYear}}</option>
          </select>
        </div>

        <!-- <div class="form-group">
          <label for="field_year">For Year</label>
          <select class="form-control" id="field_year" name="year" ng-model="vm.entity.year" ng-options="contractYear as contractYear for contractYear in vm.years"
            required>
            <option>{{contractYear}}</option>
          </select>

        </div> -->

      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="field_Default">Is Default? </label>
          <input type="checkbox" style="margin-top:28px" ng-model="vm.entity.isDefault" ng-click="vm.toggleDefault(vm.entity.isDefault)"
            class="ng-pristine ng-untouched ng-valid ng-empty">
        </div>
      </div>
    </div>
    <br />
    <div class="form-group">
      <label class="control-label" for="field_name">Name</label>
      <input type="text" class="form-control" name="name" placeholder="Spanish Rate Structure" id="field_name"
        ng-model="vm.entity.name" required />
    </div>
    <br />
    

    <div ng-hide="vm.entity.id > 0">
      <hr />
      <div class="row">
        <h4 class="control-label col-md-4" title="Factors affecting rate structure">Dimensions</h4>

        <div class="col-md-4 col-md-offset-4">
          <button type="button" class="btn btn-primary pull-right" ng-click="vm.addDimension()">
            <i class="glyphicon glyphicon-plus"></i> Dimension</button>
        </div>
      </div>

      <div class="">
        <div class="panel-body">

          <div class="row">
            <label class="col-md-4">Dimension Name</label>
            <label class="col-md-4">Dimension Type</label>
            <label class="col-md-4">Is Default?</label>
          </div>

          <div ng-repeat="dimen in vm.initialSet">
            <div class="row">
              <div class="col-md-4">
                <select class="form-control" id="field_type" name="id" ng-model="dimen.id"
                  ng-options="dimenType.id as dimenType.name for dimenType in vm.myDim">
                  <option disabled>-select dimension name-</option>

                </select>

              </div>
              <div class="col-md-4">
                <select class="form-control" name="type" ng-model="dimen.type"
                  ng-options="setDimensionType for setDimensionType in vm.setDimensionTypes">
                </select>
              </div>
              <div class="col-md-2">
                <input type="checkbox" ng-model="dimen.hasDefault" class="ng-pristine ng-untouched ng-valid ng-empty"
                  style="height: 30px">
              </div>

              <div class="col-md-2">
                <button type="button" class="btn btn-danger" ng-click="vm.removeDimension($index)">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </div>
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
    <!-- {{vm.myDim}} -->
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
          data-translate="entity.action.cancel">Cancel</span>
      </button>
      <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
      </button>
    </div>
</form>

<!-- <style>
  .list-group-item {
    background-color: #f8f8f8;
    margin-top: 10px;
  }

  .margin-top-10 {
    margin-top: 10px;
  }
</style> -->
