<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myLocationLabel">Contract
      </label></h4>
  </div>
  <div class="modal-body">


    <div class="row">
      <div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="field_type">Contract Type</label>
            <select class="form-control" id="field_type" name="type" ng-model="vm.contract.contractType" ng-change="vm.onContractTypeChange()">
              <option value="">-Type-</option>
              <option ng-repeat="type in vm.contractTypes" value="{{type}}">{{type}}</option>
            </select>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="field_orgType">Issuer</label>
            <select required class="form-control" id="field_dimensionSetId" name="dimensionSetId" ng-model="vm.contract.issuerId"
              ng-options="issuer.id as issuer.name for issuer in vm.issuers">
              <option value="">-Property-</option>
            </select>
          </div>
        </div>
      </div>

    </div>


    <div>

      <div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="field_marketId">For Market</label>
              <select class="form-control" id="field_marketId" name="marketId" ng-model="vm.contract.marketId"
                ng-options="market.id as market.name for market in vm.markets">
                <option value="{{market.id}}">{{ market.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6" ng-hide="vm.contract.contractType == 'PUBLISHED'" >
            <div class="form-group">
              <label>Target Organization</label>
              <input type="text" ng-model="vm.contract.targetName" placeholder="Ol Tukai Lodge ..." uib-typeahead="loc.name for loc in vm.getLocs($viewValue,3)"
                typeahead-loading="loadingStartLocations" typeahead-no-results="noStartResults" typeahead-on-select="vm.onTargetSelected($item, $model)"
                class="form-control" required>
              <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
              <div ng-show="noStartResults">
                <i class="glyphicon glyphicon-remove"></i> No Results Found
              </div>
            </div>

          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-md-6">
            <label class="form-check-label"> Copy Params ?</label>
            <input type="checkbox" class="form-check-input" ng-model="vm.contract.copyParams">
          </div>
          <div class="col-md-6">
            <label class="form-check-label"> Copy Supplements ?</label>
            <input type="checkbox" class="form-check-input" ng-model="vm.contract.copySupplements">
          </div>
        </div>


      </div>
      <br />
      <div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>
                <select class="form-control" id="field_targetId" name="targetId" ng-model="vm.contract.supplementType">
                  <option value="MarkUp">-Give Commission-</option>
                  <option value="Discount">-Given Commission-</option>
                </select>
              </label>
              <input type="text" ng-model="vm.contract.discount" placeholder="Value" />

            </div>

          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>
                Supplement Discount
              </label>
              <input type="text" ng-model="vm.contract.supplementDiscount" placeholder="Value" />

            </div>

          </div>
        </div>
      </div>
      <div>
        <div class="row">

          <div class="col-md-6">
            <label class="form-check-label"> Round ?</label>
            <input type="checkbox" class="form-check-input" ng-model="vm.contract.round">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <!-- LOOP FOR CONTRACT PARAMETERS THAT ARE SUPPLEMENTABLE -->
    <div class="col-md-4" ng-show="parameter.type == 'DIMENSION' && vm.contractParamsCount > 0" ng-repeat="parameter in vm.contractParameters">

      <div class="form-group">
        <h3> Contract Parameters</h3>
      </div>
      <label class="control-label" for="field_startDate">{{parameter.displayName}}</label>
      <select class="form-control" name="type" ng-model="parameter.value">
        <option value=""></option>
        <option ng-repeat="object in parameter.existences " value="{{object.id}}" ng-selected="object.id == parameter.value">
          {{object.name}} </option>
      </select>
    </div>
    <!-- <div ng-if="!vm.disablePreview && vm.basicDimensionCount === 2" class="col-md-8" ng-hide="!vm.entity.issuerId">
      <div class="table-responsive">
        <div class="form-group">
          <h3> Rates Preview
            <button type="button" class="btn btn-danger btn-sm pull-right" ng-click="vm.disablePreviewFunction()">
              <span class="glyphicon glyphicon-remove"></span> Close
            </button>
          </h3>
        </div>
        <hr />
        <table class="table table-striped table-bordered">
          <thead>
            <th></th>
            <th ng-repeat="item in vm.setDimensionsWithExistences[0].existenceDTOList">
              {{ item.name }}
              <span class="badge" data-toggle="popover" data-content="item.brief">?</span>
            </th>

          </thead>
          <tbody>
            <tr ng-repeat="row in vm.setDimensionsWithExistences[1].existenceDTOList">
              <td>
                {{ row.name }}
              </td>
              <td ng-repeat="item in vm.setDimensionsWithExistences[0].existenceDTOList">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div ng-if="!vm.disablePreview && vm.basicDimensionCount === 3">
      <div class="col-md-8">
        <div class="form-group">
          <h3> Rates Preview
            <button type="button" class="btn btn-danger btn-sm pull-right" ng-click="vm.disablePreviewFunction()">
              <span class="glyphicon glyphicon-remove"></span> Close
            </button>
          </h3>
        </div>
        <hr />
        <div ng-repeat="third in vm.setDimensionsWithExistences[2].existenceDTOList">
          <div class="table-responsive">
            <table class="table table-striped table-bordered">
              <thead>
                <th style="color: blue">{{third.name | uppercase}}</th>
                <th ng-repeat="item in vm.setDimensionsWithExistences[0].existenceDTOList">
                  {{ item.name }}
                  <span class="badge" data-toggle="popover" data-content="item.brief">?</span>
                </th>

              </thead>
              <tbody>
                <tr ng-repeat="row in vm.setDimensionsWithExistences[1].existenceDTOList">
                  <td>
                    {{ row.name }}
                  </td>
                  <td ng-repeat="item in vm.setDimensionsWithExistences[0].existenceDTOList">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div> -->
  </div>
  </div>
  <div class="modal-footer">
    
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
        <span>Cancel</span>
      </button>
      <button type="submit" ng-disabled="vm.isSaving" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;
        <span>Save</span>
      </button>
  </div>
</form>
