<form name="editForm" role="form" novalidate ng-submit="vm.save()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMenuLabel">Add or Edit a Menu Item</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        
        <div class="form-group">
            <label class="control-label" for="field_registration">name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.menuItem.name"
                    />
        </div>
        <div class="form-group">
            <label for="field_generalMenuItemTypeId">Type of Menu</label>
            <select class="form-control" id="field_generalMenuItemTypeId" name="generalMenuItemTypeId" 
                ng-model="vm.menuItem.generalMenuItemTypeId" 
                ng-options="menuItemType.id as menuItemType.name for menuItemType in vm.menuItemTypes">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_brief">Brief</label>
            <textarea class="form-control" name="brief" id="field_brief"
                    ng-model="vm.menuItem.brief"></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <textarea class="form-control" name="description" id="field_description"
                    ng-model="vm.menuItem.description"></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_notes">Special Notes</label>
            <textarea class="form-control" name="notes" id="field_notes"
                    ng-model="vm.menuItem.notes"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
        