<div class="row">
    <div class="col-md-9">
        <ul class="breadcrumb">
            <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
            <li ui-sref-active="active" class="active">Menus</li>
        </ul>
    </div>
    <div class="col-md-3">
        <div class="pull-right">
            <button class="btn btn-primary" ui-sref="menus.new" >
                <span class="glyphicon glyphicon-plus"></span>
                <span class="hidden-xs-down" >
                    Add Menu Item
                </span>
            </button>
        </div>
    </div>
</div>



<!-- the main panel showing the -->

<div class="row" ng-show="vm.noRecordsFound">
    <div class="panel panel-default">
        <div class="panel-body">
            No records found.
        </div>
    </div>
</div>

<div class="row" ng-hide="vm.noRecordsFound">
    <div class="col-sm-6 col-md-3"  ng-repeat="menu in vm.menus track by menu.id">
        <div class="thumbnail">
            <img src="images/image-placeholder.svg" alt="">
            <div class="caption">
            <div class="pull-right">
                <a ui-sref="menus.edit({id:menu.id})">
                    <h5><span class="glyphicon glyphicon-pencil"></span></h5>
                </a>
            </div>
            <h5>{{menu.name}}</h5>
            <p>{{menu.brief}}</p>
            <p><a class="btn btn-primary" role="button" ui-sref="menu-detail({id: menu.id})">View</a></p>
            </div>
        </div>
    </div>
</div>