<div class="container">
  <div class="row">
    <div class="col-md-6">
      <ul class="breadcrumb">
        <li ui-sref-active="active">
          <a ui-sref="home">Home</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="menus">Menus</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="menu-detail({id:vm.menuItem.menuId})">{{vm.menuItem.menuName}}</a>
        </li>
        <li ui-sref-active="active" class="active">{{vm.menuItem.name}}</li>
      </ul>
    </div>
    <div class="col-md-6">
      <button ng-hide="vm.menu.contentStatus === 'DELETED'" class="btn btn-danger pull-right" ui-sref="menu-item-detail.delete({id: vm.menuItem.id})">
        <span class="glyphicon glyphicon-ban-circle"></span>
        <span class="">
          Delete
        </span>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
          <div class="image-container">
              <!-- <img class="img-responsive" ng-hide="" ng-src="images/image-placeholder.svg" alt="{{ vm.account.name }}"> -->
              <img class="img-responsive" ng-src="{{vm.profile_image_url}}" alt="{{ vm.menuItem.name }}">
              <a ui-sref="menu-item-detail.image" class="icon-choose-image">
                <img src="images/camera.png">
              </a>
            </div>
        <div class="panel-body">
          <h4>{{vm.menuItem.name}}</h4>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="menu-item-detail({id: vm.menuItem.id})">Overview</a>
          </li>
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="menu-item-galleries({id: vm.menuItem.id})">Gallery</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="pull-right">
                <a ui-sref="menu-item-detail.edit({id:vm.menuItem.id})">
                  <h3>
                    <span class="glyphicon glyphicon-pencil"></span>
                  </h3>
                </a>
              </div>
              <h2>{{vm.menuItem.name}}</h2>
              {{vm.menuItem.description}}
              <p class="p-padding pull-right">
                <span ng-repeat="objectLabel in vm.objectLabels">
                  <span class="label label-default" style="margin-left: 4px">
                    {{objectLabel.labelName}}
                    <a ui-sref="menu-item-detail.deleteLabel({ itemToDelete: objectLabel.id})">
                      <strong class="label label-danger">X</strong>
                    </a>
                  </span>
                </span>
                <a ui-sref="menu-item-detail.addLabels({uuid: vm.menuItem.uuid, objectType : 'MENU_ITEM'})">
                  <span class="label label-primary">
                    <span class="glyphicon glyphicon-plus-sign"></span>Add labels</span>
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <table class="table">
              <tr>
                <td>
                  <strong>Type</strong>
                </td>
                <td>
                  {{vm.menuItem.generalMenuItemTypeName}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Status</strong>
                </td>
                <td>
                  {{vm.menuItem.contentStatus}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Menu</strong>
                </td>
                <td>
                  <a ui-sref="menu-detail({id: vm.menuItem.menuId})">{{vm.menuItem.menuName}}</a>
                </td>
              </tr>
            </table>
          </div>
          <div class="panel panel-default">
            <div class="panel-body">
              <h4>Special Notes
                <span class="glyphicon glyphicon-asterisk"></span>
              </h4>
              {{vm.menuItem.notes}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
