<form name="editForm" role="form" novalidate ng-submit="vm.save()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRoomLabel">Change Password</h4>
    </div>
    <div class="modal-body">
        <div class="">
            <div class="panel-body">
                <div class=" form-group">
                    <label class="control-label" for="password">New Password</label>
                    <input type="password" class="form-control" name="password" id="password"
                        ng-model="vm.password.password" required />
                    <div ng-show="editForm.password.$invalid">
                        <p class="help-block" ng-show="editForm.password.$error.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class=" form-group">
                    <label class="control-label" for="confirm_password">Confirm Password</label>
                    <input type="password" class="form-control" name="confirm_password" ng-model="vm.confirm_password"
                        id="confirm_password" same-as="vm.password.password" required />
                    <div ng-show="editForm.confirm_password.$invalid">
                        <p class="help-block" ng-show="editForm.confirm_password.$error.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.confirm_password.$viewValue != editForm.password.$viewValue">
                            Password does not match
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
        <div>
            <flash-message show-close="true" duration="10000"></flash-message>
        </div>
    </div>
</form>