<div class="container">
  <div class="row">
    <ul class="breadcrumb">
      <li ui-sref-active="active">
        <a ui-sref="home">Home</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="settings">Settings</a>
      </li>
      <li ui-sref-active="active">Account</li>
    </ul>
  </div>
</div>
<div class="row">

  <div class="col-md-3">
    <div class="panel panel-default">
      <img src="images/image-placeholder.svg" alt="">
      <div ng-include="'core/routes/settings/settings-menu/settings-menu.html'"></div>
    </div>
  </div>

  <div class="col-md-9" ng-hide="vm.recordsFound">
    <div class="panel panel-default">
      <div class="panel-body">
        No records found.
      </div>
    </div>
  </div>

  <div class="col-md-9" ng-show="vm.recordsFound">
    <div class="row">
      <div class="col-sm-6 col-md-4" ng-repeat="record in vm.records track by record.id">
        <div class="thumbnail">
          <img src="images/image-placeholder.svg" alt="">
          <div class="caption">
            <h5>{{record.name}}</h5>
            <p>{{record.brief}}</p>
            <p>
              <a href="#" class="btn btn-primary" role="button" ui-sref="record-detail({id: record.id})">View</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
