<div class="row" style="margin-top: 140px;">
  <div class="col-xs-6">
    <div class="white-text">
      <!-- Logo here -->
      <img src="images/compass.png" alt="Safariway Logo" class=" logo img-responsive img-circle">
      <h1 class="text-center">
        <strong>SAFARIWAY</strong>
      </h1>
      <h4 class="text-center">The number one tourism management system</h4>
      <ul style="font-size: 16px;padding-top: 40px;">
        <li>No more guessing about what information is needed.</li>
        <li>No more paperwork when creating contracts or reservations.</li>
        <li>Your information always goes in the right place plus our top notch security guarantees it's safety. </li>
      </ul>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="login-form_1">
      <form name="editForm" role="form" novalidate ng-submit="vm.save()">
        <h4 class="text-center" style="padding-top: 100px;">LOGIN</h4>
        <flash-message show-close="true" duration="1000"></flash-message>
        <div class="form-group">
          <label class="control-label" for="field_username">Email Address</label>
          <input type="text" class="form-control" name="field_username" id="field_username" ng-model="vm.data.username" placeholder="email@domain.com" required/>
        </div>
        <div class="form-group">
          <label class="control-label" for="field_password">Password</label>
          <input type="password" class="form-control" name="field_password" id="field_password" ng-model="vm.data.password" placeholder="secret password" required/>
        </div>
        <div class="row">
          <div class="pull-right">
            <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary" style="margin-right: 14px;">
              <span>Login</span>
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-7">
            <img src="images/locked.png" class="img-responsive" style="width: 20px;">
            <a ui-sref="password">Forgot password?</a>
          </div>
          <div class="col-xs-5">
            <img src="images/tick.png" class="img-responsive" style="width: 20px;">
            <a href="#">Sign Up</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
