<div class="col-md-12" style="margin-top: 40px">
  <div class="col-md-offset-4 col-md-4">
    <div class="panel">
      <div class="panel-heading text-center" style="padding-bottom: 0">
        <!-- <span style="color: #3BC2F1; margin-top: 10px" class="glyphicon glyphicon-th login-logo"></span> -->
        <img src="images/compass.png" alt="Safariway Logo" class="logo img-responsive img-circle" style="width:50px; height: 50px;" >
        <h1 class="text-center">
        <strong>Safariway</strong>
        </h1>
        <h4>CHANGE PASSWORD?</h4>
        <div class="alert alert-success" ng-show="vm.success">
          <strong>Password changed!</strong>
        </div>
        <div class="alert alert-danger" ng-show="vm.error">
          <strong>An error has occurred!</strong> The password could not be changed.
        </div>

        <div class="alert alert-danger" ng-show="vm.doNotMatch">
          The password and its confirmation do not match!
        </div>
        <hr>
      </div>
      <div class="panel-body" style="padding-top: 0">
        <form name="form" role="form" novalidate ng-submit="vm.save()" show-validation>

          <div class="form-group">
            <label class="control-label" for="password">New password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="New password"
              ng-model="vm.password.password" ng-minlength=4 ng-maxlength=50 required>
            <div ng-show="form.password.$dirty && form.password.$invalid">
              <p class="help-block" ng-show="form.password.$error.required">
                Your password is required.
              </p>
              <p class="help-block" ng-show="form.password.$error.minlength">
                Your password is required to be at least 4 characters.
              </p>
              <p class="help-block" ng-show="form.password.$error.maxlength">
                Your password cannot be longer than 50 characters.
              </p>
            </div>
            <password-strength-bar password-to-check="vm.password"></password-strength-bar>
          </div>
          <div class="form-group">
            <label class="control-label" for="confirm_password">New password confirmation</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password"
              placeholder="Confirm the new password" ng-model="vm.confirm_password" ng-minlength=4 ng-maxlength=50
              required>
            <div ng-show="form.confirm_password.$dirty && form.confirm_password.$invalid">
              <p class="help-block" ng-show="form.confirm_password.$error.required">
                Your confirmation password is required.
              </p>
              <p class="help-block" ng-show="form.confirm_password.$error.minlength">
                Your confirmation password is required to be at least 4 characters.
              </p>
              <p class="help-block" ng-show="form.confirm_password.$error.maxlength">
                Your confirmation password cannot be longer than 50 characters.
              </p>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="form-control btn btn-info">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
