<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active">Rooms</li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="breadcrumb-btns">
            <ul class="nav nav-pills pull-right">
              <li>
                <button type="button" class="btn btn-primary btn-sm" ui-sref="room-categories.new">
                  <span class="glyphicon glyphicon-plus-sign"></span> Room Category</button>
              </li>

              <li ui-sref-active="active">
                <button type="button" class="btn btn-primary btn-sm" ng-click="vm.dragAlert = !vm.dragAlert">
                  <span class="glyphicon glyphicon-sort"></span> Order</button>
              </li>
              <li>
                <button type="button" class="btn btn-default btn-sm more" data-toggle="dropdown">... </button>
                <ul class="dropdown-menu pull-right" role="menu">
                  <li>
                    <a ui-sref="settings">More actions</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- filter panel -->
<div class="filter-panel ">
  <div class="filter-panel-body">
    <form ng-submit="vm.search()">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <p style="margin-left: 20px; margin-top: 10px">Any filter options for Rooms will be here</p>
          </div>
        </div>
        <div class="col-md-3 pull-right">
          <form name="searchForm" class="form-inline">
            <div class="input-group pull-right">
              <input type="text" class="form-control" ng-model="query" id="searchQuery" placeholder="search a room category">
              <span class="input-group-btn" style="height: 29px;  ">
                <button class="btn btn-primary btn-md waves-effect waves-light " style="font-size: 12px; line-height: 1.37859" ng-click="vm.search(vm.searchQuery)">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </form>
  </div>
</div>
<br>
<!-- the main panel showing the -->

<div class="row" ng-show="vm.noRecordsFound">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        No records found.
      </div>
    </div>
  </div>
</div>

<div class="alert alert-success alert-dismissible fade in" ng-show="vm.dragAlert === true">
  <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Drag the Room category to desired position</strong>
</div>
<div class="row" ng-show="vm.displayRoomCategories">
  <div ng-model="vm.roomCategories" class="vm.roomCategories">
    <div class="col-sm-5 col-md-3" ng-repeat="roomCategory in vm.roomCategories  | filter:query">
      <div class="thumbnail roomCatCard">
        <!-- <img src="images/image-placeholder.svg" alt=""> -->
        <img class="img-responsive imgRoomCat" ng-src="{{vm.profile_image_url}}{{roomCategory.uuid}}" alt="{{ vm.roomCategory.name }}">
        <div class="caption">
          <h5>{{roomCategory.name}}</h5>
          <div class="pull-right">
          </div>
          <p>{{roomCategory.roomCount}} Rooms</p>

          <p> {{vm.shorten(roomCategory.brief, 70)}}
            <span ng-show="{{vm.shorten(roomCategory.brief, 70) > vm.shorten(roomCategory.brief, 50)}}" class="label label-default circularLabel roomNotes" data-placement="top" data-toggle="popover" data-trigger="hover" data-content="{{ roomCategory.brief }}">
              ??
            </span>
          </p>


          <script>
            $(document).ready(function() {
              $('[data-toggle="popover"]').popover();



            });


          </script>

          <p class="btnRoomCat">

            <a href="#" class="btn btn-primary" role="button" ui-sref="room-category-detail({id:roomCategory.id})">View</a>

            <button class="btn btn-primary btnfloatRight" role="button" ng-click="vm.dragAlert = !vm.dragAlert"><span class="glyphicon glyphicon-sort"></span> Order
            </button>

          </p>
          <!-- <button type="button" class="btn btn-primary btn-sm" ui-sref="room-categories.editList">
              <span class="glyphicon glyphicon-sort"></span>Order</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>
