<form name="roomCatEditForm" role="form" novalidate ng-submit="vm.save()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myRoomCategoryLabel"></h4>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <div class="row">
      <div class="form-group col-md-4" ng-class="{ 'has-error' : roomCatEditForm.name.$invalid && !roomCatEditForm.name.$pristine }">
        <label class="control-label" for="field_name">Room Category Name</label>
        <input type="text" class="form-control" name="name" placeholder="Deluxe" id="field_name" ng-model="vm.roomCategory.name" required/>
        <div class="help-block" ng-show="!roomCatEditForm.name.$pristine && roomCatEditForm.name.$invalid">Room Category name is required</div>

      </div>

      <div class="form-group col-md-4">
        <label class="control-label" for="field_roomCount">Number of Rooms in Category</label>
        <input type="number" class="form-control" name="roomCount" id="field_roomCount" ng-model="vm.roomCategory.roomCount" />
      </div>
      <!-- <div class="form-group">
      <label for="field_roomOccupancies">Occupancies</label>
      <select class="form-control" id="field_roomOccupancies" name="roomOccupancies" multiple ng-model="vm.roomCategory.roomOccupancies"
        ng-options="roomOccupancy as roomOccupancy.description for roomOccupancy in vm.roomOccupancies track by roomOccupancy.id">
      </select>
      {{ vm.roomOccupancies }}
    </div> -->
      <div class="form-group col-md-4">
        <label class="control-label" for="field_roomArea">Estimated Room Area in M<sup>2</sup></label>
        <input type="number" class="form-control" name="roomArea" placeholder="10" id="field_roomArea" ng-model="vm.roomCategory.roomArea" />
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : roomCatEditForm.brief.$viewValue.length == 200}">
      <label class="control-label" for="field_brief">Brief</label>
      <textarea class="form-control" name="brief" id="field_brief" ng-model="vm.roomCategory.brief" maxlength="200" ng-maxlength="200"></textarea>
      <div class="help-block" ng-show="roomCatEditForm.brief.$viewValue.length == 200">Maximum length reached</div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : roomCatEditForm.brief.$viewValue.length == 1000}">
      <label class="control-label" for="field_description">Description</label>
      <textarea class="form-control" name="description" id="field_description" ng-model="vm.roomCategory.description" maxlength="1000"
        ng-maxlength="200"></textarea>
      <div class="help-block" ng-show="roomCatEditForm.description.$viewValue.length == 1000">Maximum length reached</div>

    </div>
    <div class="form-group">
      <label class="control-label" for="field_notes">Special Notes about the Room Category</label>
      <textarea class="form-control" name="notes" id="field_notes" ng-model="vm.roomCategory.notes"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
      <span data-translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="roomCatEditForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;
      <span data-translate="entity.action.save">Save</span>
    </button>
  </div>
</form>