<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="room-categories">Room Category</a>
            </li>
            <li ui-sref-active="active" class="active">{{vm.roomCategory.name}}</li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="breadcrumb-btns">
            <ul class="nav nav-pills pull-right">
              <li>
                <button ng-hide="vm.category.contentStatus === 'DELETED'" class="btn btn-danger pull-right btn-sm" ui-sref="room-category-detail.delete({id: vm.roomCategory.id})">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </li>
              <li>
                <button type="button" class="btn btn-default btn-sm more" data-toggle="dropdown">... </button>
                <ul class="dropdown-menu pull-right" role="menu">
                  <li>
                    <a ui-sref="settings">More actions</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="image-container">
        <img class="img-responsive" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{vm.roomCategory.uuid}}" alt="{{ vm.roomCategory.name }}">
        <a ui-sref="room-category-detail.image" class="icon-choose-image">
          <img src="images/camera.png">
        </a>
      </div>
      <div class="panel-body">
        <h4>{{vm.roomCategory.name}}</h4>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="room-category-detail({id: vm.roomCategory.id})">Overview</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="room-category-galleries({id: vm.roomCategory.id})">Gallery</a>
        </li>

      </ul>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row panel panel-default">
      <div class="col-md-8">
        <div class="">
          <div class="panel-body">
            <div class="pull-right">
              <a ui-sref="room-categories.edit({id:vm.roomCategory.id})">
                <h3>
                  <span class="glyphicon glyphicon-pencil"></span>
                </h3>
              </a>
            </div>
            <h2>{{vm.roomCategory.name}}</h2>
            <p>{{vm.roomCategory.description}}</p>
            <strong>{{vm.roomCategory.notes}}</strong>


            <div class="pull-right">

              <p class="">
                <span ng-repeat="objectLabel in vm.objectLabels">
                  <span class="label label-default">
                    {{objectLabel.labelName}}
                    <a ui-sref="room-category-detail.deleteLabel({ itemToDelete: objectLabel.id})">
                      <strong class="label label-danger">X</strong>
                    </a>
                  </span>
                </span>
                <a ui-sref="room-category-detail.addLabels({uuid: vm.roomCategory.uuid, objectType : 'ROOM_CATEGORY'})">
                  <span class="label label-primary">
                    <span class="glyphicon glyphicon-plus-sign"></span>&nbsp; Add more labels</span>
                </a>
              </p>



              <p class="">
                <span ng-repeat="objectFeature in vm.objectFeatures">
                  <span class="label label-default">
                    {{objectFeature.name}}
                    <a ui-sref="room-category-detail.deleteFeature({ itemToDelete: objectFeature.id})">
                      <strong class="label label-danger">X</strong>
                    </a>
                  </span>
                </span>
                <a ui-sref="room-category-detail.addFeature({uuid: vm.roomCategory.uuid, objectType : 'ROOM_CATEGORY'})">
                  <span class="label label-primary">
                    <span class="glyphicon glyphicon-plus-sign">
                    </span>&nbsp; Add more Features</span>
                </a>
              </p>

            </div>


          </div>
        </div>




      </div>
      <div class="col-md-4">
        <div class="">
          <table class="table">
            <tr>
              <td width="50%">
                <strong>Number of Rooms</strong>
              </td>
              <td>
                {{vm.roomCategory.roomCount}}
              </td>
            </tr>

            <tr>
              <td>
                <strong>Status</strong>
              </td>
              <td>
                {{vm.roomCategory.contentStatus}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Occupancies</strong>
              </td>
              <td>
                <span ng-repeat="roomOccupancy in vm.roomCategory.roomOccupancies">
                  {{roomOccupancy.name}}
                </span>
              </td>
            </tr>
          </table>
          <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="roomCategory in vm.roomCategories track by roomCategory.id" role="presentation">
              <a ui-sref="roomCategory-detail({id: roomCategory.id})">{{roomCategory.name}}</a>
            </li>
          </ul>
        </div>
      </div>

    </div>


    <div class="pull-right">
      <button class="btn btn-primary" ui-sref="room-categories-rooms.new">
        <span class="glyphicon glyphicon-plus-sign"></span>
        <span class="hidden-xs-down">
          Add a Room
        </span>
      </button>
    </div>

    <h3>Room </h3>

    <br>


    <div class="panel panel-default" ng-hide="vm.roomsFound">
      <div class="panel-body">
        No data found.
      </div>
    </div>

    <div class="row" ng-show="vm.roomsFound">
      <div class="col-md-4" ng-repeat="room in vm.rooms">
        <div class="thumbnail">
          <div class="image-container">
            <img class="img-responsive" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{room.uuid}}" alt="{{room.name }}">
          </div>
          <div class="caption">
            <h5>{{room.identification}}</h5>
            <p>{{room.brief}}</p>
            <p>
              <a class="btn btn-primary" role="button" ui-sref="room-detail({id: room.id})">View</a>
            </p>
          </div>
        </div>
      </div>
    </div>



  </div>


</div>
