<form name="editForm" role="form" novalidate ng-submit="vm.save()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myRoomLabel">Add Countries</h4>
  </div>
  <div class="modal-body">
    <!-- <div class="form-group">
        <label class="control-label" for="field_countries">Countries for this market</label>
        <multiple-autocomplete ng-model="vm.selectedList" name="countries" object-property="name" suggestions-arr="vm.countries1">
        </multiple-autocomplete>
      </div> -->
    <div class="row">
      <h4 class="control-label col-md-4" title="Factors affecting rate structure">Countries</h4>

      <div class="col-md-4 col-md-offset-4">
        <button type="button" class="btn btn-primary pull-right" ng-click="vm.addCountry()">
          <i class="glyphicon glyphicon-plus"></i> Country</button>
      </div>
    </div>

    <br>

    <div ng-repeat="country in vm.selectedList">
      <div class="row">
        <div class="col-md-5">
          <select class="form-control" id="field_type" name="id" ng-model="country.countryId" ng-options="countryType.id as countryType.name for countryType in vm.countries">
          </select>
        </div>
        <div class="col-md-5">
          <select class="form-control" name="type" ng-model="country.residence" ng-options="setCountryType for setCountryType in vm.setCountryTypes">
          </select>
        </div>

        <div class="col-md-2">
          <button type="button" class="btn btn-danger pull-right" ng-click="vm.removeCountry($index)">
            <span class="glyphicon glyphicon-trash"></span>

          </button>
        </div>
      </div>

      <br>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
        data-translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
    </button>
  </div>
</form>
