<form name="editForm" role="form" novalidate ng-submit="vm.save()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 ng-hide="vm.entity.id == null" class="modal-title" id="myRoomLabel">Edit market</h4>
    <h4 ng-hide="vm.entity.id !== null" class="modal-title" id="myRoomLabel">Add a market</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="control-label" for="field_name">Name</label>
      <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.entity.name" />
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="vm.entity.isDefault" />
        <strong>Is Default Market</strong>
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
        data-translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
    </button>
  </div>
</form>
