<!-- <form name="editForm" role="form" novalidate ng-submit="vm.save()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myRoomLabel">Edit a market</h4>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <div class="form-group">
      <label class="control-label" for="field_name">Name</label>
      <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.entity.name" />
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="vm.entity.default" />
        <strong>Is Default Market</strong>
      </label>
    </div>
    <div class="form-group">
      <label class="control-label" for="field_countries">Countries for this market</label>
      <multiple-autocomplete ng-model="vm.selectedList" name="countries" object-property="name" suggestions-arr="vm.countries">
      </multiple-autocomplete>
      <div ng-show="edit.countries.$invalid && edit.countries.$dirty">
          <p class="help-block" ng-show="edit.countries.$error.required">Input at minimum one country</p>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
      <span data-translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;
      <span data-translate="entity.action.save">Save</span>
    </button>
  </div>
</form> -->

<form name="editForm" role="form" novalidate ng-submit="vm.save()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myRoomLabel">Create a  Market</h4>
  </div>
  <div class="modal-body">

    <div class="form-group">
      <label class="control-label" for="field_name">Name</label>
      <input type="text" class="form-control" name="name" placeholder="e.g: Spanish" id="field_name" ng-model="vm.entity.name" />
    </div>

    <div class="row">
      <h4 class="control-label col-md-4" title="Factors affecting rate structure">Countries</h4>

      <div class="col-md-4 col-md-offset-4">
        <button type="button" class="btn btn-primary pull-right" ng-click="vm.addCountry()">
          <i class="glyphicon glyphicon-plus"></i> Country</button>
      </div>
    </div>

    <div class="">
      <div class="panel-body">

        <div class="row">
          <label class="col-md-5">Country</label>
          <label class="col-md-5">Residency</label>
        </div>

        <div ng-repeat="country in vm.initialSet">
          <div class="row">
            <div class="col-md-5">
              <select class="form-control" id="field_type" name="id" ng-model="country.id" ng-options="countryType.id as countryType.name for countryType in vm.countries">
              </select>
            </div>
            <div class="col-md-5">
              <select class="form-control" name="type" ng-model="country.residence" ng-options="setCountryType for setCountryType in vm.setCountryTypes">
              </select>
            </div>

            <div class="col-md-2">
              <button type="button" class="btn btn-danger" ng-click="vm.removeCountry($index)">
                <span class="glyphicon glyphicon-trash pull-right"></span>
               </button>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
          data-translate="entity.action.cancel">Cancel</span>
      </button>
      <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
      </button>
    </div>
</form>

<style>
  .list-group-item {
    background-color: #f8f8f8;
    margin-top: 10px;
  }

  .margin-top-10 {
    margin-top: 10px;
  }
</style>
