<!-- breadcrumb -->
<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="settings">Settings</a>
            </li>
            <li ui-sref-active="active">Markets</li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="breadcrumb-btns">
            <ul class="nav nav-pills pull-right">
              <li>
                <button class="btn btn-default btn-sm" ui-sref="settings-markets.new">
                  <span class="glyphicon glyphicon-plus"></span>
                  <span class="hidden-xs-down">
                    Add Market
                  </span>
                </button>
              </li>
              <li>
                <div ng-include="'core/routes/settings/settings-menu/settings-navbar.html'"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <!-- <img class="img-responsive" ng-src="{{vm.profile_image_url}}" alt="{{ vm.account.name }}"> -->
      <div ng-include="'core/routes/settings/settings-menu/settings-menu.html'"></div>
    </div>
  </div>

  <div class="col-md-9" ng-hide="vm.entity !== null">
    <div class="panel panel-default">
      <div class="panel-body">
        No records found.
      </div>
    </div>
  </div>

  <div class="col-md-9" ng-show="vm.entity != null">
    <div class="row">
      <div class="col-sm-6 col-md-4" ng-repeat="item in vm.entity">
        <div class="thumbnail">
          <div class="caption">
            <div class="row">
              <div class="col-md-6">
                <h4><strong class="uppercaseName">{{item.name}}</strong> </h4>

              </div>
              <div class="col-md-6">
                <a href="#" class="btn btn-primary pull-right" role="button"
                  ui-sref="settings-markets.addCountry({id: item.id})"><span
                    class="glyphicon glyphicon-plus-sign"></span> country</a>
              </div>

            </div>

            <!-- <a class="pull-right" ui-sref="settings-markets.edit({marketId: item.id})">
                <span class="glyphicon glyphicon-pencil"></span>
              </a> -->
            <hr>


            <div ng-repeat="country in item.marketCountryDTOList">

              <div class="row">

                <div class="col-md-5">
                  <h5> {{ country.countryName | uppercase}} </h5>

                </div>
                <div class="col-md-5">
                  <h5> <span class="label label-info">{{ country.residence }}</span>
                  </h5>
                </div>

                <div class="col-md-2">
                  <a ui-sref="settings-markets.deleteCountry({id: country.id})">

                    <span style="margin-top:6px;" class="label label-danger pull-right">
                      <span class="glyphicon glyphicon-trash"></span>
                    </span>
                  </a>
                </div>

              </div>

            </div>

            <!-- <button type="button" class="btn btn-primary" ui-sref="settings-markets.addCountry({id: item.id})">
                  <span class="glyphicon glyphicon-plus"></span> country</button> -->



            <hr>
            <p>
              <a href="#" class="btn btn-primary" role="button"
                ui-sref="settings-markets.edit({marketId: item.id})">Edit</a>
              <a href="#" class="btn btn-danger pull-right" role="button"
                ui-sref="settings-markets.delete({id: item.id})">
                <span class="glyphicon glyphicon-trash"></span>

              </a>
              <!-- <a href="#" class="btn btn-danger" role="button" ui-sref="settings-markets.delete({id: item.id})">Delete</a> -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
