<!-- breadcrumb -->
<form name="editForm" role="form" novalidate ng-submit="vm.save()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myRoomLabel">Currency Conversion Rates</h4>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <select class="form-control" ng-model="vm.entity.fromId"
            ng-change="vm.setOccupantBaseRateName(policy,policy.occupantsBaseRateId)"
            ng-options="currency.id as currency.abbreviation for currency in vm.currencies" ng-required>
            <option value="" selected>From</option>
            <option value="{{currency.id}}" selected>{{currency.abbreviation}}</option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
          <div class="form-group">

        <select class="form-control" ng-model="vm.entity.toId"
          ng-change="vm.setOccupantBaseRateName(policy,policy.occupantsBaseRateId)"
          ng-options="currency.id as currency.abbreviation for currency in vm.currencies" ng-required>
          <option value="" selected>To</option>
          <option value="{{currency.id}}" selected>{{currency.abbreviation}}</option>
        </select>
        </div>
      </div>

      <div class="col-md-6">
          <label class="control-label" for="field_startDate">Buying Price </label>

        <input type="number" ng-model="vm.entity.buyingRate" class="form-control" placeholder="e.g 0.99" />

      </div>
      <div class="col-md-6">
          <label class="control-label" for="field_startDate">Selling Price </label>

        <input type="number" ng-model="vm.entity.sellingRate" class="form-control" placeholder="e.g 100" />

      </div>
      <br />
      <br />

      <div class="col-md-6">
          <label class="control-label" for="field_startDate">Start Date "yyyy-MM-dd" </label>
          <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="vm.entity.startTime" is-open="vm.openedFrom"
              placeholder="Start Date" close-text="Close" ng-click="vm.openFrom()" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="vm.openFrom()">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>

        </div>
        <div class="col-md-6">
    
          <label class="control-label" for="field_startDate">End Date "yyyy-MM-dd" </label>
          <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="vm.entity.effectiveTime" is-open="vm.openedTo" placeholder="Start Date"
              close-text="Close" ng-click="vm.openTo()" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="vm.openTo()">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>

        </div>

    </div>
    <div class="row" ng-hide="true">
      <div class="col-md-2">
        <button type="button" class="btn btn-default" ng-click="vm.addPolicyRules()" style="margin-bottom:10px;">
          <span class="glyphicon glyphicon-plus"></span>&nbsp; Row</button>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button ng-show="vm.viewRules" type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
      <span data-translate="entity.action.cancel">Close</span>
    </button>
    <button ng-hide="vm.viewRules" type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
      <span data-translate="entity.action.cancel">Cancel</span>
    </button>
    <button ng-hide="vm.viewRules" type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;
      <span data-translate="entity.action.save">Save</span>
    </button>
  </div>
</form>