<!-- breadcrumb -->
<form name="editForm" role="form" novalidate ng-submit="vm.save()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myRoomLabel">Currency Group</h4>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
              <label for="field_id">Usage</label>
              <select class="form-control" id="field_id" name="id" ng-model="vm.entity.usage"  ng-options="usage as usage for usage in vm.usages">
                <option>{{usage}}</option>
              </select>
            </div>
          </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.entity.name" />
        </div>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
      <span data-translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;
      <span data-translate="entity.action.save">Save</span>
    </button>
  </div>
</form>
