<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="col-md-8">
        <ul class="breadcrumb">
          <li ui-sref-active="active">
            <a ui-sref="home">Home</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings">Settings</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="currencies">Currencies</a>
          </li>
          <li ui-sref-active="active" class="active">{{vm.conversionGroup.name}}</li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="breadcrumb-btns">
          <ul class="nav nav-pills pull-right">
            <li>
              <button class="btn btn-default btn-sm"
                ui-sref="currencies-detail.createConversion({group:vm.conversionGroup.id})">
                <span class="glyphicon glyphicon-plus-sign"></span> conversion</button>
            </li>
            <li>
              <div ng-include="'core/routes/settings/settings-menu/settings-navbar.html'"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div ng-include="'core/routes/settings/settings-menu/settings-menu.html'"></div>
      </div>
    </div>


    <div class="col-md-9" ng-show="vm.conversions == null">
      <div class="panel panel-default">
        <div class="panel-body">
          No records found
        </div>
      </div>
    </div>

    <div class="col-md-9" ng-show="vm.conversions">
      <div class="alert alert-success alert-dismissible fade in" ng-show="vm.dragAlert === true">
        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>To sort, drag the meal Types to desired positions</strong>
      </div>
    </div>
    <!-- compressed rates table -->

    <div class="col-md-9">
      <div class="">
        <div class="panel panel-default">
          <table st-table="vm.rowCollectionDisplayed" st-safe-src="vm.conversions" class="table table-striped">
            <thead>
              <tr>
                <td>
                  Currency Conversion Rates
                </td>
              </tr>
              <tr>
                <th>From</th>
                <th>To</th>
                <th>Buying Rate</th>
                <th>Selling Rate</th>
                <th>Start Time</th>
                <th>Effective Time</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody ui-sortable="vm.sortableOptions" ng-model="vm.rowCollectionDisplayed"
              class="vm.rowCollectionDisplayed">
              <tr ng-repeat="row in vm.rowCollectionDisplayed">
                <td>{{row.fromName}}</td>
                <td>{{row.toName}}</td>
                <td>
                  <span> <strong>{{row.buyingRate}}</strong></span>
                </td>
                <td>
                  <span><strong>{{row.sellingRate}}</strong></span>
                </td>

                <td>
                  <span><strong>{{row.startTime}}</strong></span>

                </td>

                <td>
                  <span><strong>{{row.effectiveTime}}</strong></span>

                </td>

                <td>
                  <a ui-sref="currencies-detail.editConversion({conversionId : row.id})">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                  <a class="pull-right red" ui-sref="currencies-detail.deleteConversion({conversionId : row.id})">
                    <span class="glyphicon glyphicon-trash "></span>
                  </a>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="9" class="text-center">
                  <div st-pagination="" st-items-by-page="vm.itemsPerPage" st-displayed-pages="20"></div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>