<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="col-md-8">
        <ul class="breadcrumb">
          <li ui-sref-active="active">
            <a ui-sref="home">Home</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings">Settings</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="schedule">Schedule</a>
          </li>
          <!-- <li ui-sref-active="active" class="active">{{vm.route.fromName}} to {{vm.route.toName}} </li> -->
        </ul>
      </div>
      <div class="col-md-4">
        <div class="breadcrumb-btns">
          <ul class="nav nav-pills pull-right">
            <li>
              <button class="btn btn-default btn-sm" ui-sref="schedule.new({routeId:vm.schedule.routeId})">
                <span class="glyphicon glyphicon-plus-sign"></span> Schedule</button>
            </li>
            <li>
              <div ng-include="'core/routes/settings/settings-menu/settings-navbar.html'"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div ng-include="'core/routes/settings/settings-menu/settings-menu.html'"></div>
      </div>
    </div>


    <div class="col-md-9">

      <div class="panel panel-default" ng-show="vm.noRecordsFound">
        <div class="panel-body">
          No data found.
        </div>
      </div>
    </div>
    <!-- compressed rates table -->

    <div class="col-md-9">
      <div class="">
        <div class="panel panel-default">
          <table st-table="vm.rowCollectionDisplayed" st-safe-src="vm.schedules" class="table table-striped">
            <thead>
              <tr>
                <td colspan="10">
                  <div class="row">
                    <div class="col-md-6 ">
                      <div class="form-group">
                        <!-- <label for="field_selecteRoute">Route</label> -->
                        <select ng-change="vm.routeChanged(vm.schedule.routeId)" class="form-control"
                          id="field_selecteRoute" name="selecteRoute" ng-model="vm.schedule.routeId"
                          ng-options="route.id as (route.fromAbbreviation + ' - ' + route.toAbbreviation) for route in vm.routes">
                          <option value="">All Routes</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <select id="pref-perpage" class="input-sm form-control pull-right"
                        ng-change="vm.changeItemsPerPage(vm.itemsPerPageStr)" ng-model="vm.itemsPerPageStr"
                        style="width: 20%;">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="150">150</option>
                        <option value="200">200</option>
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                      </select>
                    </div>


                  </div>


                </td>

              </tr>
              <tr>
                <!-- <th st-sort="id">id</th> -->
                <!-- <th st-sort="name">Name</th> -->
                <th>Source</th>
                <th>Destination</th>
                <th>Name</th>
                <th>ETD</th>
                <th>ETA</th>
                <th>Type</th>
                <th>Segments</th>
                <th>Notes</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody ui-sortable="vm.sortableOptions" ng-model="vm.rowCollectionDisplayed"
            class="vm.rowCollectionDisplayed">
              <tr ng-repeat="row in vm.rowCollectionDisplayed">
                <!-- <td>{{row.id}}</td> -->
                <!-- <td>{{row.name | uppercase}}</td> -->
                <td>{{row.sourceTerminals}}</td>
                <td>{{row.destinationTerminals}}</td>
                <td>
                  <span ng-show="row.contentStatus" class="uppercaseName"
                    style="font-size:12px; margin-top: 10px; padding-top: initial;"><strong>{{row.name}}</strong></span>
                </td>
                <td>
                  <span> {{row.etd}}</span></td>
                <td>
                  <span>{{row.eta}}</span> </td>
                <td>
                  <span ng-class="row.type == 'DIRECT' ? 'label label-success' : 'label label-warning'"
                    role="button">{{row.type}}</span>
                </td>
                <td class="text-center">
                  <span> {{row.segments}}</span></td>
                <td>

                  <span class="label label-default circularLabel" data-placement="top" data-toggle="popover"
                    data-trigger="hover" data-content="{{ row.notes == null ? 'no notes' : row.notes }}">??</span>

                  <script>
                    $(document).ready(function () {
                      $('[data-toggle="popover"]').popover();
                    });
                  </script>

                </td>

                <td>
                  <a ui-sref="schedule.edit({scheduleId : row.id})">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                  <a class="pull-right red" ui-sref="schedule.delete({scheduleId : row.id})">
                    <span class="glyphicon glyphicon-trash "></span>
                  </a>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="9" class="text-center">
                  <div st-pagination="" st-items-by-page="vm.itemsPerPage" st-displayed-pages="20"></div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <!-- compressed rates table div-->
  </div>
</div>
</div>
