<form name="editForm" role="form" novalidate ng-submit="vm.save()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myProfessionalLabel">Vehicle</h4>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="field_generalTransportSubCategoryId">Vehicle Type {{vm.vehicleTypes.generalVehicleTypeId}}</label>
          <select ng-change="vm.selectedGeneralType(vm.vehicle.typeId)" class="form-control" id="field_generalVehicleTypeId" name="generalVehicleTypeId" ng-model="vm.vehicle.typeId" ng-options="subCategory.id as subCategory.name for subCategory in vm.subCategories">
            <option value=""></option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group" ng-class="{ 'has-error' : editForm.registration.$invalid && !editForm.registration.$pristine }">
          <label class="control-label" for="field_registration">Registration</label>
          <input type="text" class="form-control" name="registration" id="field_registration" ng-model="vm.vehicle.registration" required />
          <div class="help-block" ng-show="editForm.registration.$invalid">Registration is required</div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label" for="field_capacity">capacity</label>
          <input type="text" class="form-control" name="capacity" id="field_capacity" ng-model="vm.vehicle.capacity" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label" for="field_extendedCapacity">Extended Capacity</label>
          <input type="text" class="form-control" name="extendedCapacity" id="field_extendedCapacity" ng-model="vm.vehicle.extendedCapacity" />
        </div>
      </div>

    </div>

    <div class="form-group">
      <label class="control-label" for="field_description">Description</label>
      <textarea class="form-control" name="description" id="field_description" ng-model="vm.vehicle.description"></textarea>
    </div>


    <div class="form-group">
      <label class="control-label" for="field_brief">Brief</label>
      <textarea class="form-control" name="brief" id="field_brief" ng-model="vm.vehicle.brief"></textarea>
    </div>


    <div class="form-group">
      <label class="control-label" for="field_notes">Special Notes about the vehicle</label>
      <textarea class="form-control" name="notes" id="field_notes" ng-model="vm.vehicle.notes"></textarea>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
        data-translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
    </button>
  </div>
</form>
