<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="vehicles-own">vehicles</a>
            </li>
            <li ui-sref-active="active" class="active">{{vm.vehicle.registration }}
            </li>
          </ul>
        </div>

        <div class="col-md-4">
          <div class="breadcrumb-btns">
            <ul class="nav nav-pills pull-right">
              <li>
                <button type="button" ng-hide="vm.vehicle.contentStatus === 'DELETED'" class="btn btn-danger   btn-sm" ui-sref="vehicles-own.delete({id: vm.vehicle.id})">
                  <span class="hidden-xs-d">
                    Delete
                </button>
              </li>
              <li>
                <button type="button" class="btn btn-default btn-sm more" data-toggle="dropdown">... </button>
                <ul class="dropdown-menu btn" role="menu">
                  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-operating-hours">Operating Hours</a>
                  </li>
                  <li permission="['PROPERTY_USER']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-meal-plans">Meal Plans</a>
                  </li>
                  <li permission="['D_AUTHORITY_USER', 'PROPERTY_USER', 'RESTAURANT_USER', 'TRANSPORTER_USER', 'PROFESSIONAL_USER']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-age-limits">Age Limits</a>
                  </li>
                  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-organization-relationships">Memberships & Associations</a>
                  </li>
                  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-documents">My Documents</a>
                  </li>
                  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-markets">Markets</a>
                  </li>
                  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-seasons">Seasons</a>
                  </li>
                  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-day-bands">Day Bands</a>
                  </li>
                  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-special-days">Special Days</a>
                  </li>
                  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-services">Services</a>
                  </li>
                  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-policies">Policies</a>
                  </li>
                  <li permission="['ORGANISATION_ADMIN']" ui-sref-active="active" role="presentation">
                    <a ui-sref="settings-users">Users</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="image-container">
        <img class="img-responsive" ng-src="{{vm.profile_image_url}}" alt="{{ vm.vehicle.name }}">
        <a ui-sref="vehicles.profile({id : vm.vehicle.id})" class="icon-choose-image">
          <img src="images/camera.png">
        </a>
      </div>
      <div class="panel-body">
        <h4>{{vm.vehicle.registration}}</h4>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="vehicles-own-detail({id: vm.vehicle.id})">Overview</a>
        </li>
        <li ui-sref-active="active" role="presentation">
          <a ui-sref="vehicle-galleries({id: vm.vehicle.id})">Gallery</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="pull-right">
              <a ui-sref="vehicles-detail.edit({id:vm.vehicle.id})">
                <h3>
                  <span class="glyphicon glyphicon-pencil"></span>
                </h3>
              </a>
            </div>
            <h2>{{vm.vehicle.registration}}</h2>
            <p>{{vm.vehicle.description}}</p>

            <div class="row">
              <p class="p-padding pull-right">
                <span ng-repeat="objectLabel in vm.objectLabels">
                  <span class="label label-default">
                    {{objectLabel.labelName}}
                    <a ui-sref="vehicles-own-detail.deleteLabel({itemToDelete: objectLabel.id})">
                      <strong class="label label-danger">X</strong>
                    </a>
                  </span>
                </span>
                <a ui-sref="vehicles-own-detail.addLabels({uuid: vm.vehicle.uuid, objectType: 'VEHICLE'})">
                  <span class="label label-primary">
                    <span class="glyphicon glyphicon-plus-sign">&nbsp;</span>Add more labels</span>
                </a>
              </p>
            </div>
            <div class="row">
              <p class="p-padding pull-right">
                <span ng-repeat="objectFeature in vm.objectFeatures">
                  <span class="label label-default">
                    {{objectFeature.name}}
                    <a ui-sref="vehicles-own-detail.deleteFeature({ itemToDelete: objectFeature.id})">
                      <strong class="label label-danger">X</strong>
                    </a>
                  </span>
                </span>
                <a ui-sref="vehicles-own-detail.addFeature({uuid: vm.vehicle.uuid, objectType : 'VEHICLE'})">
                  <span class="label label-primary">
                    <span class="glyphicon glyphicon-plus-sign">&nbsp;</span>Add more Features</span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <table class="table">

            <tr>
              <td width="50%">
                <strong> Vehicle Type</strong>
              </td>
              <td>
                {{vm.vehicle.typeName}}
              </td>
            </tr>
            <tr>
              <td width="50%">
                <strong>Capacity</strong>
              </td>
              <td>
                {{vm.vehicle.capacity}}
              </td>
            </tr>


            <tr>
              <td>
                <strong>Status</strong>
              </td>
              <td>
                {{vm.vehicle.contentStatus}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Organisation</strong>
              </td>
              <td>
                <a ui-sref="organization-detail({id: vm.vehicle.organisationId})">{{vm.vehicle.organisationName}}</a>
              </td>
            </tr>

          </table>
        </div>

        <div class="panel panel-default">
          <table class="table">
            <tr>
              <td>
                <strong>
                  <span class="glyphicon glyphicon-asterisk"></span>Special Notes</strong>
              </td>
            </tr>
            <tr>
              <td>
                {{vm.vehicle.notes}}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
