<div class="row">
  <div class="container">
    <div class="col-md-12 breadcrumb-white-bg">
      <div class="">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li ui-sref-active="active">
              <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active">Fleet</li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="breadcrumb-btns">
            <ul class="nav nav-pills pull-right">
              <li>
                <button class="btn btn-default btn-sm" ng-click="vm.dragAlert = true">
                  <span class="glyphicon glyphicon-sort"></span>
                  <span class="hidden-xs-down">
                    Sort
                  </span>
                </button>
              </li>
              <li>
                <button type="button" class="btn btn-default btn-sm" ui-sref="vehicles-own.new">
                  <span class="glyphicon glyphicon-plus-sign"></span> Vehicle</button>
              </li>
              <li>
                <button type="button" class="btn btn-default btn-sm" ui-sref="contracts-own.newContract">
                  Suspend</button>
              </li>
              <li>
                <div ng-include="'core/routes/settings/settings-menu/settings-navbar.html'"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- filter panel -->
<!-- <div class="filter-panel ">
  <div class="filter-panel-body">
    <form ng-submit="vm.search()">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <p style="margin-left: 20px; margin-top: 10px">Filter options for vehicle will come here e.g nissan, land rovers e.tc etc</p>
          </div>
        </div>
        <div class="col-md-3 pull-right">
          <form name="searchForm" class="form-inline">
            <div class="input-group pull-right">
              <input type="text" class="form-control" ng-model="query" id="searchQuery" placeholder="search vehicle">
              <span class="input-group-btn" style="height: 29px;  ">
                <button class="btn btn-primary btn-md waves-effect waves-light " style="font-size: 12px; line-height: 1.37859" ng-click="vm.search(vm.searchQuery)">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </form>
  </div>
</div> -->
<!-- end of filter panel  -->

<div class="row" ng-show="vm.noRecordsFound">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        No data found.
      </div>
    </div>
  </div>
</div>


<div ng-show="vm.vehicles">
  <div class="alert alert-success alert-dismissible fade in" ng-show="vm.dragAlert === true">
    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>To sort, drag the Vehicles to desired positions</strong>
  </div>
  <div class="row">
    <div ui-sortable="vm.sortableOptions" ng-model="vm.vehicles" class="vm.vehicles">

        <div class="col-sm-6 col-md-3" ng-repeat="vehicle in vm.vehicles | filter:query">
          <div class="thumbnail vehicleOwnCard">

            <img class="imgVehicleOwn" src="{{vm.profile_url}}{{vehicle.uuid}}" alt="">
            <div class="caption">
              <h5>
                <strong>Vehicle Type :</strong>
                <span class="label label-info">{{vehicle.typeName}}</span>
              </h5>
              <h5><strong>Registration :</strong> {{vehicle.registration}}</h5>
              <hr>
              <p class="capitalize">{{vehicle.brief}}</p>

              <button class="btn btn-primary btnVehicleOwn" role="button" ui-sref="vehicles-own-detail({id: vehicle.id})">View</button>

            </div>

          </div>
        </div>

    </div>
  </div>
</div>
