<div class="row">
  <div class="col-md-1">

  </div>
  <div class="col-md-10 ">
    <h3 class="text-center">Additional Information</h3>

    <h4>Location Information</h4>

    <!-- <div class="form-group" id="inputfit">
      <label class="control-label" for="field_name">Safari Country or Region of Operation</label>
      <input type="text" class="form-control" name="name" id="field_name" placeholder="e.g. Kenya, Tanzania or East Africa" ng-model="vm.safari.locationId"
      />
    </div> -->
    <div class="form-group">
      <label class="filter-col" style="margin-right:0;" for="pref-search">Safari Country or Region of Operation</label>
      <input type="text" placeholder="e.g. Kenya, Tanzania or East Africa" ng-model="vm.safari.locationName" uib-typeahead="loc.name for loc in vm.getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noStartResults"
        typeahead-on-select="vm.onLocationSelected($item, $model)" class="form-control" required>
      <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
      <div ng-show="noStartResults">
        <i classs="glyphicon glyphicon-remove"></i> No Results Found
      </div>
    </div>
    <div class="row">

      <div class="form-group col-md-3" id="inputfit">
        <label class="control-label" for="field_name">Safari START Location
          <small style="color: #202124; font-weight: 400;">town or area</small>
        </label>
        <!-- <input type="text" class="form-control" name="name" placeholder="e.g. Nairobi or Masai Mara" id="field_name" ng-model="vm.safari.srcLocationId"
        /> -->
        <input type="text" placeholder="e.g. Nairobi or Masai Mara" ng-model="vm.safari.srcLocationName" uib-typeahead="loc.name for loc in vm.getPickLocations($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noStartResults"
          typeahead-on-select="vm.onSrcLocationSelected($item, $model)" class="form-control" required>
        <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
        <div ng-show="noStartResults">
          <i classs="glyphicon glyphicon-remove"></i> No Results Found
        </div>
      </div>

      <div class="form-group col-md-3" id="inputfit">
        <label class="control-label" for="field_name">Pick Up Location
          <small style="color: #202124; font-weight: 400;">e.g. airport</small>
        </label>
        <!-- <input type="text" class="form-control" name="name" placeholder="e.g. JKIA or Nairobi Bus Station" id="field_name" ng-model="vm.safari.pickUpPointId"
        /> -->
        <input type="text" placeholder="e.g. JKIA or Nairobi Bus Station" ng-model="vm.safari.pickUpPointName" uib-typeahead="loc.name for loc in vm.getPickLocations($viewValue)" typeahead-loading="loadingLocations"
          typeahead-no-results="noStartResults" typeahead-on-select="vm.onstartDestinationSelected($item, $model)" class="form-control" required>
        <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
        <div ng-show="noStartResults">
          <i classs="glyphicon glyphicon-remove"></i> No Results Found
        </div>
      </div>

      <div class="form-group col-md-3" id="inputfit">
        <label class="control-label" for="field_startDate">ETA
          <small style="color: #202124; font-weight: 400;">as per arrival schedule</small>
        </label>
        <input type="date" class="form-control" ng-change="vm.startDayChange()" ng-model="vm.startDay" />
        <!-- <input type="text" class="form-control" ng-model="vm.startDateTime" /> -->
      </div>

      <div class="form-group col-md-3" id="inputfit">
        <label for="field_startTime">Start Time
          <small style="color: #202124; font-weight: 400;">format HH:mm</small>
        </label>
        <input type="time" class="form-control" ng-change="vm.startDayChange()" ng-model="vm.startTime" />
      </div>
    </div>



    <div class="row">

      <div class="form-group col-md-3" id="inputfit">
        <label class="control-label" for="field_name">Safari END Location
          <small style="color: #202124; font-weight: 400;">town or area</small>
        </label>
        <!-- <input type="text" class="form-control" name="name" placeholder="e.g. Nairobi or Masai Mara" id="field_name" ng-model="vm.safari.dstLocationId"
        /> -->
        <input type="text" placeholder="e.g. Nairobi or Masai Mara" ng-model="vm.safari.dstLocationName" uib-typeahead="loc.name for loc in vm.getPickLocations($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noStartResults"
          typeahead-on-select="vm.onDstLocationNameSelected($item, $model)" class="form-control" required>
        <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
        <div ng-show="noStartResults">
          <i classs="glyphicon glyphicon-remove"></i> No Results Found
        </div>
      </div>

      <div class="form-group col-md-3" id="inputfit">
        <label class="control-label" for="field_name">Drop Off Location
          <small style="color: #202124; font-weight: 400;">e.g. airport</small>
        </label>
        <!-- <input type="text" class="form-control" name="name" placeholder="e.g. JKIA or Nairobi Bus Station" id="field_name" ng-model="vm.safari.dropOffPointId"
        /> -->
        <input type="text" placeholder="e.g. JKIA or Nairobi Bus Station" ng-model="vm.safari.dropOffPointName" uib-typeahead="loc.name for loc in vm.getPickLocations($viewValue)" typeahead-loading="loadingLocations"
          typeahead-no-results="noStartResults" typeahead-on-select="vm.onEndDestinationSelected($item, $model)" class="form-control" required>
        <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
        <div ng-show="noStartResults">
          <i classs="glyphicon glyphicon-remove"></i> No Results Found
        </div>
      </div>

      <div class="form-group col-md-3" id="inputfit">
        <label class="control-label" for="field_startDate">ETD
          <small style="color: #202124; font-weight: 400;">as per the departure schedule</small>
        </label>
        <input type="date" class="form-control" ng-change="vm.endDayChange()" ng-model="vm.endDay" />
        <!-- <input type="text" class="form-control" ng-click="vm.openTo()" datepicker-options="vm.dateOptions"  datetime-picker="yyyy-MM-dd" ng-model="vm.endDateTime" saveAs="ISO"
              is-open="vm.openedTo"/> -->
      </div>

      <div class="form-group col-md-3" id="inputfit">
        <label for="field_year">End Time
          <small style="color: #202124; font-weight: 400;">format HH:mm</small>
        </label>
        <input type="time" class="form-control" ng-change="vm.endDayChange()" ng-model="vm.endTime" />

        <!-- <input type="text" class="form-control" ng-click="vm.openToTime()" datetime-picker="HH:mm" ng-model="vm.endTime" is-open="vm.openedToTime" /> -->
      </div>
    </div>



    <h4>Other information</h4>

    <div class="row">

      <div class="form-group col-md-3" id="inputfit">
        <label for="field_year">Currency </label>
        <input type="text" list="currencies" ng-model="vm.safari.currencyId" ng-change="vm.changeCurrency()" name="currencies" placeholder="e.g US Dollar" id="field_currencies" class="form-control" required>
        <datalist id="currencies">
          <option value="{{currency.name}}" ng-repeat="currency in vm.currencies">
        </datalist>
      </div>

      <!-- <div class="form-group col-md-3" id="inputfit">
        <label for="field_year">Currency</label>
        <select class="form-control" id="field_year" name="currencyId" ng-change="vm.changeCurrency()" ng-model="vm.safari.currencyId" placeholder="e.g. Kenya" ng-options="currency.id as currency.name for currency in vm.currencies">
          <option>Select Currency</option>
        </select>
      </div> -->

      <div class="form-group col-md-3" id="inputfit">
        <label for="field_year">Welcome
          <small style="color: #202124; font-weight: 400;">pack</small>
        </label>
        <select class="form-control" id="field_year" name="requirementsPackId" ng-change="vm.changeWelcomePack()" ng-model="vm.safari.requirementsPackId" placeholder="e.g. Kenya" ng-options="record.id as record.name for record in vm.welcomePacks">
          <option>Select Pack</option>
        </select>
      </div>

      <div class="form-group col-md-3" id="inputfit">
        <label for="field_year">Markup
          <small style="color: #202124; font-weight: 400;">category</small>
        </label>
        <select class="form-control" id="field_year" name="markUpCategoryId" ng-change="vm.changeMarkUp()" ng-model="vm.safari.markUpCategoryId" placeholder="e.g. Kenya" ng-options="record.id as record.name for record in vm.markUpCats">
          <option>Select Markup Category</option>
        </select>
      </div>

      <div class="form-group col-md-3" id="inputfit">
        <label for="field_year">Language
          <small style="color: #202124; font-weight: 400;">default</small>
        </label>
        <select class="form-control" id="field_year" name="defaultLanguage" ng-model="vm.safari.defaultLanguage" placeholder="e.g.en" ng-change="vm.onLanguageChange(vm.safari.country);"
          ng-options="supportedLanguage as supportedLanguage for supportedLanguage in vm.supportedLanguages">
          <option>Select Language</option>
        </select>
      </div>
    </div>

  </div>
  <div class="col-md-1">

  </div>
</div>
