<!-- page infoarmation  -->
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10 ">
    <h3 class="text-center">Basic Information</h3>

    <h4>Partner and Client Information</h4>

    <div class="row">

      <div class="col-md-6">
        <div class="form-group" id="inputfit">
          <label>Search Partner</label>

          <!-- <input type="text" list="partners" ng-model="vm.safari.targetName" placeholder="Search Partner by e.g. Kuoni or Tui"
        uib-typeahead="loc.name for loc in vm.getPartnerOrgs($viewValue,3)" typeahead-loading="loadingStartLocations"
        typeahead-no-results="noStartResults" typeahead-on-select="vm.onPartnerSelected($item, $model)"
        class="form-control" required> -->

          <input type="text" list="partners" ng-model="vm.safari.targetName" ng-change="vm.onPartnerSelected(vm.safari.targetId)" placeholder="Search Partner by name" class="form-control" required>
          <datalist id="partners">
            <!-- <select id="field_partners"  style="display: none;" name="partners" ng-options="partner.name as partner.id for partner in vm.partners">
          </select> -->
            <option value="{{partners.name}}" ng-repeat="partners in vm.partners">{{partners.name}}</option>

          </datalist>
          <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
          <div ng-show="noStartResults">
            <i class="glyphicon glyphicon-remove"></i> No Results Found
          </div>

        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label" for="field_ref">Reference Number
            <!-- <small style="color: #202124; font-weight: 400;">or surname</small> -->
          </label>
          <input type="text" class="form-control" name="ref" id="field_ref" placeholder="e.g. GXX2009001A" ng-model="vm.safari.ref" required />
        </div>
      </div>

    </div>




    <div class="row">

      <div class="form-group col-md-6" id="inputfit">
        <label class="control-label" for="field_name">Booking Name
          <small style="color: #202124; font-weight: 400;">or surname</small>
        </label>
        <input type="text" class="form-control" name="name" id="field_name" placeholder="e.g. Wafula or Meliora Team" ng-change="vm.bookingNameChange()" ng-model="vm.safari.name" required />
      </div>

      <div class="form-group col-md-3" id="inputfit">
        <label for="field_year">No. of People
          <small style="color: #202124; font-weight: 400;">PAX</small>
        </label>
        <input type="number" class="form-control" name="name" id="field_name" ng-change="vm.changePax()" ng-model="vm.safari.pax" placeholder="e.g. 2" required />
      </div>

      <div class="form-group col-md-3" id="inputfit">
        <label for="field_year">Country
          <small style="color: #202124; font-weight: 400;">of origin</small>
        </label>
        <input type="text" list="countries" ng-model="vm.safari.countryName" ng-change="vm.onCountryChange();" name="country" id="field_year" placeholder="e.g. Kenya" class="form-control" required>
        <datalist id="countries">
          <option value="{{country.name}}" ng-repeat="country in vm.countries">
        </datalist>
        <!-- <select class="form-control" id="field_year" name="country" ng-model="vm.safari.country" placeholder="e.g. Kenya" ng-change="vm.onCountryChange(vm.safari.country);" ng-options="currency.code as currency.name for currency in vm.countries">
          <option>{{currency.code}}</option>
        </select> -->
      </div>

    </div>

    <div class="form-group" id="inputfit">
      <label class="control-label" for="field_description">Description
        <small style="color: #202124; font-weight: 400;">detailed purpose of visit</small>
      </label>
      <textarea class="form-control" id="field_description" rows="" name="description" placeholder="e.g. Wedding anniversary celebrations or team building" ng-model="vm.safari.description" required></textarea>
    </div>

    <div class="row">
      <div class='col-md-6'>

        <div class="form-group" id="inputfit">
          <label class="control-label" for="field_startDate">Start Day
            <small style="color: #202124; font-weight: 400;">format yyyy-MM-dd</small>
          </label>
          <input type="date" class="form-control" ng-change="vm.startDayChange()" ng-model="vm.startDay"/>
        </div>

        <!-- <div class="form-group" id="inputfit">
          <label for="field_year">Start Day {{vm.safari.startDay}}
            <small style="color: #202124; font-weight: 400;">format yyyy-MM-dd</small>
          </label>
          <input type="text" class="form-control" ng-click="vm.openFrom()" ng-change="vm.startDayChange()" datetime-picker="yyyy-MM-dd HH:mm" ng-model="vm.startDateTime" is-open="vm.openedFrom" />
        </div> -->
      </div>
      <div class='col-md-6'>
        <div class="form-group" id="inputfit">
          <label for="field_year">Product Folder
            <small style="color: #202124; font-weight: 400;">organize your quotations</small>
          </label>
          <select class="form-control" id="field_productFolder" name="product_folder" ng-model="vm.safari.groupId" ng-options="safariServiceGroup.id as safariServiceGroup.name for safariServiceGroup in vm.safariServiceGroups">
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>
