<!-- page infoarmation  -->
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <h3 class="text-center">Client Information</h3>



    <!-- link to refresh -->
    <div class="row" ng-hide="vm.safari.travellerGroup">

      <div class="alert alert-danger col-md-12">
        <strong>Warning!</strong> Traveller Information missing. Please specify.
      </div>

      <div class="text-center" style="margin: 50px auto; ">
        <button class="btn btn-primary btn-md" type="button" ng-click="vm.generateClientInfo()">Generate Client Data</button>
      </div>
    </div>

    <!-- group info -->
    <div class="row" ng-show="vm.safari.travellerGroup">

      <div class="col-sm-8">
        <h4>Group Information</h4>
      </div>

      <div class="col-sm-4">
        <div class="pull-right">
          <button class="btn btn-default btn-md" data-toggle="modal" data-target="#editGroupDetails">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="hidden-xs-down">
              Edit
            </span>
          </button>

        </div>
      </div>

      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
              <td width="25%">
                <strong>Name: </strong>
              </td>
              <td width="25%">
                {{vm.safari.travellerGroup.name}}
              </td>
              <td width="25%">
                <strong>PAX: </strong>
              </td>
              <td width="25%">
                {{vm.safari.travellerGroup.pax}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Proile: </strong>
              </td>
              <td>
                {{vm.safari.travellerGroup.profile}}
              </td>
              <td>
                <strong>Purpose of Visit: </strong>
              </td>
              <td>
                {{vm.safari.travellerGroup.purpose}}
              </td>
            </tr>

            <tr>
              <td>
                <strong>Email Address: </strong>
              </td>
              <td>
                <span>{{vm.safari.travellerGroup.email}}</span>
                <span ng-show="vm.safari.travellerGroupDTO.email == null"> N/A</span>

              </td>
              <td>
                <strong>Telephone Number: </strong>
              </td>
              <td>

                <span>{{vm.safari.travellerGroup.tel}}</span>
                <span ng-show="vm.safari.travellerGroupDTO.tel == null"> N/A</span>

              </td>
            </tr>
            <tr>
              <td>
                <strong>Country: </strong>
              </td>
              <td>
                <span>{{vm.safari.travellerGroup.country == null ? 'N/A' : vm.safari.travellerGroup.country}}</span>
              </td>

              <td>
                <strong>Info: </strong>
              </td>
              <td>
                {{vm.safari.travellerGroup.notes == null ? 'no notes' : vm.safari.travellerGroup.notes }}
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>

    <!-- travell info info -->
    <div class="row" ng-show="vm.safari.travellerGroup">

      <div class="col-sm-8">
        <h4>Travell Details</h4>
      </div>

      <div class="col-sm-4">
        <div class="pull-right">
          <button class="btn btn-default btn-md" data-toggle="modal" data-target="#editTravelDetails">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="hidden-xs-down">
              Edit
            </span>
          </button>
        </div>
      </div>

      <div class="col-md-6">
        <h5>Arrival Details</h5>
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
              <td width="50%">
                <strong>ETA: </strong>
              </td>
              <td>
                {{vm.safari.travellerGroup.eta == null ? '—' : vm.safari.travellerGroup.eta | date : 'MMM d,y'}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Pick Up Point: </strong>
              </td>
              <td>
                {{vm.safari.travellerGroup.travelDetails.arrival.pickUpLocName == null ? '—' : vm.safari.travellerGroup.travelDetails.arrival.pickUpLocName}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Flight Number: </strong>
              </td>
              <td>
                {{vm.safari.travellerGroup.travelDetails.arrival.flightNo == null ? '—' : vm.safari.travellerGroup.travelDetails.arrival.flightNo}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Ticket No: </strong>
              </td>
              <td>
                {{vm.safari.travellerGroup.travelDetails.arrival.ticketNo == null ? '—' : vm.safari.travellerGroup.travelDetails.arrival.ticketNo}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Notes: </strong>
              </td>
              <td>
                {{vm.safari.travellerGroup.travelDetails.arrival.notes == null ? 'no notes' : vm.safari.travellerGroup.travelDetails.arrival.notes}}
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="col-md-6">
        <h5>Departure Details</h5>
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
              <td width="50%">
                <strong>ETD: </strong>
              </td>
              <td>
                {{vm.safari.travellerGroup.etd == null ? '—' : vm.safari.travellerGroup.etd | date : 'MMM d,y'}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Drop Off Point: </strong>
              </td>
              <td>
                {{vm.safari.travellerGroup.travelDetails.departure.dropOffLocName == null ? '—' : vm.safari.travellerGroup.travelDetails.departure.dropOffLocName}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Flight Number: </strong>
              </td>
              <td>
                {{vm.safari.travellerGroup.travelDetails.departure.flightNo == null ? '—' : vm.safari.travellerGroup.travelDetails.departure.flightNo}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Ticket No: </strong>
              </td>
              <td>
                {{vm.safari.travellerGroup.travelDetails.departure.ticketNo == null ? '—' : vm.safari.travellerGroup.travelDetails.departure.ticketNo}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Notes: </strong>
              </td>
              <td>
                {{vm.safari.travellerGroup.travelDetails.departure.notes == null ? 'no notes' : vm.safari.travellerGroup.travelDetails.departure.notes}}
              </td>
            </tr>
          </table>

        </div>
      </div>

    </div>



    <!-- persons info -->
    <div class="row" ng-show="vm.safari.travellerGroup">
      <div class="col-md-12">



        <div class="row">
          <div class="col-sm-8">
            <h4>Persons Information </h4>
          </div>
          <div class="col-sm-4">
            <div class="pull-right">
              <button class="btn btn-default btn-md" data-toggle="modal" data-target="#confimTravellerRefresh">
                <span class="glyphicon glyphicon-refresh"></span>
                <span class="hidden-xs-down">
                  Refresh
                </span>
              </button>
            </div>
          </div>
        </div>

        <div class="alert alert-warning" ng-show="vm.showRefreshPersonsWarning()">
          <strong>Warning!</strong> You need to refresh person information due to change PAX configuration has changed.
        </div>

        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Category</th>
                  <th>Gender</th>
                  <th>Age</th>
                  <th>Country</th>
                  <th>E.T.A</th>
                  <th>E.T.D</th>
                  <th width="10%">Actions</th>
                </tr>
              </thead>
              <tbody ng-repeat="record in vm.safari.travellerGroup.travellers">
                <tr>
                  <td>{{$index+1}}</td>
                  <td>{{record.name}} </td>
                  <td>{{record.category}} </td>
                  <td>{{record.gender == null ? 'N/A' : record.gender}} </td>
                  <td>{{record.age == null ? 'N/A' : record.age }}</td>
                  <td>{{record.country == null ? 'N/A' : record.country }}</td>
                  <td>{{record.eta == null ? '—' : record.eta | date : 'MMM d,y'}}</td>
                  <td>{{record.etd == null ? '—' : record.etd | date : 'MMM d,y'}}</td>
                  <td>
                    <div class="row">
                      <div class="col-md-6">
                        <a ng-click="vm.selectTraveller(record)" data-toggle="modal" data-target="#editTraveller">
                          <span class="glyphicon glyphicon-edit"></span>
                        </a>
                      </div>
                      <div class="col-md-6">
                        <a ng-click="vm.selectTraveller(record)" data-toggle="modal" data-target="#viewTraveller">
                          <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>
