<!-- page infoarmation  -->
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10 ">
    <h3 class="text-center">Contract Information</h3>
    <!-- 
    <div class="row">
      <h4>Contract Basic Information</h4>
      <div class="form-group col-md-6" id="inputfit">
        <label class="control-label" for="field_startDate">Effective Date
          <small style="color: #202124; font-weight: 400;">operation start date</small>
        </label>
        <input type="datetime-local" class="form-control" ng-model="vm.safari.operationStartDate" />
      </div>
      <div class="form-group col-md-6" id="inputfit">
        <label class="control-label" for="field_startDate">End Date
          <small style="color: #202124; font-weight: 400;">operation end date</small>
        </label>
        <input type="datetime-local" class="form-control" ng-model="vm.safari.operationEndDate" />
      </div>
    </div> -->

    <div class="row">
      <div class="form-group col-md-6" id="inputfit">
        <label for="field_year">Season Group</label>
        <select class="form-control" id="field_year" name="country" ng-model="vm.safari.seasonGroupId" placeholder="e.g. Season Group 1"
          ng-options="currency.id as currency.name for currency in vm.seasonGroups">
          <option>{{currency.code}}</option>
        </select>
      </div>

      <div class="form-group col-md-6" id="inputfit">
        <label for="field_year">Rate Structure
          <small style="color: #202124; font-weight: 400;">contract dimensions structure</small>
        </label>
        <select class="form-control" id="field_year" name="country" ng-model="vm.safari.dimensionSetId" placeholder="e.g. Dimension Structure 1"
          ng-options="currency.id as currency.name for currency in vm.countries">
          <option>{{currency.code}}</option>
        </select>
      </div>
    </div>

    <h4>PAX Pricing Information</h4>

    <div class="row">
      <div class="form-group col-md-3" id="inputfit">
        <label class="control-label" for="field_startDate">Min PAX for Pricing
          <small style="color: #202124; font-weight: 400;">used in contract</small>
        </label>
        <input type="number" class="form-control" ng-model="vm.safari.minPricingPax" ng-change="vm.expandSafariPAXConfigs()" />
      </div>
      <div class="form-group col-md-3" id="inputfit">
        <label class="control-label" for="field_startDate">Max PAX for Pricing
          <small style="color: #202124; font-weight: 400;">used in contract</small>
        </label>
        <input type="number" class="form-control" ng-model="vm.safari.maxPricingPax" ng-change="vm.expandSafariPAXConfigs()" />
      </div>
      <div class="form-group col-md-3" id="inputfit">
        <label class="control-label" for="field_startDate">PAX Gap
          <small style="color: #202124; font-weight: 400;">used in contract</small>
        </label>
        <input type="number" class="form-control" ng-model="vm.pricingPAXgap" ng-change="vm.expandSafariPAXConfigs()" />
      </div>
      <div class="form-group col-md-3" id="inputfit">
        <label class="control-label" for="field_startDate">Min PAX for Booking
          <small style="color: #202124; font-weight: 400;">min order</small>
        </label>
        <input type="number" class="form-control" ng-model="vm.safari.minBookingPax" />
      </div>
    </div>


  </div>

  <div class="col-md-1">
  </div>
</div>
