<!-- page infoarmation  -->
<div class="row">
  <div class="col-md-1">
  </div>
  <!-- <div class="col-md-10 ">
    <h3 class="text-center">Preview</h3>
    <p> {{vm.safari}} </p>
  </div> -->
  <div class="col-md-10">
    <h3 class="text-center">
      <a ng-click="vm.goto(1)" href="">
        Basic Info

      </a>
    </h3>
    <div class="row" ng-show="vm.safari.travellerGroup">

      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
              <td width="25%">
                <strong>Name: </strong>
              </td>
              <td width="25%">
                {{vm.safari.name}}
              </td>
              <td width="25%">
                <strong>PAX: </strong>
              </td>
              <td width="25%">
                <span class="label label-warning">{{vm.safari.pax}}</span>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Partner: </strong>
              </td>
              <td>
                {{vm.safari.targetName}}
              </td>
              <td>
                <strong>Type: </strong>
              </td>
              <td>
                <span class="label label-warning">{{vm.safari.type}}</span>
              </td>
            </tr>

            <tr>
              <td>
                <strong>startDay: </strong>
              </td>
              <td>
                <span>{{vm.safari.startDay | date : 'MMM d, y' }}</span>
                <span ng-show="vm.safari.startDay == null"> – </span>
              </td>
              <td>
                <strong>End Day: </strong>
              </td>
              <td>
                <span> {{vm.safari.endDay | date : 'MMM d, y'}} </span>
                <span ng-show="vm.safari.endDay == null"> – </span>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Country: </strong>
              </td>
              <td>
                {{vm.safari.country}}
              </td>

              <td>
                <strong>Info: </strong>
              </td>
              <td>
                {{vm.safari.description}}
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>




    <!-- link to refresh -->

    <!-- group info -->

    <div class="row" ng-show="vm.safari.travellerGroup">

      <h3 class="text-center">
        <a ng-click="vm.goto(2)" href="">
          Additional Info
        </a>
      </h3>
      <div class="col-sm-8">
        <h4> LOCATION : <strong> {{vm.safari.locationName}} </strong></h4>
      </div>

      <!-- <div class="col-sm-4">
          <div class="pull-right">
            <button class="btn btn-default btn-md" data-toggle="modal" data-target="#editGroupDetails">
              <span class="glyphicon glyphicon-edit"></span>
              <span class="hidden-xs-down">
                Edit
              </span>
            </button>

          </div>
        </div> -->

      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
              <td width="25%">
                <strong>Safari START Location: </strong>
              </td>
              <td width="25%">
                {{vm.safari.srcLocationName}}
              </td>
              <td width="25%">
                <strong>Pick Up Location: </strong>
              </td>
              <td width="25%">
                {{vm.safari.pickUpPointName}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Safari END Location: </strong>
              </td>
              <td>
                {{vm.safari.dstLocationName}}
              </td>
              <td>
                <strong>Drop Off Location: </strong>
              </td>
              <td>
                {{vm.safari.dropOffPointName}}
              </td>
            </tr>

            <tr>
              <td>
                <strong>ETA: </strong>
              </td>
              <td>
                {{vm.startDateTime | date : 'MMM d, y - h:mm a'}}

                <!-- {{vm.toUTCDate(vm.startDateTime)}} -->
              </td>
              <td>
                <strong>ETD: </strong>
              </td>
              <td>
                {{vm.endDateTime | date : 'MMM d, y - h:mm a'}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Currency: </strong>
              </td>
              <td>
                <span class="label label-info">{{vm.safari.currencyName}}</span>
              </td>

              <td>
                <strong>Welcome Pack: </strong>
              </td>
              <td>
                <span class="uppercaseName">{{vm.safari.requirementsPackName}}</span>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Mark Up: </strong>
              </td>
              <td>
                <span class="uppercaseName">{{vm.safari.markUpCategoryName}}</span>
              </td>

              <td>
                <strong>Language </strong>
              </td>
              <td>
                <span class="label label-warning">{{vm.safari.defaultLanguage}}</span>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
    <!-- persons info -->
    <h3 class="text-center">
      <a ng-click="vm.goto(3)" href="">
        Client Information
      </a>
    </h3>



    <!-- link to refresh -->
    <div class="row" ng-hide="vm.safari.travellerGroup">

      <div class="alert alert-danger col-md-12">
        <strong>Warning!</strong> Traveller Information missing. Please specify.
      </div>

      <div class="text-center" style="margin: 50px auto; ">
        <button class="btn btn-primary btn-md" type="button" ng-click="vm.generateClientInfo()">Generate Client
          Data</button>
      </div>
    </div>

    <!-- group info -->
    <div class="row" ng-show="vm.safari.travellerGroup">

      <div class="col-sm-8">
        <h4>Group Information</h4>
      </div>
      <!--
      <div class="col-sm-4">
        <div class="pull-right">
          <button class="btn btn-default btn-md" data-toggle="modal" data-target="#editGroupDetails">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="hidden-xs-down">
              Edit
            </span>
          </button>

        </div>
      </div> -->

      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
              <td width="25%">
                <strong>Name : </strong>
              </td>
              <td width="25%">
                {{vm.safari.travellerGroup.name}}
              </td>
              <td width="25%">
                <strong>PAX : </strong>
              </td>
              <td width="25%">
                <span class="label label-warning">{{vm.safari.travellerGroup.pax}}</span>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Profile : </strong>
              </td>
              <td>
                <span class="uppercaseName">{{vm.safari.travellerGroup.profile}}</span>
              </td>
              <td>
                <strong>Purpose of Visit : </strong>
              </td>
              <td>
                <span class="label label-info">{{vm.safari.travellerGroup.purpose}}</span>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Email Address: </strong>
              </td>
              <td>
                <span>{{vm.safari.travellerGroup.email}}</span>
                <span ng-show="vm.safari.travellerGroup.email == null"> N/A </span>
              </td>
              <td>
                <strong>Telephone Number: </strong>
              </td>
              <td>
                <span>{{vm.safari.travellerGroup.tel}}</span>
                <span ng-show="vm.safari.travellerGroup.tel == null"> N/A </span>

              </td>
            </tr>
            <tr>
              <td>
                <strong>Country: </strong>
              </td>
              <td>
                {{vm.safari.travellerGroup.country}}
              </td>

              <td>
                <strong>Info: </strong>
              </td>
              <td>
                <span>{{vm.safari.travellerGroup.notes == null ? 'no notes ' : vm.safari.travellerGroup.notes}}</span>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>

    <div class="row" ng-show="vm.safari.travellerGroup">
      <div class="col-md-12">
        <div class="row">
          <div class="col-sm-8">
            <h4>
              Persons Information
            </h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Category</th>
                  <th>Gender</th>
                  <th>Age</th>
                  <th>E.T.A</th>
                  <th>E.T.D</th>
                  <th width="10%">Actions</th>
                </tr>
              </thead>
              <tbody ng-repeat="record in vm.safari.travellerGroup.travellers">
                <tr>
                  <td>{{$index+1}}</td>
                  <td width="20%"> <span class="uppercaseName">{{record.name}}</span> </td>
                  <td>{{record.category}} </td>
                  <td>
                    <span>{{record.gender}}</span>
                    <span class="record.gender == null"> N/A</span>
                  </td>
                  <td>
                    <span>{{record.age}}</span>
                    <span class="record.age == null"> N/A</span>
                  </td>
                  <td>{{record.eta | date : 'MMM d, y - h:mm a' }}</td>
                  <td>{{record.etd | date : 'MMM d, y - h:mm a' }}</td>
                  <!-- <td>{{vm.toUTCDate(record.etd) }}</td> -->

                  <td>
                    <div class="row">
                      <div class="col-md-6">
                        <a ng-click="vm.selectTraveller(record)" data-toggle="modal" data-target="#editTraveller">
                          <span class="glyphicon glyphicon-edit"></span>
                        </a>
                      </div>
                      <div class="col-md-6">
                        <a ng-click="vm.selectTraveller(record)" data-toggle="modal" data-target="#viewTraveller">
                          <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
    <h3 class="text-center">
      <a ng-click="vm.goto(4)" href="">
        Service Configuration
      </a>
    </h3>

    <!-- warning in case traveller info is missing -->
    <div class="alert alert-danger col-md-12" ng-hide="vm.safari.travellerGroup">
      <strong>Warning!</strong> Traveller Information missing. Please specify.
    </div>


    <!-- travell info info -->
    <div class="row" ng-show="vm.safari.travellerGroup">

      <div class="col-md-6">
        <div class="row">
          <div class="col-sm-8">
            <h4>
              Accommodation Configuration</h4>
          </div>
        </div>

        <!-- warning in case traveller info is missing -->
        <div ng-hide="vm.validConfigsObjectsTotal(vm.safari.serviceConfigsMap['ACCOMMODATION'])">
          <div class="alert alert-danger">
            <strong>Warning!</strong> Number of travellers in client information may have changed. Please click
            <strong>Refresh</strong> button to regenrate.
          </div>
          <div class="text-center" style="margin: 50px auto; ">
            <button class="btn btn-primary btn-md" type="button" ng-click="vm.initAccommodationConfiguration()">Generate
              Service Configs</button>
          </div>
        </div>

        <ul style=" list-style:none; ">
          <li>
            <strong>
              {{vm.safari.serviceConfigsMap['ACCOMMODATION'].name}}
            </strong>
            <ul style=" list-style:none;" ng-repeat="generalService in vm.safari.serviceConfigsMap['ACCOMMODATION'].safariServiceGroups">
              <li>
                <strong>
                  {{generalService.name}} ({{generalService.ref}}) - {{generalService.numOfObjects}} PAX
                </strong>
                <ul style=" list-style:none; " ng-repeat="unit in generalService.units">
                  <li>
                    <strong>
                      {{unit.name}} ({{unit.ref}}) - {{unit.numOfObjects}} PAX
                      <span ng-show="unit.numOfSlots">- {{unit.numOfSlots}} Beds </span>
                    </strong>
                    <ul style=" list-style:none; " ng-repeat="object in unit.objectList">
                      <li>
                        {{object.name}} ({{object.reference}})
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <!-- <p> {{vm.safari.serviceConfigsMap['ACCOMMODATION']}} </p> -->
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-sm-8">
            <h4>Transport Configuration</h4>
          </div>
        </div>

        <!-- warning in case traveller info is missing -->
        <div ng-hide="vm.validConfigsObjectsTotal(vm.safari.serviceConfigsMap['TRANSPORT'])">
          <div class="alert alert-danger">
            <strong>Warning!</strong> Number of travellers in client information may have changed. Please click
            <strong>Refresh</strong> button to regenerate.
          </div>
          <div class="text-center" style="margin: 50px auto; ">
            <button class="btn btn-primary btn-md" type="button" ng-click="vm.initTranportConfiguration()">Generate
              Service Configs</button>
          </div>
        </div>


        <ul style=" list-style:none; ">
          <li>
            <strong>
              {{vm.safari.serviceConfigsMap['TRANSPORT'].name}}
            </strong>
            <ul style=" list-style:none;" ng-repeat="generalService in vm.safari.serviceConfigsMap['TRANSPORT'].safariServiceGroups">
              <li>
                <strong>
                  {{generalService.name}} ({{generalService.ref}}) - {{generalService.numOfObjects}} PAX
                </strong>
                <ul style=" list-style:none; " ng-repeat="unit in generalService.units">
                  <li>
                    <strong>
                      {{unit.name}} ({{unit.ref}}) - {{unit.numOfObjects}} PAX
                      <span ng-show="unit.numOfSlots">- {{unit.numOfSlots}} Seats </span>
                    </strong>
                    <ul style=" list-style:none; " ng-repeat="object in unit.objectList">
                      <li>
                        {{object.name}} ({{object.reference}})
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <!-- <p> {{vm.safari.serviceConfigsMap['TRANSPORT']}} </p> -->
      </div>
    </div>
    <div class="row" ng-show="vm.safari.safariVehicles.length > 0">
      <div class="col-md-12">

        <div class="row">
          <div class="col-sm-8">
            <h4>Vehicles Information </h4>
          </div>
          <div class="col-sm-4">
            <div class="pull-right">
              <!-- possibility of adding an action.. -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Reference</th>
                  <th>Usage</th>
                  <th>E.T.A</th>
                  <th>E.T.D</th>
                  <th width="10%">Actions</th>
                </tr>
              </thead>
              <tbody ng-repeat="record in vm.safari.safariVehicles">
                <tr>
                  <td>{{$index+1}}</td>
                  <td>{{record.name}} </td>
                  <td>{{record.ref}} </td>
                  <td>{{record.configs.category}} </td>
                  <td>{{vm.toUTCDate(record.eta) }}</td>
                  <td>{{vm.toUTCDate(record.etd) }}</td>
                  <td>
                    <div class="row">
                      <div class="col-md-12">
                        <a ng-click="vm.selectVehicle(record)" data-toggle="modal" data-target="#editVehicle">
                          <span class="glyphicon glyphicon-edit"></span>
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>

