<!-- page infoarmation  -->
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <h3 class="text-center">Service Configuration</h3>

    <!-- warning in case traveller info is missing -->
    <div class="alert alert-danger col-md-12" ng-hide="vm.safari.travellerGroup">
      <strong>Warning!</strong> Traveller Information missing. Please specify.
    </div>


    <!-- travell info info -->
    <div class="row" ng-show="vm.safari.travellerGroup">

      <div class="col-md-6">
        <div class="row">
          <div class="col-sm-8">
            <h4>Accommodation Configuration</h4>
          </div>
          <div class="col-sm-4">
            <div class="pull-right">

              <button ng-show="vm.validConfigsObjectsTotal(vm.safari.serviceConfigsMap['ACCOMMODATION'])" class="btn btn-warning btn-md" data-toggle="modal" data-target="#configureAccommodation">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="hidden-xs-down">
                  Configure
                </span>
              </button>

            </div>
          </div>
        </div>

        <!-- warning in case traveller info is missing -->
        <div ng-hide="vm.validConfigsObjectsTotal(vm.safari.serviceConfigsMap['ACCOMMODATION'])">
          <div class="alert alert-danger">
            <strong>Warning!</strong> Number of travellers in client information may have changed. Please click
            <strong>Refresh</strong> button to regenrate.
          </div>
          <div class="text-center" style="margin: 50px auto; ">
            <button class="btn btn-primary btn-md" type="button" ng-click="vm.initAccommodationConfiguration()">Generate
              Service Configs</button>
          </div>
        </div>

        <ul style=" list-style:none; ">
          <li>
            <strong>
              {{vm.safari.serviceConfigsMap['ACCOMMODATION'].name}}
            </strong>
            <ul style=" list-style:none;" ng-repeat="generalService in vm.safari.serviceConfigsMap['ACCOMMODATION'].safariServiceGroups">
              <li>
                <strong>
                  {{generalService.name}} ({{generalService.ref}}) - {{generalService.numOfObjects}} PAX
                </strong>
                <ul style=" list-style:none; " ng-repeat="unit in generalService.units">
                  <li>
                    <strong>
                      {{unit.name}} ({{unit.ref}}) - {{unit.numOfObjects}} PAX
                      <span ng-show="unit.numOfSlots">- {{unit.numOfSlots}} Bed(s) </span>
                    </strong>
                    <ul style=" list-style:none; " ng-repeat="object in unit.objectList">
                      <li>
                        {{object.name}} ({{object.reference}})
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <!-- <p> {{vm.safari.serviceConfigsMap['ACCOMMODATION']}} </p> -->
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-sm-8">
            <h4>Transport Configuration</h4>
          </div>
          <div class="col-sm-4">
            <div class="pull-right">
              <button ng-show="vm.validConfigsObjectsTotal(vm.safari.serviceConfigsMap['TRANSPORT'])" class="btn btn-warning btn-md" data-toggle="modal" data-target="#configureTransport">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="hidden-xs-down">
                  Configure
                </span>
              </button>
            </div>
          </div>
        </div>

        <!-- warning in case traveller info is missing -->
        <div ng-hide="vm.validConfigsObjectsTotal(vm.safari.serviceConfigsMap['TRANSPORT'])">
          <div class="alert alert-danger">
            <strong>Warning!</strong> Number of travellers in client information may have changed. Please click
            <strong>Refresh</strong> button to regenrate.
          </div>
          <div class="text-center" style="margin: 50px auto; ">
            <button class="btn btn-primary btn-md" type="button" ng-click="vm.initTranportConfiguration()">Generate
              Service Configs</button>
          </div>
        </div>


        <ul style=" list-style:none; ">
          <li>
            <strong>
              {{vm.safari.serviceConfigsMap['TRANSPORT'].name}}
            </strong>
            <ul style=" list-style:none;" ng-repeat="generalService in vm.safari.serviceConfigsMap['TRANSPORT'].safariServiceGroups">
              <li>
                <strong>
                  {{generalService.name}} ({{generalService.ref}}) - {{generalService.numOfObjects}} PAX
                </strong>
                <ul style=" list-style:none; " ng-repeat="unit in generalService.units">
                  <li>
                    <strong>
                      {{unit.name}} ({{unit.ref}}) - {{unit.numOfObjects}} PAX
                      <span ng-show="unit.numOfSlots">- {{unit.numOfSlots}} Seat(s) </span>
                    </strong>
                    <ul style=" list-style:none; " ng-repeat="object in unit.objectList">
                      <li>
                        {{object.name}} ({{object.reference}})
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <!-- <p> {{vm.safari.serviceConfigsMap['TRANSPORT']}} </p> -->
      </div>
    </div>

    <!-- {{vm.safari.safariVehicles}} -->

    <!-- vehicles info -->
    <div class="row" ng-show="vm.safari.safariVehicles.length > 0">
      <div class="col-md-12">

        <div class="row">
          <div class="col-sm-8">
            <h4>Vehicles Information </h4>
          </div>
          <div class="col-sm-4">
            <div class="pull-right">
              <!-- possibility of adding an action.. -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Reference</th>
                  <th>Usage</th>
                  <th>Type</th>
                  <th>E.T.A</th>
                  <th>E.T.D</th>
                  <th width="10%">Actions</th>
                </tr>
              </thead>
              <tbody ng-repeat="record in vm.safari.safariVehicles">
                <tr>
                  <td>{{$index+1}}</td>
                  <td>{{record.name}} </td>
                  <td>{{record.ref}} </td>
                  <td>{{record.configs.category}} </td>
                  <td>{{vm.getVehicleTypeName(record.configs.generalVehicleType)}} </td>
                  <td>{{vm.toUTCDate(record.eta) }}</td>
                  <td>{{vm.toUTCDate(record.etd) }}</td>
                  <td>
                    <div class="row">
                      <div class="col-md-12">
                        <a ng-click="vm.selectVehicle(record)" data-toggle="modal" data-target="#editVehicle">
                          <span class="glyphicon glyphicon-edit"></span>
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- end of vehicles info -->

    <div class="row">
      <div class="col-md-6">
        <div class="">
          <button ng-show="!vm.showNext" class="btn btn-warning btn-md" ng-click="vm.confirmConfig()">
              Confirm

          </button>
          <button ng-show="vm.showNext" class="btn btn-success btn-md">
            <span class="glyphicon glyphicon-ok"></span>
              Confirmed
          </button>
        </div>

        <br>

        <div class="alert alert-warning text-center" ng-show="!vm.showNext">
          <strong>Warning ! </strong>You need to confirm service configs so as to proceed <br>
          Please confirm.
        </div>
      </div>

      <div class="col-md-6">

      </div>


    </div>

  </div>
  <div class="col-md-1">
  </div>
</div>


<!-- accommodation configs -->
<div class="modal fade" id="configureAccommodation" tabindex="-1" role="dialog" aria-labelledby="configureAccommodation">
  <div class="modal-dialog modal-lg" role="document">
    <form class="form-signin">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Configure Accommodation</h4>
        </div>
        <div class="modal-body">
          <div class="row">

            <div class="col-sm-8">
              <h4>Accommodation Configurations
                <small>you can organize the team of
                  <strong>{{vm.safari.travellerGroup.pax || 0}} PAX</strong> into groups </small>
              </h4>
            </div>

            <div class="col-sm-4">
              <div class="pull-right">
                <label class="control-label" for="field_startDate">Groups
                  <small style="color: #202124; font-weight: 400;">no of groups</small>
                </label>
                <input type="number" class="form-control" placeholder="e.g. 1" ng-change="vm.expandSafariServiceGroups(vm.safari.serviceConfigsMap['ACCOMMODATION'])" ng-model="vm.safari.serviceConfigsMap['ACCOMMODATION'].numOfGroups" />
              </div>
            </div>
          </div>

          <div class="alert alert-warning col-md-12" ng-hide="vm.validGroupObjectsTotal(vm.safari.serviceConfigsMap['ACCOMMODATION'])">
            <strong>Warning ! </strong> Total number of people in all groups NOT adding up to the expected
            {{vm.safari.serviceConfigsMap['ACCOMMODATION'].numOfObjects}}.
            Please check.
          </div>

          <!-- group loop -->
          <div ng-repeat="record in vm.safari.serviceConfigsMap['ACCOMMODATION'].safariServiceGroups">
            <h4>{{record.name}}</h4>

            <div class="alert alert-warning col-md-12" ng-hide="vm.validUnitObjectsTotal(record)">
              <strong>Warning ! </strong> Total number of people in all Rooms NOT adding up to the expected
              {{record.numOfObjects}}.
              Please check.
            </div>

            <!-- service info -->
            <div class="row">
              <div class="form-group col-md-2" id="inputfit">
                <label class="control-label" for="field_startDate">Name</label>
                <input type="text" class="form-control" placeholder="e.g. Group 1" ng-model="record.name" />
              </div>
              <!-- <div class="form-group col-md-2" id="inputfit">
                <label class="control-label" for="field_startDate">Service Category</label>
                <input type="text" class="form-control" placeholder="e.g. ACCOMMODATION"
                  ng-model="record.generalServiceId" />
              </div> -->
              <div class="form-group col-md-2" id="inputfit">
                <label class="control-label" for="field_startDate"># of People</label>
                <input type="number" class="form-control" placeholder="e.g. 2" ng-model="record.numOfObjects" />
              </div>
              <div class="form-group col-md-2" id="inputfit">
                <label class="control-label" for="field_startDate"># of {{record.unitsName}}</label>
                <input type="number" class="form-control" placeholder="e.g. 2" ng-model="record.numOfUnits" ng-change="vm.expandUnits(record, 'ROOM')" />
              </div>
              <div class="form-group col-md-4" id="inputfit">
                <label>Search Supplier</label>
                <input type="text" ng-model="record.supplierName" placeholder="Search Supplier by e.g. Sarova Panafric" uib-typeahead="loc.name for loc in vm.getOrgs($viewValue,1)" typeahead-loading="loadingStartLocations"
                  typeahead-no-results="noStartResults" typeahead-on-select="vm.onTargetSelected($item, $model,record)" class="form-control" required>
                <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noStartResults">
                  <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
              </div>
              <!-- <div class="form-group col-md-2" id="inputfit">
                <label class="control-label" for="field_startDate">Issuer (Contractor)</label>
                <input type="text" class="form-control" placeholder="e.g. Sarova Hotels" ng-model="record.issuerId" />
              </div> -->
            </div>
            <!-- end of service info -->

            <!-- repeat per row -->
            <div class="row" ng-repeat="unit in record.units">
              <div class="form-group col-md-2" id="inputfit">
                <label class="control-label" for="field_startDate">Room Configs</label>
                <p>{{unit.name}}</p>
              </div>
              <div class="form-group col-md-2" id="inputfit">
                <label class="control-label" for="field_startDate"># of People</label>
                <input type="number" class="form-control" placeholder="e.g. 2" ng-model="unit.numOfObjects" />
              </div>
              <div class="form-group col-md-2" id="inputfit">
                <label class="control-label" for="field_startDate"># of Beds</label>
                <input type="number" class="form-control" placeholder="e.g. 1" ng-model="unit.numOfSlots" />
              </div>



              <div class="form-group col-md-2" id="inputfit">
                <label for="field_year">Allocation</label>
                <select class="form-control" id="field_year" name="allocationMode" placeholder="e.g. AUTO" ng-model="unit.allocationMode">
                  <option value="AUTO">AUTO</option>
                  <!-- <option value="MANUAL">MANUAL</option> -->
                </select>
              </div>

            </div>

          </div>
          <!-- end group loop -->
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default" ng-click="vm.generateAccommodationConfiguration(vm.safari.serviceConfigsMap['ACCOMMODATION'])">
            <span class="glyphicon glyphicon-save"></span>&nbsp;
            <span data-translate="entity.action.save">Done</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- end of accommodation configs -->


<!-- transport configs -->
<div class="modal fade" id="configureTransport" tabindex="-1" role="dialog" aria-labelledby="configureTransport">
  <div class="modal-dialog modal-lg" role="document">
    <form class="form-signin">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Configure Transport</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-8">
              <h4>Transport Configurations
                <small>you can organize the team of
                  <strong>{{vm.safari.travellerGroup.pax || 0}} PAX</strong> into groups </small>
              </h4>
            </div>

            <div class="col-sm-4">
              <div class="pull-right">
                <label class="control-label" for="field_startDate">Groups
                  <small style="color: #202124; font-weight: 400;">no of groups</small>
                </label>
                <input type="number" class="form-control" placeholder="e.g. 1" ng-change="vm.expandSafariServiceGroups(vm.safari.serviceConfigsMap['TRANSPORT'])" ng-model="vm.safari.serviceConfigsMap['TRANSPORT'].numOfGroups" />
              </div>
            </div>
          </div>

          <div class="alert alert-warning col-md-12" ng-hide="vm.validGroupObjectsTotal(vm.safari.serviceConfigsMap['TRANSPORT'])">
            <strong>Warning!</strong> Total number of people in all groups NOT adding up to the expected
            {{vm.safari.serviceConfigsMap['TRANSPORT'].numOfObjects}}.
            Please check.
          </div>

          <!-- group loop -->
          <div ng-repeat="record in vm.safari.serviceConfigsMap['TRANSPORT'].safariServiceGroups">
            <h4>{{record.name}}</h4>

            <div class="alert alert-warning col-md-12" ng-hide="vm.validUnitObjectsTotal(record)">
              <strong>Warning!</strong> Total number of people in all vehicles NOT adding up to the expected
              {{record.numOfObjects}}.
              Please check.
            </div>

            <!-- service info -->
            <div class="row">
              <div class="form-group col-md-2" id="inputfit">
                <label class="control-label" for="field_startDate">Name</label>
                <input type="text" class="form-control" placeholder="e.g. Group 1" ng-model="record.name" />
              </div>
              <!-- <div class="form-group col-md-2" id="inputfit">
                <label class="control-label" for="field_startDate">Service Category</label>
                <input type="text" class="form-control" placeholder="e.g. ROAD" ng-model="record.generalServiceId" />
              </div> -->
              <div class="form-group col-md-2" id="inputfit">
                <label class="control-label" for="field_startDate"># of People</label>
                <input type="number" class="form-control" placeholder="e.g. 2" ng-model="record.numOfObjects" />
              </div>
              <div class="form-group col-md-2" id="inputfit">
                <label class="control-label" for="field_startDate"># of {{record.unitsName}}</label>
                <input type="number" class="form-control" placeholder="e.g. 2" ng-model="record.numOfUnits" ng-change="vm.expandUnits(record, 'VEHICLE')" />
              </div>
              <!-- <div class="form-group col-md-2" id="inputfit">
                <label class="control-label" for="field_startDate">Supplier</label>
                <input type="text" class="form-control" placeholder="e.g. Company X" ng-model="record.supplierId" />
              </div> -->
              <div class="form-group col-md-4" id="inputfit">
                <label>Search Supplier</label>
                <input type="text" ng-model="record.supplierName" placeholder="Search Supplier by e.g. Sarova Panafric" uib-typeahead="loc.name for loc in vm.getOrgs($viewValue,record.generalServiceId)" typeahead-loading="loadingStartLocations"
                  typeahead-no-results="noStartResults" typeahead-on-select="vm.onTargetSelected($item, $model,record)" class="form-control" required>
                <i ng-show="loadingStartLocations" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noStartResults">
                  <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
              </div>
              <!-- <div class="form-group col-md-2" id="inputfit">
                <label class="control-label" for="field_startDate">Issuer (contractor)</label>
                <input type="text" class="form-control" placeholder="e.g. Company X" ng-model="record.issuerId" />
              </div> -->
            </div>
            <!-- end of service info -->

            <!-- repeat per row -->
            <div class="row" ng-repeat="unit in record.units">

              <div class="form-group col-md-2" id="inputfit">
                <label class="control-label" for="field_startDate">Vehicle Configs</label>
                <p>{{unit.name}}</p>
              </div>

              <div class="form-group col-md-2" id="inputfit">
                <label class="control-label" for="field_startDate"># of People</label>
                <input type="number" class="form-control" placeholder="e.g. 2" ng-model="unit.numOfObjects" />
              </div>
              <div class="form-group col-md-2" id="inputfit">
                <label for="field_year">Vehicle Usage</label>
                <select class="form-control" id="field_year" name="category" placeholder="e.g. AUTO" ng-model="unit.configs.category">
                  <option value="SAFARI">SAFARI</option>
                  <option value="LUGGAGE">LUGGAGE</option>
                </select>
              </div>
              <div class="form-group col-md-4" id="inputfit">
                <label class="control-label" for="field_startDate">Vehicle Type</label>
                <select class="form-control" id="field_year" name="category" placeholder="e.g. AUTO" ng-model="unit.configs.generalVehicleType" ng-change="vm.setSlots(unit,generalVehicleType)"
                  ng-options="generalVehicleType.id as (generalVehicleType.name + ' (' +generalVehicleType.capacity + 'seats' +')') for generalVehicleType in vm.generalVehicleTypes">
                  <option value="{{generalVehicleType.id}}">{{generalVehicleType.capacity}}</option>
                </select>
                <!-- <input type="text" class="form-control" placeholder="e.g. 4x4"
                  ng-model="unit.configs.generalVehicleType" /> -->
              </div>

              <!-- <div class="form-group col-md-2" id="inputfit">
                <label class="control-label" for="field_startDate"># of Seats</label>
                <input type="number" class="form-control" placeholder="e.g. 2" ng-model="unit.numOfSlots" />
              </div> -->


              <div class="form-group col-md-2" id="inputfit">
                <label for="field_year">Allocation</label>
                <select class="form-control" id="field_year" name="allocationMode" placeholder="e.g. AUTO" ng-model="unit.allocationMode">
                  <option value="AUTO">AUTO</option>
                  <!-- <option value="MANUAL">MANUAL</option> -->
                </select>
              </div>

            </div>

          </div>
          <!-- end group loop -->
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default" ng-click="vm.generateTranportConfiguration(vm.safari.serviceConfigsMap['TRANSPORT'])">
            <span class="glyphicon glyphicon-save"></span>&nbsp;
            <span data-translate="entity.action.save">Done</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- end of transport configs -->


<!-- edit travel details modal -->
<div class="modal fade" id="editVehicle" tabindex="-1" role="dialog" aria-labelledby="editVehicle">
  <div class="modal-dialog modal-lg" role="document">
    <form class="form-signin">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Edit Travel Details</h4>
        </div>
        <div class="modal-body">
          <div class="form-group" id="inputfit">
            <label class="control-label" for="field_name">Name
              <small style="color: #202124; font-weight: 400;">name of the vehicle</small>
            </label>
            <input type="text" class="form-control" name="name" placeholder="e.g. Vehicle 1" id="field_name" ng-model="vm.selectedVehicle.name" />
          </div>
          <div class="form-group" id="inputfit">
            <label for="field_year">Vehicle Usage</label>
            <select class="form-control" id="field_year" name="category" placeholder="e.g. AUTO" ng-model="vm.selectedVehicle.configs.category">
              <option value="SAFARI">SAFARI</option>
              <option value="LUGGAGE">LUGGAGE</option>
            </select>
          </div>
          <div class="form-group" id="inputfit">
            <label for="field_year">Vehicle Usage</label>
            <select class="form-control" id="field_year" name="category" placeholder="e.g. AUTO" ng-model="vm.selectedVehicle.configs.generalVehicleType" ng-change="vm.setSlots(vm.selectedVehicle.configs,generalVehicleType)"
              ng-options="generalVehicleType.id as generalVehicleType.name for generalVehicleType in vm.generalVehicleTypes">
              <option value="{{generalVehicleType.id}}">{{generalVehicleType.name}}</option>
            </select>
          </div>
          <div class="form-group" id="inputfit">
            <label class="control-label" for="field_startDate">Join Date
              <small style="color: #202124; font-weight: 400;">date and time of vehicle joining the trip</small>
            </label>
            <input type="text" class="form-control" ng-click="vm.openFrom()" datetime-picker="yyyy-MM-dd HH:mm" ng-model="vm.selectedVehicle.eta" is-open="vm.openedFrom" />
          </div>
          <div class="form-group" id="inputfit">
            <label class="control-label" for="field_startDate">Exit Date
              <small style="color: #202124; font-weight: 400;">date and time of vehicle joining the trip</small>
            </label>
            <input type="text" class="form-control" ng-click="vm.openFrom()" datetime-picker="yyyy-MM-dd HH:mm" ng-model="vm.selectedVehicle.etd" is-open="vm.openedFrom" />

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- end of editr travel details modal -->
