
<form name="editForm" role="form" novalidate ng-submit="vm.save()">  
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRoomLabel">Edit a room</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
            <label class="control-label" for="field_identification">Room Identification</label>
            <input type="text" class="form-control" name="identification" id="field_identification"
                    ng-model="vm.room.identification"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_building">Building</label>
            <input type="text" class="form-control" name="building" id="field_building"
                    ng-model="vm.room.building"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_floor">Floor</label>
            <input type="text" class="form-control" name="floor" id="field_floor"
                    ng-model="vm.room.floor"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_floorPosition">Floor Position</label>
            <input type="text" class="form-control" name="floorPosition" id="field_floorPosition"
                    ng-model="vm.room.floorPosition"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_roomArea">Area of Room (Square Metres)</label>
            <input type="text" class="form-control" name="roomArea" id="field_roomArea"
                    ng-model="vm.room.roomArea"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_brief">Brief</label>
            <textarea class="form-control" name="brief" id="field_brief"
                    ng-model="vm.room.brief"></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <textarea class="form-control" name="description" id="field_description"
                    ng-model="vm.room.description"></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_notes">Special Notes about the room</label>
            <textarea class="form-control" name="notes" id="field_notes"
                    ng-model="vm.room.notes"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
        