
<div class="container">
    <div class="row">
        <div class="col-md-12">
        <ul class="breadcrumb">
            <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
            <li ui-sref-active="active"><a ui-sref="room-categories">Room Categories </a></li>
            <li ui-sref-active="active"><a ui-sref="room-category-detail({id:vm.room.roomCategoryId})"> {{vm.room.roomCategoryName}}</a></li>
            <li ui-sref-active="active" class="active">{{vm.room.identification}}</li>
        </ul>
        </div>
      </div>
        <div class="row">
        <div class="col-md-12">
          <button ng-hide="vm.room.contentStatus === 'DELETED'" class="btn btn-danger pull-right" ui-sref="room-detail.delete({id: vm.room.id})">
            <span class="glyphicon glyphicon-ban-circle"></span>
            <span class="">
              Delete
            </span>
          </button>
        </div>
    </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
          <div class="image-container">
              <!-- <img class="img-responsive" ng-hide="" ng-src="images/image-placeholder.svg" alt="{{ vm.account.name }}"> -->
              <img class="img-responsive" ng-src="{{vm.profile_image_url}}" alt="{{ vm.room.name }}">
              <a ui-sref="room-detail.image" class="icon-choose-image">
                <img src="images/camera.png">
              </a>
            </div>
        <div class="panel-body">
          <h4>{{vm.room.name}}</h4>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li ui-sref-active="active" role="presentation"><a ui-sref="room-detail({id: vm.room.id})">Overview</a></li>
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="room-galleries({id: vm.room.id})">Gallery</a>
        </li>
        </ul>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="pull-right">
                <a  ui-sref="rooms.edit({id:vm.room.id})">
                  <h3><span class="glyphicon glyphicon-pencil"></span></h3>
                </a>
              </div>
              <h2>{{vm.room.identification}}</h2>
              {{vm.room.description}}
                <div class="row">
                  <p class="p-padding pull-right">
                    <span ng-repeat="objectLabel in vm.objectLabels">
                      <span class="label label-default" style="margin-left: 4px">
                        {{objectLabel.labelName}}
                        <a ui-sref="room-detail.deleteLabel({ itemToDelete: objectLabel.id})">
                          <strong class="label label-danger">X</strong>
                        </a>
                      </span>
                    </span>
                    <a ui-sref="room-detail.addLabels({uuid: vm.room.uuid, objectType : 'ROOM'})">
                      <span class="label label-primary">
                        <span class="glyphicon glyphicon-plus-sign"></span>Add more labels</span>
                    </a>
                  </p>
                </div>
                <div class="row">
                  <p class="p-padding pull-right">
                    <span ng-repeat="objectFeature in vm.objectFeatures">
                      <span class="label label-default" style="margin-left: 4px">
                        {{objectFeature.name}}
                        <a ui-sref="room-detail.deleteFeature({ itemToDelete: objectFeature.id})">
                          <strong class="label label-danger">X</strong>
                        </a>
                      </span>
                    </span>
                    <a ui-sref="room-detail.addFeature({uuid: vm.room.uuid, objectType : 'ROOM'})">
                      <span class="label label-primary">
                        <span class="glyphicon glyphicon-plus-sign"></span>Add more Features</span>
                    </a>
                  </p>
                </div>
            </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-body">
                <h3>More info for {{vm.room.name}}</h3>
                <!-- <div ng-repeat="coordinate in vm.coordinates track by coordinate.id"> -->
                <div>
                    Special Notes
                     {{vm.room.notes}}<br>

                </div>
                {{}}
              </div>
            </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <table class="table">
              <tr>
                <td>
                  <strong>Building</strong>
                </td>
                <td>
                  {{vm.room.building}}
                </td>
              </tr>
              <tr>
                  <td>
                    <strong>floor</strong>
                  </td>
                  <td>
                    {{vm.room.floor}}
                  </td>
                </tr>
                <tr>
                    <td>
                      <strong>Position</strong>
                    </td>
                    <td>
                      {{vm.room.floorPosition}}
                    </td>
                  </tr>
                  <tr>
                      <td>
                        <strong>Room Area</strong>
                      </td>
                      <td>
                        {{vm.room.roomArea}}
                      </td>
                    </tr>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Status</strong>
                </td>
                <td>
                  {{vm.room.contentStatus}}
                </td>
              </tr>



            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

