<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <ul class="breadcrumb">
          <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
          <li ui-sref-active="active"><a ui-sref="room-categories">Room Categories </a></li>
          <li ui-sref-active="active"><a ui-sref="room-category-detail({id:vm.entity.roomCategoryId})"> {{vm.entity.roomCategoryName}}</a></li>
          <li ui-sref-active="active"><a ui-sref="room-detail({id: vm.entity.id})">{{vm.entity.identification}}</a></li>
          <li ui-sref-active="active" class="active">Gallery</li>
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div class="pull-right">
        <button class="btn btn-primary" ui-sref="room-galleries.new({id: vm.entity.id})">
          <span class="glyphicon glyphicon-plus"></span>
          <span class="hidden-xs-d">
            Album
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="image-container">
          <img class="img-responsive" ng-src="{{URLS.PROFILE_IMAGE_URL}}{{vm.entity.uuid}}" alt="{{ vm.entity.name }}">
        </div>
        <div class="panel-body">
          <h4>{{vm.entity.name}}</h4>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="room-detail({id: vm.entity.id})">Overview</a>
          </li>
          <li ui-sref-active="active" role="presentation">
            <a ui-sref="room-galleries({id: vm.entity.id})">Gallery</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-9">
        <div class="row" ng-show="!vm.albums">
            <div class="panel panel-default">
                <div class="panel-body">
                    No albums found.
                </div>
            </div>
        </div>
      <div class="row">
        <div class="col-md-12">
            <div class="row" ng-show="vm.albums">
                <div class="col-sm-6 col-md-4"  ng-repeat="album in vm.albums | filter:query" ng-hide="album.albumType == 'ICON'">
                    <div class="thumbnail">
                        <img ng-src="{{URLS.FILE_URL}}{{album.coverUuid}}" alt="{{album.name}}">
                        <div class="caption">
                          <p>{{album.name}}</p>
                        <p>
                          <a class="btn btn-primary" role="button" ui-sref="room-album-detail({id: vm.entity.id, albumId: album.id})">View</a>
                          <a class="btn btn-danger pull-right" role="button" ui-sref="room-galleries.delete({albumId: album.id})" ng-hide="album.albumType == 'PROFILE'">Delete</a>
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
